<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>地名地址公共服务</title>
	<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../angular-1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="../js/util.js"></script>
	<script type="text/javascript" src="../js/config.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	<link rel="stylesheet" href="css/webrep.css" />
	<link rel="shortcut icon" href="images/addressservice.png" type="image/x-icon"/>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=PL4wfqVofjrMVz7FMaPs8Dts"></script>
	<script src="js/webrep.js" type="text/javascript"></script>
	
	<script type="text/javascript" src="../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
	<link rel="stylesheet" type="text/css" href="../js/DropDownList-1.2/DropDownList.css" />

</head>
<body ng-app="moduleName" ng-controller="controllerName">
		<div class="pubs_warp">
			<div class="header jl_ov pub_sear" style="height:80px;">
				<div class="jl_ov logo jl_fl" style="margin-top:10px;">
					<img src="images/mz.png" class="jl_fl"/>
					<div class="jl_fl">
						<p class="dept_name">镇江民政</p>
					</div>
					<div class="sys_name jl_fl">
						<p>地名地址公共服务</p>
						<span>Public Address Service System</span>
					</div>
				</div>
				<div class="jl_fr right_filter">
					<ul class="jl_ov">
						<li>
							<label>
							<input type="checkbox" name="showPlateSw" ng-click="showPlateSw()"/>
							显示门牌
							</label>
							&nbsp;&nbsp;
						</li>
						<li>
							<input type="text" name="choosePlateTypes" readonly="readonly" class="list" value="选择门牌类型"/>
							<ul class="plateTypesLayer">
								<li><label><input type="checkbox" name="plateType" value="1" ng-click="selectedPlateType()"/>街路巷门牌</label></li>
								<li><label><input type="checkbox" name="plateType" value="2" ng-click="selectedPlateType()"/>广场门牌</label></li>
								<li><label><input type="checkbox" name="plateType" value="3" ng-click="selectedPlateType()"/>楼栋牌</label></li>
								<li><label><input type="checkbox" name="plateType" value="4" ng-click="selectedPlateType()"/>单元牌</label></li>
								<a href="javascript:" class="btn-close">×</a>
							</ul>
						</li>
					</ul>
<!-- 					<input type="text" viewstate="qx" class="list" value="选择区县"/> -->
<!-- 					<input type="text" viewstate="jd" class="list" value="选择街道乡镇"/> -->
<!-- 					<ul class="jl_ov"> -->
<!-- 						<li><a href="#">民政专题</a></li> -->
<!-- 						<li><a href="#">地名专题</a></li> -->
<!-- 						<li><a href="#">公安专题</a></li> -->
<!-- 						<li><a href="#">电力专题</a></li> -->
<!-- 					</ul> -->
				</div>
			</div>
		</div>
		<!--header结束-->
		
			<div class="pubsea jl_ov">
				<input type="text" name="searchName" placeholder="搜索地址"/>
				<div class="jl_fl ser_btn">
					<div class="ser_btn_data" ng-click="doSearch(true)">
						<img src="images/pubsearbtn.png"/>
						搜索
					</div>
				</div>
			</div>
			<div class="sear_con search_result" id="search_result" style="display:none;">
				<p class="searplane_title"><img class="title_logo" src="images/11.png"/>搜索结果<img src="images/close.png" class="close"/><img src="images/shouq.png" class="shouq"/></p>
				<div class="icon_gounpwarp">
					<ul class="sear_conul">
						<li class="eachli" ng-repeat="item in searchResult track by $index">
							<ul class="sear_deile">
								<li class="sear_deileno1" style="color:#2AA5DF;height:30px;width:100%;overflow:hidden;">
									<img src="images/dib.png" ng-click="showInMap(item)"/><a href="javascript:" ng-click="showInMap(item)">{{item.ADDR_NAME}}</a> </li>
<!-- 								<li>地址路径：{{item.PROVINCE}}/{{item.CITY}}/{{item.REGION}}{{item.TOWN_SHIP?"/"+item.TOWN_SHIP:''}}</li> -->
<!-- 								<li>{{item.ADDR_CONTENT}}</li> -->
<!-- 								<li class="caozuo"> -->
<!-- 									<a href="javascript:" class="show_map" ng-click="showInMap(item)">查看地图</a> -->
<!-- 									<a href="javascript:" class="give">分享到</a> -->
<!-- 								</li> -->
							</ul>
						</li>
					</ul>
					<div class="pageBar">
						<a href="javascript:" ng-click="prevPage()">上一页</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<label>{{currentPage}} / {{totalPage}} </label>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="javascript:" ng-click="nextPage()">下一页</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<label style="color:#888;">共{{totalRecord}}条</label>
					</div>
				</div>
			</div>
			
			<div class="sear_con filter_con" style="display: none;">
				<p class="searplane_title"><img class="title_logo" src="images/11.png"/>民政专题展示<img src="images/close.png" class="close"/><img src="images/shouq.png" class="shouq"/></p>
				<div class="icon_gounpwarp">
					<ul class="icon_gounp">
					<li>
						<img src="images/pic1.png"/>
						<label>社区服务</label>
					</li>
					<li>
						<img src="images/pic1.png"/>
						<label>居家养老</label>
					</li>
					<li>
						<img src="images/pic1.png"/>
						<label>慈善机构</label>
					</li>
					<li>
						<img src="images/pic1.png"/>
						<label>福利企业</label>
					</li>
					</ul>
					<ul class="icon_gounp">
						<li>
							<img src="images/pic1.png"/>
							<label>婚姻登记</label>
						</li>
						<li>
							<img src="images/pic1.png"/>
							<label>福利彩票</label>
						</li>
						<li>
							<img src="images/pic1.png"/>
							<label>避灾场所</label>
						</li>
						<li>
							<img src="images/pic1.png"/>
							<label>殡葬网点</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="sear_con filter_con" style="display: none;">
				<p class="searplane_title"><img class="title_logo" src="images/11.png"/>地名专题展示<img src="images/close.png" class="close"/><img src="images/shouq.png" class="shouq"/></p>
				<div class="icon_gounpwarp">
					<ul class="icon_gounp">
					<li>
						<img src="images/pic1.png"/>
						<label>街巷</label>
					</li>
					<li>
						<img src="images/pic1.png"/>
						<label>河流</label>
					</li>
					<li>
						<img src="images/pic1.png"/>
						<label>山峰</label>
					</li>
					<li>
						<img src="images/pic1.png"/>
						<label>桥梁</label>
					</li>
					</ul>
					<ul class="icon_gounp">
						<li>
							<img src="images/pic1.png"/>
							<label>社区</label>
						</li>
						<li>
							<img src="images/pic1.png"/>
							<label>建筑物</label>
						</li>
						<li>
							<img src="images/pic1.png"/>
							<label>居民点</label>
						</li>
						<li>
							<img src="images/pic1.png"/>
							<label>公园</label>
						</li>
					</ul>
				</div>
			</div>
	<div id="allmap" style="position:absolute;top:0;right:0;bottom:0;left:0;">
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		var h = $(document).height();
		$(".sear_conul").css("max-height", h-320);
		$(window).resize(function(){
			var h = $(document).height();
			$(".sear_conul").css("max-height", h-320);
		});
	});
	
	
	$(".close").each(function(){
		$(this).click(function(){
			$(this).parents(".sear_con").hide();
		})
	})
	$(".shouq").each(function(){
		$(this).click(function(){
			$(this).parents(".sear_con").find(".icon_gounpwarp").toggle(200);
		})
	});
	var getAbsPoint = function (e){
		var x = e.offsetLeft;
		var y = e.offsetTop;
		while(e = e.offsetParent){
			if($(e).css("position") == "absolute" || $(e).css("position") == "relative"){
				return {"x": x, "y": y};
			}else{
				x += e.offsetLeft;
				y += e.offsetTop;
			}
		}
		return {"x": x, "y": y};
	};
	var $choosePlateTypes = $("input[name=choosePlateTypes]");
	var w = $choosePlateTypes.outerWidth()-2;
	var h = $choosePlateTypes.outerHeight();
	var offset = getAbsPoint($choosePlateTypes[0]);
	$(".plateTypesLayer").css({left:offset.x, top:offset.y+h, width:w});
	$choosePlateTypes.click(function(){
		var isopen = $(this).attr("isopen");
		if(isopen=="1"){
			$(".plateTypesLayer").hide();
			$(this).attr("isopen", "0");
		}else{
			$(".plateTypesLayer").show();
			$(this).attr("isopen", "1");
		}
	});
	$(".btn-close").click(function(){
		$(".plateTypesLayer").hide();
		$(this).attr("isopen", "0");
	});
	// 百度地图API功能
	var map = new BMap.Map("allmap",{enableMapClick:false});    // 创建Map实例
	var mapTypeCtrl=new BMap.MapTypeControl();
	map.addControl(mapTypeCtrl);   //添加地图类型控件
	mapTypeCtrl.setAnchor(BMAP_ANCHOR_BOTTOM_RIGHT);
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
	var markergg = null;
    
	
// 	$(".right_filter ul li").each(function(index){
// 		$(this).click(function(){
// 			$(".filter_con").eq(index).show().siblings(".filter_con").hide();
// 		})
// 	})
	
	function setViewPort(points){
		var minLng=999,minLat=999,maxLng=0,maxLat=0;
		for (var i = 0; i < points.length; i++) {
			var p = points[i];
			var lng = p.lng;
			var lat = p.lat;
			if(lng<minLng){
				minLng=lng;
			}
			if(lat<minLat){
				minLat=lat;
			}
			if(lng>maxLng){
				maxLng=lng;
			}
			if(lat>maxLat){
				maxLat=lat;
			}
		}
		var pts = [new BMap.Point(minLng,minLat),new BMap.Point(maxLng,minLat),new BMap.Point(maxLng,maxLat),new BMap.Point(minLng,maxLat)];
		map.setViewport(pts);
	}
	
// 	var paramsData={"companyCode":$scope.userData.companyCode, 
// 					"addrClass":addrClass,
// 					"jsonStr":jsonStr, "searchName":searchName, 
// 					"qualityAudit":qualityAudit, "addrStatus":addrStatus};
// 			$scope.httpExecute({
// 				method:"get",
// 				url:"eap/pmsServices/addrLib/addrBase/queryByPage",
	
	
	var app = angular.module("moduleName", []);
	app.controller("controllerName", function($scope, $http){
		$scope.qxList=[];
		$scope.jdList=[];
		$scope.searchResult=[];
		$scope.currentPage=1;
		$scope.totalPage=1;
		$scope.totalRecord=0;
		$scope.plateData=[];
		$scope.plateTypes="";
		
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			
			noLogin(location.href);
			return;
		}
		userData = jQuery.parseJSON(userDataStr);
		ticket = $.cookie("pmsWeb_ticket");
		
		map.centerAndZoom(new BMap.Point(userData.x, userData.y),12); // 初始化地图,设置中心点坐标和地图级别
		
		// 初始区县
		$http.get(serviceBasePath+"eap/pmsServices/addrLib/addrBase/queryByPage?currentPage=1&perpage=1000&searchName=&addrClass=C100004").success(function(response){
			if(response.statusCode==200){
				$scope.qxList = response.list;
				new DropDownList().init({
					renderTo:"input[viewstate=qx]",
					data:$scope.qxList,
					textField:"ADDR_NAME",
					onSelected:function(item){
						$("input[viewstate=qx]").val(item.ADDR_NAME);
						$("input[viewstate=qxCode]").val(item.ADDR_CODE);
					}
				});
			}
		});
		// 联动街道乡镇
		
		// 搜索
		$scope.doSearch=function(newPage){
			if(newPage){
				$scope.currentPage=1;
			}
			var searchName = $("input[name=searchName]").val();
			$http.get(serviceBasePath+"eap/pmsServices/addrLib/addrBase/queryByPage?currentPage="+$scope.currentPage+"&perpage=10&searchName=;"+searchName).success(function(response){
				if(response.statusCode==200){
					$scope.searchResult = response.list;
					// 定位
					if($scope.searchResult && $scope.searchResult.length>0){
						if($scope.searchResult[0].IS_REGION==1){
							$scope.showInMap($scope.searchResult[0]);
						}else{
							$scope.drawPointsWithItems($scope.searchResult);
						}
					}
					$scope.currentPage=response.currentPage;
					$scope.totalPage=response.totalPage;
					$scope.totalRecord=response.totalRecord;
					$("#search_result").show();
				}
			});
		};
		
		$scope.showInMap = function(item){
			if(item.IS_REGION==1){
				// 画区域
				if(item.SHOW_XS && item.SHOW_XS.length>0 && item.SHOW_YS && item.SHOW_YS.length>0){
					var points = $scope.getBMapPoints(item.SHOW_XS, item.SHOW_YS);
					$scope.drawPolygon(points);
				}
			}else{
				// 画点
				if(item.SHOW_X && item.SHOW_X>0 && item.SHOW_Y && item.SHOW_Y>0){
					$scope.drawPoint(item);
				}
			}
		};
		$scope.getBMapPoints=function(xs, ys){
			var points=[];
			var xsArr = xs.split(",");
			var ysArr = ys.split(",");
			for(var i=0; i<xsArr.length; i++){
				var p = new BMap.Point(xsArr[i], ysArr[i]);
				points.push(p);
			}
			return points;
		};
		$scope.drawPoint=function(item){
			var point = new BMap.Point(item.SHOW_X, item.SHOW_Y);
			map.clearOverlays();
			var marker = new BMap.Marker(point);
			var html="<div class='info-window'>"+
					"	<div class='info'>"+
					"		<div class='l-part'>"+
					"			<h4>"+item.ADDR_NAME+"</h4>"+
					"			<p>"+item.PROVINCE+"/"+item.CITY+"/"+item.REGION+(item.TOWN_SHIP?"/"+item.TOWN_SHIP:'')+"</p>"+
					"			<p></p>"+
					"		</div>"+
					"		<div class='r-part'>"+
					"			<img src=\"images/er.png\" width=\"100\"/>"+
					"		</div>"+
					"	</div>"+
					"	<div class='links'>"+
					"		<a href=\"javascript:\">信息</a>"+
					"		<a href=\"javascript:\">分享</a>"+
					"	</div>"+
					"</div>"
			var infoWindow = new BMap.InfoWindow(html, {offset:new BMap.Size(0, -20)});
			map.openInfoWindow(infoWindow, point);
			map.addOverlay(marker);
			$(marker).click();
			setViewPort([point]);
		};
		$scope.drawPointsWithItems=function(items){
			map.clearOverlays();
			var points=[];
			for(var i=0; i<items.length; i++){
				var item = items[i];
				var p=new BMap.Point(item.SHOW_X, item.SHOW_Y);
				points.push(p);
				var marker = new BMap.Marker(p);
				(function(item, p){
					marker.addEventListener("click", function(){
						var html="<div class='info-window'>"+
								"	<div class='info'>"+
								"		<div class='l-part'>"+
								"			<h4>"+item.ADDR_NAME+"</h4>"+
								"			<p>"+item.PROVINCE+"/"+item.CITY+"/"+item.REGION+(item.TOWN_SHIP?"/"+item.TOWN_SHIP:'')+"</p>"+
								"			<p></p>"+
								"		</div>"+
								"		<div class='r-part'>"+
								"			<img src=\"images/er.png\" width=\"100\"/>"+
								"		</div>"+
								"	</div>"+
								"	<div class='links'>"+
								"		<a href=\"javascript:\">信息</a>"+
								"		<a href=\"javascript:\">分享</a>"+
								"	</div>"+
								"</div>"
						var infoWindow = new BMap.InfoWindow(html, {offset:new BMap.Size(0, -20)});
						map.openInfoWindow(infoWindow, p);
					});
				})(item, p);
				map.addOverlay(marker);
				
			}
			setViewPort(points);
		};
		$scope.drawPolygon=function(points){
			map.clearOverlays();
			var polygon = new BMap.Polygon(points, {strokeColor:"red", strokeWeight:2, strokeOpacity:0.5});
            map.addOverlay(polygon);
            setViewPort(points);
		};
		
		window.onkeyup=function(e){
			if(e.keyCode==13){
				$scope.doSearch(true);
			}
		};
		$("input[name=searchName]").keyup(function(){
// 			var str = $("input[name=searchName]").val();
// 			$("input[name=searchName]").val(str.toUpperCase());
		});
		$scope.prevPage=function(){
			$scope.currentPage--;
			if($scope.currentPage<1){
				$scope.currentPage=1;
			}
			$scope.doSearch();
		};
		
		$scope.nextPage=function(){
			$scope.currentPage++;
			if($scope.currentPage>$scope.totalPage){
				$scope.currentPage=$scope.totalPage;
			}
			$scope.doSearch();
		};
		
		/* 门牌显示 */
		$scope.showPlateSw=function(){
			if($("input[name=showPlateSw]")[0].checked){
				$scope.showPlate();
			}else{
				$scope.removePlate();
			}
		};
		$scope.selectedPlateType=function(){
			var plateTypes=[];
			$("input[name=plateType]").each(function(){
				if($(this)[0].checked){
					plateTypes.push($(this).val());
				}
			});
			$scope.plateTypes = arrToStr(plateTypes);
			if($("input[name=showPlateSw]")[0].checked){// 如果开启显示门牌，则刷新
				$scope.showPlate();
			}
		};
		$scope.showPlate=function(){
			$http.get(serviceBasePath+"eap/pmsServices/addrLib/addrBase/plateAddrList?plateTypes="+$scope.plateTypes).success(function(response){
				if(response.statusCode==200){
					$scope.plateData = response.list;
					$scope.drawOverlay();
				}
			});
		};
		$scope.removePlate=function(){
			
		};
		$scope.drawOverlay=function(){
			map.clearOverlays();
			// 组织数据
			var pts = [];
			for(var i=0; i<$scope.plateData.length; i++){
				var data = $scope.plateData[i];
				var pt = new BMap.Point(data.SHOW_X, data.SHOW_Y);
				pt.data = data;
				pts.push(pt);
				//
				var myIcon = new BMap.Icon("images/plate.png", new BMap.Size(20,25));
				var marker = new BMap.Marker(pt, {icon:myIcon});
				(function(addrData, p){
					marker.addEventListener("click", function(e){
			            var html="<div class='info-window' style='width:470px;'>"+
						"	<div class='info'>"+
						"		<div class='l-part'>"+
						"			<h4>"+addrData.ADDR_NAME+"</h4>"+
						"			<p>"+addrData.PROVINCE+"/"+addrData.CITY+"/"+addrData.REGION+(addrData.TOWN_SHIP?"/"+addrData.TOWN_SHIP:'')+"</p>"+
						"			<p></p>"+
						"		</div>"+
						"		<div class='r-part' style='width:150px;padding-right:10px;'>"+
						"			<div class=\"plate_info_"+addrData.PLATE.PLATE_TYPE+"\">"+
				    	"				<div class='plate_addr'><label>"+addrData.PLATE.PLATE_ADDR+"</label></div>"+
				    	"				<div class='plate_no'><label>"+addrData.PLATE.PLATE_NO+"</label></div>"+
				    	"				<div class='plate_code'><label>"+addrData.PLATE.POST_CODE+"</label></div>"+
						"			</div>"+
						"		</div>"+
						"	</div>"+
						"	<div class='links'>"+
						"		<a href=\"javascript:\">信息</a>"+
						"		<a href=\"javascript:\">分享</a>"+
						"	</div>"+
						"</div>";
						var infoWindow = new BMap.InfoWindow(html);
						map.openInfoWindow(infoWindow, e.point);
					});
				})(data, pt);
				map.addOverlay(marker);
			}
			$scope.setViewPort(pts);
		}
		
		$scope.setViewPort=function(points){
			var minLng=999,minLat=999,maxLng=0,maxLat=0;
			for (var i = 0; i < points.length; i++) {
				var p = points[i];
				var lng = p.lng;
				var lat = p.lat;
				if(lng<minLng){
					minLng=lng;
				}
				if(lat<minLat){
					minLat=lat;
				}
				if(lng>maxLng){
					maxLng=lng;
				}
				if(lat>maxLat){
					maxLat=lat;
				}
			}
			var pts = [new BMap.Point(minLng,minLat),new BMap.Point(maxLng,minLat),new BMap.Point(maxLng,maxLat),new BMap.Point(minLng,maxLat)];
			map.setViewport(pts);
		}
		
	});
</script>
</html>