<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title> 设备管理 </title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<script src="../../../js/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../css/bxyw2.css"/>
	<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../js/angular.min.js"></script>
	<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css"/>
	<script type="text/javascript" src="../../../js/config.js"></script>
	<script type="text/javascript" src="../../../js/util.js"></script>
	<script type="text/javascript" src="../../../js/ng-base.js"></script>
	<script type="text/javascript" src="../../../js/ViewState.js"></script>
	<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
	<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
	<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
	<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>
	
	<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
	<style>
		.floor{width:84px;height:84px;display:inline-block;padding-left:10px}
	</style>
</head>
<body id="deviceadd" ng-app="userMgr" ng-controller="userMgrCtrl">
	<header ng-if="checkType==1">
		<div class="return" onclick="returnPage()"><img src="../../../img/return.png"/></div>
		项目自检新增
	</header>
	<header ng-if="checkType==2">
		<div class="return" onclick="returnPage()"><img src="../../../img/return.png"/></div>
		质量专检新增
	</header>
	<section>
		<form id="saveForm">
			<ul class="checkList">
				<li class="sel_li">
					<label>检查结果</label>
					<input type="text" name="checkName" id="checkName" placeholder="请选择结果" class="required dropDownList"/>		
					<input type="hidden" name="checkResult" id="checkResult" class="required"/>				
				</li>
				
				<li ng-show="checkResultIsFail" class="sel_li">
					<label>问题分类</label>
					<input type="text" name="faultName" id="faultName" placeholder="请选择分类" class="dropDownList {{checkResultIsFail?'required':''}}"/>		
					<input type="hidden" name="faultType" id="faultType" class="{{checkResultIsFail?'required':''}}"/>				
				</li>
				<li ng-show="checkResultIsFail">
					<p>具体问题描述</p>
					<textarea placeholder="请输入项目描述" name="faultDescr" id="faultDescr" class="{{checkResultIsFail?'required':''}}"></textarea>
				</li>
				<li ng-show="checkResultIsFail" class="sel_li">
					<label>是否已整改</label>
					<input type="text" name="isRectifyName" id="isRectifyName" placeholder="请选择结果" class="{{checkResultIsFail?'required':''}} dropDownList"/>		
					<input type="hidden" name="isRectify" id="isRectify" class="{{checkResultIsFail?'required':''}}"/>				
				</li>
				<li style="overflow:hidden">
					<p>添加图片</p>
					<div style="float:left" id="apendImg">
						
					</div>
					<img src="../../../img/add_pic_icon.png" width="84px" height="84px" style="float:left;padding-left:10px" onclick="getPicture()"/>
				</li>
			</ul>
			
			
			<div class="upload" ng-click="upload()">提交</div>
		</form>
		
	</section>
	<script type="text/javascript">
	var dataStr="";
	function getPicture(){
		var img = document.createElement("img");
		var apendImg=document.getElementById("apendImg");
		img.className="floor";
		top.nativeLib.getPicture({
			action:"takePicture",
			callback:function(data){
				img.src="data:image/jpeg;base64,"+data.base64Img;
				if(dataStr==""){
					dataStr=data.base64Img;
				}else{
					dataStr=dataStr+"@"+data.base64Img;
				}
				apendImg.appendChild(img);
			}
		});
	}
	
	
simpleController({
	moduleName:"userMgr",
	controllerName:"userMgrCtrl",
	init:function($scope, $http){
		/* init */
		ngScope = $scope;
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			location.href="../../../pages/login.html";
			return;
		}
		var userData = jQuery.parseJSON(userDataStr);
		var companyCode =userData.companyCode;
		var params = getUrlParams();
		var deviceObjCode=params.deviceObjCode;
		var deviceTypeCode=params.deviceTypeCode;
		var checkType=params.checkType;
		var checkUser=userData.employeeCode;
		$scope.checkType=checkType;
		$http.get(serviceBasePath+"eap/pmsServices/pm/taskMgr/qualityProblem/listAll?deviceTypeCode="+deviceTypeCode).success(function(res){
			if(res.statusCode==200){
				new DropDownList().init({
					renderTo:"#faultName",
					mode:"list",
					data:res.list,
					textField:"problemName",
					onSelected:function(item){
						$("#faultName").val(item.problemName);
						$("#faultType").val(item.rowid);
					}
				});
			}			
		});
		$scope.checkResultIsFail=false;
		new DropDownList().init({
			renderTo:"#checkName",
			mode:"list",
			data:[{id:1, name:"合格"},{id:2, name:"不合格"}],
			textField:"name",
			onSelected:function(item){
				$("#checkName").val(item.name);
				$("#checkResult").val(item.id);
				$("#checkName").focus();
				callNgFn({
					ctrlEl:$("body")[0],
					ngFn:function(scope){
						if(item.id==1){
							scope.checkResultIsFail=false;
						}else if(item.id==2){
							scope.checkResultIsFail=true;
						}
					}
				});
			}
		});
		
		new DropDownList().init({
			renderTo:"#isRectifyName",
			data:[{id:1, name:"未整改"},{id:2, name:"已整改"}],
			textField:"name",
			onSelected:function(item){
				$("#isRectifyName").val(item.name);
				$("#isRectify").val(item.id);
			}
		});
		/* 表单验证 */
		validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					
				} 
			}
		});
		$scope.upload=function(){
			if(!$("#saveForm").valid())
				{return;}
			var faultType=$("#faultType").val();
			var checkResult=$("#checkResult").val();
			var faultDescr=$("#faultDescr").val();
			var pics=dataStr;
			var isRectify=$("#isRectify").val();
			var data = {"companyCode":companyCode,"checkUser":checkUser,
					"checkType":checkType,
					"deviceObjCode":deviceObjCode,
					"faultType":faultType,"checkResult":checkResult,
					"faultDescr":faultDescr,
					"imgs":pics,
					"isRectify":isRectify
			}
			var waittingDlog = new ShowDlog();
			waittingDlog.prompt({
				icon:"waitting",
				msg:"正在提交请稍等",
				done:function(){
					
				},
				t:360000
			});
			$http.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';

			  /**
			   * The workhorse; converts an object to x-www-form-urlencoded serialization.
			   * @param {Object} obj
			   * @return {String}
			   */ 
			  var param = function(obj) {
			    var query = '', name, value, fullSubName, subName, subValue, innerObj, i;
			      
			    for(name in obj) {
			      value = obj[name];
			        
			      if(value instanceof Array) {
			        for(i=0; i<value.length; ++i) {
			          subValue = value[i];
			          fullSubName = name + '[' + i + ']';
			          innerObj = {};
			          innerObj[fullSubName] = subValue;
			          query += param(innerObj) + '&';
			        }
			      }
			      else if(value instanceof Object) {
			        for(subName in value) {
			          subValue = value[subName];
			          fullSubName = name + '[' + subName + ']';
			          innerObj = {};
			          innerObj[fullSubName] = subValue;
			          query += param(innerObj) + '&';
			        }
			      }
			      else if(value !== undefined && value !== null)
			        query += encodeURIComponent(name) + '=' + encodeURIComponent(value) + '&';
			    }
			      
			    return query.length ? query.substr(0, query.length - 1) : query;
			  };

			  // Override $http service's default transformRequest
			  $http.defaults.transformRequest = [function(data) {
			    return angular.isObject(data) && String(data) !== '[object File]' ? param(data) : data;
			  }];
			 $http.post(serviceBasePath+"eap/pmsServices/om/deviceMgr/qualityCheck/saveQualityCheck", data).success(function(response){
					if(response.statusCode==200){
						waittingDlog.close();
						new ShowDlog().prompt({
							icon:"success",
							msg:"提交成功！",
							done:function(){
								//window.location.href="proCheck.html?deviceObjCode="+deviceObjCode+"&checkType="+checkType;
								top.viewBack();
							},
							t:1500
						});
					}
				})
		}
	}
});
		function returnPage(){
			top.viewBack();
		}
	
	</script>
</body>
</html>