<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title> 设备管理 </title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<script src="../../../js/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../css/bxyw2.css"/>
	<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../js/angular.min.js"></script>
	<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css"/>
	<script type="text/javascript" src="../../../js/config.js"></script>
	<script type="text/javascript" src="../../../js/util.js"></script>
	<script type="text/javascript" src="../../../js/ng-base.js"></script>
	<script type="text/javascript" src="../../../js/ViewState.js"></script>
	<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
	<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
	<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
	<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>
	
	<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
<style>
	header .menu{top: 8px;}
	header .menu img{width:20px}
</style>
</head>
<body id="prucheck" ng-app="userMgr" ng-controller="userMgrCtrl">
	<header ng-if="checkType==1">
		<div class="return" onclick="returnPage()"><img src="../../../img/return.png"/></div>
		项目自检
		<div class="menu" ng-if="datalist1!=''"><a href="#" ng-click="addBox()"><img src="../../../img/add_box_icon.png"/></a></div>
	</header>
	<header ng-if="checkType==2">
		<div class="return" onclick="returnPage()"><img src="../../../img/return.png"/></div>
		质量专检
		<div class="menu" ng-if="datalist1!=''"><a href="#" ng-click="addBox()"><img src="../../../img/add_box_icon.png"/></a></div>
	</header>
	<section>
		<ul class="checkList" ng-if="datalist1!=''">
			<li ng-repeat="item in datalist1">
				<a href="javascript:" ng-click="showDetail(item)">
					<span></span>
					{{item.checkTime}}
					<label ng-if="item.checkResult==1">合格</label>
					<label class="ungood" ng-if="item.checkResult==2">不合格</label>
				</a>
			</li>
		</ul>
		<div ng-if="datalist1==''" style="text-align:center;margin-top:100px">
			<img src="../../../img/checkMiss.png">
			<p style="margin-top:20px;font-size:16px" ng-if="checkType==1">没有项目自检的相关条目</p>
			<p style="margin-top:20px;font-size:16px" ng-if="checkType==2">没有质量专检的相关条目</p>
			<p style="font-size:13px;line-height:25px">请添加之后在继续</p>
			<div style="width:80%;margin:50px auto 0;border:1px solid #02a2ff;border-radius:5px;color:#02a2ff;line-height:40px" ng-click="addBox()">+添加新项目</div>
		</div>
	</section>
	<!-- <footer>
		<p>
			合格数<span>4</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不合格数<span class="ungood">2</span>
		</p>
	</footer> -->
	<script type="text/javascript">
	var app = angular.module("userMgr", []);
	app.controller("userMgrCtrl", function($scope, $http){
		/* init */
		ngScope = $scope;
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			location.href="../../../pages/login.html";
			return;
		}
		var userData = jQuery.parseJSON(userDataStr);
		//$scope.roleCode = userData.roleCode;
		var companyCode = userData.companyCode;
		ticket = $.cookie("pmsWeb_ticket");
		var params = getUrlParams();
		var deviceObjCode=params.deviceObjCode;
		var deviceTypeCode=params.deviceTypeCode;
		var checkType=params.checkType;
		$scope.checkType=checkType;
		/* 数据加载 */
		$http.get(serviceBasePath+"eap/pmsServices/om/deviceMgr/qualityCheck/findByDeviceCode?deviceObjCode="+deviceObjCode+"&checkType="+checkType).success(function(res){
			if(res.statusCode==200){
				$scope.datalist1 = res.list;
			}else if(res.statusCode==401){
				window.parent.location.href="../../../pages/login.html";
			}else if(res.statusCode==404){
				$scope.datalist1=[];
			}
		});
		$scope.addBox=function(){
			top.viewTo("om/deviceCheckMgr/device/proCheckAdd.html?deviceObjCode="+deviceObjCode+"&deviceTypeCode="+deviceTypeCode+"&checkType="+checkType);
		};
		$scope.showDetail=function(item){
			top.viewTo("om/deviceCheckMgr/device/proCheckDetail.html?rowid="+item.rowid);
		};
	});
	function returnPage(){
		top.viewBack();//"../../deviceMgr/device/deviceMgr.html";
	}	
	</script>
</body>
</html>