<!DOCTYPE HTML>
<html>
<head>
<title> 新增项目类型 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css"/>
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.chooseUser{width:1000px;height:530px;}
	.sgreen{background:#EDF4FF;border:dashed 1px #72BBFF;}
	.sred{background:#FFFF99;border:dashed 1px #FF9900;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">新增项目类型</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected"></a>
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
				<tr>
					<th>类型名称</th>
					<td width="300">
						<input type="text" name="categoryName" class="required" /></td>
				</tr>
			</table>
			
		</div>

		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">
simpleController({init:function($scope, $http){
		
		/* 表单验证 */
		var validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					
				} 
			}
		});
		
		/* 保存 */
		$scope.onSave = function(){
			var formData = $("#saveForm").serialize();
			if($("#saveForm").valid()){
				var formData = $("#saveForm").serialize();
				if($("#saveForm").valid()){
					new ShowDlog().prompt({
						icon:"waitting",
						msg:"正在提交...",
						done:function(){},
						t:1000*60
					});
					$.ajax({
						url:serviceBasePath+"eap/pmsServices/pm/baseMgr/pmCategory/add",
						cache:false,
						method:"POST",
						data:formData,
						success:function(res){
							$dlog.close();
							if(res.statusCode==200){
								new ShowDlog().prompt({
									icon:"success",
									msg:"添加成功！",
									done:function(){
										location.href="categoryMgr.html";
									},
									t:1500
								});
							}else{
							}
						},
						error:function(){
							$dlog.close();
						}
					});
				}else{
					new ShowDlog().prompt({msg:"表单未填写完整！",
						done:function(){
						},
						t:1500
					});
				}
			}
		};
		
		/* 取消 */
		$scope.onCancel = function(){
			location.href="categoryMgr.html";
		};
		
}});
</script>
</body>
</html>
