<!DOCTYPE HTML>
<html>
<head>
<title> 添加项目成员 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>
<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.chooseUser{width:1000px;height:530px;}
	
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">添加项目成员</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
				<tr>
					<th>项目名称</th>
					<td width="300">
						<input type="hidden" name="companyCode"/>
						<input type="hidden" name="proNo"/>
						<input type="text" name="proName" class="required readonly" readonly="readonly" maxlength="16"/></td>
				</tr>
				<tr>
					<th>加入时间</th>
					<td>
						<input type="text" name="inDate" class="required dateComponent" placeholder="请选择" onclick="new Calendar().show(this)"/>
					</td>
				</tr>
				<tr>
					<th>员工</th>
					<td>
						<input type="hidden" name="employeecode"/>
						<input type="text" name="employeename" class="required chooseUserCom" placeholder="请选择" ng-click="chooseUser()"/>
					</td>
				</tr>
			</table>
			
		</div>

		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">

var validator;
var ngScope;
var userData;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.userList=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	var params = getUrlParams();
	var params_proNo = params.proNo;
	var params_proName = strDecode(params.proName);
	
	$("input[name=proNo]").val(params_proNo);
	$("input[name=proName]").val(params_proName);
	$("input[name=inDate]").val(new SimpleDateFormat({formatString:"yyyy-MM-dd"}).format(new Date()));
	
	/* 表单验证 */
	validator = $("#saveForm").validate({
		onsubmit: false,
		focusInvalid: false,
		focusCleanup: true,
		errorElement: "span",
		ignore:".ignore",
		invalidHandler: function(form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				
			} 
		}
	});
	
	
	
	/* 保存 */
	$scope.onSave = function(){
		$("input[name=companyCode]").val(userData.companyCode);
		var formData = $("#saveForm").serialize();
		
		if($("#saveForm").valid()){
			$.ajax({
				url:serviceBasePath+"eap/pmsServices/pm/baseMgr/pmBase/batchAddProMember",
				cache:false,
				method:"POST",
				data:formData,
				success:function(res){
					if(res.statusCode==200){
						new ShowDlog().prompt({msg:"添加成功！",
							done:function(){
								location.href="projectMember.html?proNo="+params_proNo+"&proName="+params_proName;
							},
							t:1500
						});
					}else{
						//
					}
				},
				error:function(){
					
				}
			});
		}else{
			alert("表单填写异常，请检查修正后再提交");
		}
	};
	
	/* 取消 */
	$scope.onCancel = function(){
		history.go(-1);
	};
	
	var selectedUsers= [];
	$scope.chooseUser=function(){
		new ShowDlog().showFrame("../../component/chooseUserNotInPro.html", "选择员工", function(data){
			var names = [],codes = [];
			for(var i=0;i<data.length;i++){
				names.push(data[i].employeename);
				codes.push(data[i].employeecode);
			}
			$("input[name=employeename]").val(arrToStr(names));
			$("input[name=employeecode]").val(arrToStr(codes));
			selectedUsers=data;
		}, "chooseUser");
	};
});
</script>
</body>
</html>
