<!DOCTYPE HTML>
<html>
<head>
<title> 人员管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css"/>
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.chooseUser{width:1000px;height:530px;}
	.sgreen{background:#EDF4FF;border:dashed 1px #72BBFF;}
	.sred{background:#FFFF99;border:dashed 1px #FF9900;}
	#lay3{display:none;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">创建项目</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected">项目属性</a>
			<a href="#lay2" class="tab">市场属性</a>
<!-- 			<a href="#lay3" class="tab">指标工作量</a> -->
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
				<tr>
					<th>项目名称</th>
					<td width="300">
						<input type="hidden" name="companyCode"/>
						<input type="text" name="proName" class="required" /></td>
					<th>项目编号</th>
					<td width="300">
						<input type="text" name="proCode" class="required" maxlength="32"/>
						<input type="hidden" name="proNo" class="required" maxlength="32"/>
					</td>
				</tr>
				<tr>
					<th>项目类别</th>
					<td>
						<input type="text" name="categoryName" class="required dropDownProjectType" placeholder="请选择"/>
						<input type="hidden" name="categoryCode"/>
					</td>
					<th>立项时间</th>
				<!--	<td><input type="text" name="proYear" class="number"/></td>-->
					<td><input type="text" name="proYear" class="required date dateComponent" placeholder="请选择" onclick="new Calendar().show(this)"/></td>
				</tr>
				<tr>
					<th>地区</th>
					<td><input type="text" name="city" class="required dropDownArea" placeholder="请选择"/></td>
					<th>县级市</th>
					<td><input type="text" name="district" class="required dropDownArea2" placeholder="请选择"/></td>
				</tr>
				<tr>
					<th>负责人</th>
					<td>
						<input type="hidden" name="employeecode"/>
						<input type="text" name="proManager" class="required chooseUserCom" placeholder="请选择" ng-click="chooseUser()"/>
					</td>
					<th>人员需求</th>
					<td><input type="text" name="demangStaff" class="number"/></td>
				</tr>
				<tr>
					<th>管理部门</th>
					<td>
						<input type="hidden" name="manageDept"/>
						<input type="text" name="manageDeptName" class="required dropDownList" placeholder="请选择"/>
					</td>
					<th>区域经理</th>
					<td>
						<input type="hidden" name="districtManager"/>
						<input type="text" name="districtManagerName" class="required chooseUserCom" placeholder="请选择" ng-click="chooseDistrictManager()"/>
					</td>
				</tr>
				<tr>
					<th>总工作量</th>
					<td><input type="text" name="totalWorkload" class="number"/></td>
					<th>单位 </th>
					<td><input type="text" name="unitWorkload" class=""/></td>
				</tr>
			<!--	<tr>
					<th>内业比例</th>
					<td><input type="text" name="iwProportion" class="number" value="0.5"/></td>
					<th>外业比例 </th>
					<td><input type="text" name="owProportion" class="number" value="0.5"/></td>
				</tr>-->
				<tr>
					<th>是否召开启动会</th>
					<td>
						<input type="hidden" name="startMetting"/>
						<input type="text" name="startMettingName" class="required dropDownList"/>
					</td>
					<th>是否需要试运行</th>
					<td>
						<input type="hidden" name="testRun"/>
						<input type="text" name="testRunName" class="required dropDownList"/>
					</td>
				</tr>
				<tr>
					<th>开始时间</th>
					<td><input type="text" name="sdate" class="required date dateComponent" placeholder="请选择" onclick="new Calendar().show(this)"/></td>
					<th>结束时间</th>
					<td><input type="text" name="edate" class="required date dateComponent" placeholder="请选择" onclick="new Calendar().show(this)"/></td>
				</tr>
				<tr>
					<th>项目周期/月</th>
					<td><input type="text" name="ppm" class="number"/></td>
					<th>项目周期/天</th>
					<td><input type="text" name="ppw" class="number"/></td>
				</tr>
				<tr>
					<th>项目状态</th>
					<td>
						<input type="hidden" name="proStatus"/>
						<input type="text" name="proStatusName" class="required dropDownList"/>
					</td>
					<th>项目阶段</th>
					<td>
						<input type="hidden" name="proPhase"/>
						<input type="text" name="proPhaseName" class="required dropDownList"/>
					</td>
				</tr>
				<!--<tr>
					<th>初始工作量</th>
					<td><input type="text" name="initWorkload" class="number" value="0"/></td>
					<th>核查标准量（周）</th>
					<td><input type="text" name="qcMin" class="number"/></td>
				</tr>-->
				<tr>
					<th>进度计算方式</th>
					<td>
						<input type="text" name="progressModeName" class="required dropDownList"/>
						<input type="hidden" name="progressMode"/>
					</td>
					<th></th>
					<td></td>
				</tr>
				<tr>
					<th>备注</th>
					<td colspan="3">
						<textarea name="remarks" cols="98" rows="4"></textarea>
					</td>
				</tr>
			</table>
			
		</div>
		
		<div class="form_div" id="lay2">
			<table>
				<tr>
					<th>合同总价</th>
					<td width="300"><input type="text" name="tprice"/></td>
					<th>单价</th>
					<td width="300"><input type="text" name="uprice"/></td>
				</tr>
				<tr>
					<th>预算收入</th>
					<td><input type="text" name="income"/></td>
					<th>结算方式</th>
					<td><input type="text" name="clearform"/></td>
				</tr>
				<tr>
					<th>合同编号</th>
					<td><input type="text" name="contractNo"/></td>
					<th>合同日期</th>
					<td><input type="text" name="contractDate" class="date dateComponent" placeholder="请选择" onclick="new Calendar().show(this)"/></td>
				</tr>
				
			</table>
		</div>
		
		<div class="form_div" id="lay3">
<!-- 			<table> -->
<!-- 				<tr ng-repeat="item in kpiList" ng-class="{'sgreen':item.kpiType==1, 'sred':item.kpiType==2}"> -->
<!-- 					<th> -->
<!-- 						<span ng-if="item.kpiType==1">（外业指标）</span> -->
<!-- 						<span ng-if="item.kpiType==2">（内业指标）</span> -->
<!-- 						{{item.kpiName}} -->
<!-- 					</th> -->
<!-- 					<td><input type="text" name="{{item.kpiCode}}" group="kpi" class="required number"/>{{item.kpiUnit}}</td> -->
<!-- 					<td>标准工作量：<input type="text" name="{{item.kpiCode}}_standardHours" class="required number"/>{{item.kpiUnit}}/8小时</td> -->
<!-- 					<td colspan="2">{{item.kpiDesc}}</td> -->
<!-- 				</tr> -->
<!-- 			</table> -->
<!-- 			<input type="hidden" name="kpiData"/> -->
		</div>

		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">

var validator;
var ngScope;
var userData;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.userList=[];
	$scope.kpiList=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	/* 视图渲染 */
	$(".tabs>a").each(function(){
		var layId = $(this).attr("href");
		var idx = $(".tabs>a").index($(this));
		if(idx!=0){
			$(layId).hide();
			$(layId).attr("data-show", "0");
		}else{
			$(layId).attr("data-show", "1");
		}
		$(this).click(function(){
			$(".tabs>.selected").removeClass("selected");
			$(this).addClass("selected");
			var layId = $(this).attr("href");
			$("div[data-show=1]").hide();
			$("div[data-show=1]").attr("data-show", "0");
			$(layId).show();
			$(layId).attr("data-show", "1");
			$("#saveForm").reset();
			
		});
	});
	
	/* 表单验证 */
	validator = $("#saveForm").validate({
		onsubmit: false,
		focusInvalid: false,
		focusCleanup: true,
		errorElement: "span",
		ignore:".ignore",
		invalidHandler: function(form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				
			} 
		}
	});
	/* 单位选择 */
	new DropDownList().init({
		mode:"page",
		renderTo:"input[name=manageDeptName]",
		url:"../../component/orgTree.html?required=true&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("input[name=manageDeptName]").val(result.unitName);
			$("input[name=manageDept]").val(result.unitCode);
			$("input[name=manageDeptName]").focus();
		}
	});

	
	/* 项目分类 */
	new DropDownList().init({
		renderTo:".dropDownProjectType",
		url:"../../component/projectType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("input[name=categoryName]").val(result.categoryName);
			$("input[name=categoryCode]").val(result.categoryCode);
			$("input[name=categoryName]").focus();
			$scope.loadKpiList(result.categoryCode);
		}
	});
	
	/* 地区 */
	new DropDownList().init({
		renderTo:".dropDownArea",
		url:"../../component/areaList.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$(".dropDownArea").val(result.name);
			$(".dropDownArea").focus();
		}
	});
	
	/* 县级市 */
	new DropDownList().init({
		renderTo:".dropDownArea2",
		url:"../../component/areaList.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$(".dropDownArea2").val(result.name);
			$(".dropDownArea2").focus();
		}
	});
	/* 进度计算方式 */
	new DropDownList().init({
		renderTo:"input[name=progressModeName]",
		data:[{id:1,name:"按时间"},{id:2,name:"按工作量"}],
		textField:"name",
		onSelected:function(result){
			$("input[name=progressModeName]").val(result.name);
			$("input[name=progressMode]").val(result.id);
		}
		
	});
	
	/* HTTP GET */
	$scope.httpGet = function(_conf){
		var commonParams = "currentPage="+$scope.currentPage+"&ticket="+$scope.ticket;
		var params = "";
		if(_conf.data){
			params = toUrlParams(_conf.data);
		}
		if(_conf.url.indexOf("?")==-1){
			if(params.length>0){
				params="?"+params;
				commonParams="&"+commonParams;
			}else{
				commonParams="?"+commonParams;
			}
		}else{
			params="&"+params;
			commonParams="&"+commonParams;
		}
		$http.get(serviceBasePath+_conf.url+params+commonParams).success(function(response){
				if(response.statusCode==401){
					new ShowDlog().prompt({
						icon:"warning",
						msg:"用户登录过期！请重新登录！",
						done:function(){
							window.noLogin(location.href);
						},
						t:2800
					});
					return;
				}
				_conf.success(response);
				if(_conf.pageChange){
					$scope.createPageBar(response.totalPage, response.currentPage, _conf.pageChange);
				}
			});
	};
	
	/* 指标列表 */
	$scope.loadKpiList=function(categoryCode){
		$scope.httpGet({
			url:"eap/pmsServices/pm/kpiLib/listAll",
			data:{"categoryCode":categoryCode},
			success:function(res){
				$scope.kpiList = $scope.filterPerCnt(res.list);
			}
		});
	};
	$scope.filterPerCnt=function(arr){
		var arrN=[];
		for(var i=0; i<arr.length; i++){
			var item = arr[i];
			if(item.isPerCnt==1){
				continue;
			}
			arrN.push(item);
		}
		return arrN;
	};
	/* 项目负责人 */
	$scope.chooseUser=function(){
		new ShowDlog().showFrame("../../component/chooseUser.html", "选择负责人", function(data){
			if(data && data.length>0){
				$("input[name=proManager]").val(data[0].employeename);
				$("input[name=employeecode]").val(data[0].employeecode);
				$("input[name=proManager]").focus();
			}
		}, "chooseUser");
	};
	/* 区域经理 */
	$scope.chooseDistrictManager=function(){
		new ShowDlog().showFrame("../../component/chooseUser.html", "选择区域经理", function(data){
			if(data && data.length>0){
				$("input[name=districtManagerName]").val(data[0].employeename);
				$("input[name=districtManager]").val(data[0].employeecode);
				$("input[name=districtManagerName]").focus();
			}
		}, "chooseUser");
	};

	
	/* 项目状态 */
	new DropDownList().init({
		renderTo:"input[name=proStatusName]",
		data:[{code:1, name:'登记'},{code:2, name:'激活'},{code:3, name:'关闭'},{code:4, name:'已汇款'},{code:5, name:'已结题'}],
		textField:"name",
		onSelected:function(result){
			$("input[name=proStatusName]").val(result.name);
			$("input[name=proStatus]").val(result.code);
			$("input[name=proStatusName]").focus();
		}
	});
//是否状态
    new DropDownList().init({
        renderTo:"input[name=testRunName]",
        data:[{code:0, name:'否'},{code:1, name:'是'}],
        textField:"name",
        onSelected:function(result){
            $("input[name=testRunName]").val(result.name);
            $("input[name=testRun]").val(result.code);
            $("input[name=testRunName]").focus();
        }
    });

    new DropDownList().init({
        renderTo:"input[name=startMettingName]",
        data:[{code:0, name:'否'},{code:1, name:'是'}],
        textField:"name",
        onSelected:function(result){
            $("input[name=startMetting]").val(result.name);
            $("input[name=startMetting]").val(result.code);
            $("input[name=startMettingName]").focus();
        }
    });

	/* 项目阶段 */
	new DropDownList().init({
		renderTo:"input[name=proPhaseName]",
		data:[{code:1, name:'前期'},{code:2, name:'中期'},{code:3, name:'后期'},
		      {code:4, name:'更新类'},{code:5, name:'维护类'},{code:6, name:'已竣工'},
		      {code:7, name:'项目暂停'},{code:8, name:'暂未开展'},{code:9, name:'试点中'},
		      {code:10, name:'作废取消'},{code:11, name:'外包'},{code:12, name:'备注'}],
		textField:"name",
		height:"150px",
		onSelected:function(result){
			$("input[name=proPhaseName]").val(result.name);
			$("input[name=proPhase]").val(result.code);
			$("input[name=proPhaseName]").focus();
		}
	});
	/* 保存 */
	$scope.onSave = function(){
		var proCode = $("input[name=proCode]").val();
		
		$("input[name=proNo]").val($("input[name=proCode]").val());
		$("input[name=companyCode]").val(userData.companyCode);
		// Kpi
		var kpiData = "";
		$("input[group=kpi]").each(function(){
			var k = $(this).attr("name");
			var v = $(this).val();
			var h = $("input[name="+k+"_standardHours]").val();
			v=v+","+h;
			if(kpiData.length>0){
				kpiData+="&";
			}
			kpiData+=k+"="+v;
		});
		$("input[name=kpiData]").val(kpiData);
		//
		var formData = $("#saveForm").serialize();

		if($("#saveForm").valid()){
			$http.get(serviceBasePath+"eap/pmsServices/pm/baseMgr/pmBase/getByProCode?proCode="+proCode+"&ticket="+ticket).success(function(res){
				if(res.statusCode=="200" && res.data){
					new ShowDlog().prompt({
						msg:"项目编号已经存在！",
						done:function(){
							
						},
						t:1500
					});
					return;
				}else{
					$scope.doSave();
				}
			}).error(function(){
				
			});
		}
	};
	/* 保存 */
	$scope.doSave = function(){
		$("input[name=proNo]").val($("input[name=proCode]").val());
		$("input[name=companyCode]").val(userData.companyCode);
		// Kpi
		var kpiData = "";
		$("input[group=kpi]").each(function(){
			var k = $(this).attr("name");
			var v = $(this).val();
			var h = $("input[name="+k+"_standardHours]").val();
			v=v+","+h;
			if(kpiData.length>0){
				kpiData+="&";
			}
			kpiData+=k+"="+v;
		});
		$("input[name=kpiData]").val(kpiData);
		//
		var formData = $("#saveForm").serialize();
// 		alert(toUrlParams(formData));
// 		return;
		if($("#saveForm").valid()){
			new ShowDlog().prompt({
				icon:"waitting",
				msg:"正在提交...",
				done:function(){},
				t:1000*60
			});
			$.ajax({
				url:serviceBasePath+"eap/pmsServices/pm/baseMgr/pmBase/add",
				cache:false,
				method:"POST",
				data:formData,
				success:function(res){
					$dlog.close();
					if(res.statusCode==200){
						new ShowDlog().prompt({msg:"添加成功！",
							done:function(){
								location.href="projectMgr.html";
// 								new ShowDlog().confirm({
// 									msg:"请及时设置项目组考勤时间！",
// 									ok:function(){
// 										location.href="projectMgr.html";
// 									},
// 									cancel:function(){
// 										location.href="projectMgr.html";
// 									}
// 								});
							},
							t:1500
						});
					}else{
						//
					}
				},
				error:function(){
					$dlog.close();
				}
			});
		}else{
			new ShowDlog().prompt({msg:"表单未填写完整！",
				done:function(){
				},
				t:1500
			});
		}
	};
	
	/* 取消 */
	$scope.onCancel = function(){
		//history.go(-1);
		location.href="projectMgr.html";
	};
	
});
</script>
</body>
</html>
