<!DOCTYPE HTML>
<html>
<head>
<title>项目类型管理 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>
<script type="text/javascript" src="../../../js/ViewState.js"></script>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />


<style type="text/css">
	.btn{display:inline-block;padding:1px 4px;border:solid 1px #f4f4f4; border-radius:4px;}
	.btn.toactive{color:#fff;background:green;}
	.btn.toclose{color:#fff;background:#ED7798;}
	
	.switch_btn_group{border:solid 1px #3385FF;min-height:30px;float:left;border-radius:15px; position:absolute;right:10px;top:0px;}
	.switch_btn_group a{display:inline-block;float:left;background:#fff;color:#3385FF;text-decoration:none;font-size:13px;
		line-height:30px;text-align:center;margin:0 1px 0 0;min-width:60px;}
	.switch_btn_group a.selected{background:#3385FF;color:#fff;}
	.switch_btn_group a:first-of-type{border-top-left-radius:15px;border-bottom-left-radius:15px;}
	.switch_btn_group a:last-of-type{border-top-right-radius:15px;border-bottom-right-radius:15px;margin:0;}
	
	.title_add2{
		float: left;
	    width: 200px;
	    height: 28px;
	    line-height: 28px;
	    text-align: center;
	    margin-top: 5px;
	    color: #3385ff;
	    cursor: pointer;
	    font-size: 16px;
	}
	
	.title_add3
	   {
    width: 70px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin-right: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: url(../../../img/btn_add.png) repeat;
}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName" storagekey="pm.baseMgr.pmProKpiMgriframe">

<div class="list">
	<div class="list_content">
		<div class="title_div" ng-if="dataList1.length==0">
			<div class="title_add2" ng-click="importProKpi()"  >
				[从指标模板库中批量新增]
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th style="width:150px"><div align="center">指标类型</div></th>
				<th width="12%"><div align="center">指标名</div></th>
				<th width="12%"><div align="center">指标单位</div></th>
				<th width="12%"><div align="center">指标占比</div></th>
				<th width="12%"><div align="center">指标说明</div></th>
				<th width="12%"><div align="center">指标总量</div></th>
				<th width="12%"><div align="center">标准工作量</div></th>
				<th><div align="center">操作</div></th>
			  </tr>
			  <tr class="tr2" style="background: #DCE6F1" name="type_1">
				<td style="border-right-style: none;">
					<div align="center" style="height: 28px;line-height: 28px;">外业</div>
				</td>
				<td colspan="6" style="border-left-style: none;border-right-style: none;">
				</td>
				<td  align="center" style="border-left-style: none;">
					<div class="title_add3"  align="center" ng-click="add(1)">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增
					</div>
				</td>
			  </tr>
			  <tr class="tr2" ng-repeat="item in neiyeArr">
				<td>
					<div align="center" ng-if="!item.kpiCode">
						同步到模板库： <input type="checkbox" ng-click="syn(item)" value="{{item.sync}}"/><br/>
						是否表示人数： <input type="checkbox" ng-click="persor(item)" value="{{item.isPersonCnt}}"/>
					</div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiName}}</div>
					<div align="center" ng-if="item.flag==true">
						<input type='text' ng-model="item.kpiName"/>
					</div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiUnit}}</div>
					<div align="center" ng-if="item.flag==true">
						<input type='text' style="width:80px" ng-model="item.kpiUnit"/>
					</div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiWeight}}</div>
					<div align="center" ng-if="item.flag==true"><input type='text'  style="width:80px" ng-model="item.kpiWeight"/></div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiDesc}}</div>
					<div align="center" ng-if="item.flag==true">
						<input type='text' ng-model="item.kpiDesc"/>
					</div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiTotal}}</div>
					<div align="center" ng-if="item.flag==true"><input type='text' style="width:80px" ng-model="item.kpiTotal"/></div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.standard}}</div>
					<div align="center" ng-if="item.flag==true"><input type='text' style="width:80px" ng-model="item.standard"/></div>
				</td>
				<td align="center" style="border-left-style: none;">
					<div align="center">
						<a class="operationImg" ng-if="item.flag==false||!item.flag" ng-click="ealit(item)" style="color:#3385FF">[ 编辑 ]</a>
						<a class="operationImg" ng-if="item.flag==true" ng-click="saveEvr(item)" style="color:#3385FF">[ 保存 ]</a>
						<a class="operationImg" ng-click="delEvr(item,$index,1)" style="color:#3385FF">[ 删除 ]</a>
					</div>
				</td>
			  </tr>
			   <tr class="tr2" style="background: #F2DCDB" name="type_2">
				<td style="border-right-style: none;">
					<div align="center" >内业</div>
				</td>
				<td colspan="6" style="border-left-style: none;border-right-style: none;">
				</td>
				<td align="center" style="border-left-style: none;">
				<div class="title_add3"  ng-click="add(2)">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增
					</div>
				</td>
			  </tr>
			  <tr class="tr2" ng-repeat="item in waiyeArr">
			  	<td>
					<div align="center" ng-if="!item.kpiCode">
						同步到模板库： <input type="checkbox" ng-click="syn(item)" value="{{item.sync}}"/><br/>
						是否表示人数： <input type="checkbox" ng-click="persor(item)" value="{{item.isPersonCnt}}"/>
					</div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiName}}</div>
					<div align="center" ng-if="item.flag==true">
						<input type='text' ng-model="item.kpiName"/>
					</div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiUnit}}</div>
					<div align="center" ng-if="item.flag==true">
						<input type='text' style="width:80px" ng-model="item.kpiUnit"/>
					</div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiWeight}}</div>
					<div align="center" ng-if="item.flag==true"><input type='text'  style="width:80px" ng-model="item.kpiWeight"/></div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiDesc}}</div>
					<div align="center" ng-if="item.flag==true">
						<input type='text' ng-model="item.kpiDesc"/>
					</div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiTotal}}</div>
					<div align="center" ng-if="item.flag==true"><input type='text' style="width:80px" ng-model="item.kpiTotal"/></div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.standard}}</div>
					<div align="center" ng-if="item.flag==true"><input type='text' style="width:80px" ng-model="item.standard"/></div>
				</td>
				<td align="center" style="border-left-style: none;">
					<div align="center">
						<a class="operationImg" ng-if="item.flag==false||!item.flag" ng-click="ealit(item)" style="color:#3385FF">[ 编辑 ]</a>
						<a class="operationImg" ng-if="item.flag==true" ng-click="saveEvr(item)" style="color:#3385FF">[ 保存 ]</a>
						<a class="operationImg" ng-click="delEvr(item,$index,2)" style="color:#3385FF">[ 删除 ]</a>
					</div>
				</td>
			  </tr>
			  
			  <tr class="tr2" style="background: #EBF1DE" name="type_3">
				<td style="border-right-style: none;">
					<div align="center">非标项</div>
				</td>
				<td colspan="6" style="border-left-style: none;border-right-style: none;">
				</td>
				<td align="center" style="border-left-style: none;">
					<div class="title_add3"  align="center"  ng-click="add(3)">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增
					</div>
				</td>
			  </tr>
			  <tr class="tr2" ng-repeat="item in otherArr">
				 <td>
					<div align="center" ng-if="!item.kpiCode">
						同步到模板库： <input type="checkbox" ng-click="syn(item)" value="{{item.sync}}"/><br/>
						是否表示人数： <input type="checkbox" ng-click="persor(item)" value="{{item.isPersonCnt}}"/>
					</div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiName}}</div>
					<div align="center" ng-if="item.flag==true">
						<input type='text' ng-model="item.kpiName"/>
					</div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiUnit}}</div>
					<div align="center" ng-if="item.flag==true">
						<input type='text' style="width:80px" ng-model="item.kpiUnit"/>
					</div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiWeight}}</div>
					<div align="center" ng-if="item.flag==true"><input type='text'  style="width:80px" ng-model="item.kpiWeight"/></div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiDesc}}</div>
					<div align="center" ng-if="item.flag==true">
						<input type='text' ng-model="item.kpiDesc"/>
					</div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.kpiTotal}}</div>
					<div align="center" ng-if="item.flag==true"><input type='text' style="width:80px" ng-model="item.kpiTotal"/></div>
				</td>
				<td>
					<div align="center" ng-if="item.flag==false||!item.flag">{{item.standard}}</div>
					<div align="center" ng-if="item.flag==true"><input type='text' style="width:80px" ng-model="item.standard"/></div>
				</td>
				<td align="center" style="border-left-style: none;">
					<div align="center">
						<a class="operationImg" ng-if="item.flag==false||!item.flag" ng-click="ealit(item)" style="color:#3385FF">[ 编辑 ]</a>
						<a class="operationImg" ng-if="item.flag==true" ng-click="saveEvr(item)" style="color:#3385FF">[ 保存 ]</a>
						<a class="operationImg" ng-click="delEvr(item,$index,3)" style="color:#3385FF">[ 删除 ]</a>
					</div>
				</td>
			  </tr>
			</table>
		</div>


	</div>
</div>
<script type="text/javascript">

var categoryCode;
var categoryName;

var proNo;

simpleController({init:function($scope, $http){
	/* init */
	var params = getUrlParams();
	console.log(params)
	categoryCode=params.categoryCode;
	categoryName=params.categoryName;
	proNo=params.proNo;
		
	$scope.neiyeArr=[];
	$scope.waiyeArr=[];
	$scope.otherArr=[];
	$scope.importProKpi=function(){
		$scope.neiyeArr=[];
		$scope.waiyeArr=[];
		$scope.otherArr=[];
		if(!categoryCode || categoryCode.length==0 || !proNo || proNo.length==0){
			new ShowDlog().prompt({
				msg:"请先选择项目类型和项目！",
				done:function(){},
				t:1800
			});
			return;
		}
		new ShowDlog().confirm({
			msg:"确定从模板库中添加吗？",
			ok:function(){
				$http.post(serviceBasePath+"eap/pmsServices/pm/kpiLib/importData?categoryCode="+categoryCode+"&ticket="+$scope.ticket+"&proNo="+proNo).success(function(response){
					if(response.statusCode=='200'){
						$scope.dataList=response.list;
						for(var i=0;i<$scope.dataList.length;i++){
							var item =$scope.dataList[i];
							if(item.kpiType==1){
								$scope.neiyeArr.push(item);
							}else if(item.kpiType==2){
								$scope.waiyeArr.push(item);
							}else if(item.kpiType==3){
								$scope.otherArr.push(item);
							}
						}
					}
				});
			},
			cancel:function(){}
		});
	};
	
	
	$scope.getList=function(){
		$scope.neiyeArr=[];
		$scope.waiyeArr=[];
		$scope.otherArr=[];
		if(!proNo || proNo==""){
			return;
		}
		$http.get(serviceBasePath+"eap/pmsServices/pm/baseMgr/pmProKpi/queryList?&ticket="+$scope.ticket+"&proNo="+proNo).success(function(response){
			if(response.statusCode=='200'){
				$scope.dataList1=response.list;
				for(var i=0;i<$scope.dataList1.length;i++){
					var item =$scope.dataList1[i];
					if(item.kpiType==1){
						$scope.neiyeArr.push(item);
					}else if(item.kpiType==2){
						$scope.waiyeArr.push(item);
					}else if(item.kpiType==3){
						$scope.otherArr.push(item);
					}
				}
			}
		});
	};
	$scope.getList();
	
	$scope.ealit=function(item){
		item.flag=true;
	};
	
	
	$scope.add=function(e){
		if(e==1){
			var obj={};
			obj.rowid=-1;
			obj.kpiType=1;
			obj.sync=0;
			obj.kpiName ="";
			obj.kpiUnit ="";
			obj.kpiWeight ="";
			obj.kpiDesc ="";
			obj.kpiTotal ="";
			obj.standard="";
			obj.flag=true;
			obj.isPersonCnt=0;
			$scope.neiyeArr.push(obj);
		}else if(e==2){
			var obj={};
			obj.rowid=-1;
			obj.kpiType=2;
			obj.sync=0;
			obj.kpiName ="";
			obj.kpiUnit ="";
			obj.kpiWeight ="";
			obj.kpiDesc ="";
			obj.kpiTotal ="";
			obj.standard="";
			obj.flag=true;
			obj.isPersonCnt=0;
			$scope.waiyeArr.push(obj);
 		}else if(e==3){
			var obj={};
			obj.rowid=-1;
			obj.kpiType=3;
			obj.sync=0;
			obj.kpiName ="";
			obj.kpiUnit ="";
			obj.kpiWeight ="";
			obj.kpiDesc ="";
			obj.kpiTotal ="";
			obj.standard="";
			obj.flag=true;
			obj.isPersonCnt=0;
			$scope.otherArr.push(obj);
		}
	};
	
	$scope.delEvr=function(item,index,e){
		new ShowDlog().confirm({
			msg:"确定删除吗？",
			ok:function(){
				if(item.kpiCode){
					$http.post(serviceBasePath+"eap/pmsServices/pm/baseMgr/pmProKpi/delete?rowid="+item.rowid+"&ticket="+$scope.ticket).success(function(response){
						if(response.statusCode=="200"){
							new ShowDlog().prompt({msg:response.resultMsg,
								done:function(){
									$scope.getList();
								},
								t:1500
							});
						}
					});
				}else{
					if(e==1){
						callNgFn({ctrlEl:$("body")[0], ngFn:function(scope){
							$scope.neiyeArr.splice(index,1);
						}});
					}else if(e==2){
						callNgFn({ctrlEl:$("body")[0], ngFn:function(scope){
							$scope.waiyeArr.splice(index,1);
						}});
			 		}else if(e==3){
			 			callNgFn({ctrlEl:$("body")[0], ngFn:function(scope){
			 				$scope.otherArr.splice(index,1);
			 			}});
					}
				}
			},
			cancel:function(){}
		});
	};
	
	$scope.syn=function(item){
		if(item.sync==0){
			item.sync=1;
		}else{
			item.sync=0;
		}
	};
	$scope.persor=function(item){
		if(item.isPersonCnt==0){
			item.isPersonCnt=1;
		}else{
			item.isPersonCnt=0;
		}
	};
	
	
	$scope.saveEvr=function(item){
		if(item.kpiDesc==undefined){
			item.kpiDesc="";
		}
// 		new ShowDlog().confirm({
// 			msg:"确定保存吗？",
// 			ok:function(){
				$http.post(serviceBasePath+"eap/pmsServices/pm/baseMgr/pmProKpi/save?rowid="+item.rowid
					+"&ticket="+$scope.ticket+"&kpiDesc="+item.kpiDesc+"&proNo="+proNo+"&kpiName="+item.kpiName+"&kpiTotal="+item.kpiTotal
					+"&kpiType="+item.kpiType+"&kpiUnit="+item.kpiUnit+"&kpiWeight="+item.kpiWeight+"&standard="+item.standard
					+"&sync="+item.sync+"&isPersonCnt="+item.isPersonCnt+"&categoryCode="+categoryCode).success(function(response){
					
						if(response.statusCode=="200"){
							new ShowDlog().prompt({msg:"保存成功！",
								done:function(){
									$scope.getList();
								},
								t:1500
							});
						}
				});
// 			},
// 			cancel:function(){}
// 		});
		
	};
}});
</script>
</body>
</html>
