<!DOCTYPE HTML>
<html>
<head>
<title> 项目管理——项目成员 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.olddata{color:#ccc;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
<!-- 				<input type="text" class="dropDownArea" placeholder="请选择地区"/> -->
<!-- 				<input type="text" class="dropDownProjectType" placeholder="请选择项目类别"/> -->
<!-- 				<input type="text" id="searchName" placeholder="请输入项目名"> -->
<!-- 				<div class="query_div" ng-click="doQuery()"> -->
<!-- 					查询 -->
<!-- 				</div> -->
<!-- 				<div class="query_div" ng-click="doExport()"> -->
<!-- 					导出 -->
<!-- 				</div> -->
				&nbsp;&nbsp;&nbsp;&nbsp;{{params_proName}}（项目成员列表）
			</div>
			<img src="../../../img/list_Header2-.png">
			<div class="title_add" ng-click="toAdd()">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增
			</div>
			<div class="title_back" ng-click="goBack()">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;返回
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">员工号</div></th>
				<th><div align="center">员工姓名</div></th>
				<th><div align="center">项目编号</div></th>
				<th><div align="center">项目名称</div></th>
				<th><div align="center">加入时间</div></th>
				<th><div align="center">退出时间</div></th>
				<th><div align="center">工作状态</div></th>
				<th><div align="center">操作</div></th>
			  </tr>
			  <tr class="tr2" ng-repeat="item in dataList" ng-class="{olddata:item.workStatue==2}">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.jobNo}}</div></td>
				<td><div align="center">{{item.employeeName}}</div></td>
				<td><div align="center">{{item.proNo}}</div></td>
				<td><div align="center">{{item.proName}}</div></td>
				<td><div align="center">{{item.inDate}}</div></td>
				<td><div align="center">{{item.outDate}}</div></td>
				<td>
					<div ng-if="item.workStatue==1" align="center">项目中</div>
					<div ng-if="item.workStatue==2" style="color:#ccc;" align="center">项目外</div>
				</td>
				<td>
					<div align="center">
			    		<img class="operationImg" ng-if="item.workStatue==1 && item.isProManager!=1" ng-click="doLogoff(item)" src="../../../img/logoff.png" title="退出项目"/>
			    		<img class="operationImg" ng-if="item.workStatue==1 && item.isProManager!=1" ng-click="doDelete(item)" src="../../../img/list_delete-icon.png" title="删除数据"/>
			  		</div>
				</td>
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">
function createPageBar(totalPage, curPage){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		curPage:curPage,
		prevPageText:"上一页",
		nextPageText:"下一页",
		onPage:function(pageNum){
			ngScope.loadUsers(selectedUnitCode, pageNum, "");
			//$("#currPage").html(pageNum);
		}
	});
}

var selectedUnitCode="";
var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.dataList=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	var params = getUrlParams();
	var params_proNo = params.proNo;
	$scope.params_proName = strDecode(params.proName);
	
	$scope.loadUsers=function(){//alert(unitCode);
		$http.get(serviceBasePath+"eap/pmsServices/pm/baseMgr/pmBase/proMember?companyCode="+userData.companyCode+
			"&proNo="+params_proNo+"&ticket="+ticket).success(function(response){
			
			$scope.dataList = response.list;
// 			createPageBar(response.totalPage, response.currentPage);
		});
	};
	
	$scope.toAdd=function(){
		location.href="addProjectMember.html?proNo="+params_proNo+"&proName="+strEncode($scope.params_proName);
	}
	
	/* 人员删除 */
	$scope.doDelete=function(item){
		new ShowDlog().confirm({
			msg:"确定对成员 “"+item.employeeName+"”删除操作吗？",
			ok:function(){
				$http.post(serviceBasePath+"eap/pmsServices/pm/baseMgr/pmBase/deleteProMember?companyCode="+userData.companyCode+
					"&proNo="+item.proNo+"&employeecode="+item.employeeCode+"&ticket="+ticket).success(function(response){
					$scope.loadUsers();
				});
			},
			cancel:function(){}
		});
	};
	
	/* 人员退出项目 */
	$scope.doLogoff=function(item){
		new ShowDlog().confirm({
			msg:"确定  “"+item.employeeName+"” 退出项目吗？",
			ok:function(){
				var outDate = new SimpleDateFormat({formatStr:"yyyy-MM-dd"}).format(new Date());
				$http.post(serviceBasePath+"eap/pmsServices/pm/baseMgr/pmBase/logoffProMember?companyCode="+userData.companyCode+
					"&proNo="+item.proNo+"&employeecode="+item.employeeCode+"&outDate="+outDate+"&ticket="+ticket).success(function(response){
					$scope.loadUsers();
				});
			},
			cancel:function(){}
		});
	};
	
	$scope.goBack=function(){
		if(params.from){
			location.href=params.from;
		}else{
			history.go(-1);
		}
	};
	
	$scope.loadUsers();
});
</script>
</body>
</html>
