<!DOCTYPE HTML>
<html>
<head>
<title>文档搜索</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>
<script type="text/javascript" src="../../../js/ExportExcel.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/time.js"></script>


<style type="text/css">

	.warning{background:red;color:#fff;}
	.week{width:50px;}
	.bgcolor{background:yellow}
	
	.switch_btn_group{border:solid 1px #3385FF;min-height:30px;float:left;border-radius:15px; position:absolute;right:20px;top:0px;}
	.switch_btn_group a{display:inline-block;float:left;background:#fff;color:#3385FF;text-decoration:none;font-size:13px;
		line-height:30px;text-align:center;margin:0 1px 0 0;min-width:60px;}
	.switch_btn_group a.selected{background:#3385FF;color:#fff;}
	.switch_btn_group a:first-of-type{border-top-left-radius:15px;border-bottom-left-radius:15px;}
	.switch_btn_group a:last-of-type{border-top-right-radius:15px;border-bottom-right-radius:15px;margin:0;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<input type="text" class="dropDownProjectType" placeholder="请选择项目类别"/>
				<input type="text" style="width:206px;" class="dropDownTree dropDownList" placeholder="请选择项目"/>
			
				<input type="text" style="width:100px;" name="fromDate" class="date dateComponent" placeholder="请选择" onclick="new Calendar().show(this)" />
				<input type="text" style="width:100px;" name="toDate" class="date dateComponent" placeholder="请选择" onclick="new Calendar().show(this)" />
				<span style="float:left;margin-left:5px;">请输入合同价格</span>
				<input type="text" name="price1" style="width:65px;"/>
				<span style="float:left;margin-left:10px;" >--</span>
				<input type="text" name="price2" style="width:65px;" />
				<input type="text" name="contractNo" placeholder="请输入合同编号"/>
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			<img src="../../../img/list_Header2-.png">
			<div class="switch_btn_group">
				<a href="#" datatype="2" class="selected">已激活</a>
				<a href="#" datatype="3">已关闭</a>
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">项目名称</div></th>
				<th><div align="center">项目编号</div></th>
				<th><div align="center">合同编号</div></th>
				<th><div align="center">合同时间</div></th>
				<th><div align="center">项目负责人</div></th>
				<th><div align="center">项目总价</div></th>
				
				<th><div align="center">项目立项</div></th>
				<th><div align="center">项目投标</div></th>
				<th><div align="center">项目合同</div></th>
				<th><div align="center">项目工作量</div></th>
				<th><div align="center">项目结算</div></th>
				<th><div align="center">项目决算</div></th>
				
			  </tr>
			  <tr class="tr2" ng-repeat="item in dailyList">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.proname}}</div></td>
				<td><div align="center">{{item.prono}}</div></td>
				<td><div align="center">{{item.contractno}}</div></td>
				<td><div align="center">{{item.contractdate}}</div></td>
				<td><div align="center">{{item.promanager}}</div></td>
				<td><div align="center">{{item.tprice}}</div></td>
				
				<td>
					<div align="center" ng-if="item.lixiang>0">
						<a ng-click="toLixiang(item,3)" style="color:blue;cursor: pointer;">{{item.lixiang}}</a>
					</div>
					<div align="center" ng-if="item.lixiang==0">
						{{item.lixiang}}
					</div>
				</td>
				<td>
					
					<div align="center" ng-if="item.toubiao>0">
						<a ng-click="toLixiang(item,4)" style="color:blue;cursor: pointer;">{{item.toubiao}}</a>
					</div>
					<div align="center" ng-if="item.toubiao==0">
						{{item.toubiao}}
					</div>
				</td>
				<td>
					
					<div align="center" ng-if="item.hetong>0">
						<a ng-click="toLixiang(item,5)" style="color:blue;cursor: pointer;">{{item.hetong}}</a>
					</div>
					<div align="center" ng-if="item.hetong==0">
						{{item.hetong}}
					</div>
				</td>
				<td>
					
					<div align="center" ng-if="item.gongzuol>0">
						<a ng-click="toLixiang(item,6)" style="color:blue;cursor: pointer;">{{item.gongzuol}}</a>
					</div>
					<div align="center" ng-if="item.gongzuol==0">
						{{item.gongzuol}}
					</div>
				</td>

				<td>
					
					<div align="center" ng-if="item.jiesuan>0">
						<a ng-click="toLixiang(item,7)" style="color:blue;cursor: pointer;">{{item.jiesuan}}</a>
					</div>
					<div align="center" ng-if="item.jiesuan==0">
						{{item.jiesuan}}
					</div>
				</td>
				<td>
					
					<div align="center" ng-if="item.juesuan>0">
						<a ng-click="toLixiang(item,8)" style="color:blue;cursor: pointer;">{{item.juesuan}}</a>
					</div>
					<div align="center" ng-if="item.juesuan==0">
						{{item.juesuan}}
					</div>
				</td>
				
			
				
			  </tr>
			  
			</table>
		</div>

	
		
	</div>
</div>
<script type="text/javascript">
var cond_proStatus="2";
var cond_categoryCode="";
var proNo="";
var docTypelibCode="";//文档类型
var proName="";//项目

var fromDate="";
var toDate=""; 
var price1;
var price2;
var contractNo="";

var _currentPage=1;
var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.dailyList=[];
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	
	//fromDate=getMonthStartDate();
	//toDate=getMonthEndDate();
	
	//$("input[name=fromDate]").val(fromDate);
	//$("input[name=toDate]").val(toDate);
	
	
	var params = getUrlParams();
	
	//proNo,fromDate,toDate,price1,price2,contractNo
	if(params){
		if(params.proNo){
			proNo=params.proNo;
		}
		
		if(params.proName){
			proName=params.proName;
			$(".dropDownTree").val(proName);
		}
		if(params.fromDate){
			fromDate=params.fromDate;
			$("input[name=fromDate]").val(fromDate);
		}
		if(params.toDate){
			toDate=params.toDate;
			$("input[name=toDate]").val(toDate);
		}
		if(params.price1){
			price1=params.price1;
			//alert(price1!=undefined)
			if(price1!="undefined"){
				$("input[name=price1]").val(price1);
			}
		}
		if(params.price2){
			price2=params.price2;
			if(price2!="undefined"){
				$("input[name=price2]").val(price2);
			}
			
		}
		if(params.contractNo){
			contractNo=params.contractNo;
			$("input[name=contractNo]").val(contractNo);
		}
	}
	
	ticket = $.cookie("pmsWeb_ticket");
	/* 项目类型 */
	new DropDownList().init({
		renderTo:".dropDownProjectType",
		url:"../../component/projectType.html?required=false&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$(".dropDownProjectType").val(result.categoryName);
			cond_categoryCode = result.categoryCode;
			/* 联动 */
			projectList.setConfig("url", "../../component/allProjectList.html?categoryCode="+cond_categoryCode+"&proStatus="+cond_proStatus+"&required=false&ticket="+ticket);
		}
	});
	$(".switch_btn_group>a").each(function(){
		$(this).click(function(){
			$(this).addClass("selected");
			$(this).siblings().removeClass("selected");
			cond_proStatus = $(this).attr("datatype");
			projectList.setConfig("url", "../../component/allProjectList.html?categoryCode="+cond_categoryCode+"&proStatus="+cond_proStatus+"&ticket="+ticket);
			$scope.doQuery();
		});
		
	});
	/* 项目列表 */
	var projectList = new DropDownList();
	projectList.init({
		renderTo:".dropDownTree",
		url:"../../component/allProjectList.html?categoryCode="+cond_categoryCode+"&proStatus="+cond_proStatus+"&required=false&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$(".dropDownTree").val(result.proName);
			proNo=result.proNo;
			proName=result.proName;
			$scope.loadDailyList(proNo,fromDate,toDate,price1,price2,contractNo);
		}
	});
	
	
	
	
	$scope.loadDailyList=function(proNo,fromDate,toDate,price1,price2,contractNo){//alert(unitCode);
	
	
		$http.get(serviceBasePath+"eap/pmsServices/pm/projDoc/listall?proNo="+proNo+"&proStatus="+cond_proStatus+"&fromDate="+fromDate+"&toDate="+toDate+"&price1="+price1+"&contractNo="+contractNo+"&price2="+price2).success(function(response){
			if(response.statusCode!=200){
				alert("请求服务器失败！");
				return;
			}
			$scope.dailyList = response.list;
 			//createPageBar(response.totalPage, response.currentPage);
		});
	};
	
	$scope.doQuery=function(){
		fromDate=$("input[name=fromDate]").val();
		toDate=$("input[name=toDate]").val();
		contractNo=$("input[name=contractNo]").val();
			
		price1=$("input[name=price1]").val();
		price2=$("input[name=price2]").val();
		$scope.loadDailyList(proNo,fromDate,toDate,price1,price2,contractNo);
	};
	

	$scope.toLixiang=function(item,dclass){
	
		//var docclass=item.docclass;
		//var doctypelibcode=item.doctypelibcode;
		
		location.href="searchProjectFileDetail.html?docClass="+dclass+"&proNo="+proNo+"&fromDate="+fromDate+"&toDate="+toDate+"&price1="+price1+"&price2="+price2+"&contractNo="+contractNo+"&proName="+proName+"&proNo1="+item.prono;
		//proNo,fromDate,toDate,price1,price2,contractNo
		
	};

	
	
	
	
	/* 初始查询 */
	$scope.loadDailyList(proNo,fromDate,toDate,price1,price2,contractNo);
	
	
});
</script>
</body>
</html>
