<!DOCTYPE HTML>
<html>
<head>
<title> 人员管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>
<style type="text/css">
	.sgreen{background:#EDF4FF;border:dashed 1px #72BBFF;}
	.sred{background:#FFFF99;border:dashed 1px #FF9900;}
</style>
</head>

<body ng-app="mdu" ng-controller="ctrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">创建项目</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected">项目属性</a>
			<a href="#lay2" class="tab">市场属性</a>
<!-- 			<a href="#lay3" class="tab">指标工作量</a> -->
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
				<tr>
					<th>项目名称</th>
					<td width="300">
						<input type="hidden" name="companyCode" value="{{projectInfo.companyCode}}"/>
						<input type="text" name="proName" class="required readonly"  readonly="readonly" maxlength="16" value="{{projectInfo.proName}}"/></td>
					<th>项目编号</th>
					<td width="300"><input type="text" name="proCode" readonly="readonly" class="required readonly" maxlength="25" value="{{projectInfo.proCode}}"/></td>
				</tr>
				<tr>
					<th>项目类别</th>
					<td>
						<input type="text" name="categoryName" class="required readonly" readonly="readonly" placeholder="请选择" value="{{projectInfo.categoryName}}"/>
						<input type="hidden" name="categoryCode" value="{{projectInfo.categoryCode}}"/>
					</td>
					<th>立项时间</th>
					<td><input type="text" name="proYear" class="number readonly" readonly="readonly" value="{{projectInfo.proYear}}"/></td>
				</tr>
				<tr>
					<th>地区</th>
					<td><input type="text" name="city" class="required readonly" readonly="readonly" placeholder="请选择" value="{{projectInfo.city}}"/></td>
					<th>县级市</th>
					<td><input type="text" name="district" class="required readonly" readonly="readonly" placeholder="请选择" value="{{projectInfo.district}}"/></td>
				</tr>
				<tr>
					<th>负责人</th>
					<td><input type="text" name="proManager" class="required readonly" readonly="readonly"  value="{{projectInfo.proManager}}"/></td>
					<th>人员需求</th>
					<td><input type="text" name="demandStaff" class="number readonly" readonly="readonly" value="{{projectInfo.demandStaff}}"/></td>
				</tr>
				<tr>
					<th>管理部门</th>
					<td>
						<input type="text" name="manageDeptName" value="{{projectInfo.manageDeptName}}" class="required readonly" readonly="readonly"/>
					</td>
					<th>区域经理</th>
					<td>
						<input type="text" name="districtManagerName" value="{{projectInfo.districtManagerName}}" class="required readonly" readonly="readonly"/>
					</td>
				</tr>
				<tr>
					<th>总工作量</th>
					<td><input type="text" name="totalWorkload" class="number readonly" readonly="readonly" value="{{projectInfo.totalWorkload}}"/></td>
					<th>单位 </th>
					<td><input type="text" name="unitWorkload" class="readonly" readonly="readonly" value="{{projectInfo.unitWorkload}}"/></td>
				</tr>
			<!--	<tr>
					<th>内业比例</th>
					<td><input type="text" name="iwProportion" class="number readonly" readonly="readonly" value="{{projectInfo.iwProportion}}"/></td>
					<th>外业比例 </th>
					<td><input type="text" name="owProportion" class="number readonly" readonly="readonly" value="{{projectInfo.owProportion}}"/></td>
				</tr>-->
				<tr>
					<th>是否召开启动会</th>
					<td>
						<input type="text" name="sport" class="number readonly" readonly="readonly" value="{{projectInfo.startMetting==0?'否':projectInfo.startMetting==1?'是':''}}" class="required dropDownList"/>
					</td>
					<th>是否需要试运行 </th>
					<td>
						<input type="text" name="run" class="number readonly" readonly="readonly" value="{{projectInfo.testRun==0?'否':projectInfo.testRun==1?'是':''}}" class="required dropDownList"/>
					</td>
				</tr>
				<tr>
					<th>开始时间</th>
					<td><input type="text" name="sdate" class="date readonly" readonly="readonly" placeholder="请选择" value="{{projectInfo.sdate}}"/></td>
					<th>结束时间</th>
					<td><input type="text" name="edate" class="date readonly" readonly="readonly" placeholder="请选择" value="{{projectInfo.edate}}"/></td>
				</tr>
				<tr>
					<th>项目周期/月</th>
					<td><input type="text" name="ppm" class="number readonly" readonly="readonly" value="{{projectInfo.ppm}}"/></td>
					<th>项目周期/天</th>
					<td><input type="text" name="ppw" class="number readonly" readonly="readonly" value="{{projectInfo.ppw}}"/></td>
				</tr>
				<tr>
					<th>项目状态</th>
					<td>
						<input type="text" name="proStatusName" class="number readonly" readonly="readonly" value="{{projectInfo.proStatus==1?'登记':projectInfo.proStatus==2?'激活':projectInfo.proStatus==3?'关闭':''}}" class="required dropDownList"/>
					</td>
					<th>项目阶段</th>
					<td>
						<input type="text" name="proPhaseName" class="number readonly" readonly="readonly" value="{{showProPhase(projectInfo.proPhase)}}" class="required dropDownList"/>
					</td>
				</tr>
				<!--<tr>
					<th>初始工作量</th>
					<td><input type="text" name="initWorkload" class="number readonly" readonly="readonly" value="{{projectInfo.initWorkload}}"/></td>
					<th>核查标准量（周）</th>
					<td><input type="text" name="qcMin" class="number readonly" readonly="readonly" value="{{projectInfo.qcMin}}"/></td>
				</tr>-->
				<tr>
					<th>进度计算方式</th>
					<td>
						<input type="text" name="progressModeName" value="{{projectInfo.progressModeName}}" readonly="readonly" class="readonly"/>
						<input type="hidden" name="progressMode" value="{{projectInfo.progressMode}}"/>
					</td>
					<th></th>
					<td></td>
				</tr>
				<tr>
					<th>备注</th>
					<td colspan="3">
						<textarea name="remarks" cols="98" rows="4" class="readonly" readonly="readonly" >{{projectInfo.remarks}}</textarea>
					</td>
				</tr>
			</table>
			
		</div>
		
		<div class="form_div" id="lay2">
			<table>
				<tr>
					<th>合同总价</th>
					<td width="300"><input type="text" name="tprice" value="{{projectInfo.tprice}}" class="readonly" readonly="readonly"/></td>
					<th>单价</th>
					<td width="300"><input type="text" name="uprice" value="{{projectInfo.uprice}}" class="readonly" readonly="readonly"/></td>
				</tr>
				<tr>
					<th>预算收入</th>
					<td><input type="text" name="income" value="{{projectInfo.income}}" class="readonly" readonly="readonly"/></td>
					<th>结算方式</th>
					<td><input type="text" name="clearform" value="{{projectInfo.clearform}}" class="readonly" readonly="readonly"/></td>
				</tr>
				<tr>
					<th>合同编号</th>
					<td><input type="text" name="contractNo" value="{{projectInfo.contractNo}}" class="readonly" readonly="readonly"/></td>
					<th>合同日期</th>
					<td><input type="text" name="contractDate" value="{{projectInfo.contractDate}}"  class="readonly" readonly="readonly"/></td>
				</tr>
			</table>
		</div>
		
		<div class="form_div" id="lay3">
<!-- 			<table> -->
<!-- 				<tr ng-repeat="item in kpiList" ng-class="{'sgreen':item.kpiType==1, 'sred':item.kpiType==2}"> -->
<!-- 					<th> -->
<!-- 						<span ng-if="item.kpiType==1">（外业指标）</span> -->
<!-- 						<span ng-if="item.kpiType==2">（内业指标）</span> -->
<!-- 						{{item.kpiName}} -->
<!-- 					</th> -->
<!-- 					<td><input type="text" name="{{item.kpiCode}}" group="kpi" class="readonly" readonly="readonly" value="{{item.kpiValue}}"/>{{item.kpiUnit}}</td> -->
<!-- 					<td >标准工作量：<input type="text" name="{{item.kpiCode}}_standardHours" class="readonly" readonly="readonly" value="{{item.standardHours}}"/>{{item.kpiUnit}}/8小时</td> -->
<!--  				ng-if="item.kpiType!=3"	<td ng-if="item.kpiType==3"><input type="hidden" name="{{item.kpiCode}}_standardHours" class="number" value="{{item.standardHours}}"/></td> -->
<!-- 					<td colspan="2">{{item.kpiDesc}}</td> -->
<!-- 				</tr> -->
<!-- 			</table> -->
<!-- 			<input type="hidden" name="kpiData"/> -->
		</div>
		
		<div class="form_bottom">
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">

function getUrlParams(){
	var params={};
	var url = location.href;
	var start = url.indexOf("?", 0)+1;
	var paramsStr = url.substring(start, url.length);
	var paramsArr = paramsStr.split("&");
	for(var i=0;i<paramsArr.length;i++){
		var kv = paramsArr[i].split("=");
		var k = kv[0];
		var v = kv[1];
		params[k]=v;
	}
	return params;
}
var selectedUnitCode="";
var validator;
var userData;

var ngScope;
var app = angular.module("mdu", []);
app.controller("ctrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.projectInfo={};
	$scope.kpiList=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	var params = getUrlParams();
	
	/* 视图渲染 */
	$(".tabs>a").each(function(){
		var layId = $(this).attr("href");
		var idx = $(".tabs>a").index($(this));
		if(idx!=0){
			$(layId).hide();
			$(layId).attr("data-show", "0");
		}else{
			$(layId).attr("data-show", "1");
		}
		$(this).click(function(){
			$(".tabs>.selected").removeClass("selected");
			$(this).addClass("selected");
			var layId = $(this).attr("href");
			$("div[data-show=1]").hide();
			$("div[data-show=1]").attr("data-show", "0");
			$(layId).show();
			$(layId).attr("data-show", "1");
			
		});
	});
	
	/* HTTP GET */
	$scope.httpGet = function(_conf){
		var commonParams = "currentPage="+$scope.currentPage+"&ticket="+$scope.ticket;
		var params = "";
		if(_conf.data){
			params = toUrlParams(_conf.data);
		}
		if(_conf.url.indexOf("?")==-1){
			if(params.length>0){
				params="?"+params;
				commonParams="&"+commonParams;
			}else{
				commonParams="?"+commonParams;
			}
		}else{
			params="&"+params;
			commonParams="&"+commonParams;
		}
		$http.get(serviceBasePath+_conf.url+params+commonParams).success(function(response){
				if(response.statusCode==401){
					new ShowDlog().prompt({
						icon:"warning",
						msg:"用户登录过期！请重新登录！",
						done:function(){
							window.noLogin(location.href);
						},
						t:2800
					});
					return;
				}
				_conf.success(response);
				if(_conf.pageChange){
					$scope.createPageBar(response.totalPage, response.currentPage, _conf.pageChange);
				}
			});
	};
	
	/* 指标列表 */
	$scope.loadKpiListFromPlan=function(proNo){
		$scope.httpGet({
			url:"eap/pmsServices/pm/planKpi/listAll",
			data:{"proNo":proNo, "planNo":"-1"},
			success:function(res){
				$scope.kpiList = $scope.filterPerCnt(res.list);
			}
		});
	};
	
	$scope.filterPerCnt=function(arr){
		var arrN=[];
		for(var i=0; i<arr.length; i++){
			var item = arr[i];
			if(item.isPerCnt==1){
				continue;
			}
			arrN.push(item);
		}
		return arrN;
	};
	
	/* 数据加载 */
	$scope.loadProject=function(proNo){
		$http.get(serviceBasePath+"eap/pmsServices/pm/baseMgr/pmBase/get?proNo="
			+proNo+"&ticket="+ticket).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../login.html";
				return;
			}
			$scope.projectInfo = response.data;
			$scope.loadKpiListFromPlan($scope.projectInfo.proNo);
		});
	};
	/* 初始加载 */
	$scope.loadProject(params.proNo);
	
	/* 取消 */
	$scope.onCancel = function(){
		if(params.from){
			location.href=params.from;
		}else{
			history.go(-1);
		}
	};
	
	$scope.showProPhase=function(proPhase){
		return proPhase==1?'前期':
			proPhase==2?'中期':
			proPhase==3?'后期':
			proPhase==4?'更新类':
			proPhase==5?'维护类':
			proPhase==6?'已竣工':
			proPhase==7?'项目暂停':
			proPhase==8?'暂未开展':
			proPhase==9?'试点中':
			proPhase==10?'作废取消':
			proPhase==11?'外包':
			proPhase==12?'备注':''
	};
	
});
</script>
</body>
</html>
