<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.notice.dao.SmNoticeReceiveMapper" >
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.notice.vo.SmNoticeReceive" >
   
    <id column="rowid" property="rowid" jdbcType="BIGINT" />
    <result column="NOTICE_ID" property="noticeId" jdbcType="BIGINT" />
    <result column="ACCOUNT_CODE" property="accountCode" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    
    rowid, NOTICE_ID, ACCOUNT_CODE
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    
    select 
    <include refid="Base_Column_List" />
    from sm_notice_receive
    where rowid = #{rowid,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
   
    delete from sm_notice_receive
    where rowid = #{rowid,jdbcType=BIGINT}
  </delete>
  
  
  <insert id="insert" parameterType="com.glens.pwCloudOs.notice.vo.SmNoticeReceive" >
    
    insert into sm_notice_receive (rowid, NOTICE_ID, ACCOUNT_CODE
      )
    values (#{rowid,jdbcType=BIGINT}, #{noticeId,jdbcType=BIGINT}, #{accountCode,jdbcType=VARCHAR}
      )
  </insert>
  
  
  <insert id="insertSelective" parameterType="com.glens.pwCloudOs.notice.vo.SmNoticeReceive" >
   
    insert into sm_notice_receive
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rowid != null" >
        rowid,
      </if>
      <if test="noticeId != null" >
        NOTICE_ID,
      </if>
      <if test="accountCode != null" >
        ACCOUNT_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rowid != null" >
        #{rowid,jdbcType=BIGINT},
      </if>
      <if test="noticeId != null" >
        #{noticeId,jdbcType=BIGINT},
      </if>
      <if test="accountCode != null" >
        #{accountCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.glens.pwCloudOs.notice.vo.SmNoticeReceive" >
    
    update sm_notice_receive
    <set >
      <if test="noticeId != null" >
        NOTICE_ID = #{noticeId,jdbcType=BIGINT},
      </if>
      <if test="accountCode != null" >
        ACCOUNT_CODE = #{accountCode,jdbcType=VARCHAR},
      </if>
    </set>
    where rowid = #{rowid,jdbcType=BIGINT}
  </update>
  
  
  <update id="updateByPrimaryKey" parameterType="com.glens.pwCloudOs.notice.vo.SmNoticeReceive" >
    
    update sm_notice_receive
    set NOTICE_ID = #{noticeId,jdbcType=BIGINT},
      ACCOUNT_CODE = #{accountCode,jdbcType=VARCHAR}
    where rowid = #{rowid,jdbcType=BIGINT}
  </update>
</mapper>