<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.glens.pwCloudOs.materielMg.assetMg.asset.check.dao.GmAssetCheckMapper">

	<resultMap id="BaseResultMap"
		type="com.glens.pwCloudOs.materielMg.assetMg.asset.vo.GmAssetCheck">
		<id column="rowid" property="rowid" jdbcType="BIGINT" />
		<result column="ASSET_CODE" property="assetCode" jdbcType="VARCHAR" />
		<result column="CHECK_EMPLOYEE_CODE" property="checkEmployeeCode"
			jdbcType="VARCHAR" />
		<result column="CHECK_DEAL_DATE" property="checkDealDate"
			jdbcType="VARCHAR" />
		<result column="LOAN_PRO_NO" property="loanProNo" jdbcType="VARCHAR" />
		<result column="LOAN_PRO_NAME" property="loanProName" jdbcType="VARCHAR" />
		<result column="LOAN_UNIT_CODE" property="loanUnitCode"
			jdbcType="VARCHAR" />
		<result column="LOAN_UNIT_NAME" property="loanUnitName"
			jdbcType="VARCHAR" />
		<result column="LOAN_EMPLOYEECODE" property="loanEmployeecode"
			jdbcType="VARCHAR" />
		<result column="LOAN_EMPLOYEENAME" property="loanEmployeename"
			jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="PIC1" property="pic1" jdbcType="VARCHAR" />
		<result column="PIC2" property="pic2" jdbcType="VARCHAR" />
		<result column="PIC3" property="pic3" jdbcType="VARCHAR" />
		<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
		<result column="CLIENT" property="client3" jdbcType="VARCHAR" />
		<result column="CHECK_END_DATE" property="checkEndDate"
			jdbcType="VARCHAR" />

	</resultMap>

	<sql id="Base_Column_List">
		rowid, ASSET_CODE, CHECK_EMPLOYEE_CODE, CHECK_DEAL_DATE, LOAN_PRO_NO,
		LOAN_PRO_NAME,
		LOAN_UNIT_CODE, LOAN_UNIT_NAME, LOAN_EMPLOYEECODE, LOAN_EMPLOYEENAME, STATUS, PIC1,
		PIC2, PIC3,REMARKS,CLIENT,CHECK_END_DATE
	</sql>

	<sql id="Base_Column_List1">
		a.ASSET_QR_CODE, a.ASSET_CODE,a.ASSET_NAME, a.ASSET_TYPE_CODE, a.PRICE1, a.PRICE2,
		a.BILL, DATE_FORMAT(a.DATE_PURCHASE,'%Y-%m-%d') DATE_PURCHASE,
		DATE_FORMAT(a.DATE_STORAGE,'%Y-%m-%d')
		DATE_STORAGE,DATE_FORMAT(a.DATE_DUMP,'%Y-%m-%d') DATE_DUMP,
		a.DUMP_AMOUNT, a.STATUS, a.LOAN_EMPLOYEECODE, a.LOAN_EMPLOYEENAME,
		a.LOAN_UNIT_CODE, a.LOAN_UNIT_NAME, a.LOAN_PRO_NO, a.LOAN_PRO_NAME,
		a.LOCATION, a.VA_NO, a.VA_OIL,
		a.VA_OIL_CONSUMPTION, a.VA_INIT_MILEAGE,a.VA_ENGINE_NO,a.VA_CARFRAME_NO,a.REMARKS,
		b.ASSET_TYPE_NAME, c.ASSET_CLASS_NAME,
		case when VA_NO is null then '' else
		CONCAT(a.VA_NO,',',a.VA_OIL,',',a.VA_OIL_CONSUMPTION,',',
		a.VA_INIT_MILEAGE) end ASSET_DESC,a.ASSET_MARK,
		a.BRAND,a.MODEL_NO,a.FORMS,case when a.STATUS=1 then '闲置' when
		a.STATUS=2 then '在用（部门）' when a.STATUS=3 then '在用（项目）' when a.STATUS=4
		then '项目维修'
		when a.STATUS=5 then '维修' when a.STATUS=6 then '待报废' when a.STATUS=7 then
		'已报废' end STATUSNAME
	</sql>

	<select id="queryGmAssetCheck" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from gm_asset_check
		where rowid=#{rowid}
	</select>

	<select id="queryForCount" parameterType="map" resultType="int">
		select count(1) from (select 
		a.ASSET_QR_CODE, a.ASSET_CODE,a.ASSET_NAME, a.ASSET_TYPE_CODE, format(a.PRICE1,2)
		PRICE1, format(a.PRICE2,2) PRICE2, a.BILL,
		DATE_FORMAT(a.DATE_PURCHASE,'%Y-%m-%d') DATE_PURCHASE,
		DATE_FORMAT(a.DATE_STORAGE,'%Y-%m-%d')
		DATE_STORAGE,DATE_FORMAT(a.DATE_DUMP,'%Y-%m-%d') DATE_DUMP,
		a.DUMP_AMOUNT, a.STATUS, a.LOAN_EMPLOYEECODE, a.LOAN_EMPLOYEENAME,
		a.LOAN_UNIT_CODE, a.LOAN_UNIT_NAME, a.LOAN_PRO_NO, a.LOAN_PRO_NAME,
		a.LOCATION, a.VA_NO, a.VA_OIL,
		a.VA_OIL_CONSUMPTION, a.VA_INIT_MILEAGE,a.VA_ENGINE_NO,a.VA_CARFRAME_NO,a.REMARKS,
		b.ASSET_TYPE_NAME, c.ASSET_CLASS_NAME,
		case when VA_NO is null then '' else
		CONCAT(a.VA_NO,',',a.VA_OIL,',',a.VA_OIL_CONSUMPTION,',',
		a.VA_INIT_MILEAGE) end ASSET_DESC,a.ASSET_MARK,
		a.BRAND,a.MODEL_NO,a.FORMS,case when a.STATUS=1 then '闲置' when
		a.STATUS=2 then '在用（部门）' when a.STATUS=3 then '在用（项目）' when a.STATUS=4
		then '项目维修'
		when a.STATUS=5 then '维修' when a.STATUS=6 then '待报废' when a.STATUS=7 then
		'已报废' end STATUSNAME,ifnull(e.CLIENTS,'0')
		CLIENTS,ifnull(e.CLIENTSMAN,'0') CLIENTSMAN
		from gm_asset_base a
		<if test="districtManager!=null and districtManager!=''">
			join pm_base ab on a.LOAN_PRO_NO=ab.PRO_NO and DISTRICT_MANAGER=#{districtManager}
		</if>
		<if test="proManager!=null and proManager!=''">
			join pm_base ab on a.LOAN_PRO_NO=ab.PRO_NO and EMPLOYEECODE=#{proManager}
		</if>
		join GM_ASSET_TYPE b on a.ASSET_TYPE_CODE=b.ASSET_TYPE_CODE
		join GM_ASSET_CLASS c on b.ASSET_CLASS_CODE=c.ASSET_CLASS_CODE
		LEFT JOIN (
		SELECT
		b.ASSET_CODE,
		GROUP_CONCAT(
			 b.CLIENT
			ORDER BY
				b.CHECK_DEAL_DATE
		) CLIENTSMAN,
		count(DISTINCT b.CLIENT) CLIENTS
		FROM
		gm_asset_check b
		WHERE
		LEFT (b.CHECK_DEAL_DATE, 10) = #{fromDate}
		GROUP BY
		b.ASSET_CODE
		) e ON a.ASSET_CODE = e.ASSET_CODE
		where a.SYS_PROCESS_FLAG='1' and a.IS_MARK='1' 
			<if test="isPeriod!=null and isPeriod!=''">
				and a.STOCK_PERIOD=#{isPeriod}
			</if>
		)  k
		where 1=1
		<if test="assetClassCode != null and assetClassCode !=''">
			and k.ASSET_CLASS_CODE=#{assetClassCode}
		</if>
		<if test="assetTypeCode != null and assetTypeCode !=''">
			and k.ASSET_TYPE_CODE=#{assetTypeCode}
		</if>

		<if test="searchName != null and searchName != ''">
			and (
			k.ASSET_NAME like concat('%', #{searchName}, '%') or
			k.BRAND like concat('%', #{searchName}, '%') or
			k.LOAN_EMPLOYEENAME like concat('%', #{searchName}, '%') or
			k.LOAN_UNIT_NAME like concat('%', #{searchName}, '%') or
			k.LOAN_PRO_NAME like concat('%', #{searchName}, '%') or
			k.FORMS like concat('%', #{searchName}, '%')
			)
		</if>
		<if test="loanProNo != null and loanProNo != ''">
			and k.LOAN_PRO_NO = #{loanProNo}
		</if>
		<if test="loanUnitCode != null and loanUnitCode != ''">
			and k.LOAN_UNIT_CODE = #{loanUnitCode}
		</if>
		
		<if test="isUse != null">
			 <if test="isUse==1">
			 	AND (find_in_set('1', k.CLIENTSMAN) AND find_in_set('2', k.CLIENTSMAN) and  k.CLIENTSMAN like '1%')
			 </if>
			 <if test="isUse==2">
				 AND (k.clients = 1 and  k.CLIENTSMAN like '1%' )
			 </if>
			 <if test="isUse==3">
			 	and k.clients = 0 and k.status!=8
			 </if>
			  <if test="isUse==4">
				 AND (k.CLIENTSMAN like '2%' )
			 </if>
			 <if test="isUse==5">
				 AND k.status=8
			 </if>
		</if>
	</select>
	

	<select id="queryForPage" parameterType="map" resultType="map">
		select * from (
		select
		a.ASSET_QR_CODE, a.ASSET_CODE,a.ASSET_NAME, a.ASSET_TYPE_CODE, format(a.PRICE1,2)
		PRICE1, format(a.PRICE2,2) PRICE2, a.BILL,
		DATE_FORMAT(a.DATE_PURCHASE,'%Y-%m-%d') DATE_PURCHASE,
		DATE_FORMAT(a.DATE_STORAGE,'%Y-%m-%d')
		DATE_STORAGE,DATE_FORMAT(a.DATE_DUMP,'%Y-%m-%d') DATE_DUMP,
		a.DUMP_AMOUNT, a.STATUS, a.LOAN_EMPLOYEECODE, a.LOAN_EMPLOYEENAME,
		a.LOAN_UNIT_CODE, a.LOAN_UNIT_NAME, a.LOAN_PRO_NO, a.LOAN_PRO_NAME,
		a.LOCATION, a.VA_NO, a.VA_OIL,
		a.VA_OIL_CONSUMPTION, a.VA_INIT_MILEAGE,a.VA_ENGINE_NO,a.VA_CARFRAME_NO,a.REMARKS,
		b.ASSET_TYPE_NAME, c.ASSET_CLASS_NAME,
		case when VA_NO is null then '' else
		CONCAT(a.VA_NO,',',a.VA_OIL,',',a.VA_OIL_CONSUMPTION,',',
		a.VA_INIT_MILEAGE) end ASSET_DESC,a.ASSET_MARK,
		a.BRAND,a.MODEL_NO,a.FORMS,case when a.STATUS=1 then '闲置' when
		a.STATUS=2 then '在用（部门）' when a.STATUS=3 then '在用（项目）' when a.STATUS=4
		then '项目维修'
		when a.STATUS=5 then '维修' when a.STATUS=6 then '待报废' when a.STATUS=7 then
		'已报废' when a.STATUS=8 then	'总部仓库闲置' end STATUSNAME,ifnull(e.CLIENTS,'0')
		CLIENTS,ifnull(e.CLIENTSMAN,'0') CLIENTSMAN,
		case when a.STOCK_PERIOD='1' then '日' when a.STOCK_PERIOD='2' then '周' when a.STOCK_PERIOD='3' then '月' end STOCK_PERIOD_NAME
		from gm_asset_base a
		<if test="districtManager!=null and districtManager!=''">
			join pm_base ab on a.LOAN_PRO_NO=ab.PRO_NO and DISTRICT_MANAGER=#{districtManager}
		</if>
		<if test="proManager!=null and proManager!=''">
			join pm_base ab on a.LOAN_PRO_NO=ab.PRO_NO and EMPLOYEECODE=#{proManager}
		</if>
		join GM_ASSET_TYPE b on a.ASSET_TYPE_CODE=b.ASSET_TYPE_CODE
		join GM_ASSET_CLASS c on b.ASSET_CLASS_CODE=c.ASSET_CLASS_CODE
		LEFT JOIN (
		SELECT
		b.ASSET_CODE,
		GROUP_CONCAT(
		 b.CLIENT
			ORDER BY
				b.CHECK_DEAL_DATE
		) CLIENTSMAN,
		count(DISTINCT b.CLIENT) CLIENTS
		FROM
		gm_asset_check b
		WHERE
		LEFT (b.CHECK_DEAL_DATE, 10) = #{fromDate}
		GROUP BY
		b.ASSET_CODE
		) e ON a.ASSET_CODE = e.ASSET_CODE
		where a.SYS_PROCESS_FLAG='1' and a.IS_MARK='1' 
			<if test="isPeriod!=null and isPeriod!=''">
				and a.STOCK_PERIOD=#{isPeriod}
			</if>
		) k
		where 1=1
		<if test="assetClassCode != null and assetClassCode !=''">
			and k.ASSET_CLASS_CODE=#{assetClassCode}
		</if>
		<if test="assetTypeCode != null and assetTypeCode !=''">
			and k.ASSET_TYPE_CODE=#{assetTypeCode}
		</if>
		<if test="searchName != null and searchName != ''">
			and (
			k.ASSET_NAME like concat('%', #{searchName}, '%') or
			k.BRAND like concat('%', #{searchName}, '%') or
			k.LOAN_EMPLOYEENAME like concat('%', #{searchName}, '%') or
			k.LOAN_UNIT_NAME like concat('%', #{searchName}, '%') or
			k.LOAN_PRO_NAME like concat('%', #{searchName}, '%') or
			k.FORMS like concat('%', #{searchName}, '%')
			)
		</if>

		<if test="loanProNo != null and loanProNo != ''">
			and k.LOAN_PRO_NO = #{loanProNo}
		</if>

		<if test="loanUnitCode != null and loanUnitCode != ''">
			and k.LOAN_UNIT_CODE = #{loanUnitCode}
		</if>
		
		<if test="isUse != null">
			 <if test="isUse==1">
			 	AND (find_in_set('1', k.CLIENTSMAN) AND find_in_set('2', k.CLIENTSMAN) and  k.CLIENTSMAN like '1%')
			 </if>
			 <if test="isUse==2">
				 AND (k.clients = 1 and  k.CLIENTSMAN like '1%' )
			 </if>
			 <if test="isUse==3">
			 	and k.clients = 0  and k.status!=8
			 </if>
			 <if test="isUse==4">
				 AND (k.CLIENTSMAN like '2%' )
			 </if>
			 <if test="isUse==5">
				 AND k.status=8
			 </if>
		</if>
		limit #{firstResult},#{maxResult}
	</select>


	<select id="queryForExport" parameterType="map" resultType="map">
	set @mycnt=0;
	select * from (
		select
		(@mycnt :=@mycnt + 1) AS rowno,
		a.ASSET_QR_CODE, a.ASSET_CODE,a.ASSET_NAME, a.ASSET_TYPE_CODE, format(a.PRICE1,2)
		PRICE1, format(a.PRICE2,2) PRICE2, a.BILL,
		DATE_FORMAT(a.DATE_PURCHASE,'%Y-%m-%d') DATE_PURCHASE,
		DATE_FORMAT(a.DATE_STORAGE,'%Y-%m-%d')
		DATE_STORAGE,DATE_FORMAT(a.DATE_DUMP,'%Y-%m-%d') DATE_DUMP,
		a.DUMP_AMOUNT, a.STATUS, a.LOAN_EMPLOYEECODE, a.LOAN_EMPLOYEENAME,
		a.LOAN_UNIT_CODE, a.LOAN_UNIT_NAME, a.LOAN_PRO_NO, a.LOAN_PRO_NAME,
		a.LOCATION, a.VA_NO, a.VA_OIL,
		a.VA_OIL_CONSUMPTION, a.VA_INIT_MILEAGE,a.VA_ENGINE_NO,a.VA_CARFRAME_NO,a.REMARKS,
		b.ASSET_TYPE_NAME, c.ASSET_CLASS_NAME,
		case when VA_NO is null then '' else
		CONCAT(a.VA_NO,',',a.VA_OIL,',',a.VA_OIL_CONSUMPTION,',',
		a.VA_INIT_MILEAGE) end ASSET_DESC,a.ASSET_MARK,
		a.BRAND,a.MODEL_NO,a.FORMS,case when a.STATUS=1 then '闲置' when
		a.STATUS=2 then '在用（部门）' when a.STATUS=3 then '在用（项目）' when a.STATUS=4
		then '项目维修'
		when a.STATUS=5 then '维修' when a.STATUS=6 then '待报废' when a.STATUS=7 then
		'已报废' when a.STATUS=8 then	'总部仓库闲置' end STATUSNAME,ifnull(e.CLIENTS,'0')
		CLIENTS,ifnull(e.CLIENTSMAN,'0') CLIENTSMAN,
		case when a.STOCK_PERIOD='1' then '日' when a.STOCK_PERIOD='2' then '周' when a.STOCK_PERIOD='3' then '月' end STOCK_PERIOD_NAME
		from gm_asset_base a
		<if test="districtManager!=null and districtManager!=''">
			join pm_base ab on a.LOAN_PRO_NO=ab.PRO_NO and DISTRICT_MANAGER=#{districtManager}
		</if>
		<if test="proManager!=null and proManager!=''">
			join pm_base ab on a.LOAN_PRO_NO=ab.PRO_NO and EMPLOYEECODE=#{proManager}
		</if>
		join GM_ASSET_TYPE b on a.ASSET_TYPE_CODE=b.ASSET_TYPE_CODE
		join GM_ASSET_CLASS c on b.ASSET_CLASS_CODE=c.ASSET_CLASS_CODE
		LEFT JOIN (
		SELECT
		b.ASSET_CODE,
		GROUP_CONCAT(
		 b.CLIENT
			ORDER BY
				b.CHECK_DEAL_DATE
		) CLIENTSMAN,
		count(DISTINCT b.CLIENT) CLIENTS
		FROM
		gm_asset_check b
		WHERE
		LEFT (b.CHECK_DEAL_DATE, 10) = #{fromDate}
		GROUP BY
		b.ASSET_CODE
		) e ON a.ASSET_CODE = e.ASSET_CODE
		where a.SYS_PROCESS_FLAG='1' and a.IS_MARK='1' 
			<if test="isPeriod!=null and isPeriod!=''">
				and a.STOCK_PERIOD=#{isPeriod}
			</if>
		) k
		where 1=1
		<if test="assetClassCode != null and assetClassCode !=''">
			and k.ASSET_CLASS_CODE=#{assetClassCode}
		</if>
		<if test="assetTypeCode != null and assetTypeCode !=''">
			and k.ASSET_TYPE_CODE=#{assetTypeCode}
		</if>
		<if test="searchName != null and searchName != ''">
			and (
			k.ASSET_NAME like concat('%', #{searchName}, '%') or
			k.BRAND like concat('%', #{searchName}, '%') or
			k.LOAN_EMPLOYEENAME like concat('%', #{searchName}, '%') or
			k.LOAN_UNIT_NAME like concat('%', #{searchName}, '%') or
			k.LOAN_PRO_NAME like concat('%', #{searchName}, '%') or
			k.FORMS like concat('%', #{searchName}, '%')
			)
		</if>

		<if test="loanProNo != null and loanProNo != ''">
			and k.LOAN_PRO_NO = #{loanProNo}
		</if>

		<if test="loanUnitCode != null and loanUnitCode != ''">
			and k.LOAN_UNIT_CODE = #{loanUnitCode}
		</if>
		
		<if test="isUse != null">
			 <if test="isUse==1">
			 	AND (find_in_set('1', k.CLIENTSMAN) AND find_in_set('2', k.CLIENTSMAN) and  k.CLIENTSMAN like '1%')
			 </if>
			 <if test="isUse==2">
				 AND (k.clients = 1 and  k.CLIENTSMAN like '1%' )
			 </if>
			 <if test="isUse==3">
			 	and k.clients = 0 and k.status!=8
			 </if>
			  <if test="isUse==4">
				 AND (k.CLIENTSMAN like '2%' )
			 </if>
			 <if test="isUse==5">
				 AND k.status=8
			 </if>
		</if>
		
	</select>


	<select id="queryImagesForCount" parameterType="map" resultType="int">
		SELECT
		count(1)
		FROM
		gm_asset_check b
		WHERE
		b.SYS_PROCESS_FLAG = '1'
		AND b.ASSET_CODE = #{assetCode}
		<if test="fromDate!=null and fromDate!=''">
			and b.CHECK_DEAL_DATE >= #{fromDate}
		</if>
		<if test="toDate!=null and toDate!=''">
			and b.CHECK_DEAL_DATE &lt;= #{toDate}
		</if>
	</select>

	<select id="queryImagesForPage" parameterType="map" resultType="map">
		SELECT
		b.PIC1,
		b.PIC2,
		b.PIC3,
		b.CHECK_DEAL_DATE
		FROM
		gm_asset_check b
		WHERE
		b.SYS_PROCESS_FLAG = '1'
		AND b.ASSET_CODE = #{assetCode}
		<if test="fromDate!=null and fromDate!=''">
			and b.CHECK_DEAL_DATE >= #{fromDate}
		</if>
		<if test="toDate!=null and toDate!=''">
			and b.CHECK_DEAL_DATE &lt;= #{toDate}
		</if>
		limit #{firstResult},#{maxResult}
	</select>


	<select id="findById" resultType="map" parameterType="map">
		select
		a.ASSET_QR_CODE, a.ASSET_CODE,a.ASSET_NAME, a.ASSET_TYPE_CODE, format(a.PRICE1,2)
		PRICE1, format(a.PRICE2,2) PRICE2, a.BILL,
		DATE_FORMAT(a.DATE_PURCHASE,'%Y-%m-%d') DATE_PURCHASE,
		DATE_FORMAT(a.DATE_STORAGE,'%Y-%m-%d')
		DATE_STORAGE,DATE_FORMAT(a.DATE_DUMP,'%Y-%m-%d') DATE_DUMP,
		a.DUMP_AMOUNT, a.STATUS, a.LOAN_EMPLOYEECODE, a.LOAN_EMPLOYEENAME,
		a.LOAN_UNIT_CODE, a.LOAN_UNIT_NAME, a.LOAN_PRO_NO, a.LOAN_PRO_NAME,
		a.LOCATION, a.VA_NO, a.VA_OIL,
		a.VA_OIL_CONSUMPTION, a.VA_INIT_MILEAGE,a.VA_ENGINE_NO,a.VA_CARFRAME_NO,a.REMARKS,
		b.ASSET_TYPE_NAME, c.ASSET_CLASS_NAME,
		case when VA_NO is null then '' else
		CONCAT(a.VA_NO,',',a.VA_OIL,',',a.VA_OIL_CONSUMPTION,',',
		a.VA_INIT_MILEAGE) end ASSET_DESC,a.ASSET_MARK,
		a.BRAND,a.MODEL_NO,a.FORMS,case when a.STATUS=1 then '闲置' when
		a.STATUS=2 then '在用（部门）' when a.STATUS=3 then '在用（项目）' when a.STATUS=4
		then '项目维修'
		when a.STATUS=5 then '维修' when a.STATUS=6 then '待报废' when a.STATUS=7 then
		'已报废' end STATUSNAME,d.CHECK_DEAL_DATE, E.EMPLOYEENAME
		CHECK_EMPLOYEE_NAME,d.PIC1,d.PIC2,d.PIC3
		from gm_asset_base a
		join gm_asset_check d on a.ASSET_CODE=d.ASSET_CODE
		join GM_ASSET_TYPE b on a.ASSET_TYPE_CODE=b.ASSET_TYPE_CODE
		join GM_ASSET_CLASS c on b.ASSET_CLASS_CODE=c.ASSET_CLASS_CODE
		JOIN MD_EMPLOYEE E ON d.CHECK_EMPLOYEE_CODE=e.EMPLOYEECODE
		where a.SYS_PROCESS_FLAG='1'
		and d.rowid = #{rowid}
	</select>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from gm_asset_check
		where rowid = #{rowid,jdbcType=BIGINT}
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from gm_asset_check
		where rowid = #{rowid,jdbcType=BIGINT}
	</delete>

	<insert id="insert"
		parameterType="com.glens.pwCloudOs.materielMg.assetMg.asset.vo.GmAssetCheck">
		insert into gm_asset_check (rowid, ASSET_CODE, CHECK_EMPLOYEE_CODE,
		CHECK_DEAL_DATE, LOAN_PRO_NO, LOAN_PRO_NAME,
		LOAN_UNIT_CODE, LOAN_UNIT_NAME, LOAN_EMPLOYEECODE,
		LOAN_EMPLOYEENAME, STATUS, PIC1,
		PIC2, PIC3, SYS_CREATE_TIME,
		SYS_UPDATE_TIME, SYS_DELETE_TIME, SYS_PROCESS_FLAG,
		REMARKS,CLIENT,CHECK_END_DATE)
		values (#{rowid,jdbcType=BIGINT}, #{assetCode,jdbcType=VARCHAR},
		#{checkEmployeeCode,jdbcType=VARCHAR},
		#{checkDealDate,jdbcType=VARCHAR}, #{loanProNo,jdbcType=VARCHAR},
		#{loanProName,jdbcType=VARCHAR},
		#{loanUnitCode,jdbcType=VARCHAR}, #{loanUnitName,jdbcType=VARCHAR},
		#{loanEmployeecode,jdbcType=VARCHAR},
		#{loanEmployeename,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
		#{pic1,jdbcType=VARCHAR},
		#{pic2,jdbcType=VARCHAR}, #{pic3,jdbcType=VARCHAR}, #{sysCreateTime,jdbcType=TIMESTAMP},
		#{sysUpdateTime,jdbcType=TIMESTAMP},
		#{sysDeleteTime,jdbcType=TIMESTAMP}, #{sysProcessFlag,jdbcType=CHAR},
		#{remarks,jdbcType=VARCHAR},#{client3},#{checkEndDate})
	</insert>

	<insert id="insertSelective"
		parameterType="com.glens.pwCloudOs.materielMg.assetMg.asset.vo.GmAssetCheck">
		insert into gm_asset_check
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="rowid != null">
				rowid,
			</if>
			<if test="assetCode != null">
				ASSET_CODE,
			</if>
			<if test="checkEmployeeCode != null">
				CHECK_EMPLOYEE_CODE,
			</if>
			<if test="checkDealDate != null">
				CHECK_DEAL_DATE,
			</if>
			<if test="loanProNo != null">
				LOAN_PRO_NO,
			</if>
			<if test="loanProName != null">
				LOAN_PRO_NAME,
			</if>
			<if test="loanUnitCode != null">
				LOAN_UNIT_CODE,
			</if>
			<if test="loanUnitName != null">
				LOAN_UNIT_NAME,
			</if>
			<if test="loanEmployeecode != null">
				LOAN_EMPLOYEECODE,
			</if>
			<if test="loanEmployeename != null">
				LOAN_EMPLOYEENAME,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="pic1 != null">
				PIC1,
			</if>
			<if test="pic2 != null">
				PIC2,
			</if>
			<if test="pic3 != null">
				PIC3,
			</if>
			<if test="sysCreateTime != null">
				SYS_CREATE_TIME,
			</if>
			<if test="sysUpdateTime != null">
				SYS_UPDATE_TIME,
			</if>
			<if test="sysDeleteTime != null">
				SYS_DELETE_TIME,
			</if>
			<if test="sysProcessFlag != null">
				SYS_PROCESS_FLAG,
			</if>
			<if test="remarks != null">
				REMARKS,
			</if>
			<if test="client3 != null">
				CLIENT,
			</if>
			<if test="checkEndDate != null">
				CHECK_END_DATE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="rowid != null">
				#{rowid,jdbcType=BIGINT},
			</if>
			<if test="assetCode != null">
				#{assetCode,jdbcType=VARCHAR},
			</if>
			<if test="checkEmployeeCode != null">
				#{checkEmployeeCode,jdbcType=VARCHAR},
			</if>
			<if test="checkDealDate != null">
				#{checkDealDate,jdbcType=VARCHAR},
			</if>
			<if test="loanProNo != null">
				#{loanProNo,jdbcType=VARCHAR},
			</if>
			<if test="loanProName != null">
				#{loanProName,jdbcType=VARCHAR},
			</if>
			<if test="loanUnitCode != null">
				#{loanUnitCode,jdbcType=VARCHAR},
			</if>
			<if test="loanUnitName != null">
				#{loanUnitName,jdbcType=VARCHAR},
			</if>
			<if test="loanEmployeecode != null">
				#{loanEmployeecode,jdbcType=VARCHAR},
			</if>
			<if test="loanEmployeename != null">
				#{loanEmployeename,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="pic1 != null">
				#{pic1,jdbcType=VARCHAR},
			</if>
			<if test="pic2 != null">
				#{pic2,jdbcType=VARCHAR},
			</if>
			<if test="pic3 != null">
				#{pic3,jdbcType=VARCHAR},
			</if>
			<if test="sysCreateTime != null">
				#{sysCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sysUpdateTime != null">
				#{sysUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sysDeleteTime != null">
				#{sysDeleteTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sysProcessFlag != null">
				#{sysProcessFlag,jdbcType=CHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="client3 != null">
				#{client3,jdbcType=VARCHAR},
			</if>
			<if test="checkEndDate != null">
				#{checkEndDate,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKeySelective"
		parameterType="com.glens.pwCloudOs.materielMg.assetMg.asset.vo.GmAssetCheck">
		update gm_asset_check
		<set>
			<if test="assetCode != null">
				ASSET_CODE = #{assetCode,jdbcType=VARCHAR},
			</if>
			<if test="checkEmployeeCode != null">
				CHECK_EMPLOYEE_CODE = #{checkEmployeeCode,jdbcType=VARCHAR},
			</if>
			<if test="checkDealDate != null">
				CHECK_DEAL_DATE = #{checkDealDate,jdbcType=VARCHAR},
			</if>
			<if test="loanProNo != null">
				LOAN_PRO_NO = #{loanProNo,jdbcType=VARCHAR},
			</if>
			<if test="loanProName != null">
				LOAN_PRO_NAME = #{loanProName,jdbcType=VARCHAR},
			</if>
			<if test="loanUnitCode != null">
				LOAN_UNIT_CODE = #{loanUnitCode,jdbcType=VARCHAR},
			</if>
			<if test="loanUnitName != null">
				LOAN_UNIT_NAME = #{loanUnitName,jdbcType=VARCHAR},
			</if>
			<if test="loanEmployeecode != null">
				LOAN_EMPLOYEECODE = #{loanEmployeecode,jdbcType=VARCHAR},
			</if>
			<if test="loanEmployeename != null">
				LOAN_EMPLOYEENAME = #{loanEmployeename,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=VARCHAR},
			</if>
			<if test="pic1 != null">
				PIC1 = #{pic1,jdbcType=VARCHAR},
			</if>
			<if test="pic2 != null">
				PIC2 = #{pic2,jdbcType=VARCHAR},
			</if>
			<if test="pic3 != null">
				PIC3 = #{pic3,jdbcType=VARCHAR},
			</if>
			<if test="sysCreateTime != null">
				SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sysUpdateTime != null">
				SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sysDeleteTime != null">
				SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sysProcessFlag != null">
				SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
			</if>
			<if test="remarks != null">
				REMARKS = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="checkEndDate != null">
				CHECK_END_DATE = #{checkEndDate,jdbcType=VARCHAR},
			</if>
		</set>
		where rowid = #{rowid,jdbcType=BIGINT}
	</update>


	<update id="updateByPrimaryKey"
		parameterType="com.glens.pwCloudOs.materielMg.assetMg.asset.vo.GmAssetCheck">
		update gm_asset_check
		set ASSET_CODE = #{assetCode,jdbcType=VARCHAR},
		CHECK_EMPLOYEE_CODE = #{checkEmployeeCode,jdbcType=VARCHAR},
		CHECK_DEAL_DATE = #{checkDealDate,jdbcType=VARCHAR},
		LOAN_PRO_NO = #{loanProNo,jdbcType=VARCHAR},
		LOAN_PRO_NAME = #{loanProName,jdbcType=VARCHAR},
		LOAN_UNIT_CODE = #{loanUnitCode,jdbcType=VARCHAR},
		LOAN_UNIT_NAME = #{loanUnitName,jdbcType=VARCHAR},
		LOAN_EMPLOYEECODE = #{loanEmployeecode,jdbcType=VARCHAR},
		LOAN_EMPLOYEENAME = #{loanEmployeename,jdbcType=VARCHAR},
		STATUS = #{status,jdbcType=VARCHAR},
		PIC1 = #{pic1,jdbcType=VARCHAR},
		PIC2 = #{pic2,jdbcType=VARCHAR},
		PIC3 = #{pic3,jdbcType=VARCHAR},
		SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
		SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
		SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
		SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
		REMARKS = #{remarks,jdbcType=VARCHAR}
		where rowid = #{rowid,jdbcType=BIGINT}
	</update>

	<select id="queryTodayStatus" parameterType="map" resultType="map">
		SELECT
		b.CLIENT,
		count(1) cnt
		FROM
		gm_asset_check b
		WHERE
		b.ASSET_CODE = #{assetCode}
		AND LEFT (b.CHECK_DEAL_DATE, 10) = #{queryDate}
		GROUP BY
		b.CLIENT
	</select>

	<select id="assetUserList" parameterType="map" resultType="map">
		SELECT
		b.rowid,
		b.ASSET_CODE,
		b.CHECK_DEAL_DATE,
		ifnull(b.CHECK_END_DATE,'') CHECK_END_DATE,
		b.CHECK_EMPLOYEE_CODE,
		case
		when b.CLIENT=1 then '运维宝' else '外业宝' end CLIENT,
		c.ASSET_NAME,
		d.EMPLOYEENAME
		FROM
		gm_asset_check b
		JOIN gm_asset_base c ON b.ASSET_CODE = c.ASSET_CODE
		JOIN md_employee d ON b.CHECK_EMPLOYEE_CODE = d.EMPLOYEECODE
		WHERE
		b.SYS_PROCESS_FLAG = '1'
		AND b.ASSET_CODE = #{assetCode}
		AND LEFT (b.CHECK_DEAL_DATE, 10) = #{fromDate}
	</select>

	<select id="queryLatestAssetCheck" parameterType="map"
		resultType="map">
		SELECT
		b.ROWID,
		b.CHECK_EMPLOYEE_CODE,
		b.CHECK_DEAL_DATE,
		b.CLIENT
		FROM
		gm_asset_check b
		WHERE
		b.SYS_PROCESS_FLAG = '1'
		AND b.ASSET_CODE = #{assetCode}
		ORDER BY
		b.CHECK_DEAL_DATE DESC
		LIMIT 1
	</select>

</mapper>