<!DOCTYPE HTML>
<html>
<head>
<title> 人员管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
body{padding:0;margin:0;background:url(../../../img/daily-bg2.jpg) no-repeat top;}
.daily{}
.daily .daily-title{text-align:center;padding:20px 0 15px 0;border:solid 0px;}
.daily .daily-title label{font-size:26px;line-height:26px;font-family:微软雅黑;border:solid 0px;}
.daily .promanager{text-align:center;padding-right:30px;font-family:微软雅黑;font-size:12px;color:#666;line-height:18px;}
.daily .daily-table{border-top:solid 1px #09f;margin-top:15px;background:#fff;margin-left:40px;margin-right:40px;}
.daily .daily-table table{width:100%;border-collapse: collapse;}
.daily .daily-table table td{font-size:13px;font-family:微软雅黑;padding:8px 8px 8px 8px;}
.daily .btn-bar{position:absolute;bottom:0px;left:0px;right:0px;border:solid 0px;padding:8px 30px 8px 30px;margin-bottom:0px;text-align:right;background:#f4f4f4;}
.daily .line{border-top:solid 1px #ccc;line-height:1px;}
.daily .text{color:#888;}
.title_cancel{display:inline-block;width:70px;height:28px;background: url(../../../img/bnt_back.png) no-repeat;
font-size:13px;text-decoration:none;line-height:28px;text-align:center;padding-left:10px;margin-top:5px;color:#666;cursor: pointer;}
.num{color:#ff6600;font-weight:bold;}
.table th, .table td{border:solid 1px #ccc;}
.lightblue{color:#0088ff;}
</style>

</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="daily">
	<div class="daily-title"><label>{{daily.proName}}({{daily.reportDate}})项目日报</label></div>
	<div class="promanager">项目经理：{{daily.proManager}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上报时间：{{daily.sysCreateTime}}</div>
	<div class="daily-table">
<!-- 		<table> -->
<!-- 			<tr style="background:#f0f0f0;"> -->
<!-- 				<td width="100">&nbsp;</td> -->
<!-- 				<td><b>本日计划完成量</b></td> -->
<!-- 				<td class="lightblue">外业计划完成量：<span class="num">{{daily.clonePlanOwWordload}}</span>（{{unit}}）</td> -->
<!-- 				<td class="lightblue">内业计划完成量：<span class="num">{{daily.clonePlanIwWordload}}</span>（{{unit}}）</td> -->
<!-- 			</tr> -->
<!-- 		</table> -->
		<div class="line">&nbsp;</div>
		<table class="table" id="dataTable">
			<tr>
				<td rowspan="2" align="center" width="30"><span style="display:block;width:14px;word-wrap:break-word;font-weight:bold;">当日完成指标</span></td>
				<td colspan="4" style="padding:0;">
					<table width="100%" style="border:solid 2px #fff;">
						<tr ng-repeat="item in outGroup">
							<td ng-if="$index==0" rowspan="{{outGroup.length}}" width="30" align="center"><span style="display:block;width:14px;word-wrap:break-word;font-weight:bold;">外业指标</span></td>
							<td ng-repeat-start="kpi in item">{{kpi.kpiName}}
								<span ng-if="kpi.kpiWeight">（{{kpi.kpiWeight}}%）</span>
							</td>
							<td ng-repeat-end>{{kpi.kpiValue}}<span ng-if="kpi.kpiUnit">（{{kpi.kpiUnit}}）</span></td>
						</tr>
						<tr ng-repeat="item in inGroup">
							<td ng-if="$index==0" rowspan="{{inGroup.length}}" align="center"><span style="display:block;width:14px;word-wrap:break-word;font-weight:bold;">内业指标</span></td>
							<td ng-repeat-start="kpi in item">{{kpi.kpiName}}
								<span ng-if="kpi.kpiWeight">（{{kpi.kpiWeight}}%）</span>
							</td>
							<td ng-repeat-end>{{kpi.kpiValue}}<span ng-if="kpi.kpiUnit">（{{kpi.kpiUnit}}）</span></td>
						</tr>
						<tr ng-if="extGroup.length>0" ng-repeat="item in extGroup">
							<td ng-if="$index==0" rowspan="{{extGroup.length}}" align="center"><span style="display:block;width:14px;word-wrap:break-word;font-weight:bold;">附属指标</span></td>
							<td ng-repeat-start="kpi in item">{{kpi.kpiName}}
								<span ng-if="kpi.kpiWeight">（{{kpi.kpiWeight}}%）</span>
							</td>
							<td ng-repeat-end>{{kpi.kpiValue}}<span ng-if="kpi.kpiUnit">（{{kpi.kpiUnit}}）</span></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2">
<!-- 					<p class="lightblue">当日外业完成总工作量：<span class="num">{{outSum}}</span>（{{unit}}）</p> -->
					<p class="lightblue">外业完成工作量（折算后）：<span class="num">{{daily.actualOwWordload}}</span>（{{unit}}）</p>
				</td>
				<td colspan="2">
<!-- 					<p class="lightblue">当日内业完成总工作量：<span class="num">{{inSum}}</span>（{{unit}}）</p> -->
					<p class="lightblue">内业完成工作量（折算后）：<span class="num">{{daily.actualIwWordload}}</span>（{{unit}}）</p>
				</td>
			</tr>
			
			<tr>
				<td rowspan="3" align="center" width="30"><span style="display:block;width:14px;word-wrap:break-word;font-weight:bold;">当日完成说明</span></td>
				<td colspan="2" align="center"><b>外业说明</b></td>
				<td colspan="2" align="center"><b>内业说明</b></td>
			</tr>
			<tr>
				<td colspan="2">投入人员: {{daily.actualOwPns}}人</td>
				<td colspan="2">投入人员: {{daily.actualIwPns}}人</td>
			</tr>
			<tr>
<!-- 				<td>完成说明</td> -->
				<td colspan="2" style="">&nbsp;&nbsp;&nbsp;&nbsp;{{daily.actualOwWorkDesc}}</td>
<!-- 				<td>完成说明</td> -->
				<td colspan="2" style="">&nbsp;&nbsp;&nbsp;&nbsp;{{daily.actualIwWorkDesc}}</td>
			</tr>
<!-- 			<tr> -->
<!-- 				<td align="center"><span style="display:block;width:14px;word-wrap:break-word;font-weight:bold;">次日计划</span></td> -->
<!-- 				<td colspan="2"> -->
<!-- 					<p class="lightblue">外业计划完成工作量：<span class="num">{{daily.planOwWordload}}</span>（{{unit}}）</p> -->
<!-- 				</td> -->
<!-- 				<td colspan="2"> -->
<!-- 					<p class="lightblue">内业计划完成工作量：<span class="num">{{daily.planIwWordload}}</span>（{{unit}}）</p> -->
<!-- 				</td> -->
<!-- 			</tr> -->
			
			
			
<!-- 			<tr ng-if="daily.owSumType == '1'" style="background:#EDF4FF;border:dashed 1px #72BBFF;"> -->
<!-- 				<td>当日探测量：{{daily.actualOwCable}}</td> -->
<!-- 				<td>当日定位量：{{daily.actualOwLocate}}</td> -->
<!-- 				<td>当日挂牌量：{{daily.actualOwCard}}</td> -->
<!-- 			</tr> -->
<!-- 			<tr ng-if="daily.owSumType == '1'" style="background:#FFFF99;border:dashed 1px #FF9966;"> -->
<!-- 				<td>当日外业完成总工作量：{{getSum(daily.owSumType, daily.actualOwCable, daily.actualOwLocate, daily.actualOwCard, daily.proPhase)}}</td> -->
<!-- 				<td>&nbsp;</td> -->
<!-- 				<td>&nbsp;</td> -->
<!-- 			</tr> -->
<!-- 			<tr ng-if="daily.owSumType == '2'" style="background:#EDF4FF;border:dashed 1px #72BBFF;"> -->
<!-- 				<td colspan="2">当日探测量：{{daily.actualOwCable}}</td> -->
<!-- 				<td>当日挂牌量：{{daily.actualOwCard}}</td> -->
<!-- 			</tr> -->
<!-- 			<tr ng-if="daily.owSumType == '2'" style="background:#FFFF99;border:dashed 1px #FF9966;"> -->
<!-- 				<td colspan="2">当日外业完成总工作量：{{getSum(daily.owSumType, daily.actualOwCable, 0, daily.actualOwCard, daily.proPhase)}}</td> -->
<!-- 				<td>&nbsp;</td> -->
<!-- 			</tr> -->
		
		
	
		</table>
	</div>
	<br><br><br><br>
<!-- 	<div class="btn-bar"> -->
<!-- 		<a href="javascript:" ng-click="onCancel()" class="title_cancel"> -->
<!-- 			关闭 -->
<!-- 		</a> -->
<!-- 	</div> -->
</div>

<script type="text/javascript">


simpleController({
	init:function($scope, $http){
		/* init */
		$scope.curUnit={};
		$scope.daily={};
		$scope.kpiList = [];// 项目指标
		$scope.kpiTable = [];// 项目指标分行列排版
		
		$scope.outGroup = [];
		$scope.inGroup = [];
		$scope.extGroup = [];
		
		$scope.pmBase={};
		$scope.proPhase=0;// 项目阶段
		$scope.unit="";
		
		$scope.outSum=0;
		$scope.inSum=0;
		
		var params = getUrlParams();
		$scope.daily=parent.selectedItem;
		$scope.owSumType=$scope.daily.owSumType;
		
		
		$scope.onCancel=function(){
			parent.$dlog.close();
		};
		
		window.onscroll=function(){
			var top = document.body.scrollTop;
			var objTop = 0-top;
			$(".btn-bar").css({bottom:objTop});
		}
		
		/* 查询项目信息 */
		$scope.httpGet({
			url:"eap/pmsServices/pm/baseMgr/pmBase/get?proNo="+$scope.daily.proNo,
			success:function(response){
				$scope.pmBase = response.data;
				$scope.proPhase = response.data.proPhase;
				$scope.unit=response.data.unitWorkload;
			}
		});
		
		/* 查询项目信息 */
		$scope.httpGet({
			url:"eap/pmsServices/pm/schedulePlan/pmDayKpi/queryByProNoAndReportDate?proNo="+$scope.daily.proNo+"&reportDate="+$scope.daily.reportDate,
			success:function(response){
				$scope.kpiList = response.list;
				$scope.getKpiTable($scope.kpiList);
				$scope.doSum($scope.kpiList);
			}
		});
		/* 指标列表
		$scope.loadKpiList=function(categoryCode){
			$scope.httpGet({
				url:"eap/pmsServices/pm/kpiLib/listAll",
				data:{"categoryCode":categoryCode},
				success:function(res){
					$scope.kpiList = res.list;
					//$scope.kpiTable = 
					$scope.getKpiTable($scope.kpiList);
				}
			});
		}; */
		
		/* tool function */
		$scope.getOut=function(arr){
			var arrN=[];
			for(var i=0;i<arr.length;i++){
				var kpi = arr[i];
				if(kpi.isPerCnt==1){// 过滤人数
					continue;
				}
				if(kpi.kpiType==1){// 外业
					arrN.push(kpi);
				}
			}
			return arrN;
		};
		$scope.getIn=function(arr){
			var arrN=[];
			for(var i=0;i<arr.length;i++){
				var kpi = arr[i];
				if(kpi.isPerCnt==1){// 过滤人数
					continue;
				}
				if(kpi.kpiType==2){// 内业
					arrN.push(kpi);
				}
			}
			return arrN;
		};
		$scope.getExt=function(arr){
			var arrN=[];
			for(var i=0;i<arr.length;i++){
				var kpi = arr[i];
				if(kpi.isPerCnt==1){// 过滤人数
					continue;
				}
				if(kpi.kpiType==3){// 附属
					arrN.push(kpi);
				}
			}
			return arrN;
		};
		
		/* 计算不折算的外业内业量 */
		$scope.doSum=function(arr){
			var outSum=0, inSum=0;
			var outKpi = $scope.getOut(arr);
			var inKpi = $scope.getIn(arr);
			/* 计算外业工作量 */
			var A=0,B=0,C=0;
			for(var i=0; i<outKpi.length; i++){
				var kpi = outKpi[i];
				if(kpi.mergeFlag == '2'){
					continue;// 不参与计算
				}
				if($scope.owSumType=='1'){// 江苏电缆探测ABC
					if(kpi.itemLabel=="A"){
						A+=kpi.kpiValue;
					}else if(kpi.itemLabel=="B"){
						B+=kpi.kpiValue;
					}else if(kpi.itemLabel=="C"){
						C+=kpi.kpiValue;
					}
				}else if($scope.owSumType=='2'){
					if(kpi.itemLabel=="A"){
						A+=kpi.kpiValue;
					}else if(kpi.itemLabel=="C"){
						C+=kpi.kpiValue;
					}
				}else{
					outSum+=kpi.kpiValue;
				}
			}
			if($scope.owSumType=='1'){// 江苏电缆探测ABC
				var cKm=C/40.0;
				if($scope.proPhase==3){
					cKm=C/25.0;
				}
				if(!(isNaN(A) || isNaN(B) || isNaN(C))){
					outSum=A+B+cKm;
				}
			}else if($scope.owSumType=='2'){// 山东电缆探测AC
				var cKm=C/40.0;
				if($scope.proPhase==3){
					cKm=C/25.0;
				}
				if(!(isNaN(A) || isNaN(C))){
					outSum=A+cKm;
					//$("#oSum").html(sum.toFixed(3));
				}
			}
			/* 计算内业工作量 */
			for(var i=0; i<inKpi.length; i++){
				var kpi = inKpi[i];
				if(kpi.mergeFlag == '2'){
					continue;// 不参与计算
				}
				inSum+=kpi.kpiValue;
			}
			$scope.outSum = decim(outSum, 2);
			$scope.inSum = decim(inSum, 2);
		};
		
		$scope.getKpiTable = function(arr){
			var outGroup = [], inGroup = [], extGroup = [];
			var outKpi = $scope.getOut(arr);
			var inKpi = $scope.getIn(arr);
			var extKpi = $scope.getExt(arr);
			
			for(var i=0; i<outKpi.length; i++){
				var kpi = outKpi[i];
				if(outGroup.length==0){
					outGroup.push([]);
				}
				if(i!=0 && i%2==0){
					outGroup.push([]);
				}
				var tr = outGroup[outGroup.length-1]
				tr.push(kpi);
			}
			var tr = outGroup[outGroup.length-1]
			if(tr && tr.length==1){
				tr.push("");
			}
			
			
			for(var i=0; i<inKpi.length; i++){
				var kpi = inKpi[i];
				if(inGroup.length==0){
					inGroup.push([]);
				}
				if(i!=0 && i%2==0){
					inGroup.push([]);
				}
				var tr = inGroup[inGroup.length-1]
				tr.push(kpi);
			}
			var tr = inGroup[inGroup.length-1]
			if(tr && tr.length==1){
				tr.push("");
			}
			
			
			for(var i=0; i<extKpi.length; i++){
				var kpi = extKpi[i];
				if(extGroup.length==0){
					extGroup.push([]);
				}
				if(i!=0 && i%2==0){
					extGroup.push([]);
				}
				var tr = extGroup[extGroup.length-1]
				tr.push(kpi);
			}
			var tr = extGroup[extGroup.length-1]
			if(tr && tr.length==1){
				tr.push("");
			}
			
			$scope.outGroup = outGroup;
			$scope.inGroup = inGroup;
			$scope.extGroup = extGroup;
		};
		
		$scope.getSum=function(type,a,b,c,phase){
			if(type==1){
				var cKm=c/40.0;
				if(phase==3){
					cKm=c/25.0;
				}
				return (a+b+cKm).toFixed(3);
			}else if(type==2){
				var cKm=c/40.0;
				if(phase==3){
					cKm=c/25.0;
				}
				return (a+cKm).toFixed(3);
			}
		};
	}
});
</script>
</body>
</html>
