<!DOCTYPE HTML>
<html>
<head>
<title>工作明细维护</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>
<script type="text/javascript" src="../../../js/ExportExcel.js"></script>
<script type="text/javascript" src="../../../js/ViewState.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />


<style type="text/css">
	.warning{background:red;color:#fff;}
	.switch_btn_group{border:solid 1px #3385FF;min-height:30px;float:left;border-radius:15px; position:absolute;right:20px;top:0px;}
	.switch_btn_group a{display:inline-block;float:left;background:#fff;color:#3385FF;text-decoration:none;font-size:13px;
		line-height:30px;text-align:center;margin:0 1px 0 0;min-width:60px;}
	.switch_btn_group a.selected{background:#3385FF;color:#fff;}
	.switch_btn_group a:first-of-type{border-top-left-radius:15px;border-bottom-left-radius:15px;}
	.switch_btn_group a:last-of-type{border-top-right-radius:15px;border-bottom-right-radius:15px;margin:0;}
	.dialog-imp{width:600px;height:340px;}
	.dlog-edit{width:850px;height:600px;}
	.dlog-edit2{width:550px;height:400px;}
	.dlog-import{width:460px;height:200px;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl" storagekey="pm.schedulePlan.jobdescriptionMar">

<div class="list">
	<div class="list_content">
		<div class="title_div" style="height:80px;">
			<div class="title_left" style="height:80px;float:none;">
				<input type="hidden" class="dropDownArea" name="city" condition="city" viewstate="city" placeholder="请选择地区" style="width:150px;"/>
				<input type="text" viewstate="dropDownProjectType" class="dropDownProjectType" placeholder="请选择项目类别"/>
				<input type="hidden" viewstate="categoryCode"/>
				<input type="text" viewstate="proName" class="dropDownTree dropDownList" placeholder="请选择项目" style="width:206px;"/>
				<input type="hidden" viewstate="proNo"/>
				<input type="text" viewstate="sdate" id="sdate" class="dropDownList dateComponent" onclick="new Calendar().show(this)" placeholder="请选择开始日期" style="width:100px;"/>
				<input type="text" viewstate="edate" id="edate" class="dropDownList dateComponent" onclick="new Calendar().show(this)" placeholder="请选择结束日期" style="width:100px;"/>
				<input type="text" viewstate="searchName" name="searchName" placeholder="地区、项目名称、负责人、作业人员" maxlength="32" style="width:200px;" down-lay-is-show="false" edit="0">
				<input type="text" viewstate="checkStatusName" class="dropDownList" placeholder="请选审核状态" style="width:90px;"/>
				<input type="hidden" viewstate="checkStatus"/>
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
				<div class="query_div" ng-click="doExport()">
					导出
				</div>
				<div class="query_div" ng-click="doImport()">
					导入
				</div>
				<div class="query_div" ng-if="userData.roleCode=='015'" ng-click="doCheck()">
					一键审核
				</div>
				<div class="query_div" ng-if="userData.roleCode=='003'" ng-click="doCheckBack()">
					一键退回
				</div>
				<a href="template.xlsx" style="color:#fff;">下载导入模板</a>&nbsp;&nbsp;|&nbsp;
				<a href="help.html" style="color:#fff;" target="_blank">帮助</a>
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
<!-- 			<img src="../../../img/list_Header2-.png"> -->
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">项目名称</div></th>
				<th><div align="center">项目编号</div></th>
				<th><div align="center">作业日期</div></th>
				<th><div align="center">作业人</div></th>
				<th><div align="center">作业工时</div></th>
				<th><div align="center">出勤工时</div></th>
				<th><div align="center">超出工时</div></th>
				<th><div align="center">绩效系数</div></th>
				<th><div align="center">作业类型</div></th>
				<th><div align="center">作业描述</div></th>
				<th><div align="center">工作量</div></th>
				<th><div align="center">工时评判依据</div></th>
				<th><div align="center">质量核查人员</div></th>
				<th><div align="center">质量核查日期</div></th>
<!-- 				<th><div align="center">是否有质量问题</div></th> -->
				<th><div align="center">问题备注</div></th>
				<th><div align="center">是否带薪休假</div></th>
				<th><div align="center">带薪休假类型</div></th>
				<th><div align="center">带薪休假工时</div></th>
				<th><div align="center">异地补贴（天）</div></th>
				<th><div align="center">异地补贴标准</div></th>
				<th><div align="center">餐补（天）</div></th>
				<th><div align="center">审核状态</div></th>
				<th><div align="center">操作</div></th>
			  </tr>
			  <tr class="tr2" ng-repeat="item in datalist">
			  	<td><div align="center">{{$index+1}}</div></td>
			  	<td ng-if="item.proNo_rowspan" rowspan="{{item.proNo_rowspan?item.proNo_rowspan:1}}"><div align="center">{{item.proName}}</div></td>
			  	<td ng-if="item.proNo_rowspan" rowspan="{{item.proNo_rowspan?item.proNo_rowspan:1}}"><div align="center">{{item.proCode}}</div></td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}"><div align="center">{{item.workDate}}</div></td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}"><div align="center">{{item.workerName}}</div></td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}"><div align="center">{{item.workHours}}</div></td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}"><div align="center">{{item.attendanceHours}}</div></td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}"><div align="center">{{item.moreHours}}</div></td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}"><div align="center">{{item.pfmCoefficient}}</div></td>
			  	<td><div align="center">{{item.workTypeName}}</div></td>
			  	<td><div align="center">{{item.workDescr}}</div></td>
			  	<td><div align="center">{{item.workload}}</div></td>
			  	<td><div align="center">{{item.marker}}</div></td>
			  	<td><div align="center">{{item.qualityCheckUserName}}</div></td>
			  	<td><div align="center">{{item.qualityCheckDate}}</div></td>
<!-- 			  	<td> -->
<!-- 			  		<div align="center" ng-if="item.isFault==0">无</div> -->
<!-- 			  		<div align="center" ng-if="item.isFault==1">有</div> -->
<!-- 			  	</td> -->
			  	<td><div align="center">{{item.faultDescr}}</div></td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}">
			  		<div align="center" ng-if="item.isPaidLeave==0">否</div>
			  		<div align="center" ng-if="item.isPaidLeave==1">是</div>
			  	</td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}">
			  		<div align="center" ng-if="item.paidLeaveType==1">病假</div>
			  		<div align="center" ng-if="item.paidLeaveType==2">产假</div>
			  		<div align="center" ng-if="item.paidLeaveType==3">陪产假</div>
			  		<div align="center" ng-if="item.paidLeaveType==4">婚假</div>
			  		<div align="center" ng-if="item.paidLeaveType==5">丧假</div>
			  		<div align="center" ng-if="item.paidLeaveType==6">年假</div>
			  		<div align="center" ng-if="item.paidLeaveType==7">哺乳假</div>
			  		<div align="center" ng-if="item.paidLeaveType==8">法定节假日</div>
			  		<div align="center" ng-if="item.paidLeaveType==9">其他</div>
			  	</td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}"><div align="center">{{item.paidHours}}</div></td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}">
			  		<div align="center" ng-if="item.hasNotLocal==0">无</div>
			  		<div align="center" ng-if="item.hasNotLocal==1">有</div>
			  	</td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}">
			  		<div align="center" ng-if="item.notLocalStandard==20">（省内）组员/20元</div>
			  		<div align="center" ng-if="item.notLocalStandard==30">（省内）合伙人、经理/30元</div>
			  		<div align="center" ng-if="item.notLocalStandard==40">（省外）组员/40元</div>
			  		<div align="center" ng-if="item.notLocalStandard==50">（省外）合伙人、经理/50元</div>
			  	</td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}">
			  		<div align="center" ng-if="item.hasMeal==0">无</div>
			  		<div align="center" ng-if="item.hasMeal==1">有</div>
			  	</td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}" align="center">
			  		<span ng-if="!item.checkStatus || item.checkStatus==0" style="color:#ff6600;">未审核</span>
			  		<span ng-if="item.checkStatus==1" style="color:#33CC00;">已审核</span>
			  		<span ng-if="item.checkStatus==2" style="color:#ff6600;text-decoration:underline;" onmouseover="$(this).next().show()" onmouseout="$(this).next().hide()">已退回</span>
			  		<div ng-if="item.checkStatus==2" style="position:absolute;display:none;border:solid 1px #ff9966;background:#ffee99;padding:6px 6px;">{{item.checkDescr}}</div>
			  	</td>
			  	<td ng-if="item.name_rowspan" rowspan="{{item.name_rowspan?item.name_rowspan:1}}" align="center" style="width:120px;">
			  		<img ng-if="item.checkStatus==1 && userData.roleCode=='003'" class="operationImg" src="../../../img/unrent.png" ng-click="toBack(item)" title="退回">
			  		<img ng-if="!item.checkStatus || item.checkStatus!=1 || userData.roleCode=='003'" class="operationImg" src="../../../img/list_item_modify-icon.png" ng-click="toEdit(item)" title="修改">
			  		<img ng-if="!item.checkStatus || item.checkStatus!=1 || userData.roleCode=='003'" class="operationImg" src="../../../img/edit2.png" ng-click="toEditWorkHours(item)" title="修改工时">
			  		<img ng-if="!item.checkStatus || item.checkStatus!=1 || userData.roleCode=='003'" class="operationImg" src="../../../img/list_delete-icon.png" ng-click="doDel(item)" title="删除">
			  	</td>
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">

var cond_proStatus="2";
var cond_categoryCode="";
var cond_categoryName="";
var proNo="";
var proName="";
var sdate="";
var workerName="";
var edate="";
var selectedUnitCode="";
var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.dailyList=[];
	
	var viewState = new ViewState();
	if(!viewState.get("sdate") || viewState.get("sdate").length==0){
		date=new SimpleDateFormat({formatString:"yyyy-MM-dd"}).format(new Date());
		$("#sdate").val(date);
		$("#edate").val(date);
	}
	if(viewState.get("categoryCode") && viewState.get("categoryCode").length>0){
		cond_categoryCode = viewState.get("categoryCode");
	}
	if(viewState.get("proNo") && viewState.get("proNo").length>0){
		proNo = viewState.get("proNo");
	}
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	$scope.userData = userData;
	
	var params = getUrlParams();
	
	/* 区域 */
	new DropDownList().init({
		renderTo:".dropDownArea",
		url:"../../component/areaList.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$(".dropDownArea").val(result.name);
			ngScope.doQuery();
		}
	});

	/* 项目类型 */
	new DropDownList().init({
		renderTo:".dropDownProjectType",
		url:"../../component/projectType.html?required=false&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$(".dropDownProjectType").val(result.categoryName);
			$("input[viewstate=categoryCode]").val(result.categoryCode);
			cond_categoryCode = result.categoryCode;
			cond_categoryName=result.categoryName;
			/* 联动 */
			projectList1.setConfig("url", "../../component/projectListCheck.html?categoryCode="+cond_categoryCode+"&proStatus="+cond_proStatus+"&required=false&ticket="+ticket);
		}
	});
	
	new DropDownList().init({
		renderTo:"input[viewstate=checkStatusName]",
		data:[{id:"-1", name:"（全部）"}, {id:"0", name:"未审核"}, {id:"1", name:"已审核"}, {id:"2", name:"已退回"}],
		textField:"name",
		onSelected:function(result){
			$("input[viewstate=checkStatus]").val(result.id);
			$("input[viewstate=checkStatusName]").val(result.name);
			$("input[viewstate=checkStatusName]").focus();
		}
	});
	
	/* 项目列表 */
	var projectList1 = new DropDownList();
	projectList1.init({
		renderTo:".dropDownTree",
		url:"../../component/projectListCheck.html?categoryCode="+cond_categoryCode+"&proStatus="+cond_proStatus+"&ticket="+ticket,
		height:"200px",
		onSelected:function(projects){
			if(projects && projects.length>0){
				var proNos=[],proNames=[];
				for(var i in projects){
					var prj = projects[i];
					proNos.push(prj.proNo);
					proNames.push(prj.proName);
				}
				
				$(".dropDownTree").val(arrToStr(proNames));
				proNo=arrToStr(proNos);
				proName=arrToStr(proNames);
// 				projectList1.setConfig("url", "../../component/projectListCheck.html?categoryCode="+cond_categoryCode+"&proStatus="+cond_proStatus+"&required=false&ticket="+ticket+"&proNos="+proNo);
				$("input[viewstate=proNo]").val(proNo);
			}else{
				$(".dropDownTree").val("");
				proNo="";
				proName="";
				$("input[viewstate=proNo]").val("");
// 				projectList1.setConfig("url", "../../component/projectListCheck.html?categoryCode="+cond_categoryCode+"&proStatus="+cond_proStatus+"&required=false&ticket="+ticket+"&proNos="+proNo);
			}
			//$(".dropDownTree").val(result.proName);
// 			chooseEmployeeInProjectList.setConfig("url", "../../component/chooseEmployeeInProject.html?proNo="+result.proNo+"&ticket="+ticket);
		}
	});
	/* 项目下成员列表 */
// 	var chooseEmployeeInProjectList = new DropDownList();
// 	chooseEmployeeInProjectList.init({
// 		renderTo:"input[name=loanEmployeename1]",
// 		url:"../../component/chooseEmployeeInProject.html?ticket="+ticket,
// 		height:"200px",
// 		onSelected:function(result){
// 			var codeArr=[],nameArr=[];
// 			for(var i=0;i<result.length;i++){
// 				var code = result[i].employeeCode;
// 				var name = result[i].employeeName;
// 			}
// 			$("input[name=loanEmployeename1]").val(name);
// 			$("input[name=loanEmployeecode1]").val(code);
// 		}
// 	});

	
	
	$scope.datalist=[];
	$scope.totalRecord=0;
	$scope.loadDailyList=function(city, proNo, sdate, edate, checkStatus, currentPage,workerName,searchName){//alert(unitCode);
		if(!checkStatus || checkStatus.length==0){
			checkStatus="-1";
		}
		$http.get(serviceBasePath+"eap/pmsServices/pm/schedulePlan/workHours/list?companyCode="+userData.companyCode+"&categoryCode="+cond_categoryCode+"&city="+"&proNo="+proNo+"&startTime="
			+sdate+"&endTime="+edate+"&checkStatus="+checkStatus+"&currentPage="+currentPage+"&ticket="+ticket+"&workerName="+workerName+"&searchName="+searchName).success(function(response){
			if(response.statusCode!=200){
				alert("请求服务器失败！");
				return;
			}
				$scope.dailyList = response.list;
				$scope.totalRecord = response.totalRecord;
				$scope.datalist=[];
	 			createPageBar(response.totalPage, response.currentPage, response.totalRecord);
	 			for(var i=0;i<$scope.dailyList.length;i++){
	 				var item=$scope.dailyList[i];
					for(var j=0;j<$scope.dailyList[i].workList.length;j++){
						var it=$scope.dailyList[i].workList[j];
						for(var k in item){
							if(k=="workList"){
								continue;
							}
							it[k] = item[k];
						}
						it.checkStatus=item.checkStatus;
// 						it.hasMeal=item.hasMeal;
// 						it.hasNotLocal=item.hasNotLocal;
// 						it.isPaidLeave=item.isPaidLeave;
// 						it.paidLeaveType=item.paidLeaveType;
// 						it.proName=item.proName;
// 						it.proNo=item.proNo;
// 						it.proCode=item.proCode;
// 						it.rowid=item.rowid;
// 						it.sysCreateTime=item.sysCreateTime;
// 						it.workDate=item.workDate;
// 						it.workHours=item.workHours;
// 						it.worker=item.worker;
// 						it.workerName=item.workerName;
// 						it.paidHours=item.paidHours;
						$scope.datalist.push(it);
					}
					if($scope.dailyList[i].workList.length==0){
						$scope.datalist.push(item);
					}
	 			}
	 			$scope.format();
		});
	};
	$scope.doQuery=function(){
		viewState.collect();
		city = viewState.get("city");
		workerName= viewState.get("workerName");
		searchName= viewState.get("searchName");
		var sdate = viewState.get("sdate");
		var edate = viewState.get("edate");
		var checkStatus = viewState.get("checkStatus");
		$scope.loadDailyList(city,proNo,sdate,edate, checkStatus, 1,workerName,searchName);
	};
	/* 初始查询 */
	$scope.doQuery();
	
	$scope.doCheck=function(){
		$scope.doQuery();
		new ShowDlog().confirm({
			msg:"确定要审核已查询的结果记录吗（共"+$scope.totalRecord+"条工时记录）？审核后不可再修改！",
			ok:function(){
				viewState.collect();
				workerName= viewState.get("workerName");
				searchName= viewState.get("searchName");
				var sdate = viewState.get("sdate");
				var edate = viewState.get("edate");
				$http.get(serviceBasePath+"eap/pmsServices/pm/schedulePlan/workHours/checkWorkHours?companyCode="+userData.companyCode+"&categoryCode="+cond_categoryCode+"&proNo="+proNo+"&startTime="
						+sdate+"&endTime="+edate+"&ticket="+ticket+"&workerName="+workerName+"&searchName="+searchName).success(function(response){
						if(response.statusCode==200){
							new ShowDlog().prompt({
								icon:"success",
								msg:"审核成功！",
								t:1500,
								done:function(){
									$scope.doQuery();
								}
							});
							return;
						}else{
							new ShowDlog().prompt({
								icon:"error",
								msg:"审核失败！",
								t:1500
							});
						}
					});
			},
			cancel:function(){}
		});
	};
	
	$scope.doCheckBack=function(){
		$scope.doQuery();
		new ShowDlog().confirm({
			msg:"确定要退回已查询的结果记录吗（共"+$scope.totalRecord+"条工时记录）？",
			ok:function(){
				viewState.collect();
				workerName= viewState.get("workerName");
				searchName= viewState.get("searchName");
				var sdate = viewState.get("sdate");
				var edate = viewState.get("edate");
				$http.get(serviceBasePath+"eap/pmsServices/pm/schedulePlan/workHours/checkBackWorkHours?companyCode="+userData.companyCode+"&categoryCode="+cond_categoryCode+"&proNo="+proNo+"&startTime="
						+sdate+"&endTime="+edate+"&ticket="+ticket+"&workerName="+workerName+"&searchName="+searchName).success(function(response){
						if(response.statusCode==200){
							new ShowDlog().prompt({
								icon:"success",
								msg:"退回成功！",
								t:1500,
								done:function(){
									$scope.doQuery();
								}
							});
							return;
						}else{
							new ShowDlog().prompt({
								icon:"error",
								msg:"退回失败！",
								t:1500
							});
						}
					});
			},
			cancel:function(){}
		});
	};
	
	$scope.toBack=function(item){
		new ShowDlog().confirm({
			msg:"确定退回"+item.workerName+item.workDate+"的工时上报",
			input:true,
			ok:function(data){
				var checkDescr = encodeURIComponent(data);
				$http.get(serviceBasePath+"eap/pmsServices/pm/schedulePlan/workHours/backWorkHours?proNo="+item.proNo
						+"&checkDescr="+checkDescr+"&workDate="+item.workDate
						+"&worker="+item.worker+"&ticket="+ticket).success(function(response){
						if(response.statusCode==200){
							new ShowDlog().prompt({
								icon:"success",
								msg:"退回成功！",
								t:1500,
								done:function(){
									$scope.doQuery();
								}
							});
							return;
						}else{
							new ShowDlog().prompt({
								icon:"error",
								msg:"退回失败！",
								t:1500
							});
						}
					});
			}
		});
	};
	
	$scope.toEdit=function(item){
		new ShowDlog().showFrame("JobDescriptionEdit.html?proNo="+item.proNo+"&workDate="+item.workDate+"&worker="+item.worker, "修改", function(data){
			if("SUCCESS"==data){
				$scope.doQuery();
			}
		}, "dlog-edit");
	};
	
	$scope.toEditWorkHours=function(item){
		new ShowDlog().showFrame("workHoursEdit.html?proNo="+item.proNo+"&workDate="+item.workDate+"&worker="+item.worker,"修改工时", function(data){
			if("SUCCESS"==data){
				$scope.doQuery();
			}
		}, "dlog-edit2");
	};
	
	$scope.doDel=function(item){
		new ShowDlog().confirm({
			msg:"确定要删除？",
			ok:function(){
				$scope.exeDel(item.rowid);
			},
			cancel:function(){
				
			}
		});
	};
	$scope.exeDel=function(id){
		$http.post(serviceBasePath+"eap/pmsServices/pm/schedulePlan/workHours/delete?rowid="+id+"&ticket="+ticket).success(function(res){
			if(res.statusCode=="200"){
				new ShowDlog().prompt({
					icon:"success",
					msg:"删除成功！",
					done:function(){
						$scope.doQuery();
					},
					t:1500
				});
			}else{
				new ShowDlog().prompt({
					icon:"error",
					msg:"删除失败！",
					done:function(){
						$scope.doQuery();
					},
					t:1500
				});
			}
		}).error(function(){
			new ShowDlog().prompt({
				icon:"error",
				msg:"删除失败！",
				done:function(){
					$scope.doQuery();
				},
				t:1500
			});
		});
	};
	
	$scope.count=function(params){
		var count=0;
		for(var i=0; i<$scope.datalist.length; i++){
			var item=$scope.datalist[i];
			var flag=false;
			for(var k in params){
				if(item[k]!=params[k]){
					flag=true;
					break;
				}
			}
			if(!flag){
				count++;
			}
		}
		return count;
	};

	$scope.isFirst=function(params, key){
		var isNotFirst=false;
		for(var i=0; i<$scope.datalist.length; i++){
			var item=$scope.datalist[i];
			var flag=false;
			for(var k in params){
				if(item[k]!=params[k]){
					flag=true;
					break;
				}
			}
			if(!flag){
				if(item[key]){
					isNotFirst=true;
				}
			}
		}
		if(!isNotFirst){
			return true;
		}
	};


	$scope.format=function(){
		for(var i=0; i<$scope.datalist.length; i++){
			var item=$scope.datalist[i];
			if($scope.isFirst({proNo:item.proNo}, 'proNo_rowspan')){
				item.proNo_rowspan=$scope.count({proNo:item.proNo});
			}
			if($scope.isFirst({proNo:item.proNo, workDate:item.workDate, worker:item.worker}, 'name_rowspan')){
				item.name_rowspan=$scope.count({proNo:item.proNo, workDate:item.workDate, worker:item.worker});
			}
		}
	};

	$scope.doExport=function(){
		workerName=$("input[name=workerName]").val();
		searchName=$("input[name=searchName]").val();
		var sdate = $("#sdate").val();
		var edate = $("#edate").val();
		hrefTo({url:serviceBasePath+"eap/pmsServices/pm/schedulePlan/workHours/export?companyCode="+userData.companyCode+"&categoryCode="+cond_categoryCode+"&proNo="+proNo+"&startTime="
			+sdate+"&endTime="+edate+"&currentPage="+1+"&ticket="+ticket+"&workerName="+workerName+"&searchName="+searchName, data:{}});
	};
	$scope.doImport=function(){
		new ShowDlog().showFrame("jobDescriptionImport.html", "导入工作明细", function(data){
			if(data=="SUCCESS"){
				$scope.doQuery();
			}
		}, "dlog-import");
	};
	
	
});
function createPageBar(totalPage, curPage, totalRecord){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		totalRecord:totalRecord,
		curPage:curPage,
		prevPageText:"上一页",
		nextPageText:"下一页",
		showPageInfo:true,
		onPage:function(pageNum){
			city = $("input[viewstate=city]").val();
			workerName=$("input[name=workerName]").val();
			searchName=$("input[name=searchName]").val();
			var sdate = $("#sdate").val();
			var edate = $("#edate").val();
			var checkStatus = $("input[viewstate=checkStatus]").val();
			ngScope.loadDailyList(city,proNo,sdate,edate,checkStatus,pageNum,workerName,searchName);
		}
	});
}
</script>
</body>
</html>
