<!DOCTYPE HTML>
<html>
<head>
<title> 设备健康状况 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css"/>
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/list.css"/>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.owWordLoad{text-decoration:underline;color:#0099ff;}
	.owWordload-detail{border:solid 1px #666;background:#ffee99;color:#666;padding:4px 6px 4px 6px;position:absolute;display:none;}
	.chooseUser{width:1000px;height:500px;}
	.moduleEdit{width:850px;height:450px;}
	.yscrz{line-height:60px;border-top:1px solid #ccc;margin-top: 30px;position:relative}
	.yscrz img{position:absolute;left:100px;top:20px;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">新增项目工作日志</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<form id="saveForm" class="required-validate">
			<div class="form_div" id="lay1">
				<table>
					<tr>
						<th>工作日期</th>
						<td>
							<input type="hidden" name="checkName"/>
							<input type="hidden" name="proNo"/>
							<input type="hidden" name="employeeCode"/>
							
							<input type="text" name="reportDate" readonly="readonly" />
						</td>
						<th>项目名称</th>
						<td><input type="text" name="proName" readonly="readonly" /></td>
					</tr>
				</table>
				
				<div class="yscrz" >添加日报<img src="../../../img/add.png" title="新增" ng-click="showadd()"/></div>
			    <table class="table">
					<tr class="tr1">
						<th><div align="center">序号</div></th>
						<th><div align="center">项目名称</div></th>
						<th ng-if="stationStr==1"><div  id="stationStr" align="center">{{stationName}}</div></th>
						<th ng-if="lineStr==1"><div id="lineStr" align="center">{{lineName}}</div></th>
						<th ng-if="cablepitStr==1"><div  id="cablepitStr" align="center">{{cablepitName}}</div></th>
						<th ng-if="checkTypeNameStr==1"><div align="center">核查性质</div></th>
						<th ng-if="rectifyDateStr==1"><div align="center">核查户数</div></th>
						<th ng-if="checkResultStr==1"><div align="center">是否正确</div></th>
						<th><div align="center">责任人</div></th>
						<th><div align="center">核查人</div></th>
						<th><div align="center">核查日期</div></th>
						<th><div align="center">上报日期</div></th>
						<th><div align="center">核查情况说明</div></th>
						<th  ng-if="problemTypeNameStr==1"><div align="center">问题类型</div></th>
						<th><div align="center">整改措施</div></th>
						<th><div align="center">项目跟进</div></th>
						<th><div align="center">核查类型</div></th>
						<th><div align="center">结论</div></th>
						<th><div align="center">备注</div></th>
						<th><div align="center">操作</div></th>
					</tr>
					<tr ng-repeat="item in dateloglist  track by $index" class="tr2">
						 <td><div align="center"> {{$index+1}}</div></td>
						<td><div align="center">{{item.proName}}</div></td>
						<td ng-if="stationStr==1"><div align="center">{{item.station}}</div></td>
						<td ng-if="lineStr==1"><div align="center">{{item.line}}</div></td>
						<td ng-if="cablepitStr==1"><div align="center">{{item.cablepit}}</div></td>
						<td ng-if="checkTypeNameStr==1"><div align="center">{{item.checkTypeName}}</div></td>
						<td ng-if="rectifyDateStr==1"><div align="center">{{item.rectifyDate}}</div></td>
						<td ng-if="checkResultStr==1">
							<div ng-if="item.checkResult==0" align="center">否</div>
							<div ng-if="item.checkResult==1" align="center">是</div>
						</td>
						
						<td><div align="center">{{item.deviceLperson}}</div></td>
						<td><div align="center">{{item.checkName}}</div></td>
						<td><div align="center">{{item.checkDate}}</div></td>
						<td><div align="center">{{item.reportDate}}</div></td>
						<td><div align="center">{{item.problemDesc}}</div></td>
						<td ng-if="problemTypeNameStr==1"><div align="center">{{item.problemTypeName}}</div></td>
						<td><div align="center">{{item.rectifyDesc}}</div></td>
						<td><div align="center">{{item.proPhase}}</div></td>
						<td><div align="center">{{item.checkClassName}}</div></td>
						<td>
						   <div align="center" ng-if="item.checkResult==0">不合格</div>
						   <div align="center" ng-if="item.checkResult==1">合格</div>
						</td>
						<td><div align="center">{{item.remarks}}</div></td>
						<td>
							<div align="center"><img src="../../../img/del.png" title="删除" ng-click="deladd($index,item)"/></div>
						</td>
					</tr>
				</table>
			</div>
			<div class="form_bottom">
				<a href="javascript:" ng-click="onSave()" class="title_save">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
				</a>
				<a href="javascript:" ng-click="onCancel()" class="title_cancel">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
				</a>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">

function loadData(){
	//alert(localStorage.paramstr)
	if(localStorage.paramstr){
		//alert(1)
		jsonArr = JSON.parse(localStorage.paramstr);
		//alert(jsonArr)
		callNgFn({ctrlEl:$("body")[0],ngFn:function(scope){
			scope.dateloglist =jsonArr;
		}})
		
	}	
	
}

var jsonArr=[];
var ngScope;

simpleController({
	init:function($scope, $http){
		
		ngScope = $scope;
		$scope.curUnit={};
		$scope.userList=[];
		$scope.strs=[];
		$scope.obj={};
		$scope.stationStr=1;
		$scope.lineStr=1;
		$scope.cablepitStr=1;
		
		$scope.stationName="变电站";
		$scope.lineName="线路名称/小区名称";
		$scope.cablepitName="台区名称";
		
		
		$scope.checkTypeNameStr=1;
		$scope.rectifyDateStr=0;
		$scope.checkResultStr=0;
		$scope.problemTypeNameStr=1;
		 
		 
		
		
		
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			
			noLogin(location.href);
			return;
		}
		var userData = jQuery.parseJSON(userDataStr);
		$("input[name=employeeCode]").val(userData.employeeCode);
		$("input[name=accountCode]").val(userData.accountCode);
		$("input[name=companyCode]").val(userData.companyCode);
		ticket = $.cookie("pmsWeb_ticket");
		
		
		
		$("#checkName").val(userData.employeeName);
		var params = getUrlParams();
		var proNo=params.proNo;
		var reportDate=params.reportDate;
		var proName=decodeURIComponent(params.proName);
		
		$("input[name=proNo]").val(proNo);
		$("input[name=proName]").val(proName);
		$("input[name=reportDate]").val(reportDate);
		
		
		var proPhase=params.proPhase;
		var categoryCode=params.categoryCode;
		/* 项目名称 */
		var proNameList = new DropDownList();
		proNameList.init({
			mode:"page",
			renderTo:"input[name=wiPro]",
			url:"../component/projectList.html?required=false",
			height:"200px",
			onSelected:function(result){
				$("input[name=wiPro]").val(result.proName);
				$("input[name=wiPro]").focus();
			
			}
		});
		
		
		/* 表单验证 */
		validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					
				} 
			}
		});
		
		/* 保存 */
		$scope.onSave=function(){
			
			if($scope.dateloglist.length==0){
				
				var dialog=new ShowDlog();
				dialog.prompt({
					icon:"warning",
					msg:"填报信息不能为空!",
					done:function(){
						
					},
					t:2000
				});

				
			}
			
			
			
			for(var i=0;i<$scope.dateloglist.length;i++){
				var obj=$scope.dateloglist[i];
				
				var url="";
				
				if(i==0){
					url="eap/pmsServices/pm/schedulePlan/qualityDaily/add?isDelete=1";
				}else{
					url="eap/pmsServices/pm/schedulePlan/qualityDaily/add?isDelete=0";
				}
				
				this.httpPost({
					url:url,
					data:obj,
					success:function(response){
						new ShowDlog().prompt({
							icon:"success",
							msg:"保存成功！",
							done:function(){
								hrefTo({
									url:"qualityDaily.html",
									 data:params 
								});
							},
							t:1500
						});
						
					}
				});
				
			
			}
			
			localStorage.clear(); 
			
			
		};
		
		/* 显示新增弹框 */
		$scope.showadd=function(){
		//	alert(proNo+"  "+proName+" "+reportDate)
			new ShowDlog().showFrame("reportQualityDaily.html?proNo="+proNo+"&proName="+proName+"&reportDate="+reportDate+"&proPhase="+proPhase+"&categoryCode="+categoryCode, "新增质量日报",function(){
				//window.location.reload()
			},"moduleEdit");
		};
		
		
		var paramstr="";
		$scope.deladd=function(index,dlogobj){
			
			removeAt(jsonArr,index);
			paramstr = JSON.stringify(jsonArr);
			localStorage.paramstr =paramstr;
			window.location.reload()
			
		};
		
		/* 获取localStorage数据 */
		
		
		//alert(localStorage.paramstr)
		if(localStorage.paramstr){
			//alert(1)
			jsonArr = JSON.parse(localStorage.paramstr);
			//alert(jsonArr)
			$scope.dateloglist =jsonArr;
		}else{
			
				$http.get(serviceBasePath+"eap/pmsServices/pm/schedulePlan/qualityDaily/detailist?companyCode="+userData.companyCode+"&proNo="+proNo+"&reportDate="
					+reportDate).success(function(response){
					if(response.statusCode!=200){
						alert("请求服务器失败！");
						return;
					}
					if(response.list.length>0&&response.list[0]!=null){
						
						$scope.dateloglist = response.list;
						
						
						jsonArr=response.list;
						
						paramstr = JSON.stringify(jsonArr);
						localStorage.paramstr =paramstr;
					}
					
				});	
		}
		
		var categoryName=params.categoryName;
		//categoryName="用户普查";
		if(categoryName=="中压清理"){
			$scope.stationName="变电站";
			$scope.lineName="线路名称";
			$scope.cablepitName="核查杆塔、设备名称";
			
		}else if(categoryName.indexOf("中压电缆")>-1){
			
			$scope.stationName="变电站";
			$scope.lineName="线路名称/道路名称";
			$scope.cablepitName="电缆井名称";
		}else if(categoryName=="井井通电"){
			
			
			
			$scope.stationName="乡、镇";
			$scope.lineName="项目包/村庄";
			$scope.cablepitName="工序名称";
			
		}else if(categoryName=="用户普查"){
			
			$scope.stationStr=0;
			$scope.lineStr=0;
			$scope.cablepitStr=0;
			$scope.checkTypeNameStr=0;
			$scope.rectifyDateStr=1;
			$scope.checkResultStr=1;
			$scope.problemTypeNameStr=0;
			
		}else{
			
			$scope.stationName="变电站";
			$scope.lineName="线路名称/小区名称";
			$scope.cablepitName="台区名称";
		}

		/* 取消 */
		$scope.onCancel=function(){
			localStorage.clear(); 
			hrefTo({
				url:"qualityDaily.html",
				 data:params 
			});
		}; 
	
	}
});

</script>
</body>
</html>
