<!DOCTYPE HTML>
<html>
<head>
<title>工作明细填报</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.chooseAsset{width:1000px;height:600px;}
	.chooseUser{width:1000px;height:500px;}
	.addWork{width:80px;height:30px;line-height:30px;border:1px solid #3385ff;margin:0 auto;text-align:center;cursor:pointer;border-radius:20px;color:#3385ff}
	.addWork:hover{background:#b6d3ff;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">工作明细填报</label> 
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<div class="form_div">
			<table>
				<tr>
					<th align="right">项目名称</th>
					<td>
						<input type="text" style="display:none;" name="proNo" ng-model="workHours.proNo"/>
						<input type="text" name="proName" ng-model="workHours.proName" class="readonly" readonly="readonly" placeholder="请选择项目" maxlength="32" style="width:180px;"/>
					</td>
				</tr>
				<tr>
					<th>作业人</th>
					<td>
						<input type="text" style="display:none;" name="worker" ng-model="workHours.worker"/>
						<input type="text" name="workerName" ng-model="workHours.workerName" class="readonly" readonly="readonly" maxlength="32" style="width:180px;"/>
					</td>
				</tr>
				<tr>
					<th>作业日期</th>
					<td>
						<input type="text" name="workDate" ng-model="workHours.workDate" class="readonly" readonly="readonly" placeholder="请选择日期" maxlength="25" style="width:180px;font-size:16px;font-weight:bold;background-color:#ffff99"/>
					</td>
				</tr>
				<tr>
					<th>
						出勤工时
					</th>
					<td>
						<input type="text" name="attendanceHours" ng-model="workHours.attendanceHours" style="width:180px;font-size:16px;font-weight:bold;"/>
					</td>
				</tr>
				<tr>
					<th>
						作业工时
					</th>
					<td>
						<input type="text" name="workHours" ng-model="workHours.workHours" style="width:180px;font-size:16px;font-weight:bold;"/>
					</td>
				</tr>
				<tr>
					<th>
						超出工时
					</th>
					<td>
						<input type="text" name="moreHours" ng-model="workHours.moreHours" style="width:180px;font-size:16px;font-weight:bold;"/>
					</td>
				</tr>
			</table>
		</div>

		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提交
			</a>
		</div>
	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		/* init */
		$scope.workHours={};
		$scope.workHours.workList=[{}];
		
		var urlParams = getUrlParams();
		
		/* 加载 */
		$scope.httpGet({
			url:"eap/pmsServices/pm/schedulePlan/workHours/findByWorkerAndWorkDate",
			data:{proNo:urlParams.proNo, workDate:urlParams.workDate, worker:urlParams.worker},
			success:function(res){
				$scope.workHours = res.data;
			},
			error:function(res){
				
			}
		});
		
		$scope.onSave=function(){
			var workList = $scope.workHours.workList;
			$scope.workHours.workList=null;
			$scope.httpPost({
				url:"eap/pmsServices/pm/schedulePlan/workHours/update",
				data:$scope.workHours,
				success:function(res){
					if(res.statusCode=="200"){
						new ShowDlog().prompt({
							icon:"success",
							msg:"修改成功",
							done:function(){
								parent.$dlog.data="SUCCESS";
								parent.$dlog.close();
							},
							t:1500
						});
					}
				},
				error:function(){}
			});
		};
	}	
});
</script>
</body>
</html>
