
<!DOCTYPE HTML>
<html>
<head>
<title>复制薪酬体系</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css"/>
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.chooseUser{width:1000px;height:500px;}
	
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table style="line-height: 40px;">
				<tr>
					<th>部门</th>
					<td width="220">
						<input type="hidden" name="unitCode"/>
						<input type="text" name="unitName" class="required dropDownList" maxlength="16" placeholder="请选择"/>
					</td>
				</tr>
				<tr>
					<th>开始时间</th>
					<td width="220">
						<input type="text" id="validStartTime" name="validStartTime" style="width:110px;" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)" />
					</td>
				</tr>
				<tr>
					<th>结束时间</th>
					<td width="220">
						<input type="text" id="validEndTime" name="validEndTime" style="width:110px;" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)" />
					</td>
				</tr>
				
			</table>
		</div>
		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		/* 初始化视图 */
		new DropDownList().init({
			mode:"page",
			renderTo:"input[name=unitName]",
			url:"../../component/orgTree.html?required=true&ticket="+$scope.ticket,
			height:"200px",
			onSelected:function(result){
				$("input[name=unitName]").val(result.unitName);
				$("input[name=unitCode]").val(result.unitCode);
				$("input[name=unitName]").focus();
			}
		});
		
		/* 表单验证 */
		validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					
				} 
			}
		});
		
		
		
		

		
		/* 保存 */
		$scope.onSave=function(){
			var unitCode=$("input[name=unitCode]").val();
			var unitName=$("input[name=unitName]").val();
			var validStartTime=$("input[name=validStartTime]").val();
			var validEndTime=$("input[name=validEndTime]").val();

			var item={};
			item.unitCode = unitCode;
			item.unitName = unitName;
			item.validStartTime=validStartTime;
			item.validEndTime=validEndTime;
			parent.$dlog.data=item;
			parent.$dlog.close();

		};
		
		/* 取消 */
		$scope.onCancel=function(){
			parent.$dlog.data="cancel";
			parent.$dlog.close();
		};
	}
});

function onCustomvalid(value) {
	return /^(\d{15}$|^\d{17}(\d|X|x))$/.test(value);
}

</script>
</body>
</html>
