<!DOCTYPE HTML>
<html>
<head>
<title>薪酬修改 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
body{overflow:hidden;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">修改薪酬体系</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table style="width:800px">
				<tr>
					<th width="100px">部门</th>
					<td>
						<input type="text" name="unitName" class="dropDownTree dropDownList" style="width:250px;background-position: 228px;" placeholder="请选择部门"/>
						<input type="hidden" name="companyCode"/>
						<input type="hidden" name="frameworkCode"/>
						<input type="hidden" name="unitCode"/>
					</td>
					<th width="100px">标题</th>
					<td>
						<input type="text" name="title" class="required" style="width:250px;"/>
					</td>
				</tr>
				<tr>
					<th width="100px">开始时间</th>
					<td>
						<input type="text" name="validStartTime" placeholder="请选择启始日期" onclick="new Calendar().show(this)" class="dateComponent required" style="width:250px;">
					</td>
					<th width="100px">结束时间</th>
					<td>
						<input type="text" name="validEndTime" placeholder="请选择启始日期" onclick="new Calendar().show(this)" style="width:250px;" class="dateComponent required">
					</td>
				</tr>
				<tr>
					<th width="100px">薪酬等级</th>
					<td>
						<input type="text" name="salaryGrade" class="required number" style="width:250px;"/>
					</td>
					<th width="100px">薪酬档次</th>
					<td>
						<input type="text" name="salaryLevel" class="required number" style="width:250px;"/>
					</td>
				</tr>
				<tr>
					<th width="100px">等级名称前缀</th>
					<td>
						<input type="text" name="salaryGradeNamePrefix" class="required" style="width:250px;"/>
					</td>
					<th width="100px">等级起始索引</th>
					<td>
						<input type="text" name="salaryGradeStart" class="required number" style="width:250px;"/>
					</td>
				</tr>
				<tr>
					<th width="100px">备注</th>
					<td colspan="3">
						<textarea name="remarks" style="width:650px;height:80px"></textarea>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="form_bottom" style="width:100%;float:right;">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		$scope.valObj={};
		
		// 参数
		var urlParams = getUrlParams();
		console.log(urlParams)
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			window.noLogin(location.href);
			return;
		}
		var userData = jQuery.parseJSON(userDataStr);
		ticket = $.cookie("pmsWeb_ticket");
		new DropDownList().init({
			renderTo:".dropDownTree",
			url:"../../component/orgTree.html?ticket="+ticket,
			height:"200px",
			onSelected:function(result){
				$("input[name='unitCode']").val(result.unitCode);
				$(".dropDownTree").val(result.unitName);
			}
		});
		/* 表单验证 */
		validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					
				} 
			}
		});
		$("input[name='companyCode']").val(userData.companyCode);
		$("textarea[name='remarks']").val(urlParams.remarks);
		$("input[name='salaryGrade']").val(urlParams.salaryGrade);
		$("input[name='salaryGradeNamePrefix']").val(urlParams.salaryGradeNamePrefix);
		$("input[name='salaryGradeStart']").val(urlParams.salaryGradeStart);
		$("input[name='salaryLevel']").val(urlParams.salaryLevel);
		$("input[name='title']").val(urlParams.title);
		$("input[name='frameworkCode']").val(urlParams.frameworkCode);
		$("input[name='unitCode']").val(urlParams.unitCode);
		$("input[name='unitName']").val(urlParams.unitName);
		$("input[name='validEndTime']").val(urlParams.validEndTime);
		$("input[name='validStartTime']").val(urlParams.validStartTime);
		$scope.onSave=function(){
			if(!$("#saveForm").valid())
				return;
			var formData = serializeArrayToMap($("#saveForm").serializeArray());
			$scope.httpPost({
				url:"eap/pmsServices/hrm/salMgr/salaryFramwork/update",
				data:formData,
				success:function(res){
					if(res.statusCode==200){
						new ShowDlog().prompt({
							icon:"success",
							msg:"保存成功！",
							done:function(){
								location.href="inComeMgr.html"
							},
							t:1500
						});		
					}
				}
			});
		};
		
		$scope.onCancel=function(){
			window.history.back();
		};
	}
});
</script>
</body>
</html>
