<!DOCTYPE HTML>
<html>
<head>
<title>等级设置 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
body{overflow:hidden;}
.form_bottom{float:right;}
.form_bottom .title_save{float:right;}
.form_bottom .title_cancel{float:right;}
#saveForm input{text-indent:10px}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1" style="height:200px">
			<table style="width:100%;">
				<tr>
					<th>姓名</th>
					<td>
						<input type="text" name="userName" placeholder="请输入姓名" style="width:250px;">
					</td>
				</tr>
				<tr>
					<th>选择项目</th>
					<td>
						<input type="text" id="projectList" placeholder="请选择项目" style="width:250px;" class="dropDownList">
						<input type="hidden" name="proNo">
					</td>
				</tr>
				<tr>
					<th>匹配状况</th>
					<td>
						<input type="text" name="salaryGradeConfigName" placeholder="请选择匹配状态" class="dropDownList required" style="width:250px;">
						<input type="hidden" name="salaryGradeConfigStatus">
					</td>
				</tr>
			</table>
		</div>
		
		<div class="form_bottom" style="width:100%;float:right;">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;筛选
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		$scope.valObj={};
		
		// 参数
		var urlParams = getUrlParams();
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			window.noLogin(location.href);
			return;
		}
		var userData = jQuery.parseJSON(userDataStr);
		
		/* 项目列表 */
		var projectList = new DropDownList();
		projectList.init({
			renderTo:"#projectList",
			url:"../../component/projectList.html?ticket="+$scope.ticket,
			height:"200px",
			onSelected:function(result){
				$("#projectList").val(result.proName);
				$("input[name='proNo']").val(result.proNo);
			}
		});

		new DropDownList().init({
			renderTo:"input[name='salaryGradeConfigName']",
			data:[{id:"",name:"(全部)"}, {id:1,name:"未匹配"}, {id:2,name:"已匹配"}],
			textField:"name",
			onSelected:function(item){
				$("input[name='salaryGradeConfigName']").val(item.name);
				$("input[name='salaryGradeConfigStatus']").val(item.id);
			}
		});

		$scope.onSave=function(){
			var formData = serializeArrayToMap($("#saveForm").serializeArray());
				parent.$dlog.data={"resultCode":"SUCCESS",formData};
				parent.$dlog.close();
		};
		
		$scope.onCancel=function(){
			parent.$dlog.close();
		};
	}
});
</script>
</body>
</html>
