<!DOCTYPE HTML>
<html>
<head>
<title>等级设置 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
body{overflow:hidden;}
.form_bottom{float:right;}
.form_bottom .title_save{float:right;}
.form_bottom .title_cancel{float:right;}
#saveForm input{text-indent:10px}
.delete{float: right;color: #0078d7;cursor: pointer;padding: 3px 10px;border: 1px solid #0078d7;border-radius: 4px;}
.delete:hover{border-bottom:2px solid #0078d7}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="form_div" style="height:150px;overflow:auto">
			<div ng-repeat="item in unitInComeLevelPeople" style="margin-bottom:10px;">
				
				<span style="width:80px;overflow:hidden;display:inline-block;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;"><span>●</span> {{item.employeeName}}</span>
				&nbsp;&nbsp;&nbsp;
				<span style="color:#666">[{{item.jobNo}}]</span>
				<span  class="delete" ng-click="delectDo(item)">删除</span>
			</div>
		</div>
		
		<div class="form_bottom" style="width:100%;float:right;">
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		$scope.valObj={};
		
		// 参数
		var urlParams = getUrlParams();
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			window.noLogin(location.href);
			return;
		}
		var userData = jQuery.parseJSON(userDataStr);
		$("input[name='companyCode']").val(userData.companyCode);
		$("input[name='employeeCode']").val(urlParams.peopleCode);
		
		/* 获取部门薪酬等级设置 */
		$scope.unitInComeLevelSet={};
		$scope.unitInComeLevelPeople=[];
		$scope.httpGet({
			url:"eap/pmsServices/hrm/salMgr/salaryFramwork/unitSalarySetting",
			data:{"companyCode":$scope.userData.companyCode,"unitCode":urlParams.unitCodeforMacth,"frameworkCode":urlParams.frameworkCode,"salaryGradeNamePrefix":urlParams.salaryGradeNamePrefix},
			success:function(res){
				if(res.statusCode==200){
					$scope.unitInComeLevelSet=res.data;
					$scope.unitInComeLevelPeople=$scope.unitInComeLevelSet[urlParams.obj][urlParams.it];
				}
			}
		});
		
		$scope.delectDo=function(item){
			new ShowDlog().confirm({
				msg:"确定删除吗？",
				ok:function(){
					$scope.httpPost({
						url:"eap/pmsServices/hrm/salMgr/salaryFramwork/resetEmployeeSalaryGrade",
						data:{"companyCode":userData.companyCode,"unitCode":urlParams.unitCode,"employeeCode":item.employeeCode},
						success:function(res){
							if(res.statusCode==200){
								new ShowDlog().prompt({
									icon:"success",
									msg:"删除成功！",
									done:function(){
										parent.$dlog.data="SUCCESS";
										parent.$dlog.close();
									},
									t:1500
								});
							}
						}
					});
				}
			});

		}
		
		
		$scope.onCancel=function(){
			parent.$dlog.close();
		};
	}
});
</script>
</body>
</html>
