<!DOCTYPE HTML>
<html>
<head>
<title> 设备问题管理 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../../css/edit.css"/>

<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">添加故障问题分类</label>
			</div>
			<img src="../../../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected"></a>
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
				<tr>
					<th>父节点名称</th>
					<td width="300">
						<input type="hidden" name="companyCode"/>
						<input type="hidden" name="proNo" value="{{proNo}}"/>
						<input type="text" name="parentProblemName" value="{{parentProblemName}}" class="readonly" readonly="readonly"/>
					</td>
					<th>父节点编号</th>
					<td>
						<input type="text" name="parentProblemCode" value="{{parentProblemCode}}" class="readonly" readonly="readonly"/>
					</td>
				</tr>
				<tr>
					<th>问题名称</th>
					<td>
						<input type="text" name="problemName" class="required"/>
					</td>
					<th>问题编号</th>
					<td>
						<input type="text" name="problemCode" class="required"/>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		// 参数
		var urlParams = getUrlParams();
		
		$scope.parentProblemName = urlParams.pProblemName;
		$scope.parentProblemCode = urlParams.pProblemCode;
		$scope.proNo = urlParams.proNo;
		
		/* 表单验证 */
		validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					
				} 
			}
		});
		
		$scope.onSave=function(){
			if(!$("#saveForm").valid())
				return;
			$("input[name=companyCode]").val($scope.userData.companyCode);
			var formData = serializeArrayToMap($("#saveForm").serializeArray());
			$scope.httpPost({
				url:"eap/pmsServices/pm/taskMgr/deviceProblem/add",
				data:formData,
				success:function(res){
					if(res.statusCode==500){
						new ShowDlog().prompt({
							icon:"warning",
							msg:"问题编号重复！",
							done:function(){
								
							},
							t:1500
						});
					}
					if(res.statusCode==200){
						parent.$dlog.data="SUCCESS";
						parent.$dlog.close();
					}
				}
			});
		};
		
		$scope.onCancel=function(){
			parent.$dlog.close();
		};
	}
});
</script>
</body>
</html>
