<!DOCTYPE HTML>
<html ng-app="moduleName">
<head>
<title> 质量问题管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/ng-base.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/ViewState.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />

<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />

<link rel="stylesheet" type="text/css" href="../../../../css/list.css" />

<style type="text/css">
.dlog-edit{width:600px;height:320px;}
</style>
</head>

<body ng-controller="controllerName" storagekey="pm.taskMgr.device.qualityProblemMgr">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<input type="hidden" viewstate="deviceTypeCode"/>
				<input type="text" viewstate="deviceTypeName" class="dropDownList" placeholder="请选择设备类型"/>
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
			</div>
			<img src="../../../../img/list_Header2-.png">
			<div class="title_add" ng-click="toAdd()">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th>序号</th>
				<th>设备类型</th>
				<th>问题名称</th>
				<th>备注</th>
				<th>操作</th>
			  </tr>
			  <tr ng-repeat="item in dataList" class="tr2">
				<td align="center">{{$index+1}}</td>
				<td>{{item.deviceTypeName}}</td>
				<td>{{item.problemName}}</td>
				<td>{{item.remarks}}</td>
				<td align="center">
					<img class="operationImg" ng-click="toEdit(item)" src="../../../../img/list_item_modify-icon.png">
			    	<img class="operationImg" ng-click="doDel(item)" src="../../../../img/list_delete-icon.png">
				</td>
			  </tr>
			  
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		$scope.dataList=[];
		
		var urlParams = getUrlParams();
		var viewState = new ViewState();
		
		window.onkeyup=function(e){
			if(e.keyCode==13){
				$scope.doQuery();
			}
		};
		
		/* 设备类型 */
		new DropDownList().init({
			renderTo:"input[viewstate=deviceTypeName]",
			url:"../../../component/chooseDeviceType.html",
			onSelected:function(item){
				$("input[viewstate=deviceTypeCode]").val(item.deviceTypeCode);
				$("input[viewstate=deviceTypeName]").val(item.deviceTypeName);
				$scope.loadData();
			}
		});
		
		/* 数据加载 */
		$scope.loadData=function(){
			viewState.collect();
			$scope.httpGet({
				url:"eap/pmsServices/pm/taskMgr/qualityProblem/list",
				data:{"deviceTypeCode":viewState.get("deviceTypeCode")},
				success:function(response){
					$scope.dataList = response.list;
				},
				pageChange:function(pageNum){
					$scope.loadData();
				}
			});
		};
		
		$scope.loadData();
		/* 查询 */
		$scope.doQuery=function(){
			$scope.loadData();
		};
		/* 新增 */
		$scope.toAdd=function(){
			new ShowDlog().showFrame("qualityProblemAdd.html", "问题新增", function(res){
				if("SUCCESS"==res){
					$scope.loadData();
				}
			}, "dlog-edit");
		};
		/* 修改 */
		$scope.toEdit=function(item){
			new ShowDlog().showFrame("qualityProblemEdit.html?rowid="+item.rowid, "问题修改", function(res){
				if("SUCCESS"==res){
					$scope.loadData();
				}
			}, "dlog-edit");
		};
		/* 删除 */
		$scope.doDel=function(item){
			new ShowDlog().confirm({
				msg:"确定删除【"+item.problemName+"】?",
				ok:function(){
					$scope.httpPost({
						url:"eap/pmsServices/pm/taskMgr/qualityProblem/delete",
						data:{
							"rowid":item.rowid
						},
						success:function(res){
							new ShowDlog().prompt({
								icon:"success",
								msg:"删除成功！",
								done:function(){
									$scope.loadData();
								},
								t:1500
							});
						}
					});
				}
			});
		};
	}
});
</script>
</body>
</html>
