<!DOCTYPE HTML>
<html ng-app="timeTable">
<head>
<title> 通勤设置</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>

<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<link rel="stylesheet" type="text/css" href="../../../css/list.css" />

<style type="text/css">

</style>
</head>

<body ng-controller="timeTable">

<div class="list">
	<div class="list_content">
		<div class="title_div">
				<div class="title_left">
						<input type="text" id="projectType" class="dropDownList" placeholder="请项目类型">
						<input type="hidden" name="proNo"/>
						<input type="text" id="projectList" style="width:206px;" class="dropDownList" placeholder="请选择项目"/>
				</div>
				<img src="../../../img/list_Header2-.png">
				<div class="title_add" ng-click="toAdd()">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增
				</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">项目</div></th>
				<th><div align="center">签到时间</div></th>
				<th><div align="center">签退时间</div></th>
				<th><div align="center">标准上报点数量</div></th>
				<th><div align="center">设置时间</div></th>
				<th><div align="center">操作</div></th>
			  </tr>
			  <tr class="tr2" ng-repeat="item in dataList">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.proName}}</div></td>
				<td><div align="center">{{item.checkinTime}}</div></td>
				<td><div align="center">{{item.checkoutTime}}</div></td>
				<td><div align="center">{{item.checkPointTotal}}</div></td>
				<td><div align="center">{{item.commuteSettime}}</div></td>
				<td align="center">
					<img ng-click="toUpdate(item)" class="operationImg" src="../../../img/list_item_modify-icon.png" title="修改">
		    		<img ng-click="doDelete(item)" class="operationImg" src="../../../img/list_delete-icon.png" title="删除">
	    		</td>
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">
var cond_categoryCode="",cond_proNo="";

simpleController({
	moduleName:"timeTable",
	controllerName:"timeTable",
	init:function($scope, $http){
		
		$scope.dataList=[];
		
		/* 项目类型 */
		new DropDownList().init({
			renderTo:"#projectType",
			url:"../../component/projectType.html?ticket="+$scope.ticket,
			height:"200px",
			onSelected:function(result){
				$("#projectType").val(result.categoryName);
				cond_categoryCode = result.categoryCode;
				/* 联动 */
				projectList.setConfig("url", "../../component/projectList.html?categoryCode="+cond_categoryCode+"&ticket="+$scope.ticket);
			}
		});
		/* 项目列表 */
		var projectList = new DropDownList();
		projectList.init({
			renderTo:"#projectList",
			url:"../../component/projectList.html?categoryCode="+cond_categoryCode+"&ticket="+$scope.ticket,
			height:"200px",
			onSelected:function(result){
				$("#projectList").val(result.proName);
				cond_proNo=result.proNo;
				$scope.loadDataList();
			}
		});
		/* 加载表格数据 */
		$scope.loadDataList=function(){
			$scope.httpGet({
				url:"eap/pmsServices/commuteMgr/setting/list",
				data:{
					"companyCode":$scope.userData.companyCode,
					"proNo":cond_proNo},
				success:function(res){
					$scope.dataList = res.list;
				},
				pageChange:function(pageNum){
					$scope.loadDataList();
				}
			});
		}
		$scope.loadDataList();
		/* 新增 */
		$scope.toAdd=function(){
			hrefTo({
				url:"timeAdd.html",
				data:{"cond_proNo":cond_proNo}
			});
		};
		/* 修改 */
		$scope.toUpdate=function(item){
			hrefTo({
				url:"timeEdit.html",
				data:{"rowid":item.rowid,
					"cond_proNo":cond_proNo}
			});
		};
		/* 删除 */
		$scope.doDelete=function(item){
			new ShowDlog().confirm({
				msg:"确定删除【"+item.proName+"】的时间表吗？",
				ok:function(){
					$scope.httpPost({
						url:"eap/pmsServices/commuteMgr/setting/delete",
						data:{"rowid":item.rowid},
						success:function(res){
							if(res.statusCode==200){
								new ShowDlog().prompt({
									icon:"success",
									msg:"删除成功！",
									done:function(){
										location.reload();
									},
									t:1500
								});
							}
						}
					});
				}
			});
		};
		
	}
});
</script>
</body>
</html>
