<!DOCTYPE HTML>
<html>
<head>
<title>加油卡管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>


<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.sel{font-family: '微软雅黑';font-size: 12px;width:204px;height:27px;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">创建储备项目</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected">储备项目属性</a>
			
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
				<tr>
					<th>项目名称</th>
					<td width="300">
						
						<input type="text" name="reserveProName" class="required" />
						<input type="hidden" name="companyCode"  />
					<th>总控视图</th>
					
					<td>
						<input type="text" name="mctViewName" id="mctViewName" class="required dropDownList" placeholder="请选择总控视图" />
						<input type="hidden" name="mctViewCode"  />
					</td>
					
				</tr>
				<tr>
					
					<th>项目等级</th>
					<td>
						
						<select name="reserveProGrade" class="sel">
							<option value="1">一级</option>
							<option value="2">二级</option>
							<option value="3">三级</option>
						</select>
					</td>
					<th>审核状态</th>
					<td>
						<select name="rpAuditStateCode" class="sel">
							<option value="0">未审核</option>
							<option value="1">已审核</option>
						</select>
					</td>
					
					
				</tr>
				
				<tr>
				<th>备注 </th>
					<td><input type="text" name="remarks" /></td>
				</tr>
			</table>
			
		</div>
		
		

		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">

var validator;
var ngScope;
var userData;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.userList=[];
	
	var mydate = new Date();
	//alert(mydate.getFullYear()+"-"+(mydate.getMonth()+1)+"-"+mydate.getDate());
	
	$("input[name=matterTime]").val(mydate.getFullYear()+"-"+(mydate.getMonth()+1)+"-"+mydate.getDate());
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	$("input[name=companyCode]").val(userData.companyCode);
	
	/* 视图渲染 */
	$(".tabs>a").each(function(){
		var layId = $(this).attr("href");
		var idx = $(".tabs>a").index($(this));
		if(idx!=0){
			$(layId).hide();
			$(layId).attr("data-show", "0");
		}else{
			$(layId).attr("data-show", "1");
		}
		$(this).click(function(){
			$(".tabs>.selected").removeClass("selected");
			$(this).addClass("selected");
			var layId = $(this).attr("href");
			$("div[data-show=1]").hide();
			$("div[data-show=1]").attr("data-show", "0");
			$(layId).show();
			$(layId).attr("data-show", "1");
			
		});
	});
	
	/* 表单验证 */
	validator = $("#saveForm").validate({
		onsubmit: false,
		focusInvalid: false,
		focusCleanup: true,
		errorElement: "span",
		ignore:".ignore",
		invalidHandler: function(form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				
			} 
		}
	});
	
	
	new DropDownList().init({
		renderTo:"#mctViewName",
		url:"../../component/mctView.html",
		height:"200px",
		onSelected:function(results){
			$("input[name=mctViewName]").val(results.mctViewName);
			$("input[name=mctViewCode]").val(results.mctViewCode);
		}
	});
	
	
	
	
	/* 保存 */
	$scope.onSave = function(){
		
		var formData = $("#saveForm").serialize();
		
		if($("#saveForm").valid()){
			$.ajax({
				url:serviceBasePath+"eap/pmsServices/pe/baseMgr/reservePro/add",
				cache:false,
				method:"POST",
				data:formData,
				success:function(res){
					if(res.statusCode==200){
						new ShowDlog().prompt({msg:"添加成功！",
							done:function(){
								location.href="reserveProMgr.html";
							},
							t:1500
						});
					}else{
						//
					}
				},
				error:function(){
					
				}
			});
		}else{
			
		}
	};
	
	/* 取消 */
	$scope.onCancel = function(){
		location.href="reserveProMgr.html";
	};
	
});
</script>
</body>
</html>
