<!DOCTYPE HTML>
<html ng-app="moduleName">
<head>
<title> 设备管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<link rel="stylesheet" type="text/css" href="../../../css/list.css" />

<style type="text/css">
.device_detail{width:1000px;height:600px;}
.title_div2{border:solid 0px red;background:#4CA9FF;padding:8px 6px 8px 6px;}
.title_div2 .condLayer1{display:block;border:solid 0px;margin:6px;}
.title_div2 .condLayer2{border:solid 0px green;margin:6px;}
.title_div2 .condLayer1 input{height:28px;line-height:28px;border:solid 1px #f4f4f4;color:#666;padding:0 4px;font-family:微软雅黑;}
.title_div2 .condLayer2 input{height:28px;line-height:28px;border:solid 1px #f4f4f4;color:#666;padding:0 4px;background-color:#DAEDFF;font-family:微软雅黑;}
.title_div2 .btn{display:inline-block;height:28px;line-height:28px;margin:0 4px;padding:0 15px 0 15px;background:#f4f4f4;color:#666;font-weight:bold;cursor:pointer;border:solid 1px #89C6FF; border-radius:4px;}
.title_div2 .blue{background:#3385FF;color:#fff;}
.title_div2 .blue:hover{background:#186CE7;}
.title_div2 .pink{background:#ED7798;color:#fff;}
.title_div2 .pink:hover{background:#E54673;}
</style>
</head>

<body ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div2">
			<div class="condLayer1">
<!-- 				<input type="text" id="mctView" class="dropDownList" style="width:180px;" placeholder="请选择视图"/> -->
				<input type="text" id="proName" class="dropDownList" style="width:180px;" placeholder="请选择项目"/>
				<input type="text" name="searchName" style="width:180px;" placeholder="搜索"/>
				
				<div class="btn blue" ng-click="doQuery()">
					查询
				</div>
				<div class="btn pink" ng-click="toAdd()">
					添加所有
				</div>
				<div class="btn blue" ng-click="goBack()">
					返回
				</div>
			</div>
			
			<div class="condLayer2">
				<!-- 动态条件 -->
				<span ng-repeat="item in theadData.searchFields">
				<input ng-if="item.dtype==4" type="text" group="cond" id="{{item.ename}}" style="width:180px;" class="dropDownList" placeholder="{{item.cname}}"/>
				</span>
				<!-- 动态条件 -->
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th>序号</th>
				<th>设备名称</th>
				<th>设备号</th>
				<th>地址描述</th>
				<th>健康状况</th>
				<th ng-repeat="field in theadData.listFields">{{field.cname}}</th>
				<th>操作</th>
			  </tr>
			  <tr ng-repeat="item in dataList" class="tr2">
				<td align="center">{{$index+1}}</td>
				<td align="center">{{item.deviceObjName}}</td>
				<td align="center">{{item.deviceObjCode}}</td>
				<td align="center">{{item.addressDesc}}</td>
				<td align="center">{{item.healthName}}</td>
				<td align="center" ng-repeat="f in theadData.listFields">{{item[f.ename]}}</td>
				<td align="center">
					<img class="operationImg" ng-click="toDetail(item)" src="../../../img/list_see-icon.png" title="查看详细">
<!-- 			    	<img class="operationImg" ng-click="doDel(item)" src="../../../img/list_delete-icon.png"> -->
<!-- 			    	<img class="operationImg" ng-click="toLocation(item)" src="../../../img/bedrent/positon.png"> -->
				</td>
			  </tr>
			  
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		/*
			data={
				searchFields:[],//
				listFields:[{},{}],
				dataList:[{name:'',health:'',properties:[{field1:'',field2:''}]}]
			}
		*/
		$scope.theadData={};
		$scope.dataList={};
		/*$scope.data={
				searchFields:[{cname:"最大负载", ename:"maxload", enumValue:["值1","值2","值3"]}],//
				listFields:[{cname:"生产厂商", ename:"factory"},{cname:"出产年月", ename:"madeyear"},{cname:"最大负载", ename:"maxload"}],
				dataList:[
				          {deviceCode:'B025123986', deviceName:'油浸式变压器',addressDesc:"玄武区龙蟠中路15号",healthName:'正常',factory:'南京华龙电力设备有限公司',madeyear:'2010',maxload:'220Kv'},
				          {deviceCode:'B025897994', deviceName:'油浸式变压器',addressDesc:"玄武区龙蟠北路120号",healthName:'异常',factory:'南京华龙电力设备有限公司',madeyear:'2005',maxload:'220Kv'},
				          {deviceCode:'B025865547', deviceName:'油浸式变压器',addressDesc:"玄武区黄浦路24号",healthName:'报废',factory:'南京华龙电力设备有限公司',madeyear:'2000',maxload:'220Kv'},
				          {deviceCode:'B025754633', deviceName:'油浸式变压器',addressDesc:"玄武区玄武大道光明小区",healthName:'正常',factory:'南京华龙电力设备有限公司',madeyear:'2011',maxload:'220Kv'},
				          {deviceCode:'B025287539', deviceName:'油浸式变压器',addressDesc:"玄武区玄武大道光明小区",healthName:'正常',factory:'南京华龙电力设备有限公司',madeyear:'2013',maxload:'220Kv'}
				         ]
		};*/
		/* 初始化搜索条件 
		lazyCall('t1',function(){
			(function(){
				for(var i=0; i<$scope.data.searchFields.length; i++){
					var searchField = $scope.data.searchFields[i];
					/* 搜索条件 
					new DropDownList().init({
						renderTo:"#"+searchField.ename,
						data:searchField.enumValue,
						onSelected:function(result){
							$("#"+searchField.ename).val(result);
						}
					});
				}
			})();
		}, 100);*/
		
		$scope.cond_mctViewCode="";
		$scope.cond_proNo="";
		$scope.cond_mct="";
		$scope.cond_searchName="";
		$scope.cond_deviceTypeCode="";
		
		var urlParams = getUrlParams();
		propertyChooseCopy(urlParams, $scope, ["cond_mctViewCode", "cond_proNo", "cond_mct", "cond_searchName", "cond_deviceTypeCode"]);
		
		window.onkeyup=function(e){
			if(e.keyCode==13){
				$scope.doQuery();
			}
		};
		/* 总控表视图 */
// 		new DropDownList().init({
// 			mode:"page",
// 			renderTo:"#mctView",
// 			url:"../../component/mctViewList.html?ticket="+$scope.ticket,
// 			height:"200px",
// 			onSelected:function(result){
// 				$scope.cond_mctViewCode=result.mctViewCode;
// 				$("#mctView").val(result.mctViewName);
// 				proNameList.setConfig("url", "../../component/mctViewProList.html?mctViewCode="+result.mctViewCode+"&ticket="+$scope.ticket);
// 				$scope.cond_deviceTypeCode = result.deviceTypeCode;
				
// 			}
// 		});
		/* 项目列表 */
		var proNameList = new DropDownList();
		proNameList.init({
			mode:"page",
			renderTo:"#proName",
			url:"../../component/mctViewProList.html?mctViewCode="+urlParams.mctViewCode+"&ticket="+$scope.ticket,
			height:"200px",
			onSelected:function(result){
				$scope.cond_proNo=result.proNo;
				$("#proName").val(result.proName);
				$scope.cond_mct=result.proMctCode;
				$scope.loadTheader($scope.cond_mct, $scope.cond_deviceTypeCode);
			}
		});
		
		/* 加载条件和表头信息 */
		$scope.loadTheader=function(mctCode, deviceTypeCode){
			$scope.httpGet({
				url:"eap/pmsServices/om/deviceMgr/device/mctListAttr?companyCode="+$scope.userData.companyCode,
				data:{"mctCode":mctCode, "deviceTypeCode":deviceTypeCode},
				success:function(response){
					$scope.theadData = response.data;
					/* 初始化搜索条件 */
					lazyCall('t1',function(){
						for(var i=0; i<$scope.theadData.searchFields.length; i++){
							(function(){
								var searchField = $scope.theadData.searchFields[i];
								if(searchField.dtype==4){
									/* 搜索条件*/ 
									searchField.enumValue.unshift("(清空)");
									new DropDownList().init({
										renderTo:"#"+searchField.ename,
										data:searchField.enumValue,
										onSelected:function(result){
											if(result=="(清空)"){
												$("#"+searchField.ename).val("");
											}else{
												$("#"+searchField.ename).val(result);
											}
										}
									});
								}
							})();
						}
					}, 100);
					$scope.doQuery(true);
				}
			});
		};
		
		$scope.loadTheader("", urlParams.deviceTypeCode);
		/* 数据加载 */
		$scope.loadData=function(mctCode, condStr, searchName, deviceTypeCode){
		
			$scope.httpExecute({
				method:"post",
				url:"eap/pmsServices/pe/proReserve/proDevice/unAllocRMctDeviceList",
				data:{"companyCode":$scope.userData.companyCode, "mctCode":mctCode, "attrJson":condStr, "searchName":searchName, "proNo":$scope.cond_proNo, "deviceTypeCode":deviceTypeCode},
				success:function(response){
					$scope.dataList = response.list;
				},
				pageChange:function(pageNum){
					$scope.doQuery();
				}
			});
		};
		
		
		
		/* 查询 */
		$scope.doQuery=function(initQuery){
			var cond={};
			$("input[group=cond]").each(function(){
				var $cond = $(this);
				var key = $cond.attr("id");
				var val = $cond.val();
				cond[key]=val;
			});
// 			var fa = $("#REFORM_PROGRAM").val();
// 			if(!initQuery && (fa==null || fa.length==0)){
// 				new ShowDlog().prompt({
// 					msg:"请选择改造方案！",
// 					done:function(){
						
// 					},
// 					t:1500
// 				});
// 				return;
// 			}
			$scope.cond_condStr=JSON.stringify(cond);
			$scope.cond_searchName=$("input[name=searchName]").val();
			var vars="";
			for(var i=0; i<$scope.theadData.searchFields.length; i++){
				var searchField = $scope.theadData.searchFields[i];
				if(searchField.dtype==1){
					if(vars && vars.length>0){
						vars+=",";
					}
					vars+=searchField.ename;
				}
			}
			$scope.cond_searchName=vars+";"+$scope.cond_searchName;
			$scope.loadData($scope.cond_mct, $scope.cond_condStr, $scope.cond_searchName, $scope.cond_deviceTypeCode);
		};
		

		/* 新增 */
		$scope.toAdd=function(){
			var cond={};
			$("input[group=cond]").each(function(){
				var $cond = $(this);
				var key = $cond.attr("id");
				var val = $cond.val();
				cond[key]=val;
			});
// 			var fa = $("#REFORM_PROGRAM").val();
// 			if(fa==null || fa.length==0){
// 				new ShowDlog().prompt({
// 					msg:"请选择改造方案！",
// 					done:function(){
						
// 					},
// 					t:1500
// 				});
// 				return;
// 			}
			$scope.cond_condStr=JSON.stringify(cond);
			$scope.cond_searchName=$("input[name=searchName]").val();
			var vars="";
			if($scope.theadData.searchFields){
				for(var i=0; i<$scope.theadData.searchFields.length; i++){
					var searchField = $scope.theadData.searchFields[i];
					if(searchField.dtype==1){
						if(vars && vars.length>0){
							vars+=",";
						}
						vars+=searchField.ename;
					}
				}
			}
			$scope.cond_searchName=vars+";"+$scope.cond_searchName;
			
			new ShowDlog().confirm({
				msg:"确认将查到的所有记录添加到储备清单中吗？",
				ok:function(){
					$scope.httpExecute({
						method:"post",
						url:"eap/pmsServices/pe/proReserve/proDevice/batchInsertProDevice",
						data:{
							"reserveProNo":urlParams.reserveProNo, "reserveProName":urlParams.reserveProName,
							"companyCode":$scope.userData.companyCode, "mctCode":$scope.cond_mct, "mctViewCode":urlParams.mctViewCode,
							"attrJson":$scope.cond_condStr, "searchName":$scope.cond_searchName, 
							"deviceTypeCode":$scope.cond_deviceTypeCode
						},
						success:function(res){
							new ShowDlog().prompt({
								icon:"success",
								msg:"添加成功！",
								done:function(){
									hrefTo({
										url:"reserveProDevList.html",
										data:urlParams
									});
								},
								t:1500
							});
						}
					});
				}
			});
		};

		$scope.toDetail=function(item){
			new ShowDlog().showFrame("../../om/deviceMgr/device/deviceDetail.html?deviceObjCode="+item.deviceObjCode, "设备详情", function(){
				
			}, "device_detail");
		};
		
		$scope.goBack=function(item){
			hrefTo({
				url:"reserveProDevList.html",
				data:urlParams
			});
		};
	}
});
</script>
</body>
</html>
