<!DOCTYPE HTML>
<html ng-app="accountMgr">
<head>
<title> 账户管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../js/PageBar.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/ng-base.js"></script>
<script type="text/javascript" src="../../js/util.js"></script>
<script type="text/javascript" src="../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../js/DropDownList-1.2/DropDownList.css" />

<script type="text/javascript" src="../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../js/showDlog/showDlog-blue.css" />

<link rel="stylesheet" type="text/css" href="../../css/list.css" />

<style type="text/css">

</style>
</head>

<body ng-controller="accountMgr">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<input type="text" class="dropDownTree dropDownList" style="width:280px;" placeholder="请选择部门"/>
				<input type="text" name="accountType" class="dropDownList" style="width:100px;" placeholder="帐户类型"/>
				<input type="text" ng-model="searchName" placeholder="请输入姓名">
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
			</div>
			<img src="../../img/list_Header2-.png">
			<div class="title_add" ng-click="toAdd()">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th width="10%"><div align="center">序号</div></th>
				<th width="20%"><div align="center">登录帐号</div></th>
				<th width="10%"><div align="center">账户类型</div></th>
				<th width="10%"><div align="center">员工姓名</div></th>
				<th width="20%"><div align="center">部门</div></th>
				<th width="20%"><div align="center">关联角色</div></th>
				<th  width="10%"><div align="center">操作</div></th>
			  </tr>
			  <tr ng-repeat="item in accountList" class="tr2">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.accountName}}</div></td>
				<td>
					<div ng-if="item.accountType==1" align="center">外业宝账户</div>
					<div ng-if="item.accountType==2" align="center">云服务账户</div>
				</td>
				<td><div align="center">{{item.employeename}}</div></td>
				<td><div align="center">{{item.unitName}}</div></td>
				<td><div align="center">{{item.rolename}}</div></td>
				<td>
					<div align="center">
						<img class="operationImg" ng-click="toResetPass(item)" src="../../img/password.png" title="重置密码">
			    		<img class="operationImg" ng-click="toEdit(item)" src="../../img/list_item_modify-icon.png" title="编辑账户">
			    		<img class="operationImg" ng-click="doDel(item)" src="../../img/list_delete-icon.png" title="删除">
			  		</div>
				</td>
			  </tr>
			  
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">
simpleController({
	moduleName:"accountMgr",
	controllerName:"accountMgr",
	init:function($scope, $http){
		$scope.accountList=[];
		$scope.selectedUnitCode="";
		$scope.accountType="";
		$scope.searchName="";
		
		var urlParams = getUrlParams();
		if(urlParams.accountType){
			$scope.accountType=urlParams.accountType;
		}
		if(urlParams.selectedUnitCode){
			$scope.selectedUnitCode=urlParams.selectedUnitCode;
		}
		if(urlParams.searchName){
			$scope.searchName=urlParams.searchName;
		}
		
		
		
		window.onkeyup=function(e){
			if(e.keyCode==13){
				$scope.doQuery();
			}
		};
		
		new DropDownList().init({
			mode:"page",
			renderTo:".dropDownTree",
			url:"../component/orgTree.html?ticket="+$scope.ticket,
			height:"200px",
			onSelected:function(result){
				$scope.selectedUnitCode=result.unitCode;
				$(".dropDownTree").val(result.unitName);
				$scope.loadAccountList($scope.selectedUnitCode, $scope.accountType, $scope.searchName);
			}
		});

		new DropDownList().init({
			renderTo:"input[name=accountType]",
			mode:"list",
			data:[{id:"", name:"（全部）"},{id:1, name:"外业宝账户"},{id:2, name:"云服务账户"}],
			textField:"name",
			onSelected:function(item){
				$scope.accountType=item.id;
				$("input[name=accountType]").val(item.name);
				$scope.loadAccountList($scope.selectedUnitCode, $scope.accountType, $scope.searchName);
			}
		});
		
		$scope.loadAccountList=function(unitCode, accountType, searchName){
			$scope.httpGet({
				url:"eap/pmsServices/sys/orgEmployee/account/list",
				data:{"companyCode":$scope.userData.companyCode, "unitCode":unitCode, 
						"accountType":accountType, "searchName":searchName},
				success:function(response){
					$scope.accountList = response.list;
				},
				pageChange:function(pageNum){
					$scope.loadAccountList($scope.selectedUnitCode, $scope.accountType, $scope.searchName);
				}
			});
		};
		
		$scope.loadAccountList($scope.selectedUnitCode, $scope.accountType, $scope.searchName);
		
		$scope.doQuery=function(){
			$scope.loadAccountList($scope.selectedUnitCode, $scope.accountType, $scope.searchName);
		};
		
		$scope.toAdd=function(){
			var searchName = $scope.searchName;
			var accountType = $scope.accountType;
			var selectedUnitCode = $scope.selectedUnitCode;
			hrefTo({
				url:"accountAdd.html",
				data:{
					"selectedUnitCode":selectedUnitCode, 
					"accountType":accountType, 
					"searchName":searchName
				}
			});
		};
		$scope.toEdit=function(item){
			var searchName = $scope.searchName;
			var accountType = $scope.accountType;
			var selectedUnitCode = $scope.selectedUnitCode;
			hrefTo({
				url:"accountEdit.html",
				data:{
					"accountCode":item.accountCode,
					"selectedUnitCode":selectedUnitCode, 
					"accountType":accountType, 
					"searchName":searchName
				}
			});
		};
		$scope.toResetPass=function(item){
			new ShowDlog().confirm({
				msg:"确定重置帐户【"+item.accountName+"】的登录密码为123456？",
				ok:function(){
					$scope.httpPost({
						url:"eap/pmsServices/sys/orgEmployee/account/resetPass",
						data:{
							"accountCode":item.accountCode
						},
						success:function(res){
							if(res.statusCode==200){
								new ShowDlog().prompt({
									icon:"success",
									msg:"重置成功！",
									done:function(){
										
									},
									t:1500
								});
							}else{
								new ShowDlog().prompt({
									icon:"error",
									msg:res.resultMsg,
									done:function(){
										
									},
									t:1500
								});
							}
						}
					});
				}
			});
		};
		$scope.doDel=function(item){
			new ShowDlog().confirm({
				msg:"确定删除帐户【"+item.accountName+"】",
				ok:function(){
					$scope.httpPost({
						url:"eap/pmsServices/sys/orgEmployee/account/delete",
						data:{
							"accountCode":item.accountCode
						},
						success:function(res){
							new ShowDlog().prompt({
								icon:"success",
								msg:"删除成功！",
								done:function(){
									hrefTo({
										url:"accountMgr.html",
										data:{
											"selectedUnitCode":$scope.selectedUnitCode, 
											"accountType":$scope.accountType, 
											"searchName":$scope.searchName
										}
									});
								},
								t:1500
							});
						}
					});
				}
			});
		};
	}
});
</script>
</body>
</html>
