<!DOCTYPE HTML>
<html>
<head>
<title> 设备管理 </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../js/angular.min.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css"/>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
		body{padding:0;margin:0;overflow:hidden;}
	.list{padding:0;margin:0;top:0;right:0;bottom:0;left:0;overflow-y:auto;}
	.list .list_content{position:static;}
	.title_left{background:#02A2FF !important;}
	.title_left .return img{width:13px;}
	.title_left .return{position: absolute;left:10px;top:8px;width: 23px;height: 41px;}

	.chooseUser{width:1000px;height:500px;}
	#lay1 .pdd_ta{margin:0;padding:1% 0;background:#f5f5f5;border-radius:5px;margin-bottom:20px;border:1px solid #ccc}
	#lay1 .pdd_ta ul{list-style-type:none;padding:0;margin:0;}
	#lay1 .pdd_ta ul li{list-style-type:none;padding:0;margin:6px 0;}
	#lay1 .pdd_ta ul label{color:#77acf9;font-weight:bold;padding:0 10px 0;text-align:right;display:inline-block;width:80px;}
	#lay1 .pdd_ta ul input{text-indent:10px;border:1px solid #ccc;height:30px;border-radius:3px;min-width:150px;}
	#lay1 .pdd_ta table th{color:#77acf9;font-weight:bold;padding:0 10px 0;text-align:right;width:80px;}
	#lay1 .pdd_ta table input{text-indent:10px;border:1px solid #ccc;height:30px;border-radius:3px;min-width:150px;}
	.form_bottom{border-top:none;padding-top:0;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left" style="float:none;text-align:center;">
				<a class="return" href="deviceMgr.html"><img src="../../../img/return.png"/></a>
				编辑设备信息
			</div>
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<div class="pdd_ta">
				<ul>
					<li>
						<label width="120">项目分类</label>
						<span>
							<input type="hidden" name="companyCode" value="{{data.companyCode}}"/>
							<input type="hidden" name="attrJson"/>
							<input type="hidden" name="deviceObjCode" value="{{data.deviceObjCode}}"/>
							<input type="hidden" name="categoryCode" value="{{data.categoryCode}}"/>
							<input type="text" name="categoryName" value="{{data.categoryName}}" class="readonly dropDownList" readonly="readonly" maxlength="32" placeholder="选择项目分类"/>
						</span>
					</li>
					<li>
						<label width="120">项目</label>
						<span>
							<input type="hidden" name="proNo" value="{{data.proNo}}"/>
							<input type="text" name="proName" value="{{data.proName}}" class="readonly dropDownList" readonly="readonly" maxlength="32" placeholder="选择项目"/>
						</span>
					</li>
					<li>
						<label>总控表</label>
						<span>
							<input type="hidden" name="mctCode" value="{{data.mctCode}}"/>
							<input type="hidden" name="deviceTypeCode" value="{{data.deviceTypeCode}}"/>
							<input type="text" name="mctName" value="{{data.mctName}}" class="readonly dropDownList" readonly="readonly" maxlength="32" placeholder="选择总控表"/>
						</span>
					</li>
					<li>
						<label class="table1_thp">设备名称</label>
						<span>
							<input type="text" name="deviceObjName" placeholder="请输入内容"  value="{{data.deviceObjName}}" class="required"/>
						</span>
					</li>
					<li>
						<label>健康状况</label>
						<span>
							<input type="hidden" name="healthCode" value="{{data.healthCode}}"/>
							<input type="text" name="healthName" value="{{data.healthName}}" class="dropDownList" maxlength="32" placeholder="选择健康状况"/>
						</span>
					</li>
					<li>
						<label>故障问题分类</label>
						<span>
							<input type="hidden" name="problemCode" value="{{data.problemCode}}"/>
							<input type="text" name="problemName" value="{{data.problemName}}" class="dropDownList" maxlength="32" placeholder="选择故障问题"/>
						</span>
					</li>
				</ul>
			</div>
			<div class="pdd_ta">
				<table>
				<tr ng-repeat="item in deviceAttrTrs track by $index">
					<th width="80" valign="middle">{{item.cname}}</th>
					<td>
					<div ng-if="item.dtype==1">
					<input ng-if="item" type="text" group="cond" name="{{item.ename}}" value="{{data[item.ename]}}" placeholder="请输入内容" />
					</div>
					<div ng-if="item.dtype==2">
					<input ng-if="item" type="text" class="number" group="cond" name="{{item.ename}}" placeholder="请输入内容" value="{{data[item.ename]}}" />
					</div>
					<div ng-if="item.dtype==3">
					<input ng-if="item" type="date" class="date dateComponent" group="cond" name="{{item.ename}}" placeholder="请选择"/>
					</div>
					<div ng-if="item.dtype==4">
					<input ng-if="item" type="text" class="dropDownList" group="cond" name="{{item.ename}}" value="{{data[item.ename]}}" placeholder="请选择{{item.cname}}"/>
					</div>
					</td>
				</tr>
				
			</table>
			<div ng-repeat="item in dependencyAttrs track by $index">
			<div ng-if="item.dtype==9">
				<input ng-if="item" type="hidden" group="cond" name="{{item.ename}}" value="{{data[item.ename]}}" />
			</div>
			</div>
			</div>
		</div>
		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">
// function dateChange(obj){
// 	var date = obj.value;
// 	date = date.replace("/\//g", '-').replace("/年/g", '-').replace("/月/g", '-').replace("/日/g", '');
// 	obj.value=date;
// }
simpleController({
	init:function($scope, $http){
		$scope.data={};
		var urlParams = getUrlParams();
		
		$scope.deviceAttrList=[];
		$scope.deviceAttrTrs=[];
		$scope.dependencyAttrs=[];
		$scope.calcFields = [];
		/* 加载属性信息 */
		$scope.loadAttrs=function(mctCode){
			$scope.httpGet({
				url:"eap/pmsServices/om/deviceMgr/device/mctAttr?companyCode="+$scope.userData.companyCode,
				data:{"mctCode":mctCode},
				success:function(response){
					$scope.deviceAttrList = response.list;
					if(!$scope.deviceAttrList){
						return;
					}
					// 取出字段类型是5的（计算类型），并且从字段集中删除
					$scope.calcFields = $scope.filterCalcFields($scope.deviceAttrList);
					$scope.deviceAttrTrs=$scope.splitToTr($scope.deviceAttrList);
					
					/* 初始化搜索条件 */
					lazyCall('t1',function(){
						for(var i=0; i<$scope.deviceAttrList.length; i++){
							(function(){
								var searchField = $scope.deviceAttrList[i];
								if(searchField.dtype==4 && searchField.enumSource==1){
									/* 搜索条件*/ 
									new DropDownList().init({
										renderTo:"input[name="+searchField.ename+"]",
										height:"200px",
										data:searchField.enumValue,
										onSelected:function(result){
											$("input[name="+searchField.ename+"]").val(result);
											$("input[name="+searchField.ename+"]").change();
										}
									});
								}else if(searchField.dtype==4 && searchField.enumSource==2){
									var depAttrs = [];
									for(var j=0;j<$scope.dependencyAttrs.length;j++){
										if($scope.dependencyAttrs[j].enumValue==searchField.ename){
											depAttrs.push($scope.dependencyAttrs[j]);
										}
									}
									/* 搜索条件*/ 
									var proNo = $("input[name=proNo]").val();
									var serviceUrl=searchField.enumValue;
									if(serviceUrl.indexOf("?")>-1){
										serviceUrl+="&proNo="+proNo;
									}else{
										serviceUrl+="?proNo="+proNo;
									}
									new DropDownList().init({
										renderTo:"input[name="+searchField.ename+"]",
										height:"200px",
										url:"../../../component/listByUrl.html?url="+encodeURIComponent(serviceUrl)+"&textField="+searchField.ename+"&ticket="+$scope.ticket+"&companyCode="+$scope.userData.companyCode,
										onSelected:function(result){
											$("input[name="+searchField.ename+"]").val(result[searchField.ename]);
											$("input[name="+searchField.ename+"]").change();
											for(var k=0; k<depAttrs.length; k++){
												$("input[name="+depAttrs[k].ename+"]").val(result[depAttrs[k].ename]);
											}
										}
									});
								}else if(searchField.dtype==3){
									$("input[name="+searchField.ename+"]").val($scope.data[searchField.ename]);
								}
							})();
						}
						
						if(deviceTypeCode=="P04"){// PMS2.0低压（名称组合：时间_台区名称_作业类型）
							$("input[name=WORK_DATE]").keyup(function(){
								var workDate = $("input[name=WORK_DATE]").val();
								var dmrdName = $("input[name=DMRD_NAME]").val();
								var workType = $("input[name=WORK_TYPE]").val();
								$("input[name=deviceObjName]").val(workDate+"_"+dmrdName+"_"+workType);
							}).change(function(){
								var workDate = $("input[name=WORK_DATE]").val();
								var dmrdName = $("input[name=DMRD_NAME]").val();
								var workType = $("input[name=WORK_TYPE]").val();
								$("input[name=deviceObjName]").val(workDate+"_"+dmrdName+"_"+workType);
							});
							$("input[name=DMRD_NAME]").keyup(function(){
								var workDate = $("input[name=WORK_DATE]").val();
								var dmrdName = $("input[name=DMRD_NAME]").val();
								var workType = $("input[name=WORK_TYPE]").val();
								$("input[name=deviceObjName]").val(workDate+"_"+dmrdName+"_"+workType);
							}).change(function(){
								var workDate = $("input[name=WORK_DATE]").val();
								var dmrdName = $("input[name=DMRD_NAME]").val();
								var workType = $("input[name=WORK_TYPE]").val();
								$("input[name=deviceObjName]").val(workDate+"_"+dmrdName+"_"+workType);
							});
							$("input[name=WORK_TYPE]").keyup(function(){
								var workDate = $("input[name=WORK_DATE]").val();
								var dmrdName = $("input[name=DMRD_NAME]").val();
								var workType = $("input[name=WORK_TYPE]").val();
								$("input[name=deviceObjName]").val(workDate+"_"+dmrdName+"_"+workType);
							}).change(function(){
								var workDate = $("input[name=WORK_DATE]").val();
								var dmrdName = $("input[name=DMRD_NAME]").val();
								var workType = $("input[name=WORK_TYPE]").val();
								$("input[name=deviceObjName]").val(workDate+"_"+dmrdName+"_"+workType);
							});
						}
					}, 100);
				}
			});
		};
		
		$scope.filterCalcFields=function(attrList){
			var newList=[];
			for(var i=0; i<$scope.deviceAttrList.length; i++){
				var searchField = $scope.deviceAttrList[i];
				if(searchField.dtype==5){
					removeAt($scope.deviceAttrList, i);
					i--;
					newList.push(searchField);
				}
			}
			return newList;
		};
		var deviceTypeCode ="";
		$scope.loadDeviceInfo=function(deviceObjCode){
			$scope.httpGet({
				url:"eap/pmsServices/om/deviceMgr/device/getMctDevice?companyCode="+$scope.userData.companyCode,
				data:{"deviceObjCode":deviceObjCode},
				success:function(response){
					$scope.data = response.data;
					$scope.data.mctName = urlParams.cond_mctName;
					$scope.data.categoryName = urlParams.cond_categoryName;
					deviceTypeCode=$scope.data.deviceTypeCode;
					$scope.loadAttrs($scope.data.mctCode);
					healthList.setConfig("url", "../../../component/chooseDeviceHealth.html?proNo="+$scope.data.proNo+"&required=true");
					problemList.setConfig("url", "../../../component/chooseDeviceProblem.html?proNo="+$scope.data.proNo+"&required=true");
				}
			});
		};
		$scope.loadDeviceInfo(urlParams.deviceObjCode);
		
		/* 组织tr数据 */
		$scope.splitToTr=function(arr){
			var trs=[];
			for(var i=0; i<arr.length; i++){
				var attr = arr[i];
				if(attr.dtype==9){
					$scope.dependencyAttrs.push(attr);
					continue;
				}
// 				if(i!=0 && i%1==0){
// 					trs.push([]);
// 				}
// 				if(trs.length==0){
// 					trs.push([]);
// 				}
// 				var tr=trs[trs.length-1];
				trs.push(attr);
			}
// 			var lastTr=trs[trs.length-1];
// 			if(lastTr.length<1){
// 				lastTr.push({});
// 			}
			return trs;
		};
		
		var urlParams = getUrlParams();
		$("input[name=rowid]").val(urlParams.rowid);
		
		
		/* 项目分类
		new DropDownList().init({
			mode:"page",
			renderTo:"input[name=categoryName]",
			url:"../../../component/projectType.html?required=true",
			height:"200px",
			onSelected:function(result){
				$("input[name=categoryCode]").val(result.categoryCode);
				$("input[name=categoryName]").val(result.categoryName);
				$("input[name=categoryName]").focus();
				proNameList.setConfig("url", "../../../component/projectList.html?required=true&categoryCode="+result.categoryCode);
			}
		}); */
		/* 项目 
		var proNameList = new DropDownList();
		proNameList.init({
			mode:"page",
			renderTo:"input[name=proName]",
			url:"../../../component/projectList.html?required=true",
			height:"200px",
			onSelected:function(result){
				$("input[name=proNo]").val(result.proNo);
				$("input[name=proName]").val(result.proName);
				$("input[name=proName]").focus();
				healthList.setConfig("url", "../../../component/chooseDeviceHealth.html?proNo="+result.proNo+"&required=true");
				problemList.setConfig("url", "../../../component/chooseDeviceProblem.html?proNo="+result.proNo+"&required=true");
				mctList.setConfig("url", "../../../component/mctType.html?proNo="+result.proNo+"&required=true");
			}
		});*/
		
		/* 项目总控表
		new DropDownList().init({
			renderTo:"input[name=mctName]",
			url:"../../../component/mctType.html",
			onSelected:function(item){
				$("input[name=mctName]").val(item.mctName);
				$("input[name=mct]").val(item.mctCode);
				$("input[name=mctName]").focus();
			}
		});*/
		
		/* 设备健康状况 */
		var healthList = new DropDownList();
		healthList.init({
			mode:"page",
			renderTo:"input[name=healthName]",
			url:"../../../component/chooseDeviceHealth.html?required=true",
			height:"200px",
			onSelected:function(result){
				$("input[name=healthCode]").val(result.healthCode);
				$("input[name=healthName]").val(result.healthName);
				$("input[name=healthName]").focus();
			}
		});
		
		/* 设备故障问题 */
		var problemList = new DropDownList();
		problemList.init({
			mode:"page",
			renderTo:"input[name=problemName]",
			url:"../../../component/chooseDeviceProblem.html?required=true",
			height:"200px",
			onSelected:function(result){
				$("input[name=problemCode]").val(result.problemCode);
				$("input[name=problemName]").val(result.problemName);
				$("input[name=problemName]").focus();
			}
		});
		
		/* 表单验证 */
		validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					
				} 
			}
		});
		
		/* 保存 */
		$scope.onSave=function(){
			$("input[name=companyCode]").val($scope.userData.companyCode);
			var cond={};
			$("input[group=cond]").each(function(){
				var $cond = $(this);
				var key = $cond.attr("name");
				var val = $cond.val();
				if(val && val.length>0 && $cond.attr("class").indexOf("number")>-1){
					val=Number(val);
				}
				cond[key]=val;
			});
			$scope.callCalc(cond);
			$("input[name=attrJson]").val(JSON.stringify(cond));
			var params = serializeArrayToMap($("#saveForm").serializeArray());
			if($("#saveForm").valid()){
				new ShowDlog().prompt({
					icon:"waitting",
					msg:"正在保存...",
					done:function(){},
					t:1000*60*20
				});
				this.httpPost({
					url:"eap/pmsServices/om/deviceMgr/device/updateMctDevice",
					data:params,
					success:function(response){
						$dlog.close();
						new ShowDlog().prompt({
							icon:"success",
							msg:"保存成功！",
							done:function(){
								hrefTo({
									url:"deviceMgr.html",
									data:urlParams
								});
							},
							t:1500
						});
						
					}
				});
			}
		};
		
		$scope.callCalc=function(item){
			for(var i=0; i<$scope.calcFields.length; i++){
				var field = $scope.calcFields[i];
				eval(field.enumValue);
			}
		}
		
		/* 取消 */
		$scope.onCancel=function(){
			hrefTo({
				url:"deviceMgr.html",
				data:urlParams
			});
		};
	
	}
});
function dateSelected(hostEl){
	$(hostEl).change();
}
</script>
</body>
</html>
