<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title> 设备管理 </title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<script src="../../../js/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../css/bxyw2.css"/>
	<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../js/angular.min.js"></script>
	<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css"/>
	<script type="text/javascript" src="../../../js/config.js"></script>
	<script type="text/javascript" src="../../../js/util.js"></script>
	<script type="text/javascript" src="../../../js/ng-base.js"></script>
	<script type="text/javascript" src="../../../js/ViewState.js"></script>
	<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
	<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
	<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
	<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>
	
	<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
	
	<style>
		header{position:fixed;z-index:9998}
		section{padding:60px 0 65px 0}
		.sort li{text-align:center}
		.fenye_warp span.fen_btn{padding: 8px 9px;line-height: normal;background: #ededed;color:#a7a7a7}
		.fl{height:inherit}
		.filter li .filter_no{width: 47%;}
		.dblist_cons .martp5 span.do{display:inline-block;width:18%;text-align:center}
		.mr_20{margin-top:20px}
		.more_filter{text-align:center;color:#02a2ff}
		.disnone{display:none}
		.do_incon .do *{text-align:center}
		.do_incon .do label{display:block;color:#999999;    font-size: 12px;}
	</style>
</head>
<body id="dblist" ng-app="userMgr" ng-controller="userMgrCtrl" storagekey="lightApp.com.deviceMgr.device.deviceMgr">
	<header>
		<div class="return"><img src="../../../img/return.png"/></div>
		设备管理
		<!-- <div class="menu"><img src="../../../img/menu.png"/></div>
		<ul class="menu_ul" style="display:none">
			<li><a href="deviceAdd.html">新增设备</a></li>
		</ul> -->
	</header>
	<section>
		<ul class="cz_selpx ov" >
			<li class="fl">筛选<img src="../../../img/down_icon.png"/></li>
			<li class="fr">分页<img src="../../../img/down_icon.png"/></li>
		</ul>
		<div class="filter_sort">
			<ul class="filter sor_fil"  style="display: none;">
				
				<li class="ov">
					<div class="filter_con">
						<div class="filter_search">
							<div class="search_int">
								<input type="text" name="search" id="search" viewstate="search" placeholder="户名或者用户地址"/>
								<a class="clear_search">x</a>
							</div>
							<span ng-click="doQuery()">搜索</span>
						</div>
					</div>
				</li>
				<li style="height:auto;">
					<div class="filter_con">
						<span class="fl tspan">项目类型</span>
						<div class="fl" style="width:100%">
							<input type="hidden" viewstate="categoryCode">
							<input type="hidden" viewstate="categoryName">
							<div class="fl filter_no" onclick="filter(this)" ng-repeat="item in projectType" ng-click="selectCategory(item.categoryCode,item.categoryName)">
							   <img src="../../../img/task_nonselete_icon.png" class="fl"/>
							   <div class="fl">{{item.categoryName}}</div>
							</div>
							<div style="clear:both"></div>
						</div>
						<div style="clear:both"></div>
					</div>
				</li>
				<li style="height:auto;">
					<div class="filter_con">
						<span class="fl tspan">项目名称</span>
						<div class="fl" style="width:100%">
							<input type="hidden" viewstate="proNo">
							<input type="hidden" viewstate="proName">
							<div class="fl filter_no" onclick="filter(this)" ng-if="item.proName.length>8" style="width:100%" ng-repeat="item in projectList" ng-click="selectPro(item.proNo,item.proName)">
							   <img src="../../../img/task_nonselete_icon.png" class="fl"/>
							   <div class="fl">{{item.proName}}</div>
							</div>
							<div class="fl filter_no" onclick="filter(this)" ng-if="item.proName.length<8"  ng-repeat="item in projectList" ng-click="selectPro(item.proNo,item.proName)">
							   <img src="../../../img/task_nonselete_icon.png" class="fl"/>
							   <div class="fl">{{item.proName}}</div>
							</div>
							<div style="clear:both"></div>
						</div>
						<div style="clear:both"></div>
					</div>
				</li>
				<li style="height:auto;">
					<div class="filter_con">
						<span class="fl tspan">总控表</span>
						<div class="fl" style="width:100%">
							<input type="hidden" viewstate="mctCode">
							<input type="hidden" viewstate="mctName">
							<div class="fl filter_no" onclick="filter(this)" ng-if="item.mctName.length>8" style="width:100%" ng-repeat="item in dataList" ng-click="selectMct(item.mctCode,item.mctName)">
							   <img src="../../../img/task_nonselete_icon.png" class="fl"/>
							   <div class="fl">{{item.mctName}}</div>
							</div>
							<div class="fl filter_no" onclick="filter(this)" ng-if="item.mctName.length<8"  ng-repeat="item in dataList" ng-click="selectMct(item.mctCode,item.mctName)">
							   <img src="../../../img/task_nonselete_icon.png" class="fl"/>
							   <div class="fl">{{item.mctName}}</div>
							</div>
							<div style="clear:both"></div>
						</div>
						<div style="clear:both"></div>
					</div>
				</li>
				<li class="more_filter">更多选项</li>
				<li class="more_ul disnone" style="height:auto;">
					<ul>
						<li ng-repeat="item in mctlistArr.searchFields" ng-if="item.dtype==4" style="height:auto;">
							<div class="filter_con">
								<div group="cond" id="{{item.ename}}">{{item.cname}}</div>
							    <div>
									<div onclick="filter(this)" ng-click="filter4(item.ename, '')" class="fl ov filter_no"><img src="../../../img/task_selete_icon.png" class="fl"/><div class="fl">全部</div><div style="clear:both"></div></div>
									<div onclick="filter(this)" ng-click="filter4(item.ename, item1)" ng-repeat="item1 in item.enumValue" ng-if="item1.length>5" class="fl ov filter_no" style="width:100%;overflow:hidden"> <img src="../../../img/task_nonselete_icon.png" class="fl"/><div class="fl">{{item1}}</div><div style="clear:both"></div></div>
									<div onclick="filter(this)" ng-click="filter4(item.ename, item1)" ng-repeat="item1 in item.enumValue" ng-if="item1.length<5" class="fl ov filter_no"> <img src="../../../img/task_nonselete_icon.png" class="fl"/><div class="fl">{{item1}}</div><div style="clear:both"></div></div>
									<div style="clear:both"></div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="ov" style="height:auto;line-height:normal">
					<a href="#" class="filterbtn fl" ng-click="doQuery()" >确定</a>
					<a href="#" class="filterclose fr" ng-click="quxido()">重置</a>
				</li>
			</ul>
			<ul class="sort sor_fil" style="display: none;">
				<li>
					<div class="fenye_warp">
						<span class="fen_btn up_page" ng-click="home_page()">首页</span>
						<span class="fen_btn up_page" ng-click="up_page()">上一页</span>
						<span><input type="text" style="width:30px;text-align:center"></span>
						<span>/</span>
						<span style="display:inline-block;width:35px">{{totalPage}}</span>
						<span class="fen_btn down_page" ng-click="down_page()">下一页</span>
						<span class="fen_btn up_page" ng-click="last_page()">末页</span>
					</div>
				</li>
			</ul>
		</div>
		<div id="warp_id">
			
			<div class="con_list" ng-repeat="data in datalist1">
				<div class="title1" ng-click="doShowDetail(data)">
					{{data.deviceObjName}}	
				</div>
				<div class="dblist_cons">
					<div class="martp5"><span>项目名称：{{data.proName}}</span></div>
					<div class="martp5"><span>录入人：{{data.CREATER_NAME}}</span></div>
					<div class="martp5"><span>录入时间：{{data.SYS_CREATE_TIME}}</span></div>
					<div class="martp5 mr_20 do_incon">
						<a href="javascript:" ng-click="doShowDetail(data)">
							<span class="do">
								<img src="../../../img/showDetail.png" width="20px">
								<label>查看</label>	
							</span>
						</a>
						<a href="javascript:" >
							<span class="do"><img src="../../../img/positioning.png" width="16px" height="16px" title="定位"><label>定位</label>	</span>
						</a>
						<a href="javascript:">
							<span class="do"><img src="../../../img/pictureicon1.png" width="16px" height="16px" title="查看图片 "><label>图片</label>	</span>
						</a>
						<a href="javascript:" ng-click="selfCheck(data)">
							<span class="do"><img src="../../../img/project_self_inspection.png" height="16px" width="16px" title="定位"><label>项目自检</label>	</span>
						</a>
						<a ng-if="userData.roleCode != '004'" href="javascript:" ng-click="professionalCheck(data)">
							<span class="do"><img src="../../../img/the_quality.png" width="16px" height="16px" title="查看图片 "><label>质量专检</label>	</span>
						</a>
					</div>
				</div>				
			</div>
			
		</div>
	</section>
	<footer>
		<p>
			共查询到设备&nbsp;&nbsp;<span>{{totalRecord}}</span>&nbsp;&nbsp;项
		</p>
	</footer>
	<script type="text/javascript">
	simpleController({
		moduleName:"userMgr",
		controllerName:"userMgrCtrl",
		init:function($scope, $http){

			/* init */
			ngScope = $scope;
			$scope.projectType=[];
			$scope.curUnit={};
			$scope.projectList=[];
			$scope.mctlistArr ="";
	
			var urlParams = getUrlParams();
			var viewstate = new ViewState();
			
			$(".return").click(function(){
				if(urlParams.web==1){
					top.history.back();
				}else{
					top.nativeLib.exitApp();
				}
			})
			
			var userData = $scope.userData;
			
			//$scope.roleCode = userData.roleCode;
			var companyCode = userData.companyCode;
			var employeecode = "";
			var proStatus="";
			var mb_mctCode="";
			var searchName="";
			var mb_proNo="";
			ticket = $scope.userData.ticket;
			var accountCode="";
			$scope.mctlistArr ="";
			$scope.totalPage="";
			var enamearr=[];
			var currentPage=1;
			$scope.totalRecord=0;
			/*根据角色判断是否传accountCode */
			if(userData.roleCode=="004"){
				accountCode=userData.accountCode;
			}
			if(userData.roleCode=="R20161107150600707427"){
				employeecode =userData.employeeCode;
			}
			
			/* 获取项目类型  */
			$http.get(serviceBasePath+"eap/pmsServices/pwsCommon/categorys?accountCode="+accountCode+"&ticket="+ticket).success(function(response){
				if(response.statusCode==200){
					$scope.projectType= response.list;
				}else if(response.statusCode==401){
					location.href="../../../pages/login.html";
				}else{
				}
			});
			$scope.cond_categoryName=""
			var cond_categoryCode="";
			$scope.selectCategory=function(categoryCode,categoryName){
				$scope.cond_categoryName=categoryName;
				cond_categoryCode=categoryCode;
				$("input[viewstate=categoryCode]").val(categoryCode);
				$("input[viewstate=categoryName]").val(categoryName);
				$scope.loadproName(accountCode,categoryCode,companyCode,proStatus,employeecode);
			}
			
			/* 获取项目名称  */
			$scope.loadproName=function(accountCode,categoryCode,companyCode,proStatus,employeecode){
				$http.get(serviceBasePath+"eap/pmsServices/pwsCommon/activePro?accountCode="+accountCode+"&categoryCode="+categoryCode+"&companyCode="+companyCode+"&proStatus="+proStatus+"&employeecode="+employeecode+"&ticket="+ticket).success(function(res){
					$scope.projectList = res.list;
				});
			}	
			
			$scope.cond_proName="";
			$scope.selectPro=function(proNo,proName){
				mb_proNo=proNo;
				$scope.cond_proName=proName;
				$("input[viewstate=proNo]").val(proNo);
				$("input[viewstate=proName]").val(proName);
				$scope.loadmtCode(companyCode,proNo);
				
			}
			/* 获取总控表 */
			
			$scope.loadmtCode=function(companyCode,proNo){
				$http.get(serviceBasePath+"eap/pmsServices/taskMgr/mctList/listAll?companyCode="+companyCode+"&proNo="+proNo+"&ticket="+ticket).success(function(response){
					$scope.dataList = response.list;
				});
			}	
			$scope.cond_mctName="";
			$scope.selectMct=function(mctCode,mctName){
				mb_mctCode = mctCode;
				$scope.cond_mctName=mctName;
				$("input[viewstate=mctCode]").val(mctCode);
				$("input[viewstate=mctName]").val(mctName);
				$scope.loadAttr(mctCode)
			}
	
			$scope.loadAttr=function(mctCode){
				/* 获取查询条件 */
				$http.get(serviceBasePath+"eap/pmsServices/om/deviceMgr/device/mctListAttr?companyCode="+companyCode+"&mctCode="+mctCode).success(function(res){
					if(res.statusCode==200){
						$scope.mctlistArr = res.data;
					}else if(res.statusCode==401){
						window.parent.location.href="../../../pages/login.html";
					}else{
					}
				});
				
			};
			
			$scope.attrJson={};
			$scope.filter4=function(key,item){
				$scope.attrJson[key]=item;	
			}
			
			/* 数据加载 */
		 	$scope.loadData=function(attrJson,companyCode,mctCode,proNo,searchName,currentPage){
			
				var paramsData={"companyCode":companyCode, 
						"proNo":proNo,
						"attrJson":attrJson, "searchName":searchName};
				if(mctCode){
					paramsData["mctCode"]=mctCode;
				}else{
					new ShowDlog().prompt({
						msg:"请选择筛选条件进行查询",
						done:function(){},
						t:2000
					});
					return;
				}
								
				$http.post(serviceBasePath+"eap/pmsServices/om/deviceMgr/device/mctDeviceList?attrJson="+attrJson
						+"&companyCode="+companyCode+"&proNo="+proNo
						+"&searchName="+searchName+"&mctCode="+mctCode
						+"&currentPage="+currentPage).success(function(res){
					if(res.statusCode==200){
						$scope.datalist1 = res.list;
						$scope.datares=res;
						$scope.totalPage=$scope.datares.totalPage;
						$scope.totalRecord=$scope.datares.totalRecord;
						//$scope.datalist1.mctName=mctName;
					}else if(res.statusCode==401){
						window.parent.location.href="../../../pages/login.html";
					}else if(res.statusCode==404){
						$scope.datalist1=[];
						$scope.totalRecord=0;
						
					}
				})
			}; 
			
			$scope.doQuery=function(){
				
				$("#warp_id").show();
				$(".cz_selpx li").each(function(){
					var n = $(this).index();
					$(".filter_sort .sor_fil").eq(n).hide();
					$(this).attr("isopen", "");
				});
				
				viewstate.collect();
				searchname=viewstate.get("search");
				enamearr =[];
				if($scope.mctlistArr.searchFields){
					for(var i=0;i<$scope.mctlistArr.searchFields.length;i++){
						if($scope.mctlistArr.searchFields[i].dtype ==1){						
							enamearr.push($scope.mctlistArr.searchFields[i].ename);
						}
					}
				}
				
				searchName =enamearr+";"+searchname;				
				attrJson = JSON.stringify($scope.attrJson);
				if(mb_mctCode!=viewstate.get("mctCode")){
					mb_mctCode=viewstate.get("mctCode");
				}
				if(mb_proNo!=viewstate.get("proNo")){
					mb_proNo=viewstate.get("proNo");
				}
				$scope.loadData(attrJson,companyCode,mb_mctCode,mb_proNo,searchName);
				$(".filter").hide();
				/* new ShowDlog().prompt({
						icon:"waitting",
						msg:"正在加载...",
						done:function(){},
						t:600000
					}); 	 */
				$(".fenye_warp input").val(1);
			};
			
			$scope.quxido=function(){
				window.location.reload();
			}
			
			 $(".fenye_warp input").val(1);
			/* 分页 */
			$scope.down_page=function(){
				if(!$scope.totalRecord || $scope.totalRecord==0)
					return;
				var yema = $(".fenye_warp input").val();
				var yemashu = parseInt(yema);
				currentPage=yemashu+1;
				if(currentPage>$scope.totalPage){
					currentPage = $scope.totalPage;
				}
				$(".fenye_warp input").val(currentPage);
				$scope.loadData(attrJson,companyCode,mb_mctCode,mb_proNo,searchName,currentPage);
			}
			$scope.up_page=function(){
				if(!$scope.totalRecord || $scope.totalRecord==0)
					return;
				var yema = $(".fenye_warp input").val();
				var yemashu = parseInt(yema);
				currentPage=yemashu-1;
				if(currentPage ==0 && $scope.totalPage>0){
					currentPage=1
				}
				$(".fenye_warp input").val(currentPage);
				$scope.loadData(attrJson,companyCode,mb_mctCode,mb_proNo,searchName,currentPage);
			}
			$scope.home_page=function(){
				if(!$scope.totalRecord || $scope.totalRecord==0)
					return;
				currentPage=1;
				$(".fenye_warp input").val(currentPage);
				$scope.loadData(attrJson,companyCode,mb_mctCode,mb_proNo,searchName,currentPage);
			}
			$scope.last_page=function(){
				if(!$scope.totalRecord || $scope.totalRecord==0)
					return;
				currentPage=$scope.totalPage;
				$(".fenye_warp input").val(currentPage);
				$scope.loadData(attrJson,companyCode,mb_mctCode,mb_proNo,searchName,currentPage);
			}
			/* 分页结束 */
			
			
			/* 修改 */
			$scope.doShowDetail=function(data){
				var params = toUrlParams({
					"deviceObjCode":data.deviceObjCode,
					"cond_category":cond_categoryCode, 
					"cond_proNo":mb_proNo,
					"cond_mct":mb_mctCode,
					"cond_categoryName":$scope.cond_categoryName, 
					"cond_proName":$scope.cond_proName,
					"cond_mctName":$scope.cond_mctName
				});
				top.viewTo("om/deviceMgr/device/deviceEditDetail.html?"+params);
			};
	
			$scope.doQuery();
			
			$scope.selfCheck=function(data){
				top.viewTo("om/deviceCheckMgr/device/proCheck.html?deviceObjCode="+data.deviceObjCode
						+"&checkType=1&deviceTypeCode="+data.deviceTypeCode);
			};
			
			$scope.professionalCheck=function(data){
				top.viewTo("om/deviceCheckMgr/device/proCheck.html?deviceObjCode="+data.deviceObjCode
						+"&checkType=2&deviceTypeCode="+data.deviceTypeCode);
			}
		
		}
	});
	
	
	
		$(".clear_search").click(function(){
		
			$(".search_int input").val("");
		});
		
		function filter(obj){
			$(obj).find("img").attr("src","../../../img/task_selete_icon.png");
			$(obj).siblings().find("img").attr("src","../../../img/task_nonselete_icon.png");
		}
		
// 		var fsper = "true";
// 		$(".cz_selpx li").click(function(){
// 			if(fsper == "true"){
// 				var n = $(this).index();
// 				$(".filter_sort .sor_fil").eq(n).show().siblings().hide();
// 				fsper = "false";
				
// 				if($(".filter_sort .sor_fil").eq(0).css("display") == "block"){
// 					$("#warp_id").hide();
// 				}else{
// 					$("#warp_id").show();
// 				}
// 			}else{
// 				var n = $(this).index();
// 				$(".filter_sort .sor_fil").eq(n).hide();
// 				fsper = "true";
				
				
// 			}
// 		});
		
		$(".cz_selpx li").click(function(){
			var isopen = $(this).attr("isopen");
			if(isopen != "1"){
				var n = $(this).index();
				$(".filter_sort .sor_fil").eq(n).show().siblings().hide();
				$(this).attr("isopen", "1");
				$(this).siblings().attr("isopen", "");
				if(n==0){
					$("#warp_id").hide();
				}else{
					$("#warp_id").show();
				}
			}else{
				var n = $(this).index();
				$(".filter_sort .sor_fil").eq(n).hide();
				$(this).attr("isopen", "");
				if(n==0){
					$("#warp_id").show();
				}else{
					$("#warp_id").show();
				}
			}
		});
		
		
		
		$(".more_filter").click(function(){
			$(".more_ul").toggle();
		})
		
		
		$(".menu").click(function(){
			$(".menu_ul").toggle();
		})
		
	</script>
</body>
</html>