<!DOCTYPE HTML>
<html>
<head>
<title> 角色管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>

<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../css/edit.css"/>




<link rel="stylesheet" href="../../css/zTreeStyle/zTreeStyle.css" type="text/css">


<script type="text/javascript" src="../../js/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="../../js/ztree/js/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="../../js/ztree/js/jquery.ztree.exedit-3.5.js"></script>


<script type="text/javascript" src="../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	ul.ztree {margin-top: 10px;border: 1px solid #617775;background: #f0f6e4;width:220px;height:360px;overflow-y:scroll;overflow-x:auto;}
ul.log {border: 1px solid #617775;background: #f0f6e4;width:300px;height:170px;overflow: hidden;}
ul.log.small {height:45px;}
ul.log li {color: #666666;list-style: none;padding-left: 10px;}
ul.log li.dark {background-color: #E3E3E3;}

.ztree span{font-family: '微软雅黑'}
</style>
</head>

<body ng-app="mdu" ng-controller="ctrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">角色模块分配</label>
			</div>
			<img src="../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected">角色模块分配</a>
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
				
				<tr>
					
					<td>角色名称
						<input type="text" style="width:231px" name="roleName" readonly="readonly" class="required readonly" value="{{roleName}}"  />
						<input type="hidden" name="companyCode" value="{{projectInfo.companyCode}}"  />
						<input type="hidden" name="roleCode" value="{{roleCode}}"  />
					</td>
				</tr>
				<tr>
					
					<td>
						<span style="float:left">选择模块</span>
						<div class="zTreeDemoBackground left" style="float:left;margin-top:-5px;margin-left:5px;">
							<ul id="treeDemo" class="ztree"></ul>
						</div> 
					</td>
				</tr>
				
			</table>
			
		</div>
		
		

		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">

function getUrlParams(){
	var params={};
	var url = location.href;
	var start = url.indexOf("?", 0)+1;
	var paramsStr = url.substring(start, url.length);
	var paramsArr = paramsStr.split("&");
	for(var i=0;i<paramsArr.length;i++){
		var kv = paramsArr[i].split("=");
		var k = kv[0];
		var v = kv[1];
		params[k]=v;
	}
	return params;
}
var selectedUnitCode="";
var validator;
var userData;
var cond_categoryCode="";
var ngScope;
var roleCode="";
var app = angular.module("mdu", []);
app.controller("ctrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	
	$scope.projectInfo={};
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	var params = getUrlParams();
	
	$scope.roleName=decodeURIComponent(params.roleName);
	//alert(decodeURIComponent(params.roleName))
	
	$scope.roleCode=params.roleCode;
	roleCode=params.roleCode;
	/* 视图渲染 */
	$(".tabs>a").each(function(){
		var layId = $(this).attr("href");
		var idx = $(".tabs>a").index($(this));
		if(idx!=0){
			$(layId).hide();
			$(layId).attr("data-show", "0");
		}else{
			$(layId).attr("data-show", "1");
		}
		$(this).click(function(){
			$(".tabs>.selected").removeClass("selected");
			$(this).addClass("selected");
			var layId = $(this).attr("href");
			$("div[data-show=1]").hide();
			$("div[data-show=1]").attr("data-show", "0");
			$(layId).show();
			$(layId).attr("data-show", "1");
			
		});
	});
	
	/* Validate */
	validator = $("#saveForm").validate({
		onsubmit: false,
		focusInvalid: false,
		focusCleanup: true,
		errorElement: "span",
		ignore:".ignore",
		invalidHandler: function(form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				
			} 
		}
	});
	
	var setting = {
			check: {
				enable: true
			},
			data: {
				simpleData: {
					enable: true,
					
				}
			}
		};
	
	
	
	
	/* 数据加载 */
	$scope.loadProject=function(companyCode,roleCode){
		
		$http.get(serviceBasePath+"eap/pmsServices/sys/funcConfig/module/list"
			+"?ticket="+ticket+"&roleCode="+roleCode+"&companyCode="+companyCode).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../login.html";
				return;
			}
			//alert(response.list.length)
			$scope.projectInfo = response.list;
			
			
			$.fn.zTree.init($("#treeDemo"), setting, response.list);
			var zTree = $.fn.zTree.getZTreeObj("treeDemo");
			//zTree.expandAll(true);
			
			
		});
	};
	/* 初始加载 */
	$scope.loadProject(params.companyCode,params.roleCode);
	
	/* 保存 */
	$scope.onSave = function(){
		//$("input[name=companyCode]").val(userData.companyCode);
		var formData = $("#saveForm").serialize();
		var modules=$scope.getData();
		
		//alert(modules+" "+roleCode)
		//return false;
		if($("#saveForm").valid()){
			$.ajax({
				url:serviceBasePath+"eap/pmsServices/sys/funcConfig/module/updatemodulerole?roleCode="+roleCode+"&modules="+modules,
				cache:false,
				method:"POST",
				data:formData,
				success:function(res){
					
					if(res.statusCode==200){
						new ShowDlog().prompt({msg:"修改成功！",
							done:function(){
								location.href="roleMgr.html";
							},
							t:1500
						});
					}else{
						//
						alert("修改失败");
					}
				},
				error:function(){
					
				}
			});
			
		}else{
			//alert("表单填写异常，请检查修正后再提交");
		}
	};
	
	/* 取消 */
	$scope.onCancel = function(){
		location.href="roleMgr.html";
	};
	
	$scope.getData=function(){
		var zTree = $.fn.zTree.getZTreeObj("treeDemo");
			var checkedNodes = zTree.getCheckedNodes();
			//checkedNodes=zTree.transformToArray(checkedNodes);
			//alert(checkedNodes.length);
			var nodesId="";
			for(var i=0; i<checkedNodes.length; i++){
				if(nodesId.length>0){
					nodesId+=",";
				}
				nodesId+=checkedNodes[i].id;
			}
			return nodesId;
	};
	
	
	
});


</script>


</body>
</html>
