<!DOCTYPE HTML>
<html>
<head>
<title> 类型管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>
<script type="text/javascript" src="../../../js/time.js"></script>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<script type="text/javascript" src="../../../js/jquery.form.js"></script>


<style type="text/css">
	.all{width:100%;height:100%;}
	.d1{padding-left:40px; font-family: '微软雅黑';height:30px; padding-top:20px;}
	.d1 input{width:200px; border:1px #ccc solid;font-family: '微软雅黑';height:20px;}
	.d2{padding-left:40px; font-family: '微软雅黑';height:25px; padding-top:20px;}
	.d2 input{width:200px; border:1px #ccc solid;font-family: '微软雅黑';height:20px;}
</style>

</head>

<body ng-app="projectType" ng-controller="userMgrCtrl">
<form id="saveForm" class="required-validate">
<div class="all">
	<!-- <div class="d1">退租时间 <input type="text" id="times" name="dateDump" class="required date dateComponent" placeholder="请选择" onclick="new Calendar().show(this)"/></div> --> 
	<div class="d2">
		图片名称&nbsp;&nbsp;<input type="text" name="picTitle" style="width: 230px; height: 26px;" />
		<input type="hidden" name="dormCode" />
	</div> 
	<div class="d2">
		选择文件&nbsp;&nbsp;<input type="file" name="projDoc" onchange="loadfileName(this)" />
		
	</div> 
	
	<div class="form_bottom" style="padding-left:15px;margin-top:10px;">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
	</div>
</div>
</form>


<script type="text/javascript">


function loadfileName(obj){
	var filePath=$(obj).val();
	
	
	var fileName=filePath.split("\\");
	
	$("input[name=picTitle]").val(fileName[fileName.length-1].substring(0,fileName[fileName.length-1].length-4));
	
}



	var ngScope;
	var app = angular.module("projectType", []);
	app.controller("userMgrCtrl", function($scope, $http){
		/* init */
		ngScope = $scope;
		
		$scope.lefObj={}; //左侧数据
		var currentDate=getCurrentDate();
		$("input[name=invoiceDate]").val(currentDate);
		
		var mydate = new Date();
		$("#times").val(mydate.getFullYear()+"-"+(mydate.getMonth()+1)+"-"+mydate.getDate());
		
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			
			noLogin(location.href);
			return;
		}
		$scope.userData = jQuery.parseJSON(userDataStr);
		var ticket = $.cookie("pmsWeb_ticket");
		
		var params = getUrlParams();
		$scope.required = params.required;
		
		
		var dormCode = "";
		if(params.dormCode){
			dormCode = params.dormCode; 
			$("input[name=dormCode]").val(dormCode);
			
		}
		
		/* 表单验证 */
	validator = $("#saveForm").validate({
		onsubmit: false,
		focusInvalid: false,
		focusCleanup: true,
		errorElement: "span",
		ignore:".ignore",
		invalidHandler: function(form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				
			} 
		}
	});
		
		
		/* 保存 */
		$scope.onSave = function(){
			var formData = $("#saveForm").serialize();
			if($("#saveForm").valid()){
				      
				var dialog=new ShowDlog();
				
				dialog.prompt({
					icon:"waitting",
					msg:"文件正在上传...",
					done:function(){},
					t:20000
				});

				var options = {
						success: function(responseText, statusText) {
							dialog.close();
							if(responseText.statusCode=="200"){
								//var dialog1=;
								new ShowDlog().prompt({
									icon:"success",
									msg:"文件上传成功！",
									done:function(){
										
										parent.$dlog.data=responseText.resultMsg;
										
										parent.$dlog.close();
										
										
										
									},
									t:1500
								});
							}else{
								new ShowDlog().prompt({
									icon:"error",
									msg:"文件上传失败！",
									done:function(){
										//location.href="projectFile.html?docClass="+docClass;
										parent.$dlog.close();
									},
									t:1500
								});
							}
						},      //提交后的回调函数   
						type: "post",               //默认是form的method（get or post），如果申明，则会覆盖  
						dataType: "json",           //html(默认), xml, script, json...接受服务端返回的类型  
						clearForm: false,          //成功提交后，清除所有表单元素的值
						url:serviceBasePath+"eap/pmsServices/om/deviceMgr/images/uploadImg",
						error: function(xhr, status, error) {
							console.log(error);
						}
					};
					$("#saveForm").ajaxSubmit(options);
			}

		};
		$scope.onCancel=function(){
			parent.$dlog.close();
			
		};
		
	});
	
	
	</script>
</body>
</html>
