<!DOCTYPE HTML>
<html>
<head>
<title> 耗材管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/time.js"></script>
<script type="text/javascript" src="../../../js/Calendar.js"></script>

<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/config.js"></script>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>

<style type="text/css">
	.dropDownArea{background-image:url(../../../img/flag.png);background-repeat: no-repeat;background-position:right;background-position:185px;cursor:pointer;}
	
	.btn{display:inline-block;padding:1px 4px;border:solid 1px #f4f4f4; border-radius:4px;}
	.btn.toactive{color:#fff;background:green;}
	.btn.toclose{color:#fff;background:#ED7798;}
	.ck{border:1px #fff solid;background:#fff;margin-top:5px}
	.cks{float:left;height:20px;}
	.cks .ck{float:left;margin-top:15px;margin-left:10px;}
	.cks span{float:left}
    .dialog-viewcode{width:500px;height:400px;}
    .dialog-viewcyle{width:900px;height:500px;}
    .dialog-scrap{width:480px;height:320px;}
.dialog-bedRent{width:900px; height:500px;}
    
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left" style="min-width: 850px">
				
				<input type="text" id="proType" class="dropDownList" placeholder="请选择项目类别"/>
				<input type="text" id="project" class="dropDownList" placeholder="请选择项目" style="width:200px;" />
				<input type="text" id="category" class="dropDownList" placeholder="指标类别"/>
				<input type="text" id="cycle" class="dropDownList" placeholder="周期"/>
				
				<input type="text" id="prokpi" class="dropDownList" placeholder="指标" style="width:200px;" />
				
				<input type="text" name="fromDate" placeholder="请选择开始时间" onclick="new Calendar().show(this)" class="dateComponent"/>
				<input type="text" name="toDate" placeholder="请选择结束时间" onclick="new Calendar().show(this)" class="dateComponent"/>
				
				
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
				
				&nbsp;&nbsp;
				
			</div>
			<img src="../../../img/list_Header2-.png">
			
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">项目名称</div></th>
				<th><div align="center">项目编码</div></th>
				<th><div align="center">负责人</div></th>
				<th ng-repeat="item in kpiList"><div align="center">{{item.kpiName}}</div></th>
				<th><div align="center">总计</div></th>
			  </tr>
			  <tr class="tr2" ng-repeat="item in assessmentList">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.proName}}</div></td>
				<td><div align="center">{{item.proNo}}</div></td>
				<td><div align="center">{{item.proManager}}</div></td>
				<td ng-repeat="it in kpiList"><div align="center" ><a ng-click="showDialog(item,it)" style="cursor: pointer;text-decoration: underline;color:blue">{{item[it.kpiCode]}}</a></div></td>
				<td><div align="center">{{item.t}}</div></td>
				
				
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">



function createPageBar(totalPage, curPage,totalRecord){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		curPage:curPage,
		totalRecord: totalRecord,
		showPageInfo:true,
		prevPageText:"上一页",
		nextPageText:"下一页",
		onPage:function(pageNum){
			_currentPage=pageNum;
			ngScope.loadProjects(pageNum);
		}
	});
}




var cond_categoryCode="";
var proNos="";
var category="";//指标类别
var categoryName="";
var categoryCode="";
var fromDate="";
var toDate="";
var _currentPage=1;
var cycleName="";
var cycleCode="";
var kpiCode="";
var kpiName="";
var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.kpiList = [];
	$scope.assessmentList=[];
	fromDate=getWeekStartDate();
	$("input[name=fromDate]").val(fromDate);
	toDate=getWeekEndDate();
	$("input[name=toDate]").val(toDate);
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	var params=getUrlParams();
	

	
	

	
	
    var proUrl="../../component/projectListCheck.html";

    /* 项目类型 */
	new DropDownList().init({
		renderTo:"#proType",
		url:"../../component/projectType.html?required=false&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#proType").val(result.categoryName);
			cond_categoryCode = result.categoryCode;
			//var dpdlst_project = new DropDownList();
			projectListCheckList.setConfig("url", proUrl+"?categoryCode="+cond_categoryCode);
		}
	});

	//资产类型
	/* 项目列表 */
		var projectListCheckList = new DropDownList();
		projectListCheckList.init({
				renderTo:"#project",
				url:proUrl+"?categoryCode="+cond_categoryCode,
				height:"200px",
				onSelected:function(results){
					var proNoss=[];
					var proNames=[];
					for(var i=0; i<results.length; i++){
						var item = results[i];
						proNoss.push(item.proNo);
						proNames.push(item.proName);
					}
					$("#project").val(arrToStr(proNames));
					
					proNos=arrToStr(proNoss);
					
					
				}
			});

		//指标类别
		new DropDownList().init({
			renderTo:"#category",
			url:"../../component/kpiCatagoryCheck.html",
			height:"200px",
			onSelected:function(result){
				
				var categoryCodes=[];
				var categoryNames=[];
				for(var i=0; i<result.length; i++){
					var item = result[i];
					categoryCodes.push(item.categoryCode);
					categoryNames.push(item.categoryName);
				}
				$("#category").val(arrToStr(categoryNames));
				categoryName=arrToStr(categoryNames);
				categoryCode=arrToStr(categoryCodes);
				kpilist.setConfig("url", "../../component/prokpi.html?kpiCategoryCode="+categoryCode+"&cycleCode="+cycleCode);
			}
		});
		//周期
		new DropDownList().init({
			renderTo:"#cycle",
			url:"../../component/cycleCheck.html",
			height:"200px",
			onSelected:function(result){
				
				var cycleCodes=[];
				var cycleNames=[];
				
				for(var i=0; i<result.length; i++){
					var item = result[i];
					cycleCodes.push(item.cycleCode);
					cycleNames.push(item.cycleName);
				}
				$("#cycle").val(arrToStr(cycleNames));
				cycleName=arrToStr(cycleNames);
				cycleCode=arrToStr(cycleCodes);
				kpilist.setConfig("url", "../../component/prokpiCheck.html?kpiCategoryCode="+categoryCode+"&cycleCode="+cycleCode);
			}
		});
		
		//指标
		var kpilist=new DropDownList();
		kpilist.init({
			renderTo:"#prokpi",
			url:"../../component/prokpiCheck.html?kpiCategoryCode="+categoryCode+"&cycleCode="+cycleCode,
			height:"200px",
			onSelected:function(result){
				
				var kpiCodes=[];
				var kpiNames=[];
				
				for(var i=0; i<result.length; i++){
					var item = result[i];
					kpiCodes.push(item.kpiCode);
					kpiNames.push(item.kpiName);
				}
				$("#prokpi").val(arrToStr(kpiNames));
				kpiName=arrToStr(kpiNames);
				kpiCode=arrToStr(kpiCodes);
			}
		});
		
		
		$scope.showDialog=function(item,it){
			
			
			
			new ShowDlog().showFrame("dialog.html?kpiCode="+it.kpiCode+"&proNo="+item.proNo+"&fromDate="+fromDate+"&toDate="+toDate,"指标得分详情", function(){
				
			},"dialog-bedRent");

			
		};
	
		
	/* 加载数据 */
	
	$scope.loadProjects=function(currentPage){//alert(unitCode);
		$http.get(serviceBasePath+"eap/pmsServices/pm/assessment/assessmentStatistics/assessmengStatistics?currentPage="+currentPage+"&ticket="+ticket
				+"&fromDate="+fromDate+"&toDate="+toDate+"&categoryCode="+categoryCode+"&kpiCode="+kpiCode+"&proNo="+proNos+"&companyCode="+userData.companyCode).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../login.html";
				return;
			}
			$scope.kpiList = response.data.kpiList;
			
			$scope.assessmentList=response.data.assessmentList;
			
			//createPageBar(response.totalPage, response.currentPage,response.totalRecord);
		});
	};
	
	/* 查询 */
	$scope.doQuery=function(){
		fromDate=$("input[name=fromDate]").val();
		toDate=$("input[name=toDate]").val();
		$scope.loadProjects(1);
	};

	/* 初始查询 */
	//ngScope.loadProjects(_currentPage);
});
</script>
</body>
</html>
