<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.om.deviceMgr.imagesMgr.dao.ImagesVoMapper" >
  
  
  
 
  
  <select id="getImageslist" parameterType="java.util.HashMap" resultType="map" statementType="STATEMENT">
  	SELECT NAME,BX_NAME,FILE_NAME,USER_DISPLAY_NAME userName,STORAGE_LOCATION storageLocation,CREATE_TIME crateTime,BX_CODE,BX_STATE,ID,ATTACHMENT_OBJECT_ID
    FROM V_BX_DETAIL_INFO 
    where NAME like '%${estaeName}%' and BX_NAME like '%${addr}%'
  	
  </select>
  
   <select id="getAllImageslist" parameterType="java.util.HashMap" resultType="map" statementType="STATEMENT">
  	SELECT NAME,BX_NAME,FILE_NAME,USER_DISPLAY_NAME userName,STORAGE_LOCATION storageLocation,CREATE_TIME crateTime,BX_CODE,BX_STATE,ID,ATTACHMENT_OBJECT_ID
    FROM V_BX_DETAIL_INFO 	
  </select>
  
  
  <insert id="insertFs" parameterType="map">
  	    INSERT INTO fs_file(FILE_NAME,FILE_CODE,FILE_SUFFIX,FILE_SIZE,FILE_URL,FILE_TYPE,SYS_CREATE_TIME)
		VALUES(#{fileName},#{fileCode},#{fileSuffix},#{fileSize},#{fileUrl},0,now())
  </insert>
  
  
</mapper>