<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.fm.expense.dao.FmMoneyReturnMapper" >
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.fm.expense.vo.FmMoneyReturn" >
   <id column="rowid" jdbcType="BIGINT" property="rowid" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="APPLY_DATE" jdbcType="VARCHAR" property="applyDate" />
    <result column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="UNIT_NAME" jdbcType="VARCHAR" property="unitName" />
    <result column="JOB_NO" jdbcType="VARCHAR" property="jobNo" />
    <result column="EMPLOYEE_NAME" jdbcType="VARCHAR" property="employeeName" />
    <result column="BANK_ACCOUNT" jdbcType="VARCHAR" property="bankAccount" />
    <result column="APPLY_CONTENT" jdbcType="VARCHAR" property="applyContent" />
    <result column="TOTAL_MONEY" jdbcType="DECIMAL" property="totalMoney" />
    <result column="RETURN_MONEY" jdbcType="DECIMAL" property="returnMoney" />
    <result column="FEE_TYPE" jdbcType="VARCHAR" property="feeType" />
    <result column="REAL_MONEY" jdbcType="DECIMAL" property="realMoney" />
    <result column="WORKFLOW_CODE" jdbcType="VARCHAR" property="workflowCode" />
    <result column="PRO_NO" jdbcType="VARCHAR" property="proNo" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="SYS_CREATE_TIME" jdbcType="TIMESTAMP" property="sysCreateTime" />
    <result column="SYS_UPDATE_TIME" jdbcType="TIMESTAMP" property="sysUpdateTime" />
    <result column="SYS_DELETE_TIME" jdbcType="TIMESTAMP" property="sysDeleteTime" />
    <result column="SYS_PROCESS_FLAG" jdbcType="CHAR" property="sysProcessFlag" />
    <result column="CLAIM_USER" jdbcType="VARCHAR" property="claimUser" />
    <result column="CLAIM_DATE" jdbcType="VARCHAR" property="claimDate" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List" >
    rowid, TITLE, APPLY_DATE, UNIT_CODE, UNIT_NAME, JOB_NO, EMPLOYEE_NAME, BANK_ACCOUNT, 
    APPLY_CONTENT, TOTAL_MONEY, RETURN_MONEY, FEE_TYPE, REAL_MONEY, WORKFLOW_CODE, PRO_NO, STATUS,
    SYS_CREATE_TIME, SYS_UPDATE_TIME, SYS_DELETE_TIME, SYS_PROCESS_FLAG,CLAIM_USER, CLAIM_DATE, REMARKS
  </sql>
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fm_money_return
    where rowid = #{rowid,jdbcType=BIGINT}
  </select>
  
  <select id="queryFmMoneyReturnByRowid" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fm_money_return
    where rowid = #{rowid,jdbcType=BIGINT}
  </select>
  
  
  <select id="queryFmMoneyReturnList" parameterType="string"  resultMap="BaseResultMap">
  	  select 
    <include refid="Base_Column_List" />
    from fm_money_return
    where WORKFLOW_CODE = #{workflowCode} 
  </select>
  
   <sql id="pageCon">
   	<if test="employeeName!=null and employeeName!=''">
   		and a.EMPLOYEE_NAME like concat('%',#{employeeName},'%')
   	</if>
   	<if test="unitCode!=null and unitCode!=''">
   		and a.UNIT_CODE = #{unitCode}
   	</if>
   	<if test="fromTime!=null and fromTime!=''">
   		and a.APPLY_DATE >= #{fromTime}
   	</if>
   	<if test="toTime!=null and toTime!=''">
   		and a.APPLY_DATE &lt;= #{toTime}
   	</if>
   	<if test="proNo!=null and proNo!=''">
   		and a.PRO_NO= #{proNo}
   	</if>
   	<if test="minMoney!=null and minMoney!=''">
   		and a.TOTAL_MONEY >= #{minMoney}
   	</if>
   	<if test="maxMoney!=null and maxMoney!=''">
   		and a.TOTAL_MONEY &lt;= #{maxMoney}
   	</if>
   	<if test="status!=null and status!=''">
   		 	and a.STATUS = #{status}
   	</if>
   	
   </sql>
  
  <select id="queryForCount" parameterType="map" resultType="int">
  	select count(*) from fm_money_return  a
  	where a.SYS_PROCESS_FLAG='1'
  	<include refid="pageCon"></include>
  </select>
  
  
  <select id="queryForPage" parameterType="map" resultType="map">
	SELECT
		a.rowid,
		a.TITLE,
		a.APPLY_DATE,
		a.JOB_NO,
		a.BANK_ACCOUNT,
		a.APPLY_CONTENT,
		a.TOTAL_MONEY,
		a.RETURN_MONEY,
		a.FEE_TYPE,
		a.REAL_MONEY,
		a.WORKFLOW_CODE,
		a.EMPLOYEE_NAME,
		a.STATUS,
		a.PRO_NO,
		d.PRO_NAME,
		c.FEE_NAME
	FROM
		fm_money_return a
	LEFT JOIN fm_fee_type c ON a.FEE_TYPE = c.FEE_CODE LEFT JOIN pm_base d on a.PRO_NO=d.PRO_NO
	where a.SYS_PROCESS_FLAG='1'
	<include refid="pageCon"></include>
	ORDER BY
		a.APPLY_DATE desc  	
	limit #{firstResult},#{maxResult}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fm_money_return
    where rowid = #{rowid,jdbcType=BIGINT}
  </delete>
  
  
  <insert id="insertSelective" parameterType="com.glens.pwCloudOs.fm.expense.vo.FmMoneyReturn" useGeneratedKeys="true" keyProperty="rowid">
    insert into fm_money_return
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rowid != null">
        rowid,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="applyDate != null">
        APPLY_DATE,
      </if>
      <if test="unitCode != null">
        UNIT_CODE,
      </if>
      <if test="unitName != null">
        UNIT_NAME,
      </if>
      <if test="jobNo != null">
        JOB_NO,
      </if>
      <if test="employeeName != null">
        EMPLOYEE_NAME,
      </if>
      <if test="bankAccount != null">
        BANK_ACCOUNT,
      </if>
      <if test="applyContent != null">
        APPLY_CONTENT,
      </if>
      <if test="totalMoney != null">
        TOTAL_MONEY,
      </if>
      <if test="returnMoney != null">
        RETURN_MONEY,
      </if>
      <if test="feeType != null">
        FEE_TYPE,
      </if>
      <if test="realMoney != null">
        REAL_MONEY,
      </if>
      <if test="workflowCode != null">
        WORKFLOW_CODE,
      </if>
      <if test="proNo != null">
        PRO_NO,
      </if>
       <if test="status != null">
        STATUS,
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME,
      </if>
      <if test="sysProcessFlag != null">
        SYS_PROCESS_FLAG,
      </if>
       <if test="claimUser != null">
        CLAIM_USER,
      </if>
      <if test="claimDate != null">
        CLAIM_DATE,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rowid != null">
        #{rowid,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null">
        #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="jobNo != null">
        #{jobNo,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null">
        #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="applyContent != null">
        #{applyContent,jdbcType=VARCHAR},
      </if>
      <if test="totalMoney != null">
        #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="returnMoney != null">
        #{returnMoney,jdbcType=DECIMAL},
      </if>
      <if test="feeType != null">
        #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="realMoney != null">
        #{realMoney,jdbcType=DECIMAL},
      </if>
      <if test="workflowCode != null">
        #{workflowCode,jdbcType=VARCHAR},
      </if>
      <if test="proNo != null">
        #{proNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="sysCreateTime != null">
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null">
        #{sysProcessFlag,jdbcType=CHAR},
      </if>
      <if test="claimUser != null">
        #{claimUser,jdbcType=VARCHAR},
      </if>
      <if test="claimDate != null">
        #{claimDate,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
   <update id="updateByPrimaryKeySelective" parameterType="com.glens.pwCloudOs.fm.expense.vo.FmMoneyReturn">
    update fm_money_return
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        APPLY_DATE = #{applyDate,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null">
        UNIT_CODE = #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="jobNo != null">
        JOB_NO = #{jobNo,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null">
        EMPLOYEE_NAME = #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="applyContent != null">
        APPLY_CONTENT = #{applyContent,jdbcType=VARCHAR},
      </if>
      <if test="totalMoney != null">
        TOTAL_MONEY = #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="returnMoney != null">
        RETURN_MONEY = #{returnMoney,jdbcType=DECIMAL},
      </if>
      <if test="feeType != null">
        FEE_TYPE = #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="realMoney != null">
        REAL_MONEY = #{realMoney,jdbcType=DECIMAL},
      </if>
      <if test="workflowCode != null">
        WORKFLOW_CODE = #{workflowCode,jdbcType=VARCHAR},
      </if>
      <if test="proNo != null">
        PRO_NO = #{proNo,jdbcType=VARCHAR},
      </if>
       <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null">
        SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
      </if>
       <if test="claimUser != null">
        CLAIM_USER = #{claimUser,jdbcType=VARCHAR},
      </if>
      <if test="claimDate != null">
        CLAIM_DATE = #{claimDate,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where rowid = #{rowid,jdbcType=BIGINT}
  </update>
  
  
  <update id="updateByPrimaryKeySelective1" parameterType="com.glens.pwCloudOs.fm.expense.vo.FmMoneyReturn">
    update fm_money_return
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        APPLY_DATE = #{applyDate,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null">
        UNIT_CODE = #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="jobNo != null">
        JOB_NO = #{jobNo,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null">
        EMPLOYEE_NAME = #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="applyContent != null">
        APPLY_CONTENT = #{applyContent,jdbcType=VARCHAR},
      </if>
      <if test="totalMoney != null">
        TOTAL_MONEY = #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="returnMoney != null">
        RETURN_MONEY = #{returnMoney,jdbcType=DECIMAL},
      </if>
      <if test="feeType != null">
        FEE_TYPE = #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="realMoney != null">
        REAL_MONEY = #{realMoney,jdbcType=DECIMAL},
      </if>
      <if test="workflowCode != null">
        WORKFLOW_CODE = #{workflowCode,jdbcType=VARCHAR},
      </if>
      <if test="proNo != null">
        PRO_NO = #{proNo,jdbcType=VARCHAR},
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null">
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null">
        SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
      </if>
       <if test="claimUser != null">
        CLAIM_USER = #{claimUser,jdbcType=VARCHAR},
      </if>
      <if test="claimDate != null">
        CLAIM_DATE = #{claimDate,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where rowid = #{rowid,jdbcType=BIGINT}
  </update>
  
</mapper>