<!DOCTYPE HTML>
<html>
<head>
<title> 综合统计 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/ExportExcel.js"></script>


<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../../../css/list.css" />
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<style type="text/css">
	.title_tabs{list-style-type:none;padding:0;margin:0;height:39px;margin-left:-1px;}
	.title_tabs li{position:relative;padding:0;margin:0;border-left:1px #fff solid;float:left;height:39px;background:#E1E1E1;}
	.title_tabs li>a{display:block;line-height:39px;border:solid 0px;padding:0 70px 0 50px;margin-right:-14px;
		background:url(../../../../img/list_Header2-gray.png) right no-repeat;color:#666;font-size:14px;font-weight:bold;}
	.title_tabs li.selected{background:#4CA9FF;z-index:9;}
	.title_tabs li.selected>a{background:url(../../../../img/list_Header2-.png) right no-repeat;color:#fff;font-size:14px;font-weight:bold;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<ul class="title_tabs">
			<li class="selected">
				<a href="javascript:" ui-id="#lay1">资产维修保养记录</a>
			</li>
			<li>
				<a href="javascript:" id="a2" ui-id="#lay2">资产入库记录</a>
			</li>
			<li>
				<a href="javascript:" id="a3" ui-id="#lay3">资产出库记录</a>
			</li>
			<li>
				<a href="javascript:" ui-id="#lay4">资产归还记录</a>
			</li>
			<li>
				<a href="javascript:" ui-id="#lay5">资产报废记录</a>
			</li>
		</ul>
		
		<div id="lay1">
			<div class="title_div">
				<div class="title_bar">

					<input type="text" id="dropDownProjectType1" class="dropDownList" placeholder="请选择资产分类"/>
				    <input type="text" id="dropDownProjectType11" class="dropDownList" placeholder="请选择资产类型"/>
				    <input type="text" id="starttime" name="starttime" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)" />
				<input type="text" id="endtime"   name="endtime" class="date dateComponent" placeholder="请选择结束时间" onclick="new Calendar().show(this)" />
					<div class="query_div" ng-click="doQuery()">
						查询
					</div>
					<div class="query_div" ng-click="doExport()">
						导出
					</div>
					&nbsp;&nbsp;
					
				</div>
		   </div>
			<div class="table_div">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable">
				   <tr class="tr1">
					<th><div align="center">序号</div></th>
					<th><div align="center">资产性质</div></th>
					<th><div align="center">资产类型</div></th>
					<th><div align="center">品牌</div></th>
					<th><div align="center">型号</div></th>
					<th><div align="center">计量单位</div></th>
					<th><div align="center">入库时间</div></th>
					<th><div align="center">保修部门/项目</div></th>
					<th><div align="center">保修日期</div></th>
					<th><div align="center">维修完成日期</div></th>
					<th><div align="center">维修原由</div></th>
					<th><div align="center">维修费用</div></th>
					<th><div align="center">维修厂家</div></th>
					<th><div align="center">备注</div></th>
				  </tr>
				  <tr class="tr2" ng-repeat="item in list1">
					<td><div align="center">{{$index+1}}</div></td>
					<td><div align="center">{{item.assetCharacterName}}</div></td>
					<td><div align="center">{{item.assetTypeName}}</div></td>
					<td><div align="center">{{item.brand}}</div></td>
					<td><div align="center">{{item.modelNo}}</div></td>
					<td><div align="center">{{item.measureUnit}}</div></td>
					<td><div align="center">{{item.dateStorage}}</div></td>
					<td><div align="center">{{item.unitName}}</div></td>
					<td><div align="center">{{item.reportDate}}</div></td>
					<td><div align="center">{{item.finishDate}}</div></td>
					<td><div align="center">{{item.repairReason}}</div></td>
					<td><div align="center">{{item.repairCost}}</div></td>
					<td><div align="center">{{item.repairVender}}</div></td>
					<td><div align="center">{{item.remarks}}</div></td>
					
				  </tr>
				</table>
			</div>
	
			<div id="page_bar" class="list_bottom" align="center">
			</div>
		</div>
		<div id="lay2">
			<div class="title_div">
				<div class="title_bar">
					<input type="text" id="types" class="dropDownList" value="资产" style="width:80px;" />
					<input type="text" id="dropDownProjectType2" class="dropDownList" placeholder="请选择资产分类"/>
				    <input type="text" id="dropDownProjectType22" class="dropDownList" placeholder="请选择资产类型"/> 
				    <input type="text" name="bill" placeholder="请输入发票号"/>
				    <input type="text" id="starttime2" name="starttime" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)" />
					<input type="text" id="endtime2"   name="endtime" class="date dateComponent" placeholder="请选择结束时间" onclick="new Calendar().show(this)" />
					<div class="query_div" ng-click="doQuery2()">
						查询
					</div>
					<div class="query_div" ng-click="doExport2()">
						导出
					</div>
					<div class="query_div" style="width:80px;" ng-click="tolist()">
						入库单
					</div>
					&nbsp;&nbsp;
					
				</div>
		   </div>
			<div class="table_div">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable2">
				   <tr class="tr1">
					<th><div align="center">序号</div></th>
					
					<th><div align="center">资产名称</div></th>
					<th><div align="center">资产性质</div></th>
					<th><div align="center">资产类型</div></th>
					
					<th><div align="center">品牌</div></th>
					<th><div align="center">型号</div></th>
					<th><div align="center">计量单位</div></th>
					<th><div align="center">入库时间</div></th>
					<th><div align="center">简称</div></th>
					
					<th ng-if="hd==1"><div align="center">状态</div></th>
					<th ng-if="hd==1"><div align="center">租用人</div></th>
					<th ng-if="hd==1"><div align="center">租用部门</div></th>
					<th ng-if="hd==1"><div align="center">租用项目组</div></th>
					
					<th><div align="center">含税单价</div></th>
					<th><div align="center">不含税单价</div></th>
					<th><div align="center">备注</div></th>
				  </tr>
				  <tr class="tr2" ng-repeat="item in list2">
					<td><div align="center">{{$index+1}}</div></td>
					<td><div align="center">{{item.assetName}}</div></td>
					<td><div align="center">{{item.assetCharacterName}}</div></td>
					<td><div align="center">{{item.assetTypeName}}</div></td>
					
					<td><div align="center">{{item.brand}}</div></td>
					<td><div align="center">{{item.modelNo}}</div></td>
					<td><div align="center">{{item.measureUnit}}</div></td>
					<td><div align="center">{{item.dateStorage}}</div></td>
					<td ><div align="center">{{item.assetTypeShortName}}</div></td>
					<td ng-if="hd==1">
						<div ng-if="item.status==1" align="center">闲置</div>
						<div ng-if="item.status==2" align="center">在用(部门)</div>
						<div ng-if="item.status==3" align="center">在用(项目)</div>
						<div ng-if="item.status==4" align="center">项目维修</div>
						<div ng-if="item.status==5" align="center">维修</div>
						<div ng-if="item.status==6" align="center">待报废</div>
						<div ng-if="item.status==7" align="center">已报废</div>
						<div ng-if="item.status==8" align="center">总部仓库闲置</div>
					</td>
					<td ng-if="hd==1"><div align="center">{{item.loanEmployeeName}}</div></td>
					<td ng-if="hd==1"><div align="center">{{item.loanUnitName}}</div></td>
					<td ng-if="hd==1"><div align="center">{{item.loanProName}}</div></td>
					<td><div align="center">{{item.price1}}</div></td>
					<td><div align="center">{{item.price2}}</div></td>
					<td><div align="center">{{item.remarks}}</div></td>
				  </tr>
				</table>
			</div>
	
			
		</div>
		
		<div id="lay3">
			<div class="title_div">
				<div class="title_bar">

					<input type="text" id="dropDownProjectType3" class="dropDownList" placeholder="请选择资产分类"/>
				    <input type="text" id="dropDownProjectType33" class="dropDownList" placeholder="请选择资产类型"/>
				    <input type="text" class="proType dropDownList" placeholder="请选择项目类别"/>
					<input type="text"  class="proNameD dropDownList" placeholder="请选择项目"/>
				    <input type="text" id="starttime3" name="starttime" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)" />
					<input type="text" id="endtime3"   name="endtime" class="date dateComponent" placeholder="请选择结束时间" onclick="new Calendar().show(this)" />
					<div class="query_div" ng-click="doQuery3()">
						查询
					</div>
					<div class="query_div" ng-click="doExport3()">
						导出
					</div>
					<div class="query_div" style="width:80px;" ng-click="tolist1()">
						出库单
					</div>
					&nbsp;&nbsp;
					
				</div>
		   </div>
			
			<div class="table_div">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable3">
				   <tr class="tr1">
					<th width="50px;"><div align="center">序号</div></th>
					<th width="80px;"><div align="center">资产性质</div></th>
					<th width="90px;"><div align="center">资产类型</div></th>
					<th width="100px;"><div align="center">品牌</div></th>
					<th width="100px;"><div align="center">型号</div></th>
					<th width="70px;"><div align="center">计量单位</div></th>
					<th width="80px;"><div align="center">入库时间</div></th>
					<th width="100px;"><div align="center">简称</div></th>
					<th width="150px;"><div align="center">部门/项目</div></th>
					<th width="100px;"><div align="center">租用日期</div></th>
					<th width="80px;"><div align="center">归还日期</div></th>
					<th width="80px;"><div align="center">含税单价</div></th>
					<th width="80px;"><div align="center">不含税单价</div></th>
					<th width="200px;"><div align="center">备注</div></th>
				  </tr>
				  <tr class="tr2" ng-repeat="item in list3">
					<td><div align="center"><input type="checkbox" name="cks" value="{{item.assetCode}}" />{{$index+1}}</div></td>
					<td><div align="center">{{item.assetCharacterName}}</div></td>
					<td><div align="center">{{item.assetTypeName}}</div></td>
					<td><div align="center">{{item.brand}}</div></td>
					<td><div align="center">{{item.modelNo}}</div></td>
					<td><div align="center">{{item.measureUnit}}</div></td>
					<td><div align="center">{{item.dateStorage}}</div></td>
					<td><div align="center">{{item.assetTypeShortName}}</div></td>
					<td><div align="center">{{item.unitName}}</div></td>
					<td><div align="center">{{item.rentDate}}</div></td>
					<td><div align="center">{{item.returnDate}}</div></td>
					<td><div align="center">{{item.price1}}</div></td>
					<td><div align="center">{{item.price2}}</div></td>
					<td><div align="center" title="{{item.remarks}}">{{item.remarks1}}...</div></td>
				  </tr>
				</table>
			</div>
	
			
		</div>
		<div id="lay4">
			<div class="title_div">
				<div class="title_bar">

					<input type="text" id="dropDownProjectType4" class="dropDownList" placeholder="请选择资产分类"/>
				    <input type="text" id="dropDownProjectType44" class="dropDownList" placeholder="请选择资产类型"/>
				    <input type="text" id="starttime4" name="starttime" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)" />
					<input type="text" id="endtime4"   name="endtime" class="date dateComponent" placeholder="请选择结束时间" onclick="new Calendar().show(this)" />
					<div class="query_div" ng-click="doQuery4()">
						查询
					</div>
					<div class="query_div" ng-click="doExport4()">
						导出
					</div>
					&nbsp;&nbsp;
					
				</div>
		   </div>
			
			<div class="table_div">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable4">
				   <tr class="tr1">
					<th><div align="center">序号</div></th>
					<th><div align="center">资产性质</div></th>
					<th><div align="center">资产类型</div></th>
					<th><div align="center">品牌</div></th>
					<th><div align="center">型号</div></th>
					<th><div align="center">计量单位</div></th>
					<th><div align="center">入库时间</div></th>
					<th><div align="center">简称</div></th>
					<th><div align="center">保修部门/项目</div></th>
					<th><div align="center">租用日期</div></th>
					<th><div align="center">归还日期</div></th>
					<th><div align="center">含税单价</div></th>
					<th><div align="center">不含税单价</div></th>
					<th><div align="center">净值</div></th>
					<th><div align="center">备注</div></th>
				  </tr>
				  <tr class="tr2" ng-repeat="item in list4">
					<td><div align="center">{{$index+1}}</div></td>
					<td><div align="center">{{item.assetCharacterName}}</div></td>
					<td><div align="center">{{item.assetTypeName}}</div></td>
					<td><div align="center">{{item.brand}}</div></td>
					<td><div align="center">{{item.modelNo}}</div></td>
					<td><div align="center">{{item.measureUnit}}</div></td>
					<td><div align="center">{{item.dateStorage}}</div></td>
					<td><div align="center">{{item.assetTypeShortName}}</div></td>
					<td><div align="center">{{item.unitName}}</div></td>
					<td><div align="center">{{item.rentDate}}</div></td>
					<td><div align="center">{{item.returnDate}}</div></td>
					<td><div align="center">{{item.price1}}</div></td>
					<td><div align="center">{{item.price2}}</div></td>
					<td><div align="center">{{item.nav}}</div></td>
					<td><div align="center">{{item.remarks}}</div></td>
				  </tr>
				</table>
			</div>
	
			
		</div>
		<div id="lay5">
			<div class="title_div">
				<div class="title_bar">

					<input type="text" id="dropDownProjectType5" class="dropDownList" placeholder="请选择资产分类"/>
				    <input type="text" id="dropDownProjectType55" class="dropDownList" placeholder="请选择资产类型"/>
				    <input type="text" id="starttime5" name="starttime" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)" />
					<input type="text" id="endtime5"   name="endtime" class="date dateComponent" placeholder="请选择结束时间" onclick="new Calendar().show(this)" />
					<div class="query_div" ng-click="doQuery5()">
						查询
					</div>
					<div class="query_div" ng-click="doExport5()">
						导出
					</div>
					&nbsp;&nbsp;
					
				</div>
		   </div>
			
			<div class="table_div">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable5">
				   <tr class="tr1">
					<th><div align="center">序号</div></th>
					<th><div align="center">资产性质</div></th>
					<th><div align="center">资产类型</div></th>
					<th><div align="center">品牌</div></th>
					<th><div align="center">型号</div></th>
					<th><div align="center">计量单位</div></th>
					<th><div align="center">入库时间</div></th>
					<th><div align="center">简称</div></th>
					<th><div align="center">租用人</div></th>
					<th><div align="center">租用部门</div></th>
					<th><div align="center">租用项目组</div></th>
					<th><div align="center">含税单价</div></th>
					<th><div align="center">不含税单价</div></th>
					<th><div align="center">报废日期</div></th>
					<th><div align="center">报废金额</div></th>
					<th><div align="center">净值</div></th>
					<th><div align="center">备注</div></th>
				  </tr>
				  <tr class="tr2" ng-repeat="item in list5">
					<td><div align="center">{{$index+1}}</div></td>
					<td><div align="center">{{item.assetCharacterName}}</div></td>
					<td><div align="center">{{item.assetTypeName}}</div></td>
					<td><div align="center">{{item.brand}}</div></td>
					<td><div align="center">{{item.modelNo}}</div></td>
					<td><div align="center">{{item.measureUnit}}</div></td>
					<td><div align="center">{{item.dateStorage}}</div></td>
					<td><div align="center">{{item.assetTypeShortName}}</div></td>
					<td><div align="center">{{item.loanEmployeeName}}</div></td>
					<td><div align="center">{{item.loanUnitName}}</div></td>
					<td><div align="center">{{item.loanProName}}</div></td>
					<td><div align="center">{{item.price1}}</div></td>
					<td><div align="center">{{item.price2}}</div></td>
					<td><div align="center">{{item.dateDump}}</div></td>
					<td><div align="center">{{item.dumpAmount}}</div></td>
					<td><div align="center">{{item.nav}}</div></td>
					<td><div align="center">{{item.remarks}}</div></td>
				  </tr>
				</table>
			</div>
	
			
		</div>

	</div>
</div>
<script type="text/javascript">

function getFirstAndLastMonthDay( year, month){    
               var   firstdate = year + '-' + month + '-01';  
               var  day = new Date(year,month,0);   
               var lastdate = year + '-' + month + '-' + day.getDate();//获取当月最后一天日期    
  //给文本控件赋值。同下  
               return lastdate;  
}

var cond_categoryCode="", cond_proNo="", cond_viewtype="", cond_viewtype2="";
var assetTypeCode="";
var assetClassCode="";
var fromDate="";
var toDate="";

var assetTypeCode2="";
var assetTypeName2="";
var assetClassCode2="";
var assetClassName2="";
var fromDate2="";
var toDate2="";
var bill="";

var assetTypeCode3="";
var assetTypeName3="";
var assetClassCode3="";
var assetClassName3="";
var fromDate3="";
var toDate3="";
var tempCate="";
var tempCateName=""
var tempProNo="";
var tempProName="";
   


var assetTypeCode4="";
var assetClassCode4="";
var fromDate4="";
var toDate4="";

var assetTypeCode5="";
var assetClassCode5="";
var fromDate5="";
var toDate5="";
var iscm="";
var assetTypeCombobox;


var classCombobox1;
var classCombobox2;
var classCombobox22;
var classCombobox3;
var classCombobox4;
var classCombobox5;
var proTypes;


var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.list1=[];
	$scope.list2=[];
	$scope.list3=[];
	$scope.list4=[];
	$scope.list5=[];
	
	$scope.hd=1;
	iscm=0;
	
	
	var myDate = new Date();
	fromDate=myDate.getFullYear()+"-"+(myDate.getMonth()+1)+"-1";
	toDate=getFirstAndLastMonthDay(myDate.getFullYear(),myDate.getMonth()+1);
	
	fromDate2=myDate.getFullYear()+"-"+(myDate.getMonth()+1)+"-1";
	toDate2=getFirstAndLastMonthDay(myDate.getFullYear(),myDate.getMonth()+1);
	
	fromDate3=myDate.getFullYear()+"-"+(myDate.getMonth()+1)+"-1";
	toDate3=getFirstAndLastMonthDay(myDate.getFullYear(),myDate.getMonth()+1);
	
	fromDate4=myDate.getFullYear()+"-"+(myDate.getMonth()+1)+"-1";
	toDate4=getFirstAndLastMonthDay(myDate.getFullYear(),myDate.getMonth()+1);
	
	fromDate5=myDate.getFullYear()+"-"+(myDate.getMonth()+1)+"-1";
	toDate5=getFirstAndLastMonthDay(myDate.getFullYear(),myDate.getMonth()+1);
	//alert(toDate)
	
	$("#starttime").val(fromDate);
	$("#endtime").val(toDate);
	$("#starttime2").val(fromDate2);
	$("#endtime2").val(toDate2);
	$("#starttime3").val(fromDate3);
	$("#endtime3").val(toDate3);
	$("#starttime4").val(fromDate4);
	$("#endtime4").val(toDate4);
	$("#starttime5").val(fromDate5);
	$("#endtime5").val(toDate5);
	
	
	/* 初始化视图 */
	$(".title_tabs>li>a").each(function(){
		var layId = $(this).attr("ui-id");
		var $li = $(this).parent();
		var idx = $(".title_tabs>li").index($li);
		if(idx!=0){
			$(layId).hide();
			$(layId).attr("data-show", "0");
		}else{
			$(layId).attr("data-show", "1");
		}
		$(this).click(function(){
			$(".title_tabs>.selected").removeClass("selected");
			$(this).parent("li").addClass("selected");
			var layId = $(this).attr("ui-id");
			$("div[data-show=1]").hide();
			$("div[data-show=1]").attr("data-show", "0");
			$(layId).show();
			$(layId).attr("data-show", "1");
		});
	});
	
	var params = getUrlParams();
	
	if(params.isshow==1){
	
		 
		 bill=params.bill;
		 assetTypeCode2=params.assetTypeCode2;
		 assetClassCode2=params.assetClassCode2;
		 fromDate2=params.fromDate2;
		 toDate2=params.toDate2;
		 assetTypeName2=params.assetTypeName2;
		 assetClassName2=params.assetClassName2;
		 iscm=params.iscm;
		 
		 var seltype=params.seltype;
		 $("#types").val(seltype);
		 if(iscm==1){
			 $scope.hd=0;
		 }
		/// alert(assetTypeName2)
		 
		 $("input[name=bill]").val(bill);
		 $("#dropDownProjectType22").val(assetTypeName2);
		 $("#dropDownProjectType2").val(assetClassName2);
		 $("#starttime2").val(fromDate2);
		 $("#endtime2").val(toDate2);
		
		  $(".title_tabs>.selected").removeClass("selected");
		  $("#a2").parent("li").addClass("selected");
		  var layId = $("#a2").attr("ui-id");
		  $("div[data-show=1]").hide();
		  $("div[data-show=1]").attr("data-show", "0");
		  $(layId).show();
		  $(layId).attr("data-show", "1"); 
	}else if(params.isshow==2){
		 assetTypeCode3=params.assetTypeCode3;
		 assetClassCode3=params.assetClassCode3;
		 fromDate3=params.fromDate3;
		 toDate3=params.toDate3;
		 assetTypeName3=params.assetTypeName3;
		 assetClassName3=params.assetClassName3;
		 tempProNo=params.tempProNo;
		 tempProName=params.tempProName;
		 tempCate=params.tempCate;
		 tempCateName=params.tempCateName;
		
		 //&tempProNo="+tempProNo+"&tempProName="+tempProName+"&tempCate="+tempCate+"&tempCateName="+tempCateName;
		 
		 
		 $("#dropDownProjectType33").val(assetTypeName3);
		 $("#dropDownProjectType3").val(assetClassName3);
		 $(".proType").val(tempCateName);
		 $(".proNameD").val(tempProName);
		 
		 
		 $("#starttime3").val(fromDate3);
		 $("#endtime3").val(toDate3);
		 
		 $(".title_tabs>.selected").removeClass("selected");
		  $("#a3").parent("li").addClass("selected");
		  var layId = $("#a3").attr("ui-id");
		  $("div[data-show=1]").hide();
		  $("div[data-show=1]").attr("data-show", "0");
		  $(layId).show();
		  $(layId).attr("data-show", "1"); 
	}
	
	
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		window.noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	
	
	/* 资产分类*/
	
	new DropDownList().init({
		renderTo:"#dropDownProjectType1",
		url:"../../../component/assetType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			//assetClassName
			$("#dropDownProjectType1").val(result.assetClassName);
			assetClassCode = result.assetClassCode;
			ngScope.loadProjects1(assetTypeCode, assetClassCode,fromDate, toDate);
			
			
			
			var url1 ="../../../component/assetLeixing.html?ticket="+ticket+"&assetClassCode="+assetClassCode;
			classCombobox1.setConfig("url", url1);
			
		}
	});
	
	//资产类型.
	classCombobox1=new DropDownList();
	classCombobox1.init({
		renderTo:"#dropDownProjectType11",
		url:"../../../component/assetLeixing.html?ticket="+ticket+"&assetClassCode="+assetClassCode,
		height:"200px",
		onSelected:function(result){
			$("#dropDownProjectType11").val(result.assetTypeName);
			assetTypeCode = result.assetTypeCode;  
			ngScope.loadProjects1(assetTypeCode, assetClassCode,fromDate, toDate);
		}
	});
	
	
	
	
	new DropDownList().init({
		renderTo:"#types",
		data:[{name:'资产',value:0},{name:'耗材',value:1}],
		textField:"name",
		onSelected:function(item){
			$("#types").val(item.name);
			iscm=item.value;
			if(iscm==1){
					$scope.hd=0;
			}else if(iscm==0){
					$scope.hd=1;
			}
			
			ngScope.loadProjects2(assetTypeCode2, assetClassCode2,fromDate2, toDate2,bill,iscm);
			var assetTypeUrl = "../../../component/assetType.html?ticket="+ticket+"&iscm="+iscm;
			classCombobox2.setConfig("url", assetTypeUrl);
			
			
		}
	});
	
	
	/* 资产分类2*/
	classCombobox2 = new DropDownList();
	classCombobox2.init({
		renderTo:"#dropDownProjectType2",
		url:"../../../component/assetType.html?ticket="+ticket+"&iscm="+iscm,
		height:"200px",
		onSelected:function(result){
			//assetClassName
			
			
			$("#dropDownProjectType2").val(result.assetClassName);
			//alert("result.assetClassCode："+result.assetClassCode)
			assetClassCode2 = result.assetClassCode;
			assetClassName2 = result.assetClassName;
			ngScope.loadProjects2(assetTypeCode2, assetClassCode2,fromDate2, toDate2,bill,iscm);
			
			
			var url = "../../../component/assetLeixing.html?ticket="+ticket+"&assetClassCode="+assetClassCode2;
			classCombobox22.setConfig("url", url);
			
			
		}
	});
	//资产类型2
	classCombobox22=new DropDownList();
	classCombobox22.init({
		renderTo:"#dropDownProjectType22",
		url:"../../../component/assetLeixing.html?ticket="+ticket+"&assetClassCode="+assetClassCode2,
		height:"200px",
		onSelected:function(result){
			$("#dropDownProjectType22").val(result.assetTypeName);
			assetTypeCode2 = result.assetTypeCode;  
			assetTypeName2 = result.assetTypeName;
			ngScope.loadProjects2(assetTypeCode2, assetClassCode2,fromDate2, toDate2,bill,iscm);
		}
	});
	
	/* 资产分类3*/
	new DropDownList().init({
		renderTo:"#dropDownProjectType3",
		url:"../../../component/assetType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			//assetClassName
			$("#dropDownProjectType3").val(result.assetClassName);
			assetClassCode3 = result.assetClassCode;
			assetClassName3 = result.assetClassName;
			ngScope.loadProjects3(assetTypeCode3, assetClassCode3,fromDate3, toDate3,tempProNo);
			
			var url = "../../../component/assetLeixing.html?ticket="+ticket+"&assetClassCode="+assetClassCode3;
			classCombobox3.setConfig("url", url);
			
		}
	});
	//资产类型3
	classCombobox3=new DropDownList();
	classCombobox3.init({
		renderTo:"#dropDownProjectType33",
		url:"../../../component/assetLeixing.html?ticket="+ticket+"&assetClassCode="+assetClassCode3,
		height:"200px",
		onSelected:function(result){
			$("#dropDownProjectType33").val(result.assetTypeName);
			assetTypeCode3 = result.assetTypeCode; 
			assetTypeName3 = result.assetTypeName;
			ngScope.loadProjects3(assetTypeCode3, assetClassCode3,fromDate3, toDate3,tempProNo);
		}
	});
	
	
	
	/* 项目类型 */
	new DropDownList().init({
		renderTo:".proType",
		url:"../../../component/projectType.html?required=false&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$(".proType").val(result.categoryName);
			tempCate = result.categoryCode;
			tempCateName=result.categoryName;
			var url = "../../../component/projectList.html?categoryCode="+tempCate+"&required=false&ticket="+ticket;
			proTypes.setConfig("url", url);
			
		}
	});
	/* 项目列表 */
	proTypes=new DropDownList();
	proTypes.init({
		renderTo:".proNameD",
		url:"../../../component/projectList.html?categoryCode="+tempCate+"&required=false&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$(".proNameD").val(result.proName);
			tempProNo=result.proNo;
			tempProName=result.proName;
			ngScope.loadProjects3(assetTypeCode3, assetClassCode3,fromDate3, toDate3,tempProNo);
		}
	});
	
	/* 资产分类4*/
	new DropDownList().init({
		renderTo:"#dropDownProjectType4",
		url:"../../../component/assetType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			//assetClassName
			$("#dropDownProjectType4").val(result.assetClassName);
			assetClassCode4 = result.assetClassCode;
			ngScope.loadProjects4(assetTypeCode4, assetClassCode4,fromDate4, toDate4);
			
			var url = "../../../component/assetLeixing.html?ticket="+ticket+"&assetClassCode="+assetClassCode4;
			classCombobox4.setConfig("url", url);
			
			
		}
	});
	//资产类型4
	classCombobox4=new DropDownList();
	classCombobox4.init({
		renderTo:"#dropDownProjectType44",
		url:"../../../component/assetLeixing.html?ticket="+ticket+"&assetClassCode="+assetClassCode4,
		height:"200px",
		onSelected:function(result){
			$("#dropDownProjectType44").val(result.assetTypeName);
			assetTypeCode4 = result.assetTypeCode;  
			ngScope.loadProjects4(assetTypeCode4, assetClassCode4,fromDate4, toDate4);
		}
	});
	
	/* 资产分类5*/
	new DropDownList().init({
		renderTo:"#dropDownProjectType5",
		url:"../../../component/assetType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			//assetClassName
			$("#dropDownProjectType5").val(result.assetClassName);
			assetClassCode5 = result.assetClassCode;
			ngScope.loadProjects5(assetTypeCode5, assetClassCode5,fromDate5, toDate5);
			
			
			var url = "../../../component/assetLeixing.html?ticket="+ticket+"&assetClassCode="+assetClassCode5;
			classCombobox5.setConfig("url", url);
			
		}
	});
	//资产类型5
	classCombobox5=new DropDownList();
	classCombobox5.init({
		renderTo:"#dropDownProjectType55",
		url:"../../../component/assetLeixing.html?ticket="+ticket+"&assetClassCode="+assetClassCode5,
		height:"200px",
		onSelected:function(result){
			$("#dropDownProjectType55").val(result.assetTypeName);
			assetTypeCode5 = result.assetTypeCode;  
			ngScope.loadProjects5(assetTypeCode5, assetClassCode5,fromDate5, toDate5);
		}
	});
	
	/* 查询 */
	$scope.doQuery=function(){
		fromDate = $("#starttime").val();
		toDate = $("#endtime").val();	
		$scope.loadProjects1(assetTypeCode, assetClassCode,fromDate, toDate);
	};
	
	$scope.doQuery2=function(){
		fromDate2 = $("#starttime2").val();
		toDate2 = $("#endtime2").val();	
		
		bill=$("input[name=bill]").val();
		$scope.loadProjects2(assetTypeCode2, assetClassCode2,fromDate2, toDate2,bill,iscm);
	};
	
	$scope.doQuery3=function(){
		fromDate3 = $("#starttime3").val();
		toDate3 = $("#endtime3").val();	
		$scope.loadProjects3(assetTypeCode3, assetClassCode3,fromDate3, toDate3,tempProNo);
	};
	
	$scope.doQuery4=function(){
		fromDate4 = $("#starttime4").val();
		toDate4 = $("#endtime4").val();	
		$scope.loadProjects4(assetTypeCode4, assetClassCode4,fromDate4, toDate4);
	};
	
	$scope.doQuery5=function(){
		fromDate5 = $("#starttime5").val();
		toDate5 = $("#endtime5").val();	
		$scope.loadProjects5(assetTypeCode5, assetClassCode5,fromDate5, toDate5);
	};
	
	//导出
	$scope.doExport=function(){
		excelExport("dataTable");
	};
	$scope.doExport2=function(){
		excelExport("dataTable2");
	};
	$scope.doExport3=function(){
		excelExport("dataTable3");
	};
	$scope.doExport4=function(){
		excelExport("dataTable4");
	};
	$scope.doExport5=function(){
		excelExport("dataTable5");
	};
	
	


	
	/* 加载数据 */
	$scope.loadProjects1=function(assetTypeCode,assetClassCode,fromDate, toDate){//alert(unitCode);
		//alert(fromDate+","+toDate+","+companyCode)
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/comprehensiveQuery/assetRepair?assetClassCode="
			+assetClassCode+"&assetTypeCode="+assetTypeCode+"&fromDate="+fromDate+"&toDate="+toDate+"&ticket="+ticket).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../../login.html";
				return;
			}
			
			$scope.list1 = response.list;
			
		});
	};
	$scope.loadProjects2=function(assetTypeCode,assetClassCode,fromDate, toDate,bill,iscm){//alert(unitCode);
		//alert(fromDate+","+toDate+","+companyCode)
		if(iscm==0){//资产
			
		
			$http.get(serviceBasePath+"eap/pmsServices/materielMg/comprehensiveQuery/assetStorage?assetClassCode="
				+assetClassCode+"&assetTypeCode="+assetTypeCode+"&fromDate="+fromDate+"&toDate="+toDate+"&ticket="+ticket+"&bill="+bill).success(function(response){
				if(response.statusCode==401){
					alert("用户凭据过期！请重新登录！");
					window.top.location.href="../../../login.html";
					return;
				}
				
				$scope.list2 = response.list;
				
			});
			
		}else if(iscm==1){//耗材
			
			$http.get(serviceBasePath+"eap/pmsServices/materielMg/comprehensiveQuery/materialStorage?assetClassCode="
				+assetClassCode+"&assetTypeCode="+assetTypeCode+"&fromDate="+fromDate+"&toDate="+toDate+"&ticket="+ticket+"&bill="+bill).success(function(response){
				if(response.statusCode==401){
					alert("用户凭据过期！请重新登录！");
					window.top.location.href="../../../login.html";
					return;
				}
				$scope.list2 = response.list;
				
			});
			
		}
		
		
		
	};
	$scope.loadProjects3=function(assetTypeCode,assetClassCode,fromDate, toDate,proNo){//alert(unitCode);
		//alert(proNo)
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/comprehensiveQuery/assetExwarehouse?assetClassCode="
			+assetClassCode+"&assetTypeCode="+assetTypeCode+"&fromDate="+fromDate+"&toDate="+toDate+"&ticket="+ticket+"&proNo="+proNo).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../../login.html";
				return;
			}
			
			$scope.list3 = response.list;
			
		});
	};
	$scope.loadProjects4=function(assetTypeCode,assetClassCode,fromDate, toDate){//alert(unitCode);
		//alert(fromDate+","+toDate+","+companyCode)
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/comprehensiveQuery/assetRentReturn?assetClassCode="
			+assetClassCode+"&assetTypeCode="+assetTypeCode+"&fromDate="+fromDate+"&toDate="+toDate+"&ticket="+ticket).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../../login.html";
				return;
			}
			
			$scope.list4 = response.list;
			
		});
	};
	
	$scope.loadProjects5=function(assetTypeCode,assetClassCode,fromDate, toDate){//alert(unitCode);
		//alert(fromDate+","+toDate+","+companyCode)
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/comprehensiveQuery/assetScrap?assetClassCode="
			+assetClassCode+"&assetTypeCode="+assetTypeCode+"&fromDate="+fromDate+"&toDate="+toDate+"&ticket="+ticket).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../../login.html";
				return;
			}
			
			$scope.list5 = response.list;
			
		});
	};
	//入库单
	$scope.tolist=function(){
		var seltype=$("#types").val();
		location.href="billist.html?assetTypeCode="+assetTypeCode2+"&assetClassCode="+assetClassCode2+"&fromDate="+fromDate2+"&toDate="+toDate2+"&bill="+bill+"&assetTypeName="+assetTypeName2+"&assetClassName="+assetClassName2+"&iscm="+iscm+"&seltype="+seltype;
		
	};
	//出库单
	$scope.tolist1=function(){
			var obj=document.getElementsByName('cks'); 
			var assetCodes="";
			for(var i=0; i<obj.length; i++){ 
				if(obj[i].checked){
					assetCodes+=obj[i].value+','; //如果选中，将value添加到变量s中 
				}
			} 
	  

		//var seltype=$("#types").val();
		location.href="billist1.html?assetTypeCode="+assetTypeCode3+"&assetClassCode="+assetClassCode3+"&fromDate="+fromDate3+"&toDate="+toDate3+"&assetTypeName="+assetTypeName3+"&assetClassName="+assetClassName3+"&assetCodes="+assetCodes+"&tempProNo="+tempProNo+"&tempProName="+tempProName+"&tempCate="+tempCate+"&tempCateName="+tempCateName;
		
	};
	
	
	
	/* 初始查询 */
	ngScope.loadProjects1(assetTypeCode, assetClassCode,fromDate, toDate);
	ngScope.loadProjects2(assetTypeCode2, assetClassCode2,fromDate2, toDate2,bill,iscm);
	ngScope.loadProjects3(assetTypeCode3, assetClassCode3,fromDate3, toDate3,tempProNo);
	ngScope.loadProjects4(assetTypeCode, assetClassCode,fromDate, toDate);
	ngScope.loadProjects5(assetTypeCode, assetClassCode,fromDate, toDate);
});
</script>
</body>
</html>
