<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.questionnire.dao.QaQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.questionnire.vo.QaQuestion" >
    <id column="ROWID" property="rowid" jdbcType="BIGINT" />
    <result column="QUESTION_CODE" property="questionCode" jdbcType="VARCHAR" />
    <result column="QUESTIONNIRE_CODE" property="questionnireCode" jdbcType="VARCHAR" />
    <result column="GROUP_CODE" property="groupCode" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="SUB_TYPE" property="subType" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="IDX" property="idx" jdbcType="INTEGER" />
    <result column="NUM" property="num" jdbcType="VARCHAR" />
    <result column="RELY_QUESTION_NUM" property="relyQuestionNum" jdbcType="VARCHAR" />
    <result column="RELY_OPTION_NUM" property="relyOptionNum" jdbcType="VARCHAR" />
    <result column="RELY_RESULT" property="relyResult" jdbcType="INTEGER" />
    <result column="QUESTION_SCORE" property="questionScore" jdbcType="REAL" />
    <result column="ANSWER" property="answer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROWID, QUESTION_CODE, QUESTIONNIRE_CODE, GROUP_CODE, TYPE, SUB_TYPE, TITLE, IDX, 
    NUM, RELY_QUESTION_NUM, RELY_OPTION_NUM, RELY_RESULT, QUESTION_SCORE, ANSWER
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from qa_question
    where ROWID = #{rowid,jdbcType=BIGINT}
  </select>
  <select id="findByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from qa_question
    where QUESTION_CODE = #{questionCode,jdbcType=VARCHAR}
  </select>
  <select id="findByQuestionnireCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from qa_question
    where QUESTIONNIRE_CODE = #{questionnireCode,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from qa_question
    where QUESTION_CODE = #{questionCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByQuestionnireCode" parameterType="java.lang.String" >
    delete from qa_question
    where QUESTIONNIRE_CODE = #{questionnireCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.glens.pwCloudOs.questionnire.vo.QaQuestion" >
    insert into qa_question (QUESTION_CODE, QUESTIONNIRE_CODE, 
      GROUP_CODE, TYPE, SUB_TYPE, 
      TITLE, IDX, NUM, RELY_QUESTION_NUM, 
      RELY_OPTION_NUM, RELY_RESULT, QUESTION_SCORE, 
      ANSWER)
    values (#{questionCode,jdbcType=VARCHAR}, #{questionnireCode,jdbcType=VARCHAR}, 
      #{groupCode,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{subType,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{idx,jdbcType=INTEGER}, #{num,jdbcType=VARCHAR}, #{relyQuestionNum,jdbcType=VARCHAR}, 
      #{relyOptionNum,jdbcType=VARCHAR}, #{relyResult,jdbcType=INTEGER}, #{questionScore,jdbcType=REAL}, 
      #{answer,jdbcType=VARCHAR})
  </insert>
  <insert id="batchInsert" parameterType="list" >
    insert into qa_question (QUESTION_CODE, QUESTIONNIRE_CODE, 
      GROUP_CODE, TYPE, SUB_TYPE, 
      TITLE, IDX, NUM, RELY_QUESTION_NUM, 
      RELY_OPTION_NUM, RELY_RESULT, QUESTION_SCORE, 
      ANSWER)
    values 
    <foreach collection="list" item="item" separator=",">
    (#{item.questionCode,jdbcType=VARCHAR}, #{item.questionnireCode,jdbcType=VARCHAR}, 
      #{item.groupCode,jdbcType=VARCHAR}, #{item.type,jdbcType=VARCHAR}, #{item.subType,jdbcType=VARCHAR}, 
      #{item.title,jdbcType=VARCHAR}, #{item.idx,jdbcType=INTEGER}, #{item.num,jdbcType=VARCHAR}, #{item.relyQuestionNum,jdbcType=VARCHAR}, 
      #{item.relyOptionNum,jdbcType=VARCHAR}, #{item.relyResult,jdbcType=INTEGER}, #{item.questionScore,jdbcType=REAL}, 
      #{item.answer,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>