<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.km.question.dao.QuestionVoMapper" >
  
  <select id="getTypes" parameterType="map" resultType="map">
  		select * from KM_QUESTION_TYPE
  </select>
  
  
  <insert id="insertQuestion" parameterType="map" useGeneratedKeys="true" keyProperty="rowid">
  		insert into  KM_QUESTION_LIB(COMPANY_CODE,TYPE_CODE,QUESTION_CODE,QUESTION_TITLE,KEYWORDS,
		QUESTION_CONTENT,ANSWER,COLLATOR,PUBLISH_STATUS,READ_CNT,DOWNLOAD_CNT,SYS_CREATE_TIME,
		SYS_PROCESS_FLAG,REMARKS,PLANSOVLE_DATE,PRO_NAME,PRO_NO,SOVLER)
		VALUES(#{companyCode},#{typeCode},#{questionCode},#{questionTitle},#{keywords},#{questionContent},#{answer},#{collator},
		#{publicStatus},0,0,now(),'1',#{remarks},#{planSoveDate},#{proName},#{proNo},#{sovlerCode})
  </insert>
 
 
 <select id="queryForPage" parameterType="map" resultType="map">
 	select q.*,t.TYPE_NAME,
 	case when now() &gt;=q.SYS_CREATE_TIME and NOW() &lt;=PLANSOVLE_DATE then 0
	when now() &gt;PLANSOVLE_DATE and now() &lt;=timestampadd(day, 7, q.SYS_CREATE_TIME) then 1
	when now() &gt;timestampadd(day, 7, q.SYS_CREATE_TIME) then 2 end  status,
	m.EMPLOYEENAME
 	from KM_QUESTION_LIB q
	join km_question_type t on q.TYPE_CODE=t.TYPE_CODE
	JOIN pm_base a on a.PRO_NO=q.PRO_NO
	  JOIN md_employee m on m.EMPLOYEECODE=q.SOVLER
	where 1=1
	<if test="publicStatus!=null and publicStatus!=''">
		and q.PUBLISH_STATUS=#{publicStatus}
	</if>
	<if test="typeCode!=null and typeCode!=''">
		and q.TYPE_CODE=#{typeCode}
	</if>
	 <if test="fromDate!=null and fromDate!=''">
	 	and DATE_FORMAT(q.SYS_CREATE_TIME,'%Y-%m-%d') &gt;=#{fromDate}
	 </if>
	 
	 <if test="toDate!=null and toDate!=''">
	 	
	    and 	DATE_FORMAT(q.PLANSOVLE_DATE,'%Y-%m-%d') &gt;=#{toDate}
	 </if>
	  <if test="keywords!=null and keywords!=''">
	  	 and (q.KEYWORDS like  "%"#{keywords}"%"  or m.EMPLOYEENAME like  "%"#{keywords}"%")
	  </if>
	 <if test="status !=null and status !='' and status==1">
	  	and ((now()&gt;=q.SYS_CREATE_TIME and NOW() &lt;=PLANSOVLE_DATE  and  q.PUBLISH_STATUS=1) or q.PUBLISH_STATUS!=1 )
	  </if>
	  <if test="status !=null and status !='' and status==2">
	  	and now() &gt;PLANSOVLE_DATE and now() &lt;=timestampadd(day, 7, q.SYS_CREATE_TIME)  and  q.PUBLISH_STATUS=1
	  </if>
	  <if test="status !=null and status !='' and status==3">
	  	and now() &gt;timestampadd(day, 7, q.SYS_CREATE_TIME)  and  q.PUBLISH_STATUS=1
	  </if>
	 <!--  <if test="deptCode != null and deptCode != ''">
	    and a.MANAGE_DEPT=#{deptCode}
	   </if>
	   <if test="districtManager != null and districtManager != ''">
		and a.DISTRICT_MANAGER=#{districtManager}
	  </if>
	 <if test="proManager != null and proManager != ''">
		and a.EMPLOYEECODE=#{proManager} 
	  </if> -->
	 
	  <if test="fullTextSearch ==0 and questionTitle!=null and questionTitle!=''">
	  		and (q.KEYWORDS like  "%"#{questionTitle}"%" or q.QUESTION_TITLE like  "%"#{questionTitle}"%")
	  </if>
	  
	  <if test="fullTextSearch ==1 and questionTitle!=null and questionTitle!=''">
	  		and (q.KEYWORDS like  "%"#{questionTitle}"%" or q.QUESTION_TITLE like  "%"#{questionTitle}"%" or q.QUESTION_CONTENT like  "%"#{questionTitle}"%"  )
	  </if>
	  
	   <!-- <if test="dealCode!=null and dealCode!=''">
	  	or  q.SOVLER =#{dealCode}
	  </if> -->
	  
	  order by q.SYS_CREATE_TIME desc
	 
	limit #{firstResult},#{maxResult}
 </select>
 
 <select id="queryForCount" parameterType="map" resultType="int">
 	select count(*) from KM_QUESTION_LIB q
	join km_question_type t on q.TYPE_CODE=t.TYPE_CODE
	JOIN pm_base a on a.PRO_NO=q.PRO_NO
	JOIN md_employee m on m.EMPLOYEECODE=q.SOVLER
	where 1=1
	<if test="publicStatus!=null and publicStatus!=''">
		and q.PUBLISH_STATUS=#{publicStatus}
	</if>
	<if test="typeCode!=null and typeCode!=''">
		and q.TYPE_CODE=#{typeCode}
	</if>
	 <if test="fromDate!=null and fromDate!=''">
	 	and DATE_FORMAT(q.SYS_CREATE_TIME,'%Y-%m-%d') &gt;=#{fromDate}
	 </if>
	 
	 <if test="toDate!=null and toDate!=''">
	 	
	    and 	DATE_FORMAT(q.PLANSOVLE_DATE,'%Y-%m-%d') &gt;=#{toDate}
	 </if>
	  <if test="keywords!=null and keywords!=''">
	  	 and (q.KEYWORDS like  "%"#{keywords}"%"  or m.EMPLOYEENAME like  "%"#{keywords}"%")
	  </if>
	   <if test="status !=null and status !='' and status==1">
	  	and ((now()&gt;=q.SYS_CREATE_TIME and NOW() &lt;=PLANSOVLE_DATE  and  q.PUBLISH_STATUS=1) or q.PUBLISH_STATUS!=1 )
	  </if>
	  <if test="status !=null and status !='' and status==2">
	  	and now() &gt;PLANSOVLE_DATE and now() &lt;=timestampadd(day, 7, q.SYS_CREATE_TIME)  and  q.PUBLISH_STATUS=1
	  </if>
	  <if test="status !=null and status !='' and status==3">
	  	and now() &gt;timestampadd(day, 7, q.SYS_CREATE_TIME)  and  q.PUBLISH_STATUS=1
	  </if>
	   <if test="fullTextSearch ==0 and questionTitle!=null and questionTitle!=''">
	  		and (q.KEYWORDS like  "%"#{questionTitle}"%" or q.QUESTION_TITLE like  "%"#{questionTitle}"%")
	  </if>
	  
	  <if test="fullTextSearch ==1 and questionTitle!=null and questionTitle!=''">
	  		and (q.KEYWORDS like  "%"#{questionTitle}"%" or q.QUESTION_TITLE like  "%"#{questionTitle}"%" or q.QUESTION_CONTENT like  "%"#{questionTitle}"%")
	  </if>
	  <!-- <if test="dealCode!=null and dealCode!=''">
	  	or  q.SOVLER =#{dealCode}
	  </if> -->
 </select>
 
 
 <select id="getQuestionByCode" resultType="map" parameterType="map" >
 	select q.*,t.TYPE_NAME,timestampadd(day, 7, q.SYS_CREATE_TIME) alertTime,a.employeename from KM_QUESTION_LIB q
	join km_question_type t on q.TYPE_CODE=t.TYPE_CODE
	join md_employee a on q.SOVLER=a.employeecode
	where QUESTION_CODE=#{questionCode}
 </select>
 
 <delete id="delete" parameterType="map" >
    delete from  KM_QUESTION_LIB where QUESTION_CODE=#{questionCode}
 </delete>
 
 <update id="updateQuestion" parameterType="map">
 	update km_question_lib set TYPE_CODE=#{typeCode},
	QUESTION_TITLE=#{questionTitle},KEYWORDS=#{keywords},QUESTION_CONTENT=#{questionContent},
	ANSWER=#{answer},COLLATOR=#{collator},PUBLISH_STATUS=#{publicStatus},
	SOVLER=#{sovler},
	<if test="planSoveDate!=null and planSoveDate!=''">
		PLANSOVLE_DATE=#{planSoveDate},
	</if>
	<if test="proName!=null and proName!=''">
		PRO_NAME=#{proName},
	</if>
	<if test="proNo!=null and proNo!=''">
		PRO_NO=#{proNo},
	</if>
	<if test="checker!=null and checker!='' ">
		CHECKER=#{checker},
	</if>
	<if test="checkerCodes!=null and checkerCodes!='' ">
		CHECKERCODES=#{checkerCodes},
	</if>
	<if test="sovlerCode!=null and sovlerCode!=''">
		SOVLER=#{sovlerCode},
	</if>
	<if test="sovleDate!=null and sovleDate!=''">
		SOVLE_DATE=#{sovleDate},
	</if>
	REMARKS=#{remarks}
	
	WHERE QUESTION_CODE=#{questionCode}
 </update>
 
 <update id="updateStatus" parameterType="map">
 	update km_question_lib set PUBLISH_STATUS=#{publicStatus}
	WHERE QUESTION_CODE=#{questionCode}
 </update>

  
 <update id="updateReadNum" parameterType="map">
 	update km_question_lib set READ_CNT=READ_CNT+1 where QUESTION_CODE=#{questionCode}
 </update> 
  
   <insert id="insertKmBase" parameterType="map" useGeneratedKeys="true" keyProperty="rowid">
  		insert into km_base(COMPANY_CODE,CATALOG_CODE,FILE_CODE,FILE_TITLE,KEYWORDS,EMPLOYEENAME,EMPLOYEECODE,
		PUBLISH_AUTH,PUBLISH_RANGE,PUBLISH_STATUS,BTEXT,SYS_CREATE_TIME,SYS_PROCESS_FLAG,REMARKS,download_cnt,read_cnt)VALUES(#{companyCode},#{catalogCode},#{fileCode},
		#{fileTitle},#{keywords},#{employeeName},#{employeeCode},1,#{publishRange},1,#{btext},now(),'1',#{remarks},0,0)
  </insert>
  
  <select id="getCheckers" parameterType="map" resultType="map">
  	select EMPLOYEECODE,EMPLOYEENAME from md_employee where JOB_CODE in(10,25,23,30) and WORK_STATUS=1
  </select>
  
   <update id="checkOption" parameterType="map">
 	update km_question_lib set PUBLISH_STATUS=#{publicStatus},CHECKOPTION=#{checkOption}
	WHERE QUESTION_CODE=#{questionCode}
    </update>
  
  
</mapper>