<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="OrgUnitMapper" >
  <resultMap id="BaseResultMap" type="com.glens.eap.sys.orgEmployee.orgunit.vo.OrgUnit" >
    <id column="rowid" property="rowid" jdbcType="BIGINT" />
    <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR" />
    <result column="PARENT_UNIT" property="parentUnit" jdbcType="VARCHAR" />
    <result column="PARENT_UNIT_NAME" property="parentUnitName" jdbcType="VARCHAR" />
    <result column="UNIT_CODE" property="unitCode" jdbcType="VARCHAR" />
    <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR" />
    <result column="SHORT_NAME" property="shortName" jdbcType="VARCHAR" />
    <result column="EMPLOYEECODE" property="employeeCode" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="POSTALCODE" property="postalcode" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="ESTABLISH_TIME" property="establishTime" jdbcType="TIMESTAMP" />
    <result column="SYS_CREATE_TIME" property="sysCreateTime" jdbcType="TIMESTAMP" />
    <result column="SYS_UPDATE_TIME" property="sysUpdateTime" jdbcType="TIMESTAMP" />
    <result column="SYS_DELETE_TIME" property="sysDeleteTime" jdbcType="TIMESTAMP" />
    <result column="SYS_PROCESS_FLAG" property="sysProcessFlag" jdbcType="CHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="YS" property="ys" jdbcType="VARCHAR" />
    <result column="XS" property="xs" jdbcType="VARCHAR" />
    <result column="PERIMETER" property="perimeter" jdbcType="VARCHAR" />
    <result column="AREA" property="area" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    rowid, COMPANY_CODE, PARENT_UNIT, UNIT_CODE, UNIT_NAME, SHORT_NAME, EMPLOYEECODE, 
    ADDRESS, TEL, FAX, POSTALCODE, URL, ESTABLISH_TIME, SYS_CREATE_TIME, SYS_UPDATE_TIME, 
    SYS_DELETE_TIME, SYS_PROCESS_FLAG, REMARKS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from md_org_unit
    where rowid = #{rowid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from md_org_unit
    where rowid = #{rowid,jdbcType=BIGINT}
  </delete>
  
  <delete id="[deleteHistory]">
  	delete from md_org_unit_sync_history
  </delete>
  
  <insert id="insert" parameterType="com.glens.eap.sys.orgEmployee.orgunit.vo.OrgUnit" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into md_org_unit (rowid, COMPANY_CODE, PARENT_UNIT, 
      UNIT_CODE, UNIT_NAME, SHORT_NAME, 
      EMPLOYEECODE, ADDRESS, TEL, 
      FAX, POSTALCODE, URL, 
      ESTABLISH_TIME, SYS_CREATE_TIME, SYS_UPDATE_TIME, 
      SYS_DELETE_TIME, SYS_PROCESS_FLAG, REMARKS
      )
    values (#{rowid,jdbcType=BIGINT}, #{companyCode,jdbcType=VARCHAR}, #{parentUnit,jdbcType=VARCHAR}, 
      #{unitCode,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{employeeCode,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{postalcode,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{establishTime,jdbcType=TIMESTAMP}, #{sysCreateTime,jdbcType=TIMESTAMP}, #{sysUpdateTime,jdbcType=TIMESTAMP}, 
      #{sysDeleteTime,jdbcType=TIMESTAMP}, #{sysProcessFlag,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  
  
  <insert id="[insertHistory]" parameterType="com.glens.eap.sys.orgEmployee.orgunit.vo.OrgUnit" >
    insert into md_org_unit_sync_history(COMPANY_CODE, PARENT_UNIT, 
      UNIT_CODE, UNIT_NAME, SHORT_NAME, 
      EMPLOYEECODE, ADDRESS, TEL, 
      FAX, POSTALCODE, URL, 
      ESTABLISH_TIME, SYS_CREATE_TIME
      )
    values (#{companyCode,jdbcType=VARCHAR}, #{parentUnit,jdbcType=VARCHAR}, 
      #{unitCode,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{employeeCode,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{postalcode,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{establishTime,jdbcType=TIMESTAMP}, now()
      )
  </insert>
  
  <insert id="[insertSelective]" parameterType="com.glens.eap.sys.orgEmployee.orgunit.vo.OrgUnit" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into md_org_unit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rowid != null" >
        rowid,
      </if>
      <if test="companyCode != null" >
        COMPANY_CODE,
      </if>
      <if test="parentUnit != null" >
        PARENT_UNIT,
      </if>
      <if test="unitCode != null" >
        UNIT_CODE,
      </if>
      <if test="unitName != null" >
        UNIT_NAME,
      </if>
      <if test="shortName != null" >
        SHORT_NAME,
      </if>
      <if test="employeeCode != null" >
        EMPLOYEECODE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="fax != null" >
        FAX,
      </if>
      <if test="postalcode != null" >
        POSTALCODE,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="establishTime != null" >
        ESTABLISH_TIME,
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME,
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rowid != null" >
        #{rowid,jdbcType=BIGINT},
      </if>
      <if test="companyCode != null" >
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="parentUnit != null" >
        #{parentUnit,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null" >
        #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="employeeCode != null" >
        #{employeeCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null" >
        #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="establishTime != null" >
        #{establishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateTime != null" >
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null" >
        #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null" >
        #{sysProcessFlag,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="[updateByPrimaryKeySelective]" parameterType="com.glens.eap.sys.orgEmployee.orgunit.vo.OrgUnit" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update md_org_unit
    <set >
      <if test="companyCode != null" >
        COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="parentUnit != null" >
        PARENT_UNIT = #{parentUnit,jdbcType=VARCHAR},
      </if>
      
      <if test="unitName != null" >
        UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="employeeCode != null" >
        EMPLOYEECODE = #{employeeCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null" >
        POSTALCODE = #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="establishTime != null" >
        ESTABLISH_TIME = #{establishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where 
        UNIT_CODE = #{unitCode,jdbcType=VARCHAR}
      
  </update>
  <update id="update" parameterType="com.glens.eap.sys.orgEmployee.orgunit.vo.OrgUnit" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update md_org_unit
    set COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
      PARENT_UNIT = #{parentUnit,jdbcType=VARCHAR},
      UNIT_CODE = #{unitCode,jdbcType=VARCHAR},
      UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      EMPLOYEECODE = #{employeeCode,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      POSTALCODE = #{postalcode,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      ESTABLISH_TIME = #{establishTime,jdbcType=TIMESTAMP},
      SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where UNIT_CODE = #{unitCode,jdbcType=VARCHAR}
  </update>
  
  <select id="[queryOrgUnitList]" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select rowid, COMPANY_CODE, PARENT_UNIT, UNIT_CODE, UNIT_NAME, SHORT_NAME, EMPLOYEECODE, 
    ADDRESS, TEL, FAX, POSTALCODE, URL,
     REMARKS,
     YS,XS,PERIMETER,AREA
    from md_org_unit
    where SYS_PROCESS_FLAG='1'
    and COMPANY_CODE=#{companyCode}
  </select>
  
  <select id="getPartOrgUnitList" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select rowid, COMPANY_CODE, PARENT_UNIT, UNIT_CODE, UNIT_NAME, SHORT_NAME, EMPLOYEECODE, 
    ADDRESS, TEL, FAX, POSTALCODE, URL,
     REMARKS,
     YS,XS,PERIMETER,AREA
    from md_org_unit
    where SYS_PROCESS_FLAG='1'
    and COMPANY_CODE=#{companyCode}
    and IS_PRODUCTION=1
  </select>
  
  <select id="[queryOrgList]" parameterType="map" resultMap="BaseResultMap">
  	select rowid, COMPANY_CODE, PARENT_UNIT, UNIT_CODE, UNIT_NAME, SHORT_NAME, EMPLOYEECODE, 
    ADDRESS, TEL, FAX, POSTALCODE, URL,
     REMARKS
    from md_org_unit
    where SYS_PROCESS_FLAG='1'
    <if test="parentUnitCode!=null and parentUnitCode!=''">
    	and PARENT_UNIT=#{parentUnitCode}
    </if>
  	<if test="unitName!=null and unitName!=''">
  	 	and UNIT_NAME=#{unitName}
  	</if>
  	<if test="unitCode!=null and unitCode!=''">
  		and UNIT_CODE &lt;> #{unitCode}
  	</if>
  </select>
 
  
  <delete id="delete" parameterType="java.lang.String">
  	update md_org_unit set SYS_PROCESS_FLAG='0', SYS_DELETE_TIME=now() where UNIT_CODE=#{unitCode}
  </delete>
  
  <select id="[queryOrgUnit]" parameterType="java.lang.String" resultMap="BaseResultMap">
  	 select 
    t.*,t2.unit_name as PARENT_UNIT_NAME
    from md_org_unit t
    left join md_org_unit t2 on t.parent_unit = t2.unit_code
    where t.SYS_PROCESS_FLAG='1' and t.UNIT_CODE = #{unitCode}
  </select>
  
   <update id="updateArea" parameterType="map">
   			update md_org_unit set XS=#{xs},YS=#{ys},PERIMETER=#{perimeter},AREA=#{area} WHERE UNIT_CODE=#{unitCode}
   </update>
  
  <select id="queryUnitLeaders" parameterType="string" resultType="map">
	SELECT
		GROUP_CONCAT(b.JOB_NO, '|') USER_ID
	FROM
		md_employee b
	JOIN pf_account c ON b.EMPLOYEECODE = c.EMPLOYEECODE
	WHERE
		b.SYS_PROCESS_FLAG = '1'
	AND b.UNIT_CODE = #{unitCode}
	AND c.ROLECODE IN (
		'016',
		'R20171011104517924566'
	)  	
  </select>
</mapper>