<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.cj.base.dao.CjAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.cj.base.vo.CjAttachment" >
    <id column="ATTACHMENT_ID" property="attachmentId" jdbcType="VARCHAR" />
    <result column="ATTACHMENT_ATTACH_ID" property="attachmentAttachId" jdbcType="VARCHAR" />
    <result column="ATTACHMENT_NAME" property="attachmentName" jdbcType="VARCHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="FILE_SIZE" property="fileSize" jdbcType="INTEGER" />
    <result column="FILE_TYPE" property="fileType" jdbcType="VARCHAR" />
    <result column="STORAGE_LOCATION" property="storageLocation" jdbcType="VARCHAR" />
    <result column="ATTACHMENT_ATTACH_RANGE" property="attachmentAttachRange" jdbcType="VARCHAR" />
    <result column="SYS_CREATE_TIME" property="sysCreateTime" jdbcType="TIMESTAMP" />
    <result column="SYS_UPDATE_TIME" property="sysUpdateTime" jdbcType="TIMESTAMP" />
    <result column="SYS_DELETE_TIME" property="sysDeleteTime" jdbcType="TIMESTAMP" />
    <result column="SYS_PROCESS_FLAG" property="sysProcessFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ATTACHMENT_ID, ATTACHMENT_ATTACH_ID, ATTACHMENT_NAME, FILE_NAME, FILE_SIZE, FILE_TYPE, 
    STORAGE_LOCATION, ATTACHMENT_ATTACH_RANGE, SYS_CREATE_TIME, SYS_UPDATE_TIME, SYS_DELETE_TIME, 
    SYS_PROCESS_FLAG
  </sql>
  
  <select id="queryForList" resultMap="BaseResultMap" parameterType="map" >
    SELECT
		*
	FROM
		t_cj_attachment 
	<where>
		<if test="attachmentId != null and  attachmentId !=''">
			ATTACHMENT_ID=#{attachmentId}
		</if>
		<if test="attachmentAttachId != null and attachmentAttachId !='' ">
			AND ATTACHMENT_ATTACH_ID=#{attachmentAttachId}
		</if>
		<if test="attachmentAttachRange != null and  attachmentAttachRange !=''">
			AND ATTACHMENT_ATTACH_RANGE=#{attachmentAttachRange}
		</if>
	</where>
	ORDER BY SYS_CREATE_TIME
  </select>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_cj_attachment
    where ATTACHMENT_ID = #{attachmentId,jdbcType=VARCHAR}
  </select>
  <delete id="delByIdList">
	delete from t_cj_attachment where ATTACHMENT_ID in
		<foreach collection="list" index="index" item="idList" open="("
			separator="," close=")">
			#{idList}
		</foreach>
  </delete>
  <delete id="delByObjId" parameterType="java.lang.String">
	delete from t_cj_attachment
	where ATTACHMENT_ATTACH_ID = #{attachmentAttachId}
  </delete>
  
  <insert id="insert" parameterType="com.glens.pwCloudOs.cj.base.vo.CjAttachment" >
    insert into t_cj_attachment (ATTACHMENT_ID, ATTACHMENT_ATTACH_ID, 
      ATTACHMENT_NAME, FILE_NAME, FILE_SIZE, 
      FILE_TYPE, STORAGE_LOCATION, ATTACHMENT_ATTACH_RANGE, 
      SYS_CREATE_TIME, SYS_UPDATE_TIME, SYS_DELETE_TIME, 
      SYS_PROCESS_FLAG)
    values (#{attachmentId,jdbcType=VARCHAR}, #{attachmentAttachId,jdbcType=VARCHAR}, 
      #{attachmentName,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{fileSize,jdbcType=INTEGER}, 
      #{fileType,jdbcType=VARCHAR}, #{storageLocation,jdbcType=VARCHAR}, #{attachmentAttachRange,jdbcType=VARCHAR}, 
      #{sysCreateTime,jdbcType=TIMESTAMP}, #{sysUpdateTime,jdbcType=TIMESTAMP}, #{sysDeleteTime,jdbcType=TIMESTAMP}, 
      #{sysProcessFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.glens.pwCloudOs.cj.base.vo.CjAttachment" >
    insert into t_cj_attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attachmentId != null" >
        ATTACHMENT_ID,
      </if>
      <if test="attachmentAttachId != null" >
        ATTACHMENT_ATTACH_ID,
      </if>
      <if test="attachmentName != null" >
        ATTACHMENT_NAME,
      </if>
      <if test="fileName != null" >
        FILE_NAME,
      </if>
      <if test="fileSize != null" >
        FILE_SIZE,
      </if>
      <if test="fileType != null" >
        FILE_TYPE,
      </if>
      <if test="storageLocation != null" >
        STORAGE_LOCATION,
      </if>
      <if test="attachmentAttachRange != null" >
        ATTACHMENT_ATTACH_RANGE,
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME,
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attachmentId != null" >
        #{attachmentId,jdbcType=VARCHAR},
      </if>
      <if test="attachmentAttachId != null" >
        #{attachmentAttachId,jdbcType=VARCHAR},
      </if>
      <if test="attachmentName != null" >
        #{attachmentName,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=INTEGER},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="storageLocation != null" >
        #{storageLocation,jdbcType=VARCHAR},
      </if>
      <if test="attachmentAttachRange != null" >
        #{attachmentAttachRange,jdbcType=VARCHAR},
      </if>
      <if test="sysCreateTime != null" >
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null" >
        #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null" >
        #{sysProcessFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.glens.pwCloudOs.cj.base.vo.CjAttachment" >
    update t_cj_attachment
    <set >
      <if test="attachmentAttachId != null" >
        ATTACHMENT_ATTACH_ID = #{attachmentAttachId,jdbcType=VARCHAR},
      </if>
      <if test="attachmentName != null" >
        ATTACHMENT_NAME = #{attachmentName,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        FILE_SIZE = #{fileSize,jdbcType=INTEGER},
      </if>
      <if test="fileType != null" >
        FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="storageLocation != null" >
        STORAGE_LOCATION = #{storageLocation,jdbcType=VARCHAR},
      </if>
      <if test="attachmentAttachRange != null" >
        ATTACHMENT_ATTACH_RANGE = #{attachmentAttachRange,jdbcType=VARCHAR},
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
      </if>
    </set>
    where ATTACHMENT_ID = #{attachmentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glens.pwCloudOs.cj.base.vo.CjAttachment" >
    update t_cj_attachment
    set ATTACHMENT_ATTACH_ID = #{attachmentAttachId,jdbcType=VARCHAR},
      ATTACHMENT_NAME = #{attachmentName,jdbcType=VARCHAR},
      FILE_NAME = #{fileName,jdbcType=VARCHAR},
      FILE_SIZE = #{fileSize,jdbcType=INTEGER},
      FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      STORAGE_LOCATION = #{storageLocation,jdbcType=VARCHAR},
      ATTACHMENT_ATTACH_RANGE = #{attachmentAttachRange,jdbcType=VARCHAR},
      SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR}
    where ATTACHMENT_ID = #{attachmentId,jdbcType=VARCHAR}
  </update>
</mapper>