<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.cj.base.dao.CjLineMapper" >
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.cj.base.vo.CjLine" >
    <id column="COLLECT_ID" property="collectId" jdbcType="VARCHAR" />
    <result column="COLLECTOR_CODE" property="collectorCode" jdbcType="VARCHAR" />
    <result column="BDZ_COLLECT_ID" property="bdzCollectId" jdbcType="VARCHAR" />
    <result column="BDZ_AMNAME" property="bdzAmname" jdbcType="VARCHAR" />
    <result column="INTERID" property="interid" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="AMNAME" property="amname" jdbcType="VARCHAR" />
    <result column="VOLTAGELEVEL" property="voltagelevel" jdbcType="DECIMAL" />
    <result column="PRODUCTDATE" property="productdate" jdbcType="TIMESTAMP" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="AREA" property="area" jdbcType="VARCHAR" />
    <result column="TYRQ" property="tyrq" jdbcType="TIMESTAMP" />
    <result column="ZJLY" property="zjly" jdbcType="VARCHAR" />
    <result column="JYFS" property="jyfs" jdbcType="VARCHAR" />
    <result column="ZCXZ" property="zcxz" jdbcType="VARCHAR" />
    <result column="ZCDWMC" property="zcdwmc" jdbcType="VARCHAR" />
    <result column="XLLX" property="xllx" jdbcType="VARCHAR" />
    <result column="SJDL" property="sjdl" jdbcType="VARCHAR" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
    <result column="XLCD_TZ" property="xlcdTz" jdbcType="DECIMAL" />
    <result column="XLCD_MAP" property="xlcdMap" jdbcType="DECIMAL" />
    <result column="PRO_NO" property="proNo" jdbcType="VARCHAR" />
    <result column="PRO_NAME" property="proName" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="SYS_CREATE_TIME" property="sysCreateTime" jdbcType="TIMESTAMP" />
    <result column="SYS_UPDATE_TIME" property="sysUpdateTime" jdbcType="TIMESTAMP" />
    <result column="SYS_DELETE_TIME" property="sysDeleteTime" jdbcType="TIMESTAMP" />
    <result column="SYS_PROCESS_FLAG" property="sysProcessFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    COLLECT_ID, COLLECTOR_CODE, BDZ_COLLECT_ID, INTERID, CODE, AMNAME, VOLTAGELEVEL, 
    PRODUCTDATE, UPDATETIME, AREA, TYRQ, ZJLY, JYFS, ZCXZ, ZCDWMC, XLLX, SJDL, BZ, XLCD_TZ, 
    XLCD_MAP, PRO_NO, CITY, SYS_CREATE_TIME, SYS_UPDATE_TIME, SYS_DELETE_TIME, SYS_PROCESS_FLAG
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT *,t_cj_bdz.AMNAME AS BDZ_AMNAME,pm_base.PRO_NAME FROM t_cj_line
	LEFT JOIN t_cj_bdz ON t_cj_line.BDZ_COLLECT_ID=t_cj_bdz.COLLECT_ID
	LEFT JOIN pm_base ON t_cj_line.PRO_NO=pm_base.PRO_NO
	where t_cj_line.COLLECT_ID=#{collectId}
  </select>
  <select id="queryForList" resultMap="BaseResultMap" parameterType="map" >
    SELECT *,t_cj_bdz.AMNAME AS BDZ_AMNAME,pm_base.PRO_NAME FROM t_cj_line
	LEFT JOIN t_cj_bdz ON t_cj_line.BDZ_COLLECT_ID=t_cj_bdz.COLLECT_ID
	LEFT JOIN pm_base ON t_cj_line.PRO_NO=pm_base.PRO_NO
	WHERE
		t_cj_line.SYS_PROCESS_FLAG = '1'
	<if test="collectId != null and collectId !='' ">
		AND COLLECT_ID =#{collectId}
	</if>
	<if test="bdzCollectId != null and bdzCollectId !='' ">
		AND BDZ_COLLECT_ID =#{bdzCollectId}
	</if>
	<if test="bdzAmname != null and bdzAmname !='' ">
		AND t_cj_bdz.AMNAME LIKE concat('%',#{bdzAmname},'%')
	</if>
	<if test="proNo != null and proNo !='' ">
		AND PRO_NO =#{proNo}
	</if>
	<if test="proName != null and proName !='' ">
		AND pm_base.PRO_NAME LIKE concat('%',#{proName},'%')
	</if>
	<if test="amname != null and amname !='' ">
		AND t_cj_line.AMNAME LIKE concat('%',#{amname},'%')
	</if>
	<if test="city != null and city !='' ">
		AND t_cj_line.CITY LIKE concat('%',#{city},'%')
	</if>
	ORDER BY t_cj_line.CITY,t_cj_bdz.AMNAME,t_cj_line.AMNAME
  </select>
  
  <select id="queryForPage" parameterType="map" resultMap="BaseResultMap">
	SELECT *,t_cj_bdz.AMNAME AS BDZ_AMNAME,pm_base.PRO_NAME FROM t_cj_line
	LEFT JOIN t_cj_bdz ON t_cj_line.BDZ_COLLECT_ID=t_cj_bdz.COLLECT_ID
	LEFT JOIN pm_base ON t_cj_line.PRO_NO=pm_base.PRO_NO
	WHERE
		t_cj_line.SYS_PROCESS_FLAG = '1'
	<if test="collectId != null and collectId !='' ">
		AND COLLECT_ID =#{collectId}
	</if>
	<if test="bdzCollectId != null and bdzCollectId !='' ">
		AND BDZ_COLLECT_ID =#{bdzCollectId}
	</if>
	<if test="bdzAmname != null and bdzAmname !='' ">
		AND t_cj_bdz.AMNAME LIKE concat('%',#{bdzAmname},'%')
	</if>
	<if test="proNo != null and proNo !='' ">
		AND PRO_NO =#{proNo}
	</if>
	<if test="proName != null and proName !='' ">
		AND pm_base.PRO_NAME LIKE concat('%',#{proName},'%')
	</if>
	<if test="amname != null and amname !='' ">
		AND t_cj_line.AMNAME LIKE concat('%',#{amname},'%')
	</if>
	<if test="city != null and city !='' ">
		AND t_cj_line.CITY LIKE concat('%',#{city},'%')
	</if>
  	ORDER BY t_cj_line.CITY,t_cj_bdz.AMNAME,t_cj_line.AMNAME
  	limit #{firstResult},#{maxResult}
  </select>
  <select id="queryForCount" parameterType="map" resultType="int">
  	select
		count(*)
	from t_cj_line
	LEFT JOIN t_cj_bdz ON t_cj_line.BDZ_COLLECT_ID=t_cj_bdz.COLLECT_ID
	LEFT JOIN pm_base ON t_cj_line.PRO_NO=pm_base.PRO_NO
	WHERE
		t_cj_line.SYS_PROCESS_FLAG = '1'
	<if test="collectId != null and collectId !='' ">
		AND COLLECT_ID =#{collectId}
	</if>
	<if test="bdzCollectId != null and bdzCollectId !='' ">
		AND BDZ_COLLECT_ID =#{bdzCollectId}
	</if>
	<if test="bdzAmname != null and bdzAmname !='' ">
		AND t_cj_bdz.AMNAME LIKE concat('%',#{bdzAmname},'%')
	</if>
	<if test="proNo != null and proNo !='' ">
		AND PRO_NO =#{proNo}
	</if>
	<if test="proName != null and proName !='' ">
		AND pm_base.PRO_NAME LIKE concat('%',#{proName},'%')
	</if>
	<if test="amname != null and amname !='' ">
		AND t_cj_line.AMNAME LIKE concat('%',#{amname},'%')
	</if>
	<if test="city != null and city !='' ">
		AND t_cj_line.CITY LIKE concat('%',#{city},'%')
	</if>
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_cj_line
    where COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.glens.pwCloudOs.cj.base.vo.CjLine" >
    insert into t_cj_line (COLLECT_ID, COLLECTOR_CODE, BDZ_COLLECT_ID, 
      INTERID, CODE, AMNAME, 
      VOLTAGELEVEL, PRODUCTDATE, UPDATETIME, 
      AREA, TYRQ, ZJLY, 
      JYFS, ZCXZ, ZCDWMC, 
      XLLX, SJDL, BZ, XLCD_TZ, 
      XLCD_MAP, PRO_NO, CITY, 
      SYS_CREATE_TIME, SYS_UPDATE_TIME, SYS_DELETE_TIME, 
      SYS_PROCESS_FLAG)
    values (#{collectId,jdbcType=VARCHAR}, #{collectorCode,jdbcType=VARCHAR}, #{bdzCollectId,jdbcType=VARCHAR}, 
      #{interid,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{amname,jdbcType=VARCHAR}, 
      #{voltagelevel,jdbcType=DECIMAL}, #{productdate,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{area,jdbcType=VARCHAR}, #{tyrq,jdbcType=TIMESTAMP}, #{zjly,jdbcType=VARCHAR}, 
      #{jyfs,jdbcType=VARCHAR}, #{zcxz,jdbcType=VARCHAR}, #{zcdwmc,jdbcType=VARCHAR}, 
      #{xllx,jdbcType=VARCHAR}, #{sjdl,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{xlcdTz,jdbcType=DECIMAL}, 
      #{xlcdMap,jdbcType=DECIMAL}, #{proNo,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{sysCreateTime,jdbcType=TIMESTAMP}, #{sysUpdateTime,jdbcType=TIMESTAMP}, #{sysDeleteTime,jdbcType=TIMESTAMP}, 
      #{sysProcessFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.glens.pwCloudOs.cj.base.vo.CjLine" >
    insert into t_cj_line
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectId != null" >
        COLLECT_ID,
      </if>
      <if test="collectorCode != null" >
        COLLECTOR_CODE,
      </if>
      <if test="bdzCollectId != null" >
        BDZ_COLLECT_ID,
      </if>
      <if test="interid != null" >
        INTERID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="amname != null" >
        AMNAME,
      </if>
      <if test="voltagelevel != null" >
        VOLTAGELEVEL,
      </if>
      <if test="productdate != null" >
        PRODUCTDATE,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
      <if test="area != null" >
        AREA,
      </if>
      <if test="tyrq != null" >
        TYRQ,
      </if>
      <if test="zjly != null" >
        ZJLY,
      </if>
      <if test="jyfs != null" >
        JYFS,
      </if>
      <if test="zcxz != null" >
        ZCXZ,
      </if>
      <if test="zcdwmc != null" >
        ZCDWMC,
      </if>
      <if test="xllx != null" >
        XLLX,
      </if>
      <if test="sjdl != null" >
        SJDL,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
      <if test="xlcdTz != null" >
        XLCD_TZ,
      </if>
      <if test="xlcdMap != null" >
        XLCD_MAP,
      </if>
      <if test="proNo != null" >
        PRO_NO,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME,
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectId != null" >
        #{collectId,jdbcType=VARCHAR},
      </if>
      <if test="collectorCode != null" >
        #{collectorCode,jdbcType=VARCHAR},
      </if>
      <if test="bdzCollectId != null" >
        #{bdzCollectId,jdbcType=VARCHAR},
      </if>
      <if test="interid != null" >
        #{interid,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="amname != null" >
        #{amname,jdbcType=VARCHAR},
      </if>
      <if test="voltagelevel != null" >
        #{voltagelevel,jdbcType=DECIMAL},
      </if>
      <if test="productdate != null" >
        #{productdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="tyrq != null" >
        #{tyrq,jdbcType=TIMESTAMP},
      </if>
      <if test="zjly != null" >
        #{zjly,jdbcType=VARCHAR},
      </if>
      <if test="jyfs != null" >
        #{jyfs,jdbcType=VARCHAR},
      </if>
      <if test="zcxz != null" >
        #{zcxz,jdbcType=VARCHAR},
      </if>
      <if test="zcdwmc != null" >
        #{zcdwmc,jdbcType=VARCHAR},
      </if>
      <if test="xllx != null" >
        #{xllx,jdbcType=VARCHAR},
      </if>
      <if test="sjdl != null" >
        #{sjdl,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="xlcdTz != null" >
        #{xlcdTz,jdbcType=DECIMAL},
      </if>
      <if test="xlcdMap != null" >
        #{xlcdMap,jdbcType=DECIMAL},
      </if>
      <if test="proNo != null" >
        #{proNo,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="sysCreateTime != null" >
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null" >
        #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null" >
        #{sysProcessFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.glens.pwCloudOs.cj.base.vo.CjLine" >
    update t_cj_line
    <set >
      <if test="collectorCode != null" >
        COLLECTOR_CODE = #{collectorCode,jdbcType=VARCHAR},
      </if>
      <if test="bdzCollectId != null" >
        BDZ_COLLECT_ID = #{bdzCollectId,jdbcType=VARCHAR},
      </if>
      <if test="interid != null" >
        INTERID = #{interid,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="amname != null" >
        AMNAME = #{amname,jdbcType=VARCHAR},
      </if>
      <if test="voltagelevel != null" >
        VOLTAGELEVEL = #{voltagelevel,jdbcType=DECIMAL},
      </if>
      <if test="productdate != null" >
        PRODUCTDATE = #{productdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="area != null" >
        AREA = #{area,jdbcType=VARCHAR},
      </if>
      <if test="tyrq != null" >
        TYRQ = #{tyrq,jdbcType=TIMESTAMP},
      </if>
      <if test="zjly != null" >
        ZJLY = #{zjly,jdbcType=VARCHAR},
      </if>
      <if test="jyfs != null" >
        JYFS = #{jyfs,jdbcType=VARCHAR},
      </if>
      <if test="zcxz != null" >
        ZCXZ = #{zcxz,jdbcType=VARCHAR},
      </if>
      <if test="zcdwmc != null" >
        ZCDWMC = #{zcdwmc,jdbcType=VARCHAR},
      </if>
      <if test="xllx != null" >
        XLLX = #{xllx,jdbcType=VARCHAR},
      </if>
      <if test="sjdl != null" >
        SJDL = #{sjdl,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="xlcdTz != null" >
        XLCD_TZ = #{xlcdTz,jdbcType=DECIMAL},
      </if>
      <if test="xlcdMap != null" >
        XLCD_MAP = #{xlcdMap,jdbcType=DECIMAL},
      </if>
      <if test="proNo != null" >
        PRO_NO = #{proNo,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
      </if>
    </set>
    where COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glens.pwCloudOs.cj.base.vo.CjLine" >
    update t_cj_line
    set COLLECTOR_CODE = #{collectorCode,jdbcType=VARCHAR},
      BDZ_COLLECT_ID = #{bdzCollectId,jdbcType=VARCHAR},
      INTERID = #{interid,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      AMNAME = #{amname,jdbcType=VARCHAR},
      VOLTAGELEVEL = #{voltagelevel,jdbcType=DECIMAL},
      PRODUCTDATE = #{productdate,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      AREA = #{area,jdbcType=VARCHAR},
      TYRQ = #{tyrq,jdbcType=TIMESTAMP},
      ZJLY = #{zjly,jdbcType=VARCHAR},
      JYFS = #{jyfs,jdbcType=VARCHAR},
      ZCXZ = #{zcxz,jdbcType=VARCHAR},
      ZCDWMC = #{zcdwmc,jdbcType=VARCHAR},
      XLLX = #{xllx,jdbcType=VARCHAR},
      SJDL = #{sjdl,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=VARCHAR},
      XLCD_TZ = #{xlcdTz,jdbcType=DECIMAL},
      XLCD_MAP = #{xlcdMap,jdbcType=DECIMAL},
      PRO_NO = #{proNo,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR}
    where COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </update>
</mapper>