<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.cj.base.dao.CjPoleMapper" >
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.cj.base.vo.CjPole" >
    <id column="COLLECT_ID" property="collectId" jdbcType="VARCHAR" />
    <result column="XL_COLLECT_ID" property="xlCollectId" jdbcType="VARCHAR" />
    <result column="GH" property="gh" jdbcType="VARCHAR" />
    <result column="COLLECTOR_CODE" property="collectorCode" jdbcType="VARCHAR" />
    <result column="POLE_TYPE" property="poleType" jdbcType="VARCHAR" />
    <result column="POLE_MODEL" property="poleModel" jdbcType="VARCHAR" />
    <result column="POLE_HEIGHT" property="poleHeight" jdbcType="DECIMAL" />
    <result column="JD" property="jd" jdbcType="DECIMAL" />
    <result column="WD" property="wd" jdbcType="DECIMAL" />
    <result column="SYS_CREATE_TIME" property="sysCreateTime" jdbcType="TIMESTAMP" />
    <result column="SYS_UPDATE_TIME" property="sysUpdateTime" jdbcType="TIMESTAMP" />
    <result column="SYS_DELETE_TIME" property="sysDeleteTime" jdbcType="TIMESTAMP" />
    <result column="SYS_PROCESS_FLAG" property="sysProcessFlag" jdbcType="CHAR" />
    <result column="SYNC_STATE" property="syncState" jdbcType="INTEGER" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="BDZ_COLLECT_ID" property="bdzCollectId" jdbcType="VARCHAR" />
    <result column="BDZAMNAME" property="bdzAmname" jdbcType="VARCHAR" />
    <result column="XLAMNAME" property="xlAmname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    COLLECT_ID, COLLECTOR_CODE, POLE_TYPE, POLE_MODEL, POLE_HEIGHT, JD, WD, SYS_CREATE_TIME, 
    SYS_UPDATE_TIME, SYS_DELETE_TIME, SYS_PROCESS_FLAG, SYNC_STATE
  </sql>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="string" >
	SELECT
	  *
	FROM
	  t_cj_pole
	where xlgh.GT_COLLECT_ID=#{collectId}
  </select>
  
  <select id="queryByXlGtCollectId" resultMap="BaseResultMap" parameterType="map" >
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  pole.COLLECT_ID,
	  xlgh.GH,
	  pole.POLE_TYPE,
	  pole.POLE_MODEL,
	  pole.POLE_HEIGHT,
	  pole.JD,
	  pole.WD
	FROM
	  t_cj_xlgh xlgh
	  INNER JOIN t_cj_pole pole
	    ON xlgh.GT_COLLECT_ID = pole.COLLECT_ID
	  INNER JOIN t_cj_line line
	    ON xlgh.XL_COLLECT_ID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	where xlgh.GT_COLLECT_ID=#{collectId}
	and xlgh.XL_COLLECT_ID=#{xlCollectId}
  </select>
  
  <select id="queryForList" resultMap="BaseResultMap" parameterType="map" >
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  pole.COLLECT_ID,
	  xlgh.GH,
	  pole.POLE_TYPE,
	  pole.POLE_MODEL,
	  pole.POLE_HEIGHT,
	  pole.JD,
	  pole.WD
	FROM
	  t_cj_xlgh xlgh
	  INNER JOIN t_cj_pole pole
	    ON xlgh.GT_COLLECT_ID = pole.COLLECT_ID
	  INNER JOIN t_cj_line line
	    ON xlgh.XL_COLLECT_ID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	<where>
		<if test="city != null and  city !='' ">
			line.CITY LIKE concat('%',#{city},'%')
		</if>
		<if test="xlCollectId != null and  xlCollectId !=''">
			AND xlgh.XL_COLLECT_ID=#{xlCollectId}
		</if>
		<if test="xlAmname != null and  xlAmname !='' ">
			AND line.AMNAME LIKE concat('%',#{xlAmname},'%')
		</if>
		<if test="collectId != null and  collectId !=''">
			AND pole.COLLECT_ID =#{collectId}
		</if>
		<if test="poleType != null and  poleType !=''">
			AND POLE_TYPE=#{poleType}
		</if>
		<if test="poleModel != null and  poleModel !=''">
			AND POLE_MODEL=#{poleModel}
		</if>
	</where>
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_cj_pole
    where COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.glens.pwCloudOs.cj.base.vo.CjPole" >
    insert into t_cj_pole (COLLECT_ID, COLLECTOR_CODE, POLE_TYPE, 
      POLE_MODEL, POLE_HEIGHT, JD, 
      WD, SYS_CREATE_TIME, SYS_UPDATE_TIME, 
      SYS_DELETE_TIME, SYS_PROCESS_FLAG, SYNC_STATE
      )
    values (#{collectId,jdbcType=VARCHAR}, #{collectorCode,jdbcType=VARCHAR}, #{poleType,jdbcType=VARCHAR}, 
      #{poleModel,jdbcType=VARCHAR}, #{poleHeight,jdbcType=DECIMAL}, #{jd,jdbcType=DECIMAL}, 
      #{wd,jdbcType=DECIMAL}, #{sysCreateTime,jdbcType=TIMESTAMP}, #{sysUpdateTime,jdbcType=TIMESTAMP}, 
      #{sysDeleteTime,jdbcType=TIMESTAMP}, #{sysProcessFlag,jdbcType=CHAR}, #{syncState,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.glens.pwCloudOs.cj.base.vo.CjPole" >
    insert into t_cj_pole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectId != null" >
        COLLECT_ID,
      </if>
      <if test="collectorCode != null" >
        COLLECTOR_CODE,
      </if>
      <if test="poleType != null" >
        POLE_TYPE,
      </if>
      <if test="poleModel != null" >
        POLE_MODEL,
      </if>
      <if test="poleHeight != null" >
        POLE_HEIGHT,
      </if>
      <if test="jd != null" >
        JD,
      </if>
      <if test="wd != null" >
        WD,
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME,
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG,
      </if>
      <if test="syncState != null" >
        SYNC_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectId != null" >
        #{collectId,jdbcType=VARCHAR},
      </if>
      <if test="collectorCode != null" >
        #{collectorCode,jdbcType=VARCHAR},
      </if>
      <if test="poleType != null" >
        #{poleType,jdbcType=VARCHAR},
      </if>
      <if test="poleModel != null" >
        #{poleModel,jdbcType=VARCHAR},
      </if>
      <if test="poleHeight != null" >
        #{poleHeight,jdbcType=DECIMAL},
      </if>
      <if test="jd != null" >
        #{jd,jdbcType=DECIMAL},
      </if>
      <if test="wd != null" >
        #{wd,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null" >
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null" >
        #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null" >
        #{sysProcessFlag,jdbcType=CHAR},
      </if>
      <if test="syncState != null" >
        #{syncState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.glens.pwCloudOs.cj.base.vo.CjPole" >
    update t_cj_pole
    <set >
      <if test="collectorCode != null" >
        COLLECTOR_CODE = #{collectorCode,jdbcType=VARCHAR},
      </if>
      <if test="poleType != null" >
        POLE_TYPE = #{poleType,jdbcType=VARCHAR},
      </if>
      <if test="poleModel != null" >
        POLE_MODEL = #{poleModel,jdbcType=VARCHAR},
      </if>
      <if test="poleHeight != null" >
        POLE_HEIGHT = #{poleHeight,jdbcType=DECIMAL},
      </if>
      <if test="jd != null" >
        JD = #{jd,jdbcType=DECIMAL},
      </if>
      <if test="wd != null" >
        WD = #{wd,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
      </if>
      <if test="syncState != null" >
        SYNC_STATE = #{syncState,jdbcType=INTEGER},
      </if>
    </set>
    where COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glens.pwCloudOs.cj.base.vo.CjPole" >
    update t_cj_pole
    set COLLECTOR_CODE = #{collectorCode,jdbcType=VARCHAR},
      POLE_TYPE = #{poleType,jdbcType=VARCHAR},
      POLE_MODEL = #{poleModel,jdbcType=VARCHAR},
      POLE_HEIGHT = #{poleHeight,jdbcType=DECIMAL},
      JD = #{jd,jdbcType=DECIMAL},
      WD = #{wd,jdbcType=DECIMAL},
      SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
      SYNC_STATE = #{syncState,jdbcType=INTEGER}
    where COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </update>
</mapper>