<!DOCTYPE HTML>
<html>
<head>
<title> 卡片下发 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/ViewState.js"></script>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css" />


<style type="text/css">
body{overflow:hidden;}
	.btn{display:inline-block;padding:1px 4px;border:solid 1px #f4f4f4; border-radius:4px;padding:6px 20px;}
	.btn.toactive{color:#fff;background:#3385FF;}
	.btn.toclose{color:#fff;background:#f1f1f1;color:#666;}
	.images{text-align:center;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName" storagekey="pm.scene.sceneMonitoringDetail">

<div>
	<form>
		<table cellpadding="5" style="margin:20px;">
			<tr>
				<td>卡号</td>
				<td>
					<input type="text" name="cardNo"/>
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<a href="javascript:" ng-click="doSave()" class="btn toactive">保存</a>
					<a href="javascript:" ng-click="doClose()" class="btn toclose">关闭</a>
				</td>
			</tr>
		</table>
	</form>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		/* init */
		$scope.img={};
		
		$scope.urlParams=getUrlParams();
		$scope.doSave=function(){
			parent.$dlog.close();
		};
		$scope.doClose=function(){
			parent.$dlog.close();
		};
		
	}
});
</script>
</body>
</html>
