<!DOCTYPE HTML>
<html>
<head>
<title> 现场照片 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/ViewState.js"></script>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css" />
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<script type="text/javascript" src="../../../js/jquery.form.js"></script>
<style type="text/css">
body{overflow:hidden;}
	.btn{display:inline-block;padding:1px 4px;border:solid 1px #f4f4f4; border-radius:4px;padding:6px 20px;}
	.btn.toactive{color:#fff;background:#3385FF;}
	.btn.toclose{color:#fff;background:#f1f1f1;color:#666;}
	.images{text-align:center;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName" storagekey="pm.scene.sceneMonitoringDetail">

<div>
	<form id="saveForm" class="required-validate">
		<table cellpadding="5" style="width:80%;margin:25px auto">
			<tr>
				<td>卡号</td>
				<td>
					<input type="hidden" name="companyCode"/>
					<input type="text" class="required" name="cardNo" style="width:300px" placeholder="请输入卡号"/>
				</td>
			</tr>
			<tr>
				<td>型号</td>
				<td>
					<input type="text" class="required" name="model" style="width:300px" placeholder="请输入型号"/>
				</td>
			</tr>
			<tr>
				<td>厂商</td>
				<td>
					<input type="text" class="required" placeholder="请输入厂商" name="factory" style="width:300px"/>
				</td>
			</tr>
			<tr>
				<td>购置日期</td>
				<td>
					<input type="text" class="required"  class="dateComponent" name="buyDate" onclick="new Calendar().show(this)"/>
				</td>
			</tr>
			<tr>
				<td>备注</td>
				<td>
					<textarea placeholder="请输入备注信息" name="remark" style="width:300px;height:50px"></textarea>
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<a href="javascript:" ng-click="doSave()" class="btn toactive">保存</a>
					<a href="javascript:" ng-click="doClose()" class="btn toclose">关闭</a>
				</td>
			</tr>
		</table>
	</form>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		/* init */
				
		$scope.urlParams=getUrlParams();
		
		
		var startTime=new SimpleDateFormat({formatString:"yyyy-MM-dd"}).format(new Date());
		$("input[name=buyDate]").val(startTime);
		
		
		
		/* 表单验证 */
		validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					
				} 
			}
		});

		
		
		$scope.doSave=function(){
			$("input[name=companyCode]").val($scope.userData.companyCode);
			var params = serializeArrayToMap($("#saveForm").serializeArray());
			if($("#saveForm").valid()){
				new ShowDlog().prompt({
					icon:"waitting",
					msg:"正在保存...",
					done:function(){},
					t:60*1000
				});
				var options = {
						success: function(responseText, statusText) {
							if(responseText.statusCode=="200"){
								$dlog.close();
								new ShowDlog().prompt({
									icon:"success",
									msg:"添加成功！",
									done:function(){
										parent.$dlog.data="SUCCESS";
										parent.$dlog.close();
									},
									t:1500
								});
							}
						},      //提交后的回调函数   
						type: "post",               //默认是form的method（get or post），如果申明，则会覆盖  
						dataType: "json",           //html(默认), xml, script, json...接受服务端返回的类型  
						clearForm: false,          //成功提交后，清除所有表单元素的值
						url:serviceBasePath+"eap/pmsServices/pm/card/add",
						error: function(xhr, status, error) {
							console.log(error);
						}
					};
					$("#saveForm").ajaxSubmit(options);
			}else{
				return
			}
		};
		$scope.doClose=function(){
			parent.$dlog.close();
		};
		
	}
});
</script>
</body>
</html>
