<!DOCTYPE HTML>
<html>
<head>
<title>现场环境 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/ViewState.js"></script>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />


<style type="text/css">
	.btn{display:inline-block;padding:1px 4px;border:solid 1px #f4f4f4; border-radius:4px;}
	.btn.toactive{color:#fff;background:green;}
	.btn.toclose{color:#fff;background:#ED7798;}
	.dialog-position{width:600px;height:450px;}
	.dialog-image{width:800px;height:600px;}
	.dialog-audio{width:400px;height:220px;}
	.dialog-video{width:800px;height:500px;}
	
	.goBack{float: right;padding: 5px 25px;cursor:pointer;border: 1px solid #0078d7;border-radius: 20px;margin-right: 40px;color:#0078d7}
	.goBack:hover{background:#86caff;color:#fff}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName" storagekey="pm.scene.sceneEnv">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<input type="hidden" viewstate="proNo"/>
				<input type="hidden" viewstate="spotCode"/>
				<input type="text" viewstate="proName" class="dropDownList" style="width:200px;" placeholder="请选择项目"/>
				<input type="text" viewstate="spotName" class="dropDownList" style="width:200px;" placeholder="请选择项目工地"/>
				<input type="text" viewstate="startTime" class="dateComponent" onclick="new Calendar().show(this)" placeholder="开始时间"/>
				<input type="text" viewstate="endTime" class="dateComponent" onclick="new Calendar().show(this)" placeholder="结束时间"/>
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
<!-- 				<div class="query_div" ng-click="doQuery('export')"> -->
<!-- 					导出 -->
<!-- 				</div> -->
				&nbsp;&nbsp;
			</div>
			<img src="../../../img/list_Header2-.png">
			<span ng-click="goBack()" class="goBack">返回</span>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">项目编号</div></th>
				<th><div align="center">项目名称</div></th>
				<th><div align="center">现场编号</div></th>
				<th><div align="center">现场名称</div></th>
				<th><div align="center">现场描述</div></th>
				<th><div align="center">上报人</div></th>
				<th><div align="center">上报时间</div></th>
				<th><div align="center">操作</div></th>
			  </tr>
			  <tr class="tr2" ng-repeat="item in dataList">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.PRO_NO}}</div></td>
				<td><div align="center">{{item.PRO_NAME}}</div></td>
				<td><div align="center">{{item.SPOT_CODE}}</div></td>
				<td><div align="center">{{item.SPOT_NAME}}</div></td>
				<td><div align="left">{{item.SCENE_DESCR}}</div></td>
				<td><div align="center">{{item.EMPLOYEENAME}}</div></td>
				<td><div align="center">{{item.REPORT_TIME}}</div></td>
				<td>
					<div align="center">
			    		<img class="operationImg" ng-click="showPosition(item)" src="../../../img/bedrent/positon.png" title="查看位置">
			    		<img class="operationImg" ng-if="item.FILE_TYPE==1" ng-click="showImage(item)" src="../../../img/viewimg.png" title="查看图片">
			    		<img class="operationImg" ng-if="item.FILE_TYPE==2" ng-click="showAudio(item)" src="../../../img/audio.png" title="播放语音">
			    		<img class="operationImg" ng-if="item.FILE_TYPE==3" ng-click="showVideo(item)" src="../../../img/video.png" title="播放视频">
		    		</div>
				</td>
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">

var  currentProNo="";

simpleController({
	init:function($scope, $http){
		/* init */
		$scope.dataList=[];
		
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			
			noLogin(location.href);
			return;
		}
		var userData = jQuery.parseJSON(userDataStr);
		ticket = $.cookie("pmsWeb_ticket");
		
		var viewstate = new ViewState({
			"startTime":new SimpleDateFormat({formatString:"yyyy-MM-dd"}).format(new Date()), 
			"endTime":new SimpleDateFormat({formatString:"yyyy-MM-dd"}).format(new Date()),
			});
			
		var params = getUrlParams();
		
		if(params.startTime)
		{
			//
			$("input[viewstate=startTime]").val(params.startTime);
			$("input[viewstate=endTime]").val(params.startTime);
		}
		
		if(params.currentProNo)
		{
			$("input[viewstate=proNo]").val(params.currentProNo);
		}
		if(params.currentProName)
		{
			$("input[viewstate=proName]").val(params.currentProName);
		}
		if(params.currentSpotCode)
		{
			$("input[viewstate=spotCode]").val(params.currentSpotCode);
		}
		if(params.currentSpotName)
		{
			$("input[viewstate=spotName]").val(params.currentSpotName);
		}
		
			
		
		/* 项目 */
		new DropDownList().init({
			renderTo:"input[viewstate=proName]",
			url:"../../component/projectList.html",
			height:"200px",
			onSelected:function(result){
				$("input[viewstate=proNo]").val(result.proNo);
				$("input[viewstate=proName]").val(result.proName);
				
				currentProNo=result.proNo;
				proSpotList.setConfig("url", "../../component/proSpotList.html?ticket="+ticket+"&currentProNo="+currentProNo);
				
			}
		});
		
		var proSpotList = new DropDownList();
		//工地
		proSpotList.init({
			renderTo:"input[viewstate=spotName]",
			url:"../../component/proSpotList.html?ticket="+ticket+"&currentProNo="+currentProNo,
			height:"200px",
			onSelected:function(result){
				$("input[viewstate=spotCode]").val(result.spotCode);
				$("input[viewstate=spotName]").val(result.spotName);
				
				currentSpotCode=result.spotCode;
				currentSpotName=result.spotName;
			}
		});
		
		/* 加载数据 */
		$scope.loadData=function(){
			viewstate.collect();
			$scope.httpGet({
				url:"eap/pmsServices/pm/sceneEnv/list",
				data:{proNo:viewstate.get("proNo"),spotCode:viewstate.get("spotCode"), startTime:viewstate.get("startTime"), endTime:viewstate.get("endTime")},
				success:function(res){
					$scope.dataList = res.list;
				},
				pageChange:function(pageNum){
					$scope.loadData();
				},
				error:function(res){
					
				}
			});
		};
		
		$scope.doQuery=function(){
			$scope.loadData();
		};
		
		/* 项目显示 */
		$scope.showPosition=function(item){
			new ShowDlog().showFrame("showPosition.html?x="+item.POSITION_X+"&y="+item.POSITION_Y, "现场位置", function(){
			}, "dialog-position");
		};
		
		$scope.showImage=function(item){
			new ShowDlog().showFrame("showImage.html?fileCode="+getFirst(item.FILE_CODE), "现场照片", function(){
			}, "dialog-image");
		};
		
		$scope.showAudio=function(item){
			new ShowDlog().showFrame("showAudio.html?fileCode="+getFirst(item.FILE_CODE), "现场语音", function(){
			}, "dialog-audio");
		};
		
		$scope.showVideo=function(item){
			new ShowDlog().showFrame("showVideo.html?fileCode="+getFirst(item.FILE_CODE), "现场视频", function(){
			}, "dialog-video");
		};
		
		$scope.goBack=function()
		{
			hrefTo({
				url:"scenedisplay.html",
				data:getUrlParams()
			});
		}
		
		
		var getFirst=function(str){
			if(str && str.length>0){
				var arr = str.split(",");
				if(arr && arr.length>0){
					return arr[0];
				}
			}
			return str;
		};
		
		/* 初始查询 */
		$scope.doQuery();
	}
});
</script>
</body>
</html>
