.drop-down-list{background:#fff;font-weight:normal;overflow-y:auto;}
.drop-down-list a.list-item{display:block;margin:0;padding:5px 5px 5px 5px;color:#000;font-size:12px;font-weight:normal;line-height:26px;cursor:default;text-align:left;
text-decoration:none;}
.drop-down-list a.list-item:hover{background:#3470CC;color:#fff;}
.drop-down-list a.list-item:visited{background:#3470CC;color:#000;}


.drop-down-list-tip{margin:0;padding:0;background:#fff;border-radius:4px;}
.drop-down-list-tip .top-triangle{border-left:solid 1px #ccc;border-top:solid 1px #ccc;background:#fff;width:10px;height:10px;
transform: rotate(45deg);-ms-transform: rotate(45deg); /* IE 9 */-webkit-transform: rotate(45deg); /* Safari and Chrome */
margin-left:auto;margin-right:auto;margin-top:-6px;}
.drop-down-list-tip .list-group{border:solid 0px;margin:6px 0 0 0;padding:0;background:#fff;}
.drop-down-list-tip .list-group a.list-item{display:block;margin:0;padding:4px 6px;cursor:default;color:#000;text-align:left;
text-decoration:none;}
.drop-down-list-tip .list-group a.list-item:hover{background:#3470CC;color:#fff;}
.drop-down-list-tip .list-group a.list-item:visited{background:#3470CC;color:#000;}
