<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CommonMapper">
	
	<select id="getOrgTree" resultType="com.glens.eap.platform.framework.beans.TreeNode">
		select REGION_CODE id,REGION_NAME name,PARENT_REGION_CODE pid, REGIONTYPE_CODE as level 
		from MD_REGION where SYS_PROCESS_FLAG='1' order by REGION_CODE
	</select>
	
	<select id="getActivePro" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	
	SELECT	DISTINCT
	p.PRO_NO proNo,
	p.PRO_NAME proName,
	p.CATEGORY_CODE categoryCode
FROM
	PM_BASE p
join pf_account a 
on a.EMPLOYEECODE=p.EMPLOYEECODE

WHERE
	p.COMPANY_CODE =#{companyCode}
AND p.SYS_PROCESS_FLAG = '1'
AND p.PRO_STATUS = 2

		<if test="accountCode != null and accountCode !=''">
		AND a.ACCOUNT_CODE =#{accountCode}
		</if>
		<if test="categoryCode != null and categoryCode != ''">
		and p.CATEGORY_CODE=#{categoryCode}
		</if>
		<if test="employeecode != null and employeecode != ''">
		and p.PRO_NO in (SELECT PRO_NO FROM pm_member WHERE employeecode=#{employeecode})
		</if>
		<if test="districtManager != null and districtManager != ''">
		and p.DISTRICT_MANAGER=#{districtManager}
		</if>
		<if test="deptCode != null and deptCode != ''">
		AND FIND_IN_SET(p.MANAGE_DEPT,#{deptCode})
		</if>
	</select>
	
	<select id="getAllPro" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select PRO_NO proNo,PRO_NAME proName,CATEGORY_CODE categoryCode,PRO_CODE proCode from PM_BASE 
		where COMPANY_CODE=#{companyCode} and SYS_PROCESS_FLAG='1'
		<if test="accountCode != null and accountCode !=''">
		and ACCOUNT_CODE=#{accountCode}
		</if>
		<if test="categoryCode != null and categoryCode != ''">
		and CATEGORY_CODE=#{categoryCode}
		</if>
		<if test="employeecode != null and employeecode != ''">
		and PRO_NO in (SELECT PRO_NO FROM pm_member WHERE employeecode=#{employeecode})
		</if>
		<if test="districtManager != null and districtManager != ''">
		and DISTRICT_MANAGER=#{districtManager}
		</if>
		<if test="deptCode != null and deptCode != ''">
		AND FIND_IN_SET(MANAGE_DEPT,#{deptCode})
		</if>
	</select>
	
	<select id="getGaisuanPros" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select PRO_NO proNo,PRO_NAME proName,CATEGORY_CODE categoryCode, PRO_CODE proCode from PM_BASE 
		where COMPANY_CODE=#{companyCode} and SYS_PROCESS_FLAG='1'
		<if test="accountCode != null and accountCode !=''">
		and ACCOUNT_CODE=#{accountCode}
		</if>
		<if test="categoryCode != null and categoryCode != ''">
		and CATEGORY_CODE=#{categoryCode}
		</if>
		<if test="employeecode != null and employeecode != ''">
		and PRO_NO in (SELECT PRO_NO FROM pm_member WHERE employeecode=#{employeecode})
		</if>
		<if test="districtManager != null and districtManager != ''">
		and DISTRICT_MANAGER=#{districtManager}
		</if>
		<if test="deptCode != null and deptCode != ''">
		AND FIND_IN_SET(MANAGE_DEPT,#{deptCode})
		</if>
	</select>
	
	<select id="getCheckPros" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT a.pro_no proNo,a.pro_name proName
		FROM pm_base a
		JOIN pm_category b ON a.category_code=b.category_code
		LEFT JOIN PM_PB_BUDGETESTIMATE c ON a.COMPANY_CODE=c.COMPANY_CODE AND a.PRO_NO=c.PRO_No
		
		LEFT JOIN (select a.* from PM_PB_BUDGETESTIMATE_VERSION a
		JOIN (select COMPANY_CODE,PRO_NO,BUDGETESTIMATE_CODE,MAX(VERSION_ORDER) VERSION_ORDER 
		from PM_PB_BUDGETESTIMATE_VERSION GROUP BY COMPANY_CODE,PRO_NO,BUDGETESTIMATE_CODE) b
		on a.COMPANY_CODE=b.COMPANY_CODE and a.PRO_NO=b.PRO_NO 
		and a.BUDGETESTIMATE_CODE=b.BUDGETESTIMATE_CODE and a.VERSION_ORDER=b.VERSION_ORDER) v 
		on v.BUDGETESTIMATE_CODE=c.BUDGETESTIMATE_CODE and v.PRO_NO=c.PRO_NO and c.COMPANY_CODE=v.COMPANY_CODE
		
		WHERE a.SYS_PROCESS_FLAG='1' and a.COMPANY_CODE=#{companyCode}
		<if test="categoryCode != null and categoryCode != ''">
	    	and a.CATEGORY_CODE=#{categoryCode}
	    </if>
	    <if test="proNo != null and proNo != ''">
	    	and a.PRO_NO = #{proNo}
	    </if>
	    <if test="proStatus != null and proStatus != ''">
	    	and a.PRO_STATUS=#{proStatus}
	    </if>
	     <if test="deptCode != null and deptCode != ''">
	    AND FIND_IN_SET(a.MANAGE_DEPT,#{deptCode})
	    </if>
	    <if test="districtManager != null and districtManager != ''">
		and a.DISTRICT_MANAGER=#{districtManager}
		</if>
		<if test="proManager != null and proManager != ''">
		and a.EMPLOYEECODE=#{proManager}
		</if>
		
		<if test="districtManager != null and districtManager != ''">
			and a.DISTRICT_MANAGER=#{districtManager}
		</if>
		<if test="areaName != null and areaName != ''">
	    	and (a.CITY=#{areaName} or a.PROVINCE=#{areaName} or a.DISTRICT=#{areaName})
	    </if>
	    <if test="deputyManager!=null and deputyManager!=''">
	    	and  v.DEPUTY_MANAGER =#{deputyManager} and v.VERSION_STATUS='2' 
	    </if>
	    <if test="deptAuditor!=null and deptAuditor!=''">
	    	and  v.DEPT_AUDITOR =#{deptAuditor} and v.VERSION_STATUS='3' 
	    </if>
	    
	    <if test="financeAuditor!=null and financeAuditor!=''">
	    	and  v.FINANCE_AUDITOR =#{financeAuditor} and v.VERSION_STATUS='5'
	    </if>
	    <if test="generalManager!=null and generalManager!=''">
	    	and  v.GENERAL_MANAGER =#{generalManager} and v.VERSION_STATUS='7'  
	    </if>
	</select>
	
	<select id="getClosedPro" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select PRO_NO proNo,PRO_NAME proName from PM_BASE 
		where COMPANY_CODE=#{companyCode} and SYS_PROCESS_FLAG='1' and PRO_STATUS=3
		<if test="accountCode != null and accountCode !=''">
		and ACCOUNT_CODE=#{accountCode}
		</if>
		<if test="categoryCode != null and categoryCode != ''">
		and CATEGORY_CODE=#{categoryCode}
		</if>
		<if test="employeecode != null and employeecode != ''">
		and PRO_NO in (SELECT PRO_NO FROM pm_member WHERE employeecode=#{employeecode})
		</if>
		<if test="districtManager != null and districtManager != ''">
		and DISTRICT_MANAGER=#{districtManager}
		</if>
		<if test="deptCode != null and deptCode != ''">
		
		AND FIND_IN_SET(MANAGE_DEPT,#{deptCode})
		</if>
	</select>
	
	<select id="selectProCategory" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select a.CATEGORY_CODE categoryCode,a.CATEGORY_NAME categoryName
		from pm_category a
		where a.SYS_PROCESS_FLAG='1'
		<if test="accountCode != null and accountCode != ''">
		and exists(select 1 from pm_base b where a.CATEGORY_CODE=b.CATEGORY_CODE
						and b.ACCOUNT_CODE=#{accountCode})
		</if>
		<if test="districtManager != null and districtManager != ''">
		and exists(select 1 from pm_base b where a.CATEGORY_CODE=b.CATEGORY_CODE
						and b.DISTRICT_MANAGER=#{districtManager})
		</if>
		<if test="deptCode != null and deptCode != ''">
		and exists(select 1 from pm_base b where a.CATEGORY_CODE=b.CATEGORY_CODE
						AND FIND_IN_SET(b.MANAGE_DEPT,#{deptCode}))
		</if>
	</select>
	
	<select id="selectAssetClass" parameterType="map" resultType="map">
		select asset_class_code as assetClassCode, asset_class_name as assetClassName,is_cm iscm
		from gm_asset_class where SYS_PROCESS_FLAG='1'
		<if test="assetCharacterCode != null and assetCharacterCode!=''">
		and ASSET_CHARACTER_CODE=#{assetCharacterCode}
		</if>
		<if test="iscm != null and iscm!=''">
		and IS_CM=#{iscm}
		</if>
	</select>
	
	<select id="selectAssetCharacter" resultType="map">
		select ASSET_CHARACTER_CODE assetCharacterCode,ASSET_CHARACTER_NAME assetCharacterName
		from FM_ASSET_CHARACTER where SYS_PROCESS_FLAG='1'
	</select>
	
	<select id="selectVehicle" resultType="map">
  	select a.ASSET_CODE assetCode,a.VA_NO vaNo,b.ASSET_TYPE_NAME assetTypeName,b.BRAND brand,b.MODEL_NO modelNo
	from GM_ASSET_BASE a
	join GM_ASSET_TYPE b on a.ASSET_TYPE_CODE=b.ASSET_TYPE_CODE
	where a.SYS_PROCESS_FLAG='1' and a.ASSET_MARK=1
  </select>
  
  <select id="vehicleInProject" resultType="map" parameterType="string">
  	select t1.asset_code as assetCode, t2.va_no as veNo 
  	from gm_asset_rent t1
	join gm_asset_base t2 on t2.asset_code = t1.asset_code and t2.asset_mark=1
	where t1.loan_pro_no=#{proNo} and t1.rent_status = 1 and t1.flow_status = 4
  </select>
	
	<select id="selectEmployeeByPro" resultType="map" parameterType="map">
		SELECT pro_no AS CODE, 0 AS PCODE, pro_name AS NAME, 'PRO' AS ITEM_TYPE, '' as JOB_NO 
			FROM pm_base 
			WHERE pro_status&lt;&gt;3
			<if test="proNo != null and proNo != ''">
				AND PRO_NO = #{proNo}
			</if>
		UNION ALL
		SELECT CONCAT('EMP_', t1.employeecode) AS CODE, t1.pro_no AS PCODE, t2.employeename AS NAME, 'EMP' AS ITEM_TYPE, t2.JOB_NO 
			FROM `pm_member` t1
			LEFT JOIN md_employee t2 ON t1.employeecode = t2.employeecode
			WHERE t1.work_statue=1
				AND EXISTS(
					SELECT 1 FROM pm_base 
						WHERE pro_status&lt;&gt;3 
						AND pro_no = t1.pro_no
						<if test="proNo != null and proNo != ''">
							AND PRO_NO = #{proNo}
						</if>
						)
				<if test="employeeName != null and employeeName != ''">
				AND t2.employeename like "%"#{employeeName}"%"
				</if>
	</select>
	
	<select id="selectEmployeeByUnit" resultType="map" parameterType="map">
		SELECT unit_code AS CODE, parent_unit AS PCODE, unit_name AS NAME, 'ORG' AS ITEM_TYPE, '' as JOB_NO  
			FROM md_org_unit
			<if test="unitCode != null and unitCode != ''">
			WHERE unit_code = #{unitCode}
			</if>
		UNION ALL
		SELECT CONCAT('EMP_', employeecode) AS CODE, unit_code AS PCODE, employeename AS NAME, 'EMP' AS ITEM_TYPE, JOB_NO 
			FROM md_employee 
			WHERE work_status=1
			<if test="unitCode != null and unitCode != ''">
				AND unit_code = #{unitCode}
			</if>
			<if test="employeeName != null and employeeName != ''">
				AND employeename like "%"#{employeeName}"%"
			</if>
	</select>
	<select id="selectEmployeeByJob" resultType="map" parameterType="map">
		SELECT job_code AS CODE, 0 AS PCODE, job_name AS NAME, 'JOB' AS ITEM_TYPE, '' as JOB_NO FROM md_employee_job
		UNION ALL
		SELECT CONCAT('EMP_', employeecode) AS CODE, job_code AS PCODE, employeename AS NAME, 'EMP' AS ITEM_TYPE, JOB_NO FROM md_employee t1
		WHERE work_status=1 
		  AND EXISTS(SELECT 1 FROM md_employee_job WHERE job_code = t1.job_code)
	</select>
	<select id="employeecodesToAccountCodes" resultType="string" parameterType="list">
		SELECT account_code 
		FROM pf_account 
		WHERE employeecode IN ('-1',
		<foreach collection="list" item="item" separator=",">
		#{item, jdbcType=VARCHAR}
		</foreach>
		)
	</select>
	
	<select id="getAllEmps" parameterType="map" resultType="map">
		select EMPLOYEECODE employeeCode,EMPLOYEENAME employeeName from md_employee where WORK_STATUS=1
		
	</select>
	<select id="getManagerPros" parameterType="map" resultType="map">
		select PRO_NO proNo,PRO_NAME proName,EMPLOYEECODE employeeCode,PRO_MANAGER proManager from pm_base where PRO_STATUS=2 AND EMPLOYEECODE=#{employeeCode}
	</select>
	
	<select id="getProList" parameterType="map" resultType="map">
		select p.PRO_NO proNo,p.PRO_NAME proName from pm_member m
		left join pm_base p on p.PRO_NO=m.PRO_NO
		where  m.WORK_STATUE=1 AND m.EMPLOYEECODE=#{employeeCode}
	</select>
	
	<select id="getAccountByRole" parameterType="map" resultType="java.lang.String">
		select a.ACCOUNT_CODE from pf_account a
		JOIN md_employee b on a.EMPLOYEECODE=b.EMPLOYEECODE
		JOIN pm_base c on b.UNIT_CODE=c.MANAGE_DEPT
		where 1=1
		<if test="roleCode != null and roleCode != ''">
		and FIND_IN_SET(a.ROLECODE,roleCode)
		</if>
		<if test="proNo != null and proNo != ''">
		and c.PRO_NO=#{proNo}
		</if>
	</select>
	
</mapper>
