<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>量为石电网智能运维管控云服务平台</title>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	<link rel="shortcut icon" href="images/glens.png" type="image/x-icon"/>
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/config.js"></script>
	<script type="text/javascript" src="angular-1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="js/showDlog/showDlog.js"></script>
	<link rel="stylesheet" type="text/css" href="js/showDlog/showDlog-blue.css" />
</head>
<body ng-app="pmsWeb" ng-controller="wxCtrl" style="height:auto">
<div class="sp_login">
	<div class="select_status">
		<span>
			<input type="radio" name="status" id="all" value="1">
			<label>全量方式</label>
		</span>
		<span>
			<input type="radio" name="status" id="add" value="2" checked="checked" >
			<label>增量方式</label>
		</span>
	</div>	
	<div class="macth_con">{{persorlist.data}}</div>
	<div class="macthbtn_warp">
		<div class="content_title" style="display:none"><img src="images/loading.gif"/>正在同步,请稍等... </div>
		<a class="macthbtn macth" ng-click="sync()">同步</a>
		<a class="macthbtn sure_close" ng-click="close()" style="display:none">确定</a>
	</div>
</div>
<script>
	var taskCode ="";
	function uuid() {
	    var s = [];
	    var hexDigits = "0123456789abcdef";
	    for (var i = 0; i < 36; i++) {
	        s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
	    }
	    s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
	    s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
	    s[8] = s[13] = s[18] = s[23] = "-";
	 
	    taskCode = s.join("");

	};
	uuid();

	var app = angular.module("pmsWeb", []);
	app.controller("wxCtrl", function($scope, $http){
	
		$scope.sync =function(){
			$(".content_title").show();
			$(".macth").hide();
			var  val=$("input[name=status]:checked").val();
			console.log(val);
			var ac = setInterval(function(){
				$http.get(serviceBasePath+"eap/pmsServices/weixin/getSyncInfo?taskCode="+taskCode).success(function(response){
					if(response.statusCode!=200){
						alert("请求服务器失败！");
						return;
					}
					$scope.persorlist = response;
				}); 
			},500);
			
			  $http.get(serviceBasePath+"eap/pmsServices/weixin/syncDepartToWeixin?flag="+val+"&taskCode="+taskCode).success(function(response){
				if(response.statusCode!=200){
					alert("请求服务器失败！");
					return;
				}
				$scope.persorlist = response;
				$(".macth").hide();
				$(".sure_close").show();
				clearInterval(ac);
				$(".content_title").hide();
			}); 
			
			
		};
		  
		$scope.close = function(){
			parent.$dlog.close();
		}
	})	 
</script>
</body>
</html>