<!DOCTYPE HTML>
<html>
<head>
<title> 首页 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<style type="text/css">
body{background:#fff;margin:0;padding:0;}
.all{width:100%;height:100%}
.contain{width:100%;height:160px}
.itm{font-size:14px;font-family: '微软雅黑'; margin-left:10px;margin-top:5px;}
</style>
</head>

<body ng-app="projectType" ng-controller="projectTypeCtrl">
	<div class="all">
		<div class="contain">
			<div ng-repeat="item in pop" class="itm">
				<p style="cursor: pointer;height:25px;margin:0px;" ng-click="returnVal(item)"><input type="radio"  name="proname" ng-checked="item.ischeck"   ng-click="returnVal(item)" />{{item.name}}</p>
				
			</div> 
		</div>
		<hr style="height:0px; border-top:1px solid #eee; border-right:0px; border-bottom:0px; border-left:0px;" />
		<div style="width:100%;padding-top:5px;text-align:right">
			<input type="button" value="确定" ng-click="btnsure()" style="margin-right:10px;background:#297DF9;color:#fff;border:0;font-family: '微软雅黑';width:62px;height:25px;"  />
		</div>
		
	</div>
	<script type="text/javascript">
	
	function getUrlParams(){
	var params={};
	var url = location.href;
	var start = url.indexOf("?", 0)+1;
	var paramsStr = url.substring(start, url.length);
	var paramsArr = paramsStr.split("&");
	for(var i=0;i<paramsArr.length;i++){
		var kv = paramsArr[i].split("=");
		var k = kv[0];
		var v = kv[1];
		params[k]=v;
	}
	return params;
}
	var ngScope;
	var returnvalue="";
	var returnname="";
	var app = angular.module("projectType", []);
	app.controller("projectTypeCtrl", function($scope, $http){
		/* init */
		ngScope = $scope;
		$scope.projectType=[];
		$scope.pop=[];
		
		
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			
			noLogin(location.href);
			return;
		}
		$scope.userData = jQuery.parseJSON(userDataStr);
		var ticket = $.cookie("pmsWeb_ticket");
		
		var params = getUrlParams();
		$scope.required = params.required;
		
		
		
		if(params.name){
			var names=decodeURI(params.name).split(",");
			var codes=decodeURI(params.code).split(",");
			
			var proGroup=[];
			
			if(names.length>0){
				returnvalue=codes[0];
				returnname=names[0];
			}
			
			for(var i=0;i<names.length;i++){
				var pa={};
				pa.name=names[i];
				pa.code=codes[i];
				if(i==0){
					pa.ischeck=true;
				}else{
					pa.ischeck=false;
				}
				
				proGroup.push(pa);
			}
			$scope.pop=proGroup;
			
			//$scope.names=params.name.split(",");
			//$scope.codes=params.code.split(",");
			//alert($scope.codes.length)
		}
		
		$scope.returnVal=function(item){
			//alert(val+","+name+","+inde);
			//$("input:radio[name='proname']").removeAttr('checked');
			
			//alert(item.code)
			
			for(var i=0;i<$scope.pop.length;i++){
			
				if(item.code==$scope.pop[i].code){
					$scope.pop[i].ischeck=true;
				}else{
					$scope.pop[i].ischeck=false;
				}
			}
			
			returnvalue=item.code;
			returnname=item.name;
		};
		
		$scope.btnsure=function(){
			
			
			parent.$dlog.data={returnvalue:returnvalue,returnname:returnname}
			parent.$dlog.close();
		};
		
		
		
		
		
	});
	</script>
</body>
</html>
