<!DOCTYPE html>
<html ng-app="moduleName">
<head>
<meta charset="UTF-8">
<title> 问卷导入 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css"/>
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
<style type="text/css">
	ul,li{margin:0;padding:0;}
	
	.title_save{display:inline-block;width:70px;height:28px;background: url(../../../img/btn_save.png) no-repeat 0 0;line-height:28px;text-align:center;margin-left:10px;margin-top:5px;color:#fff;cursor: pointer;}
	.title_save:hover{background: url(../../../img/btn_save.png) no-repeat 0 -29px;}
	.title_cancel{display:inline-block;width:70px;height:28px;background: url(../../../img/btn_cancel.png) no-repeat 0 0;line-height:28px;text-align:center;margin-left:10px;margin-top:5px;color:#666;cursor: pointer;}
	.title_cancel:hover{background: url(../../../img/btn_cancel.png) no-repeat 0 -29px;}
	
	.bottom_space{float:left;width:100%;height:80px; }
	.setting_box{width:800px;padding:10px 10px;position:relative;}
	.setting_box .questionnire_type{width:100px;}
	.edit_box, .preview_box{width:800px;padding:10px 10px;position:relative;}
	.edit_box:hover, .preview_box:hover{border:solid 1px #ff9900;margin:-1px -1px;}
	.edit_box.selected, .preview_box.selected{background:#FFF8CB;border:solid 1px #ff9900;margin:0 -1px;}
	.preview_box{display:none;}
	.edit_box .operate_layer, .preview_box .operate_layer{position:absolute;top:0;right:0;background:rgba(255,153,0,0.9);color:#fff;}
	.edit_box .operate_layer a, .preview_box .operate_layer a{color:#fff;line-height:24px;padding:0 8px;}
	
	.questionnire{width:820px;float:left;}
	.questionnire_info textarea{height:600px;width:100%;}
</style>
</head>
<body ng-controller="controllerName" storagekey="questionnire.questionnireMgr.questionnireEdit">
<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">文本导入问卷信息</label>
			</div>
			<img src="../../../img/list_Header2-.png">
			&nbsp;&nbsp;
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;预览
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		
		<form id="saveForm" class="required-validate">
		<div class="form_div questionnire" id="lay1">
			<div class="questionnire_info">
				<textarea name="questionnireStr" ng-model="questionnireStr" class="required txt" placeholder="请按格式输入问卷信息"></textarea>
			</div>
		</div>
		<div class="bottom_space"></div>
		</form>
	</div>
</div>
<script type="text/javascript">
var indexCN = ["一","二","三","四","五","六","七","八","九","十","十一","十二","十三","十四","十五","十六","十七","十八","十九","二十"];
simpleController({
	init:function($scope, $http){
		$scope.questionnire={};
		$scope.questionnire.type="1";
		$scope.questionnire.creater=$scope.userData.employeecode;
		
		$scope.questionnireStr="";
		
		var urlParams = getUrlParams();
		questionnire_init();
		
		/* 初始化（查询） */
		$scope.init=function(){
			if(urlParams.questionnireCode && urlParams.questionnireCode.length>0){
				new ShowDlog().prompt({
					icon:"waitting",
					msg:"正在查询...",
					done:function(){},
					t:20*60*1000
				});
				$scope.httpExecute({
					url:"eap/pmsServices/questionnire/get",
					method:"GET",
					data:{questionnireCode:urlParams.questionnireCode},
					success:function(res){
						$dlog.close();
						if(res.statusCode==200){
							$scope.questionnire=res.data;
							lazyCall('t1', function(){
								questionnire_init();
							}, 20);
						}
					},
					error:function(){
						$dlog.close();
						new ShowDlog().prompt({
							msg:"网络异常",
							done:function(){},
							t:1500
						});
					}
				});
			}
		};
		
		/*
		 * 插入问卷对象
		 */
		$scope.insertQuestion=function(type, subType){
			if(!$scope.questionnire.questions){
				$scope.questionnire.questions=[];
			}
			var question=new Object();
			question.type=type;
			question.subType=subType;
			question.idx=$scope.questionnire.questions.length;// TODO
			if("group"==type){
				var cnt = $scope.getCount(type);
				question.num=indexCN[cnt];
			}else if("question"==type){
				var cnt = $scope.getCount(type);
				question.num=cnt+1;
			}
			$scope.questionnire.questions.push(question);
			lazyCall('t1', function(){
				questionnire_init();
			}, 10);
		};
		/*
		 * 根据类型获取问卷对象个数
		 */
		$scope.getCount=function(type){
			var cnt=0;
			for(var key in $scope.questionnire.questions){
				var question = $scope.questionnire.questions[key];
				if(question.type==type){
					cnt++;
				}
			}
			return cnt;
		};
		/*
		 * 插入选项
		 */
		$scope.insertOption=function(question){
			if(!question.options){
				question.options=[];
			}
			switch(question.subType){
				case "radio":
					var option = new Object();
					option.num=String.fromCharCode(question.options.length+65);
					question.options.push(option);
					break;
				case "checkbox":
					var option = new Object();
					option.num=String.fromCharCode(question.options.length+65);
					question.options.push(option);
					break;
				default:
			}
		};
		/*
		 * 删除选项
		 */
		$scope.deleteOption=function(question, idx){
			for(var i=idx; i<question.options.length-1; i++){
				//交换属性
				var temp = question.options[i].num;
				question.options[i].num=question.options[i+1].num;
				question.options[i+1].num=temp;
				//交换对象
				var temp = question.options[i];
				question.options[i]=question.options[i+1];
				question.options[i+1]=temp;
			}
			question.options.pop();
		};
		/*
		 * 题目答案指定后处理
		 */
		$scope.isAnswerCheck=function(question, option){
			var arr=[];
			if(question.answer){
				arr=question.answer.split(",");
			}
			if(option.isAnswer){
				arr.push(option.num);
			}else{
				arrRemove(arr, option.num);
			}
			question.answer=arrToStr(arr);
		};
		/*
		 * 问卷保存
		 */
		 $scope.onSave=function(btnMode){
			var dataStr = JSON.stringify($scope.questionnire);
			$scope.httpExecute({
				method:"post",
				url:"eap/pmsServices/questionnire/save",
				data:{"questionnire":dataStr},
				success:function(result){
					if(result.statusCode==200){
						$scope.questionnire.questionnireCode = result.data;
						new ShowDlog().prompt({
							icon:"success",
							msg:"保存成功！",
							done:function(){
								if("complate"==btnMode){
									hrefTo({url:"questionnireMgr.html"});
								}
							},
							t:1500
						});
					}
				},
				error:function(){
					new ShowDlog().prompt({
						icon:"error",
						msg:"网络异常！",
						done:function(){},
						t:1500
					});
				}
			});
		};
		/* 取消 */
		$scope.onCancel=function(){
			hrefTo({url:"questionnireMgr.html"});
		};
		$scope.init();
	}
});
function dateSelected(hostEl){
	$(hostEl).change();
}
/*
 * 初始化编辑与预览模式切换
 */
function questionnire_init(){
	$(".edit_box").not(":has('.operate_layer')").each(function(){
		var $editBox = $(this);
		var partner = $editBox.attr("partner");
		var begin="<div class=\"operate_layer\">";
		var end="</div>";
		var previewBtn="<a class=\"preview\" href=\"javascript:\">预览</a>";
		var deleteBtn="<a class=\"delete\" href=\"javascript:\">删除</a>";
		var moveBtns = "|<a class=\"move_up\" href=\"javascript:\">上移</a>|"+
			"<a class=\"move_down\" href=\"javascript:\">下移</a>";
		var operateLayer = begin + previewBtn + end;
		if($editBox.hasClass("group") || $editBox.hasClass("question")){
			operateLayer = begin + previewBtn + deleteBtn + moveBtns+ end;
		}
		var $operateLayer=$(operateLayer);
		$operateLayer.find(".preview").click(function(){
			$editBox.hide();
			$(".preview_box[partner="+partner+"]").show();
		});
		$operateLayer.find(".move_up").click(function(){
			callNgFn({
				ctrlEl:$("body")[0],
				ngFn:function(scope){
					var questions = scope.questionnire.questions;
					var idx = parseInt(partner.split("_")[1]);
					if(isNaN(idx) || idx<=0)
						return;
					// 交换属性
					var temp = questions[idx-1].idx;
					questions[idx-1].idx=questions[idx].idx;
					questions[idx].idx=temp;
					if(questions[idx-1].type==questions[idx].type){
						var temp = questions[idx-1].num;
						questions[idx-1].num=questions[idx].num;
						questions[idx].num=temp;
					}
					// 交换对象
					var temp = questions[idx-1];
					questions[idx-1]=questions[idx];
					questions[idx]=temp;
					lazyCall('t1', function(){
						$("*[partner=item_"+(idx-1)+"]").click();
					}, 10);
				}
			});
		});
		$operateLayer.find(".move_down").click(function(){
			callNgFn({
				ctrlEl:$("body")[0],
				ngFn:function(scope){
					var questions = scope.questionnire.questions;
					var idx = parseInt(partner.split("_")[1]);
					if(isNaN(idx) || idx>=questions.length-1)
						return;
					// 交换属性
					var temp = questions[idx].idx;
					questions[idx].idx=questions[idx+1].idx;
					questions[idx+1].idx=temp;
					if(questions[idx].type==questions[idx+1].type){
						var temp = questions[idx].num;
						questions[idx].num=questions[idx+1].num;
						questions[idx+1].num=temp;
					}
					// 交换对象
					var temp = questions[idx];
					questions[idx]=questions[idx+1];
					questions[idx+1]=temp;
					lazyCall('t1', function(){
						$("*[partner=item_"+(idx+1)+"]").click();
					}, 10);
				}
			});
		});
		$operateLayer.find(".delete").click(function(){
			new ShowDlog().confirm({
				msg:"确定删除？",
				ok:function(){
					callNgFn({
						ctrlEl:$("body")[0],
						ngFn:function(scope){
							var questions = scope.questionnire.questions;
							var idx = parseInt(partner.split("_")[1]);
							if(isNaN(idx))
								return;
							for(var i=idx; i<questions.length-1; i++){
								// 交换属性
								var temp = questions[i].idx;
								questions[i].idx=questions[i+1].idx;
								questions[i+1].idx=temp;
								if(questions[i].type==questions[i+1].type){
									var temp = questions[i].num;
									questions[i].num=questions[i+1].num;
									questions[i+1].num=temp;
								}
								// 交换对象
								var temp = questions[i];
								questions[i]=questions[i+1];
								questions[i+1]=temp;
							}
							questions.pop();
						}
					});
				},
				cancel:function(){}
			});
		});
		$operateLayer.hide();
		$editBox.append($operateLayer);
		$editBox.hover(function(){
			$operateLayer.show();
		}, function(){
			$operateLayer.hide();
		});
		$editBox.click(function(){
			$(this).siblings().removeClass("selected");
			$(this).addClass("selected");
			var partner = $(this).attr("partner");
			$(".preview_box[partner="+partner+"]").addClass("selected");
		});
	});
	$(".preview_box").not(":has('.operate_layer')").each(function(){
		var $previewBox = $(this);
		var partner = $previewBox.attr("partner");
		var $operateLayer=$("<div class=\"operate_layer\">"+
		"<a class=\"edit\" href=\"javascript:\">编辑</a>"+
		"</div>");
		$operateLayer.find(".edit").click(function(){
			$previewBox.hide();
			$(".edit_box[partner="+partner+"]").show();
		});
		$operateLayer.hide();
		$previewBox.append($operateLayer);
		$previewBox.hover(function(){
			$operateLayer.show();
		}, function(){
			$operateLayer.hide();
		});
		$previewBox.click(function(){
			$(this).siblings().removeClass("selected");
			$(this).addClass("selected");
			var partner = $(this).attr("partner");
			$(".edit_box[partner="+partner+"]").addClass("selected");
		});
	});
}
</script>
</body>
</html>