<!DOCTYPE HTML>
<html>
<head>
<title>新增人员任命</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>


<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />
<style type="text/css">
	.all{width:100%;height:100%}
	.top{width:98%;height:90px;background:#eee; border:1px #ccc solid;padding-top:10px;margin-left:5px;margin-top:15px;}
	.table1{height:40px;width:40%;font-family: '微软雅黑' ;text-align: center;}
	
	.dropDownList{background-image:url(../../../img/drop_down_list.png);background-repeat: no-repeat;background-position:right;cursor:pointer;
	height:30px;border:solid 0px;margin-left:10px;
	color:#666;margin-top:5px;padding-left:4px;font-size:12px;font-family:"微软雅黑";
	}
	.inp{height:25px;border:solid #ccc 1px;margin-left:10px;
	color:#666;margin-top:5px;padding-left:4px;font-size:12px;font-family:"微软雅黑"}
	.dlog_dialog{height:220px}
	.dialogcss{width:350px;height:150px;}
	.chooseUser{width:1000px;height:400px;}
	
</style>

</head>

<body ng-app="projectType" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">&nbsp;&nbsp;人员任命</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		
	<form id="saveForm" class="required-validate">
		<!-- <div style="height:20px;margin-left:10px;padding-top:20px;">
				任命类型
				<input type="radio" name="moveChar" checked="checked" onclick="hidediv()" value="1" />项目任命
				<input type="radio" name="moveChar" onclick="showdiv()" value="2" />部门任命
		</div> -->
		
		<div style="margin-top:10px;margin-left:10px">
		&nbsp;函&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号 &nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  name="fileNo" style="height:25px;width:250px;border:solid #ccc 1px;font-family:'微软雅黑'" class="required"  />
			
		</div>
		<div style="margin-top:10px;margin-left:10px">
			&nbsp;任命时间 <input type="text" id="starttime" name="appoinmentDate" style="height:25px;width:245px;border:solid #ccc 1px;font-family:'微软雅黑'"  class="required date dateComponent inp" placeholder="请选择任命时间" onclick="new Calendar().show(this)" />
			
		</div>
		<div style="margin-top:10px;margin-left:10px">
		
			&nbsp;生效时间 <input type="text" id="endtime" name="validDate"  style="height:25px;width:245px;border:solid #ccc 1px;font-family:'微软雅黑'" class=" required date dateComponent inp" placeholder="请选择生效时间" onclick="new Calendar().show(this)" />
		</div>
		<div style="margin-top:10px;margin-left:10px">
			<input type="hidden"  name="employeeCode" />
			&nbsp;选择人员 <input type="text"  name="employeeName"  style="height:25px;width:245px;border:solid #ccc 1px;font-family:'微软雅黑'" class=" required inp dropDownList" ng-click="chooseUser()"  placeholder="请选择人员"  />
		</div>
		<div class="top">
			<div style="margin-left:10px;margin-top:5px;margin-bottom:5px;font-size:14px;">选择项目</div>
			<input type="text" id="projectType"  class="dropDownList" placeholder="请项目类型" />
			
			<input type="text" id="projectList"  name="proName" style="width:206px;margin-left:60px;" name="proName" class="dropDownList required" placeholder="请选择项目"/>
			<input type="hidden" id="projectListCode" name="proNo"  />
		
			
		
		</div>
		<div style="text-align: left;margin-top:40px;margin-left:30px;">
			<input type="button" ng-click="saveObj()" value=" 确 认 " style="cursor:pointer; background-color:#3385FF;color:#fff;font-family: '微软雅黑';border:0px; border-radius:10px;padding:5px; width:60px; " />
			&nbsp;&nbsp;<input ng-click="closeFrame()" type="button" value=" 取 消 " style="cursor:pointer;color:#3385FF;font-family: '微软雅黑';border:1px #3385FF solid; border-radius:10px;padding:4px; width:60px;BACKGROUND: none transparent scroll repeat 0% 0%  " />
		</div>
	</form>
</div>
	
</div>


<script type="text/javascript">
	function showdiv(){
		moveChar=2;
		//$("#pro_name").show();
		
	}
	function showdiv2(){
		moveChar=3;
		//$("#pro_name").show();
		
	}
	function hidediv(){
		moveChar=1;
		//$("#pro_name").hide();
	}
	
	var ngScope;
	var cond_categoryCode="";
	var cond_categoryCode1="";
	var proNo="";
	var proName="";
	
	var fromDate="";
	var toDate="";
	var employeeCode="";
	var companyCode="";
	var moveChar=1;
	var oldJob="";
	var newJob="";
	var employeeName="";
	
	var app = angular.module("projectType", []);
	app.controller("userMgrCtrl", function($scope, $http){
		/* init */
		ngScope = $scope;
		
		$scope.dataObj={};
		
		var mydate = new Date();
		$("#starttime").val(mydate.getFullYear()+"-"+(mydate.getMonth()+1)+"-"+mydate.getDate());
		$("#endtime").val(mydate.getFullYear()+"-"+(mydate.getMonth()+1)+"-"+mydate.getDate());
		
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			
			noLogin(location.href);
			return;
		}
		$scope.userData = jQuery.parseJSON(userDataStr);
		var ticket = $.cookie("pmsWeb_ticket");
		companyCode=$scope.userData.companyCode;
		
		
		
		
		/* 表单验证 */
	validator = $("#saveForm").validate({
		onsubmit: false,
		focusInvalid: false,
		focusCleanup: true,
		errorElement: "span",
		ignore:".ignore",
		invalidHandler: function(form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				
			} 
		}
	});
		
		/* 视图渲染 */
	$(".tabs>a").each(function(){
		var layId = $(this).attr("href");
		var idx = $(".tabs>a").index($(this));
		if(idx!=0){
			$(layId).hide();
			$(layId).attr("data-show", "0");
		}else{
			$(layId).attr("data-show", "1");
		}
		$(this).click(function(){
			$(".tabs>.selected").removeClass("selected");
			$(this).addClass("selected");
			var layId = $(this).attr("href");
			$("div[data-show=1]").hide();
			$("div[data-show=1]").attr("data-show", "0");
			$(layId).show();
			$(layId).attr("data-show", "1");
			
		});
	});
		/* 项目类型 */
	new DropDownList().init({
		renderTo:"#projectType",
		url:"../../component/projectType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#projectType").val(result.categoryName);
			cond_categoryCode = result.categoryCode;
			/* 联动 */
			projectList.setConfig("url", "../../component/projectList.html?categoryCode="+cond_categoryCode+"&ticket="+ticket);
		}
	});
	
	
	/* 项目列表 */
	var projectList=new DropDownList();
	projectList.init({
		renderTo:"#projectList",
		url:"../../component/projectList.html?categoryCode="+cond_categoryCode+"&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#projectList").val(result.proName);
			//proName=result.proNo;
			proNo=result.proNo;
			
			$("input[name=proNo]").val(proNo);
			proName=result.proName;
// 			
		}
	});
	
	

	
	/* 指定人员 */
	$scope.chooseUser=function(){//alert(index);
		new ShowDlog().showFrame(
			"../../component/chooseUser.html",
			"选择人员",
			function(selectedItems){
				
				
				//$("#employeeode_"+index).val(selectedItems[0].employeecode);
				//$("#employeeName_"+index).val(selectedItems[0].employeename);
				
				
				$("input[name=employeeName]").val(selectedItems[0].employeename);
				$("input[name=employeeCode]").val(selectedItems[0].employeecode);
				employeeName=selectedItems[0].employeename;
				
				
			},
			"chooseUser");
	};

	
	
	
	
	$scope.saveObj=function(){
		var entime=$("#endtime").val();
		var formData = $("#saveForm").serialize();
		var fileNo=$("input[name=fileNo]").val();
		
		if($("#saveForm").valid()){
		
		
	
				
						
							new ShowDlog().confirm({
							msg:"<span style='color:red'>"+fileNo+"</span><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认将"+employeeName+"任命为"+proName+"项目负责人，生效日期为"+entime+"吗？",
							ok:function(){
									$.ajax({
										url:serviceBasePath+"eap/pmsServices/appointment/add?companyCode="+companyCode+"&moveChar="+moveChar+"&moveType=1",
										cache:false,
										method:"POST",
										data:formData,
										success:function(res){
											if(res.statusCode==200){
												new ShowDlog().prompt({msg:"添加成功！",
													done:function(){
														location.href="appointmentMgr.html";
														//parent.$dlog.close();
													},
													t:1500
												});
											}else{
												//
											}
										},
										error:function(){
											
										}
									});
							},
							cancel:function(){}
						});
					
		}
	};
	$scope.closeFrame=function(){
		
		location.href="appointmentMgr.html";
	};
		
	});
	</script>
</body>
</html>
