<!DOCTYPE HTML>
<html>
<head>
<title> 首页 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../js/util.js"></script>
<script type="text/javascript" src="../../js/Hz2Pinyin.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<style type="text/css">
body{background:#fff;margin:0;padding:0;}
.projectType{margin:0px;padding:0;}
.projectType>li{margin:0px;}
.projectType>li>a{display:block;padding:4px;line-height:26px;font-size:12px;font-family:微软雅黑;color:#666;text-decoration:none;}
.projectType>li>a:hover{background:#3470CC;color:#fff;}
.projectType>a{display:block;text-align:right;font-size:13px;color:#888;padding:2px;}
</style>
</head>

<body ng-app="projectType" ng-controller="projectTypeCtrl">
	<ul class="projectType">
		<li ng-repeat="item in dataList">
			
			<a href="javascript:">
				<input type="checkbox" name="employee" ng-click="onChoose(item)" value="{{item.employeeCode}}" dataname="{{item.employeeName}}"/>{{item.employeeName}}
			</a>
		</li>
	</ul>
	<script type="text/javascript">
	var ngScope;
	var app = angular.module("projectType", []);
	app.controller("projectTypeCtrl", function($scope, $http){
		/* init */
		ngScope = $scope;
		$scope.dataList=[];
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			
			noLogin(location.href);
			return;
		}
		$scope.userData = jQuery.parseJSON(userDataStr);
		var ticket = $.cookie("pmsWeb_ticket");
		
		var params = getUrlParams();
		$scope.required = params.required;
		var proNo = params.proNo
// 		$scope.dataList = [{employeecode:"100",employeename:"闫瑶"},
// 		                      {employeecode:"101",employeename:"陈敏"},
// 		                      {employeecode:"102",employeename:"王金鹏"},
// 		                      {employeecode:"103",employeename:"严妍"},
// 		                      {employeecode:"104",employeename:"唐瑶"},
// 		                      {employeecode:"105",employeename:"朱延兵"}]; 
		
		$http.get(serviceBasePath+"eap/pmsServices/pm/baseMgr/pmBase/proMember?companyCode="+$scope.userData.companyCode+"&proNo="+proNo+"&workStatue=1&ticket="+ticket).success(function(response){
			if(response.statusCode==200){
				if(params.keywords){
					$scope.dataList = $().filterByKeywords(response.list, "employeeName", params.keywords);
				}else{
					$scope.dataList = response.list;
				}
			}else if(response.statusCode==401){
				window.noLogin(location.href);
			}
		});
		
		
		var selectedUsers=[];
		/* 选择 */
		$scope.onChoose=function(obj){
			selectedUsers=[];
			$("input[name=employee]").each(function(){
				if($(this)[0].checked){
					var code = $(this).val();
					var name = $(this).attr("dataname");
					var item={};
					item.employeeCode=code;
					item.employeeName=name;
					selectedUsers.push(item);
				}
			});
			window.frameElement.callback(selectedUsers);
		};
		
	});
	</script>
</body>
</html>
