<!DOCTYPE HTML>
<html>
<head>
<title> 项目资产清单 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../js/PageBar.js"></script>
<script type="text/javascript" src="../../js/Calendar.js"></script>
<script type="text/javascript" src="../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/util.js"></script>
<script type="text/javascript" src="../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../css/list.css" />


<style type="text/css">
	.title_left>input{margin-left:6px;}
	.btn{display:inline-block;padding:1px 4px;border:solid 1px #f4f4f4; border-radius:4px;}
	.btn.toactive{color:#fff;background:green;}
	.btn.toclose{color:#fff;background:#ED7798;}
	.dialog-scrap{width:480px;height:320px;}
	
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<input type="text" style="width:110px;" id="assetClass" class="dropDownList" placeholder="资产分类"/>
				<input type="text" id="assetType" class="dropDownList" placeholder="资产类型"/>
				<input type="text" style="width:80px;" name="searchName" placeholder="名称搜索"/>
				<input type="text" id="fromDate" style="width:90px;" class="dateComponent" onclick="new Calendar().show(this)" placeholder="采购日期"/>
				<input type="text" id="endDate" style="width:90px;" placeholder="采购价格"/>
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
			</div>
			<img src="../../img/list_Header2-.png">
			<div class="title_add" ng-click="ok()">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确定
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th><input  type="checkbox"  name="checkAll" value="0" ng-click="checkAll()"  />全选</th>
				
				
				<th><div align="center">序号</div></th>
				<th><div align="center">资产名称</div></th>
				<th><div align="center">资产编号</div></th>
				<!-- <th><div align="center">资产分类</div></th> -->
				<th><div align="center">资产类型</div></th>
				<th><div align="center">含税价格</div></th>
				<th><div align="center">不含税价格</div></th>
				<th><div align="center">品牌</div></th>
				<th><div align="center" style="word-break:break-all;">型号</div></th>
				<th width="25%"><div align="center" style="word-break:break-all;">内容</div></th>
				<th><div align="center" style="word-break:break-all;">操作</div></th>
			  </tr>
			  <tr class="tr2" ng-repeat="item in dataList">
			  	<td align="center">
			  		<input type="checkbox" name="chkItem" value="{{item.assetCode}}" ng-click="chooseItem(item)" prop="{{item.assetName}}" />
			  	</td>
                <td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.assetName}}</div></td>
				<td><div align="center">{{item.assetCode}}</div></td>
				<!-- <td><div align="center">{{item.assetClassName}}</div></td> -->
				<td><div align="center">{{item.assetTypeName}}</div></td>
				<td><div align="center">{{item.price1}}</div></td>
				<td><div align="center">{{item.price2}}</div></td>
				<td><div align="center">{{item.brand}}</div></td>
				<td><div align="center">{{item.modelNo}}</div></td>
				<td><div align="center">{{item.forms}}</div></td>
				<td><div align="center"><img ng-click="doUpdate(item)" class="operationImg" src="../../img/list_item_modify-icon.png" title="修改">
				</div></td>
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">

var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* 定义 */
	ngScope = $scope;
	$scope.dataList=[];
	$scope.currentPage=1;
	var cond_assetClassCode="";
	var cond_assetTypeCode="";
	var cond_searchName="";
	var current_status="1,8";
	var cond_status="";
	var cond_fromDate="";
	var cond_endDate="";
	var selectedItems=[];
	var currentPage=1;
	/* 获取用户数据 */
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	/* 参数处理 */
	var params = getUrlParams();
//// 	cond_assetClassCode = params.assetClassCode;
//// 	cond_proNo = params.proNo;
//// 	$scope.assetClassName = params.assetClassName;
	
	/* 视图初始化 */
	/* 资产分类*/
	new DropDownList().init({
		renderTo:"#assetClass",
		url:"../component/assetType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#assetClass").val(result.assetClassName);
			cond_assetClassCode = result.assetClassCode;
			$scope.loadData(cond_assetClassCode,cond_assetTypeCode,current_status,1,cond_searchName,cond_fromDate,cond_endDate);
			//资产类型
			assetTypeList.setConfig("url", "../component/assetLeixing.html?ticket="+ticket+"&assetClassCode="+cond_assetClassCode);
			
		}
	});
	


	
	//资产类型
	var assetTypeList = new DropDownList();
	assetTypeList.init({
		renderTo:"#assetType",
		url:"../component/assetLeixing.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#assetType").val(result.assetTypeName);
			cond_assetTypeCode = result.assetTypeCode;
			$scope.loadData(cond_assetClassCode,cond_assetTypeCode,current_status, 1,cond_searchName,cond_fromDate,cond_endDate);
		}
	});
	
	
	/* 加载数据 */
	$scope.loadData=function(assetClassCode,assetTypeCode,status,currentPage,searchName,fromDate,endDate){
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/assetMg/asset/list?assetTypeCode="
			+assetTypeCode+"&assetClassCode="+assetClassCode+"&status="+status+
			"&currentPage="+currentPage+"&searchName="+searchName+"&fromDate="+fromDate+"&endDate="+endDate+"&ticket="+ticket).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.noLogin(location.href);
				return;
			}
			$scope.dataList = response.list;
			$scope.createPageBar(response.totalPage, response.currentPage,response.totalRecord);
		});
	};
	
	
	$scope.doUpdate=function(item){
		
		new ShowDlog().showFrame("updateAsset.html?forms="+item.forms+"&assetCode="+item.assetCode, "修改内容", function(){
						// 
						
			//$scope.loadData(cond_assetClassCode,cond_assetTypeCode,1,1,cond_searchName,cond_fromDate,cond_endDate);
			$scope.loadData(cond_assetClassCode,cond_assetTypeCode,current_status,currentPage,cond_searchName,cond_fromDate,cond_endDate);
		},"dialog-scrap");
	};

	
	/* 选择所有 */

	
	/* 选择 */
	$scope.chooseItem=function(item){
		var chk=$("input[type=checkbox][value="+item.assetCode+"]")[0];
		if(chk.checked){
			selectedItems.push(item);
		}else{
			arrRemove(selectedItems, item);
		}
	};
	
	
	//全选
	$scope.checkAll=function(){
		
		var isChecked=$("input[name=checkAll]").is(':checked');
			 
		if(isChecked){
			
			$(":checkbox").prop('checked',true);
				
		}else{

			$(":checkbox").prop('checked',false);
		}
		
		
		$('input[name="chkItem"]:checked').each(function(){ 
			var item ={};
			item.assetCode=$(this).val();
			item.assetName=$(this).attr("prop");
			selectedItems.push(item);
		});
		
		
	};
	
	
	/* 确认选择 */
	$scope.ok=function(){
		parent.$dlog.data=selectedItems;
		parent.$dlog.close();
	};
	
	/* 分页 */
	$scope.createPageBar=function(totalPage, curPage,totalRecord){
		new PageBar().init({
			renderTo:"#page_bar",
			totalPage:totalPage,
			totalRecord:totalRecord,
			curPage:curPage,
			prevPageText:"上一页",
			nextPageText:"下一页",
			showPageInfo:true,
			onPage:function(pageNum){
				currentPage=pageNum;
				$scope.loadData(cond_assetClassCode,cond_assetTypeCode,current_status,pageNum,cond_searchName,cond_fromDate,cond_endDate);
			}
		});
	};
	
	

	
	/* 初始查询 */
	$scope.loadData(cond_assetClassCode,cond_assetTypeCode,current_status,1,"",cond_fromDate,cond_endDate);
	$scope.doQuery=function(){
		var searchName = $("input[name=searchName]").val();
		cond_searchName=searchName;
		var fromDate = $("#fromDate").val();
		cond_fromDate=fromDate;
		var endDate = $("#endDate").val();
		cond_endDate=endDate;
		//alert(cond_fromDate+","+cond_endDate);
		$scope.loadData(cond_assetClassCode,cond_assetTypeCode,current_status,1,cond_searchName,cond_fromDate,cond_endDate);
	};
});
window.onkeyup=function(e){
	if(e.keyCode==13){
		ngScope.doQuery();
	}
};
</script>
</body>
</html>
