<!DOCTYPE HTML>
<html>
<head>
<title> 首页 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/util.js"></script>
<link rel="stylesheet" href="../../css/zTreeStyle/zTreeStyle.css" type="text/css"/>
<style type="text/css">
body{padding:0;margin:0;background:#fff;}
.all{font-size:12px;font-family:微软雅黑;text-decoration:none;color:#666;padding-left:12px;}
.all a{text-decoration:none;color:#666;}
.all a:hover{text-decoration:none;color:#666;}
.ztree span{font-size:12px;font-family:微软雅黑;}
</style>
</head>

<body ng-app="orgTree" ng-controller="orgTreeCtrl">
	<div class="all" ng-if="required!='true'">
		<a href="javascript:" ng-click="onChooseBlank()">(全部)</a>
	</div>
	<div id="treeDemo" class="ztree">
	</div>
	<script type="text/javascript">

	var parentCatalogCode="";
	var setting = {
			data: {
				simpleData: {
					enable: true
				}
			},
			callback:{
				onClick:function(){
					var selectedNodes = orgTree.getSelectedNodes();
					//alert(selectedNodes)
					var name=selectedNodes[0].name;
					feeParentCode=selectedNodes[0].id;
					window.frameElement.callback(selectedNodes[0]);
					window.frameElement.close();
					
				}
			}

		};
	var orgZTree;
	var ngScope;
	var app = angular.module("orgTree", []);
	
	app.controller("orgTreeCtrl", function($scope, $http){
		/* init */
		ngScope = $scope;
		$scope.treeNodes={};
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			
			noLogin(location.href);
			return;
		}
		
		$scope.userData = jQuery.parseJSON(userDataStr);
		var ticket = $.cookie("pmsWeb_ticket");
		
		var params = getUrlParams();
		$scope.required = params.required;
		
		/* 加载数据 */
		$.ajax({
			url:serviceBasePath+"eap/pmsServices/fm/expense/feeType/getTreeList",
			method:"GET",
			cache:false,
			data:{"companyCode":$scope.userData.companyCode, "ticket":ticket},
			success:function(res){
				if(res.statusCode==200){
					zNodes = res.list;
					orgTree=$.fn.zTree.init($("#treeDemo"), setting, zNodes);
				}else if(res.statusCode==401){
					window.noLogin(location.href);
				}else{
					alert("服务器访问出错！");
				}
			},
			error:function(){
				alert("服务器访问失败！");
			}
		});
		
		/* 选择空白 */
		$scope.onChooseBlank=function(){
			var obj=new Object();
			obj.parentCatalogCode="";
			obj.name="";
			window.frameElement.callback(obj);
			window.frameElement.close();
		};
		
	});
	</script>
</body>
</html>
