<!DOCTYPE HTML>
<html>
<head>
<title>图片管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script type="text/javascript"
	src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</head>
<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../js/PageBar.js"></script>
<script type="text/javascript" src="../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../js/Calendar.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/util.js"></script>

<script type="text/javascript" src="../../js/eapJs/core/eap.core.js"></script>
<script type="text/javascript" src="../../js/eapJs/plugins/eap.tip.js"></script>
<script type="text/javascript"
	src="../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript"
	src="../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../css/validate.css" />
<link rel="stylesheet" type="text/css" href="../../css/edit.css" />

<script type="text/javascript" src="../../js/jquery.form.js"></script>


<script type="text/javascript" src="../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css"
	href="../../js/showDlog/showDlog-blue.css" />





<script src="jquery-photo-gallery/jquery.photo.gallery.js"></script>

<style type="text/css">
.imgitem {
	height: 250px;
	width: 19%;
	border: 1px #ccc solid;
	float: left;
	margin-right: 1px;
	margin-left: 5px;
	margin-top: 5px;
}

.imgs {
	width: 184px;
	height: 250px;
	z-index: -1
}

.eidtdiv {
	margin-left: 105px;
	text-align: center;
	padding-top: 8px;
	position: absolute;
	font-family: '微软雅黑';
	font-size: 12px;
	height: 27px;
	width: 80px;
	filter: alpha(Opacity = 80);
	-moz-opacity: 0.5;
	opacity: 0.5;
	
	background-color: black;
}
.titlemess{
	width:184px;
	height:50px;
	background:red;
	position: absolute;
	margin-top:-54px;
	filter: alpha(Opacity = 90);
	-moz-opacity: 0.9;
	opacity: 0.9;
	background-color: #E6E6E6;
	text-align: center;
	color:#999;
	font-size:18px;
	
}
.eidtdiv a {
	color: #fff;
	cursor: pointer;
}

.eidtdiv a:HOVER {
	color: #3385FF;
}

.imgitem:HOVER {
	border: 1px red solid;
	cursor: pointer;
}

#bg {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 95;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity = 50);
	text-align: center
}

#show {
	display: none;
	position: absolute;
	top: 28%;
	left: 28%;
	bottom: 20%;
	right: 28%;
	border: 2px solid #E8E9F7;
	background-color: white;
	z-index: 96;
	overflow: hidden;
	text-align: center;
}

#show img {
	height: 100%;
	width: 100%
}

#btnclose {
	position: absolute;
	z-index: 90;
	right: 0px;
	top: 0px
}
.tabs{height:40px;width:100%;border-bottom: 1px #bbd6ec solid}
.sel{float:left;width:80px;height:25px;text-align: center;margin-left:5px;padding-top:5px;cursor: pointer;font-size:14px;margin-top:10px; color: #0078d7}
.tab1{float:left;width:80px;height:25px;text-align: center;margin-left:5px;padding-top:5px;cursor: pointer;font-size:14px;margin-top:10px;}
.fl{float:left;height:25px;padding-top:15px;}
.sel:HOVER{color:#0078d7}
.tab1:HOVER{color:#0078d7}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">
<form id="saveForm" class="required-validate" style="height:300px;">

	<div class="tabs">
		 <div class="sel tp" onclick="showdiv1(this)">
		 	  勘测({{imgList.length}})
		 </div>
		 <div class="fl">|</div>
		 <div class="tab1 tp" onclick="showdiv2(this)">
		 	改造({{imgList1.length}})
		 </div>
		<div class="fl">|</div>
		 <div class="tab1 tp" onclick="showdiv3(this)">
		 	未分类({{imgList2.length}})
		 </div>
	</div>
	<div class="list" style="margin-top:50px;">
	    <div id="lay1">
			<div class="imgitem gallerys" ng-repeat="item in imgList">
				<div class="eidtdiv">
					<a ng-click="showdiv($index,item.picTitle)">放大</a> <span style="color: #fff">|</span>
					<a ng-click="deleteItem(item.picVisitid)">删除</a>
				</div>
				<img src="{{item.url}}" id="pic_{{$index}}" onerror="javascript:this.src='../../img/defaultImg02.png';" class="imgs gallery-pic"
					ondblclick="$.openPhotoGallery(this)" />
				<div class="titlemess">
					<p>{{item.sysCreateTime}}</p>
				</div>
				
			</div>
		</div>
		
		<div id="lay2" style="display: none">
			<div class="imgitem gallerys" ng-repeat="item in imgList1">
				<div class="eidtdiv">
					<a ng-click="showdiv($index,item.picTitle)">放大</a> <span style="color: #fff">|</span>
					<a ng-click="deleteItem(item.picVisitid)">删除</a>
				</div>
				<img src="{{item.url}}" id="pic_{{$index}}" onerror="javascript:this.src='../../img/defaultImg02.png';" class="imgs gallery-pic"
					ondblclick="$.openPhotoGallery(this)" />
				<div class="titlemess">
					<p>{{item.sysCreateTime}}</p>
				</div>
				
			</div>
		</div>
		
		<div id="lay3" style="display: none">
			<div class="imgitem gallerys" ng-repeat="item in imgList2">
				<div class="eidtdiv">
					<a ng-click="showdiv($index,item.picTitle)">放大</a> <span style="color: #fff">|</span>
					<a ng-click="deleteItem(item.picVisitid)">删除</a>
				</div>
				<img src="{{item.url}}" id="pic_{{$index}}" onerror="javascript:this.src='../../img/defaultImg02.png';" class="imgs gallery-pic"
					ondblclick="$.openPhotoGallery(this)" />
				<div class="titlemess">
					<p>{{item.sysCreateTime}}</p>
				</div>
				
			</div>
		</div>
		
		<div class="imgitem" ng-click="addImg()">
			<img src="../../img/adding.png" style="width: 100%; height: 100%" />
		</div>

		<div id="bg"></div>
		<div id="show">


			<input id="btnclose" type="image" src="../../img/closing.png"
				style="border: 0px;" title="关闭" alt="关闭" onclick="hidediv();" />

			<div
				style="width: 350px; text-align: left; margin-left: 30px; line-height: 35px; margin-top: 20px;">
				
				<p>
					选择类型&nbsp;&nbsp;<input type="text" name="PIC_CLASSIFY_NAME" class="dropDownList" style="width: 230px; height: 26px;"  placeholder="选择类型"  />
					<input type="hidden" name="PIC_CLASSIFY_CODE"  />
				</p>
				<p>
					文件名称&nbsp;&nbsp;<input type="text" name="picTitle"
						style="width: 230px; height: 25px;" />
						
						<input type="hidden" name="mctCode" />
						<input type="hidden" name="companyCode" />
						<input type="hidden" name="proNo" />
						<input type="hidden" name="deviceObjCode" />
				</p>
				<p>
					选择文件&nbsp;&nbsp;<input type="file" name="projDoc" onchange="loadfileName(this)" />
				</p>
				<div class="form_bottom"
					style="padding-left: 65px; padding-top: 40px">
					<a href="javascript:" ng-click="onSave()" class="title_save">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认 </a> <a href="javascript:"
						onclick="hidediv()" class="title_cancel">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消 </a>
				</div>
			</div>
		</div>

	</div>
</form>
	<script type="text/javascript">  
      
    </script>
	<script type="text/javascript">
	function showdiv1(obj){
		
		$(".tp").removeClass("sel");
		$(".tp").addClass("tab1");
		
		$(obj).addClass("sel");
		$(obj).removeClass("tab1");
		
		
		
		$("#lay1").show();
		$("#lay2").hide();
		$("#lay3").hide();	
	}
	function showdiv2(obj){
		$(".tp").addClass("tab1");
		$(".tp").removeClass("sel");
		
		
		$(obj).addClass("sel");
		$(obj).removeClass("tab1");
		$("#lay1").hide();
		$("#lay2").show();
		$("#lay3").hide();	
	}
	
	function showdiv3(obj){
		
		$(".tp").removeClass("sel");
		$(".tp").addClass("tab1");
		
		$(obj).addClass("sel");
		$(obj).removeClass("tab1");
		
		$("#lay1").hide();
		$("#lay2").hide();
		$("#lay3").show();	
	}
	
	
function loadfileName(obj){
	var filePath=$(obj).val();
	
	
	var fileName=filePath.split("\\");
	
	$("input[name=picTitle]").val(fileName[fileName.length-1].substring(0,fileName[fileName.length-1].length-4));
	
}


   function hidediv() {         
		document.getElementById("bg").style.display = 'none';       
		 document.getElementById("show").style.display = 'none';
    } 
var validator;
var ngScope;
var userData;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.imgList=[];
	$scope.imgList1=[];
	$scope.imgList2=[];
	$scope.picClassList=[];
	var mydate = new Date();
	//alert(mydate.getFullYear()+"-"+(mydate.getMonth()+1)+"-"+mydate.getDate());
	
	$("input[name=matterTime]").val(mydate.getFullYear()+"-"+(mydate.getMonth()+1)+"-"+mydate.getDate());
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return; 
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	
	/* 表单验证 */
	validator = $("#saveForm").validate({
		onsubmit: false,
		focusInvalid: false,
		focusCleanup: true,
		errorElement: "span",
		ignore:".ignore",
		invalidHandler: function(form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				
			} 
		}
	});
	
	//$("input[name=companyCode]").val(userData.companyCode);
	var params = getUrlParams();
	
	var mctCode=params.mctCode;
	var companyCode=params.companyCode;
	var proNo=params.proNo;
	var deviceObjCode=params.deviceObjCode;

	var deviceTypeCode=params.deviceTypeCode;
	
	

	$("input[name=mctCode]").val(mctCode);
	$("input[name=companyCode]").val(companyCode);
	$("input[name=proNo]").val(proNo);
	$("input[name=deviceObjCode]").val(deviceObjCode);

	$scope.loadProject=function(mctCode,companyCode,proNo,deviceObjCode){
		
		$http.get(serviceBasePath+"eap/pmsServices/om/deviceMgr/images/getList?mctCode="
			+mctCode+"&deviceObjCode="+deviceObjCode+"&proNo="+proNo+"&companyCode="+companyCode).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../../login.html";
				return;
			}
			
			$scope.imgList=[];
			$scope.imgList1=[];
			$scope.imgList2=[];
			for(var i=0;i<response.list.length;i++){
				var st=filePath+"?fileCode="+response.list[i].picVisitid+"&attachment=0"	
			    response.list[i].url=st;
				
				if(response.list[i].pIC_CLASSIFY_NAME=="勘测"){
					$scope.imgList.push(response.list[i]);
				}else if(response.list[i].pIC_CLASSIFY_NAME=="改造"){
					$scope.imgList1.push(response.list[i]);
				}else{
					$scope.imgList2.push(response.list[i]);
				}
			} 
			//$scope.imgList = response.list;
		});
		
	};
	
	
	$scope.loadPicClass=function(){
		$http.get(serviceBasePath+"eap/pmsServices/om/deviceMgr/device/getPicClass?deviceTypeCode="+deviceTypeCode).success(function(response){
				if(response.statusCode==401){
					alert("用户凭据过期！请重新登录！");
					window.top.location.href="../../../login.html";
					return;
				}
				
				response.list.push({className:"未分类",classCode:""});
				$scope.picClassList = response.list;
				
				new DropDownList().init({
					renderTo:"input[name=PIC_CLASSIFY_NAME]",
					mode:"list",
					data:$scope.picClassList,
					textField:"className",
					onSelected:function(item){
						$scope.accountType=item.id;
						$("input[name=PIC_CLASSIFY_NAME]").val(item.className);
						$("input[name=PIC_CLASSIFY_CODE]").val(item.classCode);
					}
				});
		});
		
	};
	
	
	
	/* 初始加载 */
	$scope.loadPicClass();
	
	$scope.loadProject(mctCode,companyCode,proNo,deviceObjCode);
	
	
	

	
	//$scope.imgList=[{url:'../../img/testimg/1.png'},{url:'../../img/testimg/2.png'},{url:'../../img/testimg/3.png'},{url:'../../img/testimg/1.png'},{url:'../../img/testimg/2.png'},{url:'../../img/testimg/3.png'}];
	
	
	$scope.addImg=function(){
		document.getElementById("bg").style.display = "block";           
		document.getElementById("show").style.display = "block"; 
		
	};
	
	/* 保存 */
	$scope.onSave = function(){
		
		var formData = $("#saveForm").serialize();
				if($("#saveForm").valid()){
					      
					var dialog=new ShowDlog();
					
					dialog.prompt({
						icon:"waitting",
						msg:"文件正在上传...",
						done:function(){},
						t:20000
					});

					var options = {
							success: function(responseText, statusText) {
								dialog.close();
								if(responseText.statusCode=="200"){
									//var dialog1=;
									new ShowDlog().prompt({
										icon:"success",
										msg:"图片上传成功！",
										done:function(){
											hidediv();
											$scope.loadProject(mctCode,companyCode,proNo,deviceObjCode);
											//$scope.loadProject(addr,estaeName,proNo);
										},
										t:1500
									});
								}else{
									new ShowDlog().prompt({
										icon:"error",
										msg:"图片上传失败！",
										done:function(){
											//location.href="projectFile.html?docClass="+docClass;
										},
										t:1500
									});
								}
							},      //提交后的回调函数   
							type: "post",               //默认是form的method（get or post），如果申明，则会覆盖  
							dataType: "json",           //html(默认), xml, script, json...接受服务端返回的类型  
							clearForm: false,          //成功提交后，清除所有表单元素的值
							url:serviceBasePath+"eap/pmsServices/om/deviceMgr/images/add",
							error: function(xhr, status, error) {
								console.log(error);
							}
						};
						$("#saveForm").ajaxSubmit(options);
				}
	};
	
	
	
	
	
	$scope.showdiv=function(index,title){
		//alert(title);
		
		var img1=$("#pic_"+index);
		//alert(img1)
		/* var img1 = $(obj).parent().next("img");//.dblclick();
		//alert(img1)
		*/
		
		
		$.openPhotoGallery(img1,title); 
		
		/* $("#showimg").attr("src",$scope.imgList[id].url);
		
		
		document.getElementById("bg").style.display = "block";           
		document.getElementById("show").style.display = "block"; */
	
	};
	
	$scope.deleteItem=function(picVisitid){
		//$scope.imgList.remove(1)
		// 通过索引删除数组元素
		   
		   
			/* for(var i=id; i<$scope.imgList.length-1; i++){
				var temp = $scope.imgList[i];
				$scope.imgList[i]=$scope.imgList[i+1];
				$scope.imgList[i+1]=temp;
			}
		
		
		    $scope.imgList.pop(); */
		   
		 new ShowDlog().confirm({
			msg:"确定删除该图片吗？",
			ok:function(){
				
				
				var dialog=new ShowDlog();
				dialog.prompt({
					icon:"waitting",
					msg:"文件正在删除...",
					done:function(){},
					t:20000
				});
				
				
				
				
				
				
				$http.post(serviceBasePath+"eap/pmsServices/om/deviceMgr/images/delete?picVisitid="+picVisitid).success(function(response){
					dialog.close();
					
					
					if(response.statusCode=="200"){
						//var dialog1=;
						new ShowDlog().prompt({
							icon:"success",
							msg:"文件删除成功！",
							done:function(){
								$scope.loadProject(mctCode,companyCode,proNo,deviceObjCode);
							},
							t:1500
						});
					}else{
						new ShowDlog().prompt({
							icon:"error",
							msg:"文件删除失败！",
							done:function(){
								//location.href="projectFile.html?docClass="+docClass;
							},
							t:1500
						});
					}
					
					
				});
			},
			cancel:function(){}
		});
		
	};
	
	/* 取消 */
	$scope.onCancel = function(){
		location.href="materialTypeMgr.html";
	};
	
});
</script>
</body>
</html>
