<!DOCTYPE HTML>
<html>
<head>
<title> 首页 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../js/util.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<style type="text/css">
body{background:#fff;margin:0;padding:0;}
.projectType{margin:0px;padding:0;}
.projectType>li{margin:0px;}
.projectType>li>a{display:block;padding:4px;line-height:26px;font-size:12px;font-family:微软雅黑;color:#666;text-decoration:none;}
.projectType>li>a:hover{background:#3470CC;color:#fff;}
.projectType>a{display:block;text-align:right;font-size:13px;color:#888;padding:2px;}
</style>
</head>

<body ng-app="projectType" ng-controller="projectTypeCtrl">
	<input type="button" value="导入量为石图片" ng-click="impothers(7)" />
	
	<input type="button" value="富阳" ng-click="impothers(1)" />
	<input type="button" value="松林" ng-click="impothers(2)" />
	<input type="button" value="华强" ng-click="impothers(3)" />
	<input type="button" value="栖霞" ng-click="impothers(4)" />
	<input type="button" value="业主" ng-click="impothers(5)" />
	<input type="button" value="汉高" ng-click="impothers(6)" />
	<input type="button" value="表箱堪称" ng-click="impothers(8)" />
	<input type="button" value="更新pics" ng-click="updatePics()" />
	<script type="text/javascript">
	var ngScope;
	var app = angular.module("projectType", []);
	app.controller("projectTypeCtrl", function($scope, $http){
		/* init */
		ngScope = $scope;
		$scope.dataList=[];
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			
			noLogin(location.href);
			return;
		}
		$scope.userData = jQuery.parseJSON(userDataStr);
		var ticket = $.cookie("pmsWeb_ticket");
		
		var params = getUrlParams();
		$scope.required = params.required;
		//var docClass=params.docClass;
		
		$scope.implws=function(){
			
			/* 加载数据 */
			$http.get(serviceBasePath+"eap/pmsServices/om/deviceMgr/images/importLwsImg?companyCode="+$scope.userData.companyCode).success(function(response){
				if(response.statusCode==200){
					$scope.dataList = response.list;
					
				}else if(response.statusCode==401){
					window.parent.location.href="../login.html";
				}else{
					alert("服务器访问出错！");
				}
			});
			
		
			
		};
		$scope.impothers=function(flag){
			
			alert(flag)
			/* 加载数据 */
			$http.get(serviceBasePath+"eap/pmsServices/om/deviceMgr/images/importOthers?flag="+flag).success(function(response){
				if(response.statusCode==200){
					//$scope.dataList = response.list;
					
					alert("导入成功！")
				}else if(response.statusCode==401){
					window.parent.location.href="../login.html";
				}else{
					alert("导入成功！");
				}
			});
			
		
			
		};
		
		
	   $scope.updatePics=function(){
			
			
			/* 加载数据 */
			$http.get(serviceBasePath+"eap/pmsServices/om/deviceMgr/images/updatePics").success(function(response){
				if(response.statusCode==200){
					//$scope.dataList = response.list;
					
					alert("成功！")
				}else if(response.statusCode==401){
					window.parent.location.href="../login.html";
				}else{
					alert("成功！");
				}
			});
			
		
			
		};
		
		
		
		

		
		
		/* 选择 */
		$scope.onChoose=function(obj){
			window.frameElement.callback(obj);
			window.frameElement.close();
		};
		/* 选择空白 */
		$scope.onChooseBlank=function(){
			var obj=new Object();
			obj.proNo="";
			obj.proName="";
			window.frameElement.callback(obj);
			window.frameElement.close();
		};
		
	});
	</script>
</body>
</html>
