<!DOCTYPE HTML>
<html>
<head>
<title> 项目管理——日常管理——资产管理——资产申请 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>


<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.chooseAsset{width:900px;height:400px;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">资产申请</label> 
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
<!-- 		<div class="tabs"> -->
<!-- 			<a href="#lay1" class="tab selected">项目属性</a> -->
<!-- 			<a href="#lay2" class="tab">市场属性</a> -->
<!-- 		</div> -->
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
				<tr>
					<th>项目组</th>
					<td width="300">
						<input type="hidden" name="rowid"/>
						<input type="text" name="loanProName" class="readonly" readonly="readonly" value="{{assetsRent.loanProName}}"/>
					</td>
					<th>借用人</th>
					<td width="300">
						<input type="text" name="loanEmployeename" class="readonly" readonly="readonly" value="{{assetsRent.loanEmployeename}}"/>
					</td>
				</tr>
				<tr>
					<th>借用时间</th>
					<td>
						<input type="text" name="rentDate" class="readonly" readonly="readonly" value="{{assetsRent.rentDate}}"/>
					</td>
					<th>预计归还时间</th>
					<td><input type="text" name="estimateReturnDate" class="readonly" readonly="readonly" value="{{assetsRent.estimateReturnDate}}"/></td>
				</tr>
				<tr>
					<th>借用申请说明</th>
					<td colspan="3">
						<textarea style="width:585px;" rows="4" name="remarks" class="readonly" readonly="readonly">{{assetsRent.remarks}}</textarea>
					</td>
				</tr>
				<tr ng-repeat="item in assetCodeList track by $index">
					<th>资产选择</th>
					<td>
						<input type="hidden" id="assetCode_{{$index}}" ng-model="item"/>
						<input type="text" id="assetName_{{$index}}" ng-model="assetNameList[$index]" class="required dropDownList" placeholder="请指定资产" ng-click="chooseAsset($index)"/>&nbsp;
						<a href="javascript:" ng-click="addAssetCode()"><img src="../../../img/add.png" style="vertical-align:middle;"/></a>&nbsp;&nbsp;
						<a href="javascript:" ng-click="rmAssetCode($index)" ng-if="$index!=0"><img src="../../../img/del.png" style="vertical-align:middle;"/></a>&nbsp;&nbsp;
					</td>
					<th></th>
					<td></td>
				</tr>
			</table>
			
		</div>

		<div class="form_bottom">
			<a href="javascript:" ng-click="onApprove()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;批准
			</a>
			<a href="javascript:" ng-click="onReject()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;驳回
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_back">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;返回
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">

var validator;
var ngScope;
var userData;

var params_rowid="";

var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.assetsRent={};
	$scope.assetCodeList=[""];
	$scope.assetNameList=[""];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		window.noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	var urlParams = getUrlParams();
	params_rowid = urlParams.rowid;
	$("input[name=rowid]").val(params_rowid);
	
	/* 表单验证 */
	validator = $("#saveForm").validate({
		onsubmit: false,
		focusInvalid: false,
		focusCleanup: true,
		errorElement: "span",
		ignore:".ignore",
		invalidHandler: function(form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				
			} 
		}
	});
	
	/* 加载页面 */
	$scope.loadData=function(rowid){
		$http.get(serviceBasePath+"eap/pmsServices/pm/everydayMgr/assetsMgr/gmAssetRent/get?rowid="+rowid
			+"&ticket="+ticket).success(function(response){
			if(response.statusCode==401){
				new ShowDlog().prompt({
					icon:"warning",
					msg:"用户凭据过期！请重新登录！",
					done:function(){
						window.noLogin(location.href);
					},
					t:2800
				});
				return;
			}
			$scope.assetsRent = response.data;
		});
	};
	/* 驳回 */
	$scope.onReject = function(){
		new ShowDlog().confirm({
			msg:"确定“驳回”操作吗？",
			ok:function(){
				$http.post(serviceBasePath+"eap/pmsServices/pm/everydayMgr/assetsMgr/gmAssetRent/updateRentStatus?rentStatus=0&flowStatus=3&rowid="+params_rowid
					+"&ticket="+ticket).success(function(response){
					if(response.statusCode==401){
						new ShowDlog().prompt({
							icon:"warning",
							msg:"用户凭据过期！请重新登录！",
							done:function(){
								window.noLogin(location.href);
							},
							t:2800
						});
						return;
					}
					new ShowDlog().prompt({
						icon:"success",
						msg:"已驳回！",
						done:function(){
							//location.href="processMgr.html";
							hrefTo({
								url:"processMgr.html",
								data:urlParams
							});
						},
						t:1500
					});
				});
			},
			cancel:function(){
			
			}
		});
	};
	/* 批准 */
	$scope.onApprove = function(){
		var assetCode = "";//$("input[name=assetCode]").val();
		for ( var i = 0; i < this.assetCodeList.length; i++) {
			if(i==0){
				assetCode+=this.assetCodeList[i];
			}else{
				assetCode+=","+this.assetCodeList[i];
			}
		}
		// test
		// alert(this.assetCodeList[0]);
		// return;
		if(!$("#saveForm").valid()){
			return;
		}
		new ShowDlog().confirm({
			msg:"确定“批准”操作吗？",
			ok:function(){
				$http.post(serviceBasePath+"eap/pmsServices/pm/everydayMgr/assetsMgr/gmAssetRent/settingAsset?assetCode="+assetCode+"&rowid="+params_rowid
					+"&ticket="+ticket).success(function(response){
					if(response.statusCode==401){
						new ShowDlog().prompt({
							icon:"warning",
							msg:"用户凭据过期！请重新登录！",
							done:function(){
								window.noLogin(location.href);
							},
							t:2800
						});
						return;
					}
					new ShowDlog().prompt({
						icon:"success",
						msg:"已批准！",
						done:function(){
							//location.href="processMgr.html";
							hrefTo({
								url:"processMgr.html",
								data:urlParams
							});
						},
						t:1500
					});
				});
			},
			cancel:function(){
			
			}
		});
	};
	
	/* 指定资产 */
	$scope.chooseAsset=function(index){
		new ShowDlog().showFrame(
			"../../component/chooseAssets.html",
			"选择资产",
			function(selectedItems){
				$("#assetCode_"+index).val(selectedItems[0].assetCode);
				$("#assetName_"+index).val(selectedItems[0].assetName);
				ngScope.assetCodeList[index]=selectedItems[0].assetCode;
				ngScope.assetNameList[index]=selectedItems[0].assetName;
				$("#assetName_"+index).focus();
				//$("#assetCode_"+index).blur();
			},
			"chooseAsset");
	};
	
	$scope.addAssetCode=function(){
		this.assetCodeList.push("");
		this.assetNameList.push("");
	};
	
	$scope.rmAssetCode=function(index){
		removeAt(this.assetCodeList, index);
		removeAt(this.assetNameList, index);
	};
	
	/* 取消 */
	$scope.onCancel = function(){
		//history.go(-1);
		hrefTo({
			url:"processMgr.html",
			data:urlParams
		});
	};
	
	/* 初始化加载 */
	$scope.loadData(params_rowid);
	
});
</script>
</body>
</html>
