<!DOCTYPE HTML>
<html>
<head>
<title>耗材流程处理 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />

<style type="text/css">
	.title_tabs{list-style-type:none;padding:0;margin:0;height:39px;}
	.title_tabs li{position:relative;padding:0;margin:0;border:solid 0px;float:left;height:39px;background:#E1E1E1;}
	.title_tabs li>a{display:block;line-height:39px;border:solid 0px;padding:0 70px 0 50px;margin-right:-14px;
		background:url(../../../img/list_Header2-gray.png) right no-repeat;color:#666;font-size:14px;font-weight:bold;}
	.title_tabs li.selected{background:#4CA9FF;z-index:9;}
	.title_tabs li.selected>a{background:url(../../../img/list_Header2-.png) right no-repeat;color:#fff;font-size:14px;font-weight:bold;}
	.owWordLoad{text-decoration:underline;color:#0099ff;}
	.owWordload-detail{border:solid 1px #666;background:#ffee99;color:#666;padding:4px 6px 4px 6px;position:absolute;display:none;max-width:500px;}
	
#page_bar2 .page_btn_prev{color:#4c94ff !important;font-weight:bold;margin-right:50px !important;border-radius:none;background:none !important}
#page_bar2 .page_btn_next{color:#4c94ff !important;font-weight:bold;margin-left:50px !important;margin-right:50px !important;border-radius:none;background:none !important}
#page_bar2 .page_btn{display:black;margin:0 4px;color:#a3a3a3;border-radius:50%;padding:5px 10px;background:#edf4ff;}
#page_bar2 .selected{color:#fff;background:#4c94ff}
#page_bar2 label{color:#737373}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<ul class="title_tabs">
			<li class="selected">
				<a href="javascript:" ui-id="#lay1">待办流程</a>
			</li>
			<li>
				<a href="javascript:" ui-id="#lay2">已办流程</a>
			</li>
		</ul>
		<div id="lay1">
			<div class="title_div">
				<div class="title_bar">
					<input type="text" id="projectType" class="dropDownList" style="width:200px;" placeholder="请项目类型"><!-- 项目类型 -->
					<input type="hidden" name="proNo"/><!-- 项目编号 -->
					<input type="text" id="projectList" style="width:200px;" name="proName" class="dropDownList" placeholder="请选择项目"/><!-- 项目名称 -->
					<input type="text" class="dropDownList" style="width:200px;" placeholder="请选择申请类型" id="recordType" name="recordType"/>
					<input type="text" id="starttime" name="starttime" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)">
					<input type="text" id="endtime" name="endtime" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)">
					<input type="text" name="materialName" placeholder="请输入查询条件">
					<div class="query_div" ng-click="doQuery()">
						查询
					</div>
					
				</div>
			</div>
			
			<div class="table_div">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable">
				   <tr class="tr1">
					<th align="center"><div>序号</div></th>
					<th align="center"><div>物品名称</div></th>
					<th align="center"><div>申请类型</div></th>
					<th align="center"><div>代办类型</div></th>
					<th align="center"><div>领用时间</div></th>
					<th align="center"><div>数量</div></th>
					<th align="center"><div>分类</div></th>
					<th align="center"><div>类型</div></th>
					<th align="center"><div>项目组</div></th>
					<th align="center"><div>使用人</div></th>
					<th align="center"><div>用途</div></th>
					<th><div align="center">操作</div></th>
				  </tr>
				  <tr class="tr2" ng-repeat="item in toDoList">
					<td><div align="center">{{$index+1}}</div></td>
					<td><div align="center">{{item.materialName}}</div></td>
					<td>
						<div align="center" ng-if="item.recordType==1">领用</div>
						<div align="center" ng-if="item.recordType==2">借用</div>
					</td>
					<td>
						<div align="center" ng-if="item.flowStatus==1 && item.recordType==1">领用申请</div>
						<div align="center" ng-if="item.flowStatus==1 && item.recordType==2">借用申请</div>
						<div align="center" ng-if="item.flowStatus==4">归还申请</div>
					</td>
					<td><div align="center">{{item.useDate}}</div></td>
					<td><div align="center">{{item.useCount}}</div></td>
					<td><div align="center">{{item.assetTypeName}}</div></td>
					<td><div align="center">{{item.assetClassName}}</div></td>
					<td><div align="center">{{item.loanProName}}</div></td>
					<td><div align="center">{{item.loanEmployeeName}}</div></td>
					<td><div align="center">{{item.useDesc}}</div></td>
					<td>
						<div align="center">
							<img class="operationImg" ng-click="toOperate(item)" src="../../../img/asset/assetRepair.png" title="处理 ">
							<img class="operationImg" ng-click="doShow(item)" src="../../../img/list_see-icon.png" title="查看 ">
			    		</div>
					</td>
				  </tr>
				</table>
			</div>
	
			<div id="page_bar" class="list_bottom" align="center">
			</div>
		</div>
		<div id="lay2">
			<div class="title_div">
				<div class="title_bar">
					<input type="text" id="projectType2" class="dropDownList" style="width:200px;" placeholder="请项目类型"><!-- 项目类型 -->
					<input type="hidden" name="proNo2"/><!-- 项目编号 -->
					<input type="text" id="projectList2" style="width:200px;" class="dropDownList" placeholder="请选择项目"/><!-- 项目名称 -->
					<input type="text" class="dropDownList" style="width:200px;" placeholder="请选择申请类型" id="recordType1" name="recordType1"/>
					<input type="text" id="starttime1" name="starttime1" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)">
					<input type="text" id="endtime1" name="endtime1" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)">
					<input type="text" name="materialName1" placeholder="请输入查询条件">
					<div class="query_div" ng-click="doQuery1()">
						查询
					</div>
					<div class="query_div" ng-click="exportTable()">
						导出
					</div>
				</div>
			</div>
			
			<div class="table_div">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable">
				   <tr class="tr1">
					<th align="center"><div>序号</div></th>
					<th align="center"><div>物品名称</div></th>
					<th align="center"><div>申请类型</div></th>
					<th align="center"><div>已办类型</div></th>
					<th align="center"><div>领用时间</div></th>
					<th align="center"><div>数量</div></th>
					<th align="center"><div>分类</div></th>
					<th align="center"><div>类型</div></th>
					<th align="center"><div>项目组</div></th>
					<th align="center"><div>使用人</div></th>
					<th align="center"><div>用途</div></th>
					<th align="center"><div>处理时间</div></th>
					<th><div align="center">操作</div></th>
				  </tr>
				  <tr class="tr2" ng-repeat="item in doneList">
					<td><div align="center">{{$index+1}}</div></td>
					<td><div align="center">{{item.materialName}}</div></td>
					<td>
						<div align="center" ng-if="item.recordType==1">领用</div>
						<div align="center" ng-if="item.recordType==2">借用</div>
					</td>
					<td>
						<div align="center" ng-if="item.flowStatus==2">批准</div>
						<div align="center" ng-if="item.flowStatus==3">驳回</div>
						<div align="center" ng-if="item.flowStatus==5">归还确认</div>
					</td>
					<td><div align="center">{{item.useDate}}</div></td>
					<td><div align="center">{{item.useCount}}</div></td>
					<td><div align="center">{{item.assetTypeName}}</div></td>
					<td><div align="center">{{item.assetClassName}}</div></td>
					<td><div align="center">{{item.loanProName}}</div></td>
					<td><div align="center">{{item.loanEmployeeName}}</div></td>
					<td><div align="center">{{item.useDesc}}</div></td>
					<td><div align="center">{{item.dealTime}}</div></td>
				
					<td>
						<div align="center">
							<img class="operationImg" ng-click="doShow1(item)" src="../../../img/list_see-icon.png" title="查看 ">
			    		</div>
					</td>
				  </tr>
				</table>
			</div>
	
			<div id="page_bar2" class="list_bottom" align="center">
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">


function createPageBar(totalPage,curPage,totalRecord){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		curPage:curPage,
		totalRecord:totalRecord,
		prevPageText:"上一页",
		nextPageText:"下一页",
		showPageInfo:true,
		onPage:function(pageNum){
			_currentPage=pageNum;
			ngScope.loadToDoList(proCategory1,proNo1,recordType1,fromDate1,toDate1,_currentPage)
		}
	});
}

function createPageBar1(totalPage,curPage,totalRecord){
	new PageBar().init({
		renderTo:"#page_bar2",
		totalPage:totalPage,
		curPage:curPage,
		totalRecord:totalRecord,
		prevPageText:"上一页",
		nextPageText:"下一页",
		showPageInfo:true,
		onPage:function(pageNum){
			_currentPage1=pageNum;
			ngScope.loadDoneList(proCategory,proNo,recordType,fromDate,toDate,_currentPage1)
		}
	});
}





var fromDate="", toDate="", recordType="",proCategory="",proNo="";
var fromDate1="", toDate1="", recordType1="",proCategory1="",proNo1="";
var currentPage=1;
var currentPage1=1;
var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		window.noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	/* 初始化视图 */
	$(".title_tabs>li>a").each(function(){
		var layId = $(this).attr("ui-id");
		var $li = $(this).parent();
		var idx = $(".title_tabs>li").index($li);
		if(idx!=0){
			$(layId).hide();
			$(layId).attr("data-show", "0");
		}else{
			$(layId).attr("data-show", "1");
		}
		$(this).click(function(){
			$(".title_tabs>.selected").removeClass("selected");
			$(this).parent("li").addClass("selected");
			var layId = $(this).attr("ui-id");
			$("div[data-show=1]").hide();
			$("div[data-show=1]").attr("data-show", "0");
			$(layId).show();
			$(layId).attr("data-show", "1");
		});
	});
	
	
	$scope.sub=function(content){
		if(content){
		    if(content.length>20){
		    	var str=content.substring(0,20);
		    	return str;
		    }else{
		    	return content;
		    }
		}
	};
		
	/* 项目类型 */
	new DropDownList().init({
		renderTo:"#projectType",
		url:"../../component/projectType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#projectType").val(result.categoryName);
			proCategory = result.categoryCode;
			/* 联动 */
			projectList.setConfig("url", "../../component/projectList.html?categoryCode="+proCategory+"&ticket="+ticket);
			$scope.loadToDoList(proCategory,proNo,recordType,fromDate,toDate,currentPage)
		}
	});
	/* 项目列表 */
	var projectList = new DropDownList();
	projectList.init({
		renderTo:"#projectList",
		url:"../../component/projectList.html?categoryCode="+proCategory+"&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#projectList").val(result.proName);
			proNo=result.proNo;
			$scope.loadToDoList(proCategory,proNo,recordType,fromDate,toDate,currentPage)
		}
	});
	
	/* 项目类型 */
	new DropDownList().init({
		renderTo:"#projectType2",
		url:"../../component/projectType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#projectType2").val(result.categoryName);
			proCategory1 = result.categoryCode;
			/* 联动 */
			projectList2.setConfig("url", "../../component/projectList.html?categoryCode="+proCategory1+"&ticket="+ticket);
			$scope.loadToDoList(proCategory1,proNo1,recordType1,fromDate1,toDate1,currentPage1)
		}
	});
	/* 项目列表 */
	var projectList2 = new DropDownList();
	projectList2.init({
		renderTo:"#projectList2",
		url:"../../component/projectList.html?categoryCode="+proCategory1+"&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#projectList2").val(result.proName);
			proNo1=result.proNo;
			$scope.loadToDoList(proCategory1,proNo1,recordType1,fromDate1,toDate1,currentPage1)
		}
	});
	
	new DropDownList().init({
		renderTo:"#recordType",
		mode:"list",
		data:[{id:0, name:"全部"},{id:1, name:"领用"},{id:2, name:"借用"}],
		textField:"name",
		onSelected:function(item){
			$("#recordType").val(item.name);
			recordType=item.id;
			$scope.loadToDoList(proCategory,proNo,recordType,fromDate,toDate,currentPage)
		}
	});
	var recordType1 = new DropDownList();
	recordType1.init({
		renderTo:"#recordType1",
		mode:"list",
		data:[{id:0, name:"全部"},{id:1, name:"领用"},{id:2, name:"借用"}],
		textField:"name",
		onSelected:function(item){
			$("#recordType1").val(item.name);
			recordType1=item.id;
			$scope.loadToDoList(proCategory1,proNo1,recordType1,fromDate1,toDate1,currentPage1)
		}
	});
	/* 加载数据 */
	$scope.loadToDoList=function(proCategory,proNo,recordType,fromDate,toDate,currentPage){
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/assetMg/material/applyMaterial?currentPage="+currentPage
			+"&proNo="+proNo+"&ticket="+ticket+"&perpage=10"+"&fromDate="+fromDate+"&toDate="+toDate+"&recordType="+recordType+"&proCategory="+proCategory+"&materialName="+materialName).success(function(response){
			if(response.statusCode==401){
				new ShowDlog().prompt({
					icon:"warning",
					msg:"用户凭据过期！请重新登录！",
					done:function(){
						window.noLogin(location.href);
					},
					t:2800
				});
				return;
			}
			
			$scope.toDoList = response.list;
			createPageBar(response.totalPage, response.currentPage,response.totalRecord);
		});
	};
	var materialName="";
	var materialName1="";
	//导出 全部
	$scope.exportTable=function(){
		location.href=serviceBasePath+"eap/pmsServices/materielMg/assetMg/material/exportTableList";
	};
	
	$scope.doQuery=function(){
		fromDate=$("#starttime").val();
		toDate=$("#endtime").val();
		materialName=$("input[name=materialName]").val();
		$scope.loadToDoList(proCategory,proNo,recordType,fromDate,toDate,currentPage)
	};
	$scope.doQuery1=function(){
		fromDate1=$("#starttime1").val();
		toDate1=$("#endtime1").val();
		materialName1=$("input[name=materialName1]").val();
		$scope.loadDoneList(proCategory1,proNo1,recordType1,fromDate1,toDate1,currentPage1)
	};
	/* 加载数据 */
	$scope.loadDoneList=function(proCategory1,proNo1,recordType1,fromDate1,toDate1,currentPage1){
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/assetMg/material/processedMaterial?currentPage="+currentPage1
				+"&proNo="+proNo1+"&ticket="+ticket+"&perpage=10"+"&materialName="+materialName1+"&fromDate="+fromDate1+"&toDate="+toDate1+"&recordType="+recordType1+"&proCategory="+proCategory1).success(function(response){
			if(response.statusCode==401){
				new ShowDlog().prompt({
					icon:"warning",
					msg:"用户凭据过期！请重新登录！",
					done:function(){
						window.noLogin(location.href);
					},
					t:2800
				});
				return;
			}
			$scope.doneList = response.list;
			createPageBar1(response.totalPage, response.currentPage,response.totalRecord);
			
		});
	};
	
	/* 项目显示 */
	$scope.toOperate=function(item){
		if(item.flowStatus==1){
			location.href="suppliesProcessDo.html?flowCode="+item.flowCode+"&assetTypeCode="+item.assetTypeCode;	
		}else if(item.flowStatus==4){
			location.href="suppliesProcessSureRutern.html?flowCode="+item.flowCode+"&assetTypeCode="+item.assetTypeCode;
		}
		
	};
	$scope.doShow=function(item){
		if(item.flowStatus==1){
			location.href="suppliesProcessDetail.html?flowCode="+item.flowCode+"&assetTypeCode="+item.assetTypeCode;	
		}else if(item.flowStatus==4){
			location.href="suppliesProcessSureRuternDetail.html?flowCode="+item.flowCode+"&assetTypeCode="+item.assetTypeCode;
		}
	};
	$scope.doShow1=function(item){
			location.href="suppliesProcessSureRuternDetail.html?flowCode="+item.flowCode+"&assetTypeCode="+item.assetTypeCode;
	};
	/* 初始查询 */
	$scope.loadToDoList(proCategory,proNo,recordType,fromDate,toDate,currentPage);
	$scope.loadDoneList(proCategory1,proNo1,recordType1,fromDate1,toDate1,currentPage1);
});
</script>
</body>
</html>
