<!DOCTYPE HTML>
<html>
<head>
<title>耗材申请流程处理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>
<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
</head>
<style>
	.table1 *{color:#999}
	.table_list{background:#f2f2f2;padding:20px;width:600px}
	.table{border:1px solid #eee;}
	.table_title{font-weight:bold;text-align:center}
	.table .table_title{background:#d4d4d4}
	.table *{color:#999}
	.num{width:80px;min-width:80px !important;text-align:center}
	.table td,.table th{height:30px;line-height:30px;padding:10px;border:1px solid #ccc}
	.table1 tr{border-bottom:1px dashed #ccc}
	.table1 tr{height:40px;line-height:40px}
</style>
<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">耗材流程处理</label> 
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<div class="table_list">
				<table width="100%" class="table">
					<tr>
						<td style="width:70px"  class="table_title">物品名称</td>
						<td colspan="3">{{doneList.materialName}}</td>
					</tr>
					<tr>
						<td class="table_title">类型</td>
						<td>{{doneList.assetClassName}}</td>
						<td class="table_title">数量</td>
						<td>{{doneList.useCount}}</td>
					</tr>
					<tr>
						<td class="table_title">分类</td>
						<td>{{doneList.assetTypeName}}</td>
						<td class="table_title">项目组</td>
						<td>{{doneList.loanProName}}</td>
					</tr>
					<tr>
						<td class="table_title">使用人</td>
						<td>{{doneList.loanEmployeeName}}</td>
						<td class="table_title">领用时间</td>
						<td>{{doneList.useDate}}</td>
					</tr>
					<tr>
						<td class="table_title">发放人</td>
						<td>{{doneList.grantManName}}</td>
						<td class="table_title">归还人</td>
						<td>{{doneList.receiveManName}}</td>
					</tr>
					<tr>
						<td class="table_title">用途</td>
						<td colspan="3">{{doneList.useDesc}}</td>
					</tr>
					<tr>
						<td class="table_title">照片</td>
						<td colspan="3"><img width="100px" height="100px" style="margin-top: 5px;display: block;" src="" id="return_pic" onerror="javascript:this.src='../../../img/defaultImg02.png';"/></td>
					</tr>
				</table>
			</div>
			
			<table width="600px" class="table1" style="margin-top:20px">
				<tr>
					<td colspan="4" style="font-size:20px;text-indent:10px">批准信息</td>
				</tr>
				<tr>
					<td align="center"><div class="table_title">名称</div></td>
					<td align="center"><div class="table_title">批次号</div></td>
					<td align="center"><div class="table_title">品牌</div></td>
					<td align="center"><div class="table_title">型号</div></td>
					<td align="center"><div class="table_title">类型</div></td>
					<td align="center"><div class="table_title">库存</div></td>
					<td align="center"><div class="table_title">购买日期</div></td>
					<td align="center"><div class="table_title">数量</div></td>
				</tr>
				<tr ng-repeat="item in dataList">
					<td align="center"><div>{{item.materialName}}</div></td>
					<td align="center"><div>{{item.materialBatchno}}</div></td>
					<td align="center"><div>{{item.brand}}</div></td>
					<td align="center"><div>{{item.modelNo}}</div></td>
					<td align="center"><div>{{item.assetClassName}}</div></td>
					<td align="center"><div>{{item.countStorage}}</div></td>
					<td align="center"><div>{{item.dateStorage}}</div></td>
					<td align="center"><div>{{item.useCount}}</div></td>
				</tr>
				<tr>
					<td style="width:70px;text-align:center">审核说明</td>
					<td colspan="7" style="text-align:left">{{doneList.remarks}}</td>
				</tr>
			</table>
		</div>

		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确定
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
 				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
 			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">

var validator;
var ngScope;
var userData;


var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		window.noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	var urlParams = getUrlParams();
	/* 表单验证 */
	validator = $("#saveForm").validate({
		onsubmit: false,
		focusInvalid: false,
		focusCleanup: true,
		errorElement: "span",
		ignore:".ignore",
		invalidHandler: function(form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
			} 
		}
	});
	$scope.dataList=[];
	$http.get(serviceBasePath+"eap/pmsServices/materielMg/assetMg/material/materialFlow?flowCode="+urlParams.flowCode).success(function(response){
		if(response.statusCode==200){
			$scope.doneList = response.data;
			var st=filePath+"?fileCode="+$scope.doneList.returnPic+"&attachment=0"   
			$("#return_pic").attr("src",st)
		}
	});
	$http.get(serviceBasePath+"eap/pmsServices/materielMg/assetMg/material/appliedMaterial?flowCode="+urlParams.flowCode).success(function(response){
		if(response.statusCode==200){
			$scope.dataList = response.list;
		}
	});
	var formData={};
	$scope.onSave = function(){
		formData.flowCode=urlParams.flowCode;
		formData.returnAuditMan=userData.employeeCode;
		
		new ShowDlog().confirm({
			msg:"是否确认提交？",
			ok:function(){
				$http.post(serviceBasePath+"eap/pmsServices/materielMg/assetMg/material/auditReturnMaterial", 
						formData, 
						{
							headers:{"Content-Type":"application/x-www-form-urlencoded; charset=UTF-8"},
							transformRequest:function(data){
								return $.param(data);
							}
						}).success(function(res){
						if(res.statusCode==200){
							new ShowDlog().prompt({
								icon:"success",
								msg:"提交成功！",
								done:function(){
									location.href="suppliesProcessMgr.html"
								},
								t:1500
							});		
						}
					});
			},
			cancel:function(){}
		});
	};
	$scope.onCancel=function(){
		window.history.back();
	};
});
</script>
</body>
</html>
