<!doctype html>
<html lang="en"  ng-app="realPosition">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
	<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="../../../../js/PageBar.js"></script>
	<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css"/>
	<script type="text/javascript" src="../../../../js/Calendar.js"></script>
	<script type="text/javascript" src="../../../../js/config.js"></script>
	<script type="text/javascript" src="../../../../js/util.js"></script>
	<script type="text/javascript" src="../../../../js/ng-base.js"></script>
	
	<script type="text/javascript" src="../../../../js/eapJs/core/eap.core.js" ></script>
	<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.tip.js" ></script>
	<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.validate.js"></script>
	<script type="text/javascript" src="../../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
	
	

	<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />

	
	
	
	
	<link rel="stylesheet" type="text/css" href="../../../../css/list.css" />
	<link rel="stylesheet" type="text/css" href="../../../../css/bxyw1.css"/>
</head>
<body ng-controller="realPositionCtrl">
<form id="saveForm" class="required-validate">
	<header>
		<div class="return"><img src="../../../../img/deviceAdd/return.png"/></div>
		表箱报竣工
	</header>
	<section>
		<ul class="cz_selpx ov" >
			<li class="fl">筛选<img src="../../../../img/deviceAdd/down_icon.png"/></li>
			<li class="fr">排序<img src="../../../../img/deviceAdd/down_icon.png"/></li>
		</ul>
		<div class="filter_sort">
			<ul class="filter"  style="display: none;">
				
				<li class="ov">
					<div class="filter_con">
						<div class="filter_search">
							<div class="search_int">
								<input type="text" name="search" id="search" placeholder="请输入你要搜索的内容"/>
								<a class="clear_search">x</a>
							</div>
							<span ng-click="doQuery()">搜索</span>
						</div>
					</div>
				</li>
			</ul>
			<ul class="sort" style="display: none;">
				<li><div class="sort_no">表箱地址排序<img src="../../../../img/deviceAdd/task_list_selete_icon.png" class="fr"/></div></li>
				<li><div class="sort_no">地址位置远近<img src="../../../../img/deviceAdd/task_list_selete_icon.png" class="fr" style="display: none;"/></div></li>
			</ul>
		</div>
	
		<div class="con_list"  ng-repeat="item in deviceList">
			<a href="deviceDetail.html?deviceObjCode={{item.deviceObjCode}}&reserveProNo={{item.reserveProNo}}&proNo={{item.proNo}}&mctCode={{item.mctCode}}&deviceObjName={{item.deviceObjName}}">
				<p class="title">{{item.deviceObjName}}	<img src="../../../../img/deviceAdd/Safari-Forward_right_icon.png"/></p>
			</a>
		</div>
		
		
	</section>
	<footer>
		<p>
			<img src="../../../../img/deviceAdd/task_light_left.png" style="float:left"/>
			未完成表箱验收&nbsp;&nbsp;<span>{{deviceList.length}}</span>&nbsp;&nbsp;项
			<img src="../../../../img/deviceAdd/task_light_right.png" class="fr"/>
		</p>
	</footer>
	
	</form>
	<script type="text/javascript">
		$(".clear_search").click(function(){
			$(".search_int input").val("");
			$(".filter").hide();
		})
		
	
		$(".filter_no").each(function(){
			$(this).click(function(){
				$(this).find("img").attr("src","images/task_selete_icon.png")
				$(this).siblings().find("img").attr("src","images/task_nonselete_icon.png")
			})
		});
		$(".sort li").each(function(){
			$(this).click(function(){
				$(this).find("img").show();
				$(this).siblings().find("img").hide();
				$(".sort").hide();
			})
		});
		
		var fsper = "true";
		$(".cz_selpx li").click(function(){
			if(fsper == "true"){
				var n = $(this).index();
				$(".filter_sort ul").eq(n).show().siblings().hide();
				fsper = "false";
			}else{
				var n = $(this).index();
				$(".filter_sort ul").eq(n).hide();
				fsper = "true";
			}
		});
		
		$(".return").click(function(){
			window.history.back();
		})
		
		var reseverOrgcode="O20160819115811815660";
		
		var searchName="";
		
		simpleController({
			moduleName:"realPosition",
			controllerName:"realPositionCtrl",
			init:function($scope, $http){
	
				
				
				$scope.deviceList=[];
				
				/* 加载属性信息 */
				$scope.loadList=function(searchName){
					$scope.httpPost({
						url:"eap/pmsServices/pe/baseMgr/remouldBatch/queryBatchDevice1?companyCode="+$scope.userData.companyCode+"&reseverOrgcode="+reseverOrgcode+"&searchName="+searchName,
						data:{"mctCode":""},
						success:function(response){
							$scope.deviceList = response.list;
							
						   
						}
					});
				};
				
				$scope.doQuery=function(){
					searchName=$("#search").val();
					
					$scope.loadList(searchName);
					$(".filter").hide();
				};
				
				$scope.loadList(searchName);

			}
		});
		
		
		
	</script>
</body>
</html>