<!doctype html>
<html lang="en" ng-app="moduleName">
<head>
	<meta charset="UTF-8" />
	<title>物品领用新增</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<link rel="stylesheet" type="text/css" href="../../css/bxyw1.css"/>
	<script src="../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="../../js/PageBar.js"></script>
	<script type="text/javascript" src="../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
	<link rel="stylesheet" type="text/css" href="../../js/DropDownList-1.2/DropDownList.css"/>
	<script type="text/javascript" src="../../js/Calendar.js"></script>
	<script type="text/javascript" src="../../js/config.js"></script>
	<script type="text/javascript" src="../../js/util.js"></script>
	<script type="text/javascript" src="../../js/ViewState.js"></script>
	<script type="text/javascript" src="../../js/ng-base.js"></script>
	<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>
	<script type="text/javascript" src="../../js/eapJs/core/eap.core.js" ></script>
	<script type="text/javascript" src="../../js/eapJs/plugins/eap.tip.js" ></script>
	<script type="text/javascript" src="../../js/eapJs/plugins/eap.validate.js"></script>
	<script type="text/javascript" src="../../js/eapJs/local/eap.lang-zh_CN.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/validate.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/edit.css"/>
	<script type="text/javascript" src="../../js/showDlog/showDlog.js"></script>
	<script type="text/javascript" src="../../js/jquery.form.js"></script>
	<link rel="stylesheet" type="text/css" href="../../js/showDlog/showDlog-blue.css" />
	<script src="../../../js/echarts-all.js"></script>
	<style type="text/css">
		header{position:absolute;top:0;right:0;left:0;height:60px;z-index: 1;}
		section{position:absolute;top:0;right:0;bottom:0;left:0;overflow:auto;padding-top:60px}
		.filter_no1{margin-right:8px;}
		.goodsAssetDetail{padding:0;background:none}
		.goodsAssetDetail li{padding:0 10px;background:#fff;border-bottom:1px solid #eee}
		.goodsAssetDetail input{border:none;height:40px;outline:none;text-indent:10px;width:70%}
	</style>
</head>
<body ng-controller="controllerName">
	<header>
		<div class="return" ng-click="exit()"><img src="../../img/return.png"/></div>
		物品领用新增
		<img src="../../img/finish_icon.png" width="20px" ng-click="onSave()" style="position:absolute;right:15px;top:22px">
	</header>
	<section id="list">
		<form id="saveForm" class="required-validate">
			<div class="con_list goodsAssetDetail">
				<ul>
					<li>
						<span>物品名称</span>
						<input type="text" placeholder="请输入物品名称" name="materialName">
					</li>
					<li>
						<span>物品分类</span>
						<input type="text" name="assetClassName" class="dropDownList" placeholder="请选择资产分类"/>
						<input type="hidden"  name="assetClassCode">
					</li>
					<li>
						<span>物品类型</span>
						<input type="text" name="assetTypeName" class="dropDownList" placeholder="请选择资产类型"/>
						<input type="hidden" name="assetTypeCode">
					</li>
					<li style="margin-top:10px">
						<span>物品数量</span>
						<input type="text" placeholder="请输入物品数量" name="useCount">
					</li>
					<li style="margin-top:10px">
						<span>项目组名</span>
						<input type="text" placeholder="请输入项目组名" name="loanProName" class="dropDownList">
						<input type="hidden" name="loanProNo">
					</li>
					<li>
						<span>使用人员</span>
						<input type="text" placeholder="请输入使用人员" name="loanEmployeeName" class="dropDownList">
						<input type="hidden" name="receiveMan">
						<input type="hidden" name="recordType" value="1">
						<input type="hidden" name="loanEmployeeCode">
					</li>
					<li style="margin-top:10px">
						<span>物品用途</span>
						<textarea style="width:100%;height:60px;border:none;outline:none;list-style:none;margin-top:5px" placeholder="请输入物品用途" name="useDesc"></textarea>
					</li>
				</ul>
			
			</div>
		</form>
	</section>
	<script type="text/javascript">
		var ngScope;
		simpleController({
			init:function($scope, $http){
				ngScope=$scope;
				$scope.dataList=[];
				$scope.taskCount={};
				var urlParams = getUrlParams();
				
				/* 获取物品分类  */
				var assetClassArr=[];
				var assetClassCode="";
				$scope.httpGet({
					url:"eap/pmsServices/pwsCommon/assetClass",
					data:{"iscm":1},
					success:function(res){
						assetClassArr=res.list
						/* 物品分类 */
						new DropDownList().init({
							renderTo:"input[name=assetClassName]",
							data:assetClassArr,
							textField:"assetClassName",
							onSelected:function(item){
								assetClassCode=item.assetClassCode;
								$("input[name=assetClassName]").val(item.assetClassName);
								$("input[name=assetClassCode]").val(item.assetClassCode);
								$scope.getAssettype(assetClassCode)
							}
						});
					},
				});
				
				/* 获取物品分类  */
				var assetTypeArr=[];
				$scope.getAssettype=function(assetClassCode){
					$scope.httpGet({
						url:"eap/pmsServices/materielMg/assetMg/assetType/typelist",
						data:{"assetClassCode":assetClassCode},
						success:function(res){
							assetTypeArr=res.list
							/* 物品分类 */
							assetTypeName.setConfig("data",assetTypeArr);
						},
					});
				};
				var assetTypeName= new DropDownList();
				assetTypeName.init({
					renderTo:"input[name=assetTypeName]",
					data:assetTypeArr,
					textField:"assetTypeName",
					onSelected:function(item){
						$("input[name=assetTypeName]").val(item.assetTypeName);
						$("input[name=assetTypeCode]").val(item.assetTypeCode);
					}
				});
				/* 获取项目 */
				var proArr=[];
				var proNo="";
				$scope.httpGet({
					url:"eap/pmsServices/materielMg/assetMg/material/getProList",
					data:{},
					success:function(res){
						proArr=res.data;
						/* 项目名称*/
						proArr=res.data;
						new DropDownList().init({
							renderTo:"input[name=loanProName]",
							data:proArr,
							textField:"PRO_NAME",
							onSelected:function(item){
								proNo=item.proNo;
								$("input[name=loanProName]").val(item.PRO_NAME);
								$("input[name=loanProNo]").val(item.proNo);
								$scope.getProPeople(proNo)
							}
						});
					},
				});
				/* 获取项目内人员  */
				var getProPeopleArr=[];
				$scope.getProPeople=function(proNo){
					$scope.httpGet({
						url:"eap/pmsServices/materielMg/assetMg/material/getProMembers",
						data:{"proNo":proNo},
						success:function(res){
							getProPeopleArr=res.data;
							/* 物品分类 */
							proPeopleName.setConfig("data",getProPeopleArr);
						},
					});
				}
				var proPeopleName = new DropDownList();
				proPeopleName.init({
					renderTo:"input[name=loanEmployeeName]",
					data:getProPeopleArr,
					textField:"employeeName",
					onSelected:function(item){
						$("input[name=loanEmployeeName]").val(item.employeeName);
						$("input[name=loanEmployeeCode]").val(item.employeeCode);
					}
				});
				
				/* 表单验证 */
				validator = $("#saveForm").validate({
					onsubmit: false,
					focusInvalid: false,
					focusCleanup: true,
					errorElement: "span",
					ignore:".ignore",
					invalidHandler: function(form, validator) {
						var errors = validator.numberOfInvalids();
						if (errors) {
							
						} 
					}
				});

				
				/* 保存 */
				$scope.onSave=function(){
					var params = serializeArrayToMap($("#saveForm").serializeArray());
					console.log(params)
					$scope.httpGet({
						url:"eap/pmsServices/materielMg/assetMg/material/getTotalMaterialNum",
						data:{"assetTypeCode":params.assetTypeCode},
						success:function(res){
							if(res.data[0].totalNum<params.useCount){
								new ShowDlog().prompt({
									icon:"warnning",
									msg:"库存不足！",
									done:function(){},
									t:1500
								});
								return;
							}else{
								if($("#saveForm").valid()){
									new ShowDlog().prompt({
										icon:"waitting",
										msg:"正在保存...",
										done:function(){},
										t:60*1000
									});
									var options = {
											success: function(responseText, statusText) {
												if(responseText.statusCode=="200"){
													$dlog.close();
													new ShowDlog().prompt({
														icon:"success",
														msg:"保存成功！",
														done:function(){
															top.viewTo("proGoodsAssetMgr/proGoodsDrawList.html");
														},
														t:1500
													});
												}
											},      //提交后的回调函数   
											type: "post",               //默认是form的method（get or post），如果申明，则会覆盖  
											dataType: "json",           //html(默认), xml, script, json...接受服务端返回的类型  
											clearForm: false,          //成功提交后，清除所有表单元素的值
											url:serviceBasePath+"eap/pmsServices/materielMg/assetMg/material/addMaterial",
											error: function(xhr, status, error) {
												console.log(error);
											}
										};
										$("#saveForm").ajaxSubmit(options);
								}else{
									return
								}
							}
						},
					});
				};
			}
		}); 		
		
		
		
		$(".return").click(function(){
			window.history.back()
			//top.nativeLib.exitApp(); 
		});	
	</script>
</body>
</html>