/**
 * @author MaDx
 * @mail makeruike@qq.com
 */
html{
	height:100%;
}
body{
	padding:0px;
	margin:0px;
	height:100%;
}
.dlog_C{
	position:absolute;
	z-index:99;
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
	text-align:left;
}
.dlog_B{
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
	z-index:-1;
	background:rgba(0,0,0,0.2);
}
.dlog_base{
	position:absolute;
}
.dlog_msg{
	min-width:250px;
	min-height:50px;
	background:url(img/dialog_bg.png) no-repeat;
	-webkit-border-image: url(img/dialog_bg.png) 3 4 4 3 stretch stretch;
	-moz-border-image: url(img/dialog_bg.png) 3 4 4 3 stretch stretch;
	font-size:14px;
	font-weight:bold;
	color:#525252;
	text-align:center;
}
.dlog_dialog_base{
	/*background:url(img/point.png);*/
	border-radius:4px;
}
.dlog_dialog_inner{
	border:solid 1px #666;
	border-radius:4px;
	position:absolute;
	top:3px;
	left:3px;
	right:3px;
	bottom:3px;
	background:#fff;
}

.dlog_dialog{
	width:200px;
	min-height:180px;
	font-size:12px;
}
.dlog_dialog_frame{
	min-width:400px;
	min-height:230px;
	font-size:12px;
}
.dlog_dialog_title{
	width:100%;
	height:32px;
	line-height:32px;
	background:#0078D7;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	text-indent:14px;
	cursor:move;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
}
.dlog_dialog_closeBtn{
	position:absolute;
	width:35px;
	height:18px;
	background:url(img/close_b02.gif) 0px 0px;
	right:4px;
	top:0px;
}
.dlog_dialog_closeBtn:hover{
	position:absolute;
	width:35px;
	height:18px;
	background:url(img/close_b02.gif) -35px 0px;
	right:4px;
	top:0px;
}
/* content */
.dlog_content{
	position:absolute;
	top:32px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:0px;
	padding:0px;
}
.dlog_content table, .dlog_content th, .dlog_content td{
	margin:0;padding:0;
}
.dlog_iframe{
	position:absolute;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
/* ----------------------------- */
.dlog-alert-msg{font-size:14px;margin:20px 0;padding:4px 10px;}
.dlog-alert-btn-bar{text-align:right;padding:4px 10px;margin-bottom:10px;}

.dlog-icon-alert{display:inline-block;width:16px;height:18px;background:url(img/alert.gif) no-repeat;margin:0 10px;}
.dlog-icon-warning{display:inline-block;width:16px;height:18px;background:url(img/warning.gif) no-repeat;margin:0 10px;}
.dlog-icon-success{display:inline-block;width:22px;height:18px;background:url(img/suc.gif) no-repeat;margin:0 10px;}
.dlog-icon-error{display:inline-block;width:22px;height:18px;background:url(img/err.gif) no-repeat;margin:0 10px;}
.dlog-icon-waitting{display:inline-block;width:22px;height:15px;background:url(img/loading.gif) no-repeat;margin:0 10px;}

.dlog-btn-ok{background:#297DF9;color:#fff;border:solid 1px #126CB4;border-radius:10px;padding:6px 10px;min-width:80px;font-family: 微软雅黑;}
.dlog-btn-cancel{background:#fff;color:#297DF9;border:solid 1px #126CB4;border-radius:10px;padding:6px 10px;min-width:80px;font-family: 微软雅黑;}
.dlog-btn-ok:hover{background:#379DFC;color:#fff;border:solid 1px #379DFC;}
.dlog-btn-cancel:hover{background:#fff;color:#379DFC;border:solid 1px #379DFC;}

.dlog-mobile-confirm{width:300px;height:200px;}
.dlog-mobile-confirm .dlog_dialog_inner{border-radius:9px;border:none}
.dlog-mobile-confirm .dlog_dialog_inner .dlog_dialog_title{display:none;}
.dlog-mobile-confirm .dlog_dialog_inner .dlog_content{}
.dlog-mobile-confirm .confirm-content{background: #fff;position: relative;height:100%;border-radius:9px;}
.dlog-mobile-confirm .confirm-content>.mb-dlog-alert-msg{text-align: center;padding:15px 10px;}
.dlog-mobile-confirm .confirm-content>.mb-dlog-alert-btn-bar{position: absolute;bottom: 0;width: 100%;border-top:1px solid #02a2ff;}
.dlog-mobile-confirm .confirm-content>.mb-dlog-alert-btn-bar>.mb-dlog-btn-cancel{width:50%;border-right:1px solid #02a2ff;display: inline-block;text-align: center;padding:15px 0;}
.dlog-mobile-confirm .confirm-content>.mb-dlog-alert-btn-bar>.mb-dlog-btn-ok{width:47%;display: inline-block;text-align: center;padding:15px 0;}