<!DOCTYPE HTML>
<html>
<head>
<title> 项目月计划 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>
<script type="text/javascript" src="../../../js/ExportExcel.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
.good{background:url(../../../img/good.png) no-repeat top right;}
.low{background:url(../../../img/bad.png) no-repeat top right;}
table td{padding-left:4px;}
.feedbackDialog{width:1000px;height:600px;}
.owWordLoad{text-decoration:underline;color:#0099ff;}
	.owWordload-detail{border:solid 1px #666;background:#ffee99;color:#666;padding:4px 6px 4px 6px;position:absolute;display:none;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<input type="text" class="dropDownProjectType" placeholder="项目分类"/>
				<input type="text" style="width:206px;" class="dropDownTree dropDownList" placeholder="项目"/>
				<input type="text" style="width:80px;" id="year" class="dropDownList" placeholder="年度"/>
				<input type="text" style="width:80px;" id="planType" class="dropDownList" placeholder="计划类型"/>
				<input type="text" style="width:150px;" name="searchName" class="" placeholder="项目名、编码、负责人"/>
<!-- 				<input type="text" id="beginDate" class="select_2 dropDownList dateComponent" onclick="new Calendar().show(this)" placeholder="请选择启始日期"/> -->
<!-- 				<input type="text" id="endDate" class="select_2 dropDownList dateComponent" onclick="new Calendar().show(this)" placeholder="请选择结束日期"/> -->
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
				<div class="query_div" ng-click="doExport()">
					导出
				</div>
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			<img src="../../../img/list_Header2-.png">
			<div class="title_add" ng-click="toAdd()" >
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable">
			   <tr class="tr1">
				<th>序号</th>
				<th>项目名称</th>
				<th>项目编码</th>
				<th>负责人</th>
				<th>计划编号</th>
				<th>开始时间</th>
				<th>结束时间</th>
				<th>计划指标工作量</th>
				<th>计划说明</th>
				<th>计划<br>工作量</th>
				<th>完成<br>工作量</th>
				<th>内业<br>投入<br>人员</th>
				<th>外业<br>投入<br>人员</th>
				<th>计划<br>执行率</th>
				<th>计划评定</th>
				<th>计划<br>考核<br>分值</th>
				<th>反馈</th>
				<th>反馈评定</th>
				<th>反馈<br>考核<br>分值</th>
				<th style="background:#96BAFF;">累计<br>计划量</th>
				<th style="background:#96BAFF;">项目<br>计划进度</th>
				<th class="noExport">操作</th>
			  </tr>
			  <tr class="tr2" ng-repeat="item in dataList">
				<td>{{$index+1}}</td>
				<td>{{item.proName}}</td>
				<td>{{item.proNo}}</td>
				<td>{{item.proManager}}</td>
				<td>{{item.planNo}}</td>
				<td>{{item.sdate}}</td>
				<td>{{item.edate}}</td>
				<td>
					<span ng-repeat="pro in top4(toArr(item.kpiPlanDesc))" align="left" style="margin-left:10px;">{{pro}}</span>
					<div ng-if="toArr(item.kpiPlanDesc).length>4" style="display:inline-block;">
						<a href="javascript:" onmouseover="$(this).next().show();" onmouseout="$(this).next().hide();" class="owWordLoad noExport">[查看更多]</a>
						<div class="owWordload-detail">
							<div ng-repeat="pro in after4(toArr(item.kpiPlanDesc)) track by $index">{{pro}}</div>
						</div>
					</div>
				</td>
				<td><a ng-if="item.planDesc!=null" href="javascript:" onmouseover="$(this).next().show();" onmouseout="$(this).next().hide();" class="owWordLoad noExport">[查看详细]</a>
				<div class="owWordload-detail">{{item.planDesc}}</div></td>
				<td>{{decim(item.planWordload, 2)}}</td>
				<td>{{decim(item.sumWordload, 1)}}</td>
				<td>{{item.iwPercnt}}</td>
				<td>{{item.owPercnt}}</td>
				<td>{{decim(item.planComplatePer, 1)}}%</td>
				<td><a ng-if="item.evaluate!=null" href="javascript:" onmouseover="$(this).next().show();" onmouseout="$(this).next().hide();" class="owWordLoad noExport">[查看详细]</a>
				<div class="owWordload-detail">{{item.evaluate}}</div></td>
				<td>{{item.planCheckScore}}</td>
				<td><a ng-if="item.feedback!=null" href="javascript:" onmouseover="$(this).next().show();" onmouseout="$(this).next().hide();" class="owWordLoad noExport">[查看详细]</a>
				<div class="owWordload-detail">{{item.feedback}}</div></td>
				<td><a ng-if="item.feedbackEval!=null && item.feedbackEval!=''" href="javascript:" onmouseover="$(this).next().show();" onmouseout="$(this).next().hide();" class="owWordLoad">[查看详细]</a>
				<div class="owWordload-detail">{{item.feedbackEval}}</div></td>
				<td>{{item.feedbackCheckScore}}</td>
				<td>{{item.allPlanWordload}}</td>
				<td>{{decim(item.proPlanProgress?item.proPlanProgress:0, 1)}}%</td>
				<td align="center" class="noExport">
		    		<a href="javascript:" ng-click="feedback(item)" title="反馈"><img class="operationImg" src="../../../img/feedback.png"></a>
		    		<a href="javascript:" ng-click="doDelete(item)" title="删除"><img class="operationImg" src="../../../img/list_delete-icon.png"></a>
				</td>
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">

var cond_categoryCode="";
var cond_proNo="";
// var cond_fromDate="";
// var cond_toDate="";
var cond_year="";
var cond_planType="";
var searchName="";

simpleController({
	init:function($scope, $http){
		
		$scope.toArr=function(pros){
			if(!pros)return;
			var arr = pros.split(",");//alert(arr);
			return arr;
		};
		
		$scope.top4=function(arr){
			var arrN=[];
			if(!arr)
				return arrN;
			for(var i=0;i<arr.length;i++){
				if(i>3){
					break;
				}
				arrN.push(arr[i]);
			}
			return arrN;
		};
		
		$scope.after4=function(arr){
			var arrN=[];
			for(var i=4;i<arr.length;i++){
				arrN.push(arr[i]);
			}
			return arrN;
		};
		
		$scope.dataList=[];
		
		var urlParams = getUrlParams();
		if(urlParams.planType){
			cond_planType = urlParams.planType;
			if(cond_planType==1){
				$("#planType").val("周计划");
			}else if(cond_planType==2){
				$("#planType").val("月计划");
			}
		}
		
		var ticket=$scope.ticket;
		/* 项目列表 */
		var proList = new DropDownList();
		proList.init({
			renderTo:".dropDownTree",
			url:"../../component/projectList.html?categoryCode="+cond_categoryCode+"&ticket="+ticket,
			height:"200px",
			onSelected:function(result){
				$(".dropDownTree").val(result.proName);
				cond_proNo=result.proNo;
				$scope.loadData(cond_proNo, cond_year, cond_planType);
			}
		});
		
		/* 项目类型 */
		new DropDownList().init({
			renderTo:".dropDownProjectType",
			url:"../../component/projectType.html?ticket="+ticket,
			height:"200px",
			onSelected:function(result){
				$(".dropDownProjectType").val(result.categoryName);
				cond_categoryCode = result.categoryCode;
				/* 联动 */
				proList.setConfig("url","../../component/projectList.html?categoryCode="+cond_categoryCode+"&ticket="+ticket);
			}
		});
		
		/* 计划类型 */
		new DropDownList().init({
			renderTo:"#planType",
			data:[{code:0, name:"(全部)"},{code:1, name:"周计划"},{code:2,name:"月计划"}],
			textField:"name",
			onSelected:function(result){
				if(result.code==0){
					$("#planType").val("");
					cond_planType="";
				}else{
					$("#planType").val(result.name);
					cond_planType=result.code;
				}
				$scope.loadData(cond_proNo, cond_year, cond_planType);
			}
		});
		
		var years=[];
		var curYear=new Date().getFullYear();
		cond_year=curYear;
		$("#year").val(cond_year);
		for(var i=-2;i<=2;i++)
			years.push(curYear+i);
		/* 年 */
		new DropDownList().init({
			renderTo:"#year",
			data:years,
			height:"200px",
			onSelected:function(result){
				$("#year").val(result);
				cond_year=result;
				$scope.loadData(cond_proNo, cond_year, cond_planType);
			}
		});
		
		
		$scope.loadData=function(proNo, year, planType,searchName){
			var accountCode="";
			/* 根据角色判断是否传accountCode */
			if($scope.userData.roleCode=="004"){
				accountCode=$scope.userData.accountCode;
			}
			$scope.httpGet({
				url:"eap/pmsServices/pm/plan/list",
				data:{"proNo":proNo, "year":year, "planType":planType, "accountCode":accountCode,"searchName":searchName},
				success:function(res){
					if(res.statusCode==200){
						$scope.dataList = res.list;
					}
				},
				pageChange:function(pageNum){
					$scope.loadData(cond_proNo, cond_year, cond_planType,searchName);
				}
			});
		};
		
		$scope.doQuery=function(){
			//cond_fromDate = $("#beginDate").val();
			//cond_toDate = $("#endDate").val();
			searchName=$("input[name=searchName]").val();
			$scope.loadData(cond_proNo, cond_year, cond_planType,searchName);
		};
		$scope.doExport=function(){
			// excelExport("dataTable");
			var accountCode="";
			/* 根据角色判断是否传accountCode */
			if($scope.userData.roleCode=="004"){
				accountCode=$scope.userData.accountCode;
			}
			hrefTo({
				url:serviceBasePath+"eap/pmsServices/pm/plan/export", 
				data:{"proNo":cond_proNo, "year":cond_year, "planType":cond_planType, "accountCode":accountCode}
			});
		};
		$scope.loadData(cond_proNo, cond_year, cond_planType,searchName);
		/* 新增计划 */
		$scope.toAdd=function(){
			hrefTo({
				url:"reportMonthPlan.html"
			});
		};
		
		$scope.feedback=function(item){
			new ShowDlog().showFrame("feedback.html?rowid="+item.rowid+"&planNo="+encodeURIComponent(item.planNo), "反馈", function(data){
				if(data=="SUCCESS"){
					location.reload();
				}
			}, "feedbackDialog");
		};
		
		$scope.doDelete=function(item){
			new ShowDlog().confirm({
				msg:"确定要删除【"+item.planNo+"】吗？",
				ok:function(){
					$scope.httpPost({
						url:"eap/pmsServices/pm/plan/delete",
						data:{"rowid":item.rowid},
						success:function(res){
							if(res.statusCode==200){
								new ShowDlog().prompt({msg:"删除成功！",
									done:function(){
										location.reload();
									},
									t:1500
								});
							}
						}
					});
				}
			});
		};
		
		$scope.decim=function(num, len){
			return decim(num, len);
		};
	}
});
	
	/*****************************/
// 	var now = new Date();
// 	var year=now.getFullYear();
// 	var month=now.getMonth()+1;
// 	var beginDay=1;
// 	var endDay=getMonthDays(year, month);
	
// 	cond_fromDate=year+"-"+numFormat(month,2)+"-"+numFormat(beginDay,2);
// 	cond_toDate=year+"-"+numFormat(month,2)+"-"+numFormat(endDay,2);
	
// 	$("#beginDate").val(cond_fromDate);
// 	$("#endDate").val(cond_toDate);
	

</script>
</body>
</html>
