<!DOCTYPE HTML>
<html>
<head>
<title> 填报项目计划 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css"/>
<style type="text/css">
.sgreen{background:#EDF4FF;border:dashed 1px #72BBFF;}
.sred{background:#FFFF99;border:dashed 1px #FF9900;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">项目计划填报</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
<!-- 		<div class="tabs"> -->
<!-- 			<a href="#lay1" class="tab selected"></a> -->
<!-- 		</div> -->
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
				<tr>
					<th>项目分类</th>
					<td width="300">
						<input type="hidden" name="companyCode"/>
						<input type="hidden" name="planNo"/>
						<input type="hidden" name="kpiData"/>
						<input type="hidden" name="sdate"/>
						<input type="hidden" name="edate"/>
						<input type="hidden" name="categoryCode"/>
						<input type="text" name="categoryName" class="required dropDownList" placeholder="项目分类"/>
					</td>
					<th>项目</th>
					<td width="300">
						<input type="hidden" name="proNo"/>
						<input type="text" style="width:206px;" name="proName" class="required dropDownList" placeholder="项目"/>
					</td>
				</tr>
				<tr>
					<th>计划类型</th>
					<td>
						<input type="hidden" name="planType"/>
						<input type="text" name="planTypeName" class="required dropDownList"/>
					</td>
					<th>年</th>
					<td>
						<input type="text" name="year" id="year" class="required dropDownList"/>
					</td>
				</tr>
				<tr ng-show="planType==1">
					<th>选择周</th>
					<td>
						<input type="hidden" name="chooseWeek"/>
						<input type="text" name="chooseWeekName" class="dropDownList {{planType==1?'required':''}}"/>
					</td>
					<th></th>
					<td></td>
				</tr>
				<tr ng-show="planType==2">
					<th>选择月</th>
					<td>
						<input type="text" name="month" id="month" class="dropDownList {{planType==2?'required':''}}"/>
					</td>
					<th></th>
					<td></td>
				</tr>
				
				<tr>
					<th>填写说明 </th>
					<td colspan="3">
						<textarea cols="100" rows="5" name="planDesc" class="required" placeholder="本月计划投入外业**人，计划外出作业**日；计划投入内业**人，计划作业**日"></textarea>
					</td>
				</tr>
				<tr ng-repeat="item in kpiList" ng-class="{'sgreen':item.kpiType==1, 'sred':item.kpiType==2}">
					<th>
						<span ng-if="item.kpiType==1">（外业指标）</span>
						<span ng-if="item.kpiType==2">（内业指标）</span>
						{{item.kpiName}}
					</th>
					<td><input type="text" name="{{item.kpiCode}}" group="kpi" class="required number"/>{{item.kpiUnit}}</td>
					<td colspan="2">{{item.kpiDesc}}</td>
				</tr>
			</table>
		</div>
		

		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">
var isSave=false;
var ngScope;
simpleController({
	init:function($scope, $http){
		ngScope=$scope;
		// 定义
		$scope.dataList=[];
		$scope.kpiList=[];
		$scope.planType=1;
		$("input[name=planType]").val($scope.planType);
		var ticket = $scope.ticket;
		// 参数
		var urlParams = getUrlParams();
		

		/* 项目类型 */
		new DropDownList().init({
			renderTo:"input[name=categoryName]",
			url:"../../component/projectType.html?required=true&ticket="+ticket,
			height:"200px",
			onSelected:function(result){
				$("input[name=categoryName]").val(result.categoryName);
				$("input[name=categoryCode]").val(result.categoryCode);
				$("input[name=categoryName]").focus();
				/* 联动 */
				proList.setConfig("url","../../component/projectList.html?required=true&categoryCode="+result.categoryCode+"&ticket="+ticket);
			}
		});
		
		/* 项目列表 */
		var proList = new DropDownList();
		proList.init({
			renderTo:"input[name=proName]",
			url:"../../component/projectList.html?required=true&categoryCode=&ticket="+ticket,
			height:"200px",
			onSelected:function(result){
				$("input[name=proName]").val(result.proName);
				$("input[name=proNo]").val(result.proNo);
				$("input[name=proName]").focus();
				ngScope.loadKpiList(result.proNo);
			}
		});
		
		
		/* 计划类型 */
		var dpd_planType = new DropDownList();
		dpd_planType.init({
			renderTo:"input[name=planTypeName]",
			data:[{code:1, name:"周计划"},{code:2,name:"月计划"}],
			textField:"name",
			onSelected:function(result){
				$("input[name=planTypeName]").val(result.name);
				$("input[name=planType]").val(result.code);
				$("input[name=planTypeName]").focus();
				callNgFn({
					ctrlEl:$("body"),
					ngFn:function(scope){
						scope.planType=result.code;
					}
				});
			}
		});
		
		var years=[];
		var curYear=new Date().getFullYear();
		$("#year").val(curYear);
		for(var i=-1;i<=1;i++)
			years.push(curYear+i);
		/* 选年 */
		new DropDownList().init({
			renderTo:"#year",
			data:years,
			onSelected:function(result){
				$("#year").val(result);
				dpd_week.setConfig("url", "../../component/WeekListCN.html?year="+result+"&ticket="+$scope.ticket);
			}
		});
		
		/* 指定周 */
		var dpd_week = new DropDownList();
		dpd_week.init({
			renderTo:"input[name=chooseWeekName]",
			url:"../../component/WeekListCN.html?year="+new Date().getFullYear()+"&ticket="+$scope.ticket,
			height:"200px",
			width:"310px",
			onSelected:function(week){
				$("input[name=chooseWeekName]").val(week.label);
				$("input[name=chooseWeek]").val(week.label);
				$("input[name=chooseWeekName]").focus();
				var sdate = week.days[0];
				var edate = week.days[week.days.length-1];
				$("input[name=sdate]").val(new SimpleDateFormat({formatString:"yyyy-MM-dd"}).format(sdate));
				$("input[name=edate]").val(new SimpleDateFormat({formatString:"yyyy-MM-dd"}).format(edate));
			}
		});
		
		
		var months=[];
		var curMonth=new Date().getMonth()+1;
		//$("#month").val(curMonth);
		for(var i=0;i<12;i++)
			months.push(i+1);
		/* 选月 */
		new DropDownList().init({
			renderTo:"#month",
			data:months,
			height:"200px",
			onSelected:function(result){
				$("#month").val(result);
				$("#month").focus();
				var month=parseInt(result);
				var year = parseInt($("#year").val());
				var days = getMonthDays(year, month);
				$("input[name=sdate]").val(new SimpleDateFormat({formatString:"yyyy-MM-dd"}).format(new Date(year, month-1, 1)));
				$("input[name=edate]").val(new SimpleDateFormat({formatString:"yyyy-MM-dd"}).format(new Date(year, month-1, days)));
			}
		});
		
		
		/* 指标列表 */
		$scope.loadKpiList=function(proNo){
			$scope.httpGet({
				url:"eap/pmsServices/pm/baseMgr/pmProKpi/listAll",
				data:{"proNo":proNo},
				success:function(res){
					$scope.kpiList = res.list;
				}
			});
		};
		
		/* 验证 */
		var validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					
				} 
			}
		});
		
		/* 保存 */
		$scope.onSave = function(){
			var planName="";
			var year = $("input[name=year]").val();
			if($scope.planType==1){
				var weekName=$("input[name=chooseWeekName]").val();
				planName=year+"年"+weekName+"计划";
			}else{
				var month=$("input[name=month]").val();
				planName=year+"年"+month+"月计划";
			}
			var now=new Date();
			planName+="(N"+now.getMinutes()+now.getMilliseconds()+")";
			new ShowDlog().confirm({
				msg:"确定上报【"+planName+"】吗？",
				ok:function(){
					
					$("input[name=companyCode]").val($scope.userData.companyCode);
					$("input[name=planNo]").val(planName);
					var kpiData = "";
					$("input[group=kpi]").each(function(){
						var k = $(this).attr("name");
						var v = $(this).val();
						if(kpiData.length>0){
							kpiData+="&";
						}
						kpiData+=k+"="+v;
					});//alert(kpiData);
					$("input[name=kpiData]").val(kpiData);
					var formData = $("#saveForm").serialize();
					if($("#saveForm").valid()){
						if(!isSave){
							isSave=true;
							$.ajax({
								url:serviceBasePath+"eap/pmsServices/pm/plan/add",
								cache:false,
								method:"POST",
								data:formData,
								success:function(res){
									if(res.statusCode==200){
										new ShowDlog().prompt({icon:"success",
											msg:"添加成功！",
												done:function(){
													hrefTo({
														url:"myMonthPlan.html",
														data:getUrlParams()
													});
												},
												t:1500
											});
										
									}
								},
								error:function(){
									
								}
							});
						}
					}
				}
			});
		};
		
		// 返回
		$scope.onCancel = function(){
			hrefTo({
				url:"myMonthPlan.html",
				data:getUrlParams()
			});
		};
	}
});

</script>
</body>
</html>
