<!DOCTYPE HTML>
<html>
<head>
<title> 耗材管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/time.js"></script>
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/ExportExcel.js"></script>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<script type="text/javascript" src="../../../js/laydate/laydate.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>


<style type="text/css">
	.dropDownArea{background-image:url(../../../img/flag.png);background-repeat: no-repeat;background-position:right;background-position:185px;cursor:pointer;}
	
	.btn{display:inline-block;padding:1px 4px;border:solid 1px #f4f4f4; border-radius:4px;}
	.btn.toactive{color:#fff;background:green;}
	.btn.toclose{color:#fff;background:#ED7798;}
	.ck{border:1px #fff solid;background:#fff;margin-top:5px}
	.cks{float:left;height:20px;}
	.cks .ck{float:left;margin-top:15px;margin-left:10px;}
	.cks span{float:left}
    .dialog-viewcode{width:500px;height:400px;}
    .dialog-viewcyle{width:900px;height:500px;}
    .dialog-scrap{width:480px;height:320px;}
.dialog-bedRent{width:900px; height:500px;}
    .zhende{background:#eee}
    
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl" >

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">单项目预算实际成本差异</label>
				<div class="query_div" ng-click="doBack()">
					返回
			</div>
			</div>
			<img src="../../../img/list_Header2-.png">
			
			
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected">单项目预算实际成本差异</a>
			
		</div>
		
		
		<div class="table_div">
			
			<table id="dataTable" width="70%" border="0" cellspacing="0" cellpadding="0" class="table" style="margin-top:20px">
			   <tr class="tr2">
				<th class="tr1"><div align="center">项目年份</div></th>
				<td><div align="center">{{dailyList.PRO_YEAR}}</div></td>
				<th class="tr1"><div align="center">开始时间</div></th>
				<td colspan="2"><div align="center">{{dailyList.S_DATE}}</div></td>
			  </tr>
			   <tr class="tr2">
				<th class="tr1"><div align="center">项目类别</div></th>
				<td><div align="center">{{dailyList.CATEGORY_NAME}}</div></td>
				<th class="tr1"><div align="center">结束时间</div></th>
				<td colspan="2"><div align="center">{{dailyList.E_DATE}}</div></td>
			  </tr>
			   <tr class="tr2">
				<th class="tr1"><div align="center">项目名称</div></th>
				<td><div align="center">{{dailyList.PRO_NAME}}</div></td>
				<th class="tr1"><div align="center">项目编号</div></th>
				<td colspan="2"><div align="center">{{dailyList.PRO_CODE}}</div></td>
			  </tr>
			   <tr class="tr2">
				<th class="tr1"><div align="center">负责人</div></th>
				<td><div align="center">{{dailyList.PRO_MANAGER}}</div></td>
				<th class="tr1"><div align="center">概算利润率</div></th>
				<td colspan="2"><div align="center">{{decim(dailyList.BUDGET_RATE*100,2)}}%</div></td>
			  </tr>
			  <tr class="tr2">
				<th class="tr1"><div align="center">预估总价</div></th>
				<td><div align="center">{{fmoney(dailyList.contractValue,2)}}</div></td>
				<th class="tr1"><div align="center">项目时间进度(%)</div></th>
				<td colspan="2"><div align="center">{{dailyList.timeProcess}}</div></td>
			  </tr>
			  <tr class="tr2">
			    <th class="tr1"><div align="center">累计完工进度(%)</div></th>
				<td><div align="center">{{dailyList.COMPLETION}}</div></td>
				<th class="tr1"><div align="center">当前项目进度利润率</div></th>
				<td colspan="2"><div align="center">{{dailyList.CURRENT_RATE}}</div></td>
			  </tr>
			  <tr class="tr2">
				<th class="tr1"><div align="center">实际成本</div></th>
				<td><div align="center">{{dailyList.TOTAL_COST}}</div></td>
				<th class="tr1"><div align="center">阶段性概算成本</div></th>
				<td colspan="2"><div align="center">{{dailyList.BUGET_COST}}</div></td>
			  </tr>
			   <tr class="tr2">
				<th class="tr1"><div align="center">概算与实际差异</div></th>
				<!-- <td colspan="4"><div align="center">{{dailyList.DIFFERENCE}}</div></td> -->
				<td colspan="4" ng-if="dailyList.DIFFERENCE<0" style="color:red"><div align="center">{{dailyList.DIFFERENCE}}</div></td>
				<td colspan="4" ng-if="dailyList.DIFFERENCE>=0"><div align="center">{{dailyList.DIFFERENCE}}</div></td>
			  </tr>
			  <tr>
			  	<td colspan="5" style="height:40px"></td>
			  </tr>
			  <tr class="tr1">
			    <th><div align="center">序号</div></th>
				<th><div align="center">成本项</div></th>
				<th><div align="center">阶段性概算成本</div></th>
				<th><div align="center">实际成本</div></th>
				<th><div align="center">概算与实际差异</div></th>
			  </tr>
			  <tr class="tr2" ng-repeat="item in dailyList.COST_LIST" ng-class="{true:'zhende',false:'jiade'}[item.itemIndex=='A4' || item.itemIndex=='A4.4']">
			  	<td><div align="center">{{item.itemIndex}}</div></td>
				<td><div align="center">{{item.ITEM_NAME}}</div></td>
				<td><div align="center">{{item.bugetCost}}</div></td>
				<td><div align="center">{{item.COST_VALUE}}</div></td>
				<td><div align="center" ng-if="item.differ<0" style="color:red">{{item.differ}}</div>
					<div align="center" ng-if="item.differ>=0">{{item.differ}}</div></td>
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">

lay('#version').html('-v'+ laydate.v);

//执行一个laydate实例
laydate.render({
elem: '#starttime', //指定元素,
type:"month"
});


laydate.render({
	elem: '#endtime', //指定元素,
	type:"month"
	});




function createPageBar(totalPage, curPage,totalRecord){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		curPage:curPage,
		totalRecord: totalRecord,
		showPageInfo:true,
		prevPageText:"上一页",
		nextPageText:"下一页",
		onPage:function(pageNum){
			_currentPage=pageNum;
			ngScope.loadProjects(pageNum);
		}
	});
}




var cond_categoryCode="";
var proNo="";
var category="";//指标类别
var categoryName="";
var categoryCode="";
var fromDate="";
var toDate="";
var _currentPage=1;
var cycleName="";
var cycleCode="";
var kpiCode="";
var kpiName="";
var ngScope;
var starttime="";
var endtime="";
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	var params=getUrlParams();
	
    var proUrl="../../component/projectListCheck.html";
	  
    if(params.proNo){
    	proNo=params.proNo;
    }
    
    starttime=params.starttime;
    endtime=params.endtime;
    
   

	/* 千位逗号分隔 */
	$scope.fmoney=function(s,n){
		 if(s==undefined || s=="undefined"){
			 return "";
		 }else{
			 if(!isNaN(s)){
				 n = n > 0 && n <= 20 ? n : 2;
		         s = parseFloat((s + '').replace(/[^\d\.-]/g, '')).toFixed(n) + '';
		         var l = s.split('.') [0].split('').reverse(),
		             r = s.split('.') [1];
		         var  t = '';
		         for (var i = 0; i < l.length; i++)
		         {
		             t += l[i] + ((i + 1) % 3 == 0 && (i + 1) != l.length ? ',' : '');
		         }
		         return t.split('').reverse().join('') + '.' + r;
				}else{
					  return s;
				}
		 }
	};
	/* 获取四舍五入的方法 */
	$scope.decim=function(a,b){
		return decim(a,b);
	};
	/* 加载数据 */
	
	$scope.loadProjects=function(){//alert(unitCode);
		new ShowDlog().prompt({
			icon:"waitting",
			msg:"正在查询...",
			done:function(){},
			t:60*1000
		});
		$http.get(serviceBasePath+"eap/pmsServices/fm/proCost/bugetGet?companyCode="
				+userData.companyCode+"&ticket="+ticket+"&proNo="+proNo+"&categoryCode="+categoryCode+"&starttime="+starttime+"&endtime="+endtime).success(function(response){
					$dlog.close();
					if(response.statusCode==401){
					new parent.ShowDlog().prompt({
						icon:"warning",
						msg:"用户登录过期！请重新登录！",
						done:function(){
							window.noLogin(location.href);
						},
						t:2800
					});
					return;
				}
				if(response.statusCode==200){
					$scope.dailyList = response.data;
					$(".table").show();
					$(".tip").hide();
				}else{
					$scope.dailyList = [];
					$(".table").hide();
					$(".tip").show();
				}
			});
	};
	$scope.loadProjects();
	var queryDate="";
	/* 导出 */
	$scope.doExport=function(){
		excelExport("dataTable");
	};
	/* 查询 */
	$scope.doQuery=function(){
		//endtime=$("input[name=endtime]").val();
		//starttime=$("input[name=starttime]").val();
		$scope.loadProjects();
	};
	$scope.doBack=function(){
		
		
		
		hrefTo({
			url:"proCountActualCostDiff.html",
			data:getUrlParams()
		}); 

	};

});
</script>
</body>
</html>
