<!DOCTYPE HTML>
<html>
<head>
<title>物资入库详情</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/SimpleDateFormat.js"></script>

<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../../css/edit.css"/>
<script type="text/javascript" src="../../../../js/jquery.form.js"></script>

<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />

<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script src="../../../../js/jquery-photo-gallery/jquery.photo.gallery.js"></script>
<style type="text/css">
	#saveForm *{color:#999}
	.addBtn{padding:3px 8px;border-radius:5px;border:1px solid #797979;color:#797979;cursor:pointer;}
	.addBtn:hover{background:#eee}
	.dlog-edit2{width:500px;height:350px;}
	.addDataList_tr{height: 40px;line-height: 40px;border-bottom:1px solid #ccc}
	.addDataList_tr.th{font-weight: bold;}
	.eidtdiv {
		margin-left: 100px;
		text-align: center;
		padding-top: 8px;
		position: absolute;
		font-family: '微软雅黑';
		font-size: 12px;
		height: 27px;
		width: 80px;
		filter: alpha(Opacity = 80);
		-moz-opacity: 0.5;
		opacity: 0.5;
		background-color: black;
	}

	
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">物资入库详情</label>
			</div>
			<img src="../../../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected">基本信息</a>
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
				<tr>
					<th>标题</th>
					<td><input type="text" name="processTitle" class="readonly" readonly="readonly" value="{{getItemData.PROCESS_TITLE}}"/></td>
					<th>项目类别</th>
					<td>
						<input type="text" class="readonly" readonly="readonly" value="{{getItemData.CATEGORY_NAME}}" style="width:180px;" placeholder="项目类别"/>
					</td>	
				</tr>
				<tr>
					<th>项目名称</th>
					<td>
						<input type="text"  class="readonly" readonly="readonly" value="{{getItemData.PRO_NAME}}" style="width:180px;" placeholder="请选择项目"/>
					</td>
					<th>流程类型</th>
					<td>
						<input type="text"  class="readonly" readonly="readonly" value="{{getItemData.GTYPEName}}" style="width:180px;" placeholder="请选择项目"/>
					</td>
				</tr>
				<tr>
					<th>领料单</th>
					<td colspan="3">
						<div class="imgitem gallerys" ng-click="showdiv()" style="cursor:pointer;  width:100px ;height:100px">
							<!-- <div class="eidtdiv">
								<a ng-click="showdiv()">放大</a>
							</div> -->
							<img src="../../../../img/sitetx.png" id="lldImg" class="imgs gallery-pic"  width="100%"/>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected">物资列表</a>
		</div>
		<div class="form_div" id="lay12">
			<table width="600px" class="table1">
				<tr class="addDataList_tr th">
					<td align="center" width="15%"><div class="table_title">名称</div></td>
					<td align="center"><div class="table_title">数量</div></td>
					<td align="center"><div class="table_title">仓库</div></td>
				</tr>
				<tr ng-repeat="item in addDataList" class="addDataList_tr">
					<td align="center"><div>{{item.goodsName}}</div></td>
					<td align="center"><div>{{item.num}}({{item.unitName}})</div></td>
					<td align="center"><div>{{item.storeName}}</div></td>
				</tr>
				<tr class="tr2">
				  	<td><div align="center">审核意见</div></td>
					<td colspan="2">
						<textarea id="ExamineDesc" style="width:100%;height:80px;" placeholder="请输入审核意见"></textarea>
					</td>
				  </tr>
			</table>
		</div>
		</form>
		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave(1)" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;同意
			</a>
			<a href="javascript:" ng-click="onSave(2)" class="title_save" style="background-image:none;background:#ff8367;border-radius:18px;text-align:center">
				驳回
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		
	</div>
</div>
<script type="text/javascript">
var ngScope;
var userData;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.userList=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	$scope.urlParams = getUrlParams();
	var processCode=$scope.urlParams.processCode;
	var proStatus=$scope.urlParams.processStatus;
	$http.get(serviceBasePath+"eap/pmsServices/goods/getGoodsProcessDetail?processCode="+processCode).success(function(response){
		if(response.statusCode==401){
			alert("用户凭据过期！请重新登录！");
			window.top.location.href="../../login.html";
			return;
		}
		$scope.getItemData=response.data.goodObj;
		if($scope.getItemData.GTYPE==1){
			$scope.getItemData.GTYPEName="物资入库";
		}else if($scope.getItemData.GTYPE==2){
			$scope.getItemData.GTYPEName="退资入库";
		}else if($scope.getItemData.GTYPE==3){
			$scope.getItemData.GTYPEName="领用出库";
		}
		$scope.addDataList=response.data.goodslist;
		if($scope.getItemData.PIC1&&$scope.getItemData.PIC1!=''){
			$scope.st=filePath+"?fileCode="+$scope.getItemData.PIC1+"&attachment=0";
			$("#lldImg").attr("src",$scope.st);
		}
	});
	
	$scope.showdiv=function(){
		var img1=$("#lldImg");
		$.openPhotoGallery(img1,"../../../../js/jquery-photo-gallery/gallery.html");
	};

	var processStatus=1;
	var managerAuditDesc="";
	$scope.onSave = function(a){
		var params={};
		if(a==1){
			processStatus=4;
		}else if(a==2){
			processStatus=5;
		}
		var storemanAuditDesc=$("#ExamineDesc").val();
		params.processStatus=processStatus;
		params.processCode=processCode
		params.storemanAuditDesc=storemanAuditDesc;
		params.gtype=$scope.getItemData.GTYPE;
		new ShowDlog().prompt({
			icon:"waitting",
			msg:"正在提交...",
			done:function(){},
			t:60*1000
		});
		$http.post(serviceBasePath+"eap/pmsServices/goods/checkProcess",params, {
			headers:{"Content-Type":"application/x-www-form-urlencoded; charset=UTF-8"},
			transformRequest:function(data){
				return $.param(data);
			}
		}).success(function(response){
			location.href="materialsExamineList.html?gtype="+$scope.urlParams.gtype;
		});
	};
	
	/* 取消 */
	$scope.onCancel = function(){
		location.href="materialsExamineList.html?gtype="+$scope.urlParams.gtype;
	};
});
</script>
</body>
</html>
