<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.om.deviceMgr.device.dao.qualityCheckRecordMapper">
	<resultMap id="BaseResultMap" type="com.glens.pwCloudOs.om.deviceMgr.device.vo.QualityCheckRecordVo" >
	    <result column="ROWID" property="rowid" jdbcType="VARCHAR" />
	    <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR" />
	    <result column="DEVICE_OBJ_CODE" property="deviceObjCode" jdbcType="VARCHAR" />
	    <result column="CHECK_TYPE" property="checkType" jdbcType="INTEGER" />
	    <result column="CHECK_TIME" property="checkTime" jdbcType="TIMESTAMP" />
	    <result column="CHECK_USER" property="checkUser" jdbcType="VARCHAR" />
	    <result column="CHECK_RESULT" property="checkResult" jdbcType="INTEGER" />
	    <result column="FAULT_TYPE" property="faultType" jdbcType="VARCHAR" />
	    <result column="FAULT_DESCR" property="faultDescr" jdbcType="VARCHAR" />
	    <result column="PICS" property="pics" jdbcType="VARCHAR" />
	    <result column="IS_RECTIFY" property="isRectify" jdbcType="INTEGER" />
	    
	    <result column="CHECK_USER_NAME" property="checkUserName" jdbcType="VARCHAR" />
	    <result column="FAULT_NAME" property="faultName" jdbcType="VARCHAR" />
	</resultMap>
	<insert id="insert" parameterType="com.glens.pwCloudOs.om.deviceMgr.device.vo.QualityCheckRecordVo">
		insert into pm_quality_check_record (COMPANY_CODE, DEVICE_OBJ_CODE, CHECK_TYPE, CHECK_TIME, CHECK_USER,
			CHECK_RESULT, FAULT_TYPE, FAULT_DESCR, PICS, IS_RECTIFY)
		values(#{companyCode}, #{deviceObjCode}, #{checkType}, now(), #{checkUser}, 
			#{checkResult}, #{faultType}, #{faultDescr}, #{pics}, #{isRectify})
	</insert>
	<select id="findById" resultMap="BaseResultMap" parameterType="string">
		select 
			t1.ROWID,
			t1.COMPANY_CODE, t1.DEVICE_OBJ_CODE, t1.CHECK_TYPE, date_format(t1.CHECK_TIME, '%Y-%m-%d %H:%i:%S') as CHECK_TIME, t1.CHECK_USER,
			t1.CHECK_RESULT, t1.FAULT_TYPE, t1.FAULT_DESCR, t1.PICS, t1.IS_RECTIFY,
			t2.employeename as check_user_name,
			t3.problem_name as fault_name 
		from pm_quality_check_record t1
		left join md_employee t2 on t1.check_user = t2.employeecode
		left join pm_quality_problem t3 on t1.fault_type = t3.rowid
		where t1.rowid = #{rowid}
	</select>
	<select id="findByDeviceCode"  resultMap="BaseResultMap" parameterType="map">
		select 
			t1.ROWID,
			t1.COMPANY_CODE, t1.DEVICE_OBJ_CODE, t1.CHECK_TYPE, date_format(t1.CHECK_TIME, '%Y-%m-%d %H:%i:%S') as CHECK_TIME, t1.CHECK_USER,
			t1.CHECK_RESULT, t1.FAULT_TYPE, t1.FAULT_DESCR, t1.PICS, t1.IS_RECTIFY,
			t2.employeename as check_user_name,
			t3.problem_name as fault_name
		from pm_quality_check_record t1
		left join md_employee t2 on t1.check_user = t2.employeecode
		left join pm_quality_problem t3 on t1.fault_type = t3.rowid
		where t1.device_obj_code = #{deviceObjCode}
		<if test="checkType != null and checkType != ''">
			and t1.check_type = #{checkType}
		</if>
	</select>
	<delete id="delete" parameterType="string">
		delete from pm_quality_check_record
		where rowid = #{rowid}
	</delete>
	
</mapper>
