<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../js/placeholder.js"></script>
	<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../js/config.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/iconfont/iconfont.css"/>
	<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="../../js/util.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/bxyw1.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/mainindex.css"/>
	<title>我的</title>
</head>
<body ng-app="pmsWeb" ng-controller="mainCtrl">
	<header>
		<div class="return"><img src="../../img/return.png"></div>
		个人信息
	</header>
	<div class="my_main">
		<ul>
			<li class="ownMsg"><a href="#">姓名 <span class="msg_name">{{mesList.EMPLOYEENAME}}</span></a></li>
			<li class="ownMsg" ng-click="updataMsg(mesList.SEX,'SEX')">
				<a href="#" ng-if="mesList.SEX==1">性别  <span class="msg_name">女</span></a>
				<a href="#" ng-if="mesList.SEX==0">性别  <span class="msg_name">男</span></a>
			</li>
			<li class="ownMsg" ng-click="updataMsg(mesList.MARITAL,'MARITAL')">
				<a href="#" ng-if="mesList.MARITAL==1">婚姻状况  <span class="msg_name">未婚</span></a>
				<a href="#" ng-if="mesList.MARITAL==2">婚姻状况  <span class="msg_name">已婚</span></a>
				<a href="#" ng-if="mesList.MARITAL==3">婚姻状况  <span class="msg_name">未知</span></a>
			</li>
			<li class="ownMsg" style="margin-bottom:8px" ng-click="updataMsg(mesList.ADDR,'ADDR')"><a href="#">家庭住址 <span class="msg_name" style="text-overflow: ellipsis;width: 50%;overflow: hidden;white-space: nowrap;">{{mesList.ADDR}}</span></a></li>
			<li class="ownMsg"><a href="#" ng-click="updataMsg(mesList.MOBILEPHONE1,'MOBILEPHONE1')">手机  <span class="msg_name">{{mesList.MOBILEPHONE1}}</span></a></li>
			<li class="ownMsg" style="margin-bottom:8px"><a href="#" ng-click="updataMsg(mesList.MAIL,'MAIL')">邮箱  <span class="msg_name">{{mesList.MAIL}}</span></a></li>
			<li class="ownMsg" ng-click="updataMsg(mesList.EMERGENCY_CONTACTOR_NAME,'EMERGENCY_CONTACTOR_NAME')"><a href="#">紧急联系人  <span class="msg_name">{{mesList.EMERGENCY_CONTACTOR_NAME}}</span></a></li>
			<li class="ownMsg"><a href="#" ng-click="updataMsg(mesList.EMERGENCY_CONTACTOR_PHONE,'EMERGENCY_CONTACTOR_PHONE')">紧急联系人号码  <span class="msg_name">{{mesList.EMERGENCY_CONTACTOR_PHONE}}</span></a></li>
			<li class="ownMsg"><a href="#" ng-click="updataMsg(mesList.EMERGENCY_CONTACTOR_RELATION,'EMERGENCY_CONTACTOR_RELATION')">紧急联系人关系  <span class="msg_name">{{mesList.EMERGENCY_CONTACTOR_RELATION}}</span></a></li>
		</ul>
	</div>
<script>
var app = angular.module("pmsWeb", []);
app.controller("mainCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	var urlParams = getUrlParams();
	var userDataStr = $.cookie("pmsWeb_user_data");
	var userData = jQuery.parseJSON(userDataStr);
	var accountCode=userData.accountCode;
	$scope.mesList="";
	$http.get(serviceBasePath+"eap/pmsServices/opsAppService/employeeInfo?accountCode="+accountCode).success(function(response){
		if(response.statusCode==200){
			$scope.mesList= response.data;
		}
	});
	
	$scope.updataMsg=function(msg,type){
		location.href="updataMsg.html?msg="+msg+"&type="+type+"&ADDR="+$scope.mesList.ADDR+"&EMERGENCY_CONTACTOR_NAME="+$scope.mesList.EMERGENCY_CONTACTOR_NAME+"&EMERGENCY_CONTACTOR_PHONE="+$scope.mesList.EMERGENCY_CONTACTOR_PHONE+"&EMERGENCY_CONTACTOR_RELATION="+$scope.mesList.EMERGENCY_CONTACTOR_RELATION+"&MAIL="+$scope.mesList.MAIL+"&MOBILEPHONE1="+$scope.mesList.MOBILEPHONE1;
	};
	
	
});
$(".return").click(function(){
	location.href="accuntSafe.html"
});
</script>
</body>
</html>