<!DOCTYPE HTML>
<html ng-app="moduleName">
<head>
<title> 任务派单</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/time.js"></script>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<link rel="stylesheet" type="text/css" href="../../../css/list.css" />

<style type="text/css">
.dialog-images{width:1000px;height:600px;}
.dialog-imp{width:600px;height:340px;}
.title_div2{border:solid 0px red;background:#4CA9FF;padding:8px 6px 8px 6px;}
.title_div2 .condLayer1{display:block;border:solid 0px;margin:6px;}
.title_div2 .condLayer2{border:solid 0px green;margin:6px;}
.title_div2 .condLayer1 input{height:28px;line-height:28px;border:solid 1px #f4f4f4;color:#666;margin:0 4px;padding:0 4px;font-family:微软雅黑;}
.title_div2 .condLayer2 input{height:28px;line-height:28px;border:solid 1px #f4f4f4;color:#666;margin:0 4px;padding:0 4px;background-color:#DAEDFF;font-family:微软雅黑;}
.title_div2 .btn{display:inline-block;height:30px;line-height:30px;margin:0 4px;padding:0 15px 0 15px;background:#f4f4f4;color:#666;font-weight:bold;cursor:pointer;border:solid 1px #89C6FF; border-radius:4px;}
.title_div2 .blue{background:#3385FF;color:#fff;}
.title_div2 .blue:hover{background:#186CE7;}
.title_div2 .pink{background:#ED7798;color:#fff;}
.title_div2 .pink:hover{background:#E54673;}
.dialog-cls{width:500px;height:400px}
</style>
</head>

<body ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div2">
			<div class="condLayer1">
				<input type="text" id="category" class="dropDownList" style="width:110px;" placeholder="请选择项目分类"/>
				<input type="text" id="proName" class="dropDownList" style="width:140px;" placeholder="请选择项目"/>
				<!--<input type="text" id="mct" class="dropDownList" style="width:150px;" placeholder="请选择总控表"/> 
				 --><input type="text" id="searchName" name="searchName" placeholder="请输入任务名" style="width:160px;">
				<input type="text" id="status" class="dropDownList" placeholder="状态" style="width:87px;margin-right:2px;">
				<input type="text" id="overdueStatus" class="dropDownList" placeholder="超期" style="width:84px;margin-left:2px;">
				<input type="text" id="resultFlag" class="dropDownList" placeholder="处理状态" style="width:84px;margin-left:2px;">
				<input type="text" id="starttime" name="fromDate" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)" />
				<input type="text" id="endtime"   name="toDate" class="date dateComponent" placeholder="请选择结束时间" onclick="new Calendar().show(this)" />
				
				
				<div class="btn blue" ng-click="doQuery()">
					查询
				</div>
				
				
				
				<div class="btn" ng-click="showzp()">
					指派
				</div>
				
			</div>
			
			<div class="condLayer2">
				<!-- 动态条件 -->
				<span ng-repeat="item in theadData.searchFields">
				<input ng-if="item.dtype==4" type="text" group="cond" id="{{item.ename}}" style="width:180px;" class="dropDownList" placeholder="{{item.cname}}"/>
				
				</span>
				<!-- 动态条件 -->
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
			    <th align="center">
			       <div align="center" style="width:60px;text-align: center" >
			        	 全选<input style="position: absolute;" type="checkbox"  name="checkAll" value="0" ng-click="checkAll()"  />
			       </div>  
			    </th>
				<th><div align="center">序号</div></th>
				<th><div align="center">任务编号</div></th>
				<th><div align="center">项目</div></th>
				<th><div align="center">人员</div></th>
				<th><div align="center">名称</div></th>
				<th><div align="center">状态</div></th>
				<th><div align="center">超期</div></th>
				<th><div align="center">任务处理状态</div></th>
				<th><div align="center">计划开始日期</div></th>
				<th><div align="center">计划结束日期</div></th>
				<th><div align="center">实际开始日期</div></th>
				<th><div align="center">实际结束日期</div></th>
				
				<th>操作</th>
			  </tr>
			  <tr ng-repeat="item in taskList" class="tr2">
			    <td><div align="center"><input type="checkbox"  name="taskCheck" value="{{item.taskCode}}" prop="{{item.proNo}}" /></div></th>
				<td><div align="center">{{$index+1}}</div></th>
				<td><div align="center">{{item.taskCode}}</div></td>
				<td><div align="center">{{item.proName}}</div></td>
				<td><div align="center">{{item.employeeName}}</div></td>
				<td><div align="center">{{item.taskName}}</div></td>
				<td ng-if="item.taskStatus==1" style="background:#ccc">
					<div align="center">已创建</div>
					<div align="center" ng-if="item.taskStatus==2" >已派单</div>
					<div align="center" ng-if="item.taskStatus==3" >已完成</div>
				</td>
				<td ng-if="item.taskStatus==2" style="background:#eee">
					
					<div align="center">已派单</div>
			
				</td>
				<td ng-if="item.taskStatus==3" style="background:#87CEEB">
					
					<div align="center" >已完成</div>
				</td>
				<td style="background:green;color:#fff" ng-if="item.timeoutStatus==1"><div align="center" >正常</div></td>
				<td style="background:orange;color:#fff" ng-if="item.timeoutStatus==2"><div align="center" >告警</div></td>
				<td style="background:red;color:#fff" ng-if="item.timeoutStatus==3"><div align="center" >超期</div></td>
				
				<td ng-if="item.taskResultFlag==2"><div align="center" >未处理</div></td>
				<td ng-if="item.taskResultFlag==1" ><div align="center" >处理成功</div></td>
				<td ng-if="item.taskResultFlag==0" style="background:red;color:#fff"><div align="center" >处理失败</div></td>
				
				<td><div align="center">{{item.startTime1}}</div></td>
				<td><div align="center">{{item.endTime1}}</div></td>
				<td><div align="center">{{item.startTime2}}</div></td>
				<td><div align="center">{{item.endTime2}}</div></td>
				
				
				
				<td align="center">
			    	<!-- <img class="operationImg" ng-click="doDel(item)" src="../../../img/list_delete-icon.png" title="删除"> -->
			        <img class="operationImg" ng-click="doDetail(item)" src="../../../img/list_see-icon.png" title="查看">
			        
			        
			        <img ng-if="item.taskStatus==1" class="operationImg" ng-click="showzp1(item)" src="../../../img/toperson.png" title="指派">
			        
			        <img ng-if="item.taskStatus==2" class="operationImg" ng-click="showzp1(item)" src="../../../img/toperson.png" title="指派">
				</td>
			  </tr>
			  
			</table>
		</div>
		<div id="page_bar" class="list_bottom" align="center" >
				
	    </div>
		

	</div>
</div>
<script type="text/javascript">
var _currentPage=1;
function createPageBar(totalPage,curPage,totalRecord){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		curPage:curPage,
		totalRecord:totalRecord,
		prevPageText:"上一页",
		nextPageText:"下一页",
		showPageInfo:true,
		onPage:function(pageNum){
			_currentPage=pageNum;
			//ngScope.loadProjects(searchName,assetTypeCode, assetClassCode,status,pageNum,proNo,fromDate,toDate,price1,price2,loanUnitCode);
			//ngScope.loadProjects(assetTypeCode, assetClassCode,fromDate, toDate,proNo,_currentPage,loanUnitCode);
			ngscope.loadData(_currentPage);
			
		}
	});
}
var ngscope;

simpleController({
	init:function($scope, $http){
		/*
			data={
				searchFields:[],//
				listFields:[{},{}],
				dataList:[{name:'',health:'',properties:[{field1:'',field2:''}]}]
			}
		*/
		var urlParams=getUrlParams();
		$scope.theadData={};
		$scope.dataList={};
		ngscope=$scope;
		
		$scope.cond_category="";
		$scope.cond_categoryName="";
		$scope.cond_proNo="";
		$scope.cond_proName="";
		$scope.cond_mct="";
		$scope.cond_mctName="";
		
		
		$scope.cond_searchName="";
		
		//$scope.searchName="";
		$scope.overdueStatus="";
		$scope.overdueStatusName="";
		
		$scope.status="";
		$scope.statusName="";
		
		$scope.resultFlag="3";
		$scope.resultFlagName="";
		
		
		
		

		
		
		
		var urlParams = getUrlParams();
		//propertyChooseCopy(urlParams, $scope, ["cond_category","cond_proNo", "cond_categoryName","cond_proName", "cond_searchName","overdueStatus", "status", "resultFlag", "startTime1", "endTime1"]);
		if(urlParams.cond_categoryName && urlParams.cond_categoryName.length>0){
			$("#category").val(urlParams.cond_categoryName);
		}
		if(urlParams.cond_proName && urlParams.cond_proName.length>0){
			$scope.cond_proNo=urlParams.cond_proNo;
			$("#proName").val(urlParams.cond_proName);
		}
		
		if(urlParams.statusName && urlParams.statusName.length>0){
			$scope.status=urlParams.status;
			$("#status").val(urlParams.statusName);
		}
		
		if(urlParams.overdueStatusName && urlParams.overdueStatusName.length>0){
			$scope.overdueStatus=urlParams.overdueStatus;
			$("#overdueStatus").val(urlParams.overdueStatusName);
		}
		
		if(urlParams.resultFlagName && urlParams.resultFlagName.length>0){
			$scope.resultFlag=urlParams.resultFlag;
			$("#resultFlag").val(urlParams.resultFlagName);
		}
		
	
		
		if((urlParams.startTime1 && urlParams.startTime1.length>0)||urlParams.startTime1==""){
			$scope.startTime1=urlParams.startTime1;
			$("#starttime").val(urlParams.startTime1);
		}else{
			$scope.startTime1=getCurrentDate();
			$("#starttime").val($scope.startTime1);
			
		}
		
		if((urlParams.endTime1 && urlParams.endTime1.length>0)||urlParams.endTime1==""){
			$scope.endTime1=urlParams.endTime1;
			$("#endtime").val(urlParams.endTime1);
		}else{
			$scope.endTime1=getCurrentDate();
			$("#endtime").val($scope.endTime1);
		}
		
		if(urlParams.cond_searchName && urlParams.cond_searchName.length>0){
			$scope.cond_searchName=urlParams.cond_searchName;
			$("input[name=searchName]").val(urlParams.cond_searchName);
		}
	
		
		
	
		
	
		
		window.onkeyup=function(e){
			if(e.keyCode==13){
				$scope.doQuery();
			}
		};
		/* 项目分类 */
		new DropDownList().init({
			mode:"page",
			renderTo:"#category",
			url:"../../component/projectType.html?ticket="+$scope.ticket,
			height:"200px",
			onSelected:function(result){
				$scope.cond_category=result.categoryCode;
				$("#category").val(result.categoryName);
				$scope.cond_categoryName=result.categoryName;
				proNameList.setConfig("url", "../../component/projectList.html?categoryCode="+result.categoryCode+"&ticket="+$scope.ticket);
			}
		});
		/* 项目列表 */
		var proNameList = new DropDownList();
		proNameList.init({
			mode:"page",
			renderTo:"#proName",
			url:"../../component/projectList.html?ticket="+$scope.ticket,
			height:"200px",
			onSelected:function(result){
				$scope.cond_proNo=result.proNo;
				$("#proName").val(result.proName);
				$scope.cond_proName=result.proName;
				$scope.loadData(1);
				//mctList.setConfig("url", "../../component/mctType.html?proNo="+$scope.cond_proNo);
			}
		});
		
		/*  项目总控表
		var mctList = new DropDownList();
		mctList.init({
			renderTo:"#mct",
			url:"../../component/mctType.html?proNo="+$scope.cond_proNo,
			onSelected:function(item){
				$scope.cond_mct=item.mctCode;
				$("#mct").val(item.mctName);
				$scope.cond_mctName=item.mctName;
				if($scope.cond_mct!=null && $scope.cond_mct.length>0){
					$scope.loadTheader($scope.cond_mct);
					$scope.doQuery();
				}else{
					callNgFn({ctrlEl:$("body")[0], ngFn:function(scope){
						scope.theadData.searchFields = [];
					}});
				}
			}
		}); */
		
		
		

		new DropDownList().init({
			renderTo:"#overdueStatus",
			mode:"list",
			data:[{id:"", name:"全部"},{id:1, name:"期间内"},{id:2, name:"超期"},{id:3, name:"预警"}],
			textField:"name",
			onSelected:function(item){
				
				$("#overdueStatus").val(item.name);
				$scope.overdueStatus=item.id;
				$scope.overdueStatusName=item.name;
				//ngScope.loadUsers(companyCode,unitCode,employeeName,appType,logFromTime,logToTime);
				$scope.loadData(1);
			}
		});

		new DropDownList().init({
			renderTo:"#status",
			mode:"list",
			data:[{id:"", name:"全部"},{id:1, name:"已创建"},{id:2, name:"已派单"},{id:3, name:"已完成"}],
			textField:"name",
			onSelected:function(item){
				
				$("#status").val(item.name);
				$scope.status=item.id;
				$scope.statusName=item.name;
				$scope.loadData(1);
				
			}
		});
		
		new DropDownList().init({
			renderTo:"#resultFlag",
			mode:"list",
			data:[{id:"3", name:"全部"},{id:1, name:"处理成功"},{id:2, name:"处理失败"}],
			textField:"name",
			onSelected:function(item){
				
				$("#resultFlag").val(item.name);
				$scope.resultFlag=item.id;
				$scope.resultFlagName=item.name;
				$scope.loadData(1);
				
			}
		});
		
		
		/* 加载条件和表头信息 */
		$scope.loadTheader=function(){
			$scope.httpGet({
				url:"eap/pmsServices/om/deviceMgr/device/mctListAttr1?companyCode="+$scope.userData.companyCode,
				data:{"deviceTypeCode":"P02"},
				success:function(response){
					$scope.theadData = response.data;
					//alert($scope.theadData.searchFields.length)
					/* 初始化搜索条件 */
					lazyCall('t1',function(){
						for(var i=0; i<$scope.theadData.searchFields.length; i++){
							(function(){
								var searchField = $scope.theadData.searchFields[i];
								if(searchField.dtype==4){
									/* 搜索条件*/ 
									searchField.enumValue.unshift("(清空)");
									new DropDownList().init({
										renderTo:"#"+searchField.ename,
										data:searchField.enumValue,
										height:"200px",
										onSelected:function(result){
											if(result=="(清空)"){
												$("#"+searchField.ename).val("");
											}else{
												$("#"+searchField.ename).val(result);
											}
										}
									});
								}
							})();
						}
					}, 100);
				}
			});
		};
		$scope.importExcel=function(){
			new ShowDlog().showFrame("impExcel.html", "导入", function(data){
				if(data=="SUCCESS"){
					$scope.to({
						url:"taster.html",
						data:urlParams
					});
				}
			}, "dialog-imp");
		}
		/* 数据加载 */
		$scope.loadData=function(currentPage){
		
			$http.get(serviceBasePath+"eap/pmsServices/pm/taskMgr/task/getList?proNo="
					+$scope.cond_proNo+"&searchName="+$scope.cond_searchName+"&taskStatus="+$scope.status+"&overdueStatus="
					+$scope.overdueStatus+"&taskResultFlag="+$scope.resultFlag+"&startTime1="+$scope.startTime1+"&endTime1="
					+$scope.endTime1+"&attrJson="+$scope.cond_condStr+"&currentPage="+currentPage).success(function(response){
					if(response.statusCode!=200){
						//alert("请求服务器失败！");
						$scope.taskList=[];
						return;
					}
					$scope.taskList = response.list;
					createPageBar(response.totalPage, response.currentPage,response.totalRecord);
			});
			
			
		};
		
		
		
		
		/* 查询 */
		$scope.doQuery=function(){
			//alert($scope.status)
			var cond={};
			$("input[group=cond]").each(function(){
				var $cond = $(this);
				var key = $cond.attr("id");
				var val = $cond.val();
				cond[key]=val;
			});
			$scope.cond_condStr=JSON.stringify(cond);
			$scope.cond_searchName=$("input[name=searchName]").val();
			if($scope.theadData.searchFields){
				var vars="";
				for(var i=0; i<$scope.theadData.searchFields.length; i++){
					var searchField = $scope.theadData.searchFields[i];
					if(searchField.dtype==1){
						if(vars && vars.length>0){
							vars+=",";
						}
						vars+=searchField.ename;
					}
				}
				$scope.cond_searchName=vars+";"+$scope.cond_searchName;
			}
			
			$scope.startTime1=$("#starttime").val();
			$scope.endTime1=$("#endtime").val();
			
		    $scope.loadData(1);
			
			
		};
		
		
		
		$scope.checkAll=function(){
			
			var isChecked=$("input[name=checkAll]").is(':checked');
				 
			if(isChecked){
				
				$(":checkbox").prop('checked',true);
					
			}else{
	
				$(":checkbox").prop('checked',false);
			}
		};
		
		/* 指派框  */
		$scope.showzp=function(){
			   var proNos=[];
			   var chk_value =[]; 
				/* if($scope.cond_proNo==""){
					new ShowDlog().prompt({
						icon:"message",
						msg:"请选择项目！",
						done:function(){
	
						},
						t:1500
					});
				} */
				
				$('input[name="taskCheck"]:checked').each(function(){ 
					chk_value.push($(this).val()); 
					proNos.push($(this).attr("prop"));
				}); 
				
				if(proNos.length==0){
					new ShowDlog().prompt({
						icon:"message",
						msg:"请选择任务！",
						done:function(){
							//location.reload();
						},
						t:1500
					});
					
				}else{
					var result=1; //成功
					for(var i=0;i<proNos.length;i++){
						if(i>0){
							if(proNos[i]!=proNos[i-1]){
								result=0;
								break;
							}
						}					
					}
					if(result==0){//选择的项目类型不一致
						new ShowDlog().prompt({
							icon:"message",
							msg:"请选择同一个项目！",
							done:function(){
								return false;
							},
							t:1500
						});
					}else{
						new ShowDlog().showFrame("showzpr.html?proNo="+proNos[0]+"&taskCode="+chk_value, "请选择人员", function(){
							$scope.loadData(_currentPage);
							
							// 
						},"dialog-cls");
					}
					
					
					
					
					
				}
				
				
				//alert(chk_value.length==0 ?'你还没有选择任何内容！':chk_value); 
				
				
				
			
			
			
			
		};
		
		
	  $scope.showzp1=function(item){
					new ShowDlog().showFrame("showzpr.html?proNo="+item.proNo+"&taskCode="+item.taskCode, "请选择人员", function(){
						$scope.loadData(_currentPage);
						// 
					},"dialog-cls");
		};
		
		/* if($scope.cond_mct!=null && $scope.cond_mct.length>0){
			$scope.loadTheader($scope.cond_mct);
			$scope.doQuery();
		}
		 */
		
		/* 删除 */
		$scope.doDel=function(item){
			new ShowDlog().confirm({
				msg:"确定删除【"+item.deviceObjName+"】吗？",
				ok:function(){
					$scope.httpPost({
						url:"eap/pmsServices/om/deviceMgr/device/deleteMctDevice",
						data:{
							"deviceObjCode":item.deviceObjCode
						},
						success:function(res){
							new ShowDlog().prompt({
								icon:"success",
								msg:"删除成功！",
								done:function(){
									location.reload();
									/*hrefTo({
										url:"deviceAttrFieldMgr.html",
										data:{
											"selectedUnitCode":$scope.selectedUnitCode, 
											"accountType":$scope.accountType, 
											"searchName":$scope.searchName
										}
									});*/
								},
								t:1500
							});
						}
					});
				}
			});
		};
		
		
		$scope.doDetail=function(item){
			hrefTo({
				url:"taskDetail1.html",
				data:{
					"taskCode":item.taskCode,
					"cond_category":$scope.cond_category, 
					"cond_proNo":$scope.cond_proNo,
					"cond_categoryName":$scope.cond_categoryName, 
					"cond_proName":$scope.cond_proName,
					"cond_searchName":$("input[name=searchName]").val(),
					"overdueStatus":$scope.overdueStatus,
					"overdueStatusName":$scope.overdueStatusName,
					"status":$scope.status,
					"statusName":$scope.statusName,
					"resultFlag":$scope.resultFlag,
					"resultFlagName":$scope.resultFlagName,
					"startTime1":$scope.startTime1,
					"endTime1":$scope.endTime1
					
				}
			});
		};

		

		
		
	
		
		$scope.loadTheader();
		$scope.doQuery();
	}
});
</script>
</body>
</html>
