<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.pwBaoAppMapper">
	
	
	<select id="getUserByAccount" parameterType="java.lang.String" resultType="map">
		
		select a.REGION_CODE regionCode,a.EMPLOYEECODE employeeCode,a.ACCOUNT_CODE accountCode,a.ACCOUNT_NAME accountName,
		b.REGION_NAME regionName,c.EMPLOYEENAME employeeName,d.COMPANY_CODE companyCode,d.COMPANY_NAME companyName,
		e.UNIT_CODE unitCode,e.UNIT_NAME unitName,ifnull(c.MOBILEPHONE1, '') mobilePhone, f.pro_no proNo,g.pro_name proName from pf_account a 
		join md_region b on a.REGION_CODE=b.REGION_CODE 
		join md_employee c on a.EMPLOYEECODE=c.EMPLOYEECODE 
		join es_company d on a.COMPANY_CODE=d.COMPANY_CODE 
		join md_org_unit e on c.UNIT_CODE=e.UNIT_CODE 
		join pm_member f on c.employeecode=f.employeecode  
		join pm_base g on f.pro_no=g.pro_no 
		where a.SYS_PROCESS_FLAG='1' and a.ACCOUNT_TYPE=1 and f.WORK_STATUE=1 and a.ACCOUNT_NAME=#{accountName}
	</select>
	
	<select id="getPswByAccountName" parameterType="java.lang.String" resultType="java.lang.String">
		select ACCOUNT_PASSWORD psw from pf_account where ACCOUNT_TYPE=1 and SYS_PROCESS_FLAG='1' and ACCOUNT_NAME=#{accountName}
	</select>
	
	<select id="getCommuteConfig" parameterType="map" resultType="map">
		select company_code companyCode, unit_code unitCode, pro_no proNo, DATE_FORMAT(checkin_time,'%H:%i:%s') checkinTime,DATE_FORMAT(checkout_time,'%H:%i:%s') checkoutTime,
		CHECKIN_EX_MINITES checkinExMinites,CHECKOUT_EX_MINITES checkoutExMinites,CHECK_POINT_TOTAL checkPointTotal from cp_commute_config 
		where SYS_PROCESS_FLAG='1' and company_code=#{companyCode} and pro_no=#{proNo} order by COMMUTE_SETTIME DESC limit 0,1
	</select>
	
	<select id="getIntelligenceType" resultType="map">
		select INTELLIGENCE_TYPE_CODE intelligenceTypeCode,INTELLIGENCE_TYPE_NAME intelligenceTypeName 
		from cp_intelligence_type where SYS_PROCESS_FLAG='1'
	</select>
	
	<select id="getRoleApp" resultType="map" parameterType="map">
		SELECT a.LAPP_CODE appCode,a.LAPP_NAME appName,A.ICON appIco,a.INDUSTRY_CODE indusrtyCode,a.DOMAIN_CODE domainCode,
		a.LAPP_DESC lappDesc,a.LAPP_SERVICE appService,a.LAPP_URL appUrl,a.version appVersion,LAPP_TYPE appType,
		c.GROUP_CODE groupCode,c.GROUP_NAME groupName  
		FROM AD_LAPP_MODULES a
		JOIN sm_role_lapp l ON l.LAPP_CODE =a.LAPP_CODE 
		JOIN pf_account b ON l.ROLE_CODE=b.ROLECODE
		JOIN ad_lapp_module_group c ON a.GROUP_CODE=c.GROUP_CODE
		WHERE b.ACCOUNT_CODE=#{accountCode}
		 ORDER BY c.GROUP_ORDER,a.LAPP_ORDER
	</select>
	
	<select id="getIntelligenceUrgency" resultType="map">
		select INTELLIGENCE_URGENCY_TYPE_CODE intelligenceUrgenceTypeCode,INTELLIGENCE_URGENCY_TYPE_NAME 
		intelligenceUrgenceTypeName FROM cp_intelligence_urgency_type where SYS_PROCESS_FLAG='1'
	</select>
	
	<insert id="insertIntelligence" parameterType="map">
		insert into CP_INTELLIGENCE_INFO(COMPANY_CODE, UNIT_CODE, EMPLOYEECODE, ACCOUNT_CODE, 
		INTELLIGENCE_TYPE_CODE,INTELLIGENCE_DESC,INTELLIGENCE_URGENCY_TYPE_CODE,IMG1,IMG2,IMG3,X,Y,RP_TIME
		,SYS_CREATE_TIME,SYS_PROCESS_FLAG) values (#{companyCode},#{unitCode},#{employeeCode},#{accountCode},
		#{intelligenceTypeCode},#{intelligenceDesc},#{intelligenceUrgencyTypeCode},#{img1},#{img2},#{img3},#{x},#{y},#{rpTime},now(),'1')
	</insert>
	
	<insert id="saveCheckin" parameterType="map">
		insert into cp_commute_check(COMPANY_CODE,UNIT_CODE,EMPLOYEECODE,ACCOUNT_CODE,CHECKIN_TIME,CHECKIN_IMG1,
		CHECKIN_IMG2,SYS_CREATE_TIME,SYS_PROCESS_FLAG,CHECKIN_X,CHECKIN_Y,IS_CHECKIN) values
		(#{companyCode},#{unitCode},#{employeeCode},#{accountCode},#{checkinTime},#{checkinImg1},
		#{checkinImg2},now(),'1',#{x},#{y},1)
	</insert>
	
	<update id="updateCheckout" parameterType="map">
		update cp_commute_check set CHECKOUT_TIME=#{checkinTime},CHECKOUT_IMG1=#{checkinImg1},CHECKOUT_IMG2=#{checkinImg2},SYS_UPDATE_TIME=NOW(),
		CHECKOUT_X=#{x},CHECKOUT_Y=#{y},IS_CHECKOUT=1,USED_POWER=#{usedPower},USED_FLOW=#{usedFlow} where COMPANY_CODE=#{companyCode} AND UNIT_CODE=#{unitCode} 
		AND EMPLOYEECODE=#{employeeCode} AND ACCOUNT_CODE=#{accountCode} 
		AND DATE_FORMAT(CHECKIN_TIME,'%Y-%m-%d')=DATE_FORMAT(now(),'%Y-%m-%d')
	</update>
	
	
	<update id="updateCheckDistance" parameterType="map">
		update cp_commute_check set distance=#{distance} where COMPANY_CODE=#{companyCode} AND UNIT_CODE=#{unitCode} 
		AND EMPLOYEECODE=#{employeeCode} AND ACCOUNT_CODE=#{accountCode} 
		AND DATE_FORMAT(CHECKIN_TIME,'%Y-%m-%d')=DATE_FORMAT(now(),'%Y-%m-%d')
	</update>
	
	
	<select id="getMyCommuteInfoByDate" parameterType="map" resultType="map">
		select ifnull(checkin_time,'') checkinTime, ifnull(checkout_time,'') checkoutTime, 
		case when checkout_time is null then 0 else time_to_sec(timediff(checkout_time,checkin_time))/60 end workTime 
		from cp_commute_check where DATE_FORMAT(SYS_CREATE_TIME,'%Y-%m-%d')=#{date} 
		and COMPANY_CODE=#{companyCode} and ACCOUNT_CODE=#{accountCode}
	</select>
	
	<select id="getLastMobileVersion" resultType="map">
		select VERSION_CODE versionCode,VERSION_TYPE versionType,APK_NAME apkName from SM_MOBILE_VERSION 
		where IS_PUBLISH=1 and APP_TYPE=1 and SYS_PROCESS_FLAG='1'
	</select>
	
	<update id="updateUserPsw" parameterType="java.util.HashMap">
		update pf_account set ACCOUNT_PASSWORD=#{psw} where ACCOUNT_CODE=#{accountCode}
	</update>
	
	<select id="getEmployeeInfo" parameterType="java.lang.String" resultType="map">
		
		select c.EMPLOYEECODE,c.EMPLOYEENAME,ifnull(c.NICKNAME,'') NICKNAME,SEX,ifnull(c.MARITAL,3) MARITAL,
		ifnull(c.ADDR,'') ADDR,ifnull(c.MOBILEPHONE1,'') MOBILEPHONE1,ifnull(c.MAIL,'') MAIL,
		ifnull(c.EMERGENCY_CONTACTOR_NAME,'') EMERGENCY_CONTACTOR_NAME,ifnull(c.EMERGENCY_CONTACTOR_PHONE,'') EMERGENCY_CONTACTOR_PHONE,
		ifnull(c.EMERGENCY_CONTACTOR_RELATION,'') EMERGENCY_CONTACTOR_RELATION,c.UNIT_CODE
		from pf_account a  
		join md_employee c on a.EMPLOYEECODE=c.EMPLOYEECODE 
		where account_code=#{accountCode}
		
	</select>
	
	<select id="updateEmployeeField" parameterType="map" statementType="STATEMENT">
		
		update md_employee set ${field}=${fieldValue} where employeecode='${employeeCode}'
		
	</select>
	
	<select id="getEmployeeCheckInTime" parameterType="map" resultType="java.lang.String">
		select DATE_FORMAT(CHECKIN_TIME,'%Y-%m-%d %H:%i:%s') checkInTime from cp_commute_check
		where COMPANY_CODE=#{companyCode} AND UNIT_CODE=#{unitCode} 
		AND EMPLOYEECODE=#{employeeCode} AND ACCOUNT_CODE=#{accountCode} 
		AND DATE_FORMAT(CHECKIN_TIME,'%Y-%m-%d')=DATE_FORMAT(now(),'%Y-%m-%d')
	</select>
	
	<select id="getUserCurdateCheckInfo" parameterType="map" resultType="map">
		select DATE_FORMAT(CHECKIN_TIME,'%Y-%m-%d %H:%i:%s') checkInTime,
		DATE_FORMAT(CHECKOUT_TIME,'%Y-%m-%d %H:%i:%s') checkOutTime  
		from cp_commute_check
		where COMPANY_CODE=#{companyCode} AND ACCOUNT_CODE=#{accountCode} 
		AND DATE_FORMAT(CHECKIN_TIME,'%Y-%m-%d')=DATE_FORMAT(now(),'%Y-%m-%d')
	</select>
	
</mapper>
