<!DOCTYPE HTML>
<html>
<head>
<title>部门内调动</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>


<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />
<style type="text/css">
	.all{width:100%;height:100%}
	.top{width:98%;height:90px;background:#eee; border:1px #ccc solid;padding-top:10px;margin-left:5px;margin-top:15px;}
	.table1{height:40px;width:40%;font-family: '微软雅黑' ;text-align: center;}
	
	.dropDownList{background-image:url(../../../img/drop_down_list.png);background-repeat: no-repeat;background-position:right;cursor:pointer;
	height:30px;border:solid 0px;margin-left:10px;
	color:#666;margin-top:5px;padding-left:4px;font-size:12px;font-family:"微软雅黑";
	}
	.inp{height:25px;border:solid #ccc 1px;margin-left:10px;
	color:#666;margin-top:5px;padding-left:4px;font-size:12px;font-family:"微软雅黑"}
	.dlog_dialog{height:220px}
	.dialogcss{width:350px;height:150px;}
	.chooseUser{width:1000px;height:500px;}
	
</style>

</head>

<body ng-app="projectType" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">&nbsp;&nbsp;人员调动</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		
	<form id="saveForm" class="required-validate">
		<div style="height:20px;margin-left:10px;padding-top:20px;">
				调动性质1
				<input type="radio" name="moveChar" checked="checked" onclick="hidediv()" value="1" />平调
				<input type="radio" name="moveChar" onclick="showdiv()" value="2" />升调
				<input type="radio" name="moveChar" onclick="showdiv2()" value="3" />降调
		</div>
		
		<div style="margin-top:10px;margin-left:10px">
			&nbsp;函号 &nbsp; <input type="text"  name="fileNo" style="height:25px;width:250px;border:solid #ccc 1px;font-family:'微软雅黑'" class="required" />
			调动时间 <input type="text" id="starttime" name="moveDate"  class="required date dateComponent inp" placeholder="请选择调动时间" onclick="new Calendar().show(this)" />
			生效时间 <input type="text" id="endtime" name="validDate" class=" required date dateComponent inp" placeholder="请选择生效时间" onclick="new Calendar().show(this)" />
		</div>
		<div class="top">
			<div style="margin-left:10px;margin-top:5px;margin-bottom:5px;font-size:14px;">调入前</div>
			<input type="text" id="projectType" name="proName1"  class="dropDownList required" placeholder="部门名称" style="width:200px;" />
			<input type="hidden"  name="proNo1"   />
			
			
			
			<input type="text"  id="employee" style="width:120px;margin-left:60px;" name="employeeName" class="dropDownList required" ng-click="chooseUser()" placeholder="请选择人员"/>		
			<input type="hidden" id="employeeCode" name="employeeCode" />
			<input type="hidden" id="jobCode1" name="jobCode1"  />
			
		</div>
		<div class="top">
			
		
			<div style="margin-left:10px;margin-top:5px;margin-bottom:5px;font-size:14px;">调入后</div>
			<input type="text" id="remarks" name="proName2"   class="dropDownList required" placeholder="部门名称" style="width:200px;"  />
			<input type="hidden"  name="proNo2"   />
			
			
			
			<input type="text" style="margin-left:60px;width:120px;"   id="pro_name"  class="dropDownList required" placeholder="请选择职务" />
			<input type="hidden" id="jobCode2"  name="jobCode2" />
			  
		</div>
		
		<div style="text-align: left;margin-top:40px;margin-left:30px;">
			<input type="button" ng-click="saveObj()" value=" 确 认 " style="cursor:pointer; background-color:#3385FF;color:#fff;font-family: '微软雅黑';border:0px; border-radius:10px;padding:5px; width:60px; " />
			&nbsp;&nbsp;<input ng-click="closeFrame()" type="button" value=" 取 消 " style="cursor:pointer;color:#3385FF;font-family: '微软雅黑';border:1px #3385FF solid; border-radius:10px;padding:4px; width:60px;BACKGROUND: none transparent scroll repeat 0% 0%  " />
		</div>
		
		
	</form>
</div>
	
</div>


<script type="text/javascript">
	function showdiv(){
		moveChar=2;
		//$("#pro_name").show();
		
	}
	function showdiv2(){
		moveChar=3;
		//$("#pro_name").show();
		
	}
	function hidediv(){
		moveChar=1;
		//$("#pro_name").hide();
	}
	
	var ngScope;
	var cond_categoryCode="";
	var cond_categoryCode1="";
	var proNo1="";
	var proName1="";
	var proNo2="";
	var proName2="";
	var fromDate="";
	var toDate="";
	var employeeCode="";
	var companyCode="";
	var moveChar=1;
	var oldJob="";
	var newJob="";
	var employeeName="";
	
	var app = angular.module("projectType", []);
	app.controller("userMgrCtrl", function($scope, $http){
		/* init */
		ngScope = $scope;
		
		$scope.dataObj={};
		
		var mydate = new Date();
		$("#starttime").val(mydate.getFullYear()+"-"+(mydate.getMonth()+1)+"-"+mydate.getDate());
		$("#endtime").val(mydate.getFullYear()+"-"+(mydate.getMonth()+1)+"-"+mydate.getDate());
		
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			
			noLogin(location.href);
			return;
		}
		$scope.userData = jQuery.parseJSON(userDataStr);
		var ticket = $.cookie("pmsWeb_ticket");
		companyCode=$scope.userData.companyCode;
		
		
		/* 表单验证 */
	validator = $("#saveForm").validate({
		onsubmit: false,
		focusInvalid: false,
		focusCleanup: true,
		errorElement: "span",
		ignore:".ignore",
		invalidHandler: function(form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				
			} 
		}
	});
		
		/* 视图渲染 */
	$(".tabs>a").each(function(){
		var layId = $(this).attr("href");
		var idx = $(".tabs>a").index($(this));
		if(idx!=0){
			$(layId).hide();
			$(layId).attr("data-show", "0");
		}else{
			$(layId).attr("data-show", "1");
		}
		$(this).click(function(){
			$(".tabs>.selected").removeClass("selected");
			$(this).addClass("selected");
			var layId = $(this).attr("href");
			$("div[data-show=1]").hide();
			$("div[data-show=1]").attr("data-show", "0");
			$(layId).show();
			$(layId).attr("data-show", "1");
			
		});
	});
		/* 部门名称 */
	/* new DropDownList().init({
		renderTo:"#projectType",
		url:"../../component/projectType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#projectType").val(result.categoryName);
			cond_categoryCode = result.categoryCode;
			
			projectList.setConfig("url", "../../component/projectList.html?categoryCode="+cond_categoryCode+"&ticket="+ticket);
		}
	}); */
	
	
	//选择部门
	new DropDownList().init({
		renderTo:"#projectType",
		url:"../../component/orgTree.html?required=true",
		height:"200px",
		onSelected:function(result){
			//$("#projectType").val(result.unitName);
			
			$("input[name=proName1]").val(result.unitName);
			$("input[name=proNo1]").val(result.unitCode);
			
			cond_categoryCode=result.unitCode;
		
		}
	});
	
	//选择人员
	$scope.chooseUser = function(){
		/* 选择员工 */
		//var unitCode = $("input[name=loanUnitCode]").val();
		var unitName = $("#projectType").val();
		
		
		
		if(cond_categoryCode=="" || cond_categoryCode=="0"){
			new ShowDlog().prompt({
				icon:"warning",
				msg:"请您先选择部门！",
				done:function(){
					
				},
				t:2000
			});
		}else{
			new ShowDlog().showFrame("../../component/noTreeChooseUser.html?unitCode="+cond_categoryCode+"&unitName="+encodeURIComponent(unitName), "选择员工", function(data){
				if(data && data.length>0){

					//proNo1=result.employeecode;
					//proName1=result.employeename;
					
					$("#employee").val(data[0].employeename);
					$("#employeeCode").val(data[0].employeecode);
					employeeCode=data[0].employeecode;
					employeeName=data[0].employeename;
					//alert(data[0].jobCode)
					$("#jobCode1").val(data[0].jobCode);
					$("#jobCode2").val(data[0].jobCode);
					
				}
			}, "chooseUser");
		}
		
		
		
	};
	
	new DropDownList().init({
		renderTo:"#remarks",
		url:"../../component/orgTree.html?required=true",
		height:"200px",
		onSelected:function(result){
			//$("#projectType").val(result.unitName);
			
			$("input[name=proNo2]").val(result.unitCode);
			
			$("input[name=proName2]").val(result.unitName);
		
		}
	});

	

	
	/* var chooseEmployeeInProject1 = new DropDownList();
	chooseEmployeeInProject1.init({
						renderTo:"#employee",
						url:"../../component/chooseEmployeeInProject1.html?proNo="+proNo1+"&ticket="+ticket,
						height:"200px",
						onSelected:function(result){
						 	$("#employee").val(result.employeeName);
							$("#employeeCode").val(result.employeeCode);
							employeeCode=result.employeeCode;
							employeeName=result.employeeName;
							//proNo1=result.proNo; 
							
							
							$("#employee").val(result.employeeName);
							$("#employeeCode").val(result.employeeCode);
							employeeCode=result.employeeCode;
							employeeName=result.employeeName;
							//proNo1=result.proNo;
							$("#jobCode1").val(result.jobCode);
		 					//$("#jobCode2").val(result.jobCode);
		 					$("#zhiwu").val("当前职务:"+result.jobName);
		 					oldJob=result.jobName;
		 					
		 					//alert(result.jobCode+","+result.jobName)
		 					//默人是之前的职务
		 					$("#pro_name").val(result.jobName);
		 					$("#jobCode2").val(result.jobCode);
							
		 					
						}
					});
	 */
	/* 项目列表 */
	/* var projectList=new DropDownList();
	projectList.init({
		renderTo:"#projectList",
		url:"../../component/projectList.html?categoryCode="+cond_categoryCode+"&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#projectList").val(result.proName);
			//proName=result.proNo;
			proNo1=result.proNo;
			proName1=result.proName;
// 			$scope.loadDoneList(cond_viewtype2, cond_proNo);
			chooseEmployeeInProject1.setConfig("url", "../../component/chooseEmployeeInProject1.html?proNo="+proNo1+"&ticket="+ticket);
		}
	}); */
	
	/////////////////////////////////////////////////
	/* new DropDownList().init({
		renderTo:"#projectType1",
		url:"../../component/projectType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#projectType1").val(result.categoryName);
			cond_categoryCode1 = result.categoryCode;
			// 联动 
			projectList1.setConfig("url", "../../component/projectList.html?categoryCode="+cond_categoryCode1+"&ticket="+ticket);
		}
	}); */
	/* 项目列表 */
/* 	var projectList1 = new DropDownList();
	projectList1.init({
		renderTo:"#projectList1",
		url:"../../component/projectList.html?categoryCode="+cond_categoryCode1+"&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#projectList1").val(result.proName);
			$("#projectList1Code").val(result.proNo);
			//proName=result.proNo;
			proNo2=result.proNo;
 			proName2=result.proName;
			
// 			$scope.loadDoneList(cond_viewtype2, cond_proNo);
		}
	}); */
	
	//职务
	new DropDownList().init({
		renderTo:"#pro_name",
		url:"../../component/mdemployeeJob.html",
		height:"200px",
		onSelected:function(result){
			$("#pro_name").val(result.jobName);
			$("#jobCode2").val(result.jobCode);
			newJob=result.jobName;
		}
	});
	
	
	
	$scope.saveObj=function(){
		var entime=$("#endtime").val();
		var formData = $("#saveForm").serialize();
		var fileNo=$("input[name=fileNo]").val();
		if($("#saveForm").valid()){
		
		var utname=$("input[name=proName1]").val();
		var utname1=$("input[name=proName2]").val();
			
		$.ajax({
			url:serviceBasePath+"eap/pmsServices/sys/orgEmployee/employee/ishave?employeecode="+employeeCode,
			cache:false,
			method:"POST",
			success:function(res){
				if(res.statusCode==200){
						
							new ShowDlog().confirm({
							msg:"<span style='color:red'>"+fileNo+"</span><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认将"+utname+employeeName+"调动至"+utname1+newJob+"，生效日期为"+entime+"】吗？",
							ok:function(){
									$.ajax({
										url:serviceBasePath+"eap/pmsServices/memberMove/unitMoveUnit?companyCode="+companyCode+"&moveChar="+moveChar+"&moveType=4",
										cache:false,
										method:"POST",
										data:formData,
										success:function(res){
											if(res.statusCode==200){
												new ShowDlog().prompt({msg:"添加成功！",
													done:function(){
														location.href="memberMoveMgr.html";
														//parent.$dlog.close();
													},
													t:1500
												});
											}else{
												//
											}
										},
										error:function(){
											
										}
									});
								
								
							},
							cancel:function(){}
						});
					
				}else{
					/* var dialog=new ShowDlog();
					var str="<div style='margin-left:50px;margin-top:30px;font-size:14px;'>&nbsp;<img src='../../../js/showDlog/img/warning.gif' />&nbsp;"+res.resultMsg+"</div>";
					dialog.showDialog(str,"提示信息",function(){
						
						
					},"dialogcss"); 
					dialog.lazyClose(3000); */
					

					var waittingDlog = new ShowDlog();

					waittingDlog.prompt({
						icon:"warning",
						msg:res.resultMsg,
						done:function(){
							
							new ShowDlog().confirm({
								msg:"<span style='color:red'>"+fileNo+"</span><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认将"+utname+employeeName+"调动至"+utname1+newJob+"，生效日期为"+entime+"】吗？",
								ok:function(){
										$.ajax({
											url:serviceBasePath+"eap/pmsServices/memberMove/unitMoveUnit?companyCode="+companyCode+"&moveChar="+moveChar+"&moveType=4",
											cache:false,
											method:"POST",
											data:formData,
											success:function(res){
												if(res.statusCode==200){
													new ShowDlog().prompt({msg:"添加成功！",
														done:function(){
															location.href="memberMoveMgr.html";
															//parent.$dlog.close();
														},
														t:1500
													});
												}else{
													//
												}
											},
											error:function(){
												
											}
										});

								},
								cancel:function(){}
							});
							
							
							
							
						},
						t:2000
					});
				}
			},
			error:function(){
				
			}
		});
		}
		
		
		
		
		//parent.$dlog.close();
	};
	$scope.closeFrame=function(){
		
		location.href="memberMoveMgr.html";
	};
		
	});
	</script>
</body>
</html>
