<!DOCTYPE HTML>
<html>
<head>
<title> 人员调动 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ExportExcel.js"></script>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />
<style type="text/css">
	.btn{display:inline-block;padding:1px 4px;border:solid 1px #f4f4f4; border-radius:4px;}
	.btn.toactive{color:#fff;background:green;}
	.btn.toclose{color:#fff;background:#ED7798;}
	
	.detailDialog{width:900px;height:400px;}
	td a{text-decoration:underline;color:blue;}
	.dialog-viewcyle{height:500px;width:700px;}
	.dialog-viewcyle1{height:600px;width:700px;}
	.dialog-viewcyle2{height:650px;width:700px;}
	.def{border-right:1px #86c0f8 solid;padding-right:17px;padding-left:14px;}
	.def:HOVER{background:#186CE7;}
	.def1{background:red}
.query_div1{margin-left:10px;margin-top:5px; float:left;display:inline-block;height:30px;line-height:30px;padding:0 18px 0 18px;background:#3385FF;color:#fff;font-weight:bold;cursor:pointer;border:solid 1px #89C6FF; border-radius:4px;}
    
    .selectiondiv{
    	height: 143px;
    	width:119px;
    	background-image: url("../../../img/juxing1.png");
    	float:left;
    	margin-left:-116px;
    	margin-top:36px;
    	display:none;
    }
    .query_div2{margin-left:10px;margin-top:5px; float:left;display:inline-block;height:30px;line-height:30px;padding:0 18px 0 18px;background:#3385FF;color:#fff;font-weight:bold;cursor:pointer;border:solid 1px #89C6FF; border-radius:4px;}

	.btnclass{ margin-left:8px;margin-top:6px; float:left;display:inline-block;height:26px;line-height:26px;padding:0 20px 0 20px;background:#f6f6f6;color:#999;font-weight:none;cursor:pointer;border:solid 1px #ccc; }
	.btnclass:hover{border:1px solid #21AFFB}
	.imgsel{position:absolute;margin-left:92px;margin-top:-30px;width:18px;text-align: center;height:28px;}
	.imgsel:hover{background:#186CE7;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div" >
			<div class="title_left" style="position: absolute;right:0px;left:0px;">
				<input type="text" id="projectType" class="dropDownList" placeholder="请项目类型"><!-- 项目类型 -->
				<input type="hidden" name="proNo"/><!-- 项目编号 -->
				<input type="text" id="projectList" style="width:150px;" name="proName" class="dropDownList" placeholder="请选择项目"/><!-- 项目名称 -->
				<input type="text" id="status" class="dropDownList" placeholder="请选择状态">
				<input type="text" name="searchName" id="searchName" style="width:110px;" placeholder="请输入人员姓名" />
				<input type="text" id="starttime" name="starttime" style="width:110px;" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)" />
				<input type="text" id="endtime"   name="endtime" style="width:110px;" class="date dateComponent" placeholder="请选择结束时间" onclick="new Calendar().show(this)" />
				
				<div class="query_div2" ng-click="doQuery()">
					查询
				</div>
				<div class="query_div2" ng-click="doExport()">
					导出进行中流程
				</div>
				<div class="query_div2" onclick="printMore()">
					批量打印
				</div>
			
				
				
				<div class="query_div1" style="text-align: left;padding-left:3px;margin-left:30px;">
				
					<div onclick="location.href='add.html'" class="def">项目内调动</div>
					<div class="imgsel" onclick="shownext()">
						
						<input type="image" src="../../../img/selction.png"   title="选择类型" id="btnimg" />
						
					</div>
					
					
				</div>
				<div class="selectiondiv">
							<div class="btnclass" onclick="location.href='add.html'">
								项目内调动
							</div>
							<div class="btnclass" onclick="location.href='add3.html'">
								部门内调动
							</div>
							<div class="btnclass" onclick="location.href='add1.html'">
								部门调项目
							</div>
							<div class="btnclass" onclick="location.href='add2.html'">
								项目调部门
							</div>
				</div>
				
				
			</div>
			
			
			
		</div>
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable">
			   <tr class="tr1">
			    <th rowspan="2"><div align="center">选择</div></th>
				<th rowspan="2"><div align="center">序号</div></th>
				<th rowspan="2"><div align="center">文件编号</div></th>
				<th rowspan="2"><div align="center">姓名</div></th>
				<th colspan="2"><div align="center">调动前</div></th>
				<th colspan="2"><div align="center">调动后</div></th>
				<th rowspan="2"><div align="center">性质</div></th>
				<th rowspan="2"><div align="center">生效时间</div></th>
				<th rowspan="2"><div align="center">调动时间</div></th>
				<th rowspan="2" ><div align="center">调动月份</div></th>
				<th rowspan="2"><div align="center">状态</div></th>
				<th rowspan="2" width="100"><div align="center">操作</div></th>
			  </tr>
			  <tr class="tr1">
				<th><div align="center">部门</div></th>
				<th><div align="center">岗位</div></th>
				<th><div align="center">部门</div></th>
				<th><div align="center">岗位</div></th>
			  </tr>
			  
			   <tr class="tr2" ng-repeat="item in dataList" >
			    <td><div align="center"><input name="taskCheck" type="checkbox" value="{{item.fileNo}}" prop="{{item.movedate}},{{item.jobName1}},{{item.proName1}},{{item.jobName2}},{{item.proName2}},{{item.employeename}},{{item.validdate}}" /></div></td>
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.fileNo}}</div></td>
				<td><div align="center">{{item.employeename}}</div></td>
				<td><div align="center">{{item.proName1}}</div></td>
				<td><div align="center">{{item.jobName1}}</div></td>
				<td><div align="center">{{item.proName2}}</div></td>
				<td><div align="center">{{item.jobName2}}</div></td>
				<td>
					<div ng-if="item.movechar==1" align="center">平调</div>
					<div ng-if="item.movechar==2" align="center">升调</div>
					<div ng-if="item.movechar==3" align="center">降调</div>
				</td>
				
				<td><div align="center">{{item.validdate}}</div></td>
				<td><div align="center">{{item.movedate}}</div></td>
				<td><div align="center">{{item.moveyear}}{{item.movemonth}}</div></td>
				<td>
					<div align="center" ng-if="item.isFinish ==1">已完成</div>
					<div align="center" ng-if="item.isFinish ==0" style="color:red">进行中</div>
				</td>
				<td>
				<div align="center">
					<img class="operationImg" ng-click="doShow(item)" src="../../../img/list_see-icon.png" title="查看 ">
					<img class="operationImg" ng-click="showMoving(item)" src="../../../img/daichuli.png" title="进度查看 ">
				</div>
				</td>
				
			  </tr>
			 
			</table>
		</div>
		
		
		<div id="page_bar" class="list_bottom" align="center">
		</div>
		
		

		

	</div>
</div>
<script type="text/javascript">

function shownext(){

	//alert($(".selectiondiv").css('display'));
	if($(".selectiondiv").css('display')=="none"|| $(".selectiondiv").css('display')==""){
			$(".selectiondiv").show();
			$("#btnimg").focus();
			$("#btnimg").focusout(function(){
			
		   /*lazyCall('t1',function(){
				$(obj).next().hide();	
			}, 300); */
			
			var st=setTimeout(function(){
				$(".selectiondiv").hide();	
			}, 300);
		}); 
	}else{
		$(".selectiondiv").hide();	
		
	}
}



function  printMore(){
	var movedate="";
	var jobName1="";
	var proName1="";
	var jobName2="";
	var proName2="";
	var employeename="";
	var validdate="";
	var fileNo="";
	
	
	var result=0;
	var dialog=new ShowDlog();
	$('input[name="taskCheck"]:checked').each(function(){ 
		//alert($(this).val().length)
		var no=$(this).val().replace(/(^\s*)|(\s*$)/g,"");
		//alert(no.length);
		var prop=$(this).attr("prop");
		var arry=prop.split(",");
		
		if(fileNo!=""){
			
			if(no==fileNo){
				fileNo=no;
			}else{
				
				
				dialog.prompt({
					icon:"warning",
					msg:"请选择相同的函号！",
					done:function(){
						
					},
					t:2000
				});

				
				result=1;
				return false;
			}
		}else{
			fileNo=no;
		}
		
		
		movedate+=arry[0]+",";
		jobName1+=arry[1]+",";
		proName1+=arry[2]+",";
		jobName2+=arry[3]+",";
		proName2+=arry[4]+",";
		employeename+=arry[5]+",";
		validdate+=arry[6]+",";
	}); 
	
	if(result==1){
		return false;
	}
	
	
	movedate=movedate.substring(0,movedate.length-1);
	jobName1=jobName1.substring(0,jobName1.length-1);
	proName1=proName1.substring(0,proName1.length-1);
	jobName2=jobName2.substring(0,jobName2.length-1);
	proName2=proName2.substring(0,proName2.length-1);
	employeename=employeename.substring(0,employeename.length-1);
	validdate=validdate.substring(0,validdate.length-1);
	
	
	
	if(fileNo==""){
		dialog.prompt({
			icon:"warning",
			msg:"请您先选择调动函！",
			done:function(){
				
			},
			t:2000
		});
	}else{
		dialog.showFrame("membermoveList.html?movedate="+movedate+"&jobName1="+jobName1+"&proName1="+proName1+"&jobName2="+jobName2+"&proName2="+proName2+"&employeename="+employeename+"&validDate="+validdate+"&fileNo="+fileNo, "调动函", function(){
			 
		},"dialog-viewcyle2");
	}
	

			
	
	
}

function createPageBar(totalPage, curPage,totalRecord){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		curPage:curPage,
		totalRecord: totalRecord,
		showPageInfo:true,
		prevPageText:"上一页",
		nextPageText:"下一页",
		onPage:function(pageNum){
			_currentPage=pageNum;
			ngScope.loadProjects(employeeName,proNo1,fromDate,toDate,pageNum);
		}
	});
}

function getFirstAndLastMonthDay( year, month){    
               var   firstdate = year + '-' + month + '-01';  
               var  day = new Date(year,month,0);   
               var lastdate = year + '-' + month + '-' + day.getDate();//获取当月最后一天日期    
  //给文本控件赋值。同下  
               return lastdate;  
}

var ngScope;

var proNo1="";
var fromDate="";
var toDate="";
var cond_categoryCode="";
var _currentPage=1;
var employeeName="";
var status="";
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.dataList=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	var myDate = new Date();
	fromDate=myDate.getFullYear()+"-"+(myDate.getMonth()+1)+"-1";
	toDate=getFirstAndLastMonthDay(myDate.getFullYear(),myDate.getMonth()+1);
	
	$("#starttime").val(fromDate);
	$("#endtime").val(toDate);
	
	/* 项目类型 */
	new DropDownList().init({
		renderTo:"#projectType",
		url:"../../component/projectType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#projectType").val(result.categoryName);
			cond_categoryCode = result.categoryCode;
			/* 联动 */
			projectList1.setConfig("url", "../../component/projectList.html?categoryCode="+cond_categoryCode+"&ticket="+ticket);
		}
	});
	/* 项目列表 */
	var projectList1 = new DropDownList();
	projectList1.init({
		renderTo:"#projectList",
		url:"../../component/projectList.html?categoryCode="+cond_categoryCode+"&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#projectList").val(result.proName);
			//proName=result.proNo;
			proNo1=result.proNo;
			$scope.loadProjects(employeeName,proNo1,fromDate,toDate,1);
// 			$scope.loadDoneList(cond_viewtype2, cond_proNo);
		}
	});
	
	
	new DropDownList().init({
		renderTo:"#status",
		mode:"list",
		data:[{id:"", name:"（全部）"},{id:1, name:"已完成"},{id:0, name:"进行中"}],
		textField:"name",
		onSelected:function(item){
			
			$("#status").val(item.name);
			status=item.id;
			$scope.loadProjects(employeeName,proNo1,fromDate,toDate,1);
		}
	});

	
	/* 加载数据 */
	$scope.loadProjects=function(employeeName,proNo1,fromDate,toDate,currentPage){//alert(unitCode);
		
		$http.get(serviceBasePath+"eap/pmsServices/memberMove/list?proNo1="+proNo1+"&fromDate="+fromDate+"&toDate="+toDate+"&currentPage="+currentPage+"&employeeName="+employeeName+"&status="+status).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.noLogin(location.href);
				return;
			}
			$scope.dataList = response.list;
			createPageBar(response.totalPage, response.currentPage,response.totalRecord);
// 			createPageBar(response.totalPage, response.currentPage);
		});
	};
	/* 查询 */
	$scope.doQuery=function(){
		//cond_proName = $("#searchName").val();
		//$scope.loadProjects(cond_areaName, cond_categoryCode, cond_proName, cond_proStatus, 1);
		fromDate=$("#starttime").val();
		toDate=$("endtime").val();
		employeeName=$("#searchName").val();
		$scope.loadProjects(employeeName,proNo1,fromDate,toDate,1);
	};
	
	$scope.addMemberMove=function(){
		
		new ShowDlog().showFrame("add.html", "项目组人员调动", function(){
						 ngScope.loadProjects(employeeName,proNo1,fromDate,toDate,1);
		},"dialog-viewcyle");
	};
	
	$scope.showMoving=function(item){
		location.href="../memberMoving/memberMovingDetail1.html?moveCode="+item.moveCode+"&moveType="+item.moveType+"&employeecode="+item.employeecode+"&employeename="+item.employeename+"&proName1="+item.proName1+"&proName2="+item.proName2+"&jobName1="+item.jobName1+"&jobName2="+item.jobName2;
	};
	
	$scope.doExport=function(){
		//excelExport("dataTable");
		fromDate=$("#starttime").val();
		toDate=$("endtime").val();
		employeeName=$("#searchName").val();
		alert(proNo1)
		hrefTo({url:serviceBasePath+"eap/pmsServices/memberMove/exportMoveData", data:{proNo1:proNo1, 
		fromDate:fromDate,toDate:toDate,employeeName:employeeName}});
	};
	
	$scope.doShow=function(item){
		
		new ShowDlog().showFrame("membermove.html?movedate="+item.movedate+"&jobName1="+item.jobName1+"&proName1="+item.proName1+"&jobName2="+item.jobName2+"&proName2="+item.proName2+"&employeename="+item.employeename+"&validDate="+item.validdate+"&fileNo="+item.fileNo+"&moveType="+item.moveType, "调动函", function(){
						 
		},"dialog-viewcyle1");
	};
	
	/* 初始查询 */
	ngScope.loadProjects(employeeName,proNo1,fromDate,toDate,1);
});
</script>
</body>
</html>
