<!DOCTYPE HTML>
<html>
<head>
<title>设备使用情况 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../../../css/list.css" />


<style type="text/css">
	.btn{display:inline-block;padding:1px 4px;border:solid 1px #f4f4f4; border-radius:4px;}
	.btn.toactive{color:#fff;background:green;}
	.btn.toclose{color:#fff;background:#ED7798;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				&nbsp;&nbsp;
				{{assetName}} - 借用详细情况
			</div>
			<img src="../../../../img/list_Header2-.png">
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">资产编号</div></th>
				<th><div align="center">资产名称</div></th>
				<th><div align="center">开始日期</div></th>
				<th><div align="center">结束日期</div></th>
				<th><div align="center">姓名</div></th>
				<th><div align="center">客户端</div></th>
				<!-- <th><div align="center">操作</div></th> -->
			  </tr>
			  <tr class="tr2" ng-repeat="item in dataList">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.ASSET_CODE}}</div></td>
				<td><div align="center">{{item.ASSET_NAME}}</div></td>
				<td><div align="center">{{item.CHECK_DEAL_DATE}}</div></td>
				<td><div align="center">{{item.CHECK_END_DATE}}</div></td>
				<td><div align="center">{{item.EMPLOYEENAME}}</div></td>
				<td><div align="center">{{item.CLIENT}}</div></td>
 				<!-- <td>
 					<div align="center">
 			    		<img class="operationImg" ng-click="doShow(item)" src="../../../../img/list_see-icon.png" title="查看图片 ">
 		    		</div>
 				</td> -->
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">
var fromDate="", assetCode="";

var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.dataList=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	var params = getUrlParams();
	$scope.assetName = params.assetName;
	fromDate=params.fromDate;
	assetCode=params.assetCode;
	
	/* 加载数据 */
	$scope.loadProjects=function(assetCode, fromDate){
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/assetMg/assetCheck/assetUserList?assetCode="+assetCode+"&fromDate="+fromDate+"&ticket="+ticket).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.noLogin(location.href);
				return;
			}
			console.log(response.list);
			$scope.dataList = response.list;
		});
	};
	
	/* 显示 */
	$scope.doShow=function(item){
		 new ShowDlog().showFrame("assetsUseList.html?assetCode="+item.ASSET_CODE+"&fromDate="+fromDate+"&assetName="+encodeURIComponent(item.ASSET_NAME), "查看详细", function(){
			}, "detailDialog");	
	};
	
	
	/* 初始查询 */
	ngScope.loadProjects(assetCode, fromDate);
});
</script>
</body>
</html>
