<!doctype html>
<html lang="en"  ng-app="userMgr">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/ng-base.js"></script>
	<script type="text/javascript" src="js/jquery.form.js"></script>
	<script type="text/javascript" src="js/showDlog/showDlog.js"></script>
	<link rel="stylesheet" type="text/css" href="js/showDlog/showDlog-blue.css" />
	<script type="text/javascript" src="js/DropDownList-1.2/DropDownList-v1.2.js"></script>
	<link rel="stylesheet" type="text/css" href="js/DropDownList-1.2/DropDownList.css"/>

	<link rel="stylesheet" type="text/css" href="css/edit.css">
	<script type="text/javascript" src="js/config.js"></script>
	
	<link rel="stylesheet" type="text/css" href="js/showDlog/showDlog-blue.css" />
	<link rel="stylesheet" type="text/css" href="css/bxyw.css"/>
	<style type="text/css">
		header a{color:#FFF;position: absolute;right:10px}
		.tast_nav li{width:50% !important;}
		.form_list{padding: 0 !important;}
		.tab_con{padding:10px 0;}
		.add_img{padding:0;}
		.isnumber{display:none}
		#showdiv{display: none}
		input{font-size:14px}
		.nobg{background:none !important}
	</style>
</head>
<body ng-controller="userMgrCtrl">
	<header>
		<div class="return"><img src="images/return.png" onclick="exitThis()"  /></div>
		表箱查询
	</header>
	<section>
		<div class="tast_nav">
			<ul class="ov">
				<li class="fl active">属性</li>
				<li class="fl">图片</li>
			</ul>
		</div>
		
			<div class="form_list">
				<div class="tab_con new_add" >
					<form  id="saveForm" action="" method="post"  name="saveForm" enctype="multipart/form-data">
						<div class="detail_con">
							<label>设备名称</label>
							<input type="hidden" name="companyCode"/>
							<input type="hidden" name="attrJson"/>
							<input type="hidden" name="deviceObjCode"/>
							<input type="hidden" name="proNo"/>
							<input type="hidden" name="proName"/>
							<input type="hidden" name="mctCode"/>
							<input type="hidden" name="deviceTypeCode"/>
							<input style="width:50%" type="text" name="deviceObjName" readonly="readonly" placeholder="请输入内容"  value="{{deviceObj.deviceObjName}}" class="required" maxlength="32" />
						</div>
						<div class="detail_con">
							<label>健康状况</label>
							<input style="width:50%" type="hidden" name="healthCode" readonly="readonly"  value="{{deviceObj.healthCode}}"/>
							<input style="width:50%" type="text" name="healthName"  readonly="readonly" value="{{deviceObj.healthName}}" class="dropDownList nobg" maxlength="32" placeholder="选择健康状况"/>
						</div>
						<div class="detail_con">
							<label>故障问题分类</label>
							<input type="hidden"  readonly="readonly" name="problemCode" value="{{deviceObj.problemCode}}"/>
							<input style="width:50%" type="text"  readonly="readonly" name="problemName" value="{{deviceObj.problemName}}" class="dropDownList nobg" maxlength="32" placeholder="选择故障问题"/>
						</div>
						
						
						
						<div class="detail_con" ng-repeat="tr in deviceAttrTrs track by $index" style="margin-bottom:0;margin-top:0;">
							<label ng-repeat-start="item in tr track by $index" style="margin-bottom:10px">{{item.cname}}</label>
							<span ng-repeat-end>
								<span ng-if="item.dtype==1">
									<input ng-if="item" readonly="readonly" group="cond" name="{{item.ename}}" value="{{deviceObj[item.ename]}}" type="text" placeholder="请输入内容" readonly="readonly" style="width:50%"/>
								</span>
								<span ng-if="item.dtype==2">
									<input ng-if="item" readonly="readonly" prop="number" type="text" class="number" group="cond" name="{{item.ename}}" placeholder="请输入内容" value="{{deviceObj[item.ename]}}" onblur="checkClass()" style="width:50%"/>
									<span style="color:red;" class="isnumber">(整数)</span>
								</span>
								<span ng-if="item.dtype==3">
									<input style="width:50%" ng-if="item" readonly="readonly" type="text" class="date dateComponent" group="cond" name="{{item.ename}}" value="{{deviceObj[item.ename]}}" placeholder="请选择" onclick="new Calendar().show(this)"/>
								</span>
								<span ng-if="item.dtype==4">
									<input style="width:50%;" ng-if="item" readonly="readonly" type="text" class="dropDownList nobg" group="cond" name="{{item.ename}}"  value="{{deviceObj[item.ename]}}" placeholder="请选择{{item.cname}}"/>
								</span>
							</span>
						</div>
					</form>	
				</div>
			
				<div class="tab_con add_img"  style="display: none;">
					<div class="update_ing">
						<p style="line-height:30px">图片展示</p>
						<div class="imgitem gallerys" ng-repeat="item in imgList" style="display:inline">
							
							<img src="{{item.url}}" style="width:80px;height:80px;display:inline" onerror="javascript:this.src='img/defaultImg.png'" />
							
						</div>
					</div>
						
					
				</div>
			
			</div>
	
	</section>
	<script type="text/javascript">

	function exitThis(){
		if($("header .edit").css("display") == "none")
		{
			new ShowDlog().confirm({
				msg:"您确定要放弃本次编辑吗？",
				ok:function(){
					
					
					location.href="deviceSearchRead.html";
				},
				cancel:function(){}
			});
		}else{
			location.href="deviceSearchRead.html";
		}
		
	}
	
	var currentId="";
	function checkType(){
		$("#showdiv").slideToggle("slow");
	}
	
	function hidDiv(){
		$("#showdiv").slideToggle("slow");
	}
	//拍照
	function takePhoto(){
		
		window.top.nativeLib.getPicture({
			action:"takePicture",
			callback:function(data){
				var image = document.getElementById(currentId);
				image.src = "data:image/jpeg;base64," + data.base64Img;
				$("input[name="+currentId+"]").val(data.base64Img);	
				hidDiv();
			}
		});
		
	}
	//选择
	function selectPhoto(){
		
		window.top.nativeLib.getPicture({
			action:"picPicture",
			callback:function(data){
				var image = document.getElementById(currentId);
				image.src = "data:image/jpeg;base64," + data.base64Img;
				$("input[name="+currentId+"]").val(data.base64Img);	
				hidDiv();
			}
		});
		
	}
	function reserveB1Img1() {
		currentId="deviceimg1";
		checkType();
    } 
	
	function reserveB1Img2() {
		currentId="deviceimg2";
		checkType();
		
    }
	
	function reserveB1Img3() {
		currentId="deviceimg3";
		checkType();
		
    }
		
	var result3=0;
	function checkClass(){
		result3=0;
		
		$(".isnumber").hide();
		$("input[prop='number']").each(function(){
		   
		    if($(this).val()!=""){
		    
		    	var re = /^\d+$/;
		    	//验证
		    	if (re.test($(this).val()))
		    	{
		    		
		    	}else{
		    		
		    		$(this).next().show();
		    		result3=1;
		    	}
		    }

		});
	}
	
		var app = angular.module("userMgr", []);
		app.controller("userMgrCtrl", function($scope, $http){
			/* init */
			$scope.deviceObj={};
			
			var serviceBasePath=sessionStorage.serviceBasePath;
			var urlParams=getUrlParams();
			/* alert(urlParams.mctName)
			alert(urlParams.companyCode) */
			$scope.deviceAttrTrs=[];
			$scope.mctlistArr=[];
			/* 加载属性信息 */
			$scope.loadAttrs=function(companyCode,mctCode){
				$http.get(serviceBasePath+"eap/pmsServices/om/deviceMgr/device/mctAttr?companyCode="+companyCode+"&mctCode="+mctCode).success(function(res){
					if(res.statusCode==200){
						$scope.mctlistArr = res.list;
						$scope.deviceAttrTrs=$scope.splitToTr($scope.mctlistArr);
						
					}else if(res.statusCode==401){
						window.parent.location.href="../login.html";
					}else{
						//alert("服务器访问出错1！");
					}
				});
			}
			
			/* 组织tr数据 */
			$scope.splitToTr=function(arr){
				var trs=[];
				for(var i=0; i<arr.length; i++){
					var attr = arr[i];
					if(i!=0 && i%2==0){
						trs.push([]);
					}
					if(trs.length==0){
						trs.push([]);
					}
					var tr=trs[trs.length-1];
					tr.push(attr);
				}
				var lastTr=trs[trs.length-1];
				if(lastTr.length<2){
					lastTr.push({});
				}
				return trs;
			};

			var proNo="";
			var deviceTypeCode ="";
			var proName="";
			var mctCode="";
			$scope.loadDeviceInfo=function(companyCode,deviceObjCode){
				$http.get(serviceBasePath+"eap/pmsServices/om/deviceMgr/device/getMctDevice?companyCode="+companyCode+"&deviceObjCode="+deviceObjCode).success(function(res){
					if(res.statusCode==200){
							$scope.deviceObj=res.data;
							proNo = $scope.deviceObj.proNo;
							deviceTypeCode = $scope.deviceObj.deviceTypeCode;
							proName = $scope.deviceObj.proName;
							mctCode = $scope.deviceObj.mctCode;
							$scope.loadAttrs(companyCode,$scope.deviceObj.mctCode);		
							healthList.setConfig("url", "component/healthList.html?proNo="+$scope.data.proNo+"&required=true");
							problemList.setConfig("url", "component/problemList.html?proNo="+$scope.data.proNo+"&required=true");
					}else if(res.statusCode==401){
						window.parent.location.href="../login.html";
					}else{
						alert("服务器访问出错2！");
					}
				});
			};
			$scope.loadDeviceInfo(urlParams.companyCode,urlParams.deviceObjCode);
			
			
			$scope.imgList=[];
			$scope.loadImgs=function(){
				
				$http.get(serviceBasePath+"eap/pmsServices/om/deviceMgr/images/getList?mctCode="
						+mctCode+"&deviceObjCode="+urlParams.deviceObjCode+"&proNo="+proNo+"&companyCode="+urlParams.companyCode).success(function(response){
						if(response.statusCode==401){
							alert("用户凭据过期！请重新登录！");
							window.top.location.href="../../../login.html";
							return;
						}
						
						for(var i=0;i<response.list.length;i++){
							
							var st=filePath+"?fileCode="+response.list[i].picVisitid+"&attachment=0"
							
						    response.list[i].url=st;	
							
						} 
						$scope.imgList = response.list;
			  });
			};
			$scope.loadImgs();
			$scope.quxido=function(){
				window.location.reload();
				
			}
			
			 /* 保存 */
			$scope.onSave=function(){
				$("input[name=companyCode]").val(urlParams.companyCode);
				$("input[name=deviceObjCode]").val(urlParams.deviceObjCode);
				$("input[name=mctCode]").val(mctCode);
				$("input[name=proNo]").val(proNo);
				$("input[name=proName]").val(proName);
				$("input[name=deviceTypeCode]").val(deviceTypeCode);
				var cond={};
				$("input[group=cond]").each(function(){
					var $cond = $(this);
					var key = $cond.attr("name");
					var val = $cond.val();
					cond[key]=val;
				});
				$("input[name=attrJson]").val(JSON.stringify(cond));
				var params = serializeArrayToMap($("#saveForm").serializeArray());
				if(result3==1){
					
					return false;
				}
				 
				 var userToken =JSON.parse(sessionStorage.userToken);
				 
				 var ticket=userToken.ticket;
				var options = {
						success: function(responseText, statusText) {
							//waittingDlog.close();
							if(responseText.statusCode=="200"){
								//var dialog1=;
								new ShowDlog().prompt({
									icon:"success",
									msg:"保存成功！",
									done:function(){
									
									},
									t:2000
								}); 
								
								
							}else{
								new ShowDlog().prompt({
									icon:"error",
									msg:"提交失败！",
									done:function(){
									
									},
									t:2000
								});
							}
						},      //提交后的回调函数   
						type: "post",               //默认是form的method（get or post），如果申明，则会覆盖  
						dataType: "json",           //html(默认), xml, script, json...接受服务端返回的类型  
						clearForm: false,          //成功提交后，清除所有表单元素的值
						data:params,
						url:serviceBasePath+"eap/pmsServices/om/deviceMgr/device/updateMctDevice?ticket="+ticket,
						error: function(xhr, status, error) {
							console.log(error);
						}
					};
					$("#saveForm").ajaxSubmit(options);
				
			}; 
			
			
			
			
			

			
			
			var result1=0;
			$scope.upload=function(){
				$("input[name=companyCode]").val(urlParams.companyCode);
				$("input[name=deviceObjCode]").val(urlParams.deviceObjCode);
				$("input[name=deviceObjName]").val(urlParams.deviceObjName);
				$("input[name=mctCode]").val(mctCode);
				$("input[name=proNo]").val(proNo);
				$("input[name=proName]").val(proName);
				$("input[name=deviceTypeCode]").val(deviceTypeCode);
				var deviceimg1=$("input[name=deviceimg1]").val();
				
				var params1 = serializeArrayToMap($("#imgsaveForm").serializeArray());
				 if(deviceimg1!=""){
					result1=0;
				}else{
					
					result1=1;
				} 
				if(result1==1){
					
					return false;
				}
				  
				 var userToken =JSON.parse(sessionStorage.userToken);
				 
				 var ticket=userToken.ticket;
				 var dialog=new ShowDlog();
					var options = {
							success: function(responseText, statusText) {
								dialog.close();
								if(responseText.statusCode=="200"){
									//var dialog1=;
									 new ShowDlog().prompt({
										icon:"success",
										msg:"保存成功！",
										done:function(){
											$scope.loadImgs();
											$("#deviceimg1").attr("src","img/deviceAdd/add_pic_icon.png");
											$("input[name=deviceimg1]").val("");
										},
										t:2000
									});  
									
									
								}else{
									new ShowDlog().prompt({
										icon:"error",
										msg:"提交失败！",
										done:function(){
										
										},
										t:2000
									});
								}
							},      //提交后的回调函数   
							type: "post",               //默认是form的method（get or post），如果申明，则会覆盖  
							dataType: "json",           //html(默认), xml, script, json...接受服务端返回的类型  
							clearForm: false,          //成功提交后，清除所有表单元素的值
							data:params1,
							url:serviceBasePath+"eap/pmsServices/om/deviceMgr/device/addDeviceImages?ticket="+ticket,
							error: function(xhr, status, error) {
								console.log(error);
							}
						};
						$("#imgsaveForm").ajaxSubmit(options);
						
						
						dialog.prompt({
							icon:"waitting",
							msg:"文件正在上传及转码...",
							done:function(){},
							t:600000
						});

				
			}; 
			
			
			/* 设备健康状况 */
		/* 	var healthList = new DropDownList();
			healthList.init({
				mode:"page",
				renderTo:"input[name=healthName]",
				url:"component/healthList.html?required=true",
				height:"200px",
				onSelected:function(result){
					$("input[name=healthCode]").val(result.healthCode);
					$("input[name=healthName]").val(result.healthName);
					$("input[name=healthName]").focus();
				}
			}); */
			
			/* 设备故障问题 */
			/* var problemList = new DropDownList();
			problemList.init({
				mode:"page",
				renderTo:"input[name=problemName]",
				url:"component/problemList.html?required=true",
				height:"200px",
				onSelected:function(result){
					$("input[name=problemCode]").val(result.problemCode);
					$("input[name=problemName]").val(result.problemName);
					$("input[name=problemName]").focus();
				}
			}); */
			

			
			
		})
	
	
	
	
		$("input[type='text']").css("border","#fff");
		$("select").css("border","#fff");
		$("input[type='text']").removeAttr("placeholder");
		$("select").attr("appearance","none");
/*		$("select").attr("-moz-appearance","none");
		$("select").attr("-webkit-appearance","none");*/
		$(".tast_nav li").each(function(){
			
			$(this).click(function(){
				$(this).addClass("active").siblings().removeClass("active");
				var n=$(this).index();
				$(".form_list .tab_con").eq(n).show().siblings().hide();
				if(n==1){
					$("header .edit").hide();
					$("header .quxido").hide();
					$("header .save").hide();
				}
				if(n==0){
					$("header .edit").css("display","inline");
					
				}
			})
		});
		
		$("header .edit").click(function(){
			$(this).hide();
			$("header .save").css("display","inline");
			$("header .quxido").css("display","inline");
			$("input[type='text']").removeAttr("readonly");
			$("select").removeAttr("disabled");
			$("select").removeAttr("appearance");
/*			$("select").attr("-moz-appearance");
			$("select").attr("-webkit-appearance");*/
			$("input[type='text']").attr("placeholder","请输入内容");
			$("input[type='text']").css("border","1px solid #ddd");
			$("select").css("border","1px solid #ddd");
			$(".dropDownList").each(function(){
				$(this).attr("readonly","readonly");
				$(this).removeClass("nobg")
			})
		});
		
		$("header .save").click(function(){
			if(result3==1){
				
				return false;
			}
			$(this).hide();
			
			$("select").attr("appearance","none");
/*			$("select").attr("-moz-appearance","none");
			$("select").attr("-webkit-appearance","none");*/
			$("input[type='text']").removeAttr("placeholder");
			$("header .edit").css("display","inline");
			$("header .quxido").hide();
			$("input[type='text']").attr("readonly","readonly");
			$("select").attr("disabled","disabled");
			$("input[type='text']").css("border","#fff");
			$("select").css("border","#fff");
			$(".dropDownList").each(function(){
				
				$(this).addClass("nobg")
			})
		});
		
		
	
		$(".quxido").click(function(){
			$(".dropDownList").each(function(){
				
				$(this).removeClass("nobg")
			})
		})
		
	</script>
</body>
</html>