<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<script src="js/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bxyw.css"/>
	<script src="js/jquery.cookie.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/ng-base.js"></script>
	<script type="text/javascript" src="js/showDlog/showDlog.js"></script>
	<link rel="stylesheet" type="text/css" href="js/showDlog/showDlog-blue.css" />

	<style type="text/css">
		header{position:absolute;top:0;right:0;left:0;height:60px;}
		section{position:absolute;top:60px;right:0;bottom:60px;left:0;overflow:auto;}
		footer{position:absolute;right:0;bottom:0;left:0;height:60px;}
		.fot_wap{margin:10px auto;}
		footer p, footer .fot_wap{margin:10px auto;}
		
		.taskSta{font-size:12px;}
		.yellow{color:yellow;}
		.green{color:green;}
		.red{color:red;}
	</style>
</head>
<body ng-app="moduleName" ng-controller="controllerName" id="dblist">
	<header>
		<div class="return"><img src="images/return.png"/></div>
		{{dataList[0].taskName}}
		<div class="newadd"><span class="do_well"></span></div>
	</header>
	<section>
		<ul class="cz_selpx ov" >
			<li class="fl">筛选<img src="images/down_icon.png"/></li>
			<li class="fr">排序<img src="images/down_icon.png"/></li>
		</ul>
		<div class="filter_sort">
			<ul class="filter"  style="display: none;">
				<li class="ov">
					<div class="filter_con">
						<span class="fl tspan">处理状态</span>
						<div class="fl ov">
							<div class="fl ov filter_no"><img src="images/task_nonselete_icon.png" class="fl"/><div class="fl">已处理</div></div>
							<div class="fl ov filter_no"><img src="images/task_selete_icon.png" class="fl"/><div class="fl">未处理</div></div>
						</div>
					</div>
				</li>
				<li class="ov">
					<div class="filter_con">
						<div class="filter_search">
							<div class="search_int">
								<input type="text" name="search" id="search" placeholder="户名或者用户地址"/>
								<a class="clear_search">x</a>
							</div>
							<span>搜索</span>
						</div>
					</div>
				</li>
			</ul>
			<ul class="sort" style="display: none;">
				<li><div class="sort_no">用户地址排序<img src="images/task_list_selete_icon.png" class="fr" style="display: none;"/></div></li>
				<li><div class="sort_no">地址位置远近<img src="images/task_list_selete_icon.png" class="fr" style="display: none;"/></div></li>
			</ul>
		</div>
		<div ng-repeat="item in dataList" class="con_list">
			<div class="title1" style="margin-left:10px;">
				<input type="checkbox" ng-if="item.taskResultFlag==null" name="taskCode" value="{{item.taskCode}}"/>
				<a href="javascript:" ng-click="toSee(item)">
					{{item.taskName}}
					<label ng-if="item.taskResultFlag==1" class="taskSta green">[处理成功]</label>
					<label ng-if="item.taskResultFlag==0" class="taskSta red">[处理失败]</label>

					<span ng-if="item.taskResultFlag==null && item.timeoutStatus==3" class="stle chaoqi"></span>
					<span ng-if="item.taskResultFlag==null && item.timeoutStatus==2" class="stle sos"></span>
					<span ng-if="item.taskResultFlag==null && item.timeoutStatus==1" class="stle common"></span>
					
				</a>
				<div class="dblist_cons">
					<div class="martp5"><span>户名:{{item.HOUSEHOLD_NAME}}</span></div>
					<div class="martp5"><span>地址:{{item.HOUSEHOLD_ADDR}}</span></div>
				</div>
			</div>
		</div>
		<!--
		<div class="con_list">
			<div class="title1">
				<a href="电表详情.html">
					A1003119/0430018030<span class="stle common"></span>
					<img src="images/Safari-Forward_right_icon.png"/>
				</a>
			</div>
			<div class="dblist_cons">
				<div class="martp5"><span>户名:汤胤</span></div>
				<div class="martp5"><span>地址:宁南玉兰山庄05跃层1单元301号</span></div>
			</div>
		</div>-->
	</section>
	<footer>
		<!--<p>
			<!--<img src="images/task_light_left.png" class="fl"/>
			<span class="stle common"></span>已处理&nbsp;&nbsp;<span>4</span>&nbsp;&nbsp;项，<span class="stle chaoqi"></span>未处理&nbsp;&nbsp;<span>4</span>&nbsp;&nbsp;项
			<!--<img src="images/task_light_right.png" class="fr"/>
		</p>-->
		<div class="fot_wap ov">
			<!--
			<div class="fl"><span class="stle chaoqi"></span>超期:{{taskCount.outtimeCnt}}</div>
			<div class="fl"><span class="stle sos"></span>预警:{{taskCount.warningCnt}}</div>
			<div class="fl"><span class="stle common"></span>时间范围内:{{taskCount.normalCnt}}</div>
			-->
			<div class="fl"><a ng-click="batchOp()" href="javascript:" class="btn">批量处理</a></div>
			<div class="fr"><a ng-click="chooseAll()" href="javascript:" class="btn">全选</a></div>
		</div>
	</footer>
	<script type="text/javascript">
		$(".clear_search").click(function(){
		
			$(".search_int input").val("");
		});
			
		$(".filter_no").each(function(){
			$(this).click(function(){
				$(this).find("img").attr("src","images/task_selete_icon.png")
				$(this).siblings().find("img").attr("src","images/task_nonselete_icon.png")
			})
		});
		
		$(".sort li").each(function(){
			$(this).click(function(){
				$(this).find("img").show();
				$(this).siblings().find("img").hide();
			})
		});
		$(".cz_selpx li").click(function(){
			var n = $(this).index();
			var tab = $(".filter_sort ul").eq(n);
			if(tab.attr("is_show")=="true"){
				tab.hide();
				tab.attr("is_show", "false");
			}else{
				tab.show().siblings().hide();
				tab.attr("is_show", "true");
				$(".filter_sort ul").each(function(){
					var ulIndex = $(this).index();
					if(n!=ulIndex){
						$(this).hide();
						$(this).attr("is_show", "false");
					}
				});
			}
		});
	
		
		
		
		$(".return").click(function(){
			top.viewBack();
		})
	
		
		var ngScope;
		simpleController({
			init:function($scope, $http){
				ngScope=$scope;
				$scope.dataList=[];
				$scope.taskCount={};

				var urlParams = getUrlParams();
				$scope.page_title=urlParams.terminalId+"_"+urlParams.faultType;

				$scope.loadDataList=function(){
					$scope.httpGet({
						url:"eap/pmsServices/pm/taskMgr/task/userTaskDetailList",
						data:{"employeeCode":$scope.userData.employeeCode,
							"terminalId":urlParams.terminalId,
							"faultType":urlParams.faultType},
						success:function(res){
							$scope.dataList = res.list;
						}
					});

					$scope.httpGet({
						url:"eap/pmsServices/pm/taskMgr/task/findTaskCountInRange",
						data:{"employeeCode":$scope.userData.employeeCode,
							"terminalId":urlParams.terminalId,
							"faultType":urlParams.faultType},
						success:function(res){
							$scope.taskCount=res.data;
						}
					});
				};

				$scope.toSee=function(item){
					top.viewTo(
							"pe/materDetail.html",
							{"taskCode":item.taskCode}
						);					
					
				};
				$scope.isChooseAll=false;
				$scope.chooseAll=function(){
					if(!$scope.isChooseAll){
						$("input[name=taskCode]").each(function(){
							var taskCheckBox = $(this);
							taskCheckBox[0].checked="checked";
						});
						$scope.isChooseAll=true;
					}else{
						$("input[name=taskCode]").each(function(){
							var taskCheckBox = $(this);
							taskCheckBox[0].checked=false;
						});
						$scope.isChooseAll=false;
					}

				};

				$scope.batchOp=function(){
					var taskCodes="";
					$("input[name=taskCode]").each(function(){
						var taskCheckBox = $(this);
						if(taskCheckBox[0].checked){
							if(taskCodes.length>0){
								taskCodes+=",";
							}
							var taskCode = taskCheckBox[0].value;
							taskCodes+=taskCode;
						}
					});
					if(taskCodes.length==0){
						new ShowDlog().prompt({
							msg:"请先选择任务！",
							done:function(){
							},
							t:1500
						});
						return;
					}
					
					top.viewTo(
						"pe/materBatchOp.html",
						{"taskCodes":taskCodes, "taskCount":taskCodes.split(",").length, "faultType":urlParams.faultType}
					);
				};
				$scope.loadDataList();
			}
		});
		
		</script>
</body>
</html>