<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.pm.scene.dao.PmSceneEnvMapper" >
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.pm.scene.vo.PmSceneEnv" >
    <id column="ROWID" property="rowid" jdbcType="BIGINT" />
    <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR" />
    <result column="PRO_NO" property="proNo" jdbcType="VARCHAR" />
    <result column="SPOT_CODE" property="spotCode" jdbcType="VARCHAR" />
    <result column="REPORT_EMPLOYEECODE" property="reportEmployeecode" jdbcType="VARCHAR" />
    <result column="REPORT_TIME" property="reportTime" jdbcType="TIMESTAMP" />
    <result column="FILE_TYPE" property="fileType" jdbcType="INTEGER" />
    <result column="FILE_CODE" property="fileCode" jdbcType="VARCHAR" />
    <result column="SCENE_DESCR" property="sceneDescr" jdbcType="VARCHAR" />
    <result column="POSITION_X" property="positionX" jdbcType="DOUBLE" />
    <result column="POSITION_Y" property="positionY" jdbcType="DOUBLE" />
    
    <result column="PRO_NAME" property="proName" jdbcType="VARCHAR" />
    <result column="REPORT_EMPLOYEENAME" property="reportEmployeename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROWID, COMPANY_CODE, PRO_NO,SPOT_CODE, REPORT_EMPLOYEECODE, REPORT_TIME, FILE_TYPE, FILE_CODE, SCENE_DESCR,
    POSITION_X, POSITION_Y
  </sql>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    	t1.ROWID, t1.COMPANY_CODE, t1.PRO_NO, t1.REPORT_EMPLOYEECODE, t1.REPORT_TIME, t1.FILE_TYPE, t1.FILE_CODE, t1.SCENE_DESCR,
    	t1.POSITION_X, t1.POSITION_Y,
    	t2.PRO_NAME,
    	t3.EMPLOYEENAME as REPORT_EMPLOYEENAME
    from pm_scene_env t1
    left join pm_base t2 on t1.pro_no = t2.pro_no
    left join md_employee t3 on t1.report_employeecode = t3.employeecode
    where t1.ROWID = #{rowid,jdbcType=BIGINT}
  </select>
  
  <select id="queryForCount" resultType="int" parameterType="map" >
	   SELECT
		count(1)
	FROM
		pro_spot b
	LEFT JOIN pm_scene_env c ON b.PRO_NO = c.PRO_NO
	LEFT JOIN md_employee d ON c.REPORT_EMPLOYEECODE = d.EMPLOYEECODE
	AND b.SPOT_CODE = c.SPOT_CODE
	WHERE
		b.SYS_PROCESS_FLAG = '1'
    <if test="proNo != null and proNo != ''">
    and b.PRO_NO = #{proNo,jdbcType=VARCHAR}
    </if>
    <if test="spotCode != null and spotCode != ''">
    and b.SPOT_CODE = #{spotCode,jdbcType=VARCHAR}
    </if>
    <if test="startTime != null and startTime != ''">
    and date_format(c.REPORT_TIME, '%Y-%m-%d') &gt;= #{startTime, jdbcType=VARCHAR}
    </if>
    <if test="endTime != null and endTime != ''">
    and date_format(c.REPORT_TIME, '%Y-%m-%d') &lt;= #{endTime, jdbcType=VARCHAR}
    </if>
  </select>
  
  <select id="queryForPage" resultType="map" parameterType="map" >
	   SELECT
		b.PRO_NO,
		b.PRO_NAME,
		b.SPOT_CODE,
		b.SPOT_NAME,
		c.REPORT_EMPLOYEECODE,
		c.REPORT_TIME,
		d.EMPLOYEENAME,
		c.SCENE_DESCR,
		c.FILE_TYPE,
		c.POSITION_X,
		c.POSITION_Y,
		c.FILE_CODE
	FROM
		pro_spot b
	LEFT JOIN pm_scene_env c ON b.PRO_NO = c.PRO_NO
	LEFT JOIN md_employee d ON c.REPORT_EMPLOYEECODE = d.EMPLOYEECODE
	AND b.SPOT_CODE = c.SPOT_CODE
	WHERE
		b.SYS_PROCESS_FLAG = '1'
    <if test="proNo != null and proNo != ''">
    and b.PRO_NO = #{proNo,jdbcType=VARCHAR}
    </if>
     <if test="spotCode != null and spotCode != ''">
    and b.SPOT_CODE = #{spotCode,jdbcType=VARCHAR}
    </if>
    <if test="startTime != null and startTime != ''">
    and date_format(c.REPORT_TIME, '%Y-%m-%d') &gt;= #{startTime, jdbcType=VARCHAR}
    </if>
    <if test="endTime != null and endTime != ''">
    and date_format(c.REPORT_TIME, '%Y-%m-%d') &lt;= #{endTime, jdbcType=VARCHAR}
    </if>
    limit #{firstResult},#{maxResult} 
  </select>
  
  <delete id="delete" parameterType="java.lang.Long" >
    delete from pm_scene_env
    where ROWID = #{rowid,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.glens.pwCloudOs.pm.scene.vo.PmSceneEnv" >
    insert into pm_scene_env (COMPANY_CODE, PRO_NO, SPOT_CODE,
      REPORT_EMPLOYEECODE, REPORT_TIME, FILE_TYPE, 
      FILE_CODE, SCENE_DESCR, POSITION_X, POSITION_Y)
    values (#{companyCode,jdbcType=VARCHAR}, #{proNo,jdbcType=VARCHAR}, #{spotCode,jdbcType=VARCHAR}, 
      #{reportEmployeecode,jdbcType=VARCHAR}, now(), #{fileType,jdbcType=INTEGER}, 
      #{fileCode,jdbcType=VARCHAR}, #{sceneDescr,jdbcType=VARCHAR},
      #{positionX,jdbcType=DOUBLE}, #{positionY,jdbcType=DOUBLE})
  </insert>
  
  <update id="update" parameterType="com.glens.pwCloudOs.pm.scene.vo.PmSceneEnv" >
    update pm_scene_env
    <set >
      <if test="fileType != null" >
        FILE_TYPE = #{fileType,jdbcType=INTEGER},
      </if>
      <if test="fileCode != null" >
        FILE_CODE = #{fileCode,jdbcType=VARCHAR},
      </if>
      <if test="sceneDescr != null" >
        SCENE_DESCR = #{sceneDescr,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null" >
        POSITION_X = #{positionX,jdbcType=DOUBLE},
      </if>
      <if test="positionY != null" >
        POSITION_Y = #{positionY,jdbcType=DOUBLE},
      </if>
    </set>
    where ROWID = #{rowid,jdbcType=BIGINT}
  </update>
</mapper>