.header{min-width: 960px;width:70%;margin: 0 auto;height:100px;}
.logo{margin-top: 20px;}
.logo img{margin-right: 10px;vertical-align:middle;}
.logo p{font-size:18px;font-weight:bold;}
.logo p.dept_name{display:inline-block;font-size:28px;color:#666;vertical-align:middle;line-height:54px;margin-right:10px;}
.logo .sys_name{margin-top:10px;}
.logo .sys_name p{color:#2AA5DF;}
.logo span{font-size: 10px;color:#666666;}
.right_warp{margin-top: 25px;}
.search .search_warp{width:187px;height:30px;border: 2px solid #dcdcdc;border-radius:20px;}
.search_warp a{margin-top: 6px;display: inline-block;}
.search .search_warp input{height: 27px;border: #fff;border-radius: 20px;list-style: none;outline: none;}
.header_bottomhr{border-bottom: 7px solid #2aa5df;}
.nav{margin-top: 15px;}
.nav ul li{float: left;padding: 0 15px;cursor: pointer;}
.nav ul li a{font-size:16px;}
.nav ul li:last-child{padding-right: 0;}
.nav ul li.active a{color:#2aa5df;}
.nav ul li:hover a{color:#2aa5df;}

/*banner*/
.banner{height:386px;background: url(../images/banner.png) center center no-repeat;border-top:solid 5px #2AA5DF;}
.banner_warp{width: 960px;width:70%;margin: 0 auto;height: 386px;}
.banner_login{width: 340px;height: 318px;background: #fff;border-radius: 5px;box-shadow: 4px 4px 0 #cecece;margin-top: 30px;margin-right:15px;}
.banner_login .login_btn li{line-height: 47px;width: 165px;text-align: center;cursor:pointer;border-bottom:1px solid #d9d9d9;border-left:1px solid #d9d9d9;float: left;}
.banner_login .login_btn li.active{border: none;border-top:3px solid #fdce00;}
.banner_login .login_btn li:hover{border: none;border-top:3px solid #fdce00;}
.banner_login .login_form{width: 90%;margin:30px auto;}
.banner_login .login_form ul li{margin-bottom:30px;}
.banner_login .login_form ul li label{display: inline-block;width: 18%;text-align: right;line-height: 30px;margin-right:1%;}
.banner_login .login_form ul li input{width:70%;line-height:30px;height:30px;border-radius:3px;border:solid 1px #ccc;}
.banner_login .login_form ul li a.login{display: inline-block;width:90%;text-align: center;line-height: 40px;background:#FDCE00;color:#fff;border-radius:5px;}
.banner_login .login_form ul li a.login:hover{background: #e0bc1d;}



/*é¦–é¡µå†…å®¹å±•ç¤ºåŒºåŸŸ*/
.warp_no1{min-width: 960px;width:70%;margin:25px auto 40px;}
.warp_no1 .warp_mo1{width: 30%;}
.warp_no1 .jl_fl .web_report{width:100%;min-width:290px;border: 1px solid #d9d9d9;border-radius:5px;margin-bottom:20px;}
.warp_no1 .jl_fl .web_report .no1_title{padding-top:25px;}
.warp_no1 .jl_fl .web_report .no1_title img{margin-right:20px;}
.warp_no1 .jl_fl .web_report .no1_title span{padding: 5px 20px;background:#63737a;color:#fff;}
.warp_no1 .jl_fl .web_report ul{width:90%;margin:15px auto;}
.warp_no1 .jl_fl .web_report ul li{line-height:30px;overflow: hidden;}
.warp_no1 .jl_fl .web_report ul li span,.warp_no1 .warp_detail ul li span{display: inline-block;font-size:12px;width: 75%;float: left;overflow: hidden; /*è‡ªåŠ¨éšè—æ–‡å­—*/text-overflow: ellipsis;/*æ–‡å­—éšè—åŽæ·»åŠ çœç•¥å·*/ white-space: nowrap;}
.warp_no1 .jl_fl .web_report ul li a,.warp_no1 .warp_detail ul li a{font-size:12px;float: right;}
.warp_no1 .warp_detail{width:47%;min-width: 307px;border: 1px solid #e8edf0;border-radius:5px;margin-right: 20px;margin-bottom: 20px;}
.warp_no1 .warp_detail p{line-height: 35px;background:#e8edf0;text-indent:10px;}
.warp_no1 .warp_detail p img{margin-right:20px;margin-top: 12px;}
.warp_no1 .warp_detail ul{width:90%;margin:10px auto;}
.warp_no1 .warp_detail ul li{color:#666666;line-height:32px;overflow: hidden;font-size:12px;}
.warp_no1 .warp_mo2{width:65%;min-width: 650px;}
.addrnamecheck{position:relative;}
.second_nav{background:#fff;position:absolute;width:80px;left:6px}
.second_nav li{float:none !important;padding:inherit !important;text-align: center;border-top:1px solid #ccc}
.second_nav li a{color:#333 !important;font-size:12px !important;line-height:30px}
.second_nav li a:hover{color:#2aa5df !important}
/*footer*/
.foot{height: 70px; background:#eaeaea;color: #999999;}
.foot p{text-align: center;color: #999999;font-size: 12px;}
.foot p img{width: 15px;height: 16px;margin-right:10px;}

/*å…¬å…±æœç´¢*/
.pubs_warp{background:rgba(255, 255, 255, 0.85)!important; background:#fff;position: absolute;width: 100%;top: 0;z-index: 999;border-bottom:solid 5px #2AA5DF;}
.pub_sear{width: 90%;margin: 0 auto;}
.header_bottomhr2{border-bottom: 2px solid #2aa5df;position: absolute;top: 100px;width: 100%;z-index: 999;}
.right_filter{margin-top:40px;overflow:hidden;}
.right_filter select{height: 40px;line-height: 40px;color: #fff;border: none;width: 150px;margin-right: 10px;display: inline-block;float: left;background: #2AA5DF;text-indent:10px;}
.right_filter select option{background:#fff;color:#333;line-height:40px;}

.right_filter .list{border: none;width: 100px;margin-right: 10px;display: inline-block;float: left;height:40px;line-height:40px;font-weight:bold;
cursor:pointer;padding:0 26px 0 6px;color: #fff;background-color:#2AA5DF;/*color:#fff;background-color:#3385FF;*/background-image: url(../../img/drop_down_list2.png);
background-repeat: no-repeat;background-position: right;border-radius:0px;}

.right_filter>ul{display: inline-block;}
.right_filter>ul>li{float: left;border-right:1px;line-height:40px;background: #2AA5DF}
.right_filter>ul>li>a{padding:0 20px;color:#fff;}
.right_filter>ul>li>label{padding:0 20px;color:#fff;}
.right_filter>ul>li>.plateTypesLayer{border:solid 1px #0A85BF;background:#2AA5DF;position:absolute;display:none;}
.right_filter>ul>li>.plateTypesLayer>li{margin:2px 10px;color:#fff;}
.right_filter>ul>li>.plateTypesLayer>li>label{color:#fff;}
.right_filter>ul>li>.plateTypesLayer>a{color:#fff;line-height:12px;position:absolute;top:8px;right:8px;}

.pubsea{width:450px;border:3px solid rgba(255,153,0,0.5);position: absolute;top: 130px;left: 5%;z-index: 999;border-radius:3px;}
.pubsea input{width:80%;height:34px;float: left;border-radius:inherit;border: 0px solid #fff;}
.pubsea .ser_btn{width: 20%;background:#2AA5DF;cursor:pointer;}
.pubsea .ser_btn .ser_btn_data{line-height:34px;color:#fff;}
.pubsea .ser_btn .ser_btn_data img{margin:7px 5px 0 10px;float: left;}
.pubsea .ser_btn:hover{background:#2290c3;}

.sear_con{background:#fff;border: 1px solid #ccc;width: 415px;padding:0 20px 20px 20px;position: absolute;z-index: 999;left:5%;top: 180px;}
.sear_con .searplane_title{line-height:40px;border-bottom: 1px solid #2AA5DF;}
.sear_con .searplane_title img.title_logo{float: left;margin:10px 10px 0 10px;}
.sear_con .searplane_title img.shouq{float: right;margin-top: 13px;margin-right:10px;cursor: pointer;}
.sear_con .searplane_title img.close{float: right;margin-top: 13px;cursor: pointer;}
.sear_con .sear_conul{margin-top:20px;overflow-y:auto;}
.sear_con .sear_conul li .sear_deile li{text-indent:30px;line-height:25px;}
.sear_con .sear_conul li .sear_deile li.sear_deileno1{position: relative;}
.sear_con .sear_conul li .sear_deile li.sear_deileno1 img{position: absolute;left: 0;top: 1px;}
.sear_con .sear_conul li.eachli{padding-bottom:20px;border-bottom:1px solid #ccc;margin-bottom:20px;}
.sear_con .sear_conul li .sear_deile li .show_map{padding:3px 10px;border: 1px solid #2AA5DF;color: #2AA5DF;margin-right:15px;border-radius:5px;}
.sear_con .sear_conul li .sear_deile li .give{padding:3px 10px;border: 1px solid #fd9c42;color: #fd9c42;margin-right:15px;border-radius:5px;}
.sear_con .sear_conul li .sear_deile li.caozuo{text-align:right;margin-top:10px;}

.filter_con .icon_gounp{overflow: hidden;}
.filter_con .icon_gounp li{float: left;width:25%;text-align: center;margin-top:10px;}
.filter_con .icon_gounp li label{display: block;}
.error_msg{color:#ff9900;font-size:12px;margin-left:30px;}


.search_result .pageBar{text-align:center;font-size:12px;margin-top:10px;}
.search_result .pageBar a{color:#2AA5DF;}
.search_result .pageBar a:hover{color:#ff9900;}

::-webkit-scrollbar{width:6px;height:6px}
::-webkit-scrollbar-button{height:0;width:0}
::-webkit-scrollbar-track{background-color:#f1f1f1}
::-webkit-scrollbar-thumb{background:#ccc}
::-webkit-input-placeholder{color:#aaa;font-size:14px}
::-moz-placeholder{color:#aaa;font-size:14px}
:-ms-input-placeholder{color:#aaa;font-size:14px}
*{scrollbar-base-color:#ccc;scrollbar-3dlight-color:#ccc;scrollbar-highlight-color:#ccc;scrollbar-track-color:#f1f1f1;scrollbar-arrow-color:#000;scrollbar-shadow-color:#ccc;scrollbar-dark-shadow-color:#ccc}


.info-window{width:420px;}
.info-window .info{height:100px;}
.info-window .info .l-part{float:left;width:300px;}
.info-window .info .l-part h4{line-height:32px;font-size:16px;}
.info-window .info .r-part{float:right;width:120px;}
.info-window .links{border-top:solid 1px #ccc;margin-top:10px;}
.info-window .links a{color:#2AA5DF;line-height:30px;display:inline-block;margin:0 10px;}
.info-window .links a:hover{color:#FF9900;}



.plate_info_1{width:150px;height:90px;border:solid 1px #0E4C97;background:#2E6CB7;}
.plate_info_1 .plate_addr{text-align:center;}
.plate_info_1 .plate_addr label{font-size:18px;font-weight:bold;font-family:Î¢ÈíÑÅºÚ;color:#fff;letter-spacing:10px;}
.plate_info_1 .plate_no{text-align:center;}
.plate_info_1 .plate_no label{font-size:28px;font-weight:bold;font-family:Î¢ÈíÑÅºÚ;color:#fff;line-height:40px;}
.plate_info_1 .plate_code{text-align:center;}
.plate_info_1 .plate_code label{color:#fff;font-size:14px;}

.plate_info_2{width:150px;height:90px;border:solid 1px #0E4C97;background:#2E6CB7;}
.plate_info_2 .plate_addr{text-align:center;}
.plate_info_2 .plate_addr label{font-size:18px;font-weight:bold;font-family:Î¢ÈíÑÅºÚ;color:#fff;letter-spacing:10px;line-height:40px;}
.plate_info_2 .plate_no{text-align:center;}
.plate_info_2 .plate_no label{font-size:27px;font-weight:bold;font-family:Î¢ÈíÑÅºÚ;color:#fff;}
.plate_info_2 .plate_code{display:none;}
.plate_info_2 .plate_code label{}

.plate_info_3{width:150px;height:90px;border:solid 1px #0E4C97;background:#2E6CB7;}
.plate_info_3 .plate_addr{text-align:center;float:left;width:80px;}
.plate_info_3 .plate_addr label{font-size:18px;line-height:90px;font-weight:bold;font-family:Î¢ÈíÑÅºÚ;color:#fff;}
.plate_info_3 .plate_no{text-align:center;background:#fff;float:right;width:65px;}
.plate_info_3 .plate_no label{font-size:45px;line-height:90px;font-weight:bold;font-family:Î¢ÈíÑÅºÚ;color:#DF5050;}
.plate_info_3 .plate_code{display:none;}
.plate_info_3 .plate_code label{}

.plate_info_4{width:150px;height:90px;border:solid 1px #0E4C97;background:#2E6CB7;}
.plate_info_4 .plate_addr{display:none;}
.plate_info_4 .plate_addr label{}
.plate_info_4 .plate_no{text-align:center;}
.plate_info_4 .plate_no label{line-height:90px;font-size:24px;font-weight:bold;font-family:Î¢ÈíÑÅºÚ;color:#fff;letter-spacing:10px;}
.plate_info_4 .plate_code{display:none;}
.plate_info_4 .plate_code label{}

