<!DOCTYPE HTML>
<html>
<head>
<title>加油卡管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<script src="../../../js/jquery-photo-gallery/jquery.photo.gallery.js"></script>


<style type="text/css">
	.sel{font-family: '微软雅黑';font-size: 12px;width:204px;height:27px;}
	.materialList{}
	.materialList tr{border-bottom:dashed 1px #f4f4f4;height:30px;}
	.materialList tr.th{background:#EDF4FF;color:#418BF3;}
	
	.form_div .title{width:500px;height:30px;line-height:30px;background:#EDF4FF;color:#418BF3;}
	.form_div .title h3{color:#418BF3;}
	
	.form_div table label.title{display:block;width:100%;line-height:30px;border-bottom:solid 1px #f4f4f4;font-weight:bold;font-size:14px;background:none;}
	.form_div#lay3 table img{border:solid 1px #ccc;cursor:url(../../../img/big.png), pointer;}
	ul,li{list-style-type:none;}
	table td input[type=text] {min-width:40px;}
	.hightLight{color:#ff0000;font-weight:bold;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">设备改造验收</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="javascript:" for="#lay1" class="tab selected">设备属性</a>
			<a href="javascript:" for="#lay2" class="tab">材料</a>
			<a href="javascript:" for="#lay3" class="tab">照片</a>
			<a href="javascript:" for="#lay4" class="tab">户变关系</a>
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<div class="title">
				<h3>设备信息</h3>
			</div>
			<table width="500">
				<tr style="height:30px;">
					<td width="50%">设备编号：{{deviceInfo.deviceObjCode}}</td>
					<td width="50%">健康状况：{{deviceInfo.healthName}}</td>
				</tr>
			</table>
			
			<div ng-repeat="trItem in deviceAttrTrs track by $index" class="info_detail_ext">
				<table width="500">
					<tr>
						<td width="50%" ng-repeat="item in trItem" ng-class="{'hightLight':item.dimPeBsMaterial!=1&&deviceInfo[item.ename]!=reserveDeviceInfo[item.ename]}">
							<span ng-if="item.cname">{{item.cname}}：{{deviceInfo[item.ename]}}</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="form_div" id="lay2">
			<table width="500" class="materialList">
				<tr class="th">
					<td align="left"><label style="font-weight:bold;">阶段/材料</label></td>
					<td align="left" ng-repeat="item in materialAttrList"><label style="font-weight:bold;">{{item.cname}}</label></td>
				</tr>
				<tr>
					<td>储备</td>
					<td ng-repeat="item in materialAttrList track by $index">
						{{reserveDeviceInfo[item.ename]}}
					</td>
				</tr>
				<tr>
					<td>改造</td>
					<td ng-repeat="item in materialAttrList track by $index">
						{{deviceInfo[item.ename]}}
					</td>
				</tr>
				
			</table>
		</div>
		<div class="form_div" id="lay3">
			<table class="gallerys">
				<tr>
					<td colspan="2">
						<label class="title">改造前</label>
					</td>
					<td colspan="2">
						<label class="title">改造后</label>
					</td>
				</tr>
				<tr>
					<td>
						<img id="before_img1" src="../../../img/defaultImg02.png" width="150" height="206"  class="gallery-pic" onclick="$.openPhotoGallery(this,'../../../js/jquery-photo-gallery/gallery.html?picTitle=改造前1')"/>
					</td>
					<td>
						<img id="before_img2" src="../../../img/defaultImg02.png" width="150" height="206"  class="gallery-pic" onclick="$.openPhotoGallery(this,'../../../js/jquery-photo-gallery/gallery.html?picTitle=改造前2')"/>
					</td>
					<td>
						<img id="after_img1" src="../../../img/defaultImg02.png" width="150" height="206"  class="gallery-pic" onclick="$.openPhotoGallery(this,'../../../js/jquery-photo-gallery/gallery.html?picTitle=改造后1')"/>
					</td>
					<td>
						<img id="after_img2" src="../../../img/defaultImg02.png" width="150" height="206"  class="gallery-pic" onclick="$.openPhotoGallery(this,'../../../js/jquery-photo-gallery/gallery.html?picTitle=改造后2')"/>
					</td>
				</tr>
				<tr>
					<td>
						<label class="title">工作票</label>
					</td>
					<td>
						<label class="title">户变关系核查</label>
					</td>
					<td>
						<label class="title">停电通知书</label>
					</td>
					<td>
					
					</td>
				</tr>
				<tr>
					<td>
						<img id="work_ticket_img" src="../../../img/defaultImg02.png" width="150" height="206"  class="gallery-pic" onclick="$.openPhotoGallery(this,'../../../js/jquery-photo-gallery/gallery.html?picTitle=工作票')"/>
					</td>
					<td>
						<img id="rel_img" src="../../../img/defaultImg02.png" width="150" height="206"  class="gallery-pic" onclick="$.openPhotoGallery(this,'../../../js/jquery-photo-gallery/gallery.html?picTitle=户变关系核查')"/>
					</td>
					<td>
						<img id="notice_img" src="../../../img/defaultImg02.png" width="150" height="206"  class="gallery-pic" onclick="$.openPhotoGallery(this,'../../../js/jquery-photo-gallery/gallery.html?picTitle=停电通知书')"/>
					</td>
					<td>
					</td>
				</tr>
			</table>
		</div>
		<div class="form_div" id="lay4">
			<table width="500">
				<tr style="height:30px;border-bottom:dashed 1px #f4f4f4;background:#EDF4FF;color:#418BF3;">
					<td width="50%">改造状态：
						<span ng-if="!deviceInfo.reserveStatus || deviceInfo.reserveStatus==0" style="color:red;">未改造</span>
						<span ng-if="deviceInfo.reserveStatus==1" style="color:green;">已改造</span>
					</td>
					<td width="50%">改造时间：{{deviceInfo.reserveDate}}</td>
				</tr>
				<tr style="height:30px;border-bottom:dashed 1px #f4f4f4;">
					<td>台区名称：{{deviceInfo.deviceByqName}}</td>
					<td>线路全称：{{deviceInfo.deviceLineName}}</td>
				</tr>
				<tr style="height:30px;border-bottom:dashed 1px #f4f4f4;">
					<td>表箱编号：{{deviceInfo.deviceBxId}}</td>
					<td></td>
				</tr>
				<tr style="height:30px;">
					<td colspan="2" style="word-break:break-all;">
						<div style="float:left;">表号编号：</div>
						<ul style="float:left;margin:0px;padding-left:0px;width:400px;">
						<li style="margin-left:0px;padding-left:0px;float:left;width:50%;" ng-repeat="item in strToArr(deviceInfo.deviceBhIds) track by $index">
						{{item}}
						</li>
						</ul>
					</td>
				</tr>
<!-- 				<tr> -->
<!-- 					<td colspan="2" > -->
<!-- 						<img id="img1" src="../../../img/defaultImg02.png" width="400" style="border:solid 1px #ccc;"/> -->
<!-- 					</td> -->
<!-- 				</tr> -->
			</table>
		</div>
		
		<div class="form_div">
			<div class="title">
				<h3>审核意见</h3>
			</div>
			<div>
				<textarea name="auditSuggest" class="readonly" cols="80" rows="4" readonly="readonly">{{deviceInfo.auditSuggest}}</textarea>
			</div>
		</div>
		<div class="form_bottom">
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
		<br/><br/><br/><br/>
	</div>
</div>
<script type="text/javascript">

simpleController({
	init:function($scope, $http){
		/* init */
		$scope.deviceInfo={};
		$scope.reserveDeviceInfo={};
		$scope.materialListTrs=[];
		$scope.deviceObjName="表箱维修项目";
		
		var urlParams = getUrlParams();
		
		/* 视图渲染 */
		$(".tabs>a").each(function(){
			var layId = $(this).attr("for");
			var idx = $(".tabs>a").index($(this));
			if(idx!=0){
				$(layId).hide();
				$(layId).attr("data-show", "0");
			}else{
				$(layId).attr("data-show", "1");
			}
			$(this).click(function(){
				$(".tabs>.selected").removeClass("selected");
				$(this).addClass("selected");
				var layId = $(this).attr("for");
				$("div[data-show=1]").hide();
				$("div[data-show=1]").attr("data-show", "0");
				$(layId).show();
				$(layId).attr("data-show", "1");
				
			});
		});
		
		$scope.loadMaterialList=function(){
			$scope.httpExecute({
				method:"get",
				url:"eap/pmsServices/pe/baseMgr/remouldBatch/getProDevice",
				data:{"companyCode":$scope.userData.companyCode, "reserveProNo":urlParams.reserveProNo, "deviceObjCode":urlParams.deviceObjCode,
					"remouldBatchCode":urlParams.remouldBatchCode},
				success:function(resp){
					$scope.deviceInfo=resp.data;
					$scope.loadAttrs($scope.deviceInfo.mctCode);
					$("#showimages").attr("src", "../../component/showimags.html?mctCode="+$scope.deviceInfo.mctCode+"&companyCode="+$scope.deviceInfo.companyCode+
							"&proNo="+$scope.deviceInfo.proNo+"&deviceObjCode="+$scope.deviceInfo.deviceObjCode);
					
					if($scope.deviceInfo.reserveSignImg && $scope.deviceInfo.reserveSignImg.length>0){
						$("#rel_img").attr("src", filePath+"?fileCode="+$scope.deviceInfo.reserveSignImg+"&attachment=0");
					}
					if($scope.deviceInfo.reserveOpImg && $scope.deviceInfo.reserveOpImg.length>0){
						$("#work_ticket_img").attr("src", filePath+"?fileCode="+$scope.deviceInfo.reserveOpImg+"&attachment=0");
					}
					if($scope.deviceInfo.reservePcutImg && $scope.deviceInfo.reservePcutImg.length>0){
						$("#notice_img").attr("src", filePath+"?fileCode="+$scope.deviceInfo.reservePcutImg+"&attachment=0");
					}
					
					if($scope.deviceInfo.reserveB1Img && $scope.deviceInfo.reserveB1Img.length>0){
						$("#before_img1").attr("src", filePath+"?fileCode="+$scope.deviceInfo.reserveB1Img+"&attachment=0");
					}
					if($scope.deviceInfo.reserveB2Img && $scope.deviceInfo.reserveB2Img.length>0){
						$("#before_img2").attr("src", filePath+"?fileCode="+$scope.deviceInfo.reserveB2Img+"&attachment=0");
					}
					if($scope.deviceInfo.reserveA1Img && $scope.deviceInfo.reserveA1Img.length>0){
						$("#after_img1").attr("src", filePath+"?fileCode="+$scope.deviceInfo.reserveA1Img+"&attachment=0");
					}
					if($scope.deviceInfo.reserveA2Img && $scope.deviceInfo.reserveA2Img.length>0){
						$("#after_img2").attr("src", filePath+"?fileCode="+$scope.deviceInfo.reserveA2Img+"&attachment=0");
					}
					
				}
			});
			$scope.httpExecute({
				method:"get",
				url:"eap/pmsServices/pe/proReserve/proDevice",
				data:{"companyCode":$scope.userData.companyCode, "reserveProNo":urlParams.reserveProNo, "deviceObjCode":urlParams.deviceObjCode},
				success:function(resp){
					$scope.reserveDeviceInfo=resp.data;
				}
			});
			
		};
		
		$scope.deviceAttrList=[];
		$scope.deviceAttrTrs=[];
		$scope.materialAttrList=[];
		$scope.reserveMateriaList=[];
		$scope.remouldMateriaList=[];
		/* 加载属性信息 */
		$scope.loadAttrs=function(mctCode){
			$scope.httpGet({
				url:"eap/pmsServices/om/deviceMgr/device/mctAttr?companyCode="+$scope.userData.companyCode,
				data:{"mctCode":mctCode},
				success:function(response){
					$scope.deviceAttrList = response.list;
					$scope.deviceAttrTrs=$scope.splitToTr($scope.deviceAttrList);
					$scope.materialAttrList = $scope.filterMaterialAttr($scope.deviceAttrList);
					$scope.reserveMateriaList=$scope.filterReserveMateriaList($scope.deviceInfo.reserveMateriaList);
					$scope.remouldMateriaList=$scope.filterRemouldMateriaList($scope.deviceInfo.remouldMateriaList);
				}
			});
		};
		/* 根据材料名顺序，依次获取储备中预计的数量 */
		$scope.filterReserveMateriaList=function(arr){
			var arrN=[];
			for(var i=0; i<$scope.materialAttrList.length; i++){
				var attr = $scope.materialAttrList[i]
				arrN.push($scope.getMaterialVal(arr, attr.cname));
			}
			return arrN;
		};
		/* 根据材料名字获取其中的所需数量 */
		$scope.getMaterialVal=function(arr, key){
			for(var i=0; i<arr.length; i++){
				var item = arr[i];
				if(item.materialTypeCode==key){
					return item.needCount;
				}
			}
		};
		/* 根据材料名顺序，依次获取改造中用到的数量 */
		$scope.filterRemouldMateriaList=function(arr){
			var arrN=[];
			for(var i=0; i<$scope.materialAttrList.length; i++){
				var attr = $scope.materialAttrList[i];
				arrN.push($scope.getMaterialVal(arr, attr.cname));
			}
			return arrN;
		};
		$scope.strToArr=function(str){
			if(str){
				return str.split(",");
			}else{
				return str;
			}
		};
		$scope.filterMaterialAttr=function(arr){
			var arrN=[];
			for(var i=0; i<arr.length; i++){
				var attr = arr[i];
				if(attr.dimPeBsMaterial==1){
					arrN.push(attr);
				}
			}
			return arrN;
		};
		
		/* 组织tr数据 */
		$scope.splitToTr=function(arr){
			var trs=[];
			for(var i=0; i<arr.length; i++){
				var attr = arr[i];
				if(i!=0 && i%2==0){
					trs.push([]);
				}
				if(trs.length==0){
					trs.push([]);
				}
				var tr=trs[trs.length-1];
				tr.push(attr);
			}
			var lastTr=trs[trs.length-1];
			if(lastTr.length<2){
				lastTr.push({});
			}
			return trs;
		};
		
		/* 取消 */
		$scope.onCancel = function(){
			parent.$dlog.close();
		};
		
		$scope.calc=function(idx){
			var cnt = $("input[name=materialTypeCount][idx="+idx+"]").val();
			var cost = $("input[name=materialTypeCost][idx="+idx+"]").val();
			if(!isNaN(cnt)){
				amount = cnt*cost;
				amount = decim(amount, 2);
				$("input[name=materialTypeAmount][idx="+idx+"]").val(amount);
			}
		};
		
		$scope.loadMaterialList();
		
		/* 表单验证 */
		validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					
				} 
			}
		});
	}
});
</script>
</body>
</html>
