<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.materielMg.vehicleMg.check.dao.CheckVoMapper" >
  
  
 
  
  <select id="queryForCount" parameterType="java.util.HashMap" resultType="int">
  	select count(*)
  	from  gm_vm_check where 1=1
  	<if test="assetCode != null and assetCode != ''">
    and ASSET_CODE = #{assetCode}
    </if>
    <if test="fromDate != null and fromDate != ''">
	  	and CHECK_DATE &gt;= #{fromDate}
  	</if>
  	<if test="endDate != null and endDate != ''">
  	    and CHECK_DATE &lt;= #{endDate}
  	</if>
  </select>
  
  <select id="queryForPage" parameterType="java.util.HashMap" resultType="map">
  	select rowid,ASSET_CODE assetcode,date_format(CHECK_DATE,'%Y-%m-%d') checkdate,date_format(CHECK_DATE2,'%Y-%m-%d') checkdate2,DATEDIFF(CHECK_DATE2,curdate()) days,CHECK_COST checkcost,CHECK_ADDRESS checkaddress,REMARKS remarks
	from gm_vm_check where 1=1

	<if test="assetCode != null and assetCode != ''">
    and ASSET_CODE  = #{assetCode}
    </if>
    <if test="fromDate != null and fromDate != ''">
	  	and CHECK_DATE &gt;= #{fromDate}
  	</if>
  	<if test="endDate != null and endDate != ''">
  	    and CHECK_DATE &lt;= #{endDate}
  	</if>
    order by CHECK_DATE desc
  	limit #{firstResult},#{maxResult}
  	
  </select>
  
  <insert id="insert" parameterType="com.glens.pwCloudOs.materielMg.vehicleMg.check.vo.CheckVo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    INSERT INTO gm_vm_check(ASSET_CODE,CHECK_DATE,CHECK_DATE2,CHECK_COST,CHECK_ADDRESS,SYS_CREATE_TIME,SYS_PROCESS_FLAG,REMARKS)
	VALUES(#{assetCode},#{checkDate},#{checkDate2},#{checkCost},#{checkAddress},now(),1,#{remarks})

      
  </insert>
  
  <delete id="delete" parameterType="com.glens.pwCloudOs.materielMg.vehicleMg.check.vo.CheckVo" >
    delete from gm_vm_check
    where rowid = #{rowid}
  </delete>
  
  
</mapper>