<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>首页</title>
	<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../js/placeholder.js"></script>
	<script type="text/javascript" src="../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../js/config.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/iconfont/iconfont.css"/>
	<script type="text/javascript" src="../angular-1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="../js/util.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/bxyw1.css"/>
	<link rel="stylesheet" type="text/css" href="../css/mainindex.css"/>
</head>
<body  ng-app="pmsWeb" ng-controller="mainCtrl">
	<div class="wall">
		<img src="../img/working.9.png"/>
	</div>
	<div class="nav_bar">
		<p ng-repeat-start="item in groupArr">{{item.groupName}}</p>
		<ul ng-repeat-end>
			<li ng-repeat="nav in item.appList" ng-if="nav.appType==2||nav.appType==3">
				<a href="{{getUrl(nav)}}" target="_top">
					<img src="{{nav.appIco}}"/>
					<label>{{nav.appName}}</label>
				</a>
			</li>
		</ul>
	</div>
</body>
<script>
	var app = angular.module("pmsWeb", []);
	app.controller("mainCtrl", function($scope, $http){
		$scope.userData = {};
		var userDataStr = $.cookie("pmsWeb_user_data");
		
		if(!userDataStr){
			
			noLogin(location.href);
			return;
		}
		$scope.userData = jQuery.parseJSON(userDataStr);
		var accountCode=$scope.userData.accountCode;
		var ticket = $.cookie("pmsWeb_ticket");
		$http.get(serviceBasePath+"eap/pmsServices/pwBaoAppService/lightApp?accountCode="+accountCode).success(function(response) {/*encodeURIComponent(*/
			if(response.statusCode!=200){
				alert("请求服务器失败！");
				return;
			}
			$scope.fnModules = response.list;
			$scope.groupArr=[];
			
			for(i=0;i<$scope.fnModules.length;i++){
				var group=$scope.fnModules[i];
				var arrN=[];
				for(j=0;j<group.appList.length;j++){
					if(group.appList[j].appType==2||group.appList[j].appType==3){
						arrN.push(group.appList[j])
					}
				}
				if(arrN.length>0){
					group.appList=arrN;
					$scope.groupArr.push(group);
				}
			}
			
		});
		
		$scope.getUrl=function(menu){
			return appendParams(menu.appUrl, {"web":1});
		}
		
		
	})
</script>
</html>