<!DOCTYPE HTML>
<html>
<head>
<title>项目概算</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />

<style type="text/css">
	.title_tabs{list-style-type:none;padding:0;margin:0;height:39px;}
	.title_tabs li{position:relative;padding:0;margin:0;border:solid 0px;float:left;height:39px;background:#E1E1E1;}
	.title_tabs li>a{display:block;line-height:39px;border:solid 0px;padding:0 70px 0 50px;margin-right:-14px;
		background:url(../../../img/list_Header2-gray.png) right no-repeat;color:#666;font-size:14px;font-weight:bold;}
	.title_tabs li.selected{background:#4CA9FF;z-index:9;}
	.title_tabs li.selected>a{background:url(../../../img/list_Header2-.png) right no-repeat;color:#fff;font-size:14px;font-weight:bold;}
	.dlog-edit{width:500px;height:420px;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">
<div class="list">
	<div class="list_content">
		<div class="title_div" style="background:#f4f4f4">
			<div style="line-height:40px;padding-left: 14px;float:left">
				<span>项目编号：{{params.proNo}}</span><span style="margin-left:100px">项目名称：{{params.proName}}</span>
			</div>
			
			<div class="title_back" style="float: right;margin-right:30px" ng-click="goBack()">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;返回
			</div>
			<div class="title_add" style="float: right;" ng-click="addDo()">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增
			</div>
		</div>
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable">
			   <tr class="tr1">
				<th align="center"><div style="width:40px;">序号</div></th>
				<th><div align="center">阶段名称</div></th>
				<th><div align="center">开始时间</div></th>
				<th><div align="center">结束时间</div></th>
				<th><div align="center">里程碑</div></th>
				<th><div align="center">操作</div></th>
			  </tr>
			  <tr class="tr2" ng-repeat="item in userList">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.phaseName}}</div></td>
				<td><div align="center">{{item.phaseStartDate}}</div></td>
				<td><div align="center">{{item.phaseEndDate}}</div></td>
				<td><div align="center">{{item.milestone}}</div></td>
				<td>
					<div align="center">
						<img ng-click="doEdit(item)" class="operationImg" src="../../../img/list_item_modify-icon.png" title="维护">
						<img ng-click="doDelete(item)" class="operationImg" src="../../../img/list_delete-icon.png" title="删除">
					</div>
				</td>
			  </tr>
			</table>
		</div>
	</div>
</div>
</body>
<script type="text/javascript">
var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		window.noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
    console.log(userData);
	var companyCode=userData.companyCode;
    var employeeCode=userData.employeeCode;
	ticket = $.cookie("pmsWeb_ticket");
	var urlParams = getUrlParams();
	$scope.params=urlParams;
	console.log($scope.params);
	var proNo =urlParams.proNo;
	var proName =urlParams.proName;
	var versionCode=urlParams.versionCode;

	var budgetestimateCode=urlParams.budgetestimateCode;
	
	$scope.getData=function(){

		$http.get(serviceBasePath+"eap/pmsServices/pm/pb/budgetEstimate/proPhaseList?companyCode="+companyCode+"&proNo="+proNo+"&budgetEstimateCode="+budgetestimateCode+"&versionCode="+versionCode).success(function(response){
			if(response.statusCode==200){
				$scope.userList=response.list;
                $scope.phaseName=$scope.userList.phaseName;
				console.log($scope.userList)
			}else{
				$scope.userList={};
			}
		});

	};
	
	$scope.getData();
	$scope.addDo=function(){
		new ShowDlog().showFrame("proCountTap.html?proNo="+proNo+"&proName="+proName+"&versionCode="+versionCode+"&budgetEstimateCode="+budgetestimateCode, "阶段新增", function(res){
			if("SUCCESS"==res){
				$scope.getData();
			}
		}, "dlog-edit");

	};
	$scope.doEdit=function(item){
		new ShowDlog().showFrame("proCountTapEdit.html?proNo="+proNo+"&proName="+proName+"&phaseCode="+item.phaseCode+"&milestone="+item.milestone+"&phaseOrder="+item.phaseOrder+"&phaseEndDate="
				+item.phaseEndDate+"&phaseName="+item.phaseName+"&phaseStartDate="
				+item.phaseStartDate+"&phaseCode="+item.phaseCode+"&versionCode="+versionCode+"&budgetEstimateCode="+budgetestimateCode, "阶段修改", function(res){
			if("SUCCESS"==res){
				$scope.getData();
			}
		}, "dlog-edit");

	};
	$scope.doDelete=function(item){
		var data={"companyCode":userData.companyCode,"proNo":proNo,"phaseCode":item.phaseCode};
		
		new ShowDlog().confirm({
			msg:"是否确定删除？",
			ok:function(){
				$http.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';

				  /**
				   * The workhorse; converts an object to x-www-form-urlencoded serialization.
				   * @param {Object} obj
				   * @return {String}
				   */ 
				  var param = function(obj) {
				    var query = '', name, value, fullSubName, subName, subValue, innerObj, i;
				      
				    for(name in obj) {
				      value = obj[name];
				        
				      if(value instanceof Array) {
				        for(i=0; i<value.length; ++i) {
				          subValue = value[i];
				          fullSubName = name + '[' + i + ']';
				          innerObj = {};
				          innerObj[fullSubName] = subValue;
				          query += param(innerObj) + '&';
				        }
				      }
				      else if(value instanceof Object) {
				        for(subName in value) {
				          subValue = value[subName];
				          fullSubName = name + '[' + subName + ']';
				          innerObj = {};
				          innerObj[fullSubName] = subValue;
				          query += param(innerObj) + '&';
				        }
				      }
				      else if(value !== undefined && value !== null)
				        query += encodeURIComponent(name) + '=' + encodeURIComponent(value) + '&';
				    }
				      
				    return query.length ? query.substr(0, query.length - 1) : query;
				  };

				  // Override $http service's default transformRequest
				  $http.defaults.transformRequest = [function(data) {
				    return angular.isObject(data) && String(data) !== '[object File]' ? param(data) : data;
				  }];
				 $http.post(serviceBasePath+"eap/pmsServices/pm/pb/budgetEstimate/deleteProPhase", data).success(function(response){
						if(response.statusCode==200){
							new ShowDlog().prompt({
								icon:"success",
								msg:"删除成功！",
								done:function(){
									$scope.getData();
								},
								t:1500
							});
						}
					});
				$http.post(serviceBasePath+"eap/pmsServices/pm/pb/budgetEstimate/addPmpbLog?operator="+employeeCode+"&operateProNo="+proNo+"&operateContent='"+proName+"删除阶段("+item.phaseName+")'&budgetEstimateCode="+budgetestimateCode+"&versionCode="+versionCode+"&operateDesc="+"").success(function(response){
                    if(response.statusCode==200){
                        $scope.ProList=response.list;
                    }
                });
			}
		});


	};
	$scope.goBack=function(){
		location.href="proCounListMgr.html"
	};

});
</script>
</html>
