<!DOCTYPE HTML>
<html>
<head>
<title>项目概算列表</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/list.css"/>
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/time.js"></script>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/ExportExcel.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.owWordLoad{text-decoration:underline;color:#0099ff;}
	.owWordload-detail{border:solid 1px #666;background:#ffee99;color:#666;padding:4px 6px 4px 6px;position:absolute;display:none;}
	.stutes_span{display:inline-block;width:20px;height:20px;border-radius:50%;position: relative; top: 5px;}
	.hstu{background:#76b102}
	.nostu{background:red}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<input type="text" class="dropDownArea" name="city" condition="city" viewstate="city" placeholder="请选择地区"/>
				<input type="text" id="category" class="dropDownList" placeholder="请选择项目分类"/>
				<input type="text" name="proName" class="required dropDownList" maxlength="32" style="width:220px" placeholder="请选择项目"/>
				<input type="text" style="width:150px;" name="searchName" class="" placeholder="项目名、编号、负责人"/>
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
 			   <div class="query_div" ng-click="doExport()">
					导出
			   </div>
 
			</div>
			<img src="../../../img/list_Header2-.png">
			
		</div>
		
		<div class="table_div">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable">

					  <tr class="tr1">
					  <th align="center">序号</th>
					  <th align="center">地区</th>
					  <th align="center">县级市号</th>
					  	<th align="center">项目编号</th>
					  	<th align="center">项目部门</th>
						<th align="center">项目名称</th>
						<th align="center">项目负责人</th>
						
						<th align="center">项目状态</th>
						<th align="center">预估总额</th>
						<th align="center">合同总额</th>
						<th align="center">管理费比例</th>
						<th align="center">人力成本</th>
						<th align="center">设备成本</th>
						<th align="center">外包成本</th>
						<th align="center">其它成本</th>
						<th align="center">约定薪酬</th>
						<th align="center">项目结余</th>
						<th align="center">预期结余率</th>
						<th align="center">项目利润</th>
						<th align="center">预期利润率</th>
					</tr>
					 <tr class="tr2" ng-repeat="item in datalist">
					 	<td align="center">{{$index+1}}</td>
					 	<td align="center">{{item.city}}</td>
					 	<td align="center">{{item.district}}</td>
					 	<td align="center">{{item.proCode}}</td>
					 	<td align="center">{{item.unitName}}</td>
						<td align="center">{{item.proName}}</td>
						<td align="center">{{item.proManager}}</td>
						<td align="center">
							<div>{{item.proStatus}}</div>
						</td>
						<td align="center">
							{{fmoney(item.contractValue,2)}}
						</td>
						<td align="center">
							{{fmoney(item.tprice,2)}}
						</td>
						<td align="center">{{decim(item.managerVal*100,2)}}%</td>
						<td align="center">{{fmoney(decim(item.empval,2),2)}}</td>
						<td align="center">{{fmoney(decim(item.deviceval,2),2)}}</td>
						<td align="center">{{fmoney(decim(item.waibao,2),2)}}</td>
						<td align="center">{{fmoney(decim(item.otherval,2),2)}}</td>
						<td align="center">{{fmoney(decim(item.appointmentPay,2),2)}}</td>
						<td align="center">{{fmoney(decim(item.proBalance,2),2)}}</td>
						<td align="center">{{decim(item.expectBalanceRate*100,2)}}%</td>
						<td align="center">{{fmoney(decim(item.proProfit,2),2)}}</td>
						<td align="center">{{decim(item.expectedProfitrate*100,2)}}%</td>
					</tr>
					</table>

		</div>
		<div id="page_bar" class="list_bottom" align="center">
		</div>

		
	</div>
</div>
<script type="text/javascript">

var searchName="";

function createPageBar(totalPage, curPage,totalRecord){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		curPage:curPage,
		totalRecord: totalRecord,
		showPageInfo:true,
		prevPageText:"上一页",
		nextPageText:"下一页",
		onPage:function(pageNum){
			_currentPage=pageNum;
			ngScope.loadUsers(companyCode,searchPro,categoryCode,areaName,_currentPage);
		}
	});
}


var ngScope;
var companyCode="";
var employeeCode="";
var searchPro="";
var proName="";
var categoryCode="";
var categoryName="";
var districtManager="";
var districtManagerName="";
var areaName="";
var _currentPage=1;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.userList=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	companyCode=userData.companyCode;

	

	
	
	
	
	/* $http.get(serviceBasePath+"eap/pmsServices/pm/pb/budgetEstimate/getDistrictManager?companyCode="+companyCode+"&ticket="+ticket).success(function(response){
				if(response.statusCode!=200){
					alert("请求服务器失败！");
					return;
				}
				
				
				var resultList=response.list;
				var temp={};
				temp.EMPLOYEENAME="全部";
				temp.DISTRICT_MANAGER="";
				resultList.splice(0,0,temp);
				
				new DropDownList().init({
					renderTo:"#ditrictManager",
					mode:"list",
					data:resultList,
					textField:"EMPLOYEENAME",
					onSelected:function(item){
						$("#ditrictManager").val(item.EMPLOYEENAME);
						districtManager=item.DISTRICT_MANAGER;
						districtManagerName=item.EMPLOYEENAME;
						$scope.loadUsers(companyCode,searchPro,categoryCode,districtManager,areaName);
					}
				});
	}); */
	
	
	
	/* 区域 */
	new DropDownList().init({
		renderTo:".dropDownArea",
		url:"../../component/areaList.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$(".dropDownArea").val(result.name);
			
			areaName=result.name;
			
			$scope.loadUsers(companyCode,searchPro,categoryCode,areaName,_currentPage);
		}
	});

	
	/* 项目分类 */
	new DropDownList().init({
		mode:"page",
		renderTo:"#category",
		url:"../../component/projectType.html?ticket="+$scope.ticket,
		height:"200px",
		onSelected:function(result){
			$scope.cond_category=result.categoryCode;
			categoryCode=result.categoryCode;
			categoryName=result.categoryName;
			$("#category").val(result.categoryName);
			
			$scope.loadUsers(companyCode,searchPro,categoryCode,areaName,_currentPage);
			
			proNameList.setConfig("url", "../../component/gaisuanprojectList.html?categoryCode="+result.categoryCode+"&ticket="+$scope.ticket);
		}
	});
	

	
	/* 项目名称 */
	var proNameList = new DropDownList();
	proNameList.init({
		mode:"page",
		renderTo:"input[name=proName]",
		url:"../../component/gaisuanprojectList.html?required=false",
		height:"200px",
		onSelected:function(result){
			$("input[name=proName]").val(result.proName);
			searchPro=result.proNo;
			proName=result.proName;
			$scope.loadUsers(companyCode,searchPro,categoryCode,areaName,_currentPage);
		}
	});
	
	$scope.loadUsers=function(companyCode,proNo,categoryCode,areaName,currentPage,searchName){
		$http.get(serviceBasePath+"eap/pmsServices/pm/pb/budgetEstimate/gaisuanHuizong?companyCode="
		+companyCode+"&proNo="+proNo+"&categoryCode="+categoryCode+"&ticket="+ticket+"&areaName="+areaName+"&currentPage="+currentPage+"&searchName="+searchName).success(function(response){
			
			if(response.statusCode==404){
				$scope.datalist=response.list;
			}else if(response.statusCode==200){
				$scope.datalist=response.list;
			}else{
				alert("请求服务器失败！");
				return;
			}
			
			createPageBar(response.totalPage, response.currentPage,response.totalRecord);

			
		});
	}; 
	
	$scope.doQuery=function(){
		searchName=$("input[name=searchName]").val();
		$scope.loadUsers(companyCode,searchPro,categoryCode,areaName,_currentPage,searchName)
	};	
	$scope.loadUsers(companyCode,searchPro,categoryCode,areaName,_currentPage,searchName);
	
	
	
	
	$scope.fmoney=function(s,n){
		
		 if(s==undefined || s=="undefined"){
			 return "";
			 
		 }else{
			 if(!isNaN(s)){
				 n = n > 0 && n <= 20 ? n : 2;
		         s = parseFloat((s + '').replace(/[^\d\.-]/g, '')).toFixed(n) + '';
		         var l = s.split('.') [0].split('').reverse(),
		             r = s.split('.') [1];
		         var  t = '';
		         for (var i = 0; i < l.length; i++)
		         {
		             t += l[i] + ((i + 1) % 3 == 0 && (i + 1) != l.length ? ',' : '');
		         }
		         return t.split('').reverse().join('') + '.' + r;
				}else{
					  return s;
				}
		 }
		 
	};

	$scope.decim=function(a,b){
		return decim(a,b);
	};

	$scope.doExport = function() {
		
		
		hrefTo({url:serviceBasePath+"eap/pmsServices/pm/pb/budgetEstimate/exportgaisuanHuizong", 
		data:{categoryCode:categoryCode,areaName:areaName, 
		proNo:searchPro,
		companyCode:companyCode}});
		
		
	};


	
	
});
</script>
</body>
</html>
