<!DOCTYPE HTML>
<html>
<head>
<title> 车辆管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../../../css/list.css" />
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />

<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/config.js"></script>

<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>

<style type="text/css">
	.dropDownArea{background-image:url(../../../../img/flag.png);background-repeat: no-repeat;background-position:right;background-position:185px;cursor:pointer;}
	
	.btn{display:inline-block;padding:1px 4px;border:solid 1px #f4f4f4; border-radius:4px;}
	.btn.toactive{color:#fff;background:green;}
	.btn.toclose{color:#fff;background:#ED7798;}
	.ck{border:1px #fff solid;background:#fff;margin-top:5px}
	.cks{float:left;height:20px;}
	.cks .ck{float:left;margin-top:15px;margin-left:10px;}
	.cks span{float:left}
    .dialog-viewcode{width:500px;height:400px;}
    .dialog-viewcyle{width:900px;height:500px;}
    .dialog-scrap{width:480px;height:320px;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left" style="min-width: 300px">
				
				
				<input type="text" name="searchName" id="searchName"  placeholder="请输入车牌号" style="width:150px;" />
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
				
				&nbsp;&nbsp;
				
			</div>
			<img src="../../../../img/list_Header2-.png">
			
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">资产名称</div></th>
				
				<th><div align="center">含税单价</div></th>
				<th><div align="center">不含税单价</div></th>
				<th><div align="center">采购时间</div></th>
				<th><div align="center">入库时间</div></th>
				<th><div align="center">报废时间</div></th>
				
				<th><div align="center">车牌号</div></th>
				<th><div align="center">发动机号</div></th>
				<th><div align="center">车架号</div></th>
				<th width="10%"><div align="center">保险状态</div></th>
				<th width="10%"><div align="center">年检状态</div></th>
				<th width="10%"><div align="center">所属状态</div></th>
				<th width="18%"><div align="center">操作</div></th>
			  </tr>
			  <tr class="tr2" ng-repeat="item in projectList">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.assetName}}</div></td>
				
				<td><div align="center">{{item.price1}}</div></td>
				<td><div align="center">{{item.price2}}</div></td>
				<td><div align="center">{{item.datePurchase=="0000-00-00"?'':item.datePurchase}}</div></td>
				<td><div align="center">{{item.dateStorage=="0000-00-00"?'':item.dateStorage}}</div></td>
				<td><div align="center">{{item.dateDump=="0000-00-00"?'':item.dateDump}}</div></td>
				<td><div align="center">{{item.vaNo}}</div></td>
				<td><div align="center">{{item.vaEngineNo}}</div></td>
				<td><div align="center">{{item.vaCarframeNo}}</div></td>
				
				<td>
					<div align="center" ng-if="item.baoxian==1">
						<img src="../../../../img/iconyes.png" />
					</div>
					<div align="center" ng-if="item.baoxian==0">未保险或过期</div>
				</td>
				
				<td>
					<div align="center" ng-if="item.nianjian==1">
						<img src="../../../../img/iconyes.png" />
					</div>
					<div align="center" ng-if="item.nianjian==0">未年检或过期</div>
				</td>
				
				
				<td ng-if="item.status==1" style="background:#FF9B7E">
					<div  align="center">闲置</div>
				</td>
				<td ng-if="item.status==2" style="background:#dbc5f5">					
					<div  align="center">在用（部门）</div>
				</td>
				<td ng-if="item.status==3" style="background:#dbc5f5">					
					<div  align="center">在用（项目）</div>
				</td>
				<td ng-if="item.status==4" style="background:#7FBDFF">					
					<div  align="center">项目维修</div>
				</td>
				<td ng-if="item.status==5" style="background:#7FBDFF">					
					<div  align="center">维修</div>
				</td>
				<td ng-if="item.status==6" style="background:#FF7EA5">					
					<div  align="center">待报废</div>
				</td>
				<td ng-if="item.status==7" style="background:#FF7EA5">					
					<div  align="center">已报废</div>
				</td>
				<td ng-if="item.status==8" style="background:#FF7EA5">					
					<div  align="center">总部仓库闲置</div>
				</td>
				
				<td>
					
		    		<div align="center"  >
			    		<img  ng-click="doInsurance(item)" class="operationImg" src="../../../../img/asset/save.png" title="保险">
			    		<img  ng-click="doCheck(item)" class="operationImg" src="../../../../img/asset/yearcheck.png" title="年检">
			    		
		    		</div>
		    		
		    		
				</td>
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">



function createPageBar(totalPage, curPage,totalRecord){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		curPage:curPage,
		totalRecord: totalRecord,
		showPageInfo:true,
		prevPageText:"上一页",
		nextPageText:"下一页",
		onPage:function(pageNum){
			_currentPage=pageNum;
			ngScope.loadProjects(assetName,pageNum);
		}
	});
}



var assetName="";
var _currentPage=1;
var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.projectList=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	
	
	
	/* 加载数据 */
	$scope.loadProjects=function(assetName,currentPage){//alert(unitCode);
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/vehicleMg/insurance/carlist?assetName="
			+assetName+"&currentPage="+currentPage+"&ticket="+ticket).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../login.html";
				return;
			}
			$scope.projectList = response.list;
			createPageBar(response.totalPage, response.currentPage,response.totalRecord);
		});
	};
	/* 查询 */
	$scope.doQuery=function(){
		assetName = $("#searchName").val();
		$scope.loadProjects(assetName,1);
	};
	
	
	
	

	
	/* 保险 */
	$scope.doInsurance=function(item){
		
		location.href="insuranceMgr.html?assetCode="+item.assetCode;
		
	};
	
	//年检
	$scope.doCheck=function(item){
		
		location.href="checkMgr.html?assetCode="+item.assetCode;
		
	};
	
	
	
	/* 初始查询 */
	ngScope.loadProjects(assetName, 1);
});
</script>
</body>
</html>
