<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.pm.baseMgr.pmBase.dao.PmProApplyFlowMapper" >

  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.pm.baseMgr.pmBase.vo.PmProApplyFlow" >
    
    <id column="rowid" property="rowid" jdbcType="INTEGER" />
    <result column="PRO_NO" property="proNo" jdbcType="VARCHAR" />
    <result column="APPLY_CONTENT" property="applyContent" jdbcType="VARCHAR" />
    <result column="REPLY_CONTENT" property="replyContent" jdbcType="VARCHAR" />
    <result column="REPLY_STATUS" property="replyStatus" jdbcType="CHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="SYS_CREATE_TIME" property="sysCreateTime" jdbcType="VARCHAR" />
    <result column="SYS_UPDATE_TIME" property="sysUpdateTime" jdbcType="VARCHAR" />
    <result column="SYS_DELETE_TIME" property="sysDeleteTime" jdbcType="VARCHAR" />
    <result column="SYS_PROCESS_FLAG" property="sysProcessFlag" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
   
    rowid, PRO_NO, APPLY_CONTENT, REPLY_CONTENT, REPLY_STATUS, STATUS,SYS_CREATE_TIME, SYS_UPDATE_TIME, 
    SYS_DELETE_TIME, SYS_PROCESS_FLAG
  </sql>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   
    select 
    <include refid="Base_Column_List" />
    from pm_pro_apply_flow
    where rowid = #{rowid,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
  
    delete from pm_pro_apply_flow
    where rowid = #{rowid,jdbcType=INTEGER}
  </delete>
  
  
 
  <insert id="insert" parameterType="com.glens.pwCloudOs.pm.baseMgr.pmBase.vo.PmProApplyFlow" >
   
    insert into pm_pro_apply_flow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rowid != null" >
        rowid,
      </if>
      <if test="proNo != null" >
        PRO_NO,
      </if>
      <if test="applyContent != null" >
        APPLY_CONTENT,
      </if>
      <if test="replyContent != null" >
        REPLY_CONTENT,
      </if>
      <if test="replyStatus != null" >
        REPLY_STATUS,
      </if>
       <if test="status != null" >
        STATUS,
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME,
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rowid != null" >
        #{rowid,jdbcType=INTEGER},
      </if>
      <if test="proNo != null" >
        #{proNo,jdbcType=VARCHAR},
      </if>
      <if test="applyContent != null" >
        #{applyContent,jdbcType=VARCHAR},
      </if>
      <if test="replyContent != null" >
        #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="replyStatus != null" >
        #{replyStatus,jdbcType=CHAR},
      </if>
       <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="sysCreateTime != null" >
        #{sysCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateTime != null" >
        #{sysUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteTime != null" >
        #{sysDeleteTime,jdbcType=VARCHAR},
      </if>
      <if test="sysProcessFlag != null" >
        #{sysProcessFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  
  
  <update id="update" parameterType="com.glens.pwCloudOs.pm.baseMgr.pmBase.vo.PmProApplyFlow" >
  
    update pm_pro_apply_flow
    <set >
      <if test="proNo != null" >
        PRO_NO = #{proNo,jdbcType=VARCHAR},
      </if>
      <if test="applyContent != null" >
        APPLY_CONTENT = #{applyContent,jdbcType=VARCHAR},
      </if>
      <if test="replyContent != null" >
        REPLY_CONTENT = #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="replyStatus != null" >
        REPLY_STATUS = #{replyStatus,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=VARCHAR},
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
      </if>
    </set>
    where rowid = #{rowid,jdbcType=INTEGER}
  </update>
  
</mapper>