<!DOCTYPE HTML>
<html>
<head>
<title>物资入库</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../../../../css/list.css" />
<script type="text/javascript" src="../../../../../js/Calendar.js"></script>

<style type="text/css">
	.dropDownArea{background-image:url(../../../../../img/flag.png);background-repeat: no-repeat;background-position:right;background-position:185px;cursor:pointer;}
	.dropDownProjectType{background-image:url(../../../../../img/type.png);background-repeat: no-repeat;background-position:right;background-position:185px;cursor:pointer;}
	
	.btn{display:inline-block;padding:1px 4px;border:solid 1px #f4f4f4; border-radius:4px;}
	.btn.toactive{color:#fff;background:green;}
	.btn.toclose{color:#fff;background:#ED7798;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				
				<input type="text" id="fromDate" name="fromDate" style="width:150px;" class="date dateComponent" placeholder="请选择开始时间" onclick="new Calendar().show(this)" />
				<input type="text" id="toDate" name="toDate" style="width:150px;" class="date dateComponent" placeholder="请选择结束时间" onclick="new Calendar().show(this)" />
				<input type="text" id="goodsName" name="goodsName" placeholder="请输入关键字"/>
				
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
				
				&nbsp;&nbsp;
			</div>
			<img src="../../../../../img/list_Header2-.png">
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">标题</div></th>
				<th><div align="center">类型</div></th>
				<th><div align="center">项目名称</div></th>
				<th><div align="center">项目编号</div></th>
				<th><div align="center">发起人</div></th>
				<th><div align="center">状态</div></th>
				<th><div align="center">时间</div></th>
				<th><div align="center">操作</div></th>
			  </tr>
			  <tr class="tr2" ng-repeat="item in dataList">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.PROCESS_TITLE}}</div></td>
				<td>
					<div align="center" ng-if="item.PROCESS_TYPE==1">废料入库</div>
					<div align="center" ng-if="item.PROCESS_TYPE==2">废料出库</div>
				</td>
				<td><div align="center">{{item.PRO_NAME}}</div></td>
				<td><div align="center">{{item.PRO_CODE}}</div></td>
				<td><div align="center">{{item.SPONSOR}}</div></td>
				<td>
					<div align="center" ng-if="item.PROCESS_STATUS==1">发起</div>
					<div align="center" ng-if="item.PROCESS_STATUS==2">项目经理审核通过</div>
					<div align="center" ng-if="item.PROCESS_STATUS==3">项目经理审核驳回</div>
					<div align="center" ng-if="item.PROCESS_STATUS==4">物资员审核通过</div>
					<div align="center" ng-if="item.PROCESS_STATUS==5">物资员审核驳回</div>
					<div align="center" ng-if="item.PROCESS_STATUS==6">财务经理审核通过</div>
					<div align="center" ng-if="item.PROCESS_STATUS==7">财务经理审核驳回</div>
				</td>
				<td><div align="center">{{item.START_TIME1}}</div></td>
				<td width="16%">
					<div align="center">
						<img class="operationImg" ng-click="toOperate(item)" src="../../../../../img/asset/assetRepair.png" title="处理 ">
		    		</div>
				</td>
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">
function createPageBar(totalPage, curPage,totalRecord){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		curPage:curPage,
		totalRecord: totalRecord,
		showPageInfo:true,
		prevPageText:"上一页",
		nextPageText:"下一页",
		onPage:function(pageNum){
			_currentPage=pageNum;
			ngScope.loadProjects(pageNum);
		}
	});
}


var ticket="";
var goodsName ="";
var processStatus ="";
var fromDate ="";
var toDate ="";
var _currentPage=1;

var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.projectList=[];
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	var params = getUrlParams();
	var processType="";
	/* 加载数据 */
	$scope.loadProjects=function(currentPage){//alert(unitCode);
		$http.get(serviceBasePath+"eap/pmsServices/goods/getMasteCheckPage?processType="+processType+"&ticket="+ticket+
			"&currentPage="+currentPage+"&goodsName="+goodsName+"&fromDate="+fromDate+"&toDate="+toDate).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../login.html";
				return;
			}
			$scope.dataList = response.list;
			createPageBar(response.totalPage, response.currentPage,response.totalRecord);
		});
	};
	/* 查询 */
	$scope.doQuery=function(){
		goodsName= $("#goodsName").val();
		fromDate=$("#fromDate").val();
		toDate=$("#toDate").val();
		$scope.loadProjects(1);
	};
	$scope.toOperate=function(item){
		hrefTo({
			url:"materialsExamineDo.html",
			data:{
				processCode:item.PROCESS_CODE,
				processStatus:item.PROCESS_STATUS,
			}
		});
	};
	/* 初始查询 */
	ngScope.loadProjects(_currentPage);
	
});
</script>
</body>
</html>
