<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.materielMg.vehicleMg.insurance.dao.InsuranceVoMapper" >
  
  
  <select id="queryForCount1" parameterType="java.util.HashMap" resultType="int">
  	select count(*)
  	from gm_asset_base where ASSET_MARK=1
  	<if test="assetName != null and assetName != ''">
    and VA_NO like "%"#{assetName}"%"
    </if>
  </select>
  
  <select id="queryForCount" parameterType="java.util.HashMap" resultType="int">
  	select count(*)
  	from  gm_vm_insurance where 1=1
  	<if test="assetCode != null and assetCode != ''">
    and ASSET_CODE  = #{assetCode}
    </if>
    <if test="validTimeS != null and validTimeS != ''">
	  	and VALID_TIME_S &gt;= #{validTimeS}
  	</if>
  	<if test="validTimeE != null and validTimeE != ''">
  	    and VALID_TIME_S &lt;= #{validTimeE}
  	</if>
  </select>
  
  <select id="queryForPage1" parameterType="java.util.HashMap" resultType="map">
  	select a.ASSET_CODE assetCode,ifnull(a.ASSET_NAME,'') assetName,ifnull(a.BRAND,'') brand,ifnull(a.MODEL_NO,'') modelNo,
	ifnull(a.PRICE1,'') price1,ifnull(a.PRICE2,'') price2,ifnull(a.DATE_PURCHASE,'') datePurchase,ifnull(a.DATE_STORAGE,'') dateStorage,ifnull(a.DATE_DUMP,'') dateDump,
	ifnull(a.DUMP_AMOUNT,'') dumpAmount,a.STATUS status,ifnull(a.VA_NO,'') vaNo,ifnull(a.VA_OIL,'') vaOil,ifnull(a.VA_ENGINE_NO,'') vaEngineNo,ifnull(a.VA_CARFRAME_NO,'') vaCarframeNo,
case when exists(select * from gm_vm_check b where b.asset_code=a.asset_code and b.check_date2>=curdate()) then '1' else '0' end nianjian,
case when exists(select * from gm_vm_insurance c where c.asset_code=a.asset_code and c.valid_time_e>=curdate()) then '1' else '0' end baoxian

	from gm_asset_base a  where a.ASSET_MARK=1
	
  	<if test="assetName != null and assetName != ''">
    and VA_NO like "%"#{assetName}"%"
    </if>
  	limit #{firstResult},#{maxResult}
  </select>
  
  
  
  <select id="queryForPage" parameterType="java.util.HashMap" resultType="map">
  	select rowid,ASSET_CODE assetcode,NAME name,TYPE type,COST cost,date_format(VALID_TIME_S,'%Y-%m-%d') validtimes,date_format(VALID_TIME_E,'%Y-%m-%d') validtimee,REMARKS remarks,case when VALID_TIME_S&lt;=curdate() and curdate()&lt;=VALID_TIME_E then '有效期' else '已过期' end isvalid,
  	DATEDIFF(VALID_TIME_E,curdate()) days 
  	from gm_vm_insurance where 1=1

	<if test="assetCode != null and assetCode != ''">
    and ASSET_CODE =#{assetCode}
    </if>
    
    <if test="validTimeS != null and validTimeS != ''">
	  	and VALID_TIME_S &gt;= #{validTimeS}
  	</if>
  	<if test="validTimeE != null and validTimeE != ''">
  	    and VALID_TIME_S &lt;= #{validTimeE}
  	</if>
    order by VALID_TIME_S desc
  	limit #{firstResult},#{maxResult}
  	
  </select>
  
  
  
  
  <insert id="insert" parameterType="com.glens.pwCloudOs.materielMg.vehicleMg.insurance.vo.InsuranceVo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into gm_vm_insurance(ASSET_CODE,NAME,TYPE,COST,VALID_TIME_S,VALID_TIME_E,SYS_CREATE_TIME,SYS_PROCESS_FLAG,REMARKS)
	VALUES(#{assetCode},#{name},#{type},#{cost},#{validTimeS},#{validTimeE},now(),1,#{remarks})

      
  </insert>
  
  <delete id="delete" parameterType="com.glens.pwCloudOs.materielMg.vehicleMg.insurance.vo.InsuranceVo" >
    delete from gm_vm_insurance
    where rowid = #{rowid}
  </delete>
  
  
</mapper>