<!DOCTYPE HTML>
<html>
<head>
<title> 设备管理 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css"/>
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../../css/edit.css"/>

<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.chooseUser{width:1000px;height:500px;}
	#lay1 .pdd_ta{padding:1% 0;background:#f5f5f5;border-radius:5px;margin-bottom:20px;border:1px solid #ccc}
	#lay1 .pdd_ta table{width:100%;}
	#lay1 .pdd_ta table th{color:#77acf9;font-weight:bold;padding:0 20px 0;}
	#lay1 .pdd_ta table input{padding-left:10px;border:1px solid #ccc;height:30px;border-radius:3px;}
	.form_bottom{border-top:none;padding-top:0;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<p style="width:84%;margin:0 auto;color:#3385ff;font-size:18px">同步信息</p>
		<div class="form_div" id="lay1" style="position:relative;width:80%;margin:20px auto 0;height:80px;border:1px solid #ccc">
			<div style="text-align:center;line-height:80px;font-size:16px">{{deviceAttrList.data}}</div>
		</div>
		<div class="form_bottom" style="position:absolute;right:10%;bottom:20px">
			<a href="javascript:" ng-click="sync()" class="title_save" id="updata">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;同步
			</a>
			<a href="javascript:" style="display:none" id="loading">
				<img src="../../../../img/loading.gif" style="display: block;float: left;margin: -3px 8px 0 0;"/>正在同步...
			</a>
			<a href="javascript:" id="sure" ng-click="onCancel()" class="title_save" style="display:none">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确定
			</a>
		</div>
	</div>
</div>
<script type="text/javascript">
var taskCode ="";
function uuid() {
    var s = [];
    var hexDigits = "0123456789abcdef";
    for (var i = 0; i < 36; i++) {
        s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
    }
    s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
    s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
    s[8] = s[13] = s[18] = s[23] = "-";
 
    taskCode = s.join("");

};
uuid();
simpleController({
	init:function($scope, $http){
		$scope.data={};
		var urlParams = getUrlParams();
		var companyCode=urlParams.companyCode;
		var deviceTypeCode=urlParams.deviceTypeCode;
		var fieldEname=urlParams.fieldEname;
		var mctCode=urlParams.mctCode;
		/* $scope.deviceAttrList=[]; */
		$scope.sync =function(){
			$("#updata").hide();
			$("#loading").show();
			parent.zhez();
			var ac = setInterval(function(){ 
				$http.get(serviceBasePath+"eap/pmsServices/om/deviceMgr/deviceHandle/getSyncInfo?&taskCode="+taskCode+"&flag="+1).success(function(response){
					if(response.statusCode!=200){
						alert("请求服务器失败！");
						return;
					}
					$scope.deviceAttrList = response;
				}); 
			 },500);
				$http.get(serviceBasePath+"eap/pmsServices/om/deviceMgr/deviceHandle/batchUpdateFieldMctDeviceLoc?companyCode="+companyCode+"&deviceTypeCode="+deviceTypeCode+"&fieldEname="+fieldEname+"&mctCode="+mctCode+"&taskCode="+taskCode).success(function(response){
					if(response.statusCode!=200){
						//alert("请求服务器失败！");
						return;
					}
					$scope.deviceAttrList = response;
					clearInterval(ac); 
					$("#loading").hide();
					$("#sure").show();
					
				}); 
			
		}

		/* 确定 */
		$scope.onCancel=function(){
			parent.$dlog.close();
		};
	
	}
});
</script>
</body>
</html>
