<!DOCTYPE HTML>
<html ng-app="moduleName">
<head>
<title> 设备管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/ng-base.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/ViewState.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />

<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />

<link rel="stylesheet" type="text/css" href="../../../../css/list.css" />

<style type="text/css">
.dialog-images{width:1000px;height:600px;}
.dialog-update{width:800px;height:400px;}
.dialog-coodimap{width:800px;height:330px;}
.dialog-coodimap2{width:600px;height:350px;}
.dialog_scheme_check{width:800px;height:620px;}
.dialog-impBoxMeterRel{width:480px;height:200px;}
.dlog-subObject{width:1000px;height:500px;}

.title_div2{border:solid 0px red;background:#4CA9FF;padding:8px 6px 8px 6px;}
.title_div2 .condLayer1{display:block;border:solid 0px;margin:6px;}
.title_div2 .condLayer2{display:block;border:solid 0px green;margin:0 6px;}
.title_div2 .condLayer1 input{height:28px;line-height:28px;border:solid 1px #f4f4f4;color:#666;margin:0 4px;padding:0 4px;font-family:微软雅黑;border-radius:3px;}
.title_div2 .condLayer2 input{height:28px;line-height:28px;border:solid 1px #f4f4f4;color:#666;margin:6px 4px;padding:0 4px;background-color:#DAEDFF;font-family:微软雅黑;border-radius:3px;}
.title_div2 .btn{display:inline-block;height:30px;line-height:30px;margin:0 4px;padding:0 15px 0 15px;background:#f4f4f4;color:#666;font-weight:bold;cursor:pointer;border:solid 1px #89C6FF; 
border-radius:4px;}
.title_div2 .blue{background:#3385FF;color:#fff;}
.title_div2 .blue:hover{background:#186CE7;}
.title_div2 .pink{background:#ED7798;color:#fff;}
.title_div2 .pink:hover{background:#E54673;}

.advanced-search{display:inline-block;height:30px;line-height:30px;font-weight:bold;cursor:pointer;border:solid 1px #89C6FF;padding:0 26px 0 6px;color:#fff;background-color:#3385FF;background-image: url(../../../../img/drop_down_list2.png);
background-repeat: no-repeat;background-position: right;border-radius:4px;}
#advanced-search-layer{display:none;position:absolute;width:320px;max-height:400px;border:solid 1px #ccc;background:#fff;}
#advanced-search-layer .btn-close{display:inline-block;padding:2px 4px;font-size:16px;border:solid 0px #ccc;position:absolute;top:4px;right:4px;color:#333;}
#advanced-search-layer .btn-close:hover{color:#FF3300;}
#advanced-search-layer li{margin:4px 4px;list-style-type:none;}
#advanced-search-layer li input{display:inline-block;vertical-align:middle;}
#advanced-search-layer li label{display:inline-block;margin:6px 0 4px 0;color:#3385FF;vertical-align:middle;}
#advanced-search-layer li.btns{text-align:right;padding:4px 32px;}
#advanced-search-layer input{border:solid 1px #ccc;}
.link{color:#3385FF;}
.link:hover{color:#ff9900;}
</style>
</head>

<body ng-controller="controllerName" storagekey="om.deviceMgr.device.deviceMgr">

<div class="list">
	<div class="list_content">
		<div class="title_div2">
			<div class="condLayer1">
				<input type="text" id="category" name="categoryName" viewstate="categoryName" class="dropDownList" style="width:180px;" placeholder="请选择项目分类"/>
				<input type="hidden" name="categoryCode" viewstate="categoryCode"/>
				
				<input type="text" id="proName" name="proName" viewstate="proName" class="dropDownList" style="width:180px;" placeholder="请选择项目"/>
				<input type="hidden" name="proNo" viewstate="proNo"/>
				
				<input type="text" id="mct" name="mctName" viewstate="mctName" class="dropDownList" style="width:180px;" placeholder="请选择总控表"/>
				<input type="hidden" name="mctCode" viewstate="mctCode"/>
				<input type="text" name="searchName" viewstate="searchName" style="width:180px;" placeholder="搜索"/>
				
				<a href="javascript:" class="advanced-search">高级搜索 </a>
				<div id="advanced-search-layer">
					<ul>
						<li><label>采集时间</label></li>
						<li>
							<input type="text" name="startTime" viewstate="startTime" class="dateComponent" onclick='new Calendar().show(this)' style="width:100px;" placeholder="采集时间起"/>
							<input type="text" name="endTime" viewstate="endTime" class="dateComponent" onclick='new Calendar().show(this)' style="width:100px;" placeholder="采集时间止"/>
						</li>
						<li><label>质量审核时间</label></li>
						<li>
							<input type="text" name="qcStartTime" viewstate="qcStartTime" class="dateComponent" onclick='new Calendar().show(this)' style="width:100px;" placeholder="审核时间起"/>
							<input type="text" name="qcEndTime" viewstate="qcEndTime" class="dateComponent" onclick='new Calendar().show(this)' style="width:100px;" placeholder="审核时间止"/>
						</li>
						<li><label>质量审核情况</label></li>
						<li>
<!-- 							<input type="text" name="QUALITY_AUDIT_NAME" viewstate="QUALITY_AUDIT_NAME" class="dropDownList" style="width:220px;" placeholder="质量审核"/> -->
<!-- 							<input type="hidden" name="QUALITY_AUDIT" viewstate="QUALITY_AUDIT"/> -->
							<label style="color:#666;"><input type="radio" name="QUALITY_AUDIT" viewstate="QUALITY_AUDIT" value="" checked="checked"/>全部</label>
							<label style="color:#666;"><input type="radio" name="QUALITY_AUDIT" viewstate="QUALITY_AUDIT" value="1"/>合格</label>
							<label style="color:#666;"><input type="radio" name="QUALITY_AUDIT" viewstate="QUALITY_AUDIT" value="2"/>不合格</label>
						</li>
						<li><label>是否有照片</label></li>
						<li>
							<label style="color:#666;"><input type="radio" name="hasPic" viewstate="hasPic" value="" checked="checked"/>全部</label>
							<label style="color:#666;"><input type="radio" name="hasPic" viewstate="hasPic" value="0"/>无照片</label>
							<label style="color:#666;"><input type="radio" name="hasPic" viewstate="hasPic" value="1"/>有照片</label>
						</li>
						<li><label>是否有坐标</label></li>
						<li>
							<label style="color:#666;"><input type="radio" name="hasPosition" viewstate="hasPosition" value="" checked="checked"/>全部</label>
							<label style="color:#666;"><input type="radio" name="hasPosition" viewstate="hasPosition" value="0"/>无坐标</label>
							<label style="color:#666;"><input type="radio" name="hasPosition" viewstate="hasPosition" value="1"/>有坐标</label>
						</li>
						<li class="btns">
							<div class="btn" ng-click="reset_handler()">重置</div>&nbsp;&nbsp;
							<div class="btn blue" ng-click="ok_handler()">确定</div>
						</li>
					</ul>
					<a href="javascript:" class="btn-close">×</a>
				</div>
				<div class="btn pink" ng-click="doQuery(null, true)">
					查询
				</div>
				
			</div>
			
			<div class="condLayer2">
				<!-- 动态条件 -->
				<span ng-repeat="item in theadData.searchFields">
				<input ng-if="item.dtype==4" type="text" group="cond" id="{{item.ename}}" style="width:180px;" class="dropDownList" placeholder="{{item.cname}}"/>
				<input ng-if="item.dtype==3" type="text" group="cond" dtype="3" id="{{item.ename}}" style="width:180px;" class="dateDropDown dropDownList" placeholder="{{item.cname}}"/>
				<div ng-if="item.dtype==3" id="advanced-search-layer" style="width:200px;">
					<ul>
					<li>
					<input type="text" name="{{item.ename}}_S" viewstate="{{item.ename}}_S" class="dateComponent" onclick='new Calendar().show(this, null, null, dateDropDownFn)' style="width:100px;" placeholder="{{item.cname}}起"/>
					<input type="text" name="{{item.ename}}_E" viewstate="{{item.ename}}_E" class="dateComponent" onclick='new Calendar().show(this, null, null, dateDropDownFn)' style="width:100px;" placeholder="{{item.cname}}止"/>
					</li>
					<li>
					<div class="btn reset">重置</div>&nbsp;&nbsp;
					<div class="btn blue ok">确定</div>
					</li>
					</ul>
					<a href="javascript:" class="btn-close">×</a>
				</div>
				</span>
				<!-- 动态条件 -->
			</div>
			
			<div class="condLayer1">
				<div class="btn blue" ng-click="doQuery('export', true)">
					导出
				</div>
				
				<div class="btn blue" ng-click="doExportImgs()">
					导出图片
				</div>
				<div class="btn blue" ng-click="toAdd()">
					新增
				</div>
				<div class="btn blue" ng-hide="roleCode=='004'" ng-click="batchUpdate()">
					批量修改
				</div>
				<div class="btn blue" ng-click="coordiMap()">
					坐标上图
				</div>
				<div class="btn blue" ng-if="impBoxMeterRel_sw" ng-click="impBoxMeterRel()">
					导入箱表关系
				</div>
				<a href="javascript:" class="advanced-search">列显示 </a>
				<div id="advanced-search-layer" style="width:110px;">
					<ul style="padding:0;margin:0;">
						<li>
							<input type="checkbox" name="cols_type" value="base" checked="checked" ng-click="colsType('base')">
							<label>基本数据</label>
						</li>
						<li>
							<input type="checkbox" name="cols_type" value="check" ng-click="colsType('check')">
							<label>审核数据</label>
						</li>
						<li>
							<input type="checkbox" name="cols_type" value="ext" checked="checked" ng-click="colsType('ext')">
							<label>扩展数据</label>
						</li>
					</ul>
					<a href="javascript:" class="btn-close">×</a>
				</div>
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
			    <th><input type="checkbox" name="ck_all"/></th>
				<th>序号</th>
				<th>设备名称</th>
				<th ng-if="colshow_base==1">项目名称</th>
<!-- 				<th>健康状况</th> -->
				<th ng-if="colshow_ext==1" ng-repeat="field in theadData.listFields">{{field.cname}}</th>
				<th ng-if="colshow_base==1">采集人</th>
				<th ng-if="colshow_base==1">采集时间</th>
				<th ng-if="colshow_check==1" style="background:#FFC000;">质量审核</th>
				<th ng-if="colshow_check==1" style="background:#FFC000;">审核人</th>
				<th ng-if="colshow_check==1" style="background:#FFC000;">审核时间</th>
				<th>操作</th>
			  </tr>
			  <tr ng-repeat="item in dataList" class="tr2">
				<td align="center"><input type="checkbox" name="ck_item" value="{{item.deviceObjCode}}"/></td>
				<td align="center">{{$index+1}}</td>
				<td align="center">{{item.deviceObjName}}</td>
				<td ng-if="colshow_base==1" align="center">{{item.proName}}</td>
<!-- 				<td>{{item.addressDesc}}</td> -->
<!-- 				<td align="center">{{item.healthName}}</td> -->
				<td ng-if="colshow_ext==1" align="center" ng-repeat="f in theadData.listFields">
					<span ng-if="f.dtype!=6 && f.dtype!=8">{{item[f.ename]}}</span>
					<a href="javascript:" ng-click="showObj(f, item[f.ename])" ng-if="f.dtype==6" class="link">查看</a>
					<a href="javascript:" ng-click="showArr(f, item[f.ename])" ng-if="f.dtype==8" class="link">{{item[f.ename].length}}</a>
				</td>
				<td ng-if="colshow_base==1" align="center">{{item.CREATER_NAME}}</td>
				<td ng-if="colshow_base==1" align="center">{{item.SYS_CREATE_TIME}}</td>
				<td ng-if="colshow_check==1" align="center">
					{{item.QUALITY_AUDIT=='1'?'合格':item.QUALITY_AUDIT=='2'?'不合格':''}}
				</td>
				<td ng-if="colshow_check==1" align="center">{{item.AUDITOR_NAME}}</td>
				<td ng-if="colshow_check==1" align="center">{{item.AUDIT_TIME}}</td>
				<td align="center" width="180">
					<img ng-hide="roleCode=='004' && item.deviceTypeCode=='P04'" class="operationImg" ng-click="toEdit(item)" src="../../../../img/list_item_modify-icon.png" title="修改">
			    	<img ng-hide="roleCode=='004' && item.deviceTypeCode=='P04'" class="operationImg" ng-click="doDel(item)" src="../../../../img/list_delete-icon.png" title="删除">
			    	<img class="operationImg" ng-click="toLocation(item)" src="../../../../img/bedrent/positon.png" title="定位">
			    	<img class="operationImg" ng-click="doShowImg(item)" src="../../../../img/viewimg.png" title="查看图片 ">
			    	<img class="operationImg" ng-click="toCheck(item, $index)" src="../../../../img/check.png" title="审核 ">
				</td>
			  </tr>
			</table>
			<div ng-if="!dataList || dataList.length==0" style="border:solid 1px #ccc;padding:10px 0;margin-top:-1px;">
		  	<span style="color:#ff6600;">&nbsp;&nbsp;请依次选择条件进行查询（项目分类、项目、总控表）</span>
		  	</div>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		$scope.theadData=[];
		$scope.dataList=[];
		$scope.roleCode = $scope.userData.roleCode;
		var viewState = new ViewState();
		
		$scope.cond_category="";
		$scope.cond_categoryName="";
		$scope.cond_proNo="";
		$scope.cond_proName="";
		$scope.cond_mct="";
		$scope.cond_mctName="";
		$scope.cond_searchName="";
		$scope.colshow_base=1;
		$scope.colshow_check=0;
		$scope.colshow_ext=1;
		$scope.colsType=function(type){
			if('base'==type){
				if($("input[name=cols_type][value=base]")[0].checked){
					$scope.colshow_base=1;
				}else{
					$scope.colshow_base=0;
				}
			}else if('check'==type){
				if($("input[name=cols_type][value=check]")[0].checked){
					$scope.colshow_check=1;
				}else{
					$scope.colshow_check=0;
				}
			}else if('ext'==type){
				if($("input[name=cols_type][value=ext]")[0].checked){
					$scope.colshow_ext=1;
				}else{
					$scope.colshow_ext=0;
				}
			}
		}
		var getAbsPoint = function (e){
			var x = e.offsetLeft;
			var y = e.offsetTop;
			while(e = e.offsetParent){
				if($(e).css("position") == "absolute" || $(e).css("position") == "relative"){
					return {"x": x, "y": y};
				}else{
					x += e.offsetLeft;
					y += e.offsetTop;
				}
			}
			return {"x": x, "y": y};
		};
		
		$("input[name=ck_all]").click(function(){
			if($(this)[0].checked){
				$("input[name=ck_item]").each(function(){
					$(this)[0].checked=true;
				});
			}else{
				$("input[name=ck_item]").each(function(){
					$(this)[0].checked=false;
				});
			}
		});
		
		$(".advanced-search").each(function(){
			var h = $(this).outerHeight();
			var offset = getAbsPoint($(this)[0]);
			$(this).next().offset({"left":offset.x, "top":offset.y+h});
			var $host =$(this); 
			$(this).next().find(".btn-close").click(function(){
				$host.next().hide();
				$host.attr("layer-open", "0");
			});
			$(this).click(function(){
				var layerOpen = $(this).attr("layer-open");
				if(layerOpen=="1"){
					$(this).next().hide();
					$(this).attr("layer-open", "0");
				}else{
					$(this).next().show();
					$(this).attr("layer-open", "1");
				}
			});
		});
		
		$scope.reset_handler=function(){
			$("input[name=startTime]").val("");
			$("input[name=endTime]").val("");
			$("input[name=qcStartTime]").val("");
			$("input[name=qcEndTime]").val("");
			$("input[name=QUALITY_AUDIT_NAME]").val("");
			$("input[name=QUALITY_AUDIT]").val("");
		};
		$scope.ok_handler=function(){
			$(".advanced-search:eq(0)").click();
			$scope.doQuery(null, true);
		};
		
		var urlParams = getUrlParams();
		if(urlParams.showBase && !isNaN(urlParams.showBase)){
			$scope.colshow_base=urlParams.showBase;
		}
		propertyChooseCopy(urlParams, $scope, ["cond_category","cond_categoryName", "cond_proNo","cond_proName", "cond_mct","cond_mctName", "cond_searchName"]);
		if(urlParams.cond_categoryName && urlParams.cond_categoryName.length>0){
			$("#category").val(urlParams.cond_categoryName);
		}
		if(urlParams.cond_proName && urlParams.cond_proName.length>0){
			$("#proName").val(urlParams.cond_proName);
		}
		if(urlParams.cond_mctName && urlParams.cond_mctName.length>0){
			$("#mct").val(urlParams.cond_mctName);
		}
		if(urlParams.cond_searchName && urlParams.cond_searchName.length>0){
			$("input[name=searchName]").val(urlParams.cond_searchName);
		}
		if(urlParams.cond_currentPage && urlParams.cond_currentPage.length>0){
			$scope.currentPage=urlParams.cond_currentPage;
		}
		
		
		window.onkeyup=function(e){
			if(e.keyCode==13){
				$scope.doQuery(null, true);
			}
		};
		/* 项目分类 */
		new DropDownList().init({
			mode:"page",
			renderTo:"#category",
			url:"../../../component/projectType.html?ticket="+$scope.ticket,
			height:"200px",
			onSelected:function(result){
				$scope.cond_category=result.categoryCode;
				$("#category").val(result.categoryName);
				$("input[name=categoryCode]").val(result.categoryCode);
				$scope.cond_categoryName=result.categoryName;
				proNameList.setConfig("url", "../../../component/projectList.html?categoryCode="+result.categoryCode+"&ticket="+$scope.ticket);
			}
		});
		/* 项目列表 */
		var proNameList = new DropDownList();
		proNameList.init({
			mode:"page",
			renderTo:"#proName",
			url:"../../../component/projectList.html?categoryCode="+viewState.get("categoryCode")+"&ticket="+$scope.ticket,
			height:"200px",
			onSelected:function(result){
				$scope.cond_proNo=result.proNo;
				$("#proName").val(result.proName);
				$("input[name=proNo]").val(result.proNo);
				$scope.cond_proName=result.proName;
				mctList.setConfig("url", "../../../component/mctType.html?proNo="+$scope.cond_proNo);
			}
		});
		var deviceTC ="";
		$scope.impBoxMeterRel_sw=false;
		/* 项目总控表*/
		var mctList = new DropDownList();
		mctList.init({
			renderTo:"#mct",
			url:"../../../component/mctType.html?proNo="+viewState.get("proNo"),
			onSelected:function(item){
				$scope.cond_mct=item.mctCode;
				$("#mct").val(item.mctName);
				$("input[name=mctCode]").val(item.mctCode);
				$scope.cond_mctName=item.mctName;
				deviceTC=item.deviceTypeCode;
				if("P10"==item.deviceTypeCode){
					$scope.impBoxMeterRel_sw=true;
				}else{
					$scope.impBoxMeterRel_sw=false;
				}
				//if($scope.cond_mct!=null && $scope.cond_mct.length>0){
					$scope.loadTheader($scope.cond_mct);
					$scope.doQuery(null, true);
				//}else{
				//	callNgFn({ctrlEl:$("body")[0], ngFn:function(scope){
				//		scope.theadData.searchFields = [];
				//	}});
				//}
			}
		});
		
		
		/* 质量审核 */
		new DropDownList().init({
			renderTo:"input[name=QUALITY_AUDIT_NAME]",
			data:[{code:"", name:"(全部)"}, {code:1, name:"合格"}, {code:2, name:"不合格"}],
			textField:"name",
			onSelected:function(item){
				if(item.code==""){
					$("input[name=QUALITY_AUDIT_NAME]").val("");
					$("input[name=QUALITY_AUDIT]").val("");
					return;
				}
				$("input[name=QUALITY_AUDIT_NAME]").val(item.name);
				$("input[name=QUALITY_AUDIT]").val(item.code);
			}
		});
		
		/* 加载条件和表头信息 */
		$scope.loadTheader=function(mctCode){
			var paramsData={};
			if(mctCode){
				paramsData["mctCode"]=mctCode;
			}else{
				return;
				//paramsData["deviceTypeCode"]="01";
			}
			$scope.httpGet({
				url:"eap/pmsServices/om/deviceMgr/device/mctListAttr?companyCode="+$scope.userData.companyCode,
				data:paramsData,
				success:function(response){
					$scope.theadData = response.data;
					/* 初始化搜索条件 */
					lazyCall('t1',function(){
						if($scope.theadData && $scope.theadData.searchFields){
							for(var i=0; i<$scope.theadData.searchFields.length; i++){
								(function(){
									var searchField = $scope.theadData.searchFields[i];
									if(searchField.dtype==4){
										/* 搜索条件*/ 
										searchField.enumValue.unshift("(清空)");
										new DropDownList().init({
											renderTo:"#"+searchField.ename,
											data:searchField.enumValue,
											onSelected:function(result){
												if(result=="(清空)"){
													$("#"+searchField.ename).val("");
												}else{
													$("#"+searchField.ename).val(result);
												}
											}
										});
									}
									if(searchField.dtype==3){
										$("#"+searchField.ename).each(function(){
											var h = $(this).outerHeight();
											var offset = getAbsPoint($(this)[0]);
											$(this).next().css({"left":offset.x, "top":offset.y+h});
											var $host =$(this); 
											$host.next().find(".btn-close").click(function(){
												$host.next().hide();
												$host.attr("layer-open", "0");
											});
											$host.click(function(){
												var layerOpen = $(this).attr("layer-open");
												if(layerOpen=="1"){
													$(this).next().hide();
													$(this).attr("layer-open", "0");
												}else{
													$(this).next().show();
													$(this).attr("layer-open", "1");
												}
											});
											$host.next().find(".reset").click(function(){
												$host.next().find("input").val("");
												$host.val("");
											});
											$host.next().find(".ok").click(function(){
												$host.next().hide();
												$host.attr("layer-open", "0");
											});
										});
									}
								})();
							}
						}
						$(".advanced-search").each(function(){
							var h = $(this).outerHeight();
							var offset = getAbsPoint($(this)[0]);
							$(this).next().css({"left":offset.x, "top":offset.y+h});
						});
					}, 100);
				}
			});
		};
		
		/* 数据加载 */
		$scope.loadData=function(mctCode, condStr, searchName, startTime, endTime, qcStartTime, qcEndTime, qualityAudit, hasPic, hasPosition){
			var paramsData={"companyCode":$scope.userData.companyCode, 
					"proNo":$scope.cond_proNo,
					"attrJson":condStr, "searchName":searchName, "startTime":startTime, "endTime":endTime, 
					"qcStartTime":qcStartTime, "qcEndTime":qcEndTime, 
					"QUALITY_AUDIT":qualityAudit, "hasPic":hasPic, "hasPosition":hasPosition};
			if(mctCode){
				paramsData["mctCode"]=mctCode;
			}else{
				$scope.dataList = [];
				return;
				//paramsData["deviceTypeCode"]="01";
			}
			$scope.httpExecute({
				method:"post",
				url:"eap/pmsServices/om/deviceMgr/device/mctDeviceList",
				data:paramsData,
				success:function(response){
					if(response.statusCode==200){
						$scope.dataList = response.list;
					}else{
						$scope.dataList = [];
					}
				},
				showPageInfo:true,
				pageChange:function(pageNum){
					viewState.put("currentPage", pageNum);
					$scope.doQuery();
				}
			});
		};
		
		$scope.impBoxMeterRel=function(){
			var paramStr="companyCode="+$scope.userData.companyCode
				+"&proNo="+$scope.cond_proNo
				+"&proName="+$scope.cond_proName
				+"&mctCode="+viewState.get("mctCode");
			new ShowDlog().showFrame("../../../pe/boxCheck/importBoxMeterRelCheck.html?"+paramStr, "导入箱表关系数据", function(data){
				if(data=="SUCCESS"){
					$scope.doQuery();
				}
			}, "dialog-impBoxMeterRel");
		};
		
		//导出图片
		$scope.exportImgs=function(mctCode, condStr, searchName, startTime, endTime, qcStartTime, qcEndTime, qualityAudit, hasPic, hasPosition){
			var paramsData={"companyCode":$scope.userData.companyCode, 
					"attrJson":condStr, "searchName":searchName, "startTime":startTime, "endTime":endTime,
					"qcStartTime":qcStartTime, "qcEndTime":qcEndTime,
					"QUALITY_AUDIT":qualityAudit, "hasPic":hasPic, "hasPosition":hasPosition};
			if(mctCode){
				paramsData["mctCode"]=mctCode;
			}else{
				paramsData["deviceTypeCode"]="01";
			}
			
			
			
			
			
			var form = createForm({
				method:"post",
				action:serviceBasePath+"eap/pmsServices/om/deviceMgr/device/getZipFiles",
				data:paramsData});
			document.body.appendChild(form);
			form.submit();
			
		};
		
		
		/* 数据导出 */
		$scope.exportData=function(mctCode, condStr, searchName, startTime, endTime, qcStartTime, qcEndTime, qualityAudit, hasPic, hasPosition){
			var paramsData={"companyCode":$scope.userData.companyCode, 
					"attrJson":condStr, "searchName":searchName, "startTime":startTime, "endTime":endTime,
					"qcStartTime":qcStartTime, "qcEndTime":qcEndTime,
					"QUALITY_AUDIT":qualityAudit, "hasPic":hasPic, "hasPosition":hasPosition};
			if(mctCode){
				paramsData["mctCode"]=mctCode;
			}else{
				paramsData["deviceTypeCode"]="01";
			}
			var form = createForm({
				method:"post",
				action:serviceBasePath+"eap/pmsServices/om/deviceMgr/device/mctDeviceExport",
				data:paramsData});
			document.body.appendChild(form);
			form.submit();
		};
		
		/* 查询 */
		$scope.doQuery=function(mode, newPage){
			if(newPage){
				$scope.currentPage=1;
			}else{
				$scope.currentPage=viewState.get("currentPage");
			}
			var cond={};
			$("input[group=cond]").each(function(){
				var $cond = $(this);
				var key = $cond.attr("id");
				var val = $cond.val();
				if("3"==$cond.attr("dtype") && val.length>0 && val.indexOf("至") != -1){
					var dates = val.split("至");
					var condVal={};
					if(dates[0].length>0){
						condVal.$gte=dates[0];
					}
					if(dates[1].length>1){
						condVal.$lte=dates[1];
					}
					cond[key]=condVal;
				}else{
					cond[key]=val;
				}
			});
			$scope.cond_condStr=JSON.stringify(cond);
			$scope.cond_searchName=$("input[name=searchName]").val();
			if($scope.theadData && $scope.theadData.searchFields){
				var vars="";
				for(var i=0; i<$scope.theadData.searchFields.length; i++){
					var searchField = $scope.theadData.searchFields[i];
					if(searchField.dtype==1){
						if(vars && vars.length>0){
							vars+=",";
						}
						vars+=searchField.ename;
					}
				}
				$scope.cond_searchName=vars+";"+$scope.cond_searchName;
			}else{
				$scope.cond_searchName=";"+$scope.cond_searchName;
			}
			
			
			viewState.collect();
			if(viewState.get("mctCode") && viewState.get("mctCode").length>0){
				if(mode && mode=="export"){
					$scope.exportData(viewState.get("mctCode"), $scope.cond_condStr, $scope.cond_searchName, viewState.get("startTime"), viewState.get("endTime"),
							viewState.get("qcStartTime"), viewState.get("qcEndTime"),
							viewState.get("QUALITY_AUDIT"),viewState.get("hasPic"), viewState.get("hasPosition"));
				}else{
					$scope.loadData(viewState.get("mctCode"), $scope.cond_condStr, $scope.cond_searchName, viewState.get("startTime"), viewState.get("endTime"),
							viewState.get("qcStartTime"), viewState.get("qcEndTime"),
							viewState.get("QUALITY_AUDIT"),viewState.get("hasPic"), viewState.get("hasPosition"));
				}
			}
		};
		
		//导出图片
		
		$scope.doExportImgs=function(mode){
			var cond={};
			$("input[group=cond]").each(function(){
				var $cond = $(this);
				var key = $cond.attr("id");
				var val = $cond.val();
				cond[key]=val;
			});
			$scope.cond_condStr=JSON.stringify(cond);
			$scope.cond_searchName=$("input[name=searchName]").val();
			if($scope.theadData.searchFields){
				var vars="";
				for(var i=0; i<$scope.theadData.searchFields.length; i++){
					var searchField = $scope.theadData.searchFields[i];
					if(searchField.dtype==1){
						if(vars && vars.length>0){
							vars+=",";
						}
						vars+=searchField.ename;
					}
				}
				$scope.cond_searchName=vars+";"+$scope.cond_searchName;
			}
		
			$scope.exportImgs(viewState.get("mctCode"), $scope.cond_condStr, $scope.cond_searchName, viewState.get("startTime"), viewState.get("endTime"), 
					viewState.get("qcStartTime"), viewState.get("qcEndTime"),
					viewState.get("QUALITY_AUDIT"),viewState.get("hasPic"), viewState.get("hasPosition"));
				
			
		};
		
		
		//if($scope.cond_mct!=null && $scope.cond_mct.length>0){
			$scope.loadTheader(viewState.get("mctCode"));
			$scope.doQuery();
		//}
		/* 批量修改 */
		$scope.batchUpdate=function(){
			/*var cond={};
			$("input[group=cond]").each(function(){
				var $cond = $(this);
				var key = $cond.attr("id");
				var val = $cond.val();
				cond[key]=val;
			});
			$scope.cond_condStr=JSON.stringify(cond);
			$scope.cond_searchName=$("input[name=searchName]").val();
			if($scope.theadData.searchFields){
				var vars="";
				for(var i=0; i<$scope.theadData.searchFields.length; i++){
					var searchField = $scope.theadData.searchFields[i];
					if(searchField.dtype==1){
						if(vars && vars.length>0){
							vars+=",";
						}
						vars+=searchField.ename;
					}
				}
				$scope.cond_searchName=vars+";"+$scope.cond_searchName;
			}
			var paramsData={"companyCode":$scope.userData.companyCode, 
					"attrJson":$scope.cond_condStr, "searchName":$scope.cond_searchName};
			if($scope.cond_mct){
				paramsData["mctCode"]=$scope.cond_mct;
			}else{
				paramsData["deviceTypeCode"]="01";
			}
			var paramsStr = toUrlParams(paramsData);
			*/
			var mctCode="", deviceTypeCode="";
			if($scope.cond_mct){
				mctCode=$scope.cond_mct;
			}else{
				deviceTypeCode="01";
			}
			var codes=[];
			$("input[name=ck_item]").each(function(){
				if($(this)[0].checked){
					codes.push($(this).val());
				}
			});
			if(codes.length==0){
				new ShowDlog().prompt({
					msg:"请选择要修改的设备！",
					done:function(){},
					t:1500
				});
				return;
			}
			var paramsStr = arrToStr(codes);
			new ShowDlog().showFrame("batchUpdate.html?companyCode="+$scope.userData.companyCode+"&deviceTypeCode="+deviceTypeCode+"&mctCode="+mctCode+"&deviceObjCodes="+paramsStr, "批量修改", function(data){
				if("SUCCESS"==data){
					hrefTo({
						url:"deviceMgr.html",
						data:{
							"cond_category":$scope.cond_category, 
							"cond_proNo":$scope.cond_proNo,
							"cond_mct":$scope.cond_mct,
							"cond_categoryName":$scope.cond_categoryName, 
							"cond_proName":$scope.cond_proName,
							"cond_mctName":$scope.cond_mctName,
							"cond_searchName":$("input[name=searchName]").val(),
							"cond_currentPage":$scope.currentPage
						}
					});
				}
			},"dialog-update");
			
		};
		$scope.showObj=function(field, val){
			var objStr = JSON.stringify(val);
			new ShowDlog().showFrame("subObjectView.html?fieldCname="+encodeURIComponent(field.cname)+"&deviceTypeCode="+field.enumValue+"&objStr="+objStr, field.cname, function(data){
			}, "dlog-subObject");
		};
		$scope.showArr=function(field, val){
			var arrStr = JSON.stringify(val);
			new ShowDlog().showFrame("subArrayView.html?fieldCname="+encodeURIComponent(field.cname)+"&deviceTypeCode="+field.enumValue+"&arrStr="+arrStr, field.cname, function(data){
			}, "dlog-subObject");
		};
		/* 坐标上图 */
		$scope.coordiMap=function(){
			var mctCode="", deviceTypeCode="";
			deviceTypeCode=deviceTC;
			mctCode = $scope.cond_mct;
			if(deviceTypeCode==""||deviceTypeCode==null){
				alert("请选择总控表")
			}else{
				new ShowDlog().showFrame("coordiMap.html?companyCode="+$scope.userData.companyCode+"&deviceTypeCode="+deviceTypeCode+"&mctCode="+mctCode+"&deviceObjCodes="+deviceTypeCode, "坐标上图", function(data){
					if("AMUL_BOX_ADDR"==data){
						var fieldEname =data;
						new ShowDlog().showFrame("coordiMapForbx.html?fieldEname="+fieldEname+"&companyCode="+$scope.userData.companyCode+"&mctCode="+mctCode+"&deviceTypeCode="+deviceTypeCode, "表箱地址", function(){
						},"dialog-coodimap2");
					}
				},"dialog-coodimap2");
			}
			
		};
		
		
		/* 新增 */
		$scope.toAdd=function(){
			hrefTo({
				url:"deviceAdd.html",
				data:{
					"cond_category":$scope.cond_category, 
					"cond_proNo":$scope.cond_proNo,
					"cond_mct":$scope.cond_mct,
					"cond_categoryName":$scope.cond_categoryName, 
					"cond_proName":$scope.cond_proName,
					"cond_mctName":$scope.cond_mctName,
					"cond_searchName":$("input[name=searchName]").val(),
					"cond_currentPage":$scope.currentPage
				}
			});
		};
		/* 修改 */
		$scope.toEdit=function(item){
			hrefTo({
				url:"deviceEdit.html",
				data:{
					"deviceObjCode":item.deviceObjCode,
					"cond_category":$scope.cond_category, 
					"cond_proNo":$scope.cond_proNo,
					"cond_mct":$scope.cond_mct,
					"cond_categoryName":$scope.cond_categoryName, 
					"cond_proName":$scope.cond_proName,
					"cond_mctName":$scope.cond_mctName,
					"cond_searchName":$("input[name=searchName]").val(),
					"cond_currentPage":$scope.currentPage
				}
			});
		};
		/* 删除 */
		$scope.doDel=function(item){
			new ShowDlog().confirm({
				msg:"确定删除【"+item.deviceObjName+"】吗？",
				ok:function(){
					$scope.httpPost({
						url:"eap/pmsServices/om/deviceMgr/device/deleteMctDevice",
						data:{
							"deviceObjCode":item.deviceObjCode
						},
						success:function(res){
							new ShowDlog().prompt({
								icon:"success",
								msg:"删除成功！",
								done:function(){
									$scope.doQuery();
									/*hrefTo({
										url:"deviceAttrFieldMgr.html",
										data:{
											"selectedUnitCode":$scope.selectedUnitCode, 
											"accountType":$scope.accountType, 
											"searchName":$scope.searchName
										}
									});*/
								},
								t:1500
							});
						}
					});
				}
			});
		};
		/**/
		$scope.toLocation=function(item){
			hrefTo({
				url:"deviceSetLocation.html",
				data:{
					"deviceObjCode":item.deviceObjCode,
					"cond_category":$scope.cond_category, 
					"cond_proNo":$scope.cond_proNo,
					"cond_mct":$scope.cond_mct,
					"cond_categoryName":$scope.cond_categoryName, 
					"cond_proName":$scope.cond_proName,
					"cond_mctName":$scope.cond_mctName,
					"cond_searchName":$("input[name=searchName]").val(),
					"cond_currentPage":$scope.currentPage,
					"AMUL_BOX_ADDR":item.AMUL_BOX_ADDR?item.AMUL_BOX_ADDR:""
				}
			});
		};
		
		
		//查看图片
		$scope.doShowImg=function(item){
			var mctCode=item.mctCode;
			var companyCode=item.companyCode;
			var proNo=item.proNo;
			var deviceObjCode=item.deviceObjCode;
			
			var deviceObjName=item.deviceObjName;
			
			
	
			new ShowDlog().showFrame("../../../component/imags.html?mctCode="+mctCode+"&companyCode="+companyCode+"&proNo="+proNo+"&deviceObjCode="+deviceObjCode+"&deviceTypeCode="+item.deviceTypeCode, deviceObjName, function(){
				// 
			},"dialog-images");

		};
		
		/* 审核 */
		$scope.toCheck=function(item, index){
			new ShowDlog().showFrame("deviceQualityCheck.html?deviceObjCode="+item.deviceObjCode, 
					item.deviceObjCode+"质量审核", 
					function(data){
						if(data=="SUCCESS"){
							index++;
							$scope.toCheckNext(index);
						}else{
							$scope.doQuery();
						}
					}, 
					"dialog_scheme_check");
		};
		
		$scope.toCheckNext=function(index){
			if(index>=$scope.dataList.length){
				location.reload();
			}
			var nextItem = $scope.dataList[index];
			if(!nextItem.QUALITY_AUDIT || nextItem.QUALITY_AUDIT==""){
				$scope.toCheck(nextItem, index);
			}else{
				index++;
				$scope.toCheckNext(index);
			}
		}

	}
});
function dateDropDownFn(ctrl){
	var name = $(ctrl).attr("name");
	var realName = name.substring(0, name.length-2);
	var date_s,date_e;
	if("_S" == name.substring(name.length-2)){
		date_s = $(ctrl).val();
		date_e = $("input[name="+realName+"_E]").val();
	}else if("_E" == name.substring(name.length-2)){
		date_s = $("input[name="+realName+"_S]").val();
		date_e = $(ctrl).val();
	}
	if(date_s.length>0 || date_e.length>0){
		$("#"+realName+"").val(date_s+"至"+date_e);
	}else{
		$("#"+realName+"").val("");
	}
}

function zhez(){
	new ShowDlog().prompt({msg:"",
		done:function(){
			
		},
		t:1500
	});


}

</script>
</body>
</html>
