<!DOCTYPE HTML>
<html>
<head>
<title> 子数组维护 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css"/>
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../css/common.css"/>
<link rel="stylesheet" type="text/css" href="../../../../css/list.css"/>

<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.chooseUser{width:1000px;height:500px;}
	.title_div2{border:solid 0px red;background:#4CA9FF;padding:8px 6px 8px 6px;}
.title_div2 .condLayer1{display:block;border:solid 0px;margin:6px;}
.title_div2 .condLayer2{border:solid 0px green;margin:0 6px;}
/* 操作按钮 */
.form_bottom .title_save{float:left;width:70px;height:28px;background: url(../../../../img/btn_save.png) no-repeat 0 0;line-height:28px;text-align:center;margin-left:30px;margin-top:5px;color:#fff;cursor: pointer;}
.form_bottom .title_save:hover{background: url(../../../../img/btn_save.png) no-repeat 0 -29px;}
.form_bottom .title_save2{float:left;width:110px;height:28px;background: url(../../../../img/btn_save2.png) no-repeat 0 0;line-height:28px;text-align:center;margin-left:30px;margin-top:5px;color:#fff;cursor: pointer;}
.form_bottom .title_save2:hover{background: url(../../../../img/btn_save2.png) no-repeat 0 -29px;}

.form_bottom .title_cancel{float:left;width:70px;height:28px;background: url(../../../../img/btn_cancel.png) no-repeat 0 0;line-height:28px;text-align:center;margin-left:30px;margin-top:5px;color:#666;cursor: pointer;}
.form_bottom .title_cancel:hover{background: url(../../../../img/btn_cancel.png) no-repeat 0 -29px;}
.form_bottom .title_code{float:left;width:70px;height:28px;background: url(../../../../img/asset/code_bnt.png) no-repeat;line-height:28px;text-align:center;margin-left:30px;margin-top:5px;color:#fff;cursor: pointer;}
.form_bottom .title_cyle{float:left;width:100px;height:28px;background: url(../../../../img/asset/lifecyle_bnt.png) no-repeat;line-height:28px;text-align:center;margin-left:30px;margin-top:5px;color:#fff;cursor: pointer;}
.form_bottom .title_print{float:left;width:70px;height:28px;background: url(../../../../img/asset/print_bnt.png) no-repeat;line-height:28px;text-align:center;margin-left:30px;margin-top:5px;color:#fff;cursor: pointer;}
.form_bottom .title_back{float:left;width:70px;height:28px;background: url(../../../../img/bnt_back.png) repeat;line-height:28px;text-align:center;margin-left:30px;margin-top:5px;color:#2D7CF0;cursor: pointer;}
	.form_bottom{border-top:none;padding-top:0;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div2">
			<div class="condLayer1">
				<input type="button" value="添加" class="btn" ng-click="addSubObject()"/>
				<input type="button" value="批量删除" class="btn pink" ng-click="delSubObject()"/>
			</div>
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<div class="table_div">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
				   <tr class="tr1">
				    <th><input type="checkbox" name="ck_all"/></th>
					<th>序号</th>
					<th ng-repeat="field in theadData.listFields">{{field.cname}}</th>
					<th>操作</th>
				  </tr>
				  <tr ng-repeat="item in arrValue" class="tr2">
					<td align="center"><input type="checkbox" name="ck_item" value="{{$index}}"/></td>
					<td align="center">{{$index+1}}</td>
					<td align="center" ng-repeat="f in theadData.listFields">{{item[f.ename]}}</td>
					<td align="center" width="180">
						<img class="operationImg" ng-click="toEdit($index)" src="../../../../img/list_item_modify-icon.png" title="修改">
				    	<img class="operationImg" ng-click="doDel($index)" src="../../../../img/list_delete-icon.png" title="删除">
					</td>
				  </tr>
				</table>
				<div ng-if="!arrValue || arrValue.length==0" style="border:solid 1px #ccc;padding:10px 0;margin-top:-1px;">
			  	<span style="color:#ff6600;">&nbsp;&nbsp;</span>
			  	</div>
			</div>
		</div>
		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		var urlParams = getUrlParams();
		$scope.theadData ={};
		$scope.fieldCname=urlParams.fieldCname;
		$scope.arrValue = [];
		if(urlParams.arrStr && urlParams.arrStr!='' && urlParams.arrStr!='undefined'){
			$scope.arrValue = JSON.parse(urlParams.arrStr);
		}
		
		$("input[name=ck_all]").click(function(){
			if($(this)[0].checked){
				$("input[name=ck_item]").each(function(){
					$(this)[0].checked=true;
				});
			}else{
				$("input[name=ck_item]").each(function(){
					$(this)[0].checked=false;
				});
			}
		});

		/* 加载条件和表头信息 */
		$scope.loadTheader=function(deviceTypeCode){
			$scope.httpGet({
				url:"eap/pmsServices/om/deviceMgr/device/mctListAttr?companyCode="+$scope.userData.companyCode,
				data:{"deviceTypeCode":deviceTypeCode},
				success:function(response){
					$scope.theadData = response.data;
				}
			});
		};
		/* 添加对象 */
		$scope.addSubObject=function(){
			new ShowDlog().showFrameFull("subObjectAdd.html?fieldCname="+encodeURIComponent("添加")+"&deviceTypeCode="+urlParams.deviceTypeCode, function(data){
				if(data!=null && data!='' && data!='CANCEL'){
					callNgFn({ctrlEl:$("body")[0],ngFn:function(scope){
						scope.arrValue.push(data);
					}});
				}
			});
		};
		
		$scope.loadTheader(urlParams.deviceTypeCode);
		$scope.toEdit=function(index){
			var obj = $scope.arrValue[index];
			var objStr=angular.toJson(obj);
			new ShowDlog().showFrameFull("subObjectAdd.html?fieldCname="+encodeURIComponent("添加")+"&deviceTypeCode="+urlParams.deviceTypeCode+"&objStr="+objStr, function(data){
				if(data!=null && data!='' && data!='CANCEL'){
					callNgFn({ctrlEl:$("body")[0],ngFn:function(scope){
						scope.arrValue[index]=data;
					}});
				}
			});
		};
		$scope.doDel=function(index){
			removeAt($scope.arrValue, index);
		};
		$scope.delSubObject=function(){
			$("input[name=ck_item]").each(function(){
				if($(this)[0].checked){
					var index = parseInt($(this).val());
					$scope.arrValue[index]=null;
				};
			});
			arrRemove($scope.arrValue, null);
		};
		/* 保存 */
		$scope.onSave=function(isContinue){
			parent.$dlog.data=$scope.arrValue;
			parent.$dlog.close();
		};
		
		/* 取消 */
		$scope.onCancel=function(){
			parent.$dlog.data="CANCEL";
			parent.$dlog.close();
		};
	
	}
});
</script>
</body>
</html>
