<!DOCTYPE HTML>
<html>
<head>
<title> 子对象维护 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css"/>
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../../css/edit.css"/>

<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.chooseUser{width:1000px;height:500px;}
	#lay1 .pdd_ta{width:100%;padding:1% 0;background:#f5f5f5;border-radius:5px;margin-bottom:20px;border:1px solid #ccc}
	#lay1 .pdd_ta table{width:100%;}
	#lay1 .pdd_ta table th{color:#77acf9;font-weight:bold;padding:0 20px 0;}
	#lay1 .pdd_ta table input{padding-left:10px;border:1px solid #ccc;height:30px;border-radius:3px;}
	.form_bottom{border-top:none;padding-top:0;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">{{fieldCname}}</label>
			</div>
			<img src="../../../../img/list_Header2-.png">
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<div class="pdd_ta">
				<table width="100%">
					
					<tr ng-repeat="tr in deviceAttrTrs track by $index">
						<th ng-repeat-start="item in tr track by $index"  width="120">{{item.cname}}</th>
						<td ng-repeat-end>
						<div ng-if="item.dtype==1">
						<input ng-if="item" type="text" class="{{item.isNotNull?'required ':''}} readonly" readonly="readonly" group="cond" name="{{item.ename}}" value="{{objValue[item.ename]}}" />
						</div>
						<div ng-if="item.dtype==2">
						<input ng-if="item" type="text" class="{{item.isNotNull?'required ':''}} number readonly" readonly="readonly" group="cond" name="{{item.ename}}" value="{{objValue[item.ename]}}" />
						</div>
						<div ng-if="item.dtype==3">
						<input ng-if="item" type="text" class="{{item.isNotNull?'required ':''}} date dateComponent readonly" readonly="readonly" group="cond" name="{{item.ename}}" placeholder="请选择" value="{{objValue[item.ename]}}" onclick="new Calendar().show(this, null, null, dateSelected)"/>
						</div>
<!-- 						<div ng-if="item.dtype==4 && (item.cname=='台区类型' || item.cname=='作业类型')"> -->
<!-- 							<input readonly="readonly" ng-if="item" type="text" class="{{item.isNotNull?'required ':''}}dropDownList" group="cond" name="{{item.ename}}" placeholder="请选择{{item.cname}}"/> -->
<!-- 						</div> -->
						<div ng-if="item.dtype==4">
							<input  ng-if="item" type="text" class="{{item.isNotNull?'required ':''}} dropDownList  readonly" readonly="readonly" group="cond" name="{{item.ename}}" placeholder="请选择{{item.cname}}" value="{{objValue[item.ename]}}"/>
						</div>
						</td>
					</tr>
				</table>
				<div ng-repeat="item in dependencyAttrs track by $index">
				<div ng-if="item.dtype==9">
					<input ng-if="item" type="hidden" group="cond" name="{{item.ename}}" />
				</div>
				</div>
			</div>	
		</div>
		<div class="form_bottom">
<!-- 			<a href="javascript:" ng-click="onCancel()" class="title_cancel"> -->
<!-- 				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关闭 -->
<!-- 			</a> -->
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		var urlParams = getUrlParams();
		
		$scope.deviceAttrList=[];
		$scope.deviceAttrTrs=[];
		$scope.dependencyAttrs=[];
		$scope.calcFields = [];
		$scope.fieldCname=urlParams.fieldCname;
		$scope.objValue = {};
		if(urlParams.objStr && urlParams.objStr!='' && urlParams.objStr!='undefined'){
			$scope.objValue = JSON.parse(urlParams.objStr);
		}
		
		
		/* 加载属性信息 */
		$scope.loadAttrs=function(deviceTypeCode){
			$scope.httpGet({
				url:"eap/pmsServices/om/deviceMgr/device/mctAttr?companyCode="+$scope.userData.companyCode,
				data:{"deviceTypeCode":deviceTypeCode},
				success:function(response){
					$scope.deviceAttrList = response.list;
					if($scope.deviceAttrList){
						// 取出字段类型是5的（计算类型），并且从字段集中删除
						$scope.calcFields = $scope.filterCalcFields($scope.deviceAttrList);
						$scope.deviceAttrTrs=$scope.splitToTr($scope.deviceAttrList);// 不包含5的
						/* 初始化搜索条件 */
					}
				}
			});
		};
		
		$scope.filterCalcFields=function(attrList){
			var newList=[];
			for(var i=0; i<$scope.deviceAttrList.length; i++){
				var searchField = $scope.deviceAttrList[i];
				if(searchField.dtype==5){
					removeAt($scope.deviceAttrList, i);
					i--;
					newList.push(searchField);
				}
			}
			return newList;
		};
		/* 组织tr数据 */
		$scope.splitToTr=function(arr){
			var trs=[];
			for(var i=0; i<arr.length; i++){
				var attr = arr[i];
				if(attr.dtype==9){
					$scope.dependencyAttrs.push(attr);
					continue;
				}
				if(i!=0 && i%2==0){
					trs.push([]);
				}
				if(trs.length==0){
					trs.push([]);
				}
				var tr=trs[trs.length-1];
				tr.push(attr);
			}
			var lastTr=trs[trs.length-1];
			if(lastTr.length<2){
				lastTr.push({});
			}
			return trs;
		};
		
		
		/* 项目总控表*/
		$scope.loadAttrs(urlParams.deviceTypeCode);
	
		
		/* 取消 */
		$scope.onCancel=function(){
			parent.$dlog.data="CANCEL";
			parent.$dlog.close();
		};
	
	}
});
function dateSelected(hostEl){
	$(hostEl).change();
}
</script>
</body>
</html>
