<!DOCTYPE HTML>
<html>
<head>
<title> 项目管理——日常管理——资产管理——用车加油记录 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>

<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../../../css/list.css" />

<style type="text/css">
	
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<input type="hidden" name="proNo"/><!-- 项目编号 -->
<!-- 				<input type="text" name="proName" class="dropDownList" placeholder="请选择项目"/>项目名称 -->
<!-- 				<input type="text" name="vehicleNo" placeholder="请输入车牌号">车牌号 -->
				
<!-- 				<div class="query_div" ng-click="doQuery()"> -->
<!-- 					查询 -->
<!-- 				</div> -->
				<div class="query_div" ng-click="doExport()">
					导出
				</div>
				&nbsp;&nbsp;
			</div>
			<img src="../../../../img/list_Header2-.png">
			<div class="title_add" ng-click="toRefuelCheckIn()">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登记
			</div>
			<div class="title_back" ng-click="toBack()">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;返回
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">项目名称</div></th>
				<th><div align="center">车牌号</div></th>
				<th><div align="center">加油网点</div></th>
				<th><div align="center">加油金额</div></th>
				<th><div align="center">加油时间</div></th>
				<th><div align="center">加油量（升）</div></th>
				<th><div align="center">当时单价</div></th>
				<th><div align="center">当时公里数</div></th>
<!-- 				<th><div align="center">操作</div></th> -->
			  </tr>
			  <tr class="tr2" ng-repeat="item in dataList">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.proName}}</div></td>
				<td><div align="center">{{item.vehicleNo}}</div></td>
				<td><div align="center">{{item.fcPlace}}</div></td>
				<td><div align="center">{{item.fcAmount}}</div></td>
				<td><div align="center">{{item.fcDate}}</div></td>
				<td><div align="center">{{item.fcVolume}}</div></td>
				<td><div align="center">{{item.curPrice}}</div></td>
				<td><div align="center">{{item.curMileage}}</div></td>
<!-- 				<td> -->
<!-- 					<div align="center"> -->
			    		
<!-- 		    		</div> -->
<!-- 				</td> -->
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">
function createPageBar(totalPage, curPage){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		curPage:curPage,
		prevPageText:"上一页",
		nextPageText:"下一页",
		onPage:function(pageNum){
			_currentPage=pageNum;
			ngScope.loadProjects(cond_proNo, cond_vehicleNo, cond_assetCode, pageNum);
		}
	});
}

var cond_proNo="", cond_vehicleNo="", cond_assetCode="", cond_proName="";

var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.dataList=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	
	var params = getUrlParams();
	cond_proNo = params.proNo;
	cond_proName = strDecode(params.proName);
	cond_assetCode = params.assetCode;
	
	
	/* 项目列表 */
// 	new DropDownList().init({
// 		renderTo:"input[name=proName]",
// 		url:"../../../component/projectList.html?ticket="+ticket,
// 		height:"200px",
// 		onSelected:function(result){
// 			$("input[name=proName]").val(result.proName);
// 			cond_proNo = result.proNo;
// 			ngScope.loadProjects(cond_proNo, cond_vehicleNo, cond_assetCode, 1);
// 		}
// 	});
	
	/* 加载数据 */
	$scope.loadProjects=function(proNo, vehicleNo, assetCode, currentPage){
	
		$http.get(serviceBasePath+"eap/pmsServices/pm/everydayMgr/assetsMgr/pmVehicleFuelcharge/list?proNo="+proNo+"&vehicleNo="+vehicleNo+
			"&assetCode="+assetCode+
			"&currentPage="+currentPage+"&ticket="+ticket).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../login.html";
				return;
			}
			$scope.dataList = response.list;
			createPageBar(response.totalPage, response.currentPage);
		});
	};
	/* 查询 */
	$scope.doQuery=function(){
		//cond_vehicleNo = $("input[name=vehicleNo]").val();
		$scope.loadProjects(cond_proNo, cond_vehicleNo, cond_assetCode, 1);
	};
	
	/* 加油登记 */
	$scope.toRefuelCheckIn = function(){
		//location.href = "refuelCheckIn.html?proNo="+cond_proNo+"&proName="+strEncode(cond_proName)+"&assetCode="+cond_assetCode;
		hrefTo({
			url:"refuelCheckIn.html",
			data:getUrlParams()
		});
	}
	/* 项目修改 */
	$scope.doUpdate=function(item){
		//location.href="editProject.html?proNo="+item.proNo;
	};
	
	/* 返回 */
	$scope.toBack=function(item){
		location.href="assetsMgr.html";
	};
	
	/* 初始查询 */
	ngScope.loadProjects(cond_proNo, cond_vehicleNo, cond_assetCode, 1);
});
</script>
</body>
</html>
