<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.pm.scene.dao.PmSceneMonitorPointMapper" >
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.pm.scene.vo.PmSceneMonitorPoint" >
  
    <id column="ROWID" property="rowid" jdbcType="BIGINT" />
    <result column="MONITOR_POINT_CODE" property="monitorPointCode" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="MONITOR_TYPE" property="monitorType" jdbcType="INTEGER" />
    <result column="CONFIG_PARAMS" property="configParams" jdbcType="VARCHAR" />
    <result column="SPOT_CODE" property="spotCode" jdbcType="VARCHAR" />
    <result column="X" property="x" jdbcType="INTEGER" />
    <result column="Y" property="y" jdbcType="INTEGER" />
    <result column="ALARM_MAX_VAL" property="alarmMaxVal" jdbcType="VARCHAR" />
    <result column="ALARM_MIN_VAL" property="alarmMinVal" jdbcType="VARCHAR" />
    
    <result column="SPOT_NAME" property="spotName" jdbcType="VARCHAR" />
    
  </resultMap>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    	t1.ROWID, t1.MONITOR_POINT_CODE, t1.NAME, t1.MONITOR_TYPE, t1.CONFIG_PARAMS, t1.SPOT_CODE, t1.X, t1.Y,
    	t1.ALARM_MAX_VAL,t1.ALARM_MIN_VAL,
    	t2.SPOT_NAME
    from pm_scene_monitor_point t1
    left join PRO_SPOT t2 on t1.spot_code = t2.spot_code
    where t1.ROWID = #{rowid,jdbcType=BIGINT}
  </select>
  
    <select id="findByMonitorPointCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    	t1.ROWID, t1.MONITOR_POINT_CODE, t1.NAME, t1.MONITOR_TYPE, t1.CONFIG_PARAMS, t1.SPOT_CODE, t1.X, t1.Y,
    	t1.ALARM_MAX_VAL,t1.ALARM_MIN_VAL,
    	t2.SPOT_NAME
    from pm_scene_monitor_point t1
    left join PRO_SPOT t2 on t1.spot_code = t2.spot_code
    where t1.MONITOR_POINT_CODE = #{monitorPointCode,jdbcType=VARCHAR}
    limit 0,1
  </select>
  
  <select id="queryForCount" resultType="int" parameterType="map" >
    select 
    	count(*)
    from pm_scene_monitor_point t1
    where 1=1
    <if test="spotCode != null and spotCode != ''">
    and t1.SPOT_CODE = #{spotCode,jdbcType=VARCHAR}
    </if>
  </select>
  
  <select id="queryForPage" resultMap="BaseResultMap" parameterType="map" >
    select 
    	t1.ROWID, t1.MONITOR_POINT_CODE, t1.NAME, t1.MONITOR_TYPE, t1.CONFIG_PARAMS, t1.SPOT_CODE, t1.X, t1.Y,
    	t1.ALARM_MAX_VAL,t1.ALARM_MIN_VAL,
    	t2.SPOT_NAME
    from pm_scene_monitor_point t1
    left join PRO_SPOT t2 on t1.spot_code = t2.spot_code
    where 1=1
    <if test="spotCode != null and spotCode != ''">
    and t1.SPOT_CODE = #{spotCode,jdbcType=VARCHAR}
    </if>
    limit #{firstResult},#{maxResult} 
  </select>
  
  <select id="queryForList" resultMap="BaseResultMap" parameterType="map" >
	select 
    	t1.ROWID, t1.MONITOR_POINT_CODE, t1.NAME, t1.MONITOR_TYPE, t1.CONFIG_PARAMS, t1.SPOT_CODE, t1.X, t1.Y,
    	t1.ALARM_MAX_VAL,t1.ALARM_MIN_VAL,
    	t2.SPOT_NAME
    from pm_scene_monitor_point t1
    left join PRO_SPOT t2 on t1.spot_code = t2.spot_code
    where 1=1
    <if test="spotCode != null and spotCode != ''">
    and t1.SPOT_CODE = #{spotCode,jdbcType=VARCHAR}
    </if>	
  </select>
  
  <delete id="delete" parameterType="java.lang.Long" >
    delete from pm_scene_monitor_point
    where ROWID = #{rowid,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.glens.pwCloudOs.pm.scene.vo.PmSceneMonitorPoint" >
    insert into pm_scene_monitor_point (MONITOR_POINT_CODE, NAME, MONITOR_TYPE, 
    	CONFIG_PARAMS, SPOT_CODE, X, Y,ALARM_MAX_VAL,ALARM_MIN_VAL)
    values (#{monitorPointCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{monitorType,jdbcType=INTEGER}, #{configParams,jdbcType=VARCHAR}, 
      #{spotCode,jdbcType=VARCHAR},#{x,jdbcType=INTEGER},#{y,jdbcType=INTEGER},
      #{alarmMaxVal,jdbcType=VARCHAR},#{alarmMinVal,jdbcType=VARCHAR})
  </insert>
  
</mapper>