
<!DOCTYPE HTML>
<html>
<head>
<title>等级设置 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../../css/edit.css"/>

<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
body{overflow:hidden;}
.form_bottom{float:right;}
.form_bottom .title_save{float:right;}
.form_bottom .title_cancel{float:right;}
#saveForm input{text-indent:10px}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1" style="height:200px">
			<table style="width:100%;">
				<tr>
					<th>物品名称</th>
					<td>
						<input type="text" id="goodsName" placeholder="请选择物品" name="goodsName" style="width:250px;" class="dropDownList required">
						<input type="hidden" name="goodsCode">
						<input type="hidden" name="storeNo">    
					</td>
				</tr>
				<tr>
					<th>物品单位</th>
					<td>
						<input type="text" id="unitName" name="unitName" placeholder="请选择单位" style="width:250px;" class="dropDownList required">
						<input type="hidden" name="unitCode">
						<input type="hidden" name="isMainUnit">
						<input type="hidden" name="conversionFormula">  
					</td>
				</tr>
				<tr>
					<th>物品数量</th>
					<td>
						<input type="text" name="num" placeholder="请输入数量" class="number required" style="width:250px;">
					</td>
				</tr>
				<tr>
					<th>仓库地址</th>
					<td>
						<input type="text" name="storeName" placeholder="请选择仓库" class="dropDownList required" style="width:250px;">
						<input type="hidden" name="storeCode">
					</td>
				</tr>
			</table>
		</div>
		
		<div class="form_bottom" style="width:100%;float:right;">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确定
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		$scope.valObj={};
		
		// 参数
		var urlParams = getUrlParams();
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			window.noLogin(location.href);
			return;
		}
		var userData = jQuery.parseJSON(userDataStr);
		var goodsCode="";
		$http.get(serviceBasePath+"eap/pmsServices/goods/getGoodsTypes").success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../login.html";
				return;
			}
			$scope.goodsTypes = response.list;
			new DropDownList().init({
				renderTo:"input[name='goodsName']",
				data:$scope.goodsTypes,
				textField:"GOODS_NAME",
				height:"150",
				onSelected:function(item){
					goodsCode=item.GOODS_CODE;
					$("input[name=goodsName]").val(item.GOODS_NAME);
					$("input[name=goodsCode]").val(item.GOODS_CODE);
					$("input[name=storeNo]").val(item.STOCK_CODE);
					$scope.getGoodsUnit(goodsCode)
				}
			});
		});
		
		$http.get(serviceBasePath+"eap/pmsServices/goods/getStores").success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../login.html";
				return;
			}
			$scope.getStores = response.list;
			new DropDownList().init({
				renderTo:"input[name='storeName']",
				data:$scope.getStores,
				textField:"STORE_NAME",
				height:"150",
				onSelected:function(item){
					$("input[name=storeName]").val(item.STORE_NAME);
					$("input[name=storeCode]").val(item.STORE_CODE);
				}
			});
		});
		
		$scope.getGoodsUnit=function(goodsCode){
			$http.get(serviceBasePath+"eap/pmsServices/goods/getGoodsUnit?goodsCode="+goodsCode).success(function(response){
				if(response.statusCode==401){
					alert("用户凭据过期！请重新登录！");
					window.top.location.href="../../login.html";
					return;
				}
				$scope.goodsUnit = response.list;
				new DropDownList().init({
					renderTo:"input[name='unitName']",
					data:$scope.goodsUnit,
					textField:"UNIT_NAME",
					height:"150",
					onSelected:function(item){
						if(!item.CONVERSION_FORMULA){
							item.CONVERSION_FORMULA="";
						}
						$("input[name=unitName]").val(item.UNIT_NAME);
						$("input[name=unitCode]").val(item.UNIT_CODE);
						$("input[name=isMainUnit]").val(item.IS_MAIN_UNIT);
						$("input[name=conversionFormula]").val(item.CONVERSION_FORMULA);
					}
				});
			});
		};

		/* 表单验证 */
		validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
				} 
			}
		});

		
		$scope.onSave=function(){
			var formData = serializeArrayToMap($("#saveForm").serializeArray());
			if($("#saveForm").valid()){
				parent.$dlog.data={"resultCode":"SUCCESS","formData":formData};
				parent.$dlog.close();				
			}
		};
		
		$scope.onCancel=function(){
			parent.$dlog.close();
		};
	}
});
</script>
</body>
</html>
