<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.pm.assessment.AssessmentStatistics.AssessmentStatisticsMapper" >
  
  <select id="selectCheckCategory" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  
  	select CATEGORY_CODE categoryCode,CATEGORY_NAME categoryName from PM_CHECK_CATEGORY 
  	where COMPANY_CODE=#{companyCode} and SYS_PROCESS_FLAG='1'
  </select>
  
  <select id="selectCheckCycle" resultType="java.util.HashMap">
  	select CYCLE_CODE cycleCode,CYCLE_NAME cycleName from PM_CHECK_CYCLE where SYS_PROCESS_FLAG='1'
  </select>
  
  <select id="getActiveKpi" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  	SELECT KPI_CODE kpiCode, KPI_NAME kpiName
	FROM PM_CHECK_KPI
	WHERE SYS_PROCESS_FLAG='1' AND KPI_STATUS=1
	and COMPANY_CODE=#{companyCode}
	<if test="kpiCategoryCode != null and kpiCategoryCode != ''">
	and FIND_IN_SET(CATEGORY_CODE,#{kpiCategoryCode})
	</if>
	<if test="cycleCode != null and cycleCode != ''">
	and FIND_IN_SET(CYCLE_CODE,#{cycleCode})
	</if>
	<if test="kpiCode != null and kpiCode != ''">
	and FIND_IN_SET(KPI_CODE,#{kpiCode})
	</if>
  </select>
  
  <select id="getAssessmentStatistics" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  	SELECT a.PRO_NO proNo,a.PRO_NAME proName,a.PRO_MANAGER proManager,${sqlSeg}IFNULL(ROUND(SUM(b.CHECK_SCORE),2),0) t
	FROM pm_base a
	LEFT JOIN PM_CHECK_SCORE b ON a.PRO_NO=b.CHECKED_PRO 
	<if test="fromDate != null and fromDate != ''">
	and b.CHECK_TIME &gt;= #{fromDate}
	</if>
	<if test="toDate != null and toDate != ''">
	and b.CHECK_TIME &lt;= #{toDate}
	</if>
	WHERE a.COMPANY_CODE=#{companyCode} AND a.PRO_STATUS=2 and a.SYS_PROCESS_FLAG='1'
	<if test="categoryCode != null and categoryCode != ''">
	and FIND_IN_SET(a.CATEGORY_CODE,#{categoryCode})
	</if>
	<if test="proNo != null and proNo != ''">
	and FIND_IN_SET(a.PRO_NO,#{proNo})
	</if>
	<if test="deptCode != null and deptCode != ''">
		and a.MANAGE_DEPT=#{deptCode}
    </if>
	GROUP BY a.PRO_NO
	ORDER BY t DESC
  </select>
  
  <select id="getPmAssessment" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  	SELECT a.KPI_NAME kpiName,a.KPI_CODE kpiCode,b.CATEGORY_NAME categoryName,c.CYCLE_NAME cycleName,
	a.KPI_SCORE kpiScore,a.KPI_CONTENT kpiContent,a.CHECK_DEPT checkDept,
	IFNULL(ROUND(SUM(d.CHECK_SCORE),2),'-') score 
	FROM PM_CHECK_KPI a
	JOIN PM_CHECK_CATEGORY b ON a.CATEGORY_CODE=b.CATEGORY_CODE
	JOIN PM_CHECK_CYCLE c ON a.CYCLE_CODE=c.CYCLE_CODE
	LEFT JOIN PM_CHECK_SCORE d ON a.KPI_CODE=d.KPI_CODE and d.CHECKED_PRO=#{proNo}
	<if test="fromDate != null and fromDate != ''">
	and d.CHECK_TIME &gt;= #{fromDate}
	</if>
	<if test="toDate != null and toDate != ''">
	and d.CHECK_TIME &lt;= #{toDate}
	</if>
	WHERE a.COMPANY_CODE=#{companyCode} AND a.KPI_STATUS=1
	<if test="kpiCategoryCode != null and kpiCategoryCode != ''">
	and a.CATEGORY_CODE=#{kpiCategoryCode}
	</if>
	<if test="cycleCode != null and cycleCode != ''">
	and a.CYCLE_CODE=#{cycleCode}
	</if>
	GROUP BY a.KPI_CODE
	UNION
	SELECT '合计' kpiName,'' kpiCode,'' categoryName,''cycleName,SUM(e.KPI_SCORE) kpiScore,'' kpiContent,'' checkDept,
	ROUND(IFNULL(SUM(f.CHECK_SCORE),0),2) score
	FROM PM_CHECK_KPI e
	LEFT JOIN PM_CHECK_SCORE f ON e.KPI_CODE=f.KPI_CODE and f.CHECKED_PRO=#{proNo}
	<if test="fromDate != null and fromDate != ''">
	and f.CHECK_TIME &gt;= #{fromDate}
	</if>
	<if test="toDate != null and toDate != ''">
	and f.CHECK_TIME &lt;= #{toDate}
	</if>
	WHERE e.COMPANY_CODE=#{companyCode} AND e.KPI_STATUS=1
	<if test="kpiCategoryCode != null and kpiCategoryCode != ''">
	and e.CATEGORY_CODE=#{categoryCode}
	</if>
	<if test="cycleCode != null and cycleCode != ''">
	and e.CYCLE_CODE=#{cycleCode}
	</if>
  </select>
  
  <select id="selectKpiScore" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  	SELECT a.KPI_CODE kpiCode,a.KPI_NAME kpiName,a.CHECK_SCORE checkScore,c.PRO_NAME proName,b.EMPLOYEENAME employeeName,
	DATE_FORMAT(a.CHECK_TIME,'%Y-%m-%d %H:%i:%s') checkTime,IFNULL(a.CHECK_DESC,'') checkDesc,d.KPI_SCORE kpiScore,
	CASE WHEN d.KPI_SCORE&gt;a.CHECK_SCORE THEN '扣分' WHEN d.KPI_SCORE&lt;a.CHECK_SCORE THEN '加分' ELSE '未扣分' END checkResult
	FROM PM_CHECK_SCORE a
	JOIN MD_EMPLOYEE b ON a.CHECK_MAN=b.EMPLOYEECODE
	JOIN PM_BASE c ON a.CHECKED_PRO=c.PRO_NO
	JOIN PM_CHECK_KPI d ON a.KPI_CODE=d.KPI_CODE
	WHERE a.KPI_CODE=#{kpiCode} and a.CHECKED_PRO=#{proNo}
	<if test="fromDate != null and fromDate != ''">
	and a.CHECK_TIME &gt;= #{fromDate}
	</if>
	<if test="toDate != null and toDate != ''">
	and a.CHECK_TIME &lt;= #{toDate}
	</if>
  </select>
  
</mapper>