<!DOCTYPE HTML>
<html>
<head>
<title> 宿舍管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>


<script type="text/javascript" src="../../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../../css/edit.css"/>

<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />
<script type="text/javascript" src="../../../../js/time.js"></script>

<style type="text/css">
	.dialog-map{height:500px;width:900px;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">创建宿舍</label>
			</div>
			<img src="../../../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected">宿舍属性</a>
			
			
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
				<tr>
					<th>宿舍名称</th>
					<td colspan="3">
						
						<input type="text" name="dormName" class="required" style="width:520px" /></td>
					
				</tr>
				<tr>
					<th>省</th>
					<td><input type="text" name="province" id="province" class="dropDownArea" placeholder="请选择"/></td>
					<th width="100">市</th>
					<td><input type="text" name="city" id="city" class="dropDownArea" placeholder="请选择"/></td>
					
				</tr>
				
				<tr>
					<th>区</th>
					<td><input type="text" name="district" id="district" class="dropDownArea" placeholder="请选择"/></td>
					
					<th>地理坐标</th>
					<td>
						<input type="hidden" name="x" class="required readonly" readonly="readonly" />
						<input type="hidden" name="y" class="required readonly" readonly="readonly" />
						<input type="text" name="xy" class="required readonly" readonly="readonly" />
						<img ng-click="getMap()" src="../../../../img/map.png" style="cursor:pointer;margin-top:5px;margin-left:4px;width:12px;height:17px" />
					</td>
				</tr>
				
				
				<tr>
					<th>面积</th>
					<td><input type="text" name="area" class="number" /></td>
					<th>户型</th>
					<td><input type="text" name="housetype" /></td>
				</tr>
				<tr>
				    <th>首次租用日期</th>
					<td><input type="text" name="frentDate" class="date dateComponent" placeholder="请选择" onclick="new Calendar().show(this)"/></td>
					<th>最新起租时间</th>
					<td><input type="text" name="srentDate" class="date dateComponent" placeholder="请选择" onclick="new Calendar().show(this)"/></td>
					
				</tr>
				<tr>
					<th>最新到期时间</th>
					<td><input type="text" name="erentDate" class="date dateComponent" placeholder="请选择" onclick="new Calendar().show(this)"/></td>
					<th>月租金</th>
					<td><input type="text" name="monthrent" class="number"/></td>
					
				</tr>
				
				<tr>
					<th>押金 </th>
					<td><input type="text" name="deposit" class="number" /></td>
					<th>最大入住床位数</th>
					<td><input type="text" name="maxBeds" class="number"/></td>
					
				</tr>
				<tr>
					<th>人均床位日租金 </th>
					<td><input type="text" name="dayrent" class="number" /></td>
					
					<th>房东 </th>
					<td><input type="text" name="landlord" /></td>
				</tr>
				<tr>
					<th>中介</th>
					<td><input type="text" name="agency" /></td>
					<th>中介费 </th>
					<td><input type="text" name="agencyAmount" /></td>
					
					
				</tr>
				<tr>
					<th>经办人</th>
					<td><input type="text" name="operator" /></td>
					<th>本次合同租期 </th>
					<td><input type="text" name="contractLease" /></td>
					
				</tr>
				
				<tr>
				<th>支付方式</th>
					<td><input type="text" name="paymentMode" id="paymentMode" placeholder="选择支付方式" class="dropDownList"  /></td>
					
					<th>备注</th>
					<td><input type="text" name="remarks" /></td>
					
				</tr>
			</table>
			
		</div>
		
		

		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">

var validator;
var ngScope;
var userData;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.userList=[];
	
	var currentDate=getCurrentDate();
	var nextYear = getNextYearCurrentDate();
	//alert(mydate.getFullYear()+"-"+(mydate.getMonth()+1)+"-"+mydate.getDate());
	$("input[name=frentDate]").val(currentDate);
	
	$("input[name=srentDate]").val(currentDate);
	
	$("input[name=erentDate]").val(nextYear);
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	/* 视图渲染 */
	$(".tabs>a").each(function(){
		var layId = $(this).attr("href");
		var idx = $(".tabs>a").index($(this));
		if(idx!=0){
			$(layId).hide();
			$(layId).attr("data-show", "0");
		}else{
			$(layId).attr("data-show", "1");
		}
		$(this).click(function(){
			$(".tabs>.selected").removeClass("selected");
			$(this).addClass("selected");
			var layId = $(this).attr("href");
			$("div[data-show=1]").hide();
			$("div[data-show=1]").attr("data-show", "0");
			$(layId).show();
			$(layId).attr("data-show", "1");
			
		});
	});
	
	/* 表单验证 */
	validator = $("#saveForm").validate({
		onsubmit: false,
		focusInvalid: false,
		focusCleanup: true,
		errorElement: "span",
		ignore:".ignore",
		invalidHandler: function(form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				
			} 
		}
	});
	
	$scope.getMap=function(){
		//	$("#main_frame").attr("src", "../sys/resetPwd.html");
		
		var x="";
		var y="";
		var areaName=$("input[name=district]").val();
		if($("input[name=x]").val()!=""){
			x=$("input[name=x]").val();
		}
		
		if($("input[name=y]").val()!=""){
			y=$("input[name=y]").val();
		}
		
		new ShowDlog().showFrame("../../../component/map.html?x="+x+"&y="+y+"&areaName="+areaName, "选择坐标", function(){
						
						if($dlog.data.x&&$dlog.data.y){
							$("input[name=xy]").val($dlog.data.x+","+$dlog.data.y);
						}
						if($dlog.data.x){
							$("input[name=x]").val($dlog.data.x);
						}
						if($dlog.data.y){
							$("input[name=y]").val($dlog.data.y);
						}
		},"dialog-map");
		
	};
	
	/* 项目分类 */
	new DropDownList().init({
		renderTo:".dropDownProjectType",
		url:"../../../component/projectType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("input[name=categoryName]").val(result.categoryName);
			$("input[name=categoryCode]").val(result.categoryCode);
		}
	});
	
	/* 省 */
	new DropDownList().init({
		renderTo:"#province",
		url:"../../../component/areaList.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#province").val(result.name);
		}
	});
	
	/* 市 */
	new DropDownList().init({
		renderTo:"#city",
		url:"../../../component/areaList.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#city").val(result.name);
		}
	});
	
	/* 县 */
	new DropDownList().init({
		renderTo:"#district",
		url:"../../../component/areaList.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("#district").val(result.name);
		}
	});
	
	//支付方式
	
	
	new DropDownList().init({
			renderTo:"input[name=paymentMode]",
			data:[{code:"0", name:"年付"}, {code:1, name:"季付"}, {code:2, name:"月付"}],
			textField:"name",
			onSelected:function(item){
				if(item.code==""){
					$("input[name=paymentMode]").val("");
					return;
				}
				$("input[name=paymentMode]").val(item.name);
				
			}
		});

	
	
	/* 保存 */
	$scope.onSave = function(){
		//$("input[name=companyCode]").val(userData.companyCode);
		var formData = $("#saveForm").serialize();
		
		if($("#saveForm").valid()){
			$.ajax({
				url:serviceBasePath+"eap/pmsServices/materielMg/dormMg/dorm/add",
				cache:false,
				method:"POST",
				data:formData,
				success:function(res){
					if(res.statusCode==200){
						new ShowDlog().prompt({msg:"添加成功！",
							done:function(){
								location.href="dormMgr.html";
							},
							t:1500
						});
					}else{
						//
					}
				},
				error:function(){
					
				}
			});
		}else{
			//alert("表单填写异常，请检查修正后再提交");
		}
	};
	
	/* 取消 */
	$scope.onCancel = function(){
		location.href="dormMgr.html";
	};
	
});
</script>
</body>
</html>
