<!DOCTYPE HTML>
<html>
<head>
<title> 宿舍管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../../../css/list.css" />


<style type="text/css">
	.dropDownArea{background-image:url(../../../../img/flag.png);background-repeat: no-repeat;background-position:right;background-position:185px;cursor:pointer;}
	
	.btn{display:inline-block;padding:1px 4px;border:solid 1px #f4f4f4; border-radius:4px;}
	.btn.toactive{color:#fff;background:green;}
	.btn.toclose{color:#fff;background:#ED7798;}
	.dialog-viewMember{width:900px;height:500px;}
	
	.dialog-viewcode{height:270px;width:400px;}
	
	.dialog-bedRent{width:900px; height:500px;}
	.dialog-scrap{width:490px;height:330px;}
	.dialog-addPerson{width:550px;height:580px;}
	.owWordLoad{text-decoration:underline;color:#0099ff;}
	.owWordload-detail{border:solid 1px #666;background:#ffee99;color:#666;padding:4px 6px 4px 6px;position:absolute;display:none;}
	
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				
				<input type="text" class="dropDownProjectType" style="width:175px;" placeholder="请选择区域"/>
				<input type="text" style="width:180px;" id="searchName" placeholder="请输入宿舍名称或行政区划"/>
				<input type="text"  name="dormType" class="dropDownList" id="dormType" placeholder="请选择宿舍状态"/>
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
				
				&nbsp;&nbsp;
			</div>
			<img src="../../../../img/list_Header2-.png">
			<div class="title_add" onclick="location.href='addDorm.html'">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">宿舍名称</div></th>
				
				<th><div align="center">面积</div></th>
				<th><div align="center">户型</div></th>
				<th><div align="center">起租时间</div></th>
				<th><div align="center">到期时间</div></th>
				<th><div align="center">月租金</div></th>
				<th><div align="center">押金</div></th>
				<th><div align="center">最大入住床位数</div></th>
				<th><div align="center">当前入住床位数</div></th>
				<th><div align="center">当前入住项目组名称</div></th>
				
				<th><div align="center">人均床位日租金</div></th>
				<th><div align="center">状态</div></th>
				<th><div align="center">操作</div></th>
			  </tr>
			  <tr class="tr2" ng-repeat="item in projectList">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.dormName}}</div></td>
				
				<td><div align="center">{{item.area}}</div></td>
				<td><div align="center">{{item.housetype}}</div></td>
				<td><div align="center">{{item.srentDate}}</div></td>
				<td><div align="center">{{item.erentDate}}</div></td>
				<td><div align="center">{{item.monthrent}}</div></td>
				<td><div align="center">{{item.deposit}}</div></td>
				<td><div align="center">{{item.maxBeds}}</div></td>
				<td><div align="center">{{item.curBeds}}</div></td>
				<td>
					
					
					<span ng-repeat="pro in top2(toArr(item.curProNames))" align="left" style="margin-left:10px;">{{pro}}</span>
					<div ng-if="toArr(item.curProNames).length>1" style="display:inline-block;">
						<a href="javascript:" onmouseover="$(this).next().show();" onmouseout="$(this).next().hide();" class="owWordLoad">[查看更多]</a>
						<div class="owWordload-detail">
							<div ng-repeat="pro in after2(toArr(item.curProNames)) track by $index">{{pro}}</div>
						</div>
					</div>
					
				
				</td>
				
				<td><div align="center">{{item.dayrent}}</div></td>
				<td width="80" ng-if="item.dormStatus==1" style="background:#98EE8A;color:#333">
					<div  align="center">闲置</div>
					
				</td>
				<td ng-if="item.dormStatus==2" style="background:#FFCE4B;color:#333">

					<div  align="center">在租</div>

				</td>
				<td ng-if="item.dormStatus==3" style="background:#eee;color:#333">
					
					<div  align="center">退租</div>
				</td>
				
				<td width="12%">
					<div align="center">
						
			    		<img ng-if="item.dormStatus==2 || item.dormStatus==1"  ng-click="doUpdate(item)" class="operationImg" src="../../../../img/list_item_modify-icon.png" title="修改">
			    		<img ng-if="item.dormStatus==3"  ng-click="doDelete(item)" class="operationImg" src="../../../../img/list_delete-icon.png" title="删除">
			    		<img  class="operationImg" ng-click="doShow(item)" src="../../../../img/list_see-icon.png" title="查看 ">
			    		<img ng-if="item.dormStatus==2" class="operationImg" ng-click="doShow1(item)" src="../../../../img/viewper.png" title="查看项目组人员 ">
			    		<img ng-if="item.dormStatus==1" class="operationImg" ng-click="scrap(item)" src="../../../../img/asset/dormBack.png" title="退租" >
			    		<img ng-if="item.dormStatus==2 || item.dormStatus==1" class="operationImg" ng-click="addPerson(item)" src="../../../../img/personAdd.png" title="添加人员" >
		    		</div>
		    		
		    		
				</td>
				
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">
function createPageBar(totalPage, curPage,totalRecord){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		curPage:curPage,
		totalRecord: totalRecord,
		showPageInfo:true,
		prevPageText:"上一页",
		nextPageText:"下一页",
		onPage:function(pageNum){
			_currentPage=pageNum;
			ngScope.loadProjects(areaName, dormName, pageNum,dormType);
		}
	});
}

var areaName="";
var dormName="";
var _currentPage=1;
var dormType="";
var dormTypeName="";
var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.projectList=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	var params=getUrlParams();
	
	
	if(params.currentPage){
		_currentPage=params.currentPage;
	}
	
	/* areaName:areaName,
	dormName:dormName,
	dormTypeName:dormTypeName, 
	dormType:dormType */
	if(params.areaName){
		areaName=params.areaName;
		$(".dropDownProjectType").val(areaName);
	}
	if(params.dormName){
		dormName=params.dormName;
		$("#searchName").val(dormName);
	}
	if(params.dormTypeName){
		dormTypeName=params.dormTypeName;
		$("#dormType").val(dormTypeName);
	}
	
	if(params.dormType){
		dormType=params.dormType;
		//$(".dropDownProjectType").val(areaName);
	}
	
	
	
	
	/* 区域 */
	new DropDownList().init({
		renderTo:".dropDownProjectType",
		url:"../../../component/areaList.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$(".dropDownProjectType").val(result.name);
			areaName=result.name;
			ngScope.loadProjects(areaName, dormName,1,dormType);
		}
	});
	
	//宿舍状态
	new DropDownList().init({
		renderTo:"#dormType",
		url:"../../../component/dormTypes.html",
		height:"200px",
		onSelected:function(result){
			$("#dormType").val(result.name);
			dormType=result.value;
			dormTypeName=result.name;
			ngScope.loadProjects(areaName, dormName,1,dormType);
		}
	});
	
	/* 加载数据 */
	$scope.loadProjects=function(areaName, dormName,currentPage,dormType){//alert(unitCode);
		
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/dormMg/dorm/list?areaName="
			+areaName+"&dormName="+dormName+"&currentPage="+currentPage+"&ticket="+ticket+"&dormType="+dormType).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../login.html";
				return;
			}
			$scope.projectList = response.list;
			createPageBar(response.totalPage, response.currentPage,response.totalRecord);
		});
	};
	/* 查询 */
	$scope.doQuery=function(){
		dormName = $("#searchName").val();
		$scope.loadProjects(areaName, dormName,1,dormType);
	};
	
	
	/* 修改 */
	$scope.doUpdate=function(item){
		
		//location.href="editDorm.html?dormCode="+item.dormCode;
		
		hrefTo({
			url:"editDorm.html",
			data:{
				dormCode:item.dormCode,
				currentPage:_currentPage,				
				areaName:areaName,
				dormName:dormName,
				dormTypeName:dormTypeName, 
				dormType:dormType
			}
		});
	};
	
	/* 显示 */
	$scope.doShow=function(item){
		//location.href="showDorm.html?dormCode="+item.dormCode;
		hrefTo({
			url:"showDorm.html",
			data:{
				dormCode:item.dormCode,
				currentPage:_currentPage,				
				areaName:areaName,
				dormName:dormName,
				dormTypeName:dormTypeName, 
				dormType:dormType
			}
		});
	};
	
	$scope.toArr=function(pros){
		if(!pros)return;
		var arr = pros.split(",");//alert(arr);
		return arr;
	};
	
	$scope.top2=function(arr){
		var arrN=[];
		if(!arr)return arrN;
		for(var i=0;i<arr.length;i++){
			if(i>0){
				break;
			}
			arrN.push(arr[i]);
		}
		return arrN;
	};
	
	$scope.after2=function(arr){
		var arrN=[];
		for(var i=1;i<arr.length;i++){
			arrN.push(arr[i]);
		}//alert(arrN.length);
		return arrN;
	};

	
	$scope.doShow1=function(item){

	
		new ShowDlog().showFrame("../../../pm/prjMgr/assetsList/bedRentList.html?dormCode="+item.dormCode, item.dormName+"床位租用清单", function(){
			
			$scope.loadProjects(areaName, dormName, _currentPage,dormType);
			
		},"dialog-bedRent");
					
				
		
	};
	

	
	/* 项目删除 */
	$scope.doDelete=function(item){
		
		new ShowDlog().confirm({
			msg:"确定对宿舍“"+item.dormName+"”进行删除操作吗？",
			ok:function(){
				$http.post(serviceBasePath+"eap/pmsServices/materielMg/dormMg/dorm/delete?dormCode="+item.dormCode+"&ticket="+ticket).success(function(response){
					$scope.loadProjects(areaName, dormName, _currentPage,dormType);
				});
			},
			cancel:function(){}
		});
	};
	
	//宿舍退租
	$scope.scrap=function(item){
		
		new ShowDlog().showFrame("scrap.html?dormCode="+item.dormCode,item.dormName, function(){
						// 
			$scope.loadProjects(areaName, dormName, _currentPage,dormType);
		},"dialog-scrap");
	};
	
	
	//添加人员
	$scope.addPerson=function(item){
		
		new ShowDlog().showFrame("addperson.html?dormCode="+item.dormCode,item.dormName, function(){
						// 
			$scope.loadProjects(areaName, dormName, _currentPage,dormType);
		},"dialog-addPerson");
	};
	
	
	
	
	/* 初始查询 */
	ngScope.loadProjects(areaName, dormName,1,dormType);
});
</script>
</body>
</html>
