<!DOCTYPE HTML>
<html>
<head>
<title> 宿舍管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../../css/edit.css"/>
<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />

<script src="../../../../js/jquery-photo-gallery/jquery.photo.gallery.js"></script>

<style type="text/css">
	.dialog-map{height:500px;width:900px;}
	
	.imgitem {
	height: 240px;
	width: 180px;
	border: 1px #ccc solid;
	float: left;
	margin-right: 1px;
	margin-left: 5px;
	margin-top: 5px;
	}
	
.imgs {
	width: 100%;
	height: 100%;
	z-index: -1
}

.eidtdiv {
	margin-left: 100px;
	text-align: center;
	padding-top: 8px;
	position: absolute;
	font-family: '微软雅黑';
	font-size: 12px;
	height: 27px;
	width: 80px;
	filter: alpha(Opacity = 80);
	-moz-opacity: 0.5;
	opacity: 0.5;
	
	background-color: black;
}
.titlemess{
	width:180px;
	height:75px;
	background:red;
	position: absolute;
	margin-top:-78px;
	filter: alpha(Opacity = 90);
	-moz-opacity: 0.9;
	opacity: 0.9;
	background-color: #E6E6E6;
	text-align: center;
	color:#999
}
.eidtdiv a {
	color: #fff;
	cursor: pointer;
}

.eidtdiv a:HOVER {
	color: #3385FF;
}

.imgitem:HOVER {
	border: 1px red solid;
	cursor: pointer;
}
</style>
</head>

<body ng-app="mdu" ng-controller="ctrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">宿舍查看</label>
			</div>
			<img src="../../../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected">宿舍属性</a>
			<a href="#lay2" class="tab">宿舍合同</a>
			<a href="#lay3" class="tab">宿舍开票</a>
			
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
				<tr>
					<th>宿舍名称</th>
					<td colspan="3">
						
						<input type="text" style="width:520px;" name="dormName" class="required readonly"  readonly="readonly" maxlength="16" value="{{projectInfo.dormName}}"/></td>
					
				</tr>
				<tr>
					<th>行政区划</th>
					<td ><input type="text" name="proNo" readonly="readonly" class="required readonly" maxlength="25" value="{{projectInfo.province}}{{projectInfo.city}}{{projectInfo.district}}"/></td>
					
					<th width="100">地理坐标</th>
					<td>
						<input type="hidden" name="x" class="number readonly" readonly="readonly" value="{{projectInfo.x}}"/>
						<input type="hidden" name="y" class="number readonly" readonly="readonly" value="{{projectInfo.y}}"/>
						<input type="text" name="xy" class="number readonly" readonly="readonly" value="{{projectInfo.x}},{{projectInfo.x}}"/>
						<img ng-click="getMap()" src="../../../../img/map.png" style="cursor:pointer;margin-top:5px;margin-left:4px;width:12px;height:17px" />
					</td>
				</tr>
				
				<tr>
					<th>面积</th>
					<td><input type="text" name="area" class="required readonly" readonly="readonly"  value="{{projectInfo.area}}"/></td>
					<th>户型</th>
					<td><input type="text" name="housetype" class="number readonly" readonly="readonly" value="{{projectInfo.housetype}}"/></td>
				</tr>
				<tr>
					<th>首次租用日期</th>
					<td><input type="text" name="frentDate" class="number readonly" readonly="readonly" value="{{projectInfo.frentDate}}"/></td>
					<th>最新起租时间</th>
					<td><input type="text" name="srentDate" class="number readonly" readonly="readonly" value="{{projectInfo.srentDate}}"/></td>
					
				</tr>
				<tr>
					<th>最新到期时间 </th>
					<td><input type="text" name="erentDate" class="readonly" readonly="readonly" value="{{projectInfo.erentDate}}"/></td>
					<th>月租金</th>
					<td><input type="text" name="monthrent" class="number readonly" readonly="readonly" value="{{projectInfo.monthrent}}"/></td>
					
				</tr>
				
			
				
				<tr>
					<th>押金 </th>
					<td><input type="text" name="deposit" class="number readonly" readonly="readonly" value="{{projectInfo.deposit}}"/></td>
					<th>最大入住床位数</th>
					<td><input type="text" name="maxBeds" class="number readonly" readonly="readonly" value="{{projectInfo.maxBeds}}"/></td>
					
				</tr>
				
				<tr>
					<th>人均床位日租金 </th>
					<td><input type="text" name="dayrent" class="number readonly" readonly="readonly" value="{{projectInfo.dayrent}}"/></td>
					
					<th>房东 </th>
					<td><input type="text" name="landlord" value="{{projectInfo.landlord}}" class="readonly" readonly="readonly" /></td>
				</tr>
				<tr>
					<th>中介</th>
					<td><input type="text" name="agency" value="{{projectInfo.agency}}" class="readonly" readonly="readonly" /></td>
					<th>中介费 </th>
					<td><input type="text" name="agencyAmount" value="{{projectInfo.agencyAmount}}" class="readonly" readonly="readonly" /></td>
					
				</tr>
				<tr>
					<th>经办人</th>
					<td><input type="text" name="operator" value="{{projectInfo.operator}}" class="readonly" readonly="readonly" /></td>
					<th>本次合同租期 </th>
					<td><input type="text" name="contractLease" value="{{projectInfo.contractLease}}" class="readonly" readonly="readonly" /></td>
					
				</tr>
				<tr>
					<th>支付方式</th>
					<td><input type="text"  name="paymentMode" id="paymentMode"  class="readonly" readonly="readonly" value="{{projectInfo.paymentMode}}"  /></td>
					
					<th>退租日期</th>
					<td><input type="text"  name="refundDate" id="paymentMode"  class="readonly" readonly="readonly" value="{{projectInfo.refundDate}}"  /></td>
					
				</tr>
				<tr>
					<th>退租说明 </th>
					<td><input type="text" name="refundDesc" value="{{projectInfo.refundDesc}}" class="readonly" readonly="readonly" /></td>
					<th>退租金额</th>
					<td><input type="text" name="monthrent" class="number readonly" readonly="readonly" value="{{projectInfo.refundaMount}}"/></td>
					
				</tr>
				<tr>
					<th>备注</th>
					<td><input type="text" name="remarks" class="number readonly" readonly="readonly" value="{{projectInfo.remarks}}"/></td>
				</tr>
			</table>
			
		</div>
		
		<!-- 宿舍合同 -->
		<div class="form_div" id="lay2" style="height:300px;">
		
			<div class="imgitem gallerys" ng-repeat="item in imgList">
				<div class="eidtdiv">
					<a ng-click="showdiv($index,item.name)">放大</a>
					
				</div>
				<img src="{{item.url}}" id="pic_{{$index}}" onerror="javascript:this.src='../../../../img/defaultImg02.png';" class="imgs gallery-pic" />
				<div class="titlemess">
					<p>{{item.name}}</p>
					
					<p>拍摄时间 : {{item.date}}</p>
				</div>
				
			</div>
		
			
		
			
			
		</div>
		<!-- 宿舍开票 -->
		<div class="form_div" id="lay3" style="height:300px;">
			<div class="imgitem gallerys" ng-repeat="item in imgList1">
				<div class="eidtdiv">
					<a ng-click="showdiv1($index,item.name)">放大</a> 
					
				</div>
				<img src="{{item.url}}" id="pic1_{{$index}}" onerror="javascript:this.src='../../../../img/defaultImg02.png';" class="imgs gallery-pic" />
				<div class="titlemess">
					<p>{{item.name}}</p>
					
					<p>拍摄时间 : {{item.date}}</p>
				</div>
				
			</div>
		
			
		
			
		</div>
		
		

		<div class="form_bottom">
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">


var selectedUnitCode="";
var validator;
var userData;

var ngScope;
var app = angular.module("mdu", []);
app.controller("ctrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	
	$scope.projectInfo={};
	$scope.imgList=[];
	$scope.imgList1=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	var params = getUrlParams();
	
	/* 视图渲染 */
	$(".tabs>a").each(function(){
		var layId = $(this).attr("href");
		var idx = $(".tabs>a").index($(this));
		if(idx!=0){
			$(layId).hide();
			$(layId).attr("data-show", "0");
		}else{
			$(layId).attr("data-show", "1");
		}
		$(this).click(function(){
			$(".tabs>.selected").removeClass("selected");
			$(this).addClass("selected");
			var layId = $(this).attr("href");
			$("div[data-show=1]").hide();
			$("div[data-show=1]").attr("data-show", "0");
			$(layId).show();
			$(layId).attr("data-show", "1");
			
		});
	});
	
	
	$scope.getMap=function(){
		//	$("#main_frame").attr("src", "../sys/resetPwd.html");
		//alert(x+","+y);
		
						var x=$("input[name=x]").val();
						var y=$("input[name=y]").val();
						//alert(x+","+y);
		new ShowDlog().showFrame("../../../component/viewmap.html?x="+x+"&y="+y, "坐标定位", function(){
						//alert($dlog.data.x+","+$dlog.data.y);
						//$("input[name=x]").val($dlog.data.x);
						//$("input[name=y]").val($dlog.data.y);
		},"dialog-map");
		
	};
	
	/* 数据加载 */
	$scope.loadProject=function(dormCode){
		
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/dormMg/dorm/get?dormCode="
			+dormCode+"&ticket="+ticket).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../../login.html";
				return;
			}
			$scope.projectInfo = response.data;
		});
		
		
		//宿舍合同
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/dormMg/dorm/getContract?dormCode="
				+dormCode+"&ticket="+ticket).success(function(response){
				if(response.statusCode==401){
					alert("用户凭据过期！请重新登录！");
					window.top.location.href="../../../login.html";
					return;
				}
				//$scope.imgList = response.list;
				
				for(var i=0;i<response.list.length;i++){
					var st=filePath+"?fileCode="+response.list[i].fileCode+"&attachment=0"
							
				    response.list[i].url=st;
				} 
				
				
				$scope.imgList = response.list;
				
		});
		
		//宿舍开票
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/dormMg/dorm/getBilling?dormCode="
				+dormCode+"&ticket="+ticket).success(function(response){
				if(response.statusCode==401){
					alert("用户凭据过期！请重新登录！");
					window.top.location.href="../../../login.html";
					return;
				}
				
				for(var i=0;i<response.list.length;i++){
					var st=filePath+"?fileCode="+response.list[i].fileCode+"&attachment=0"
							
				    response.list[i].url=st;	
					
				} 
				
				$scope.imgList1 = response.list;
		});
		
		
	};
	/* 初始加载 */
	$scope.loadProject(params.dormCode);
	
	$scope.showdiv=function(index,title){
		//alert(title);
		
		var img1=$("#pic_"+index);
		
		$.openPhotoGallery(img1,"../../../../js/jquery-photo-gallery/gallery.html?picTitle="+title);

	
	};
	$scope.showdiv1=function(index,title){
		//alert(title);
		
		var img1=$("#pic1_"+index);
		
		$.openPhotoGallery(img1,"../../../../js/jquery-photo-gallery/gallery.html?picTitle="+title);

	
	};
	
	/* 取消 */
	$scope.onCancel = function(){
		//location.href="dormMgr.html";
		
		hrefTo({
			url:"dormMgr.html",
			data:getUrlParams()
		});
	};
	
});
</script>
</body>
</html>
