<!DOCTYPE HTML>
<html>
<head>
<title> 项目管理——日常管理——床位管理——床位申请 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/SimpleDateFormat.js"></script>


<script type="text/javascript" src="../../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../../css/edit.css"/>

<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">床位申请</label>
			</div>
			<img src="../../../../img/list_Header2-.png">
		</div>
<!-- 		<div class="tabs"> -->
<!-- 			<a href="#lay1" class="tab selected">项目属性</a> -->
<!-- 			<a href="#lay2" class="tab">市场属性</a> -->
<!-- 		</div> -->
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
				<tr>
					<th>项目名称</th>
					<td width="300">
						<input type="hidden" name="rowid"/>
						<input type="text" name="proName" class="readonly" readonly="readonly" value="{{bedrent.proName}}"/>
					</td>
					<th>员工姓名</th>
					<td width="300">
						<input type="text" name="employeename" class="readonly" readonly="readonly" value="{{bedrent.employeename}}"/>
					</td>
				</tr>
				<tr>
					<th>租用时间</th>
					<td>
						<input type="text" name="rentDate" class="readonly"  readonly="readonly" value="{{bedrent.rentDate}}"/>
					</td>
					<th>预计退租时间</th>
					<td><input type="text" name="estimateReturnDate" class="readonly"  readonly="readonly" value="{{bedrent.estimateReturnDate}}"/></td>
				</tr>
				<tr>
					<th>申请说明</th>
					<td colspan="3">
						<textarea cols="80" rows="4" name="remarks" class="readonly" readonly="readonly">{{bedrent.remarks}}</textarea>
					</td>
				</tr>
			</table>
			
		</div>

		<div class="form_bottom">
			<a href="javascript:" ng-click="onApprove()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;批准
			</a>
			<a href="javascript:" ng-click="onReject()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;驳回
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_back">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;返回
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">

var validator;
var ngScope;
var userData;

var params_rowid="";

var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.bedrent={};
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		location.href=serviceBasePath+"pages/login.html";
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	var urlParams = getUrlParams();
	params_rowid = urlParams.rowid;
	$("input[name=rowid]").val(params_rowid);
	
	/* 加载页面 */
	$scope.loadData=function(rowid){
		$http.get(serviceBasePath+"eap/pmsServices/pm/everydayMgr/bedMgr/get?rowid="+rowid
			+"&ticket="+ticket).success(function(response){
			if(response.statusCode==401){
				new ShowDlog().prompt({
					icon:"warning",
					msg:"用户凭据过期！请重新登录！",
					done:function(){
						window.noLogin(location.href);
					},
					t:2800
				});
				return;
			}
			$scope.bedrent = response.data;
		});
	};
	
	/* 驳回 */
	$scope.onReject = function(){
		new ShowDlog().confirm({
			msg:"确定“驳回”操作吗？",
			ok:function(){
				$http.post(serviceBasePath+"eap/pmsServices/pm/everydayMgr/bedMgr/updateRentStatus?rentStatus=0&flowStatus=3&rowid="+params_rowid
					+"&ticket="+ticket).success(function(response){
					if(response.statusCode==401){
						new ShowDlog().prompt({
							icon:"warning",
							msg:"用户凭据过期！请重新登录！",
							done:function(){
								window.noLogin(location.href);
							},
							t:2800
						});
						return;
					}
					new ShowDlog().prompt({
						icon:"success",
						msg:"已驳回！",
						done:function(){
							//location.href="processMgr.html";
							hrefTo({
								url:"processMgr.html",
								data:urlParams
							});
						},
						t:1500
					});
				});
			},
			cancel:function(){
			
			}
		});
	};
	/* 批准 */
	$scope.onApprove = function(){
		new ShowDlog().confirm({
			msg:"确定“批准”操作吗？",
			ok:function(){
				$http.post(serviceBasePath+"eap/pmsServices/pm/everydayMgr/bedMgr/updateRentStatus?rentStatus=1&flowStatus=2&rowid="+params_rowid
					+"&ticket="+ticket).success(function(response){
					if(response.statusCode==401){
						new ShowDlog().prompt({
							icon:"warning",
							msg:"用户凭据过期！请重新登录！",
							done:function(){
								window.noLogin(location.href);
							},
							t:2800
						});
						return;
					}
					new ShowDlog().prompt({
						icon:"success",
						msg:"已批准！",
						done:function(){
							//location.href="processMgr.html";
							hrefTo({
								url:"processMgr.html",
								data:urlParams
							});
						},
						t:1500
					});
				});
			},
			cancel:function(){
			
			}
		});
	};
	
	/* 取消 */
	$scope.onCancel = function(){
		//history.go(-1);
		hrefTo({
			url:"processMgr.html",
			data:urlParams
		});
	};
	$scope.loadData(params_rowid);
});
</script>
</body>
</html>
