<!DOCTYPE HTML>
<html>
<head>
<title> 人员管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/SimpleDateFormat.js"></script>
<script type="text/javascript" src="../../../../js/ExportExcel.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../css/list.css" />
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/time.js"></script>
<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />
<style type="text/css">
	.warning{background:red;color:#fff;}
	.week{width:50px;}
	.bgcolor{background:yellow}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<input type="text" class="dropDownProjectType" placeholder="请选择项目类别"/>
				<input type="text"  class="dropDownTree dropDownList" placeholder="请选择项目"/>
				<input type="text" id="searchName" name="proName" condition="proName" viewstate="proName" style="width:220px;" placeholder="项目名、项目编号、负责人、地区">
				<input type="text" name="fromDate" class="required dateComponent" onclick="new Calendar().show(this)" placeholder="请选择开始日期" />
				<input type="text" name="toDate" class="required dateComponent" onclick="new Calendar().show(this)" placeholder="请选择结束日期" />
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
				<div class="query_div" ng-click="doExport()">
					导出
				</div>
				
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			<img src="../../../../img/list_Header2-.png">
			
		</div>
		
		<div class="table_div" >
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">项目负责人</div></th>
				<th><div align="center">项目</div></th>
				<th ng-repeat="item in dailyList"><div align="center">{{item.date}}</div></th>
				
				<th width="12%"><div align="center">统计</div></th>			
			  </tr>
			  <tr class="tr2" ng-repeat="item1 in dataList">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item1.proManager}}</div></td>
				<td><div align="center">{{item1.proName}}</div></td>
				<td ng-repeat="con in dailyList">
					<div align="center" ng-if="item1[con.cond]==0" style="background:#f5c1c1">未填报</div>
					<div align="center" ng-if="item1[con.cond]==1" style="background:#d6f5c2">已填报</div>
				</td>
				<td>
					<div class="progress progress-striped" style="margin-bottom:0">
					    <div class="progress-bar progress-bar-info" role="progressbar"
					         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
					         style="width: {{(item1.num/item1.totalNum)*100}}%">
					        <span style="color:#000">{{item1.num}}</span>
					    </div>
					</div>
				</td>
			  </tr>
			 
			</table>
		</div>
		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">
function createPageBar(totalPage, curPage,totalRecord){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		curPage:curPage,
		totalRecord: totalRecord,
		showPageInfo:true,
		prevPageText:"上一页",
		nextPageText:"下一页",
		onPage:function(pageNum){
			_currentPage=pageNum;
			//$("#currPage").html(pageNum);
			//ngScope.loadDailyList(proNo,docClass,docTypelibCode,pageNum);
				ngScope.loadDailyList(proNo,docClass,docTypelibCode,fromDate,toDate,pageNum,searchName);
		}
	});
}
var cond_categoryCode="";
var cond_categoryName="";

var proNo="";//项目
var proName="";
var fromDate="";
var toDate="";
var searchName ="";
var _currentPage=1;
var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.isDelete=0;
	$scope.dailyList=[];
	$scope.dataList=[];
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	fromDate=getWeekStartDate();
	$("input[name=fromDate]").val(fromDate);
	toDate=getWeekEndDate();
	$("input[name=toDate]").val(toDate);
	
	ticket = $.cookie("pmsWeb_ticket");
	/* 项目类型 */
	new DropDownList().init({
		renderTo:".dropDownProjectType",
		url:"../../../component/projectType.html?required=false&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$(".dropDownProjectType").val(result.categoryName);
			cond_categoryCode = result.categoryCode;
			cond_categoryName =result.categoryName ;
			/* 联动 */
			projectList.setConfig("url", "../../../component/projectList.html?categoryCode="+cond_categoryCode+"&required=false&ticket="+ticket);
		}
	});
	/* 项目列表 */
	var projectList = new DropDownList();
	projectList.init({
		renderTo:".dropDownTree",
		url:"../../../component/projectList.html?categoryCode="+cond_categoryCode+"&required=false&ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$(".dropDownTree").val(result.proName);
			proNo=result.proNo;
			proName=result.proName;
			$scope.loadDailyList(proNo,docClass,docTypelibCode,fromDate,toDate,1,searchName);
		}
	});
	
	
	

	
	$scope.loadDailyList=function(fromDate,toDate,proNo,searchName){		
		$http.get(serviceBasePath+"eap/pmsServices/dailylog/isWriteList?fromDate="+fromDate+"&toDate="+toDate+"&proNo="+proNo+"&searchName="+searchName).success(function(response){
			
			
			if(response.statusCode!=200){
				alert("请求服务器失败！");
				return;
			}
			
			$scope.dailyList=response.data.dateList;
			$scope.dataList=response.data.resultlist;
		});
	};
	$scope.loadDailyList(fromDate,toDate,proNo,searchName);
	$scope.doQuery=function(){
		fromDate=$("input[name=fromDate]").val();
		toDate=$("input[name=toDate]").val();
		 searchName = $("input[id=searchName]").val();
		var startTime =  new Date(fromDate).getTime();
		var endTime=  new Date(toDate).getTime();
		if(startTime>endTime){
			new ShowDlog().prompt({msg:"结束时间不能小于开始时间",
				done:function(){
					
				},
				t:1500
			});
			return false;
		 }
		var result=parseInt(Math.abs(startTime - endTime ) / 1000 / 60 / 60 /24);
		if(result>30){
			new ShowDlog().prompt({msg:"时间段不能超过30天！",
				done:function(){
					
				},
				t:1500
			});

			return false;
		}
		
		$scope.loadDailyList(fromDate,toDate,proNo,searchName);
	};
	
	/* 导出 */
	$scope.doExport=function(){
		//alert(1)
		excelExport("dataTable");
	};
	
});

  
 
/*  $("td div").each(function(){
	if($(this).text() =="未填报"){
		$(this).parents("td").css("background","#f5c1c1")
	}
	if($(this).text() =="已填报"){
		$(this).parents("td").css("background","#d6f5c2")
	}
})  */
</script>
</body>
</html>
