.suggestDiv
{
	width:350px;
	border: 1px solid #ababab;
	z-index: 1000;
	position: absolute;
	background-color:#fff;
	font-size:12px;
	font-family:"微软雅黑";
	display: none;
}

.suggestDiv ul
{
	line-height: 30px;
	list-style-type: none;
	width: 350px;
	margin: 0;
	padding: 0;
}

.suggestDiv ul li
{
	width: 350px;
	margin: 0 auto;
	text-indent: 2em;
}