<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.cj.base.dao.CjBdsMapper" >
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.cj.base.vo.CjBds" >
    <id column="COLLECT_ID" property="collectId" jdbcType="VARCHAR" />
    <result column="COLLECTOR_CODE" property="collectorCode" jdbcType="VARCHAR" />
    <result column="AMNAME" property="amname" jdbcType="VARCHAR" />
    <result column="MODEL" property="model" jdbcType="VARCHAR" />
    <result column="ZBRL" property="zbrl" jdbcType="DECIMAL" />
    <result column="ZBNUM" property="zbnum" jdbcType="INTEGER" />
    <result column="JD" property="jd" jdbcType="DECIMAL" />
    <result column="WD" property="wd" jdbcType="DECIMAL" />
    <result column="SYS_CREATE_TIME" property="sysCreateTime" jdbcType="TIMESTAMP" />
    <result column="SYS_UPDATE_TIME" property="sysUpdateTime" jdbcType="TIMESTAMP" />
    <result column="SYS_DELETE_TIME" property="sysDeleteTime" jdbcType="TIMESTAMP" />
    <result column="SYS_PROCESS_FLAG" property="sysProcessFlag" jdbcType="CHAR" />
    <result column="SYNC_STATE" property="syncState" jdbcType="INTEGER" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="BDZ_COLLECT_ID" property="bdzCollectId" jdbcType="VARCHAR" />
    <result column="BDZAMNAME" property="bdzAmname" jdbcType="VARCHAR" />
    <result column="XL_COLLECT_ID" property="xlCollectId" jdbcType="VARCHAR" />
    <result column="XLAMNAME" property="xlAmname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    COLLECT_ID, COLLECTOR_CODE, AMNAME, MODEL, ZBRL, ZBNUM, JD, WD, SYS_CREATE_TIME, 
    SYS_UPDATE_TIME, SYS_DELETE_TIME, SYS_PROCESS_FLAG, SYNC_STATE
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  bds.COLLECT_ID,
	  bds.COLLECTOR_CODE,
	  bds.AMNAME,
	  bds.MODEL,
	  bds.ZBRL,
	  bds.ZBNUM,
	  bds.JD,
	  bds.WD
	FROM
	  t_cj_bds bds
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 7)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 7)) xld
	    ON bds.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
    where bds.COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </select>
  
  <select id="queryForList" resultMap="BaseResultMap" parameterType="map" >
    SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  bds.COLLECT_ID,
	  bds.COLLECTOR_CODE,
	  bds.AMNAME,
	  bds.MODEL,
	  bds.ZBRL,
	  bds.ZBNUM,
	  bds.JD,
	  bds.WD
	FROM
	  t_cj_bds bds
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 7)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 7)) xld
	    ON bds.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	<where>
		<if test="city != null and  city !='' ">
			line.CITY LIKE concat('%',#{city},'%')
		</if>
		<if test="amname != null and  amname !='' ">
			AND bds.AMNAME LIKE concat('%',#{amname},'%')
		</if>
		<if test="bdzCollectId != null and  bdzCollectId !=''">
			AND BDZ_COLLECT_ID=#{bdzCollectId}
		</if>
		<if test="bdzAmname != null and  bdzAmname !='' ">
			AND bdz.AMNAME LIKE concat('%',#{bdzAmname},'%')
		</if>
		<if test="xlCollectId != null and  xlCollectId !=''">
			AND line.COLLECT_ID=#{xlCollectId}
		</if>
		<if test="xlAmname != null and  xlAmname !='' ">
			AND line.AMNAME LIKE concat('%',#{xlAmname},'%')
		</if>
	</where>
	ORDER BY line.CITY,BDZAMNAME,XLAMNAME,bds.AMNAME
  </select>
  
  <select id="queryForPage" parameterType="map" resultMap="BaseResultMap">
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  bds.COLLECT_ID,
	  bds.COLLECTOR_CODE,
	  bds.AMNAME,
	  bds.MODEL,
	  bds.ZBRL,
	  bds.ZBNUM,
	  bds.JD,
	  bds.WD
	FROM
	  t_cj_bds bds
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 7)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 7)) xld
	    ON bds.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	<where>
		<if test="city != null and  city !='' ">
			line.CITY LIKE concat('%',#{city},'%')
		</if>
		<if test="amname != null and  amname !='' ">
			AND bds.AMNAME LIKE concat('%',#{amname},'%')
		</if>
		<if test="bdzCollectId != null and  bdzCollectId !=''">
			AND BDZ_COLLECT_ID=#{bdzCollectId}
		</if>
		<if test="bdzAmname != null and  bdzAmname !='' ">
			AND bdz.AMNAME LIKE concat('%',#{bdzAmname},'%')
		</if>
		<if test="xlCollectId != null and  xlCollectId !=''">
			AND line.COLLECT_ID=#{xlCollectId}
		</if>
		<if test="xlAmname != null and  xlAmname !='' ">
			AND line.AMNAME LIKE concat('%',#{xlAmname},'%')
		</if>
	</where>
	ORDER BY line.CITY,BDZAMNAME,XLAMNAME,bds.AMNAME
  	limit #{firstResult},#{maxResult}
  </select>
  <select id="queryForCount" parameterType="map" resultType="int">
  	SELECT
	  count(*)
	FROM
	  t_cj_bds bds
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 7)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 7)) xld
	    ON bds.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	<where>
		<if test="city != null and  city !='' ">
			line.CITY LIKE concat('%',#{city},'%')
		</if>
		<if test="amname != null and  amname !='' ">
			AND bds.AMNAME LIKE concat('%',#{amname},'%')
		</if>
		<if test="bdzCollectId != null and  bdzCollectId !=''">
			AND BDZ_COLLECT_ID=#{bdzCollectId}
		</if>
		<if test="bdzAmname != null and  bdzAmname !='' ">
			AND bdz.AMNAME LIKE concat('%',#{bdzAmname},'%')
		</if>
		<if test="xlCollectId != null and  xlCollectId !=''">
			AND line.COLLECT_ID=#{xlCollectId}
		</if>
		<if test="xlAmname != null and  xlAmname !='' ">
			AND line.AMNAME LIKE concat('%',#{xlAmname},'%')
		</if>
	</where>
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_cj_bds
    where COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.glens.pwCloudOs.cj.base.vo.CjBds" >
    insert into t_cj_bds (COLLECT_ID, COLLECTOR_CODE, AMNAME, 
      MODEL, ZBRL, ZBNUM, 
      JD, WD, SYS_CREATE_TIME, 
      SYS_UPDATE_TIME, SYS_DELETE_TIME, SYS_PROCESS_FLAG, 
      SYNC_STATE)
    values (#{collectId,jdbcType=VARCHAR}, #{collectorCode,jdbcType=VARCHAR}, #{amname,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{zbrl,jdbcType=DECIMAL}, #{zbnum,jdbcType=INTEGER}, 
      #{jd,jdbcType=DECIMAL}, #{wd,jdbcType=DECIMAL}, #{sysCreateTime,jdbcType=TIMESTAMP}, 
      #{sysUpdateTime,jdbcType=TIMESTAMP}, #{sysDeleteTime,jdbcType=TIMESTAMP}, #{sysProcessFlag,jdbcType=CHAR}, 
      #{syncState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.glens.pwCloudOs.cj.base.vo.CjBds" >
    insert into t_cj_bds
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectId != null" >
        COLLECT_ID,
      </if>
      <if test="collectorCode != null" >
        COLLECTOR_CODE,
      </if>
      <if test="amname != null" >
        AMNAME,
      </if>
      <if test="model != null" >
        MODEL,
      </if>
      <if test="zbrl != null" >
        ZBRL,
      </if>
      <if test="zbnum != null" >
        ZBNUM,
      </if>
      <if test="jd != null" >
        JD,
      </if>
      <if test="wd != null" >
        WD,
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME,
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG,
      </if>
      <if test="syncState != null" >
        SYNC_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectId != null" >
        #{collectId,jdbcType=VARCHAR},
      </if>
      <if test="collectorCode != null" >
        #{collectorCode,jdbcType=VARCHAR},
      </if>
      <if test="amname != null" >
        #{amname,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="zbrl != null" >
        #{zbrl,jdbcType=DECIMAL},
      </if>
      <if test="zbnum != null" >
        #{zbnum,jdbcType=INTEGER},
      </if>
      <if test="jd != null" >
        #{jd,jdbcType=DECIMAL},
      </if>
      <if test="wd != null" >
        #{wd,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null" >
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null" >
        #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null" >
        #{sysProcessFlag,jdbcType=CHAR},
      </if>
      <if test="syncState != null" >
        #{syncState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.glens.pwCloudOs.cj.base.vo.CjBds" >
    update t_cj_bds
    <set >
      <if test="collectorCode != null" >
        COLLECTOR_CODE = #{collectorCode,jdbcType=VARCHAR},
      </if>
      <if test="amname != null" >
        AMNAME = #{amname,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        MODEL = #{model,jdbcType=VARCHAR},
      </if>
      <if test="zbrl != null" >
        ZBRL = #{zbrl,jdbcType=DECIMAL},
      </if>
      <if test="zbnum != null" >
        ZBNUM = #{zbnum,jdbcType=INTEGER},
      </if>
      <if test="jd != null" >
        JD = #{jd,jdbcType=DECIMAL},
      </if>
      <if test="wd != null" >
        WD = #{wd,jdbcType=DECIMAL},
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
      </if>
      <if test="syncState != null" >
        SYNC_STATE = #{syncState,jdbcType=INTEGER},
      </if>
    </set>
    where COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glens.pwCloudOs.cj.base.vo.CjBds" >
    update t_cj_bds
    set COLLECTOR_CODE = #{collectorCode,jdbcType=VARCHAR},
      AMNAME = #{amname,jdbcType=VARCHAR},
      MODEL = #{model,jdbcType=VARCHAR},
      ZBRL = #{zbrl,jdbcType=DECIMAL},
      ZBNUM = #{zbnum,jdbcType=INTEGER},
      JD = #{jd,jdbcType=DECIMAL},
      WD = #{wd,jdbcType=DECIMAL},
      SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
      SYNC_STATE = #{syncState,jdbcType=INTEGER}
    where COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </update>
</mapper>