<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glens.pwCloudOs.cj.base.dao.CjBdzLineDeviceMapper">
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.cj.base.vo.CjBdzLineDevice" >
    <id column="CITY" property="collectId" jdbcType="VARCHAR" />
    <result column="BDZ_COLLECT_ID" property="bdzCollectId" jdbcType="VARCHAR" />
    <result column="BDZAMNAME" property="bdzAmname" jdbcType="VARCHAR" />
    <result column="XL_COLLECT_ID" property="xlCollectId" jdbcType="VARCHAR" />
    <result column="XLAMNAME" property="xlAmname" jdbcType="VARCHAR" />
    <result column="COLLECT_ID" property="collectId" jdbcType="VARCHAR" />
    <result column="AMNAME" property="amname" jdbcType="VARCHAR" />
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="VARCHAR" />
    <result column="JD" property="jd" jdbcType="DECIMAL" />
    <result column="WD" property="wd" jdbcType="DECIMAL" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="TYPE_NUMBER" property="typeNumber" jdbcType="INTEGER" />
  </resultMap>
  <select id="[queryCjDeviceByCollectIdAndTypeNumber]" resultMap="BaseResultMap" parameterType="map" >
	SELECT * FROM 
	(
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  xlgh.GT_COLLECT_ID AS COLLECT_ID,
	  xlgh.GH AS AMNAME,
	  pole.POLE_TYPE AS DEVICE_TYPE,
	  pole.JD,
	  pole.WD,
	  'POLE' AS TYPE,
	  2 AS TYPE_NUMBER
	FROM
	  t_cj_xlgh xlgh
	  INNER JOIN t_cj_pole pole
	    ON xlgh.GT_COLLECT_ID = pole.COLLECT_ID
	  INNER JOIN t_cj_line line
	    ON xlgh.XL_COLLECT_ID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  byq.COLLECT_ID AS COLLECT_ID,
	  byq.AMNAME,
	  byq.TYPE AS DEVICE_TYPE,
	  byq.JD,
	  byq.WD,
	  'BYQ' AS TYPE,
	  9 AS TYPE_NUMBER
	FROM
	  t_cj_byq byq
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 9)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 9)) xld
	    ON byq.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  fzx.COLLECT_ID AS COLLECT_ID,
	  fzx.AMNAME,
	  fzx.XB_TYPE AS DEVICE_TYPE,
	  fzx.JD,
	  fzx.WD,
	  'FZX' AS TYPE,
	  18 AS TYPE_NUMBER
	FROM
	  t_cj_fzx fzx
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 18)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 18)) xld
	    ON fzx.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  hwg.COLLECT_ID AS COLLECT_ID,
	  hwg.AMNAME,
	  hwg.XB_TYPE AS DEVICE_TYPE,
	  hwg.JD,
	  hwg.WD,
	  'HWG' AS TYPE,
	  10 AS TYPE_NUMBER
	FROM
	  t_cj_hwg hwg
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 10)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 10)) xld
	    ON hwg.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  kg.COLLECT_ID AS COLLECT_ID,
	  kg.AMNAME,
	  kg.KGLX AS DEVICE_TYPE,
	  kg.JD,
	  kg.WD,
	  'KG' AS TYPE,
	  14 AS TYPE_NUMBER
	FROM
	  t_cj_kg kg
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 14)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 14)) xld
	    ON kg.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  bds.COLLECT_ID AS COLLECT_ID,
	  bds.AMNAME,
	  bds.MODEL AS DEVICE_TYPE,
	  bds.JD,
	  bds.WD,
	  'BDS' AS TYPE,
	  7 AS TYPE_NUMBER
	FROM
	  t_cj_bds bds
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 7)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 7)) xld
	    ON bds.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  pds.COLLECT_ID AS COLLECT_ID,
	  pds.AMNAME,
	  pds.XB_TYPE AS DEVICE_TYPE,
	  pds.JD,
	  pds.WD,
	  'PDS' AS TYPE,
	  11 AS TYPE_NUMBER
	FROM
	  t_cj_pds pds
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 11)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 11)) xld
	    ON pds.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  zb.COLLECT_ID AS COLLECT_ID,
	  zb.AMNAME,
	  '' AS DEVICE_TYPE,
	  zb.JD,
	  zb.WD,
	  'ZB' AS TYPE,
	  21 AS TYPE_NUMBER
	FROM
	  t_cj_zb zb
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 21)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 21)) xld
	    ON zb.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  xsb.COLLECT_ID AS COLLECT_ID,
	  xsb.AMNAME,
	  xsb.MODEL AS DEVICE_TYPE,
	  xsb.JD,
	  xsb.WD,
	  'XSB' AS TYPE,
	  8 AS TYPE_NUMBER
	FROM
	  t_cj_xsb xsb
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 8)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 8)) xld
	    ON xsb.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	) t
	<where>
		<if test="collectId != null and  collectId !='' ">
			COLLECT_ID =#{collectId}
		</if>
		<if test="typeNumber != null and  typeNumber !=''">
			AND TYPE_NUMBER=#{typeNumber}
		</if>
	</where>
  </select>
  <select id="queryForList" resultMap="BaseResultMap" parameterType="map" >
    SELECT * FROM 
	(
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  xlgh.GT_COLLECT_ID AS COLLECT_ID,
	  xlgh.GH AS AMNAME,
	  pole.POLE_TYPE AS DEVICE_TYPE,
	  pole.JD,
	  pole.WD,
	  'POLE' AS TYPE,
	  2 AS TYPE_NUMBER
	FROM
	  t_cj_xlgh xlgh
	  INNER JOIN t_cj_pole pole
	    ON xlgh.GT_COLLECT_ID = pole.COLLECT_ID
	  INNER JOIN t_cj_line line
	    ON xlgh.XL_COLLECT_ID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  byq.COLLECT_ID AS COLLECT_ID,
	  byq.AMNAME,
	  byq.TYPE AS DEVICE_TYPE,
	  byq.JD,
	  byq.WD,
	  'BYQ' AS TYPE,
	  9 AS TYPE_NUMBER
	FROM
	  t_cj_byq byq
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 9)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 9)) xld
	    ON byq.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  fzx.COLLECT_ID AS COLLECT_ID,
	  fzx.AMNAME,
	  fzx.XB_TYPE AS DEVICE_TYPE,
	  fzx.JD,
	  fzx.WD,
	  'FZX' AS TYPE,
	  18 AS TYPE_NUMBER
	FROM
	  t_cj_fzx fzx
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 18)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 18)) xld
	    ON fzx.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  hwg.COLLECT_ID AS COLLECT_ID,
	  hwg.AMNAME,
	  hwg.XB_TYPE AS DEVICE_TYPE,
	  hwg.JD,
	  hwg.WD,
	  'HWG' AS TYPE,
	  10 AS TYPE_NUMBER
	FROM
	  t_cj_hwg hwg
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 10)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 10)) xld
	    ON hwg.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  kg.COLLECT_ID AS COLLECT_ID,
	  kg.AMNAME,
	  kg.KGLX AS DEVICE_TYPE,
	  kg.JD,
	  kg.WD,
	  'KG' AS TYPE,
	  14 AS TYPE_NUMBER
	FROM
	  t_cj_kg kg
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 14)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 14)) xld
	    ON kg.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  bds.COLLECT_ID AS COLLECT_ID,
	  bds.AMNAME,
	  bds.MODEL AS DEVICE_TYPE,
	  bds.JD,
	  bds.WD,
	  'BDS' AS TYPE,
	  7 AS TYPE_NUMBER
	FROM
	  t_cj_bds bds
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 7)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 7)) xld
	    ON bds.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  pds.COLLECT_ID AS COLLECT_ID,
	  pds.AMNAME,
	  pds.XB_TYPE AS DEVICE_TYPE,
	  pds.JD,
	  pds.WD,
	  'PDS' AS TYPE,
	  11 AS TYPE_NUMBER
	FROM
	  t_cj_pds pds
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 11)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 11)) xld
	    ON pds.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  zb.COLLECT_ID AS COLLECT_ID,
	  zb.AMNAME,
	  '' AS DEVICE_TYPE,
	  zb.JD,
	  zb.WD,
	  'ZB' AS TYPE,
	  21 AS TYPE_NUMBER
	FROM
	  t_cj_zb zb
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 21)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 21)) xld
	    ON zb.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  xsb.COLLECT_ID AS COLLECT_ID,
	  xsb.AMNAME,
	  xsb.MODEL AS DEVICE_TYPE,
	  xsb.JD,
	  xsb.WD,
	  'XSB' AS TYPE,
	  8 AS TYPE_NUMBER
	FROM
	  t_cj_xsb xsb
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 8)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 8)) xld
	    ON xsb.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	) t
	<where>
		<if test="city != null and  city !='' ">
			CITY =#{city}
		</if>
		<if test="bdzCollectId != null and  bdzCollectId !=''">
			AND BDZ_COLLECT_ID=#{bdzCollectId}
		</if>
		<if test="bdzAmname != null and  bdzAmname !='' ">
			AND BDZAMNAME LIKE concat('%',#{bdzAmname},'%')
		</if>
		<if test="xlCollectId != null and  xlCollectId !=''">
			AND XL_COLLECT_ID=#{xlCollectId}
		</if>
		<if test="xlAmname != null and xlAmname !='' ">
			AND XLAMNAME LIKE concat('%',#{xlAmname},'%')
		</if>
		<if test="type != null and  type !=''">
			AND TYPE=#{type}
		</if>
		<if test="typeNumber != null and  typeNumber !=''">
			AND TYPE_NUMBER=#{typeNumber}
		</if>
	</where>
	ORDER BY CITY,BDZAMNAME,XLAMNAME,TYPE
  </select>
  
  <select id="queryForPage" parameterType="map" resultMap="BaseResultMap">
	SELECT * FROM 
	(
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  xlgh.GT_COLLECT_ID AS COLLECT_ID,
	  xlgh.GH AS AMNAME,
	  pole.POLE_TYPE AS DEVICE_TYPE,
	  pole.JD,
	  pole.WD,
	  'POLE' AS TYPE,
	  2 AS TYPE_NUMBER
	FROM
	  t_cj_xlgh xlgh
	  INNER JOIN t_cj_pole pole
	    ON xlgh.GT_COLLECT_ID = pole.COLLECT_ID
	  INNER JOIN t_cj_line line
	    ON xlgh.XL_COLLECT_ID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  byq.COLLECT_ID AS COLLECT_ID,
	  byq.AMNAME,
	  byq.TYPE AS DEVICE_TYPE,
	  byq.JD,
	  byq.WD,
	  'BYQ' AS TYPE,
	  9 AS TYPE_NUMBER
	FROM
	  t_cj_byq byq
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 9)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 9)) xld
	    ON byq.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  fzx.COLLECT_ID AS COLLECT_ID,
	  fzx.AMNAME,
	  fzx.XB_TYPE AS DEVICE_TYPE,
	  fzx.JD,
	  fzx.WD,
	  'FZX' AS TYPE,
	  18 AS TYPE_NUMBER
	FROM
	  t_cj_fzx fzx
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 18)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 18)) xld
	    ON fzx.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  hwg.COLLECT_ID AS COLLECT_ID,
	  hwg.AMNAME,
	  hwg.XB_TYPE AS DEVICE_TYPE,
	  hwg.JD,
	  hwg.WD,
	  'HWG' AS TYPE,
	  10 AS TYPE_NUMBER
	FROM
	  t_cj_hwg hwg
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 10)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 10)) xld
	    ON hwg.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  kg.COLLECT_ID AS COLLECT_ID,
	  kg.AMNAME,
	  kg.KGLX AS DEVICE_TYPE,
	  kg.JD,
	  kg.WD,
	  'KG' AS TYPE,
	  14 AS TYPE_NUMBER
	FROM
	  t_cj_kg kg
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 14)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 14)) xld
	    ON kg.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  bds.COLLECT_ID AS COLLECT_ID,
	  bds.AMNAME,
	  bds.MODEL AS DEVICE_TYPE,
	  bds.JD,
	  bds.WD,
	  'BDS' AS TYPE,
	  7 AS TYPE_NUMBER
	FROM
	  t_cj_bds bds
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 7)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 7)) xld
	    ON bds.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  pds.COLLECT_ID AS COLLECT_ID,
	  pds.AMNAME,
	  pds.XB_TYPE AS DEVICE_TYPE,
	  pds.JD,
	  pds.WD,
	  'PDS' AS TYPE,
	  11 AS TYPE_NUMBER
	FROM
	  t_cj_pds pds
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 11)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 11)) xld
	    ON pds.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  zb.COLLECT_ID AS COLLECT_ID,
	  zb.AMNAME,
	  '' AS DEVICE_TYPE,
	  zb.JD,
	  zb.WD,
	  'ZB' AS TYPE,
	  21 AS TYPE_NUMBER
	FROM
	  t_cj_zb zb
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 21)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 21)) xld
	    ON zb.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  xsb.COLLECT_ID AS COLLECT_ID,
	  xsb.AMNAME,
	  xsb.MODEL AS DEVICE_TYPE,
	  xsb.JD,
	  xsb.WD,
	  'XSB' AS TYPE,
	  8 AS TYPE_NUMBER
	FROM
	  t_cj_xsb xsb
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 8)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 8)) xld
	    ON xsb.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	) t
	<where>
		<if test="city != null and  city !='' ">
			CITY =#{city}
		</if>
		<if test="bdzCollectId != null and  bdzCollectId !=''">
			AND BDZ_COLLECT_ID=#{bdzCollectId}
		</if>
		<if test="bdzAmname != null and  bdzAmname !='' ">
			AND BDZAMNAME LIKE concat('%',#{bdzAmname},'%')
		</if>
		<if test="xlCollectId != null and  xlCollectId !=''">
			AND XL_COLLECT_ID=#{xlCollectId}
		</if>
		<if test="xlAmname != null and xlAmname !='' ">
			AND XLAMNAME LIKE concat('%',#{xlAmname},'%')
		</if>
		<if test="type != null and  type !=''">
			AND TYPE=#{type}
		</if>
		<if test="typeNumber != null and  typeNumber !=''">
			AND TYPE_NUMBER=#{typeNumber}
		</if>
	</where>
	ORDER BY CITY,BDZAMNAME,XLAMNAME,TYPE
  	limit #{firstResult},#{maxResult}
  </select>
  
  <select id="queryForCount" parameterType="map" resultType="int">
  	SELECT COUNT(*) FROM 
	(
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  xlgh.GT_COLLECT_ID AS COLLECT_ID,
	  xlgh.GH AS AMNAME,
	  pole.POLE_TYPE AS DEVICE_TYPE,
	  pole.JD,
	  pole.WD,
	  'POLE' AS TYPE,
	  2 AS TYPE_NUMBER
	FROM
	  t_cj_xlgh xlgh
	  INNER JOIN t_cj_pole pole
	    ON xlgh.GT_COLLECT_ID = pole.COLLECT_ID
	  INNER JOIN t_cj_line line
	    ON xlgh.XL_COLLECT_ID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  byq.COLLECT_ID AS COLLECT_ID,
	  byq.AMNAME,
	  byq.TYPE AS DEVICE_TYPE,
	  byq.JD,
	  byq.WD,
	  'BYQ' AS TYPE,
	  9 AS TYPE_NUMBER
	FROM
	  t_cj_byq byq
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 9)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 9)) xld
	    ON byq.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  fzx.COLLECT_ID AS COLLECT_ID,
	  fzx.AMNAME,
	  fzx.XB_TYPE AS DEVICE_TYPE,
	  fzx.JD,
	  fzx.WD,
	  'FZX' AS TYPE,
	  18 AS TYPE_NUMBER
	FROM
	  t_cj_fzx fzx
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 18)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 18)) xld
	    ON fzx.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  hwg.COLLECT_ID AS COLLECT_ID,
	  hwg.AMNAME,
	  hwg.XB_TYPE AS DEVICE_TYPE,
	  hwg.JD,
	  hwg.WD,
	  'HWG' AS TYPE,
	  10 AS TYPE_NUMBER
	FROM
	  t_cj_hwg hwg
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 10)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 10)) xld
	    ON hwg.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  kg.COLLECT_ID AS COLLECT_ID,
	  kg.AMNAME,
	  kg.KGLX AS DEVICE_TYPE,
	  kg.JD,
	  kg.WD,
	  'KG' AS TYPE,
	  14 AS TYPE_NUMBER
	FROM
	  t_cj_kg kg
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 14)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 14)) xld
	    ON kg.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  bds.COLLECT_ID AS COLLECT_ID,
	  bds.AMNAME,
	  bds.MODEL AS DEVICE_TYPE,
	  bds.JD,
	  bds.WD,
	  'BDS' AS TYPE,
	  7 AS TYPE_NUMBER
	FROM
	  t_cj_bds bds
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 7)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 7)) xld
	    ON bds.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  pds.COLLECT_ID AS COLLECT_ID,
	  pds.AMNAME,
	  pds.XB_TYPE AS DEVICE_TYPE,
	  pds.JD,
	  pds.WD,
	  'PDS' AS TYPE,
	  11 AS TYPE_NUMBER
	FROM
	  t_cj_pds pds
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 11)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 11)) xld
	    ON pds.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  zb.COLLECT_ID AS COLLECT_ID,
	  zb.AMNAME,
	  '' AS DEVICE_TYPE,
	  zb.JD,
	  zb.WD,
	  'ZB' AS TYPE,
	  21 AS TYPE_NUMBER
	FROM
	  t_cj_zb zb
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 21)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 21)) xld
	    ON zb.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	UNION
	ALL
	SELECT
	  line.CITY,
	  line.BDZ_COLLECT_ID,
	  bdz.AMNAME AS BDZAMNAME,
	  line.COLLECT_ID AS XL_COLLECT_ID,
	  line.AMNAME AS XLAMNAME,
	  xsb.COLLECT_ID AS COLLECT_ID,
	  xsb.AMNAME,
	  xsb.MODEL AS DEVICE_TYPE,
	  xsb.JD,
	  xsb.WD,
	  'XSB' AS TYPE,
	  8 AS TYPE_NUMBER
	FROM
	  t_cj_xsb xsb
	  INNER JOIN
	    (SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      FROM_ID AS id,
	      FROM_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (FROM_TYPE = 8)
	    UNION
	    SELECT
	      XL_COLLECT_ID AS XLINTERID,
	      TO_ID AS id,
	      TO_TYPE AS TYPE
	    FROM
	      t_cj_xld
	    WHERE (TO_TYPE = 8)) xld
	    ON xsb.COLLECT_ID = xld.id
	  INNER JOIN t_cj_line line
	    ON xld.XLINTERID = line.COLLECT_ID
	  INNER JOIN t_cj_bdz bdz
	    ON line.BDZ_COLLECT_ID = bdz.COLLECT_ID
	) t
	<where>
		<if test="city != null and  city !='' ">
			CITY =#{city}
		</if>
		<if test="bdzCollectId != null and  bdzCollectId !=''">
			AND BDZ_COLLECT_ID=#{bdzCollectId}
		</if>
		<if test="bdzAmname != null and  bdzAmname !='' ">
			AND BDZAMNAME LIKE concat('%',#{bdzAmname},'%')
		</if>
		<if test="xlCollectId != null and  xlCollectId !=''">
			AND XL_COLLECT_ID=#{xlCollectId}
		</if>
		<if test="xlAmname != null and xlAmname !='' ">
			AND XLAMNAME LIKE concat('%',#{xlAmname},'%')
		</if>
		<if test="type != null and  type !=''">
			AND TYPE=#{type}
		</if>
		<if test="typeNumber != null and  typeNumber !=''">
			AND TYPE_NUMBER=#{typeNumber}
		</if>
	</where>
  </select>
</mapper>