<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.cj.base.dao.CjXldMapper" >
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.cj.base.vo.CjXld" >
    <id column="COLLECT_ID" property="collectId" jdbcType="VARCHAR" />
    <result column="COLLECTOR_CODE" property="collectorCode" jdbcType="VARCHAR" />
    <result column="DJ" property="dj" jdbcType="DECIMAL" />
    <result column="AMNAME" property="amname" jdbcType="VARCHAR" />
    <result column="DXLX" property="dxlx" jdbcType="VARCHAR" />
    <result column="XL_COLLECT_ID" property="xlCollectId" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="FROM_ID" property="fromId" jdbcType="VARCHAR" />
    <result column="FROM_TYPE" property="fromType" jdbcType="INTEGER" />
    <result column="TO_ID" property="toId" jdbcType="VARCHAR" />
    <result column="TO_TYPE" property="toType" jdbcType="INTEGER" />
    <result column="SYS_CREATE_TIME" property="sysCreateTime" jdbcType="TIMESTAMP" />
    <result column="SYS_UPDATE_TIME" property="sysUpdateTime" jdbcType="TIMESTAMP" />
    <result column="SYS_DELETE_TIME" property="sysDeleteTime" jdbcType="TIMESTAMP" />
    <result column="SYS_PROCESS_FLAG" property="sysProcessFlag" jdbcType="CHAR" />
    <result column="SYNC_STATE" property="syncState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    COLLECT_ID, COLLECTOR_CODE, DJ, AMNAME, DXLX, XL_COLLECT_ID, TYPE, FROM_ID, FROM_TYPE, 
    TO_ID, TO_TYPE, SYS_CREATE_TIME, SYS_UPDATE_TIME, SYS_DELETE_TIME, SYS_PROCESS_FLAG, 
    SYNC_STATE
  </sql>
  <select id="queryForList" resultMap="BaseResultMap" parameterType="map" >
    SELECT
		*
	FROM
		t_cj_xld 
	<where>
		<if test="collectId != null and  collectId !=''">
			COLLECT_ID=#{collectId}
		</if>
		<if test="amname != null and amname !='' ">
			AND AMNAME LIKE concat('%',#{amname},'%')
		</if>
		<if test="dxlx != null and  dxlx !=''">
			AND DXLX=#{dxlx}
		</if>
		<if test="type != null and  type !=''">
			AND TYPE=#{type}
		</if>
		<if test="xlCollectId != null and  xlCollectId !=''">
			AND XL_COLLECT_ID=#{xlCollectId}
		</if>
		<if test="xlAmname != null and  xlAmname !='' ">
			AND XL_COLLECT_ID in (select COLLECT_ID from t_cj_line where AMNAME LIKE concat('%',#{xlAmname},'%'))
		</if>
	</where>
	ORDER BY XL_COLLECT_ID,AMNAME
  </select>
  
  <select id="queryForPage" parameterType="map" resultMap="BaseResultMap">
	SELECT
		*
	FROM
		t_cj_xld 
	<where>
		<if test="collectId != null and  collectId !=''">
			COLLECT_ID=#{collectId}
		</if>
		<if test="amname != null and amname !='' ">
			AND AMNAME LIKE concat('%',#{amname},'%')
		</if>
		<if test="dxlx != null and  dxlx !=''">
			AND DXLX=#{dxlx}
		</if>
		<if test="type != null and  type !=''">
			AND TYPE=#{type}
		</if>
		<if test="xlCollectId != null and  xlCollectId !=''">
			AND XL_COLLECT_ID=#{xlCollectId}
		</if>
		<if test="xlAmname != null and  xlAmname !='' ">
			AND XL_COLLECT_ID in (select COLLECT_ID from t_cj_line where AMNAME LIKE concat('%',#{xlAmname},'%'))
		</if>
	</where>
	ORDER BY XL_COLLECT_ID,AMNAME
  	limit #{firstResult},#{maxResult}
  </select>
  <select id="queryForCount" parameterType="map" resultType="int">
  	select
		count(*)
	FROM
		t_cj_xld 
	<where>
		<if test="collectId != null and  collectId !=''">
			COLLECT_ID=#{collectId}
		</if>
		<if test="amname != null and amname !='' ">
			AND AMNAME LIKE concat('%',#{amname},'%')
		</if>
		<if test="dxlx != null and  dxlx !=''">
			AND DXLX=#{dxlx}
		</if>
		<if test="type != null and  type !=''">
			AND TYPE=#{type}
		</if>
		<if test="xlCollectId != null and  xlCollectId !=''">
			AND XL_COLLECT_ID=#{xlCollectId}
		</if>
		<if test="xlAmname != null and  xlAmname !='' ">
			AND XL_COLLECT_ID in (select COLLECT_ID from t_cj_line where AMNAME LIKE concat('%',#{xlAmname},'%'))
		</if>
	</where>
  </select>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="string" >
	SELECT
	*
	FROM
	t_cj_xld
	where COLLECT_ID=#{collectId}
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_cj_xld
    where COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.glens.pwCloudOs.cj.base.vo.CjXld" >
    insert into t_cj_xld (COLLECT_ID, COLLECTOR_CODE, DJ, 
      AMNAME, DXLX, XL_COLLECT_ID, 
      TYPE, FROM_ID, FROM_TYPE, 
      TO_ID, TO_TYPE, SYS_CREATE_TIME, 
      SYS_UPDATE_TIME, SYS_DELETE_TIME, SYS_PROCESS_FLAG, 
      SYNC_STATE)
    values (#{collectId,jdbcType=VARCHAR}, #{collectorCode,jdbcType=VARCHAR}, #{dj,jdbcType=DECIMAL}, 
      #{amname,jdbcType=VARCHAR}, #{dxlx,jdbcType=VARCHAR}, #{xlCollectId,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{fromId,jdbcType=VARCHAR}, #{fromType,jdbcType=INTEGER}, 
      #{toId,jdbcType=VARCHAR}, #{toType,jdbcType=INTEGER}, #{sysCreateTime,jdbcType=TIMESTAMP}, 
      #{sysUpdateTime,jdbcType=TIMESTAMP}, #{sysDeleteTime,jdbcType=TIMESTAMP}, #{sysProcessFlag,jdbcType=CHAR}, 
      #{syncState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.glens.pwCloudOs.cj.base.vo.CjXld" >
    insert into t_cj_xld
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectId != null" >
        COLLECT_ID,
      </if>
      <if test="collectorCode != null" >
        COLLECTOR_CODE,
      </if>
      <if test="dj != null" >
        DJ,
      </if>
      <if test="amname != null" >
        AMNAME,
      </if>
      <if test="dxlx != null" >
        DXLX,
      </if>
      <if test="xlCollectId != null" >
        XL_COLLECT_ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="fromId != null" >
        FROM_ID,
      </if>
      <if test="fromType != null" >
        FROM_TYPE,
      </if>
      <if test="toId != null" >
        TO_ID,
      </if>
      <if test="toType != null" >
        TO_TYPE,
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME,
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME,
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME,
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG,
      </if>
      <if test="syncState != null" >
        SYNC_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectId != null" >
        #{collectId,jdbcType=VARCHAR},
      </if>
      <if test="collectorCode != null" >
        #{collectorCode,jdbcType=VARCHAR},
      </if>
      <if test="dj != null" >
        #{dj,jdbcType=DECIMAL},
      </if>
      <if test="amname != null" >
        #{amname,jdbcType=VARCHAR},
      </if>
      <if test="dxlx != null" >
        #{dxlx,jdbcType=VARCHAR},
      </if>
      <if test="xlCollectId != null" >
        #{xlCollectId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="fromId != null" >
        #{fromId,jdbcType=VARCHAR},
      </if>
      <if test="fromType != null" >
        #{fromType,jdbcType=INTEGER},
      </if>
      <if test="toId != null" >
        #{toId,jdbcType=VARCHAR},
      </if>
      <if test="toType != null" >
        #{toType,jdbcType=INTEGER},
      </if>
      <if test="sysCreateTime != null" >
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null" >
        #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null" >
        #{sysProcessFlag,jdbcType=CHAR},
      </if>
      <if test="syncState != null" >
        #{syncState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.glens.pwCloudOs.cj.base.vo.CjXld" >
    update t_cj_xld
    <set >
      <if test="collectorCode != null" >
        COLLECTOR_CODE = #{collectorCode,jdbcType=VARCHAR},
      </if>
      <if test="dj != null" >
        DJ = #{dj,jdbcType=DECIMAL},
      </if>
      <if test="amname != null" >
        AMNAME = #{amname,jdbcType=VARCHAR},
      </if>
      <if test="dxlx != null" >
        DXLX = #{dxlx,jdbcType=VARCHAR},
      </if>
      <if test="xlCollectId != null" >
        XL_COLLECT_ID = #{xlCollectId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="fromId != null" >
        FROM_ID = #{fromId,jdbcType=VARCHAR},
      </if>
      <if test="fromType != null" >
        FROM_TYPE = #{fromType,jdbcType=INTEGER},
      </if>
      <if test="toId != null" >
        TO_ID = #{toId,jdbcType=VARCHAR},
      </if>
      <if test="toType != null" >
        TO_TYPE = #{toType,jdbcType=INTEGER},
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysDeleteTime != null" >
        SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
      </if>
      <if test="syncState != null" >
        SYNC_STATE = #{syncState,jdbcType=INTEGER},
      </if>
    </set>
    where COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glens.pwCloudOs.cj.base.vo.CjXld" >
    update t_cj_xld
    set COLLECTOR_CODE = #{collectorCode,jdbcType=VARCHAR},
      DJ = #{dj,jdbcType=DECIMAL},
      AMNAME = #{amname,jdbcType=VARCHAR},
      DXLX = #{dxlx,jdbcType=VARCHAR},
      XL_COLLECT_ID = #{xlCollectId,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      FROM_ID = #{fromId,jdbcType=VARCHAR},
      FROM_TYPE = #{fromType,jdbcType=INTEGER},
      TO_ID = #{toId,jdbcType=VARCHAR},
      TO_TYPE = #{toType,jdbcType=INTEGER},
      SYS_CREATE_TIME = #{sysCreateTime,jdbcType=TIMESTAMP},
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      SYS_DELETE_TIME = #{sysDeleteTime,jdbcType=TIMESTAMP},
      SYS_PROCESS_FLAG = #{sysProcessFlag,jdbcType=CHAR},
      SYNC_STATE = #{syncState,jdbcType=INTEGER}
    where COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </update>
</mapper>