<!DOCTYPE HTML>
<html>
<head>
<title>开票申请单</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css"/>
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/SimpleDateFormat.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.chooseUser{width:1000px;height:530px;}
	.sgreen{background:#EDF4FF;border:dashed 1px #72BBFF;}
	.sred{background:#FFFF99;border:dashed 1px #FF9900;}
	.wordLike{ width: 70%;outline: none;text-indent:15px;list-style: none;background:none;border: none;border-bottom: 1px solid #999;height:29px !important}
	

        div {
            line-height: 40px;
        }

        div.title {
            background: #F5F5F5;

        }


        div.title1 {
            margin: 10px 0;
        }

        div.title1 span {
            color: #3385FF;

        }

        div.title1 input {
            border: 1px solid #E5F0FF;
            padding: 2px;
            height: 25px;
        }

        div.tbTitle {
            background: #F7F7F7;
        }

        div.tbTitle span {
            display: inline-block;
            color: #515151;
            width: 150px;
            border-right: 1px solid #f2f2f2;
            text-align: center;

        }

		
        div.tbContent {

        }

        div.tbContent span {
            display: inline-block;
            color: #515151;
            width: 150px;
            border-right: 1px solid #F3F3F3;
            border-bottom: 1px solid #F3F3F3;
            text-align: center;
        }

        
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">
<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">开票申请</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<form id="saveForm" class="required-validate">
		<input type="hidden" name="applyCode" value="{{billApply.applyCode}}"/>
		<input type="hidden" name="invoiceNo"/>
		<input type="hidden" name="_mount2"/>
		<input type="hidden" name="_taxAmount"/>
		<input type="hidden" name="_mount1"/>
			<div class="title1">
			    <span>开票时间</span>
			    <span><input id="date" type="text" name="invoiceDate" placeholder="请选择日期" onclick="new Calendar().show(this)" class="dateComponent" ></span>
			    <span style="margin-left: 10px;" >发票金额</span>
			    <span><input type="text"  value="{{billApply.money}}" class="required readonly"  readonly="readonly" style="background: #F5F5F5"/></span>
			    <span style="margin-left: 10px;" >税率</span>
			    <span><input type="text" name="taxRate"  value="{{billApply.taxRate}}" class="required readonly"  readonly="readonly" style="background: #F5F5F5"/></span>
			    <span style="margin-left: 10px;" >发票张数</span>
			    <span><input type="text"  name="taxAmount" onkeyup="generalData(this)" class="required number"/></span>
			</div>
			
			<div class="tbTitle">
			    <span>序号</span><span>发票号</span><span>发票金额</span><span>税额</span><span>不含税金额</span>
			</div>
			<div  id="div1">
				
			</div>
			
		<div class="form_bottom" style="margin:30px auto">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>

<script type="text/javascript">

var validator;
var ngScope;
var userData;
var proCode="";
var taxRate;
var app = angular.module("userMgr", []);

	var today = new SimpleDateFormat({formatString:"yyyy-MM-dd"}).format(new Date());
	$("#date").val(today);
	
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.billApply={};
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	var params = getUrlParams();
	console.log(params);
	
	/* 数据加载 */
	$scope.loadBillApplication=function(rowid){
		$http.get(serviceBasePath+"eap/pmsServices/fm/billApply/get?rowid="
			+rowid+"&ticket="+ticket).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../../login.html";
				return;
			}
			$scope.billApply = response.data;
			
			taxRate=$scope.billApply.taxRate/100;
		});
	};
	/* 初始加载 */
	$scope.loadBillApplication(params.rowid);
	
	/* 保存 */
	$scope.onSave = function(){
		
		//发票号
		var tempInvoiceNo = [];
		$("input[name=tempInvoiceNo]").each(function(){
			tempInvoiceNo.push($(this).val());
		});
		$("input[name=invoiceNo]").val(tempInvoiceNo.join("|"));
		
		
		//开票金额
		var tempMount2 = [];
		$("input[name=tempMount2]").each(function(){
			tempMount2.push($(this).val());
		});
		$("input[name=_mount2]").val(tempMount2.join("|"));
		
		//税额
		var tempTaxAmount = [];
		$("input[name=tempTaxAmount]").each(function(){
			tempTaxAmount.push($(this).val());
		});
		$("input[name=_taxAmount]").val(tempTaxAmount.join("|"));
		
		
		//不含税金额
		var tempMount1 = [];
		$("input[name=tempMount1]").each(function(){
			tempMount1.push($(this).val());
		});
		$("input[name=_mount1]").val(tempMount1.join("|"));
		
		var formData = $("#saveForm").serialize();
		if($("#saveForm").valid()){
			$.ajax({
				url:serviceBasePath+"eap/pmsServices/fm/invoiceBase/invoiceBase/generateKp",
				cache:false,
				method:"POST",
				data:formData,
				success:function(res){
					if(res.statusCode==200){
						new ShowDlog().prompt({msg:"添加成功！",
							done:function(){
								location.href="invoiceApplyList.html";
							},
							t:1500
						});
					}else{
						//
					}
				},
				error:function(){
					
				}
			});
		}else{
			new ShowDlog().prompt({msg:"表单未填写完整！",
				done:function(){
				},
				t:1500
			});
		}
	};
	
	
	/* 取消 */
	$scope.onCancel = function(){
		//history.go(-1);
		location.href="invoiceApplyList.html";
	};

});


function generalData(obj)
	{
		$("#div1").empty();
		var count=obj.value;
		var no=0;
		for(var i=0;i<count;i++)
		{
			no++;
			$("<div class='tbContent'><span>"+no+"</span><span><input type='text' name='tempInvoiceNo' style='border: 1px solid #E5F0FF;height:25px;' class='required'/></span><span><input style='border: 1px solid #E5F0FF;height:25px;' type='text' class='required number' name='tempMount2' onkeyup='calcTax(this)'/></span><span><input type='text' name='tempTaxAmount' style='background: #F5F5F5;border: 1px solid #E5F0FF;height:25px;' class='required readonly'  readonly='readonly'/></span><span><input type='text' name='tempMount1' style='background: #F5F5F5;border: 1px solid #E5F0FF;height:25px;' class='required readonly'  readonly='readonly'/></span></div>").appendTo("#div1");
		}
		
		//计算金额
		console.log(ngScope.billApply);
	}
	
function calcTax(obj)
{
	var totalMoney=obj.value;
	//console.log(taxRate);
	//税额 （（开票金额/(1+税率))*税率）
	var taxMoney=(totalMoney/(1+taxRate))*taxRate;
	//不含税金额 （开票金额/(1+税率))
	var pureMoney=totalMoney/(1+taxRate);
	$(obj).parent().next().find("input").val(taxMoney.toFixed(2));
	$(obj).parent().next().next().find("input").val(pureMoney.toFixed(2));
}	
</script>
</body>
</html>
