<!DOCTYPE HTML>
<html>
<head>
<title>项目预算选择人员 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
body{overflow:hidden;}
.form_bottom{float:right;}
.form_bottom .title_save{float:right;}
.form_bottom .title_cancel{float:right;}
.select_warp span{padding:8px 10px;cursor:pointer}
.select_warp span.cur{border-bottom:2px solid #0078D7}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="formWarp">
			<form id="saveForm" class="required-validate">
				<div class="form_div" id="lay1">
					<table style="width:100%;">
						<tr>
							<th width="80">姓名</th>
							<td>
								<input type="text" name="employeename" class="required dropDownList" style="width:250px;" ng-click="chooseUser()"/>
								<input type="hidden" name="proNo"/>
								<input type="hidden" name="companyCode"/>
								<input type="hidden" name="employeeCode"/>
								<input type="hidden" name="sectionCode"/>
							</td>
						</tr>
						<tr>
							<th width="80">差旅补贴</th>
							<td>
								<input type="text"  name="traceSubsidy" class="required number" style="width:250px;"/>
							</td>
						</tr>
					</table>
				</div>
				
				<div class="form_bottom" style="width:100%;float:right;">
					<a href="javascript:" ng-click="onSave()" class="title_save">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
					</a>
					<a href="javascript:" ng-click="onCancel()" class="title_cancel">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		$scope.valObj={};
		
		// 参数
		var urlParams = getUrlParams();
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			window.noLogin(location.href);
			return;
		}
		var userData = jQuery.parseJSON(userDataStr);
		var ticket=$scope.ticket;
		/* 选择人员 */
		$scope.chooseUser=function(){
			/* 选择员工 */
			new top.ShowDlog().showFrame("component/chooseUserForProCount.html", "选择人员", function(data){
				if(data && data.length>0){
					console.log(data)
					$("input[name=employeename]").val(data[0].employeename);
					$("input[name=employeeCode]").val(data[0].employeecode);
					$("input[name=unitCode]").val(data[0].unitCode);
					$http.get(serviceBasePath+"eap/pmsServices/hrm/salMgr/salaryFramwork/employeeSalary?companyCode="+userData.companyCode+"&unitCode="+data[0].unitCode+"&employeeCode="+data[0].employeecode).success(function(response){
						if(response.statusCode=="200"){
							//alert(response.data.hrmResPrice);
							$("input[name=univalent]").val(response.data.hrmResPrice);
							$("input[name=salaryGrade]").val(response.data.salaryGrade);
							$("input[name=salaryLevel]").val(response.data.salaryLevel);
						}
					});
					
					
					
				}
			}, "chooseUser");

		}
		var sectionArr=[];
		/* 获取部门信息 */
		$http.get(serviceBasePath+"eap/pmsServices/pm/pb/rollingGudget/getTravalList?companyCode="+userData.companyCode+"&proNo="+urlParams.proNo).success(function(response){
			if(response.statusCode!=200){
				alert("请求服务器失败！");
				return;
			}
			$scope.tab2List=response.data;
			$scope.dataList1=$scope.tab2List.dataList;
			$scope.sectionList1=$scope.tab2List.sectionList;
			for(var i=0;i<$scope.sectionList1.length;i++){
				$scope.sectionObj={"id":$scope.sectionList1[i].sectionCode,"name":$scope.sectionList1[i].startTime+"至"+$scope.sectionList1[i].endTime}	
				sectionArr.push($scope.sectionObj);
			}
			
		});
		
		/* 选择阶段 */
		new DropDownList().init({
			renderTo:"input[name=sectionName]",
			mode:"list",
			height:"110px",
			data:sectionArr,
			textField:"name",
			onSelected:function(item){
				$("input[name=sectionCode]").val(item.id);
				$("input[name=sectionName]").val(item.name);
			}
		});

		
		/* 表单验证 */
		validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					
				} 
			}
		});
		
		$("input[name='proNo']").val(urlParams.proNo);
		$("input[name='phaseCode']").val(urlParams.phaseCode);
		$("input[name='sectionCode']").val(urlParams.sectionCode);
		$("input[name='companyCode']").val(userData.companyCode);
		$scope.onSave=function(){
			if(!$("#saveForm").valid())
				return;
			var formData = serializeArrayToMap($("#saveForm").serializeArray());
			$scope.httpPost({
				url:"eap/pmsServices/pm/pb/rollingGudget/insertTravelSubsidy",
				data:formData,
				success:function(res){
					if(res.statusCode==200){
						new ShowDlog().prompt({
							icon:"success",
							msg:"添加成功！",
							done:function(){
								parent.$dlog.data="SUCCESS";
								parent.$dlog.close();
							},
							t:1500
						});
					
					}
				}
			});
		};
		$scope.onCancel=function(){
			parent.$dlog.close();
		};
	}
});
</script>
</body>
</html>
