<!DOCTYPE HTML>
<html>
<head>
<title> 质量问题管理 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
body{overflow:hidden;}
.form_bottom{float:right;}
.form_bottom .title_save{float:right;}
.form_bottom .title_cancel{float:right;}
.select_warp span{padding:8px 10px;cursor:pointer}
.select_warp span.cur{border-bottom:2px solid #0078D7}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="formWarp">
			<form id="saveForm" class="required-validate">
				<div class="form_div" id="lay1">
					<table style="width:100%;">
						<tr>
							<th width="80">姓名</th>
							<td>
								<input type="text" name="employeeName" readonly="readonly" class="required readonly" style="width:250px;background:#eee;text-indent:10px"/>
								<input type="hidden" name="companyCode"/>
								<input type="hidden" name="proNo"/>
								<input type="hidden" name="sectionCode"/>
								<input type="hidden" name="univalent"/>
								<input type="hidden" name="contractPropertyCode"/>
								<input type="hidden" name="propertyName"/>
								<input type="hidden" name="jobName"/>	
								<input type="hidden" name="salaryGrade"/>
								<input type="hidden" name="salaryLevel"/>
								<input type="hidden" name="gradeFix" />
								<input type="hidden" name="employeeCode" />
							</td>
						</tr>
						<tr>
							<th width="80">项目有效工时</th>
							<td>
								<input type="text" ng-keyup="getMoney()"  name="workTime" class="required number " style="width:248px;text-indent:10px"/>
							</td>
						</tr>
						<tr>
							<th width="80">人力资源成本</th>
							<td>
								<input type="text" readonly="readonly"  name="labourCost" class="required readonly" style="width:250px;background:#eee;text-indent:10px"/>
							</td>
						</tr>
					</table>
				</div>
				
				<div class="form_bottom" style="width:100%;float:right;">
					<a href="javascript:" ng-click="onSave()" class="title_save">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
					</a>
					<a href="javascript:" ng-click="onCancel()" class="title_cancel">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		$scope.valObj={};
		
		// 参数
		var urlParams = getUrlParams();
		var contractPropertyCode=urlParams.contractPropertyCode;
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			window.noLogin(location.href);
			return;
		}
		var userData = jQuery.parseJSON(userDataStr);
		var ticket=$scope.ticket;
		
		$("input[name='companyCode']").val(userData.companyCode);	
		$("input[name='employeeName']").val(urlParams.employeeName);
		$("input[name='employeeCode']").val(urlParams.employeeCode);
		$("input[name='workTime']").val(urlParams.workTime);
		$("input[name='univalent']").val(urlParams.univalent);
		$("input[name='labourCost']").val(urlParams.labourCost);
		$("input[name='jobName']").val(urlParams.jobName);
		$("input[name='sectionCode']").val(urlParams.sectionCode);
		$("input[name='proNo']").val(urlParams.proNo);
		$("input[name='contractPropertyCode']").val(urlParams.contractPropertyCode);
		$("input[name='gradeFix']").val(urlParams.gradeFix);
		$("input[name='salaryLevel']").val(urlParams.salaryLevel);
		$("input[name='salaryGrade']").val(urlParams.salaryGrade);
		$("input[name='propertyName']").val(urlParams.propertyName);
		
		/* 表单验证 */
		validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					
				} 
			}
		});
		
		$scope.onSave=function(){
			if(!$("#saveForm").valid())
				return;
			var formData = serializeArrayToMap($("#saveForm").serializeArray());
			parent.$dlog.data=formData;
			parent.$dlog.close();
			/* $scope.httpPost({
				url:"eap/pmsServices/pm/pb/budgetEstimate/updateProPhaseLabourCost",
				data:formData,
				success:function(res){
					if(res.statusCode==200){
						new ShowDlog().prompt({
							icon:"success",
							msg:"添加成功！",
							done:function(){
								parent.$dlog.data="SUCCESS";
								parent.$dlog.close();
							},
							t:1500
						});
					
					}
				}
			}); */
		};
		$scope.getMoney=function(){
			
			if(contractPropertyCode==2 || contractPropertyCode==4){
				var count=$("input[name='univalent']").val();
				var workTime=$("input[name='workTime']").val();
				var countAndTime=count*workTime*1.2/1.4;
				$("input[name='labourCost']").val(decim(countAndTime,2));
			}else{
				var count=$("input[name='univalent']").val();
				var workTime=$("input[name='workTime']").val();
				var countAndTime=count*workTime;
				$("input[name='labourCost']").val(decim(countAndTime,2));
			}
		}
		
		$scope.onCancel=function(){
			parent.$dlog.close();
		};
	}
});
</script>
</body>
</html>
