<!DOCTYPE HTML>
<html>
<head>
<title>项目预算列表</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/list.css"/>
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/time.js"></script>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/ExportExcel.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.owWordLoad{text-decoration:underline;color:#0099ff;}
	.owWordload-detail{border:solid 1px #666;background:#ffee99;color:#666;padding:4px 6px 4px 6px;position:absolute;display:none;}
	.stutes_span{display:inline-block;width:20px;height:20px;border-radius:50%;position: relative; top: 5px;}
	.hstu{background:#76b102}
	.dialog-scrap{width:350px;height:350px}
	.nostu{background:red}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<input type="text" id="category" class="dropDownList" placeholder="请选择项目分类"/>
				<input type="text" name="proName" class="required dropDownList" maxlength="32" style="width:220px" placeholder="请选择项目"/>
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
<!-- 				<div class="query_div" ng-click="doAdd()">
					新增
				</div>
 -->				
			</div>
			<img src="../../../img/list_Header2-.png">
			
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="dataTable">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">项目编号</div></th>
				<th><div align="center">项目名称</div></th>
				<th><div align="center">项目经理</div></th>
				<th><div align="center">开始时间</div></th>
				<th><div align="center">结束时间</div></th>
				<th><div align="center">项目周期/月</div></th>
				<th><div align="center">项目周期/周</div></th>
				<th><div align="center">创建时间</div></th>
				<th><div align="center">最近编辑时间</div></th>
				<th><div align="center">最新版本编号</div></th>
				<th><div align="center">操作</div></th>
			  </tr>
			   <tr class="tr2" ng-repeat="item in userList">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.proCode}}</div></td>
				<td><div align="center">{{item.proName}}</div></td>
				<td><div align="center">{{item.proManager}}</div></td>
				<td><div align="center">{{item.sdate}}</div></td>
				<td><div align="center">{{item.edate}}</div></td>
				<td><div align="center">{{item.ppm}}</div></td>
				<td><div align="center">{{item.ppw}}</div></td>
				<td><div align="center">{{item.sysCreateTime}}</div></td>
				<td><div align="center">{{item.lastUpdateTime}}</div></td>
				<td><div align="center">{{item.budgetNo}}</div></td>
				<td>
					<div align="center">
						<img ng-if="item.sysCreateTime!=''" class="operationImg" src="../../../img/list_item_modify-icon.png" title="修改" ng-click="edit(item)">
						<img ng-if="item.sysCreateTime!=''" class="operationImg" ng-click="doShow(item)" src="../../../img/list_see-icon.png" title="查看 ">
						<img ng-if="item.sysCreateTime==''" class="operationImg" ng-click="doCreatModel(item)" src="../../../img/doCreatModel.png" title="创建预算模板">
						
						<img ng-if="item.sysCreateTime!=''" class="operationImg" ng-click="doShow1(item)" src="../../../img/historyBudget.png" title="查看往期预算 ">
					</div>
				</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
var ngScope;
var companyCode="";
var employeeCode="";
var proNo="";
var proName="";
var categoryCode="";
var categoryName="";
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.userList=[];
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	companyCode=userData.companyCode;
	employeeCode=userData.employeeCode;
	
	var urlParams = getUrlParams();
	if(urlParams.proNo1){
		proNo=urlParams.proNo1;
	}
	if(urlParams.proName){
		proName=urlParams.proName;
		$("input[name=proName]").val(proName);
	}
	if(urlParams.categoryCode){
		categoryCode=urlParams.categoryCode;
	}
	if(urlParams.categoryName){
		categoryName=urlParams.categoryName;
		$("#category").val(categoryName);
	}

	
	
	
	/* 项目分类 */
	new DropDownList().init({
		mode:"page",
		renderTo:"#category",
		url:"../../component/projectType.html?ticket="+$scope.ticket,
		height:"200px",
		onSelected:function(result){
			$scope.cond_category=result.categoryCode;
			categoryCode=result.categoryCode;
			categoryName=result.categoryName;
			$("#category").val(result.categoryName);
			proNameList.setConfig("url", "../../component/projectList.html?categoryCode="+result.categoryCode+"&ticket="+$scope.ticket);
		}
	});
	/* 项目名称 */
	var proNameList = new DropDownList();
	proNameList.init({
		mode:"page",
		renderTo:"input[name=proName]",
		url:"../../component/gaisuanprojectList.html?required=true",
		height:"200px",
		onSelected:function(result){
			$("input[name=proName]").val(result.proName);
			proNo=result.proNo;
			proName=result.proName;
			$scope.loadUsers(companyCode,proNo,categoryCode);
		}
	});
	
	$scope.loadUsers=function(companyCode,proNo,categoryCode){
		$http.get(serviceBasePath+"eap/pmsServices/pm/pb/rollingGudget/selectProRollingBudgetList?companyCode="
		+companyCode+"&proNo="+proNo+"&categoryCode="+categoryCode+"&ticket="+ticket).success(function(response){
			if(response.statusCode!=200){
				alert("请求服务器失败！");
				return;
			}
			$scope.userList=response.list;
		});
	}; 
	$scope.doQuery=function(){
		$scope.loadUsers(companyCode,proNo,categoryCode)
	};	
	$scope.loadUsers(companyCode,proNo,categoryCode);
	/* 修改 */
	$scope.edit=function(item){
		window.location.href="proBudgetMgrEdit.html?proNo="+item.proNo+"&proName="+item.proName+"&versionCode="+item.versionCode+"&budgetCode="+item.budgetCode + "&proCode=" + item.proCode;
	};
	/* 查看 */
	$scope.doShow=function(item){
		window.location.href="proBudgetMgrDetail.html?proNo="+item.proCode+"&proName="+item.proName+"&budgetCode="+item.budgetCode+"&versionCode="+item.versionCode;
	};
	/* 查看往期预算 */
	$scope.doShow1=function(item){
		//alert(item.proNo +"1"+proName+"2"+item.budgetCode+"3"+item.versionCode+"4"+proNo+"5"+categoryName+"6"+categoryCode+"7");
		
		hrefTo({
			url:"historyBudgetList.html",
			data:{
				proNo:item.proNo,
				proName:proName,
				budgetCode:item.budgetCode,
				versionCode:item.versionCode,
				proNo1:proNo,
				categoryName:categoryName,
				categoryCode:categoryCode
			}
		});
	};
	/* 是否创建预算模板 */
	$scope.doCreatModel=function(item){

		
			new ShowDlog().showFrame("budgetStarttime.html?budgetStartTime="+item.sdate, "创建预算模板", function(budgetStartTime){
				if(budgetStartTime){
					$http({
						  method: "post",
						  url: serviceBasePath+"eap/pmsServices/pm/pb/rollingGudget/budgetTemplate",
						  params: {"companyCode":companyCode,"proNo":item.proNo,"budgetStartTime":budgetStartTime},
						}).success(function(resp){
							if(resp.statusCode=200){
								if(resp.resultMsg==1){
									new ShowDlog().prompt({
										icon:"warning",
										msg:"没有开始时间 ！",
										done:function(){
											
											$scope.loadUsers(companyCode,proNo,categoryCode);
										},
										t:1500
									});
								}else if(resp.resultMsg==2){
									new ShowDlog().prompt({
										icon:"warning",
										msg:"没有结束时间 ！",
										done:function(){
											
											$scope.loadUsers(companyCode,proNo,categoryCode);
										},
										t:1500
									});
								}else if(resp.resultMsg==3){
									new ShowDlog().prompt({
										icon:"success",
										msg:"成功！",
										done:function(){
											
											$scope.loadUsers(companyCode,proNo,categoryCode);
										},
										t:1500
									});
								}else if(resp.resultMsg==4){
									new ShowDlog().prompt({
										icon:"warning",
										msg:"失败！",
										done:function(){
											
											$scope.loadUsers(companyCode,proNo,categoryCode);
										},
										t:1500
									});
								}
							}
					});
							
				}		
			},"dialog-scrap");
	};
	
	
});
</script>
</body>
</html>
