<!DOCTYPE HTML>
<html>
<head>
<title>项目材料类型</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/config.js"></script>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../../css/list.css" />


<style type="text/css">
	.dropDownArea{background-image:url(../../../img/flag.png);background-repeat: no-repeat;background-position:right;background-position:185px;cursor:pointer;}
	.dropDownProjectType{background-image:url(../../../img/type.png);background-repeat: no-repeat;background-position:right;background-position:185px;cursor:pointer;}
	.dropDownProjectType1{background-image:url(../../../img/type.png);background-repeat: no-repeat;background-position:right;background-position:185px;cursor:pointer;}
	
	.btn{display:inline-block;padding:1px 4px;border:solid 1px #f4f4f4; border-radius:4px;}
	.btn.toactive{color:#fff;background:green;}
	.btn.toclose{color:#fff;background:#ED7798;}
	.dialog-images{width:1000px;height:600px;}
	.dialog-viewcode{width:960px;height:470px;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<input type="text" id="reserveProno"  class="dropDownList" placeholder="请选择储备项目"  />
				<input type="text" id="remouldBatchName"  placeholder="请输入批次名称"/>
				
				
				<div class="query_div" ng-click="doQuery()">
					查询
				</div>
				
				&nbsp;&nbsp;
			</div>
			<img src="../../../img/list_Header2-.png">
			<div class="title_add" onclick="location.href='addRemouldBatch.html'">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">项目名称</div></th>
				<th><div align="center">改造批次名称</div></th>
				<th><div align="center">改造开始时间</div></th>
				<th><div align="center">改造结束时间</div></th>
				<th><div align="center">改造数量</div></th>
				<th><div align="center">改造范围</div></th>
				<th><div align="center">备注</div></th>
				<th><div align="center">操作</div></th>
			  </tr>
			  <tr class="tr2" ng-repeat="item in projectList">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.reserveProName}}</div></td>
				<td><div align="center">{{item.remouldBatchName}}</div></td>
				<td><div align="center">{{item.remouldSdate}}</div></td>
				<td><div align="center">{{item.remouldEdate}}</div></td>
				<td><div align="center">{{item.remouldCount}}</div></td>
				<td><div align="center">{{item.remouldExtent}}</div></td>
				<td><div align="center">{{item.remarks}}</div></td>
				<td width="18%">
					<div align="center">
			    		<img  ng-click="doUpdate(item)" class="operationImg" src="../../../img/list_item_modify-icon.png" title="修改">
			    		<img  ng-click="doDelete(item)" class="operationImg" src="../../../img/list_delete-icon.png" title="删除">
			    		<img class="operationImg" ng-click="doShow(item)" src="../../../img/list_see-icon.png" title="查看 ">
			    		<img class="operationImg" ng-click="toDevList(item)" src="../../../img/record.png" title="设备清单 ">
			    		<!-- <img class="operationImg" ng-click="doShowImg(item)" src="../../../img/viewimg.png" title="查看图片 "> -->
			    		<img class="operationImg" ng-click="toHuizong(item)" src="../../../img/huizong.png" title="材料方案汇总 ">
		    		</div>
				</td>
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">
function createPageBar(totalPage, curPage,totalRecord){
	new PageBar().init({
		renderTo:"#page_bar",
		totalPage:totalPage,
		curPage:curPage,
		totalRecord: totalRecord,
		showPageInfo:true,
		prevPageText:"上一页",
		nextPageText:"下一页",
		onPage:function(pageNum){
			_currentPage=pageNum;
			ngScope.loadProjects(companyCode,remouldBatchName,reserveProNo,pageNum);
		}
	});
}

var reserveProNo="";
var remouldBatchName="";
var _currentPage=1;
var companyCode="";
var ngScope;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.curUnit={};
	$scope.projectList=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	companyCode=userData.companyCode;
	
	
	new DropDownList().init({
		renderTo:"#reserveProno",
		url:"../../component/proType.html",
		height:"200px",
		onSelected:function(result){
			$("#reserveProno").val(result.proName);
			reserveProNo = result.proNo;  
			ngScope.loadProjects(companyCode,remouldBatchName,reserveProNo,1);
		}
	});
	
	
	/* 加载数据 */
	$scope.loadProjects=function(companyCode,remouldBatchName,reserveProNo,currentPage){//alert(unitCode);
		$http.get(serviceBasePath+"eap/pmsServices/pe/baseMgr/remouldBatch/list?companyCode="
			+companyCode+"&currentPage="+currentPage+"&ticket="+ticket+"&remouldBatchName="+remouldBatchName+"&reserveProNo="+reserveProNo).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../login.html";
				return;
			}
			$scope.projectList = response.list;
			createPageBar(response.totalPage, response.currentPage,response.totalRecord);
		});
	};
	/* 查询 */
	$scope.doQuery=function(){
		remouldBatchName = $("#remouldBatchName").val();
		
		$scope.loadProjects(companyCode,remouldBatchName,reserveProNo,1);
	};
	
	
	/* 修改 */
	$scope.doUpdate=function(item){
		location.href="editRemouldBatch.html?remouldBatchCode="+item.remouldBatchCode+"&companyCode="+item.companyCode;
	};
	
	/* 显示 */
	$scope.doShow=function(item){
		location.href="showRemouldBatch.html?remouldBatchCode="+item.remouldBatchCode+"&companyCode="+item.companyCode;
	};
	
	//查看图片
	$scope.doShowImg=function(){
		new ShowDlog().showFrame("imags.html", "图片查看", function(){
			// 
		},"dialog-images");

	};
	/* 汇总 */
	$scope.toHuizong=function(item){
		var reserveProName=item.reserveProName;
		
		new ShowDlog().showFrame("huizong.html?reserveProNo="+item.reserveProNo+"&mctViewCode="+item.mctViewCode+"&deviceTypeCode="+item.deviceTypeCode+"&remouldBatchCode="+item.remouldBatchCode, reserveProName, function(){
			// 
		},"dialog-viewcode");
		
	};
	
	$scope.toDevList=function(item){
		location.href="remouldBatchDevList.html?reserveProNo="+item.reserveProNo+
		"&remouldBatchCode="+item.remouldBatchCode+"&mctViewCode="+item.mctViewCode+"&deviceTypeCode="+item.deviceTypeCode;
	};
	
	
	
	/* 删除 */
	$scope.doDelete=function(item){
		new ShowDlog().confirm({
			msg:"确定对类型“"+item.remouldBatchName+"”进行删除操作吗？",
			ok:function(){
				$http.post(serviceBasePath+"eap/pmsServices/pe/baseMgr/remouldBatch/delete?remouldBatchCode="+item.remouldBatchCode+"&ticket="+ticket).success(function(response){
					$scope.loadProjects(companyCode,remouldBatchName,reserveProNo, _currentPage);
				});
			},
			cancel:function(){}
		});
	};
	
	/* 初始查询 */
	ngScope.loadProjects(companyCode,remouldBatchName,reserveProNo,1);
});
</script>
</body>
</html>
