<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.questionnire.dao.QaAnswerMapper" >
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.questionnire.vo.QaAnswer" >
    <id column="ROWID" property="rowid" jdbcType="BIGINT" />
    <result column="ANSWER_SHEET_CODE" property="answerSheetCode" jdbcType="VARCHAR" />
    <result column="QUESTIONNIRE_CODE" property="questionnireCode" jdbcType="VARCHAR" />
    <result column="QUESTION_CODE" property="submitUser" jdbcType="VARCHAR" />
    <result column="ANSWER" property="answer" jdbcType="VARCHAR" />
    <result column="SUPPLEMENT" property="supplement" jdbcType="VARCHAR" />
  </resultMap>
  <select id="findByAnswerSheetCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    	ROWID, ANSWER_SHEET_CODE, QUESTIONNIRE_CODE, QUESTION_CODE, ANSWER, SUPPLEMENT
    FROM qa_answer
    WHERE ANSWER_SHEET_CODE = #{answerSheetCode,jdbcType=VARCHAR}
  </select>
  <select id="findBySheetCodeAndQuestionCode" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    	ROWID, ANSWER_SHEET_CODE, QUESTIONNIRE_CODE, QUESTION_CODE, ANSWER, SUPPLEMENT
    FROM qa_answer
    WHERE ANSWER_SHEET_CODE = #{answerSheetCode,jdbcType=VARCHAR}
    	AND QUESTION_CODE=#{questionCode, jdbcType=VARCHAR}
  </select>
  <select id="findByQuestionnireCodeAndSubmitUser" resultMap="BaseResultMap" parameterType="map" >
     SELECT 
    	t1.ROWID, t1.ANSWER_SHEET_CODE, t1.QUESTIONNIRE_CODE, t1.QUESTION_CODE, t1.ANSWER, t1.SUPPLEMENT
    FROM qa_answer t1, qa_answer_sheet t2
    WHERE t1.answer_sheet_code = t2.answer_sheet_code 
    	and t2.QUESTIONNIRE_CODE = #{questionnireCode,jdbcType=VARCHAR}
    	and t2.SUBMIT_USER = #{submitUser,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.glens.pwCloudOs.questionnire.vo.QaAnswer">
  	insert into qa_answer (ANSWER_SHEET_CODE, QUESTIONNIRE_CODE, QUESTION_CODE, ANSWER, SUPPLEMENT)
    	values(#{answerSheetCode, jdbcType=VARCHAR},#{questionnireCode, jdbcType=VARCHAR},#{questionCode, jdbcType=VARCHAR},
    	#{answer, jdbcType=VARCHAR}, #{supplement, jdbcType=VARCHAR})
  </insert>
  <insert id="batchInsert" parameterType="list" >
    insert into qa_answer (ANSWER_SHEET_CODE, QUESTIONNIRE_CODE, QUESTION_CODE, ANSWER, SUPPLEMENT)
    values 
    <foreach collection="list" item="item" separator=",">
    (#{item.answerSheetCode, jdbcType=VARCHAR},#{item.questionnireCode, jdbcType=VARCHAR},#{item.questionCode, jdbcType=VARCHAR},
    	#{item.answer, jdbcType=VARCHAR}, #{item.supplement, jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>