<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.questionnire.dao.QaAnswerSheetMapper" >
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.questionnire.vo.QaAnswerSheet" >
    <id column="ROWID" property="rowid" jdbcType="BIGINT" />
    <result column="ANSWER_SHEET_CODE" property="answerSheetCode" jdbcType="VARCHAR" />
    <result column="QUESTIONNIRE_CODE" property="questionnireCode" jdbcType="VARCHAR" />
    <result column="SUBMIT_USER" property="submitUser" jdbcType="VARCHAR" />
    <result column="EMPLOYEENAME" property="employeeName" jdbcType="VARCHAR" />
    <result column="SUBMIT_TIME" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="SCORE" property="score" jdbcType="FLOAT" />
    <result column="LEVEL_CODE" property="levelCode" jdbcType="VARCHAR" />
    <result column="LEVEL_DESCR" property="levelDescr" jdbcType="VARCHAR" />
  </resultMap>
  <select id="findByQuestionnireCodeAndSubmitUser" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    	t1.ROWID, t1.ANSWER_SHEET_CODE, t1.QUESTIONNIRE_CODE, t1.SUBMIT_USER, t1.SUBMIT_TIME, t1.SCORE, t1.LEVEL_CODE,
    	t2.EMPLOYEENAME, t3.LEVEL_DESCR
    FROM qa_answer_sheet t1
    LEFT JOIN md_employee t2 ON t1.submit_user = t2.employeecode
    LEFT JOIN qa_result_level t3 ON t1.level_code = t3.level_code
    WHERE t1.QUESTIONNIRE_CODE = #{questionnireCode,jdbcType=VARCHAR}
    	AND t1.SUBMIT_USER = #{submitUser,jdbcType=VARCHAR} 
  </select>
  <select id="findByQuestionnireCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
     SELECT 
    	t1.ROWID, t1.ANSWER_SHEET_CODE, t1.QUESTIONNIRE_CODE, t1.SUBMIT_USER, t1.SUBMIT_TIME, t1.SCORE, t1.LEVEL_CODE,
    	t2.EMPLOYEENAME, t3.LEVEL_DESCR
    FROM qa_answer_sheet t1
    LEFT JOIN md_employee t2 ON t1.submit_user = t2.employeecode
    LEFT JOIN qa_result_level t3 ON t1.level_code = t3.level_code
    WHERE t1.QUESTIONNIRE_CODE = #{questionnireCode,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.glens.pwCloudOs.questionnire.vo.QaAnswerSheet">
  	insert into qa_answer_sheet (ANSWER_SHEET_CODE, QUESTIONNIRE_CODE, SUBMIT_USER, SUBMIT_TIME, SCORE, LEVEL_CODE)
    	values(#{answerSheetCode, jdbcType=VARCHAR},#{questionnireCode, jdbcType=VARCHAR},#{submitUser, jdbcType=VARCHAR}, now(),
    	#{score, jdbcType=FLOAT}, #{levelCode, jdbcType=VARCHAR})
  </insert>
</mapper>