<!DOCTYPE HTML>
<html>
<head>
<title> 合同管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/time.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">修改合同</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected">合同属性</a>
			
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table style="width:70%">
				<tr>
					<th>合同编号</th>
					<td><input type="text" name="contractNo" value="{{conTractObj.CONTRACT_NO}}" class="required"  /></td>
					<th>合同名称</th>
					<td><input type="text" name="contractName" value="{{conTractObj.CONTRACT_NAME}}" class="required"  /></td>
				</tr>
				<tr>
					<th>合同签订时间</th>
					<td>
						<input type="text" name="contractDate" value="{{conTractObj.CONTRACT_DATE}}" class="date dateComponent required"  onclick="new Calendar().show(this)" />
					</td>
					<th>业务部门</th>
					<td>
						<input type="text" name="businessUnit" class="required dropDownList" value="{{conTractObj.BUSINESS_UNIT}}"/>
					</td>
				</tr>
				<tr>
					<th>合同和项目的关系类型</th>
					<td>
						<input type="text" name="contractProjTypeName" value="{{conTractObj.contractProjTypeName}}" class="dropDownList required contractProjTypeName" />
						<input type="hidden" name="contractProjType" value="{{conTractObj.CONTRACT_PROJ_TYPE}}"/>
						<input type="hidden" name="attrJson" />
						<input type="hidden" name="rowid" value="{{params.rowid}}"/>
						<input type="hidden" name="contractNo" value="{{params.contractNo}}"/>
					</td>
					<th>合同类型</th>
					<td>
						<input type="text" name="contractType" class="required dropDownList" value="{{conTractObj.CONTRACT_TYPE}}"/>
					</td>
				</tr>
				<tr>
					<th>合同书面总价</th>
					<td>
						<input type="text" ng-keyup="getdataPrice()" name="writtenPrice" class="required number" ng-model="writtenPrice"/><span style="color:#ccc">（万元）</span>
					</td>
					<th>合同设备单价</th>
					<td>
						<input type="text" name="deviceUnivalent" class=""  value="{{conTractObj.DEVICE_UNIVALENT}}"/><span style="color:#ccc">（万元）</span>
					</td>
				</tr>
				<tr>
					<th>合同对应项目实际价值</th>
					<td>
						<input type="text" name="actualValue" class="required" value="{{conTractObj.ACTUAL_VALUE}}"/><span style="color:#ccc">（万元）</span>
					</td>
					<th>合同书面总价是否含税</th>
					<td>
						<input type="text" name="priceIsTaxName" class="required dropDownList priceIsTaxName" value="{{conTractObj.priceIsTaxName}}"/>
						<input type="hidden" name="priceIsTax" value="{{conTractObj.PRICE_IS_IN_TAX}}"/>
					</td>
				</tr>
				<tr>
					<th>合同税点</th>
					<td>
						<input type="text" name="taxPoint" class="required dropDownList" value="{{conTractObj.TAX_POINT}}" />
					</td>
					<th>地区</th>
					<td>
						<input type="text" class="dropDownArea required" name="districtName" placeholder="请选择地区" value="{{conTractObj.PROVINCE}}-{{conTractObj.CITY}}-{{conTractObj.DISTRICT}}"/>
						<input type="hidden" name="province" value="{{conTractObj.PROVINCE}}"/>
						<input type="hidden" name="city"  value="{{conTractObj.CITY}}"/>
						<input type="hidden" name="district" value="{{conTractObj.DISTRICT}}"/>
					</td>
				</tr>
				<tr>
					<th>甲方单位</th>
					<td>
						<input type="text" name="fpUnit" class="required" value="{{conTractObj.FP_UNIT}}">
					</td>	
					<th>合同确定甲方单位负责人</th>
					<td>
						<input type="text" name="contractor" class="" value="{{conTractObj.CONTACTOR}}">
					 </td>
				</tr>
				<tr>
					<th>乙方单位</th>
					<td>
						<input type="text" name="spUnit" class="required" value="{{conTractObj.SP_UNIT}}">
					</td>	
					<th>合同确定乙方单位负责人</th>
					<td> 
						<input type="text" name="spUnitCharger" class="" value="{{conTractObj.SP_UNIT_CHARGER}}"> 
					 </td>
				</tr>
				<tr>
					<th>合同开票状态</th>
					<td>
						<input type="text" name="billingStatusName" class="required dropDownList billingStatusName" value="{{conTractObj.billingStatusName}}">
						<input type="hidden" name="billingStatus" value="{{conTractObj.BILLING_STATUS}}"/>
					</td>	
					<th>合同预计开票时间</th>
					<td>
						<input type="text" name="expectBillingTime" value="{{conTractObj.EXPECT_BILLING_TIME}}" class="date dateComponent required" placeholder="请选择时间" onclick="new Calendar().show(this)">
					 </td>
				</tr>
				<tr>
					<th>开票金额</th>
					<td>
						<input   type="text" name="invoiceAmount" class="number required" value="{{conTractObj.INVOICE_AMOUNT}}" /><span style="color:#ccc">（万元）</span>
					</td>
					<th>未开票金额</th>
					<td>
						<input   type="text" name="nonInvoiceAmount" class="number required" value="{{conTractObj.NON_INVOICE_AMOUT}}" /><span style="color:#ccc">（万元）</span>
					</td>
				</tr>
				<tr>
					<th>合同回款状态</th>
					<td>
						<input type="text" name="paymentStatusName" class="required paymentStatusName dropDownList" value="{{conTractObj.paymentStatusName}}" />
						<input type="hidden" name="paymentStatus" value="{{conTractObj.PAYMENT_STATUS}}"/>
					</td>
					<th>预计全部回款时间</th>
					<td>
						<input type="text" name="expectPaymentTime" class="date dateComponent required" value="{{conTractObj.EXPECT_PAYMENT_TIME}}" placeholder="请选择时间" onclick="new Calendar().show(this)">
					</td>
				</tr>					
				<tr>
					<th>备注</th>
					<td colspan="3">
						<textarea type="text" name="remarks" class="required" style="width:83%;height:80px">{{conTractObj.REMARKS}}</textarea>
					</td>		
				</tr>
			</table>
			
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected">合同和项目的关系</a>
			<img ng-click="adddo()" ng-if="contractProjType==2||contractProjType==4" src="../../../img/add.png"/>
		</div>
		<div class="form_div" id="lay1">
			<table style="width:70%">
				<tr ng-repeat="item in relactionArr">
					<th>项目类型</th>
					<td>
						<input type="text" id="dropDownProjectTypeName{{$index}}" class="dropDownList" placeholder="请选择项目类别" ng-model="item.proTypeName"/>
						<input type="hidden" id="dropDownProjectType{{$index}}" ng-model="item.proType" />
					</td>
					<th>项目名称</th>
					<td>
						<input type="text" id="dropDownTree{{$index}}" class="dropDownList required" placeholder="请选择项目" ng-model="item.proName"/>
						<input type="hidden" id="dropDownTreeProNo{{$index}}" ng-model="item.proNo" />
					</td>
					<th>金额</th>
					<td>
						<input type="text" class="required number" ng-model="item.price"/><span style="color:#ccc">（万元）</span>
					</td>
				</tr>
			</table>
		</div>

		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">

var validator;
var ngScope;
var cond_categoryCode="";
var userData;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	$scope.relactionArr=[];
	ngScope = $scope;
	$scope.curUnit={};
	$scope.userList=[];
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	var params = getUrlParams();
	$scope.params=params;
	/* 数据加载 */
	$scope.loadProject=function(rowid,contractNo){
		$http.get(serviceBasePath+"eap/pmsServices/fm/contractBase/contractBase/get?rowid="
			+rowid+"&ticket="+ticket+"&contractNo="+contractNo).success(function(response){
			if(response.statusCode==200){
				$scope.linklist= response.data.linklist;
				$scope.conTractObj = response.data.obj;
				if($scope.conTractObj.CONTRACT_PROJ_TYPE==1){
					$scope.conTractObj.contractProjTypeName="一对一";
				}else if($scope.conTractObj.CONTRACT_PROJ_TYPE==2){
					$scope.conTractObj.contractProjTypeName="一对多";
				}else if($scope.conTractObj.CONTRACT_PROJ_TYPE==3){
					$scope.conTractObj.contractProjTypeName="多对一";
				}else if($scope.conTractObj.CONTRACT_PROJ_TYPE==4){
					$scope.conTractObj.contractProjTypeName="多对多";
				}
				$scope.contractProjType=$scope.conTractObj.CONTRACT_PROJ_TYPE;
				if($scope.conTractObj.PRICE_IS_IN_TAX==0){
					$scope.conTractObj.priceIsTaxName="否";
				}else if($scope.conTractObj.PRICE_IS_IN_TAX==1){
					$scope.conTractObj.priceIsTaxName="是";
				}
				if($scope.conTractObj.BILLING_STATUS==0){
					$scope.conTractObj.billingStatusName="未开";
				}else if($scope.conTractObj.BILLING_STATUS==1){
					$scope.conTractObj.billingStatusName="已开";
				}
				if($scope.conTractObj.PAYMENT_STATUS==0){
					$scope.conTractObj.paymentStatusName="未回款";
				}else if($scope.conTractObj.PAYMENT_STATUS==1){
					$scope.conTractObj.paymentStatusName="已回款";
				}
				$scope.writtenPrice=$scope.conTractObj.WRITTEN_PRICE;
				
				for(var i=0;i<$scope.linklist.length;i++){
					$scope.add($scope.linklist[i]);
				}
				
			}
		});
	};
	/* 初始加载 */
	$scope.loadProject(params.rowid,params.contractNo);
	/* 业务部门 */
	new DropDownList().init({
		renderTo:"input[name=businessUnit]",
		url:"../../component/orgTree.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			//selectedUnitCode=result.unitCode;
			$("input[name=businessUnit]").val(result.unitName);
		}
	});
	/* 合同税点 */
	new DropDownList().init({
		renderTo:"input[name=taxPoint]",
		data:[{id:0,name:"6%"},{id:1,name:"11%"}],
		textField:"name",
		onSelected:function(result){
			$("input[name=taxPoint]").val(result.name);	
		}
	});
	/* 合同类型 */
	new DropDownList().init({
		renderTo:"input[name=contractType]",
		data:[{id:0,name:"明确总价合同"},{id:1,name:"明确单价合同"},{id:3,name:"费率合同"}],
		textField:"name",
		onSelected:function(result){
			$("input[name=contractType]").val(result.name);	
		}
	});
	/* 区域 */
	new DropDownList().init({
		renderTo:".dropDownArea",
		url:"../../component/areaList.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$(".dropDownArea").val(result.name);
			$("input[name=province]").val(result.getParentNode().getParentNode().name);
			$("input[name=city]").val(result.getParentNode().name);
			$("input[name=district]").val(result.name);
		}
	});
	$scope.contractProjType=1
	/* 合同和项目的关系 */
	new DropDownList().init({
		renderTo:".contractProjTypeName",
		data:[{id:1,name:"一对一"},{id:2,name:"一对多"},{id:3,name:"多对一"},{id:4,name:"多对多"}],
		height:"200px",
		textField:"name",
		onSelected:function(result){
			$(".contractProjTypeName").val(result.name);
			$scope.contractProjType=result.id;
			if($scope.contractProjType==1){
				var writtenPrice=$("input[name=writtenPrice]").val();
				$scope.relactionArr[0].price=writtenPrice;
			}else{
				$scope.relactionArr[0].price=0;
			}
			$scope.$apply();
			$("input[name=contractProjType]").val(result.id);	
		}
	});
	
	
	/* 是否包含税 */
	new DropDownList().init({
		renderTo:".priceIsTaxName",
		data:[{id:0,name:"否"},{id:1,name:"是"}],
		textField:"name",
		onSelected:function(result){
			$(".priceIsTaxName").val(result.name);
			$("input[name=priceIsTax]").val(result.id);	
		}
	});
	/* 合同开票状态 */
	new DropDownList().init({
		renderTo:".billingStatusName",
		data:[{id:0,name:"未开"},{id:1,name:"已开"}],
		textField:"name",
		onSelected:function(result){
			$(".billingStatusName").val(result.name);
			$("input[name=billingStatus]").val(result.id);	
		}
	});
	
	/* 回款状态 */
	new DropDownList().init({
		renderTo:".paymentStatusName",
		data:[{id:0,name:"未回款"},{id:1,name:"已回款"}],
		textField:"name",
		onSelected:function(result){
			$(".paymentStatusName").val(result.name);
			$("input[name=paymentStatus]").val(result.id);	
		}
	});
	/* 表单验证 */
	validator = $("#saveForm").validate({
		onsubmit: false,
		focusInvalid: false,
		focusCleanup: true,
		errorElement: "span",
		ignore:".ignore",
		invalidHandler: function(form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				
			} 
		}
	});
	
	$scope.getdataPrice=function(){
		if($scope.contractProjType==1){
			$scope.relactionArr[0].price=$scope.writtenPrice;
		}
	};
	
	$scope.add=function(item){
		$scope.relactionArr.push(item);
		var index=$scope.relactionArr.length-1;
		lazyCall('t1'+index,function(){
			/* 项目类型 */
			new DropDownList().init({
				renderTo:"#dropDownProjectTypeName"+index,
				url:"../../component/projectType.html?required=false&ticket="+ticket,
				height:"200px",
				onSelected:function(result){
					$scope.relactionArr[index].proTypeName=result.categoryName;
					$scope.relactionArr[index].proType=result.categoryCode;
				 	//$("#dropDownProjectTypeName"+index).val(result.categoryName);
				 	//$("#dropDownProjectTyp"+index).val(result.categoryCode);
				 	$scope.$apply();
					cond_categoryCode = result.categoryCode;
					/* 联动 */
					projectList.setConfig("url", "../../component/allProjectList.html?categoryCode="+cond_categoryCode+"&required=false&ticket="+ticket);
				}
			});
			/* 项目列表 */
			var projectList = new DropDownList();
			projectList.init({
				renderTo:"#dropDownTree"+index,
				url:"../../component/allProjectList.html?categoryCode="+cond_categoryCode+"&required=false&ticket="+ticket,
				height:"200px",
				onSelected:function(result){
					$scope.relactionArr[index].proName=result.proName;
					$scope.relactionArr[index].proNo=result.proNo;
				 	$scope.$apply();
					
					/* $("#dropDownTree"+index).val(result.proName);
					$("#dropDownTreeProNo"+index).val(result.proNo); */
				}
			});
		}, 200);
	};
	$scope.adddo=function(){
		$scope.add({proNo:"",price:0,proType:"",proTypeName:"",proName:""});	
	};
	/* 保存 */
	$scope.onSave = function(){
		if($("input[name=deviceUnivalent]").val()==""){
			$("input[name=deviceUnivalent]").val("合同未说明");
		}
		if($("input[name=contractor]").val()==""){
			$("input[name=contractor]").val("合同未说明");
		}
		if($("input[name=spUnitCharger]").val()==""){
			$("input[name=spUnitCharger]").val("合同未说明");
		}
		var numPrice=0;
		var writtenPrice=$("input[name=writtenPrice]").val();
		for(var i=0;i<$scope.relactionArr.length;i++){
			numPrice+=parseFloat($scope.relactionArr[i].price);
		}
		if(numPrice>parseFloat(writtenPrice)){
			 new ShowDlog().prompt({msg:"合同总价大于合同书面总价！",
				done:function(){
				},
				t:1500
			});
			 return;
		}
		$("input[name=attrJson]").val(JSON.stringify($scope.relactionArr));
		//$("input[name=companyCode]").val(userData.companyCode);
		var formData = $("#saveForm").serialize();
		
		if($("#saveForm").valid()){
			$.ajax({
				url:serviceBasePath+"eap/pmsServices/fm/contractBase/contractBase/update",
				cache:false,
				method:"POST",
				data:formData,
				success:function(res){
					if(res.statusCode==200){
						 new ShowDlog().prompt({msg:"修改成功！",
							done:function(){
								location.href="contractBaseMgr.html";
							},
							t:1500
						});
					}else{
						//
					}
				},
				error:function(){
					
				}
			});
		}else{
			//alert("表单填写异常，请检查修正后再提交");
		}
	};
	
	/* 取消 */
	$scope.onCancel = function(){
		 window.history.back();
	};
	
});

</script>
</body>
</html>
