<!DOCTYPE HTML>
<html>
<head>
<title> 首页 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../js/util.js"></script>
<script type="text/javascript" src="../../js/Hz2Pinyin.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<style type="text/css">
body{background:#fff;margin:0;padding:0;}
.projectList{margin:0px;padding:0;}
.projectList>li{margin:0px;}
.projectList>li>a{display:block;padding:4px;line-height:26px;font-size:12px;font-family:微软雅黑;color:#666;text-decoration:none;}
.projectList>li>a:hover{background:#3470CC;color:#fff;cursor:default;}
</style>
</head>

<body ng-app="projectList" ng-controller="projectListCtrl">
	<ul class="projectList">
		<li ng-if="required!='true'">
			<a href="javascript:" ng-click="onChooseBlank()">(全部)</a>
		</li>
		<li ng-repeat="item in dataListPage track by $index">
			<a href="javascript:" ng-click="onChoose(item)">{{item[textField]}}</a>
		</li>
		<li><a ng-if="dataListPage.length < dataList.length" href="javascript:" ng-click="pushToPageList()">更多...</a></li>
	</ul>
	<script type="text/javascript">
	var ngScope;
	var app = angular.module("projectList", []);
	app.controller("projectListCtrl", function($scope, $http){
		/* init */
		ngScope = $scope;
		$scope.dataList=[];
		var params = getUrlParams();
		var userDataStr = $.cookie("pmsWeb_user_data");
		var companyCode="";
		var ticket = params.ticket;
		if(ticket){
			companyCode =params.companyCode;
			$scope.required = params.required;
			$scope.textField=params.textField;
		}else{
			if(!userDataStr){
				window.parent.location.href="../login.html";
				return;
			}
			$scope.userData = jQuery.parseJSON(userDataStr);
		}
		
		
		/* 加载数据 */
		var serviceUrl = params.url;
		if(serviceUrl.indexOf("?")>-1){
			serviceUrl+="&companyCode="+companyCode+"&ticket="+ticket;
		}else{
			serviceUrl+="?companyCode="+companyCode+"&ticket="+ticket;
		}
		$http.get(serviceUrl).success(function(res){
			if(res.statusCode==200){
				if(params.keywords){
					$scope.dataList = $().filterByKeywords(res.list, $scope.textField, params.keywords);
				}else{
					$scope.dataList = res.list;
				}
				$scope.dataListPage=[];
				$scope.pushToPageList();
			}else if(res.statusCode==401){
				window.parent.location.href="../login.html";
			}else{
			}
		});
		
		$scope.pushToPageList=function(){
			var size=0;
			for(var i=$scope.dataListPage.length; i<$scope.dataList.length; i++){
				var item = $scope.dataList[i];
				$scope.dataListPage.push(item);
				size++;
				if(size>=20){
					break;
				}
			}
		}
		
		/* 选择 */
		$scope.onChoose=function(obj){
			window.frameElement.callback(obj);
			window.frameElement.close();
		};
		/* 选择空白 */
		$scope.onChooseBlank=function(){
			window.frameElement.callback("");
			window.frameElement.close();
		};
		
	});
	</script>
</body>
</html>
