<!DOCTYPE HTML>
<html>
<head>
<title> 类型管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>

<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../js/util.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>

<link rel="stylesheet" type="text/css" href="../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../css/list.css" />

<script type="text/javascript" src="../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.all{width:100%;height:100%;}
	
	
	
</style>


</head>

<body ng-app="projectType" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th><div align="center">序号</div></th>
				<th><div align="center">项目名称</div></th>
				<th><div align="center">租用人姓名</div></th>
				<th><div align="center">租用日期</div></th>
				<th><div align="center">预计退租时间</div></th>
				
			  </tr>
			  <tr class="tr2" ng-repeat="item in dataObj">
				<td><div align="center">{{$index+1}}</div></td>
				<td><div align="center">{{item.proName}}</div></td>
				<td><div align="center">{{item.employeeName}}</div></td>
				<td><div align="center">{{item.rentDate}}</div></td>
				<td><div align="center">{{item.estimateReturnDate}}</div></td>
				
			  </tr>
			</table>
		</div>

		
	</div>
</div>
<script language="javascript">
	  	$(function(){
	  		$(".timeline").animate({
	  			height:'480px'
	  		},1500);
	  	});
  	</script>

<script type="text/javascript">
	var ngScope;
	var app = angular.module("projectType", []);
	app.controller("userMgrCtrl", function($scope, $http){
		/* init */
		ngScope = $scope;

		$scope.dataObj={}; 
		
		/* var mydate = new Date();
		$(".currentYear").html(mydate.getFullYear()); */
		
		var userDataStr = $.cookie("pmsWeb_user_data");
		if(!userDataStr){
			
			noLogin(location.href);
			return;
		}
		$scope.userData = jQuery.parseJSON(userDataStr);
		var ticket = $.cookie("pmsWeb_ticket");
		
		var params = getUrlParams();
		$scope.required = params.required;
		
		
		var dormCode = "";
		if(params.dormCode){
			dormCode = params.dormCode; 
			
		}
		
		/* 加载数据 */
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/dormMg/dorm/dormBed?ticket="+ticket+"&dormCode="+dormCode).success(function(response){
			if(response.statusCode==200){
				
				$scope.dataObj = response.list;
			}else if(response.statusCode==401){
				window.parent.location.href="../login.html";
			}else{
				alert("服务器访问出错！");
			}
		});
		
		
		
	});
	</script>
</body>
</html>
