*{margin: 0;padding: 0;font-family: "microsoft yahei";font-size: 14px;color:#333;}
a{text-decoration: none;}
ul,li{list-style:none;outline-style:none;}
.jl_fl{float:left;}
.jl_fr{float:right;}
.jl_ov{overflow: hidden;}
.jl_clear{clear:both}
input[type="text"],input[type="password"]{text-indent: 10px;border-radius:5px;list-style: none;outline: none;height:30px;line-height:30px;}
.jl_containter{width: 100%;}
.jl_contion{width: 90%;margin: 0 auto;}
.btn_loginexit{margin-left:10px;cursor: pointer;}
.btn_loginexit:hover{color: #2AA5DF;}
.jl_cirbtn{border-radius:20px;padding:5px 25px;display:inline-block;margin-right:20px;cursor:pointer}
.jl_cirbtn.return{border:1px solid #2aa5e0;color:#2aa5e0}
.jl_cirbtn.upload{background:#2aa5e0;color:#fff}
.jl_cirbtn.upload img{margin-right:5px}
.jl_mediawarp{overflow:hidden;margin-top:30px}
.jl_media{float:left;margin-right:20px;width:130px;text-align:center;}
.jl_media img{margin-bottom:20px;cursor:pointer}
.jl_media label{display:block;text-align:center;}
.con_center{text-align:center}
.jl_lgbrn{padding: 8px 40px;}

.header{background:#02a2ff;position:fixed;top:0;width:100%;z-index:9999}
.header .sear_input{padding:30px 0;text-align:center}
.header .sear_input input[placeholder]{color:#7fceff !important;} 
.header .sear_input input::-webkit-input-placeholder{color:#7fceff}
.header .sear_input input:-moz-placeholder{color:#7fceff }
.header .sear_input input::-moz-placeholder{color:#7fceff }
.header .sear_input input:-ms-input-placeholder{color:#7fceff}
.header .sear_input input{width:80%;border-radius:40px;border:none;height:50px;background:#33b1ff;color:#fff !important;font-size:16px}
.page_title{position:relative;line-height:60px;height:60px;color: #fff;font-size: 16px;text-align:center}
.page_title a.return img{width: 13px;}
.page_title .return {position:absolute;left:10px;top:8px;width:23px;height:41px;}
.footer{height:40px;background:#f7f7f7;position:fixed;bottom:0;width:100%;z-index:9999}
.footer p{text-align:center;line-height:40px;color:#4d4d4d}
/* 知识库 */
.konw_department{padding-top:160px}
.konw_department ul{width:90%;margin:30px auto;overflow:hidden}
.konw_department ul li{width:50%;float:left;overflow:hidden;margin: 20px 0;height:40px}
.konw_department ul li img{width:40px;float:left;margin-right:10px}
.konw_department ul li .depart_name{float:left}
.konw_department ul li .depart_name p{font-size:16px}
.konw_department ul li .depart_name p.soft{color:#6bc820}
.konw_department ul li .depart_name p.human{color:#00a28b}
.konw_department ul li .depart_name p.administration{color:#ff393b}
.konw_department ul li .depart_name p.engineer{color:#5300a6}
.konw_department ul li .depart_name p.quality{color:#f38c1e}
.konw_department ul li .depart_name p.ministry{color:#055cc5}
.konw_department ul li .depart_name span{color:#999999}

/* 知识库搜索list */
.sear_list{padding:170px 0 40px 0}
.sear_list ul li{margin:20px auto;position:relative;border-bottom:1px solid #f2f2f2;padding-bottom:20px}
.sear_list ul li img.next_page{position:absolute;right:10px;top:13px;width:10px}
.sear_list ul li h3{width:90%;margin:0 auto;}
.sear_list ul li h3 span{color:#02a2ff;margin-right:10px}
.sear_list ul li p{width:90%;margin:0 auto;white-space:nowrap; text-overflow:ellipsis;overflow:hidden;line-height:30px;color:#999999}

/* 知识列表 */
.klbase_list{padding:60px 0 40px 0}

/* 知识列表详情 */
.klbase_list .base_tip{width:90%;margin:10px auto 0;}
.klbase_list .base_tip span{color:#999999;margin-right:20px}
.klbase_list .base_tip img{width:15px;margin-right:10px}
.klbase_con{padding-bottom:40px;border-bottom:1px solid #f2f2f2}
.klbase_con p{width:90%;margin:0 auto;text-indent:30px;color:#999999;line-height:25px}
.klbase_list ul.fj_con li{border-bottom:none !important;margin-bottom:0px;padding:0}
.klbase_list ul.fj_con li h3.fj_title,.klbase_list ul.fj_con li h3.fj_title *{color:#999999}
.klbase_list ul.fj_con li h3 a{float:right;color:#999999}


