<!DOCTYPE HTML>
<html>
<head>
<title> 加油记录 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/ViewState.js"></script>
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript" src="../../../../js/util.js"></script>
<script type="text/javascript" src="../../../../js/ng-base.js"></script>
<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../../../css/list.css" />
<link rel="stylesheet" type="text/css" href="../../../../css/common.css" />


<style type="text/css">
	.title_tabs{list-style-type:none;padding:0;margin:0;height:39px;border-bottom:solid 3px #4CA9FF;}
	.title_tabs li{position:relative;padding:0;margin:0;border:solid 0px;float:left;height:39px;background:#E1E1E1;}
	.title_tabs li>a{display:block;line-height:39px;border:solid 0px;padding:0 70px 0 50px;margin-right:-14px;
		color:#666;font-size:14px;font-weight:bold;}
	.title_tabs li.selected{background:#4CA9FF;z-index:9;}
	.title_tabs li.selected>a{color:#fff;font-size:14px;font-weight:bold;}
	.title_div{background:#4CA9FF;}
/* 	.title_div>.title_left{background:#D9E9FF !important;} */
	
	.dropDownArea{background-image:url(../../../../img/flag.png);background-repeat: no-repeat;background-position:right;background-position:185px;cursor:pointer;}
	.dropDownProjectType{background-image:url(../../../../img/type.png);background-repeat: no-repeat;background-position:right;background-position:185px;cursor:pointer;}
	.dropDownProjectType1{background-image:url(../../../../img/type.png);background-repeat: no-repeat;background-position:right;background-position:185px;cursor:pointer;}
	.dlog-import{width:460px;height:200px;}
	.dlog-edit{width:800px;height:520px;}
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName" storagekey="gm.vmMgr.filling.fillingRecordList">

<div class="list">
	<div class="list_content">
		<ul class="title_tabs">
			<li class="selected">
				<a href="javascript:" ui-id="#lay1">中石化消费账单</a>
			</li>
			<li>
				<a href="javascript:" ui-id="#lay2">上报消费记录</a>
			</li>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="btn" ng-click="doCheckEachOther()">
				相互核对
			</div>
			<div class="btn" ng-click="goBack()">
				返回
			</div>
		</ul>
		
		<div id="lay1">
			<div class="title_div">
				<div class="title_left">
					
					<input type="text" viewstate="sinopec_cardNo" style="width:200px;" placeholder="请输入加油卡号"/>
					<input type="text" viewstate="sinopec_startTime" placeholder="起始日期" class="dateComponent" onclick="new Calendar().show(this)"/>
					<input type="text" viewstate="sinopec_endTime" placeholder="结束日期" class="dateComponent" onclick="new Calendar().show(this)"/>
					<input type="hidden" viewstate="sinopec_checkResult"/>
					<input type="text" viewstate="sinopec_checkResultName" placeholder="选择核对结果" class="dropDownList"/>
					<div class="query_div" ng-click="doSinopecQuery()">
						查询
					</div>
					
					<div class="query_div" ng-click="toImport()">
						导入
					</div>
				</div>
			</div>
			
			<div class="table_div">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
				   <tr class="tr1">
					<th><div align="center">序号</div></th>
					<th><div align="center">卡号</div></th>
					<th><div align="center">时间</div></th>
					<th><div align="center">品种</div></th>
					<th><div align="center">数量</div></th>
					<th><div align="center">单价</div></th>
					<th><div align="center">金额</div></th>
					<th><div align="center">奖励分值</div></th>
					<th><div align="center">余额</div></th>
					<th><div align="center">地点</div></th>
					<th><div align="center">核对时间</div></th>
					<th><div align="center">核对结果</div></th>
					<th><div align="center">操作</div></th>
				  </tr>
				  <tr class="tr2" ng-repeat="item in sinopecDataList">
					<td><div align="center">{{$index+1}}</div></td>
					<td><div align="center">{{item.cardNo}}</div></td>
					<td><div align="center">{{item.recTime}}</div></td>
					<td><div align="center">{{item.oilCategory}}</div></td>
					<td><div align="center">{{item.count}}</div></td>
					<td><div align="center">{{item.price}}</div></td>
					<td><div align="center">{{item.amount}}</div></td>
					<td><div align="center">{{item.score}}</div></td>
					<td><div align="center">{{item.balance}}</div></td>
					<td><div align="center">{{item.address}}</div></td>
					<td><div align="center">{{item.checkTime}}</div></td>
					<td>
						<div align="center" ng-if="!item.checkResult || item.checkResult==0" style="color:#ff9900;">未核对</div>
						<div align="center" ng-if="item.checkResult==1" style="color:green;">核对成功</div>
						<div align="center" ng-if="item.checkResult==2" style="color:red;">核对异常</div>
					</td>
					<td>
						<div align="center">
				    		<img ng-if="item.checkResult==1" ng-click="toDetail(item)" class="operationImg" src="../../../../img/list_see-icon.png" title="查看对应记录">
				    		<img  ng-if="!item.checkResult || item.checkResult==0" ng-click="toAdd(item)" class="operationImg" src="../../../../img/list_item_modify-icon.png" title="录入">
			    		</div>
					</td>
				  </tr>
				</table>
			</div>
	
			<div id="page_bar2" class="list_bottom page_bar" align="center">
			</div>
		</div>
		
		<div id="lay2">
			<div class="title_div">
				<div class="title_left">
					
					<input type="text" viewstate="cardNo" style="width:200px;" placeholder="请输入加油卡号"/>
					<input type="text" viewstate="startTime" placeholder="起始日期" class="dateComponent" onclick="new Calendar().show(this)"/>
					<input type="text" viewstate="endTime" placeholder="结束日期" class="dateComponent" onclick="new Calendar().show(this)"/>
					<input type="hidden" viewstate="checkResult"/>
					<input type="text" viewstate="checkResultName" placeholder="选择核对结果" class="dropDownList"/>
					<div class="query_div" ng-click="doQuery()">
						查询
					</div>
					
					&nbsp;&nbsp;
				</div>
	<!-- 			<div class="title_add" onclick="location.href='addFuelcard.html'"> -->
	<!-- 				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增 -->
	<!-- 			</div> -->
			</div>
			
			<div class="table_div">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
				   <tr class="tr1">
					<th><div align="center">序号</div></th>
					<th><div align="center">卡号</div></th>
					<th><div align="center">加油时间</div></th>
					<th><div align="center">用车类型</div></th>
					<th><div align="center">项目名称 / 部门名称</div></th>
					<th><div align="center">上报人</div></th>
					<th><div align="center">车牌号</div></th>
					<th><div align="center">金额</div></th>
					<th><div align="center">加油站点</div></th>
					<th><div align="center">备注</div></th>
					<th><div align="center">核对时间</div></th>
					<th><div align="center">核对结果</div></th>
					<th><div align="center">结果说明</div></th>
					<th><div align="center">操作</div></th>
				  </tr>
				  <tr class="tr2" ng-repeat="item in dataList">
					<td><div align="center">{{$index+1}}</div></td>
					<td><div align="center">{{item.cardNo}}</div></td>
					<td><div align="center">{{item.fillingTime}}</div></td>
					<td>
						<div ng-if="item.useType==1" align="center">项目用车</div>
						<div ng-if="item.useType==2" align="center">部门用车</div>
					</td>
					<td>
						<div ng-if="item.useType==1" align="center">{{item.proName}}</div>
						<div ng-if="item.useType==2" align="center">{{item.deptName}}</div>
					</td>
					<td><div align="center">{{item.vehicleUserName}}</div></td>
					<td><div align="center">{{item.plateNo}}</div></td>
					<td><div align="center">{{item.amount}}</div></td>
					<td><div align="center">{{item.place}}</div></td>
					<td><div align="center">{{item.remarks}}</div></td>
					<td><div align="center">{{item.checkTime}}</div></td>
					<td>
						<div align="center" ng-if="!item.checkResult || item.checkResult==0" style="color:#ff9900;">未核对</div>
						<div align="center" ng-if="item.checkResult==1" style="color:green;">核对成功</div>
						<div align="center" ng-if="item.checkResult==2" style="color:red;">核对异常</div>
					</td>
					<td><div align="center" style="color:#ff9900;">{{item.checkDescr}}</div></td>
					<td>
						<div align="center">
				    		<img  ng-click="toUpdate(item)" class="operationImg" src="../../../../img/list_item_modify-icon.png" title="修改">
			    		</div>
					</td>
				  </tr>
				</table>
			</div>
	
			<div id="page_bar" class="list_bottom" align="center">
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
simpleController({
	init:function($scope, $http){
		/* init */
		$scope.dataList=[];
		$scope.sinopecDataList=[];
		var params=getUrlParams();
		var viewstate = new ViewState();
		
		if(params.cardNo && params.cardNo!=''){
			$("input[viewstate=cardNo]").val(params.cardNo);
			$("input[viewstate=sinopec_cardNo]").val(params.cardNo);
		}
		
		/* 初始化视图 */
		$(".title_tabs>li>a").each(function(){
			var layId = $(this).attr("ui-id");
			var $li = $(this).parent();
			var idx = $(".title_tabs>li").index($li);
			if(idx!=0){
				$(layId).hide();
				$(layId).attr("data-show", "0");
			}else{
				$(layId).attr("data-show", "1");
			}
			$(this).click(function(){
				$(".title_tabs>.selected").removeClass("selected");
				$(this).parent("li").addClass("selected");
				var layId = $(this).attr("ui-id");
				$("div[data-show=1]").hide();
				$("div[data-show=1]").attr("data-show", "0");
				$(layId).show();
				$(layId).attr("data-show", "1");
			});
		});

		new DropDownList().init({
			renderTo:"input[viewstate=checkResultName]",
			data:[{id:-1, name:"全部"}, {id:0, name:"未核对"}, {id:1, name:"核对无误"}, {id:2, name:"核对异常"}],
			textField:"name",
			onSelected:function(result){
				$("input[viewstate=checkResult]").val(result.id);
				$("input[viewstate=checkResultName]").val(result.name);
				$("input[viewstate=checkResultName]").focus();
			}
		});
		
		new DropDownList().init({
			renderTo:"input[viewstate=sinopec_checkResultName]",
			data:[{id:-1, name:"全部"}, {id:0, name:"未核对"}, {id:1, name:"核对无误"}, {id:2, name:"核对异常"}],
			textField:"name",
			onSelected:function(result){
				$("input[viewstate=sinopec_checkResult]").val(result.id);
				$("input[viewstate=sinopec_checkResultName]").val(result.name);
				$("input[viewstate=sinopec_checkResultName]").focus();
			}
		});
		
		/* 加载数据 */
		$scope.loadData=function(){
			$scope.httpGet({
				url:"eap/pmsServices/gm/vm/filling/list",
				data:{"cardNo":viewstate.get("cardNo"), "startTime":viewstate.get("startTime"), "endTime":viewstate.get("endTime"), 
					"checkResult":viewstate.get("checkResult")},
				success:function(response){
					$scope.dataList = response.list;
				},
				pageChange:function(pageNum){
					$scope.loadData();
				}
			});
		};
		
		
		/* 加载数据 */
		$scope.loadSinopecBillData=function(){
			$scope.httpGet({
				url:"eap/pmsServices/gm/vm/filling/listSinopecBill",
				data:{"cardNo":viewstate.get("sinopec_cardNo"), "startTime":viewstate.get("sinopec_startTime"), "endTime":viewstate.get("sinopec_endTime"), 
					"checkResult":viewstate.get("sinopec_checkResult")},
				success:function(response){
					$scope.sinopecDataList = response.list;
				},
				pageRenderTo:"#page_bar2",
				pageChange:function(pageNum){
					$scope.loadSinopecBillData();
				}
			});
		};
		
		$scope.doCheckEachOther=function(){
			$scope.httpGet({
				url:"eap/pmsServices/gm/vm/filling/checkWithEachOther",
				data:null,
				success:function(response){
					new ShowDlog().prompt({
						msg:response.resultMsg,
						done:function(){
							$scope.loadData();
							$scope.loadSinopecBillData();
						},
						t:1500
					});
				}
			});
		};
		
		
		/* 上报记录查询 */
		$scope.doQuery=function(){
			viewstate.collect();
			$scope.loadData();
		};
		
		/* 中石化消费查询 */
		$scope.doSinopecQuery=function(){
			viewstate.collect();
			$scope.loadSinopecBillData();
		};
		
		$scope.toAdd=function(item){
			new ShowDlog().showFrame("addFillingRecord.html?rowid="+item.rowid, "输入", function(data){
				if(data=="SUCCESS"){
					$scope.loadData();
					$scope.loadSinopecBillData();
				}
			}, "dlog-edit");
		};
		$scope.toDetail=function(item){
			new ShowDlog().showFrame("showFillingRecord.html?rowid="+item.rowid, "查看", function(data){
				if(data=="SUCCESS"){
					$scope.loadData();
					$scope.loadSinopecBillData();
				}
			}, "dlog-edit");
		};
		$scope.toUpdate=function(item){
			new ShowDlog().showFrame("editFillingRecord.html?rowid="+item.rowid, "修改", function(data){
				if(data=="SUCCESS"){
					$scope.loadData();
					$scope.loadSinopecBillData();
				}
			}, "dlog-edit");
		};
		
		$scope.toImport=function(){
			new ShowDlog().showFrame("importSinopecBill.html", "导入中石化消费账单", function(data){
				if("SUCCESS"==data){
					$scope.loadData();
					$scope.loadSinopecBillData();
				}
			}, "dlog-import");
		};
		
		$scope.goBack=function(){
			location.href="../fuelcard/fuelcardMgr.html";
		};
		
		/* 初始查询 */
		$scope.doQuery();
		$scope.doSinopecQuery();
	}
});
</script>
</body>
</html>
