<!DOCTYPE HTML>
<html>
<head>
<title>经验库修改</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../js/PageBar.js"></script>
<script type="text/javascript" src="../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../js/DropDownList-1.2/DropDownList.css"/>

<link rel="stylesheet" href="ckeditor/samples/css/samples.css">
<link rel="stylesheet" href="ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css">
<script type="text/javascript" src="../../js/Calendar.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/util.js"></script>

<script type="text/javascript" src="../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../css/edit.css"/>

<script type="text/javascript" src="../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../js/showDlog/showDlog-blue.css" />
<script type="text/javascript" src="../../js/jquery.form.js"></script>


  <!-- <link rel="stylesheet" href="/../js/kindedit/themes/default/default.css" /> -->
	<link rel="stylesheet" href="../../js/kindedit/plugins/code/prettify.css" />
	<script charset="utf-8" src="../../js/kindedit/kindeditor.js"></script>
	<script charset="utf-8" src="../../js/kindedit/zh_CN.js"></script>
	<script charset="utf-8" src="../../js/kindedit/plugins/code/prettify.js"></script>

<style type="text/css">
	.chooseUser{width:1000px;height:530px;}
	.sgreen{background:#EDF4FF;border:dashed 1px #72BBFF;}
	.sred{background:#FFFF99;border:dashed 1px #FF9900;}
	
	.cke_contents{height:500px !important}
	
	.dialogs-keywords{width:480px;height:350px;}
</style>
</head>

<body ng-app="userMgr" ng-controller="userMgrCtrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">修改问题</label>
			</div>
			<img src="../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a class="tab selected">文档属性</a>
		</div>
		<form id="saveForm" class="required-validate" >
			<div class="form_div" id="lay1">
				<table>
					<tr>
						<th>项目类别</th>
						<td width="300px">
							<input type="text" id="projectType" name="proCategoryName" class="dropDownList" placeholder="请选择项目类型"/>
							<input type="hidden" name="proCategory"/>
						</td>
						<th>项目名称</th>
						<td width="300px">
							<input type="text" value="{{getData.PRO_NAME}}" id="projectList" name="proName" class="dropDownList" placeholder="请选择项目"/>
							<input type="hidden" name="proNo" value="{{getData.PRO_NO}}"/>							
						</td>
						
						<th>问题标题</th>
						<td width="300">
							<input type="text" name="questionTitle" ng-model="getData.QUESTION_TITLE" class="required" maxlength="16"/>
						</td>
					</tr>
					<tr>
						<th>问题分类</th>
						<td>
							<input type="text" name="typeName" ng-model="getData.TYPE_NAME" id="typeName" class="required dropDownList"/>
							<input type="hidden" name="typeCode" id="typeCode" value="{{getData.TYPE_CODE}}"/>
							<input type="hidden" name="collator" class="required" value="{{getData.COLLATOR}}"/>
							<input type="hidden" name="publicStatus" id="publicStatus" value="1"/>
						</td>
						<th>截止日期</th>
						<td>
							<input type="text" id="planSoveDate" name="planSoveDate" class="required date dateComponent" value="{{getData.PLANSOVLE_DATE}}" placeholder="预计解决日期" onclick="new Calendar().show(this)" />
						</td>
						<th>关键字</th>
						<td style="position:relative">
							<input type="text" name="keywords" ng-model="getData.KEYWORDS" readonly="readonly"/>
							<a href="#" ng-click="add()" style="float: right;margin: 1px 60px 0 10px;">
								<img src="../../img/addKey.png">
							</a>
							<span style="position:absolute;right: -47px;top: 7px;color: #ffb692;">关键字以逗号相隔</span>
						</td>
					</tr>
					<tr>
						<th>
						解答人
						</th>
						<td>
							<input type="text" name="sovlerName" id="sovlerName" class="dropDownList" ng-click="onChooseSolverClickHandler()" value="{{getData.employeename}}" placeholder="请输入解答人"/>
							<input type="hidden" name="sovler" id="sovler" value="{{getData.SOVLER}}"/>
						</td>
					</tr>
					<tr>
						<th>内容</th>
						<td colspan="5">
							<textarea readonly="readonly" id="content" name="content" cols="60" rows="8" style="width:931px;height:300px;visibility:hidden;margin-left:50px;"></textarea>	
							<input name="employeeCode" type="hidden" />
							<input name="employeeName" type="hidden" />
							<input name="questionCode" type="hidden" />
							<input name="questionContent" type="hidden" />
							<input name="companyCode" type="hidden" />	
							<input name="sovleDate" type="hidden" value="{{getData.SOVLE_DATE}}"/>	
							<input name="sovler" type="hidden" value="{{getData.SOVLER}}"/>	
												
						</td>
						
					</tr>
					<tr>
						<th>备注</th>
						<td colspan="5">
							<textarea placeholder="请输入备注" name="remarks" ng-model="getData.REMARKS"  cols="152"  rows="5"></textarea>
						</td>
					</tr>
				</table>
				
			</div>
			
			<div class="form_bottom">
				<a href="javascript:" ng-click="onSave()" class="title_save">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
				</a>
				<a href="javascript:" ng-click="onCancel()" class="title_cancel">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
				</a>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
var editor1;
KindEditor.ready(function(K){
    editor1 = K.create("textarea[id='content']",{
        resizeType : 1,
        allowPreviewEmoticons: false,
        allowImageUpload:true,//允许上传图片
        allowFileManager:true, //允许对上传图片进行管理
        uploadJson:'../../js/kindedit/upload_json.jsp', //上传图片的java代码，只不过放在jsp中
        fileManagerJson:'../../js/kindedit/file_manager_json.jsp',
        afterUpload: function(){this.sync();}, //图片上传后，将上传内容同步到textarea中
        afterBlur: function(){this.sync();},   ////失去焦点时，将上传内容同步到textarea中
        items : [
            'fontname','fontsize', '|','forecolor', 'hilitecolor','bold', 'italic','underline',
            'removeformat','|', 'justifyleft','justifycenter', 'justifyright','insertorderedlist',
            'insertunorderedlist','|', 'emoticons','link','media','|','image']   
    });
    
});    


function validateValue$(){
	if($.formValidator.pageIsValid()){
		return true;
	}
	return false;
	
}

var cond_categoryCode="",cond_proNo="",cond_date="",cond_searchName="",cond_jobCode="";
var validator;
var ngScope;
var userData;
var app = angular.module("userMgr", []);
app.controller("userMgrCtrl", function($scope, $http){
	/* init */
	var urlParams=getUrlParams();
	ngScope = $scope;
	$scope.curUnit={};
	var ticket = $.cookie("pmsWeb_ticket");
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	new DropDownList().init({
		renderTo:"#projectType",
		url:"../component/projectType.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("input[name=proCategory]").val(result.categoryCode);
			$("#projectType").val(result.categoryName);
			projectList.setConfig("url", "../component/projectList.html?categoryCode="+cond_categoryCode+"&ticket="+ticket);
		}
	});

	var projectList = new DropDownList();
	projectList.init({
		renderTo:"#projectList",
		url:"../component/projectList.html?ticket="+ticket,
		height:"200px",
		onSelected:function(result){
			$("input[name=proNo]").val(result.proNo);
			$("#projectList").val(result.proName);
		}
	});
	
	$("input[name=employeeName]").val(userData.employeeName);
	$("input[name=employeeCode]").val(userData.employeeCode);
	$("input[name=companyCode]").val(userData.companyCode);
	$("input[name=questionCode]").val(urlParams.questionCode);
	ticket = $.cookie("pmsWeb_ticket");

	/* 视图渲染 */
	$(".tabs>a").each(function(){
		var layId = $(this).attr("href");
		var idx = $(".tabs>a").index($(this));
		if(idx!=0){
			$(layId).hide();
			$(layId).attr("data-show", "0");
		}else{
			$(layId).attr("data-show", "1");
		}
		$(this).click(function(){
			$(".tabs>.selected").removeClass("selected");
			$(this).addClass("selected");
			var layId = $(this).attr("href");
			$("div[data-show=1]").hide();
			$("div[data-show=1]").attr("data-show", "0");
			$(layId).show();
			$(layId).attr("data-show", "1");
			
		});
	});
	
	
	new DropDownList().init({
		renderTo:"input[name=publicStatusName]",
		data:[{code:1, name:'提出'},{code:2, name:'上报'},{code:3, name:'解决'}],
		textField:"name",
		height:"100px",
		onSelected:function(result){
			$("input[name=publicStatusName]").val(result.name);
			$("#publicStatus").val(result.code);
		}
	});
	
	$scope.add=function(){
	   new ShowDlog().showFrame("keywords.html?keywords="+$("input[name=keywords]").val(),"添加关键词",
			function(data){
				if(data){
					$("input[name=keywords]").val(data);
				}
			},
			"dialogs-keywords"
		);
	};
		
	
	$scope.onChooseSolverClickHandler=function(){
		new ShowDlog().showFrame("../component/chooseUser.html", "选择问题解答人", function(data){
			if(data && data.length>0){
				$("input[name=sovlerName]").val(data[0].employeename);
				$("input[name=sovler]").val(data[0].employeecode);
			}
		}, "chooseUser");
	};
	
	$http.get(serviceBasePath+"eap/pmsServices/km/question/getTypes?ticket="+ticket).success(function(response){
		if(response.statusCode==401){
			alert("用户凭据过期！请重新登录！");
			window.top.location.href="../../login.html";
			return;
		}
		$scope.getTypesArr = response.list;
		new DropDownList().init({
			renderTo:"#typeName",
			data:$scope.getTypesArr,
			textField:"TYPE_NAME",
			height:"150px",
			onSelected:function(result){
				$("#typeName").val(result.TYPE_NAME);
				$("#typeCode").val(result.TYPE_CODE);
			}
		});
	});
	/* 获取数据  */
	$http.get(serviceBasePath+"eap/pmsServices/km/question/getQuestionByCode?ticket="+ticket+"&questionCode="+urlParams.questionCode).success(function(response){
		if(response.statusCode==401){
			alert("用户凭据过期！请重新登录！");
			window.top.location.href="../../login.html";
			return;
		}else if(response.statusCode==200){
			if(response.data.PUBLISH_STATUS==1){
				response.data.PUBLISH_NAME="提出";
			}else if(response.data.PUBLISH_STATUS==2){
				response.data.PUBLISH_NAME="上报";
			}else if(response.data.PUBLISH_STATUS==3){
				response.data.PUBLISH_NAME="解决";
			}else if(response.data.PUBLISH_STATUS==4){
				response.data.PUBLISH_NAME="归档";
			}
			$scope.getData=response.data;
			editor1.html($scope.getData.QUESTION_CONTENT);
		}
	});
	
	/* 表单验证 */
	validator = $("#saveForm").validate({
		onsubmit: false,
		focusInvalid: false,
		focusCleanup: true,
		errorElement: "span",
		ignore:".ignore",
		invalidHandler: function(form, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				
			} 
		}
	});
		
	
	/* 取消 */
	$scope.onCancel = function(){
		 //history.go(-1); 
		//location.href="knowledgeMan.html";
		hrefTo({
			url:"experienceMgr.html",
			data:{
				_currentPage:urlParams._currentPage
			}
		});
	};
	
	/* var data = CKEDITOR.instances.editor.getData(); */
	/* 保存 */
	$scope.onSave = function(){
		//var formData = $("#saveForm").serialize();
		if($("#saveForm").valid()){
			var data1 = editor1.html();
			//var stemTxt=CKEDITOR.instances.editor.document.getBody().getText();
			$("input[name=questionContent]").val(data1);
			var options = {
					success: function(responseText, statusText) {
						new ShowDlog().prompt({msg:"保存成功！",
							done:function(){
								location.href="experienceMgr.html";
							},
							t:1500
						});
					},      //提交后的回调函数   
					type: "post",               //默认是form的method（get or post），如果申明，则会覆盖  
					dataType: "json",           //html(默认), xml, script, json...接受服务端返回的类型  
					clearForm: false,          //成功提交后，清除所有表单元素的值
					url:serviceBasePath+"eap/pmsServices/km/question/updateQuestion",
					error: function(xhr, status, error) {
						console.log(error);
					}
				};
				$("#saveForm").ajaxSubmit(options);
		}
		
	};
});



</script>
</body>
</html>
