<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>·</title>
	<link rel="stylesheet" type="text/css" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../css/zTreeStyle/zTreeStyle.css" type="text/css">
	<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../js/jquery.ztree.core-3.5.js"></script>
	<script type="text/javascript" src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
	<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="../../js/PageBar.js"></script>
	<script type="text/javascript" src="../../js/config.js"></script>
	<script type="text/javascript" src="../../js/util.js"></script>
	<script type="text/javascript" src="../../js/ng-base.js"></script>
	<script type="text/javascript" src="../../js/showDlog/showDlog.js"></script>
	<link rel="stylesheet" type="text/css" href="../../js/showDlog/showDlog-blue.css" />
	<link rel="stylesheet" type="text/css" href="../../css/list.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/knowledge/knowledge.css"/>
</head>
<body ng-app="pmsWeb" ng-controller="knowLedgeCtrl" style="background:url('../../img/klsearchbj.png') no-repeat top center;background-size:cover">
	<div class="sea_warp">
		<!-- <h1>知识库</h1> -->
		<div class="sea_navbox">
			<div class="search_containter" style="margin:0 auto">
				<div class="ov" style="text-align:center;margin-bottom:50px">
					<!-- <ul class="fl ov sea_no1">
						<li class="cur">内容</li>
						<li>图片</li>
						<li>视频</li>
					</ul>
					<div class="fl sea_navline"></div>
					<ul class="fl ov sea_no2">
						<li class="cur2">全部</li>
						<li>文档</li>
						<li>项目</li>
						<li>合同</li>
					</ul> -->
					<img src="../../img/klSearchLogo.png"/>
				</div>
				<div class="sea_inpwarp">
					<input type="text" name="search" id="search" placeholder="请输入搜索关键字" style="float:left"/>
					<span style="display:inline-block;width: 100px;text-indent: 15px;position:relative;height:40px;line-height:40px;border:1px solid #3385ff;border-left:none;">
						全文检索
						<img src="../../img/weixuanzhong.png" ng-click="editfullText()" style="margin:0 0 0 5px" ng-if="fullTextSearch==0"/>
						<img src="../../img/xuanzhong.png" ng-click="editfullText()" style="margin:0 0 0 5px" ng-if="fullTextSearch==1"/>
					</span>
					<span class="sea_btn" ng-click="search()">搜&nbsp;&nbsp;索</span>
				</div>
			</div>
			<div class="sea_list" style="display:none">
				<p class="sea_tip">找到相关内容 <span>{{totalRecord}}</span>个</p>
				<ul style="height:500px;overflow:auto">
					<li class="sea_con" ng-repeat="item in filetList">
						<div href="javascript:0" ng-click="showdetail(item)">
							<p class="sea_title">{{item.fileTitle}} <span style="color:#6a6b6b;">所属目录：{{item.catalogName}}</span><span style="color:#6a6b6b;">关键字：{{item.keywords}}</span></p>
						</div>
						<div class="seacon_detail">
							<p style="color:#757575">{{item.remark}}</p>
							 <div class="doc_sl">
								 <em style="margin-right: 20px;font-style: normal;color: #999;">上传者：{{item.createUser}}</em>
								 <em style="margin-right: 20px;font-style: normal;color: #999;">上传时间：{{item.createTime}}</em>
							 </div>
						</div>
					</li>
				</ul>	
			</div>
			<div id="page_bar" class="list_bottom" align="center" style="margin: 30px 0;">
			</div>
			
			
		</div>
		
		
	</div>
	<script>
		var currentPage=1;
		function createPageBar(totalPage, curPage, totalRecord){
			new PageBar().init({
				renderTo:"#page_bar",
				totalPage:totalPage,
				totalRecord: totalRecord,
				showPageInfo: true,
				curPage:curPage,
				prevPageText:"上一页",
				nextPageText:"下一页",
				onPage:function(pageNum){
					currentPage=pageNum
					ngScope.search();
				}
			});
		}

		var app = angular.module("pmsWeb", []);
		app.controller("knowLedgeCtrl", function($scope, $http){
			var urlParams = getUrlParams();
			ngScope = $scope;
			window.onkeyup=function(e){
				
				if(e.keyCode==13){
					$scope.search();
				}
			};
			var userDataStr = $.cookie("pmsWeb_user_data");
			if(!userDataStr){
				
				noLogin(location.href);
				return;
			}
			userData = jQuery.parseJSON(userDataStr);
			ticket = $.cookie("pmsWeb_ticket");
			
			var fullTextSearch =0;
			$scope.fullTextSearch=fullTextSearch;
			$scope.editfullText=function(){
				if(fullTextSearch ==0){
					fullTextSearch =1;
				}else{
					fullTextSearch =0;
				}
				$scope.fullTextSearch=fullTextSearch;
			};
			$scope.filetList={};
			$scope.search = function(){
				var fileTitle=$("#search").val();
				if(fileTitle!=""){
					$(".search_containter").css({"margin-left":"0","width":"780px","overflow":"hidden"});
					$(".search_containter .ov").css({"margin-bottom":"0","float":"left","margin-right":"20px","margin-top":"5px"});
					$(".search_containter .ov img").attr("src","../../img/klSearchLogo1.png");
					$(".sea_inpwarp").css({"float":"left"});
					$http.get(serviceBasePath+"eap/pmsServices/km/kmbase/kmbase/searchFiles?fileTitle="+fileTitle+"&currentPage="+currentPage+"&fullTextSearch="+fullTextSearch).success(function(response) {/*encodeURIComponent(*/
						if(response.statusCode!=200){
							alert("请求服务器失败！");
							return;
						}
						$scope.totalRecord=	response.totalRecord;
						$scope.filetList=response.list;
						createPageBar(response.totalPage, response.currentPage, response.totalRecord);
						$(".sea_list").show();
					});
				}else{
					new ShowDlog().prompt({
						icon:"warring",
						msg:"请输入要搜索的内容！",
						done:function(){
						},
						t:1500
					});
				} 
			};
			$scope.showdetail = function(obj){
				location.href="knowcon.html?rowid="+obj.rowid+"&companyCode="+userData.companyCode+"&status=1&data="+$("#search").val();
			}
			
			if(urlParams.data && urlParams.data!=""){
				$("#search").val(urlParams.data);
				$scope.search();
			}
			
		})	

		
	</script>
</body>
</html>