<!DOCTYPE HTML>
<html ng-app="taskMgr">
<head>
<title>任务管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../js/showDlog/showDlog-blue.css" />
<link rel="stylesheet" type="text/css" href="../../css/list.css" />
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../js/PageBar.js"></script>

<script type="text/javascript" src="../../js/config.js"></script>

<script type="text/javascript" src="../../js/showDlog/showDlog.js"></script>




<style type="text/css">

</style>
</head>

<body>

<div class="list" ng-controller="taskMgr">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				&nbsp;&nbsp;&nbsp;&nbsp;任务管理
			</div>
			<img src="../../img/list_Header2-.png">
			<div class="title_add" ng-click="toAdd()">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新增
			</div>
		</div>
		
		<div class="table_div">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			   <tr class="tr1">
				<th width="10%"><div align="center">序号</div></th>
				<th width="10%"><div align="center">任务名称</div></th>
				<th width="10%"><div align="center">任务分组</div></th>
				<th width="10%"><div align="center">时间表达式</div></th>
				<th width="10%"><div align="center">描述</div></th>
				<th width="10%"><div align="center">开始时间</div></th>
				<th width="10%"><div align="center">上次执行时间</div></th>
				<th width="10%"><div align="center">下次执行时间</div></th>
				<th width="10%"><div align="center">任务状态</div></th>
				<th width="10%"><div align="center">操作</div></th>
			  </tr>
			  <tr ng-repeat="item in taskList" class="tr2" >
				<td><div align="center" ng-bind="$index+1">1</div></td>
				<td><div align="center">{{item.jobName}}</div></td>
				<td><div align="center">{{item.jobGroup}}</div></td>
				<td><div align="center">{{item.cronExpression}}</div></td>
				<td><div align="center">{{item.description}}</div></td>
				<td><div align="center">{{item.startDate}}</div></td>
				<td><div align="center">{{item.previousTime}}</div></td>
				<td><div align="center">{{item.nextTime}}</div></td>
				<td>
					<div align="center" ng-if="item.jobStatus==0">禁用</div>
					<div align="center" ng-if="item.jobStatus==1">启用</div>
				</td>
				<td>
					<div align="center">
			    		<img ng-click="doUpdate(item)" class="operationImg" src="../../img/list_item_modify-icon.png" title="修改">
			    		<img  ng-click="doDelete(item)" class="operationImg" src="../../img/list_delete-icon.png" title="删除">
			    		<img class="operationImg" ng-click="doShow(item)" src="../../img/list_see-icon.png" title="查看 ">
			  		</div>
				</td>
			  </tr>
			</table>
		</div>

		<div id="page_bar" class="list_bottom" align="center">
		</div>

	</div>
</div>
<script type="text/javascript">

var ngScope;
var _currentPage=1;
var companyCode="";
var app = angular.module("taskMgr", []);
app.controller("taskMgr", function($scope, $http){
	/* init */
	ngScope = $scope;
	$scope.roleList=[];
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	var userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	companyCode=userData.companyCode;
	$scope.loadTaskList=function(currentPage){
		$http.get(serviceBasePath+"eap/pmsServices/jobTask/list?ticket="+ticket).success(function(response){
			if(response.statusCode!=200){
				alert("请求服务器失败！");
				return;
			}
			$scope.taskList = response.list;
			console.log(response.list);
			//createPageBar(response.totalPage,response.currentPage,response.totalRecord);
		});
	};
	
	$scope.toAdd=function(){
		location.href="addTaskMgr.html";
	};
	
	
	
	
	/* 修改 */
	$scope.doUpdate=function(item){
		location.href="editRoleMgr.html?rowid="+item.roleCode+"&companyCode="+item.companyCode;
	};
	
	/* 显示 */
	$scope.doShow=function(item){
		
		location.href="showRoleMgr.html?rowid="+item.roleCode+"&companyCode="+item.companyCode;
	};
	
	/* 分配模块 */
	$scope.torant=function(item){
		
		location.href="grant.html?roleCode="+item.roleCode+"&companyCode="+item.companyCode+"&roleName="+encodeURIComponent(item.roleName);
	};
	
	/* 删除 */
	$scope.doDelete=function(item){
		new ShowDlog().confirm({
			msg:"确定对该角色进行删除操作吗？",
			ok:function(){
				$http.post(serviceBasePath+"eap/pmsServices/sys/funcConfig/role/delete?roleCode="
				+item.roleCode+"&companyCode="+companyCode).success(function(response){
					$scope.loadRoleList(companyCode, _currentPage);
				});
			},
			cancel:function(){}
		});
	};
	
	
	$scope.loadTaskList(1);
});
</script>
</body>
</html>
