<!DOCTYPE HTML>
<html>
<head>
<title> 资产管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>
<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>

<style type="text/css">
	.dialog-viewcode{width:500px;height:400px;}
    .dialog-viewcyle{width:1100px;height:710px;}
    .item{height:90px;width:160px;border:1px solid #e3e3e3;text-align: center;float: left;margin-left:10px;font-size:14px;margin-top:10px;border-radius:4px;}
    .title1{height:35px;padding-top:13px;background:#78a1d9;border-radius:4px 4px 0px 0px}
    .btn{margin-left:20px;margin-top:5px;border:0px;padding:3px;width:55px;cursor: pointer;}
    .btn1{border:0px;padding:3px;width:55px;cursor: pointer;}
    
   .bt{border:0px; background:#0078D7;color:#fff;font-family: '微软雅黑';cursor: pointer;width:80px;padding:5px;border-radius:8px;margin-left:20px;}
   .ticketno{color:#fff;font-size:14px;margin-left:25px;}
</style>
</head>

<body ng-app="mdu" ng-controller="ctrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">项目开票查看</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected">查看开票</a>
			
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			
			<div class="item" ng-repeat="it in dataList">
			
				<div class="title1">
				 <img  src="../../../img/ticket.png" style="position: absolute;" />	<span class="ticketno">{{it.name}}</span>
				</div>
				<input type="image"  title="{{it.name}}" src="../../../img/dayin1.png" class="btn1" ng-click="printthis(it.name,0)" />
				<input type="image" title="{{it.name}}" src="../../../img/yulan1.png" ng-click="printthis(it.name,1)"  class="btn"  />
				
			</div>
			
			
		</div>
		
		

		<div class="form_bottom" style="width:100%;float:left;margin-top:15px;">
			<input type="button" class="bt" value="打印全部 " id="btnprint" ng-click="printthis1()" />

			<input type="button" class="bt" value="返 回 " id="btnprint" onclick="goback()" />

		</div>
		</form>
	</div>
</div>
<script type="text/javascript">

function goback(){
	
	location.href="bilingList.html";
	
}

function getUrlParams(){
	var params={};
	var url = location.href;
	var start = url.indexOf("?", 0)+1;
	var paramsStr = url.substring(start, url.length);
	var paramsArr = paramsStr.split("&");
	for(var i=0;i<paramsArr.length;i++){
		var kv = paramsArr[i].split("=");
		var k = kv[0];
		var v = kv[1];
		params[k]=v;
	}
	return params;
}
var selectedUnitCode="";
var validator;
var userData;

var assetCode1="";



var assetClassCode1="";
var assetClassName="";
var assetTypeName="";
var assetTypeCode="";
var category_Name="";
var category_Code="";
var proNo="";
var proName="";
var status="";

var searchName="";

var ngScope;
var app = angular.module("mdu", []);
app.controller("ctrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	
	$scope.projectInfo={};
	
	
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	var params = getUrlParams();
	
	var startNo=params.startNo;
	var endNo=params.endNo;
	$scope.dataList=[];
	
	for(var i=startNo;i<=endNo;i++){
		var p={"name":i};
		$scope.dataList.push(p);
	}
	
	
	/* 视图渲染 */
	$(".tabs>a").each(function(){
		var layId = $(this).attr("href");
		var idx = $(".tabs>a").index($(this));
		if(idx!=0){
			$(layId).hide();
			$(layId).attr("data-show", "0");
		}else{
			$(layId).attr("data-show", "1");
		}
		$(this).click(function(){
			$(".tabs>.selected").removeClass("selected");
			$(this).addClass("selected");
			var layId = $(this).attr("href");
			$("div[data-show=1]").hide();
			$("div[data-show=1]").attr("data-show", "0");
			$(layId).show();
			$(layId).attr("data-show", "1");
			
		});
	});
	
	$scope.printthis=function(ticketNo,status){
		
		//window.open("bilingDetail.html?currentNo="+ticketNo+"&status="+status+"&startNo="+startNo+"&endNo="+endNo); 
		
		location.href="bilingDetail.html?currentNo="+ticketNo+"&status="+status+"&startNo="+startNo+"&endNo="+endNo;
		
		
		
	};
	
	$scope.printthis1=function(){
		
		location.href="bilingDetail.html?status=2"+"&startNo="+startNo+"&endNo="+endNo;
		
	};
	

	
	
});
</script>
</body>
</html>
