<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.pm.checkScore.dao.CheckScoreVoMapper" >
  
 
  
  <insert id="insertCheckScore" parameterType="Map" >
    
    insert into PM_CHECK_SCORE(COMPANY_CODE,KPI_CODE,KPI_NAME,CHECK_SCORE,CHECKED_PRO,CHECK_MAN,CHECK_TIME,CHECK_DESC,CHECK_OBJ,SYS_CREATE_TIME,SYS_PROCESS_FLAG)
	VALUES (#{companyCode},#{kpiCode},#{kpiName},#{checkScore},#{checkedPro},#{checkMan},#{checkTime},#{checkDesc},#{checkObj},now(),'1')
  </insert>
  
  <select id="getKpi" parameterType="map" resultType="map">
  	select COMPANY_CODE,CATEGORY_CODE,CYCLE_CODE,SOURCE_CODE,KPI_CODE,KPI_NAME,KPI_SCORE,KPI_CONTENT,CHECK_DEPT,KPI_STATUS from PM_CHECK_KPI
WHERE SOURCE_CODE=#{sourceCode}
  </select>
  
  
 
  
</mapper>