<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.dailylog.dao.DailylogVoMapper" >
 
  <select id="getLogList" parameterType="map" resultType="map">
  		select s.log_date logDate,s.wi_no wiNo,s.wi_pro wiPro,s.wi_record wiRecord,s.wi_plan wiPlan,
		s.wi_result wiResult,s.remarks remarks,u.unit_name unitName,e.employeename,s.sys_create_time createtime from SM_DAILYLOG s
		left join md_org_unit u on u.unit_code=s.unit_code
		left join md_employee e on e.employeecode=s.employeecode
		where 1=1 and
		s.company_code=#{companyCode}
		
		<if test="employeeName !=null and employeeName !=''">
			and e.employeename like    "%"#{employeeName}"%"
		</if>
		
		<if test="unitCode !=null and unitCode !=''">
			and s.unit_code=#{unitCode}
		</if>
		
		<if test="fromDate !=null and fromDate !=''">
			and s.log_date &gt;=#{fromDate}
		</if>
		<if test="toDate !=null and toDate !='' ">
			 and  s.log_date &lt;=#{toDate}
		</if>
		
		 order by s.log_date desc,e.employeename
		
  </select>
    <select id="getLogList1" parameterType="map" resultType="map">
  		select s.log_date logDate,s.wi_no wiNo,s.wi_pro wiPro,s.wi_record wiRecord,s.wi_plan wiPlan,
		s.wi_result wiResult,s.remarks remarks,e.employeename,s.sys_create_time createtime from SM_DAILYLOG s
		
		left join md_employee e on e.employeecode=s.employeecode
		where 1=1 and
		s.company_code=#{companyCode}
		
		
		<if test="employeeCode !=null and employeeCode !=''">
			and e.employeeCode =#{employeeCode}
		</if>
		<if test="date !=null and date !=''">
			and s.log_date =#{date}
		</if>
		
		<if test="wiPro !=null and wiPro !='' ">
			 and    s.wi_pro like    "%"#{wiPro}"%"
		</if>
		
		
		 order by s.sys_create_time desc,s.wi_pro
		
  </select>
  
   <select id="getAllList" parameterType="map" resultType="map">
   		select PRO_NO proNo,PRO_NAME proName,PRO_MANAGER proManager,EMPLOYEECODE employeeCode from pm_base where  PRO_STATUS='2'
		<if test="companyCode !=null and companyCode !='' ">
			  and COMPANY_CODE=#{companyCode}
		</if>
		<if test="proNo !=null and proNo !='' ">
			  and PRO_NO=#{proNo}
		</if>
		
		<if test="searchName != null and searchName != ''">
    	    and (PRO_NAME like "%"#{searchName}"%"
    		or PRO_NO like "%"#{searchName}"%"
    		or PROVINCE like "%"#{searchName}"%"
    		or CITY like "%"#{searchName}"%"
    		or DISTRICT like "%"#{searchName}"%"
    		or PRO_MANAGER like "%"#{searchName}"%")
   		 </if>
   		 
   		 <if test="deptCode != null and deptCode != ''">
			and MANAGE_DEPT=#{deptCode}
    	</if>
		
		GROUP BY PRO_NO
		ORDER BY PRO_NO 
   </select>
   
   <select id="getAllLogList" parameterType="map" resultType="map">
   		select distinct b.PRO_NO  proNo,b.LOG_DATE logDate from sm_dailylog b inner join pm_base d on b.pro_no=d.pro_no
		where 1=1 
		<if test="companyCode !=null and companyCode !='' ">
			  and b.COMPANY_CODE=#{companyCode}
		</if>
		<if test="proNo !=null and proNo !='' ">
			  and b.PRO_NO=#{proNo}
		</if>
		<if test="fromDate !=null and fromDate !=''">
			and b.log_date &gt;=#{fromDate}
		</if>
		<if test="toDate !=null and toDate !='' ">
			 and b.log_date &lt;=#{toDate}
		</if>
		<if test="deptCode != null and deptCode != ''">
		and d.MANAGE_DEPT=#{deptCode}
    </if>
   </select>
   
   
  
  
 
  <insert id="insertLog" parameterType="map">
  	  INSERT INTO sm_dailylog(COMPANY_CODE,UNIT_CODE,EMPLOYEECODE,ACCOUNT_CODE,LOG_DATE,WI_NO,WI_PRO,WI_RECORD,WI_PLAN,WI_RESULT,SYS_CREATE_TIME,SYS_PROCESS_FLAG,REMARKS,PRO_NO)
	  VALUES(#{companyCode},#{unitCode},#{employeeCode},#{accountCode},#{logDate},#{wiNo},#{wiPro},#{wiRecord},#{wiPlan},#{wiResult},NOW(),'1',#{remarks},#{proNo})
  </insert>
  
  
   <insert id="insert" parameterType="com.glens.pwCloudOs.dailylog.vo.DailylogVo" >
    insert into sm_dailylog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyCode != null" >
        COMPANY_CODE,
      </if>
      <if test="unitCode != null" >
        UNIT_CODE,
      </if>
      <if test="employeeCode != null" >
        EMPLOYEECODE,
      </if>
      <if test="accountCode != null" >
        ACCOUNT_CODE,
      </if>
      <if test="logDate != null" >
        LOG_DATE,
      </if>
      <if test="wiNo != null" >
        WI_NO,
      </if>
      <if test="wiPro != null" >
        WI_PRO,
      </if>
      <if test="proNo != null" >
        PRO_NO,
      </if>
      <if test="wiRecord != null" >
        WI_RECORD,
      </if>
      <if test="wiPlan != null" >
        WI_PLAN,
      </if>
      <if test="wiResult != null" >
        WI_RESULT,
      </if>
      <if test="sysCreateTime != null" >
        SYS_CREATE_TIME,
      </if>
       <if test="sysProcessFlag != null" >
        SYS_PROCESS_FLAG,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyCode != null" >
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null" >
        #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="employeeCode != null" >
        #{employeeCode,jdbcType=VARCHAR},
      </if>
      <if test="accountCode != null" >
        #{accountCode,jdbcType=VARCHAR},
      </if>
      <if test="logDate != null" >
        #{logDate,jdbcType=VARCHAR},
      </if>
      <if test="wiNo != null" >
        #{wiNo,jdbcType=INTEGER},
      </if>
      <if test="wiPro != null" >
        #{wiPro,jdbcType=VARCHAR},
      </if>
      <if test="proNo != null" >
        #{proNo,jdbcType=VARCHAR},
      </if>
      <if test="wiRecord != null" >
        #{wiRecord,jdbcType=VARCHAR},
      </if>
      <if test="wiPlan != null" >
        #{wiPlan,jdbcType=VARCHAR},
      </if>
      <if test="wiResult != null" >
        #{wiResult,jdbcType=VARCHAR},
      </if>
      <if test="sysCreateTime != null" >
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysProcessFlag != null" >
        #{sysProcessFlag,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
</mapper>