<!DOCTYPE HTML>
<html>
<head>
	<title>人资部</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
	<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="../../js/PageBar.js"></script>
	<script type="text/javascript" src="../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
	<link rel="stylesheet" type="text/css" href="../../js/DropDownList-1.2/DropDownList.css"/>
	<script type="text/javascript" src="../../js/Calendar.js"></script>
	<script type="text/javascript" src="../../js/config.js"></script>
	<script type="text/javascript" src="../../js/util.js"></script>
	<script type="text/javascript" src="../../js/ng-base.js"></script>
	<script type="text/javascript" src="../../js/eapJs/core/eap.core.js" ></script>
	<script type="text/javascript" src="../../js/eapJs/plugins/eap.tip.js" ></script>
	<script type="text/javascript" src="../../js/eapJs/plugins/eap.validate.js"></script>
	<script type="text/javascript" src="../../js/eapJs/local/eap.lang-zh_CN.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/validate.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/edit.css"/>
	<script type="text/javascript" src="../../js/showDlog/showDlog.js"></script>
	<link rel="stylesheet" type="text/css" href="../../js/showDlog/showDlog-blue.css" />
	<link rel="stylesheet" type="text/css" href="../../css/mobile_main.css" />
	<script type="text/javascript" src="../../../js/sockjs.min.js"></script>
</head>
<style>
	.klbase_con{word-wrap:break-word;}
	.klbase_con p{word-wrap:break-word;word-break:break-all;overflow:hidden;}
</style>
<body ng-app="pmsWeb" ng-controller="knowLedgeCtrl">
	<div class="sear_list klbase_list">
		<div class="klbase_con" id="btext">
		</div>
		<ul class="fj_con">
			<li>
				<h3><span>·</span>附件</h3>
			</li>
			<li ng-repeat=" fjn in filetdetail.attachList">
				<h3 class="fj_title"><span class="fj1">·</span>{{fjn.fileName}}<a ng-click="readonline(fjn.fileUrl,fjn.fileType)">预览</a></h3>
			</li>
		</ul>
	</div>
<script>
var app = angular.module("pmsWeb", []);
app.controller("knowLedgeCtrl", function($scope, $http){
	var urlParams = getUrlParams();
	$scope.urlParams=urlParams; 

	console.log(urlParams)
	$scope.employeeCode =$scope.urlParams.employeeCode;

	var rowid = urlParams.rowid;
	$scope.filetdetail={};
	$scope.fileCode="";
	$http.get(serviceBasePath+"eap/pmsServices/kmbaseService/queryKmBase?rowid="+rowid).success(function(response) {/*encodeURIComponent(*/
			if(response.statusCode!=200){
				alert("请求服务器失败！");
				return;
			}
			$scope.filetdetail=response.data;
			$scope.fileCode=$scope.filetdetail.fileCode;
			var btext = response.data.btext;
		 	  $("#btext").append(btext);
			  $("#btext p").css("margin","0 auto");
		    send($scope.fileCode,$scope.employeeCode);
		});
	
	
	

	//在线阅读
	$scope.readonline=function(fj_att,fileType){
		if(fileType=="pdf"||fileType=="docx"||fileType=="doc"||fileType=="xls"||fileType=="xlsx"){
			window.objeact.openPdf(fj_att,"pdf");
		}else if(fileType=="mp4"||fileType=="rmvb"||fileType=="avi"){
			window.objeact.openPdf(fj_att,"video");
		}else if(fileType=="png"||fileType=="jpg"||fileType=="jpeg"||fileType=="gif"){
			window.objeact.openPdf(fj_att,"img");
		}
		
	};

})	

	$(".return").click(function(){
		window.history.back();
	});
	
	
	
	 var ws = null;
     
	 function connect() {

		if ('WebSocket' in window) {
			ws = new WebSocket(serviceAddBasePath
					+ "/eap/websocket");
		} else {
			ws = new SockJS(serviceBasePath
					+ "/eap/websocket");
		}
		
		ws.onopen = function() {
			console.log("-------------open------------");
		};

		ws.onmessage = function(event) {
			console.log("Received: " + event.data);
		};
		
		ws.onclose = function(event) {
			console.log("Info: connection closed.");
		};

	}

	function send(fileCode,employeeCode) {
		if (ws != null) {
			var obj = {
				fileCode : fileCode,
				employeecode : employeeCode,
				type : '1'
			};
			ws.send(JSON.stringify(obj));
		}

	}
	
	
$(function(){
	connect();
});	
</script>
</body>
</html>
