<!DOCTYPE HTML>
<html>
<head>
	<title>知识库</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
	<script type="text/javascript" src="../../angular-1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="../../js/PageBar.js"></script>
	<script type="text/javascript" src="../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
	<link rel="stylesheet" type="text/css" href="../../js/DropDownList-1.2/DropDownList.css"/>
	<script type="text/javascript" src="../../js/Calendar.js"></script>
	<script type="text/javascript" src="../../js/config.js"></script>
	<script type="text/javascript" src="../../js/util.js"></script>
	<script type="text/javascript" src="../../js/ng-base.js"></script>
	<script type="text/javascript" src="../../js/eapJs/core/eap.core.js" ></script>
	<script type="text/javascript" src="../../js/eapJs/plugins/eap.tip.js" ></script>
	<script type="text/javascript" src="../../js/eapJs/plugins/eap.validate.js"></script>
	<script type="text/javascript" src="../../js/eapJs/local/eap.lang-zh_CN.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/validate.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/edit.css"/>
	<script type="text/javascript" src="../../js/showDlog/showDlog.js"></script>
	<link rel="stylesheet" type="text/css" href="../../js/showDlog/showDlog-blue.css" />
	<link rel="stylesheet" type="text/css" href="../../css/mobile_main.css" />
</head>

<body ng-app="pmsWeb" ng-controller="knowLedgeCtrl">
	<div class="header">
		<div class="page_title">
			<a class="return"><img src="../../img/return.png"/></a>
			知识库
		</div>
		<div class="sear_input">
			<a href="klBaseSearch.html">
				<input type="text" placeholder="输入搜素关键字" style="color:#fff !important;">
			</a>
		</div>
	</div>
	<div class="konw_department">
		<ul>
			<li ng-repeat="nav in departList">
				<a href="javascript:0" ng-click="listurl(nav.catalogCode,nav.catalogName)">
					<img src="../../img/soft.png"/>
					<div class="depart_name">
						<p>{{nav.catalogName}}</p>
						<span>文件数量:{{nav.fileCount}}</span>
					</div>
				</a>
			</li>
			
		</ul>
	</div>
<script>
	var app = angular.module("pmsWeb", []);
	app.controller("knowLedgeCtrl", function($scope, $http){
		$scope.departList={};
		$http.get(serviceBasePath+"eap/pmsServices/kmCatalogService/queryKmCatalogList").success(function(response) {/*encodeURIComponent(*/
				if(response.statusCode!=200){
					alert("请求服务器失败！");
					return;
				}
				$scope.departList=response.list;
			});
		
		$scope.listurl = function(catalogCode,catalogName){
			location.href="klBaseList.html?catalogCode="+catalogCode+"&catalogName="+catalogName;
		}
	})	
	

	$(".return").click(function(){
		window.history.back();
	});
</script>
</body>
</html>
