
<!DOCTYPE HTML>
<html>
<head>
<title> 设备管理 </title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/DropDownList-1.2/DropDownList.css"/>
<script type="text/javascript" src="../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript" src="../../../js/util.js"></script>
<script type="text/javascript" src="../../../js/ng-base.js"></script>

<script type="text/javascript" src="../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/edit.css"/>

<script type="text/javascript" src="../../../js/showDlog/showDlog.js"></script>
<link rel="stylesheet" type="text/css" href="../../../js/showDlog/showDlog-blue.css" />

<style type="text/css">
	.chooseUser{width:1000px;height:500px;}
	.pdd_ta{width:800px;padding:1% 0;background:#f5f5f5;border-radius:5px;margin-bottom:20px;border:1px solid #ccc}
	.pdd_ta table{width:100%;}
	.pdd_ta table th{color:#77acf9;font-weight:bold;padding:0 20px 0;}
	.pdd_ta table input{padding-left:10px;border:1px solid #ccc;height:30px;border-radius:3px;}
	.pdd_ta table textarea{padding-left:10px;border:1px solid #ccc;border-radius:3px;}
	.form_bottom{border-top:none;padding-top:0;}
	
	.form_item{}
	.form_item>label{color:#77acf9;font-weight:bold;display:inline-block;width:100px;text-align:right;}
	.form_item>ul.data_list{list-style-type:none;padding:0;margin:10px;background:#fff;border-radius:5px;width:600px;margin-left:70px;padding:10px;}
	.form_item>ul.data_list>li{list-style-type:none;margin:10px 0 10px 10px;}
	.form_item>ul.data_list>li>label{display:inline-block;width:80px;margin-right:20px;}
	.form_item>ul.pic_list{list-style-type:none;padding:0;margin:0}
	.form_item>ul.pic_list>li{list-style-type:none;padding:0;margin:10px 0 10px 70px;}
	
</style>
</head>

<body ng-app="moduleName" ng-controller="controllerName">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">地址详细信息</label>
			</div>
			<img src="../../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="javascript:" for="#lay1" class="tab selected">地址信息</a>
			<a href="javascript:" for="#lay2" class="tab">公安</a>
			<a href="javascript:" for="#lay3" class="tab">电力</a>
		</div>
		
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<div class="pdd_ta">
				<table>
					<tr>
						<th width="120">地址名称</th>
						<td>
							<input type="hidden" name="companyCode" value="{{data.companyCode}}"/>
							<input type="hidden" name="attrJson"/>
							<input type="hidden" name="addrCode" value="{{data.addrCode}}"/>
							<input type="text" name="addrName" value="{{data.ADDR_NAME}}" class="required" maxlength="32"/>
						</td>
						<th width="120">上级地址名称</th>
						<td>
							<input type="text" name="parentAddrName" value="{{data.PARENT_ADDR_NAME}}" class="readonly" readonly="readonly" maxlength="32"/>
						</td>
					</tr>
					<tr>
						<th>省</th>
						<td>
							<input type="text" name="province" value="{{data.PROVINCE}}" class="required" maxlength="32"/>
						</td>
						<th>城市</th>
						<td>
							<input type="text" name="city" value="{{data.CITY}}" class="required" maxlength="32"/>
						</td>
					</tr>
					<tr>
						<th>区县</th>
						<td>
							<input type="text" name="region" value="{{data.REGION}}" class="required" maxlength="32"/>
						</td>
						<th>街道</th>
						<td>
							<input type="text" name="townShip" value="{{data.TOWN_SHIP}}" class="required" maxlength="32"/>
						</td>
					</tr>
					<tr>
						<th>街路巷</th>
						<td>
							<input type="text" name="street" value="{{data.STREET}}" class="required" maxlength="32"/>
						</td>
						<th>门牌号</th>
						<td>
							<input type="text" name="roomNo" value="{{data.ROOM_NO}}" class="required" maxlength="32"/>
						</td>
					</tr>
					<tr>
						<th>小区</th>
						<td>
							<input type="text" name="plot" value="{{data.PLOT}}" class="required" maxlength="32"/>
						</td>
						<th>楼牌号</th>
						<td>
							<input type="text" name="buildingNo" value="{{data.BUILDING_NO}}" class="required" maxlength="32"/>
						</td>
					</tr>
					<tr>
						<th>单元号</th>
						<td>
							<input type="text" name="unitNo" value="{{data.UNIT_NO}}" class="required" maxlength="32"/>
						</td>
						<th>村组</th>
						<td>
							<input type="text" name="group" value="{{data.GROUP}}" class="required" maxlength="32"/>
						</td>
					</tr>
					
					<tr>
						<th>农户门牌号</th>
						<td>
							<input type="text" name="farmerRoomNo" value="{{data.FARMER_ROOM_NO}}" class="required" maxlength="32"/>
						</td>
						<th>方位</th>
						<td>
							<input type="text" name="zaimuth" value="{{data.ZAIMUTH}}" class="required" maxlength="32"/>
						</td>
					</tr>
					<tr>
						<th>地址内容</th>
						<td colspan="3">
							<textarea name="addrContent" style="width:600px" rows="3">{{data.ADDR_CONTENT}}</textarea>
						</td>
					</tr>
					<tr>
						<th>地址标准经度</th>
						<td>
							<input type="text" name="wgs84x" value="{{data.WGS84_X}}" class="required" maxlength="32"/>
						</td>
						<th>地址标准维度</th>
						<td>
							<input type="text" name="wgs84y" value="{{data.WGS84_Y}}" class="required" maxlength="32"/>
						</td>
					</tr>
					<tr>
						<th>地址显示经度</th>
						<td>
							<input type="text" name="showx" value="{{data.SHOW_X}}" class="required" maxlength="32"/>
						</td>
						<th>地址显示维度</th>
						<td>
							<input type="text" name="showy" value="{{data.SHOW_Y}}" class="required" maxlength="32"/>
						</td>
					</tr>
					<tr>
						<th>区域范围经度</th>
						<td colspan="3">
							<textarea name="showxs" style="width:600px" rows="3">{{data.SHOW_XS}}</textarea>
						</td>
					</tr>
					<tr>
						<th>区域范围维度</th>
						<td colspan="3">
							<textarea name="showys" style="width:600px" rows="3">{{data.SHOW_YS}}</textarea>
						</td>
					</tr>
					
					<tr>
						<th>地址状态</th>
						<td>
							<input type="text" name="addrStatus" value="{{data.ADDR_STATUS}}" class="required" maxlength="32"/>
						</td>
						<th>创建（采集）人姓名</th>
						<td>
							<input type="text" name="createName" value="{{data.CREATER_NAME}}" class="required" maxlength="32"/>
						</td>
					</tr>
					
					<tr>
						<th>质量审核</th>
						<td>
							<input type="text" name="qualityAudit" value="{{data.QUALITY_AUDIT}}" class="required" maxlength="32"/>
						</td>
						<th>审核人姓名</th>
						<td>
							<input type="text" name="auditorName" value="{{data.AUDITOR_NAME}}" class="required" maxlength="32"/>
						</td>
					</tr>
					
					<tr>
						<th>审核时间</th>
						<td>
							<input type="text" name="auditTime" value="{{data.AUDIT_TIME}}" class="required" maxlength="32"/>
						</td>
						<th></th>
						<td>
						</td>
					</tr>
					<tr>
						<th>审核意见</th>
						<td colspan="3">
							<textarea name="auditSuggest" style="width:600px" rows="3">{{data.AUDIT_SUGGEST}}</textarea>
						</td>
					</tr>
					<tr>
						<th>地址名称全拼</th>
						<td>
							<input type="text" name="pinYin" value="{{data.PIN_YIN}}" class="required" maxlength="32"/>
						</td>
						<th>地址名称首字母</th>
						<td>
							<input type="text" name="firstLetter" value="{{data.FIRST_LETTER}}" class="required" maxlength="32"/>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="form_div" id="lay2">
			<div class="pdd_ta">
<!-- 				<table> -->
<!-- 					<tr ng-repeat="tr in gongAnAttr track by $index"> -->
<!-- 						<th ng-repeat-start="item in tr track by $index" width="120">{{item.C_NAME}}</th> -->
<!-- 						<td ng-repeat-end> -->
<!-- 							<div ng-if="item.D_TYPE==1"> -->
<!-- 							<input ng-if="item" type="text" group="cond" name="{{item.E_NAME}}" value="{{data[item.E_NAME]}}" placeholder="请输入内容" /> -->
<!-- 							</div> -->
<!-- 							<div ng-if="item.D_TYPE==2"> -->
<!-- 							<input ng-if="item" type="text" class="number" group="cond" name="{{item.E_NAME}}" placeholder="请输入内容" value="{{data[item.E_NAME]}}" /> -->
<!-- 							</div> -->
<!-- 							<div ng-if="item.D_TYPE==3"> -->
<!-- 							<input ng-if="item" type="text" class="date dateComponent" group="cond" name="{{item.E_NAME}}" value="{{data[item.E_NAME]}}" placeholder="请选择" onclick="new Calendar().show(this, null, null, dateSelected)"/> -->
<!-- 							</div> -->
<!-- 							<div ng-if="item.D_TYPE==4"> -->
<!-- 							<input ng-if="item" type="text" class="dropDownList" group="cond" name="{{item.E_NAME}}" value="{{data[item.E_NAME]}}" placeholder="请选择{{item.C_NAME}}"/> -->
<!-- 							</div> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 				</table> -->
				<div class="form_item">
					<label>层户结构</label>
					<ul class="data_list">
<!-- 						<li ng-repeat="item in data['FLOOR_HOUSE'] track by $index"><label></label>{{item}}</li> -->
						<li><label>单元名称</label>{{data['FLOOR_HOUSE']['UNIT_NAME']}}</li>
						<li><label>地上层数</label>{{data['FLOOR_HOUSE']['UP_FLOOR_NUM']}}</li>
						<li><label>地下层数</label>{{data['FLOOR_HOUSE']['DOWN_FLOOR_NUM']}}</li>
						<li><label>户数</label>{{data['FLOOR_HOUSE']['HOUSE_NUM']}}</li>
					</ul>
				</div>
				<div class="form_item">
					<label>图片</label>
					<ul class="pic_list">
						<li ng-repeat="item in toImgArr(data['POLICE_PIC'])"><img src="{{item.url}}"/></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="form_div" id="lay3">
			<div class="pdd_ta">
<!-- 				<table> -->
<!-- 					<tr ng-repeat="tr in dianLiAttr track by $index"> -->
<!-- 						<th ng-repeat-start="item in tr track by $index" width="120">{{item.C_NAME}}</th> -->
<!-- 						<td ng-repeat-end> -->
<!-- 							<div ng-if="item.D_TYPE==1"> -->
<!-- 							<input ng-if="item" type="text" group="cond" name="{{item.E_NAME}}" value="{{data[item.E_NAME]}}" placeholder="请输入内容" /> -->
<!-- 							</div> -->
<!-- 							<div ng-if="item.D_TYPE==2"> -->
<!-- 							<input ng-if="item" type="text" class="number" group="cond" name="{{item.E_NAME}}" placeholder="请输入内容" value="{{data[item.E_NAME]}}" /> -->
<!-- 							</div> -->
<!-- 							<div ng-if="item.D_TYPE==3"> -->
<!-- 							<input ng-if="item" type="text" class="date dateComponent" group="cond" name="{{item.E_NAME}}" value="{{data[item.E_NAME]}}" placeholder="请选择" onclick="new Calendar().show(this, null, null, dateSelected)"/> -->
<!-- 							</div> -->
<!-- 							<div ng-if="item.D_TYPE==4"> -->
<!-- 							<input ng-if="item" type="text" class="dropDownList" group="cond" name="{{item.E_NAME}}" value="{{data[item.E_NAME]}}" placeholder="请选择{{item.C_NAME}}"/> -->
<!-- 							</div> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 				</table> -->
				<div class="form_item">
					<label>表箱</label>
					<ul class="data_list">
<!-- 						<li ng-repeat="item in data['ALUMINIUM_BOX'] track by $index"><label></label>{{item}}</li> -->
						<li><label>表箱号</label>{{data['ALUMINIUM_BOX']['BOX_NO']}}</li>
						<li><label>位数</label>{{data['ALUMINIUM_BOX']['AMUL_BOX_NUM']}}</li>
						<li><label>户数</label>{{data['ALUMINIUM_BOX']['HOUSE_HOLD']}}</li>
						<li><label>表箱类型</label>{{data['ALUMINIUM_BOX']['AMULBOX_CLASS']}}</li>
					</ul>
				</div>
				<div class="form_item">
					<label>电表</label>
					<ul class="data_list">
						<li ng-repeat="item in toArr(data['ELECTRIC_METER']) track by $index">{{item}}</li>
					</ul>
				</div>
				<div class="form_item">
					<label>图片</label>
					<ul class="pic_list">
						<li ng-repeat="item in toImgArr(data['ELECTRIC_PIC']) track by $index"><img src="{{item.url}}"/></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="form_bottom">
			<a href="javascript:" ng-click="onSave()" class="title_save">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">
/* 视图渲染 */
$(".tabs>a").each(function(){
	var layId = $(this).attr("for");
	var idx = $(".tabs>a").index($(this));
	if(idx!=0){
		$(layId).hide();
		$(layId).attr("data-show", "0");
	}else{
		$(layId).attr("data-show", "1");
	}
	$(this).click(function(){
		$(".tabs>.selected").removeClass("selected");
		$(this).addClass("selected");
		var layId = $(this).attr("for");
		$("div[data-show=1]").hide();
		$("div[data-show=1]").attr("data-show", "0");
		$(layId).show();
		$(layId).attr("data-show", "1");
		
	});
});

simpleController({
	init:function($scope, $http){
		$scope.data={};
		var urlParams = getUrlParams();
		
		$scope.deviceAttrList=[];
		$scope.deviceAttrTrs=[];
		$scope.calcFields = [];
		
		$scope.gongAnAttr=[];
		$scope.dianLiAttr=[];
		
		$scope.gongAnAttrTrs=[];
		$scope.dianLiAttrTrs=[];
		
		/* 加载属性信息 */
		$scope.loadAttrs=function(){
			$scope.httpGet({
				url:"eap/pmsServices/addrLib/addrField/allFields?companyCode="+$scope.userData.companyCode,
				data:{},
				success:function(response){
					$scope.deviceAttrList = response.data;
					for(var i=0; i<$scope.deviceAttrList.length; i++){
						var item = $scope.deviceAttrList[i];
						if("I001"==item.INDUSTRY_CODE){
							$scope.gongAnAttr=item.children;
							//$scope.gongAnAttrTrs=$scope.splitToTr($scope.gongAnAttr);
						}else if("I002"==item.INDUSTRY_CODE){
							$scope.dianLiAttr=item.children;
							//$scope.dianLiAttrTrs=$scope.splitToTr($scope.dianLiAttr);
						}
					}
					return;
					/* 初始化搜索条件 */
					lazyCall('t1',function(){
						for(var i=0; i<$scope.deviceAttrList.length; i++){
							(function(){
								var searchField = $scope.deviceAttrList[i];
								if(searchField.dtype==4 && searchField.enumSource==1){
									/* 搜索条件*/ 
									new DropDownList().init({
										renderTo:"input[name="+searchField.ename+"]",
										height:"200px",
										data:searchField.enumValue,
										onSelected:function(result){
											$("input[name="+searchField.ename+"]").val(result);
											$("input[name="+searchField.ename+"]").change();
										}
									});
								}else if(searchField.dtype==4 && searchField.enumSource==2){
									/* 搜索条件*/ 
									var proNo = $("input[name=proNo]").val();
									var serviceUrl=searchField.enumValue;
									if(serviceUrl.indexOf("?")>-1){
										serviceUrl+="&proNo="+proNo;
									}else{
										serviceUrl+="?proNo="+proNo;
									}
									new DropDownList().init({
										renderTo:"input[name="+searchField.ename+"]",
										height:"200px",
										url:"../../component/listByUrl.html?url="+encodeURIComponent(serviceUrl),
										onSelected:function(result){
											$("input[name="+searchField.ename+"]").val(result);
											$("input[name="+searchField.ename+"]").change();
										}
									});
								}
							})();
						}
						
						if(deviceTypeCode=="P04"){// PMS2.0低压（名称组合：时间_台区名称_作业类型）
							$("input[name=WORK_DATE]").keyup(function(){
								var workDate = $("input[name=WORK_DATE]").val();
								var dmrdName = $("input[name=DMRD_NAME]").val();
								var workType = $("input[name=WORK_TYPE]").val();
								$("input[name=deviceObjName]").val(workDate+"_"+dmrdName+"_"+workType);
							}).change(function(){
								var workDate = $("input[name=WORK_DATE]").val();
								var dmrdName = $("input[name=DMRD_NAME]").val();
								var workType = $("input[name=WORK_TYPE]").val();
								$("input[name=deviceObjName]").val(workDate+"_"+dmrdName+"_"+workType);
							});
							$("input[name=DMRD_NAME]").keyup(function(){
								var workDate = $("input[name=WORK_DATE]").val();
								var dmrdName = $("input[name=DMRD_NAME]").val();
								var workType = $("input[name=WORK_TYPE]").val();
								$("input[name=deviceObjName]").val(workDate+"_"+dmrdName+"_"+workType);
							}).change(function(){
								var workDate = $("input[name=WORK_DATE]").val();
								var dmrdName = $("input[name=DMRD_NAME]").val();
								var workType = $("input[name=WORK_TYPE]").val();
								$("input[name=deviceObjName]").val(workDate+"_"+dmrdName+"_"+workType);
							});
							$("input[name=WORK_TYPE]").keyup(function(){
								var workDate = $("input[name=WORK_DATE]").val();
								var dmrdName = $("input[name=DMRD_NAME]").val();
								var workType = $("input[name=WORK_TYPE]").val();
								$("input[name=deviceObjName]").val(workDate+"_"+dmrdName+"_"+workType);
							}).change(function(){
								var workDate = $("input[name=WORK_DATE]").val();
								var dmrdName = $("input[name=DMRD_NAME]").val();
								var workType = $("input[name=WORK_TYPE]").val();
								$("input[name=deviceObjName]").val(workDate+"_"+dmrdName+"_"+workType);
							});
						}
					}, 100);
				}
			});
		};
		
		$scope.filterCalcFields=function(attrList){
			var newList=[];
			for(var i=0; i<$scope.deviceAttrList.length; i++){
				var searchField = $scope.deviceAttrList[i];
				if(searchField.dtype==5){
					removeAt($scope.deviceAttrList, i);
					i--;
					newList.push(searchField);
				}
			}
			return newList;
		};
		
		$scope.toImgArr=function(picCodes){
			if(!picCodes || picCodes.length==0){
				return [];
			}
			var pics=[];
			var codesArr = picCodes.split(",");
			for(var i=0; i<codesArr.length; i++){
				var code = codesArr[i];
				var url=filePath+"?fileCode="+code+"&attachment=0";
				pics.push({"code":code, "url":url});
			}
			return pics;
		};
		
		$scope.toArr=function(strs){
			if(!strs || strs.length==0){
				return [];
			}
			var arr = strs.split(",");
			return arr;
		};
		
		var deviceTypeCode ="";
		$scope.loadDeviceInfo=function(addrCode){
			$scope.httpGet({
				url:"eap/pmsServices/addrLib/addrBase/findDetail?companyCode="+$scope.userData.companyCode,
				data:{"addrCode":addrCode},
				success:function(response){
					$scope.data = response.data;
					
					$scope.loadAttrs();
				}
			});
		};
		$scope.loadDeviceInfo(urlParams.addrCode);
		
		
		/* 组织tr数据 */
		$scope.splitToTr=function(arr){
			var trs=[];
			for(var i=0; i<arr.length; i++){
				var attr = arr[i];
				if(i!=0 && i%2==0){
					trs.push([]);
				}
				if(trs.length==0){
					trs.push([]);
				}
				var tr=trs[trs.length-1];
				tr.push(attr);
			}
			var lastTr=trs[trs.length-1];
			if(lastTr.length<2){
				lastTr.push({});
			}
			return trs;
		};
		
		var urlParams = getUrlParams();
		$("input[name=rowid]").val(urlParams.rowid);
		
		/* 表单验证 */
		validator = $("#saveForm").validate({
			onsubmit: false,
			focusInvalid: false,
			focusCleanup: true,
			errorElement: "span",
			ignore:".ignore",
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					
				} 
			}
		});
		
		/* 保存 */
		$scope.onSave=function(){
			$("input[name=companyCode]").val($scope.userData.companyCode);
			var cond={};
			$("input[group=cond]").each(function(){
				var $cond = $(this);
				var key = $cond.attr("name");
				var val = $cond.val();
				if(val && val.length>0 && $cond.attr("class").indexOf("number")>-1){
					val=Number(val);
				}
				cond[key]=val;
			});
			$scope.callCalc(cond);
			$("input[name=attrJson]").val(JSON.stringify(cond));
			var params = serializeArrayToMap($("#saveForm").serializeArray());
			if($("#saveForm").valid()){
				this.httpPost({
					url:"eap/pmsServices/om/deviceMgr/device/updateMctDevice",
					data:params,
					success:function(response){
						new ShowDlog().prompt({
							icon:"success",
							msg:"保存成功！",
							done:function(){
								hrefTo({
									url:"addrMgr.html",
									data:urlParams
								});
							},
							t:1500
						});
						
					}
				});
			}
		};
		
		$scope.callCalc=function(item){
			for(var i=0; i<$scope.calcFields.length; i++){
				var field = $scope.calcFields[i];
				eval(field.enumValue);
			}
		}
		
		/* 取消 */
		$scope.onCancel=function(){
			hrefTo({
				url:"addrMgr.html",
				data:urlParams
			});
		};
	
	}
});
</script>
</body>
</html>
