<!DOCTYPE HTML>
<html>
<head>
<title> 资产管理</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../../../js/showDlog/showDlog-blue.css" />
<script type="text/javascript" src="../../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script></head>
<script type="text/javascript" src="../../../../angular-1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../../../../js/PageBar.js"></script>
<script type="text/javascript" src="../../../../js/DropDownList-1.2/DropDownList-v1.2.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../js/DropDownList-1.2/DropDownList.css" />
<script type="text/javascript" src="../../../../js/Calendar.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>

<script type="text/javascript" src="../../../../js/eapJs/core/eap.core.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.tip.js" ></script>
<script type="text/javascript" src="../../../../js/eapJs/plugins/eap.validate.js"></script>
<script type="text/javascript" src="../../../../js/eapJs/local/eap.lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../css/validate.css"/>
<link rel="stylesheet" type="text/css" href="../../../../css/edit.css"/>
<script type="text/javascript" src="../../../../js/showDlog/showDlog.js"></script>

<style type="text/css">
	.dialog-viewcode{width:500px;height:400px;}
    .dialog-viewcyle{width:1100px;height:710px;}
</style>
</head>

<body ng-app="mdu" ng-controller="ctrl">

<div class="list">
	<div class="list_content">
		<div class="title_div">
			<div class="title_left">
				<label class="title">资产查看</label>
			</div>
			<img src="../../../../img/list_Header2-.png">
		</div>
		<div class="tabs">
			<a href="#lay1" class="tab selected">资产属性</a>
			
		</div>
		<form id="saveForm" class="required-validate">
		<div class="form_div" id="lay1">
			<table>
			
				<tr>
					<th>资产名称</th>
					<td colspan="3">
						<input type="text" style="width:480px;" name="assetName" class="required readonly" readonly="readonly"  value="{{projectInfo.assetName}}"/>
						
					</td>
					
					
				</tr>
				<tr>
					<th>资产分类</th>
					<td>
						<input type="text" name="assetClassName" class="required readonly" readonly="readonly" placeholder="请选择" value="{{projectInfo.assetClassName}}"/>
						
					</td>
					<th>资产类型</th>
					<td>
						<input type="text" name="assetTypeName" class="required readonly" readonly="readonly" placeholder="请选择" value="{{projectInfo.assetTypeName}}"/>
						
					</td>
					
				</tr>
				<tr>
					<th>品牌</th>
					<td><input type="text" name="brand" class="number readonly" readonly="readonly" value="{{projectInfo.brand}}"/></td>
					<th>型号</th>
					<td><input type="text" name="modelNo" class="required readonly" readonly="readonly"  value="{{projectInfo.modelNo}}"/></td>
				</tr>
				
				<tr>
					<th>贴码日期</th>
					<td><input type="text" name="markDate" value="{{projectInfo.markDate}}" readonly="readonly" class="date readonly"/></td>
					<th>贴码负责人</th>
					<td><input type="text" class="readonly" value="{{projectInfo.markOwner}}" readonly="readonly" name="markOwner" /></td>
				</tr>
				
				
				<tr>
					<th>含税单价</th>
					<td><input type="text" name="price1" class="number readonly" readonly="readonly" value="{{projectInfo.price1}}"/></td>
					<th>不含税单价</th>
					<td><input type="text" name="price2" class="required readonly" readonly="readonly"  value="{{projectInfo.price2}}"/></td>
					
				</tr>
				
				
				<tr>
					<th>发票凭证</th>
					<td><input type="text" name="bill" class="number readonly" readonly="readonly" value="{{projectInfo.bill}}"/></td>
					<th>采购时间</th>
					<td><input type="text" name="datePurchase" class="number readonly" readonly="readonly" value="{{projectInfo.datePurchase=='0000-00-00'?'':projectInfo.datePurchase}}"/></td>
					
				</tr>
				<tr>
					<th>入库时间</th>
					<td><input type="text" name="dateStorage" class="readonly" readonly="readonly" value="{{projectInfo.dateStorage=='0000-00-00'?'':projectInfo.dateStorage}}"/></td>
					<th>报废时间</th>
					<td><input type="text" name="dateDump" class="number readonly" readonly="readonly" value="{{projectInfo.dateDump=='0000-00-00'?'':projectInfo.dateDump}}"/></td>
					
				</tr>
				
				<tr>
					<th>报废回收金额 </th>
					<td><input type="text" name="dumpAmount" class="number readonly" readonly="readonly" value="{{projectInfo.dumpAmount}}"/></td>
					<th>状态 </th>
					<td>
					     <input type="text" ng-if="projectInfo.status==1" name="status" class="number readonly" readonly="readonly" value="闲置"/>
					     <input type="text" ng-if="projectInfo.status==2" name="status" class="number readonly" readonly="readonly" value="在用(部门)"/>
					     <input type="text" ng-if="projectInfo.status==3" name="status" class="number readonly" readonly="readonly" value="在用(项目)"/>
					     <input type="text" ng-if="projectInfo.status==4" name="status" class="number readonly" readonly="readonly" value="项目维修"/>
					     <input type="text" ng-if="projectInfo.status==5" name="status" class="number readonly" readonly="readonly" value="维修"/>
					     <input type="text" ng-if="projectInfo.status==6" name="status" class="number readonly" readonly="readonly" value="已报废"/>
					     <input type="text" ng-if="projectInfo.status==7" name="status" class="number readonly" readonly="readonly" value="待报废"/>
					     <input type="text" ng-if="projectInfo.status==8" name="status" class="number readonly" readonly="readonly" value="总部仓库闲置"/>
					</td>
				</tr>
				<tr>	
					<th>借用人</th>
					<td><input type="text" name="loanEmployeename" class="number readonly" readonly="readonly" value="{{projectInfo.loanEmployeename}}"/></td>
					<th>借用部门</th>
					<td><input type="text" name="loanUnitName" class="number readonly" readonly="readonly" value="{{projectInfo.loanUnitName}}"/></td>
				</tr>
				<tr>
					<th>借用项目</th>
					<td><input type="text" name="loanProName" class="number readonly" readonly="readonly" value="{{projectInfo.loanProName}}"/></td>
					<th>位置描述</th>
					<td><input type="text" name="location" class="number readonly" readonly="readonly" value="{{projectInfo.location}}"/></td>
				</tr>
				<tr class="car1">
					<th>车牌号</th>
					<td><input type="text" name="vaVo" class="number readonly" readonly="readonly" value="{{projectInfo.vaVo}}"/></td>
					<th>加油品种</th>
					<td><input type="text" name="vaOil" class="number readonly" readonly="readonly" value="{{projectInfo.vaOil}}"/></td>
				</tr>
				<tr class="car2">
					<th>平均油耗</th>
					<td><input type="text" name="vaOilConsumption" class="number readonly" readonly="readonly" value="{{projectInfo.vaOilConsumption}}"/></td>
					<th>初始里程</th>
					<td><input type="text" name="vaInitMileage" class="number readonly" readonly="readonly" value="{{projectInfo.vaInitMileage}}"/></td>
				</tr>
				<tr class="car2">
					<th>发动机号</th>
					<td><input type="text" name="vaEngineNo" class="number readonly" readonly="readonly" value="{{projectInfo.vaEngineNo}}"/></td>
					<th>车架号</th>
					<td><input type="text" name="vaCarframeNo" class="number readonly" readonly="readonly" value="{{projectInfo.vaCarframeNo}}"/></td>
				</tr>
				<tr>
					<th>盘点周期</th>
					<td>
						<input type="text" name="stockPeriodName" class="readonly"  id="dropDownPeriod"  readonly="readonly" value="{{projectInfo.stockPeriodName}}"/>
					</td>
				
					<th>备注</th>
					<td><input type="text" name="remarks" class="number readonly" readonly="readonly" value="{{projectInfo.remarks}}"/></td>
					
				</tr>
				<tr>
					<th>资产内容</th>
					<td colspan="3">
						<textarea name="forms" rows="3" class="readonly" readonly="readonly" style="width:480px;">{{projectInfo.forms}}</textarea>
					</td>
				</tr>
			</table>
			
		</div>
		
		

		<div class="form_bottom">
			<a href="javascript:" ng-click="viewCode()" class="title_code">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;条码
			</a>
			<a href="javascript:" ng-click="viewCyle()" class="title_cyle">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生命周期
			</a>
			<a href="javascript:" ng-click="onCancel()" class="title_cancel">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消
			</a>
		</div>
		</form>
	</div>
</div>
<script type="text/javascript">

function getUrlParams(){
	var params={};
	var url = location.href;
	var start = url.indexOf("?", 0)+1;
	var paramsStr = url.substring(start, url.length);
	var paramsArr = paramsStr.split("&");
	for(var i=0;i<paramsArr.length;i++){
		var kv = paramsArr[i].split("=");
		var k = kv[0];
		var v = kv[1];
		params[k]=v;
	}
	return params;
}
var selectedUnitCode="";
var validator;
var userData;

var assetCode1="";



var assetClassCode1="";
var assetClassName="";
var assetTypeName="";
var assetTypeCode="";
var category_Name="";
var category_Code="";
var proNo="";
var proName="";
var status="";
var price1="";
var price2="";
var fromDate="";
var toDate="";

var searchName="";
var currentPage=1;

var ngScope;
var app = angular.module("mdu", []);
app.controller("ctrl", function($scope, $http){
	/* init */
	ngScope = $scope;
	
	$scope.projectInfo={};
	
	
	
	var userDataStr = $.cookie("pmsWeb_user_data");
	if(!userDataStr){
		
		noLogin(location.href);
		return;
	}
	userData = jQuery.parseJSON(userDataStr);
	ticket = $.cookie("pmsWeb_ticket");
	
	var params = getUrlParams();
	
	assetClassCode1=params.assetClassCode;
	assetClassName=decodeURIComponent(params.assetClassName);
	assetTypeName=decodeURIComponent(params.assetTypeName);
	assetTypeCode=params.assetTypeCode;
	proNo=params.proNo;
	proName=decodeURIComponent(params.proName);
	category_Name=decodeURIComponent(params.category_Name);
	category_Code=params.category_Code;
	status=params.status;
	searchName=decodeURIComponent(params.searchName);
	price1=params.price1;
	price2=params.price2;
	fromDate=params.fromDate;
	toDate=params.toDate;
	currentPage=params.currentPage;
	/* 视图渲染 */
	$(".tabs>a").each(function(){
		var layId = $(this).attr("href");
		var idx = $(".tabs>a").index($(this));
		if(idx!=0){
			$(layId).hide();
			$(layId).attr("data-show", "0");
		}else{
			$(layId).attr("data-show", "1");
		}
		$(this).click(function(){
			$(".tabs>.selected").removeClass("selected");
			$(this).addClass("selected");
			var layId = $(this).attr("href");
			$("div[data-show=1]").hide();
			$("div[data-show=1]").attr("data-show", "0");
			$(layId).show();
			$(layId).attr("data-show", "1");
			
		});
	});
	
	/* 数据加载 */
	$scope.loadProject=function(assetCode){
		
		$http.get(serviceBasePath+"eap/pmsServices/materielMg/assetMg/asset/get?assetCode="
			+assetCode+"&ticket="+ticket).success(function(response){
			if(response.statusCode==401){
				alert("用户凭据过期！请重新登录！");
				window.top.location.href="../../../login.html";
				return;
			}
			$scope.projectInfo = response.data;
			if(response.data.assetMark==0){
				$(".car1").hide();
				$(".car2").hide();
			}else if(response.data.assetMark==1){
				$(".car1").show();
				$(".car2").show();
			}
			
			assetCode1=response.data.assetCode;
			
		});
	};
	/* 初始加载 */
	$scope.loadProject(params.assetCode);
	
	/* 取消 */
	$scope.onCancel = function(){
		//location.href="assetBaseMgr.html";
		location.href="assetBaseMgr.html?assetClassCode="+assetClassCode1+"&assetClassName="
				+encodeURIComponent(assetClassName)+"&assetTypeName="+encodeURIComponent(assetTypeName)
				+"&assetTypeCode="+assetTypeCode+"&proNo="+proNo+"&proName="+encodeURIComponent(proName)+"&category_Code="+category_Code+"&category_Name="+encodeURIComponent(category_Name)+"&status="
				+status+"&searchName="+encodeURIComponent(searchName)+"&price1="+price1+"&price2="+price2+"&fromDate="+fromDate+"&toDate="+toDate+"&currentPage="+currentPage;
		
	};
	
	/* 条形码 */
	$scope.viewCode=function(){
		//	$("#main_frame").attr("src", "../sys/resetPwd.html");
		new ShowDlog().showFrame("viewCode.html?assetCode="+assetCode1, "条形码", function(){
						// 
		},"dialog-viewcode");
		
	};
	
	//生命周期
	$scope.viewCyle=function(){
		//assetCode1
		
		new ShowDlog().showFrame("viewCyle.html?assetCode="+assetCode1, "生命周期", function(){
						// 
		},"dialog-viewcyle");
		
	};
	
});
</script>
</body>
</html>
