<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.fm.invoicebase.dao.InvoiceBaseVoMapper" >
				   
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.fm.invoicebase.vo.InvoiceBaseVo" >
    <result column="rowid" property="rowid"  />
    <result column="PRO_NO" property="proNo" jdbcType="VARCHAR" />
    <result column="PRO_CODE" property="proCode" jdbcType="VARCHAR" />
    <result column="PRO_NAME" property="proName" jdbcType="VARCHAR" />
    <result column="INVOICE_DATE" property="invoiceDate" jdbcType="VARCHAR" />
    <result column="INVOICE_CLASS_CODE" property="invoiceClassCode" jdbcType="VARCHAR" />
    <result column="INVOICE_CLASS_NAME" property="invoiceClassName" jdbcType="VARCHAR" />
    <result column="INVOICE_NO" property="invoiceNo" jdbcType="VARCHAR" />
    <result column="CG_UNIT" property="cgUnit" jdbcType="VARCHAR" />
    <result column="CONTRACT_NO" property="contractNo" jdbcType="VARCHAR" />
    <result column="INVOICE_CONTENT" property="invoiceContent" jdbcType="VARCHAR" />
    <result column="AMOUNT1" property="mount1" jdbcType="REAL" />
    <result column="TAX_RATE" property="taxRate" jdbcType="REAL" />
    <result column="TAX_AMOUNT" property="taxAmount" jdbcType="REAL" />
    <result column="AMOUNT2" property="mount2" jdbcType="REAL" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
   
  </resultMap>
  <sql id="Base_Column_List" >
     a.rowid,a.PRO_NO pno,p.PRO_NO,p.PRO_STATUS,a.PRO_NAME pname,p.PRO_NAME,p.PRO_CODE,a.INVOICE_DATE,a.INVOICE_CLASS_CODE,
     a.INVOICE_NO,a.CG_UNIT,a.CONTRACT_NO,a.INVOICE_CONTENT,a.AMOUNT1,
     a.TAX_RATE,a.TAX_AMOUNT,a.AMOUNT2,a.REMARKS,b.INVOICE_CLASS_NAME 
	
  </sql>
  
 <select id="queryForCount" parameterType="java.util.HashMap" resultType="int">
 select count(*) from(
 	select * from(
 	select  DISTINCT
    <include refid="Base_Column_List" />
    from FM_INVOICE_BASE a 
    left join fm_invoice_class b on a.INVOICE_CLASS_CODE=b.INVOICE_CLASS_CODE
    left join pm_base p on p.pro_no=a.pro_no
    where a.sys_process_flag='1'
 	) t 
 	where 1=1
    <if test="proNo != null and proNo !=''">
 		and PRO_NO=#{proNo}
 	</if>
 	<if test="proStatus != null and proStatus ==2">
 		and PRO_STATUS=#{proStatus}
 	</if>
 	<if test="proStatus != null and proStatus ==3">
 		and PRO_STATUS=#{proStatus}
 	</if>
 	<if test="proStatus != null and proStatus ==4">
 		and PRO_NO is null
 	</if>
 	<if test="invoiceNo != null and invoiceNo !=''">
 		and INVOICE_NO like   "%"#{invoiceNo}"%"
 	</if>
 	<if test="fromDate != null and fromDate != ''">
	  	and INVOICE_DATE &gt;= #{fromDate}
	</if>
	<if test="toDate != null and toDate != ''">
	  	and INVOICE_DATE &lt;= #{toDate}
	</if>
 	) t2
 </select>
 
 <select id="queryForPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
 	select * from(
 	select  DISTINCT
    <include refid="Base_Column_List" />
    from FM_INVOICE_BASE a 
    left join fm_invoice_class b on a.INVOICE_CLASS_CODE=b.INVOICE_CLASS_CODE
    left join pm_base p on p.pro_no=a.pro_no
    where a.sys_process_flag='1'
 	) t 
 	where 1=1
    <if test="proNo != null and proNo !=''">
 		and PRO_NO=#{proNo}
 	</if>
 	<if test="proStatus != null and proStatus ==2">
 		and PRO_STATUS=#{proStatus}
 	</if>
 	<if test="proStatus != null and proStatus ==3">
 		and PRO_STATUS=#{proStatus}
 	</if>
 	<if test="proStatus != null and proStatus ==4">
 		and PRO_NO is null
 	</if>
 	<if test="invoiceNo != null and invoiceNo !=''">
 		and INVOICE_NO like   "%"#{invoiceNo}"%"
 	</if>
 	<if test="fromDate != null and fromDate != ''">
	  	and INVOICE_DATE &gt;= #{fromDate}
	</if>
	<if test="toDate != null and toDate != ''">
	  	and INVOICE_DATE &lt;= #{toDate}
	</if>
 	order by INVOICE_DATE desc
 	limit #{firstResult},#{maxResult}
 </select>
 
 
 <select id="getInvoiceNosByProno" parameterType="java.util.HashMap" resultMap="BaseResultMap">
 	select * from(
 	select  DISTINCT
    <include refid="Base_Column_List" />
    from FM_INVOICE_BASE a 
    left join fm_invoice_class b on a.INVOICE_CLASS_CODE=b.INVOICE_CLASS_CODE
    left join pm_base p on p.pro_no=a.pro_no
    where a.sys_process_flag='1'
 	) t 
 	where 1=1
    <if test="proNo != null and proNo !=''">
 		and PRO_NO=#{proNo}
 	</if>
 	<if test="invoiceNo != null and invoiceNo !=''">
 		and INVOICE_NO=#{invoiceNo}
 	</if>
 	<if test="fromDate != null and fromDate !=''">
 		and INVOICE_DATE >=#{fromDate}
 	</if>
 	<if test="toDate != null and toDate !='' ">
 		and INVOICE_DATE &lt;=#{toDate}
 	</if>
 	order by INVOICE_DATE desc
 	
 </select>
 
 
 <select id="queryForList" parameterType="java.util.HashMap" resultType="map">
 	select * from(
 	select  DISTINCT
     a.rowid,a.PRO_NO pno,p.PRO_NO proNo,p.PRO_STATUS,a.PRO_NAME pname,p.PRO_NAME proName,a.INVOICE_DATE invoiceDate,a.INVOICE_CLASS_CODE,
     a.INVOICE_NO invoiceNo,a.CG_UNIT cgUnit,a.CONTRACT_NO contractNo,a.INVOICE_CONTENT invoiceContent,format(a.AMOUNT1,2) mount1,
     a.TAX_RATE taxRate,format(a.TAX_AMOUNT,2) taxAmount,format(a.AMOUNT2,2) mount2,a.REMARKS,b.INVOICE_CLASS_NAME  invoiceClassName
    from FM_INVOICE_BASE a 
    left join fm_invoice_class b on a.INVOICE_CLASS_CODE=b.INVOICE_CLASS_CODE
    left join pm_base p on p.pro_no=a.pro_no
    where a.sys_process_flag='1'
 	) t 
 	where 1=1
    <if test="proNo != null and proNo !=''">
 		and proNo=#{proNo}
 	</if>
 	<if test="proStatus != null and proStatus ==2">
 		and PRO_STATUS=#{proStatus}
 	</if>
 	<if test="proStatus != null and proStatus ==3">
 		and PRO_STATUS=#{proStatus}
 	</if>
 	<if test="proStatus != null and proStatus ==4">
 		and proNo is null
 	</if>
 	<if test="invoiceNo != null and invoiceNo !=''">
 		and invoiceNo like   "%"#{invoiceNo}"%"
 	</if>
 	<if test="fromDate != null and fromDate != ''">
	  	and invoiceDate &gt;= #{fromDate}
	</if>
	<if test="toDate != null and toDate != ''">
	  	and invoiceDate &lt;= #{toDate}
	</if>
 	order by invoiceDate desc
 </select>
 
  
  <select id="findById" resultMap="BaseResultMap" parameterType="com.glens.pwCloudOs.fm.invoicebase.vo.InvoiceBaseVo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from FM_INVOICE_BASE a
   left join fm_invoice_class b on a.INVOICE_CLASS_CODE=b.INVOICE_CLASS_CODE
   left join pm_base p on p.pro_no=a.pro_no
    where a.rowid = #{rowid}
  </select>
  <delete id="delete" parameterType="com.glens.pwCloudOs.fm.invoicebase.vo.InvoiceBaseVo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from FM_INVOICE_BASE
    where rowid = #{rowid}
  </delete>
  
  
  <insert id="insert" parameterType="com.glens.pwCloudOs.fm.invoicebase.vo.InvoiceBaseVo" >
	insert into FM_INVOICE_BASE(PRO_NO,PRO_NAME,INVOICE_DATE,
	INVOICE_CLASS_CODE,INVOICE_NO,CG_UNIT,CONTRACT_NO,INVOICE_CONTENT,
	AMOUNT1,TAX_RATE,TAX_AMOUNT,AMOUNT2,REMARKS,SYS_CREATE_TIME,SYS_PROCESS_FLAG) 
	values(#{proNo},#{proName},#{invoiceDate},#{invoiceClassCode},#{invoiceNo},#{cgUnit},#{contractNo},
	#{invoiceContent},#{mount1},#{taxRate},#{taxAmount},#{mount2},#{remarks},now(),1)
  </insert>
  
  
  <update id="update" parameterType="com.glens.pwCloudOs.fm.invoicebase.vo.InvoiceBaseVo" >
   
   update FM_INVOICE_BASE set 
 
 	<if test="proNo != null">
 		PRO_NO=#{proNo},
 	</if>
	<if test="proName != null">
 		PRO_NAME=#{proName},
 	</if>
 	<if test="invoiceDate != null">
 		INVOICE_DATE=#{invoiceDate},
 	</if>
	<if test="invoiceClassCode != null">
 		INVOICE_CLASS_CODE=#{invoiceClassCode},
 	</if>
 	<if test="invoiceNo != null">
 		INVOICE_NO=#{invoiceNo},
 	</if>
	<if test="cgUnit != null">
 		CG_UNIT=#{cgUnit},
 	</if>
	
	<if test="contractNo != null">
 		CONTRACT_NO=#{contractNo},
 	</if>
	<if test="invoiceContent != null">
 		INVOICE_CONTENT=#{invoiceContent},
 	</if>
	<if test="mount1 != null">
 		AMOUNT1=#{mount1},
 	</if>
	<if test="taxRate != null">
 		TAX_RATE=#{taxRate},
 	</if>
	<if test="taxAmount != null">
 		TAX_AMOUNT=#{taxAmount},
 	</if>
	<if test="mount2 != null">
 		AMOUNT2=#{mount2},
 	</if>
	
	<if test="remarks != null">
 		REMARKS=#{remarks},
 	</if>
 	SYS_UPDATE_TIME=NOW()
	where rowid=#{rowid}

  </update>
  
  <select id="getInvoiceType" resultType="map">
  	select INVOICE_CLASS_CODE classcode,INVOICE_CLASS_NAME classname,TAX_RATE rate from fm_invoice_class order by INVOICE_CLASS_NAME,TAX_RATE
  </select>
  
  <select id="getinvoiceList" resultType="map" parameterType="com.glens.pwCloudOs.fm.invoicebase.vo.InvoiceBaseVo">
  	
  	select INVOICE_NO invoiceNos,rowid from FM_INVOICE_BASE where sys_process_flag='1'
  	
    <if test="proNo != null and proNo !=''">
 		and PRO_NO=#{proNo}
 	</if>
  	
  </select>
  
  
  
  
  <select id="getinvoiceRepayList" resultType="map">
	SELECT
		b.INVOICE_NOS
	FROM
		fm_rpayment_base b
	WHERE
		b.SYS_PROCESS_FLAG = '1'
	AND b.IS_ACCEPT = '1'
  </select>
  
  
  <select id="getInvoiceClassName" parameterType="string" resultType="string">
	SELECT
		concat(
			b.INVOICE_CLASS_NAME,
			'(',
			b.TAX_RATE,
			')%'
		) NAME
	FROM
		fm_invoice_class b
	WHERE
		b.INVOICE_CLASS_CODE = #{appType}
  </select>
  
    <select id="getInvoiceTaxRate" parameterType="string" resultType="map">
	SELECT
			b.INVOICE_CLASS_CODE,
			b.INVOICE_CLASS_NAME,
			b.TAX_RATE
	FROM
		fm_invoice_class b
	WHERE
		b.INVOICE_CLASS_CODE = #{appType}
  </select>
  
</mapper>