<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glens.pwCloudOs.notice.dao.SmNoticeReadHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.glens.pwCloudOs.notice.vo.SmNoticeReadHistory" >
  
    <id column="rowid" property="rowid" jdbcType="BIGINT" />
    <result column="NOTICE_ID" property="noticeId" jdbcType="BIGINT" />
    <result column="COMPANYCODE" property="companycode" jdbcType="VARCHAR" />
    <result column="UNITCODE" property="unitcode" jdbcType="VARCHAR" />
    <result column="ACCOUNTCODE" property="accountcode" jdbcType="VARCHAR" />
    <result column="EMPLOYEECODE" property="employeecode" jdbcType="VARCHAR" />
    <result column="EMPLOYEENAME" property="employeename" jdbcType="VARCHAR" />
    <result column="READ_TIME" property="readTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    
    rowid, NOTICE_ID, COMPANYCODE, UNITCODE, ACCOUNTCODE, EMPLOYEECODE, EMPLOYEENAME, 
    READ_TIME
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    
    select 
    <include refid="Base_Column_List" />
    from sm_notice_read_history
    where rowid = #{rowid,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
   
    delete from sm_notice_read_history
    where rowid = #{rowid,jdbcType=BIGINT}
  </delete>
  
  <select id="queryList" parameterType="map" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
    from sm_notice_read_history
    where NOTICE_ID=#{noticeId}
    and ACCOUNTCODE=#{accountCode}
  </select>
  
  
  <insert id="insert" parameterType="com.glens.pwCloudOs.notice.vo.SmNoticeReadHistory" >
   
    insert into sm_notice_read_history (rowid, NOTICE_ID, COMPANYCODE, 
      UNITCODE, ACCOUNTCODE, EMPLOYEECODE, 
      EMPLOYEENAME, READ_TIME)
    values (#{rowid,jdbcType=BIGINT}, #{noticeId,jdbcType=BIGINT}, #{companycode,jdbcType=VARCHAR}, 
      #{unitcode,jdbcType=VARCHAR}, #{accountcode,jdbcType=VARCHAR}, #{employeecode,jdbcType=VARCHAR}, 
      #{employeename,jdbcType=VARCHAR}, #{readTime,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.glens.pwCloudOs.notice.vo.SmNoticeReadHistory" >
    
    insert into sm_notice_read_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rowid != null" >
        rowid,
      </if>
      <if test="noticeId != null" >
        NOTICE_ID,
      </if>
      <if test="companycode != null" >
        COMPANYCODE,
      </if>
      <if test="unitcode != null" >
        UNITCODE,
      </if>
      <if test="accountcode != null" >
        ACCOUNTCODE,
      </if>
      <if test="employeecode != null" >
        EMPLOYEECODE,
      </if>
      <if test="employeename != null" >
        EMPLOYEENAME,
      </if>
      <if test="readTime != null" >
        READ_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rowid != null" >
        #{rowid,jdbcType=BIGINT},
      </if>
      <if test="noticeId != null" >
        #{noticeId,jdbcType=BIGINT},
      </if>
      <if test="companycode != null" >
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="unitcode != null" >
        #{unitcode,jdbcType=VARCHAR},
      </if>
      <if test="accountcode != null" >
        #{accountcode,jdbcType=VARCHAR},
      </if>
      <if test="employeecode != null" >
        #{employeecode,jdbcType=VARCHAR},
      </if>
      <if test="employeename != null" >
        #{employeename,jdbcType=VARCHAR},
      </if>
      <if test="readTime != null" >
        #{readTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.glens.pwCloudOs.notice.vo.SmNoticeReadHistory" >
    
    update sm_notice_read_history
    <set >
      <if test="noticeId != null" >
        NOTICE_ID = #{noticeId,jdbcType=BIGINT},
      </if>
      <if test="companycode != null" >
        COMPANYCODE = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="unitcode != null" >
        UNITCODE = #{unitcode,jdbcType=VARCHAR},
      </if>
      <if test="accountcode != null" >
        ACCOUNTCODE = #{accountcode,jdbcType=VARCHAR},
      </if>
      <if test="employeecode != null" >
        EMPLOYEECODE = #{employeecode,jdbcType=VARCHAR},
      </if>
      <if test="employeename != null" >
        EMPLOYEENAME = #{employeename,jdbcType=VARCHAR},
      </if>
      <if test="readTime != null" >
        READ_TIME = #{readTime,jdbcType=VARCHAR},
      </if>
    </set>
    where rowid = #{rowid,jdbcType=BIGINT}
  </update>
  
  
  <update id="updateByPrimaryKey" parameterType="com.glens.pwCloudOs.notice.vo.SmNoticeReadHistory" >
    
    update sm_notice_read_history
    set NOTICE_ID = #{noticeId,jdbcType=BIGINT},
      COMPANYCODE = #{companycode,jdbcType=VARCHAR},
      UNITCODE = #{unitcode,jdbcType=VARCHAR},
      ACCOUNTCODE = #{accountcode,jdbcType=VARCHAR},
      EMPLOYEECODE = #{employeecode,jdbcType=VARCHAR},
      EMPLOYEENAME = #{employeename,jdbcType=VARCHAR},
      READ_TIME = #{readTime,jdbcType=VARCHAR}
    where rowid = #{rowid,jdbcType=BIGINT}
  </update>
</mapper>